<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminLayout" th:with="gnb='betting', lnb='godBalance'">
<head></head>
<body sec:authorize="hasRole('ROLE_GOD')">
<h2 layout:fragment="title">
    <small>베팅 :</small>
    갓보험
</h2>
<div layout:fragment="content">
    <form id="frm-search" th:object="${command}" th:action="@{|${siteConfig.pathAdmin}/betting/godBalance|}" method="get">
        <input type="hidden" name="page" id="page" th:value="${page.number + 1}"/>
    </form>
    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-list"></i>
                보험 내역
                <span class="total">( 검색된 베팅내역 : <span th:text="${tag.num(page.totalElements)}">100</span> 건 )</span>
                <label><a class="btn btn02" onclick="godBalanceSetting();">갓벨 회원 세팅</a></label>
            </h3>

            <table>
                <tr>
                    <td>
                        <button th:class="${sysConfig.zone.godPowerBalance ? 'btn btn01' : 'btn btn02'}" onclick="balanceOnOff('POWER','star');">스타 파워</button>
                        <button th:class="${sysConfig.zone.godPowerLadderBalance ? 'btn btn01' : 'btn btn02'}" onclick="balanceOnOff('POWER_LADDER','star');">스타 파다리</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text" id="godPowerBalanceRate" th:value="${sysConfig.zone.godPowerBalanceRate}" maxlength="3" style="width: 50px;">
                        &nbsp;&nbsp;
                        <input type="text" id="godPowerLadderBalanceRate" th:value="${sysConfig.zone.godPowerLadderBalanceRate}" maxlength="3" style="width: 50px;">
                        &nbsp;&nbsp;
                        <button class="btn btn05" onclick="balanceRate('star');">스타저장</button>
                    </td>
                    <td>
                        <button th:class="${sysConfig.zone.godPowerBalanceHp ? 'btn btn01' : 'btn btn02'}" class="btn btn01" onclick="balanceOnOff('POWER','hp');">홈플 파워</button>
                        <button th:class="${sysConfig.zone.godPowerLadderBalanceHp ? 'btn btn01' : 'btn btn02'}" class="btn btn01" onclick="balanceOnOff('POWER_LADDER','hp');">홈플 파다리</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text" id="godPowerBalanceHpRate" th:value="${sysConfig.zone.godPowerBalanceHpRate}" maxlength="3" style="width: 50px;">
                        &nbsp;&nbsp;
                        <input type="text" id="godPowerLadderBalanceHpRate" th:value="${sysConfig.zone.godPowerLadderBalanceHpRate}" maxlength="3" style="width: 50px;">
                        &nbsp;&nbsp;
                        <button class="btn btn06" onclick="balanceRate('hp');">홈플저장</button>
                    </td>
                </tr>
            </table>
        </div>
        <table class="table-list">
            <caption>종목 설정</caption>
            <thead>
            <tr>
                <th>No.</th>
                <th>게임</th>
                <th>날짜</th>
                <th>회차</th>
                <th>타입</th>
                <th>베팅</th>
                <th>금액</th>
                <th>결과</th>
                <th>베팅시간</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="b,num : ${page.content}" th:with="total=${page.totalElements - page.number * page.size + 1}, gameRound=${#strings.substring(b.round, #strings.length(b.round)-2, #strings.length(b.round))}">
                <td th:style="${lastRound eq b.round ? 'background-color:#000000' : ''}" th:text="${total - num.count}">1</td>
                <td th:style="${lastRound eq b.round ? 'background-color:#000000' : ''}" class="color03" th:text="${b.game}">게임</td>
                <td th:style="${lastRound eq b.round ? 'background-color:#000000' : ''}" class="color02" th:text="${b.gameDate}">날짜</td>
                <td th:style="${lastRound eq b.round ? 'background-color:#000000' : ''}" th:text="${b.round}">회차</td>
                <td th:style="${lastRound eq b.round ? 'background-color:#000000' : ''}" th:text="${b.gameType}">타입</td>
                <td th:style="${lastRound eq b.round ? 'background-color:#000000' : ''}" th:text="${b.betType}">베팅</td>
                <td th:style="${lastRound eq b.round ? 'background-color:#000000' : ''}" class="color01 num" th:text="${tag.num(b.realPrice)}"></td>
                <td th:style="${lastRound eq b.round ? 'background-color:#000000' : ''}" th:text="${b.message}"></td>
                <td th:style="${lastRound eq b.round ? 'background-color:#000000' : ''}" th:utext="${tag.dayWeekTimes(b.regDate)}">날짜</td>
            </tr>
            </tbody>
        </table>
        <div class="panel-footer">
            <div class="paging">
                <ul th:replace="fragments/admin :: paging(p=${page})"></ul>
            </div>
        </div>
    </section>
</div>
<script layout:fragment="script" th:if="true">
    function godBalanceSetting() {
        if (!confirm('갓 발란스 회원 세팅 고?')) {
            return false;
        }
        $.ajax({
            url: path + '/system/godBalanceSetting',
            method: 'POST'
        }).done(function (data) {
            alert("수정되었습니다.")
            location.reload();
        });
    }

    function balanceOnOff(menuCode, gb){
        $.ajax({
            url: path + '/betting/godPowerOnOff',
            method: 'POST',
            data: {
                menuCode : menuCode,
                gb : gb
            }
        }).done(function (data) {
            location.reload()
        });
    }

    function balanceRate(gb) {
        var rate1 = 0
        var rate2 = 0

       if (gb == 'star') {
           rate1 = $('#godPowerBalanceRate').val();
           rate2 = $('#godPowerLadderBalanceRate').val();
        } else if (gb == 'hp') {
           rate1 = $('#godPowerBalanceHpRate').val();
           rate2 = $('#godPowerLadderBalanceHpRate').val();
        }

        $.ajax({
            url: path + '/betting/godPowerRate',
            method: 'POST',
            data: {
                gb : gb,
                rate1 : rate1,
                rate2 : rate2
            }
        }).done(function (data) {
            alert('요율 수정')
            location.reload()
        });
    }
</script>
</body>
</html>