<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminLayout" th:with="gnb='betting', lnb='betting'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>베팅 :</small>
    베팅내역
</h2>
<div layout:fragment="content">
    <section>
        <div class="panel-search">
            <form id="frm-search" th:object="${command}" th:action="@{|${siteConfig.pathAdmin}/betting/list|}" method="get">
                <label>
                    <input type="text" class="cal" th:field="*{betDate}" placeholder="베팅일자"/>
                    <a href="#" id="sp-reset-date" class="btn btn-cal">지움</a>
                    <select th:field="*{role}">
                        <option value="">모든회원베팅</option>
                        <option value="USER">실제회원베팅</option>
                        <option value="DUMMY">작업용회원베팅</option>
                    </select>
                    <select th:field="*{menuCode}">
                        <option value="">게임종류 선택</option>
                        <option value="SPORTS">스포츠</option>
                        <option value="SPECIAL">스페셜</option>
                        <option value="INGAME">인게임</option>
                        <option value="ESPORTS">E스포츠</option>
                        <th:block th:each="z : ${zone}">
                            <option th:value="${z}" th:text="${z.name}"></option>
                        </th:block>
                    </select>
                    <select th:field="*{result}">
                        <option value="">전체베팅</option>
                        <option value="ing">적중예상</option>
                        <option value="ready">대기</option>
                        <option value="closing">종료</option>
                        <option value="hit">적중</option>
                        <option value="noHit">미적중</option>
                        <option value="cancel">취소</option>
                    </select>
                    <input type="text" th:field="*{ip}" placeholder="아이피"/>
                    <input type="text" th:field="*{username}" placeholder="아이디/닉네임"/>
                    (일치 <input type="checkbox" th:field="*{match}" />)
                </label>
                <label>
                    정렬 :
                    <select th:field="*{orderBy}">
                        <option value="">최근 베팅순</option>
                        <option value="betMoney.desc">베팅금액 높은순</option>
                        <option value="betMoney.asc">베팅금액 낮은순</option>
                        <option value="expMoney.desc">예상금액 높은순</option>
                        <option value="expMoney.asc">예상금액 낮은순</option>
                        <option value="hitMoney.desc">적중금액 높은순</option>
                        <option value="hitMoney.asc">적중금액 낮은순</option>
                    </select>
                </label>

                <input type="hidden" name="page" id="page" th:value="${page.number + 1}"/>
                <div class="command">
                    <a class="btn btn01" onclick="goSearch();">검색</a>
                    <a th:href="@{|${siteConfig.pathAdmin}/betting/list|}" class="btn">취소</a>
                </div>
            </form>
        </div>
    </section>
    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-list"></i>
                베팅내역
                <span class="total">( 검색된 베팅내역 : <span th:text="${tag.num(page.totalElements)}">100</span> 건 )</span>
                <a class="btn btn03" onclick="toggleAll();" style="width: 180px;"><i class="fa fa-toggle-on" aria-hidden="true"></i> 전체 베팅내역 열고/닫기</a>
            </h3>
        </div>
        <table class="table-list">
            <caption>종목 설정</caption>
            <colgroup>
                <col style="width: 60px;">
                <col>
                <col>
                <col>
                <col style="width: 24px;">
                <col style="width: 24px;">
                <col style="width: 24px;">
                <col style="width: 24px;">
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col style="width: 80px;">
                <col style="width: 26px;">
                <col style="width: 26px;">
                <col style="width: 100px;">
            </colgroup>
            <thead>
            <tr>
                <th>번호</th>
                <th>아이디</th>
                <th>닉네임</th>
                <th>등급</th>
                <th colspan="4">회원정보</th>
                <th>베팅시간</th>
                <th>IP</th>
                <th>배당</th>
                <th>베팅금액</th>
                <th>예상금액</th>
                <th>게임</th>
                <th>베팅상세</th>
                <th>폴더</th>
                <th>적중금액</th>
                <th>결과</th>
                <th>-</th>
                <th>-</th>
                <th>내역</th>
            </tr>
            </thead>
            <tbody class="bet" th:each="b,num : ${page.content}" th:with="total=${page.totalElements - page.number * page.size + 1}">
            <tr class="betting">
                <td th:text="${total - num.count}">1</td>
                <td th:onclick="|popup.member.info('${b.userid}');|" class="color03 popup" th:text="${b.userid}">아이디</td>
                <td th:onclick="|popup.member.info('${b.userid}');|" class="color02 popup" th:text="${b.nickname}">닉네임</td>
                <td th:text="${b.level}">레벨</td>
                <td class="popup color04" th:onclick="|popup.payment.money('${b.userid}');|"><i class="bul fa fa fa-usd"></i></td>
                <td class="popup color04" th:onclick="|popup.payment.point('${b.userid}');|"><i class="bul fa fa-product-hunt"></i></td>
                <td class="popup color04" th:onclick="|popup.betting.list('${b.userid}');|"><i class="bul fa fa-shopping-cart"></i></td>
                <td class="popup color04" th:onclick="|popup.customer.memo('${b.userid}');|"><i class="bul fa fa-envelope-o"></i></td>
                <td th:utext="${tag.betDate(b.betDate)}">베팅시간</td>
                <td th:onclick="|findIp('${b.ip}');|" class="cmd color02" th:text="${b.ip}">127.0.0.1</td>
                <td class="num color04" th:text="${tag.odds(b.betOdds)}">배당</td>
                <td class="num color03" th:text="${tag.num(b.betMoney)}">베팅금액</td>
                <td class="num color02" th:text="${tag.num(b.expMoney)}">예상금액</td>
                <td th:text="${b.menuCode.name}">코드</td>
                <td class="color02 search" th:onclick="|toggleItem('${b.id}');|">
                    <ul class="item">
                        <li th:each="item : ${b.betItems}">
                            <span class="color02" th:if="${item.result eq '대기'}"><i class="fa fa-hourglass-start"></i></span>
                            <span class="color04" th:if="${item.result eq '적중'}"><i class="fa fa-thumbs-o-up"></i></span>
                            <span class="color03" th:if="${item.result eq '미적중'}"><i class="fa fa-thumbs-o-down"></i></span>
                            <span class="color01" th:if="${item.result eq '적특'}"><i class="fa fa-plus"></i></span>
                            <span class="color01" th:if="${item.result eq '취소' or item.result eq '베팅취소' or item.result eq '경기취소'}"><i class="fa fa-times"></i></span>
                        </li>
                    </ul>
                </td>
                <td th:text="${b.betCount}">폴더</td>
                <td class="num color01" th:text="${tag.num(b.hitMoney)}">적중금액</td>
                <td th:class="${b.resultStringCss}" th:text="${b.resultString}">결과</td>
                <td th:class="${b.black} ? 'color03 cmd'" th:onclick="${b.black} ? |removeBlack(${b.id});|">
                    <i th:class="${b.black} ? 'fa fa-volume-up' : 'fa fa-volume-up'"></i>
                </td>
                <td th:class="${b.balance} ? 'color02'" th:text="${b.balance} ? 'O' : 'X'"></td>
                <td th:onclick="|betting.cancel.bet(${b.id});|"><a class="btn btn04">전체취소</a></td>
                <td th:if="${b.start || b.cancel}">-</td>
            </tr>
            <tr th:id="${b.id}" class="betItem" style="display: none;">
                <td colspan="21" style="border:none; padding:0;">
                    <table class="table-bet" style="margin:-1px 0;" th:if="${b.menuCode.name() eq 'ROULETTE'}">
                        <caption>베팅 경기</caption>
                        <colgroup>
                            <col style="width: 160px;">
                            <col style="width: 120px;">
                            <col style="width: 80px;">
                            <col style="width: 36px;">
                            <col style="width: 330px">
                            <col style="width: 54px;">
                            <col style="width: 80px;">
                            <col style="width: 54px;">
                            <col>
                            <col style="width: 36px;">
                            <col style="width: 80px;">
                            <col style="width: 100px;">
                        </colgroup>
                        <tbody>
                        <tr th:each="item : ${b.betItems}">
                            <td class="info">
                                <img th:src="@{${tag.sportsFlag(item)}}" />
                                <span th:utext="${tag.dayWeekTime(item.gameDate)}">06/21(금)</span>
                            </td>
                            <td style="padding-left: 10px;padding-right: 10px;" class="memo">
                                <div style="width: 98px;" class="ellipsis">
                                    <img th:src="@{${tag.leagueFlag(item)}}" style="padding-right: 10px;" />
                                    <em th:text="${item.league}">리그명</em>
                                </div>
                                <span class="league" th:text="${item.league}"></span>
                            </td>
                            <td th:text="${item.gameCode.name}">승무패</td>
                            <td class="over" th:text="${item.gameCode.name() eq 'OVER_UNDER' ? 'O' : 'H'}">H</td>
                            <td th:class="${'home' + (item.betTeam eq 'home' ? ' on' : '') + (item.gameResult.name() eq 'HOME' or item.gameResult.name() eq 'OVER' ? ' hit' : '')}">
                                <span th:remove="tag" th:text="${item.teamHome}">홈팀</span>
                                <span th:if="${!item.special.empty and item.menuCode.name() eq 'SPECIAL'}" class="color02" th:text="'[' + ${item.special} + ']'">스페셜</span>
                                <span class="odds" th:text="${tag.odds(item.oddsHome)}">0.01</span>
                            </td>
                            <td class="score" th:text="${item.scoreHome eq null ? '-' : item.scoreHome}">0</td>
                            <td th:if="${item.gameCode.name() eq 'MATCH' or item.gameCode.name() eq 'ZONE'}"
                                th:class="${'draw' + (item.betTeam eq 'draw' ? ' on' : '') + (item.gameResult.name() eq 'DRAW' or item.gameResult.name() eq 'HIT' or item.gameResult.name() eq 'DRAW_HIT' ? ' hit' : '') + (item.oddsDraw gt 0 ? ' odds' : '')}"
                                th:text="${tag.odds(item.oddsDraw, item.handicap)}">
                                무
                            </td>
                            <td th:if="${item.gameCode.name() eq 'HANDICAP' or item.gameCode.name() eq 'OVER_UNDER'}" th:class="${item.gameResult.name() eq 'DRAW' or item.gameResult.name() eq 'HIT' or item.gameResult.name() eq 'DRAW_HIT' ? 'draw hit' : 'draw'}" th:text="${#numbers.formatDecimal(item.handicap, 1, 1)}">무</td>
                            <td class="score" th:text="${item.scoreAway eq null ? '-' : item.scoreAway}">0</td>
                            <td th:class="${'away' + (item.betTeam eq 'away' ? ' on' : '') + (item.gameResult.name() eq 'AWAY' or item.gameResult.name() eq 'UNDER' ? ' hit' : '')}">
                                <span th:if="${!item.special.empty and item.menuCode.name() eq 'SPECIAL'}" class="color02" th:text="'[' + ${item.special} + ']'">스페셜</span>
                                <span th:remove="tag" th:text="${item.teamAway}">홈팀</span>
                                <!--<span class="odds" th:text="${tag.odds(item.oddsAway)}">0.01</span>-->
                                <span>선택한 숫자</span>
                                <span th:remove="tag" th:text="${item.betTeam}">원정팀</span>
                            </td>
                            <td class="under" th:text="${item.gameCode.name() eq 'OVER_UNDER' ? 'U' : 'A'}">H</td>
                            <td th:class="${'result ' + item.resultStringCss}" th:text="${item.resultString}"></td>
                            <td th:if="${!item.start && !item.cancel}"><a class="btn btn02" th:onclick="|betting.cancel.item(${b.id}, ${item.id});|">취소</a></td>
                            <td th:if="${item.start || item.cancel}">-</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table-bet" style="margin:-1px 0;" th:if="${b.menuCode.name() ne 'INGAME' and b.menuCode.name() != 'ROULETTE'}">
                        <caption>베팅 경기</caption>
                        <colgroup>
                            <col style="width: 160px;">
                            <col style="width: 120px;">
                            <col style="width: 80px;">
                            <col style="width: 36px;">
                            <col style="width: 330px">
                            <col style="width: 54px;">
                            <col style="width: 80px;">
                            <col style="width: 54px;">
                            <col>
                            <col style="width: 36px;">
                            <col style="width: 80px;">
                            <col style="width: 100px;">
                        </colgroup>
                        <tbody>
                        <tr th:each="item : ${b.betItems}">
                            <td class="info">
                                <img th:src="@{${tag.sportsFlag(item)}}" />
                                <span th:utext="${tag.dayWeekTime(item.gameDate)}">06/21(금)</span>
                            </td>
                            <td style="padding-left: 10px;padding-right: 10px;" class="memo">
                                <div style="width: 98px;" class="ellipsis">
                                    <img th:src="@{${tag.leagueFlag(item)}}" style="padding-right: 10px;" />
                                    <em th:text="${item.league}">리그명</em>
                                </div>
                                <span class="league" th:text="${item.league}"></span>
                            </td>
                            <td th:text="${item.gameCode.name}">승무패</td>
                            <td class="over" th:text="${item.gameCode.name() eq 'OVER_UNDER' ? 'O' : 'H'}">H</td>
                            <td th:class="${'home' + (item.betTeam eq 'home' ? ' on' : '') + (item.gameResult.name() eq 'HOME' or item.gameResult.name() eq 'OVER' ? ' hit' : '')}">
                                <span th:remove="tag" th:text="${item.teamHome}">홈팀</span>
                                <span th:if="${!item.special.empty and item.menuCode.name() eq 'SPECIAL'}" class="color02" th:text="'[' + ${item.special} + ']'">스페셜</span>
                                <span th:if="${item.special eq '오버언더'}" style="color: #ff7227;">[오버]</span>
                                <span class="odds" th:text="${tag.odds(item.oddsHome)}">0.01</span>
                            </td>
                            <td class="score" th:text="${item.scoreHome eq null ? '-' : item.scoreHome}">0</td>
                            <td th:if="${item.gameCode.name() eq 'MATCH' or item.gameCode.name() eq 'ZONE'}"
                                th:class="${'draw' + (item.betTeam eq 'draw' ? ' on' : '') + (item.gameResult.name() eq 'DRAW' or item.gameResult.name() eq 'HIT' or item.gameResult.name() eq 'DRAW_HIT' ? ' hit' : '') + (item.oddsDraw gt 0 ? ' odds' : '')}"
                                th:text="${tag.odds(item.oddsDraw, item.handicap)}">
                                무
                            </td>
                            <td th:if="${item.gameCode.name() eq 'HANDICAP' or item.gameCode.name() eq 'OVER_UNDER'}" th:class="${item.gameResult.name() eq 'DRAW' or item.gameResult.name() eq 'HIT' or item.gameResult.name() eq 'DRAW_HIT' ? 'draw hit' : 'draw'}" th:text="${#numbers.formatDecimal(item.handicap, 1, 1)}">무</td>
                            <td class="score" th:text="${item.scoreAway eq null ? '-' : item.scoreAway}">0</td>
                            <td th:class="${'away' + (item.betTeam eq 'away' ? ' on' : '') + (item.gameResult.name() eq 'AWAY' or item.gameResult.name() eq 'UNDER' ? ' hit' : '')}">
                                <span th:if="${!item.special.empty and item.menuCode.name() eq 'SPECIAL'}" class="color02" th:text="'[' + ${item.special} + ']'">스페셜</span>
                                <span th:if="${item.special eq '오버언더'}" style="color: #ff7227;">[언더]</span>
                                <span th:remove="tag" th:text="${item.teamAway}">홈팀</span>
                                <span class="odds" th:text="${tag.odds(item.oddsAway)}">0.01</span>
                            </td>
                            <td class="under" th:text="${item.gameCode.name() eq 'OVER_UNDER' ? 'U' : 'A'}">H</td>
                            <td th:class="${'result ' + item.resultStringCss}" th:text="${item.resultString}"></td>
                            <td th:if="${!item.start && !item.cancel}"><a class="btn btn02" th:onclick="|betting.cancel.item(${b.id}, ${item.id});|">취소</a></td>
                            <td th:if="${item.start || item.cancel}">-</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table-bet" style="margin:-1px 0;" th:if="${b.menuCode.name() eq 'INGAME'}">
                        <caption>베팅 경기</caption>
                        <colgroup>
                            <col style="width: 160px;">
                            <col style="width: 150px;">
                            <col style="width: 80px;">
                            <col style="width: 400px;">
                            <col style="width: 200px;">
                            <col>
                            <col style="width: 200px;">
                            <col style="width: 80px;">
                            <col style="width: 100px;">
                        </colgroup>
                        <tbody>
                        <tr th:each="item : ${b.betItems}">
                            <td class="info">
                                <img th:src="@{${tag.sportsFlag(item)}}" />
                                <span th:utext="${tag.dayWeekTime(item.gameDate)}">06/21(금)</span>
                            </td>
                            <td th:text="${item.league}"></td>
                            <td th:text="${item.gameCode.name}"></td>
                            <td th:class="${'home' + (item.betTeam eq 'home' ? ' on' : '') + (item.gameResult.name() eq 'HOME' or item.gameResult.name() eq 'OVER' ? ' hit' : '')}">
                                <span th:text="${tag.inGameBetInfo(item.special) + ' ('+b.betScore+')'}">게임타입</span>
                                <span class="odds" th:text="${tag.odds(item.oddsHome)}">0.01</span>
                            </td>
                            <td class="color04" th:text="${item.teamHome}"></td>
                            <td> VS </td>
                            <td class="color04" th:text="${item.teamAway}"></td>
                            <td th:class="${'result ' + item.resultStringCss}" th:text="${item.resultString}"></td>
                            <td th:if="${!item.start && !item.cancel}"><a class="btn btn02" th:onclick="|betting.cancel.item(${b.id}, ${item.id});|">취소</a></td>
                            <td th:if="${item.start || item.cancel}">-</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="panel-footer">
            <div class="paging">
                <ul th:replace="fragments/admin :: paging(p=${page})"></ul>
            </div>
        </div>
    </section>
</div>
<script layout:fragment="script" th:if="true">
    var toggle = false;
    function toggleAll() {
        if (toggle) {
            $('.betItem').hide();
            $('.bet').removeClass('on');
            toggle = false;
        } else {
            $('.betItem').show();
            $('.bet').addClass('on');
            toggle = true;
        }
    }

    function toggleItem(id) {
        var obj = $('#' + id);
        obj.toggle();
        if (obj.is(':visible')) {
            obj.parent().addClass('on');
        } else {
            obj.parent().removeClass('on');
        }
    }

    function removeBlack(id) {
        $.post(path + '/betting/black', {
            betId: id
        }).done(function (data) {
            if (data.success) {
                location.reload();
            }
        })
    }

    function findIp(ip) {
        $('#ip').val(ip);
        $('#frm-search').submit();
    }
</script>
</body>
</html>