<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminLayout" th:with="gnb='betting', lnb='powerResultList'">
<head></head>
<body sec:authorize="hasRole('ROLE_GOD')">

<h2 layout:fragment="title">
    <small>베팅 :</small>
    파워볼 정
</h2>
<div layout:fragment="content">
    <style>
        .balTd td {
            background-color: #1d2b38;
        }
    </style>
    <section>
        <div class="panel-search">
            <!--<label>
                지난 리셋 : <span class="color01" th:text="${tag.titleDate(bal.date3)}"></span>
            </label>-->
            <label>
                지난 리셋 : <span class="color01" th:text="${tag.titleDate(bal.date2)}"></span>
            </label>
            <label>
                최근 리셋 : <span class="color01" th:text="${tag.titleDate(bal.date1)}"></span>
            </label>
        </div>
    </section>
    <section>
        <table class="table-list">
            <caption>종목 설정</caption>
            <thead>
            <tr>
                <th width="50px">-</th>
                <th width="10%">아이디</th>
                <th width="50px">베팅</th>
                <th>베팅</th>
                <!--<th width="15%">수익</th>-->
                <th width="15%">수익</th>
                <th width="15%">최근 수익</th>
                <th width="50px">전환</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="m : ${list}" th:if="${m.result1 != 0 or m.result2 != 0 or m.result3 != 0 }">
                <td class="cursor" th:onclick="|balanceRemove('${m.userid}','POWER');|"><i class="bul fa fa-times"></i></td>
                <td class="popup" th:text="${m.nickname}" th:onclick="|popup.member.info('${m.userid}');|"></td>
                <td class="popup num color02" th:onclick="|popup.betting.list('${m.userid}');|"><i class="bul fa fa-shopping-cart"></i></td>
                <td>
                    <table>
                        <tr>
                            <td th:class="${m.b20 eq '적중'? 'bgColor04': m.b20 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b19 eq '적중'? 'bgColor04': m.b19 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b18 eq '적중'? 'bgColor04': m.b18 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b17 eq '적중'? 'bgColor04': m.b17 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b16 eq '적중'? 'bgColor04': m.b16 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b15 eq '적중'? 'bgColor04': m.b15 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b14 eq '적중'? 'bgColor04': m.b14 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b13 eq '적중'? 'bgColor04': m.b13 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b12 eq '적중'? 'bgColor04': m.b12 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b11 eq '적중'? 'bgColor04': m.b11 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b10 eq '적중'? 'bgColor04': m.b10 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b9 eq '적중'? 'bgColor04': m.b9 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b8 eq '적중'? 'bgColor04': m.b8 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b7 eq '적중'? 'bgColor04': m.b7 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b6 eq '적중'? 'bgColor04': m.b6 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b5 eq '적중'? 'bgColor04': m.b5 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b4 eq '적중'? 'bgColor04': m.b4 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b3 eq '적중'? 'bgColor04': m.b3 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b2 eq '적중'? 'bgColor04': m.b2 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b1 eq '적중'? 'bgColor04': m.b1 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td width="90px">
                                <span class="color02" th:text="${(m.hitTotCnt * 100) / (m.hitTotCnt + m.nohitTotCnt) + '%'}"></span>
                            </td>
                        </tr>
                    </table>
                </td>
                <!--<td th:class="${m.result3 >= 0 ? 'color01':'color03'}" th:text="${tag.num(m.result3)}"></td>-->
                <td th:class="${m.result2 >= 0 ? 'color01':'color03'}" th:text="${tag.num(m.result2)}"></td>
                <td th:class="${m.result1 >= 0 ? 'color01':'color03'}" th:text="${tag.num(m.result1)}"></td>
                <td class="color04 cursor" th:onclick="|balanceChange('${m.userid}','POWER');|"><i class="bul fa fa-refresh"></i></td>
            </tr>
            <tr th:each="m : ${list}" th:if="${m.result1 == 0 and m.result2 == 0 and m.result3 == 0 }">
                <td class="cursor" th:onclick="|balanceRemove('${m.userid}','POWER');|"><i class="bul fa fa-times"></i></td>
                <td th:text="${m.nickname}" th:onclick="|popup.member.info('${m.userid}');|"></td>
                <td class="popup num color02" th:onclick="|popup.betting.list('${m.userid}');|"><i class="bul fa fa-shopping-cart"></i></td>
                <td>
                    <table>
                        <tr>
                            <td th:class="${m.b20 eq '적중'? 'bgColor04': m.b20 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b19 eq '적중'? 'bgColor04': m.b19 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b18 eq '적중'? 'bgColor04': m.b18 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b17 eq '적중'? 'bgColor04': m.b17 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b16 eq '적중'? 'bgColor04': m.b16 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b15 eq '적중'? 'bgColor04': m.b15 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b14 eq '적중'? 'bgColor04': m.b14 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b13 eq '적중'? 'bgColor04': m.b13 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b12 eq '적중'? 'bgColor04': m.b12 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b11 eq '적중'? 'bgColor04': m.b11 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b10 eq '적중'? 'bgColor04': m.b10 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b9 eq '적중'? 'bgColor04': m.b9 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b8 eq '적중'? 'bgColor04': m.b8 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b7 eq '적중'? 'bgColor04': m.b7 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b6 eq '적중'? 'bgColor04': m.b6 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b5 eq '적중'? 'bgColor04': m.b5 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b4 eq '적중'? 'bgColor04': m.b4 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b3 eq '적중'? 'bgColor04': m.b3 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b2 eq '적중'? 'bgColor04': m.b2 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td th:class="${m.b1 eq '적중'? 'bgColor04': m.b1 eq '미적중' ? 'bgColor05' : ''}"></td>
                            <td width="90px">
                                <span class="color02" th:text="${(m.hitTotCnt * 100) / (m.hitTotCnt + m.nohitTotCnt) + '%'}"></span>
                            </td>
                        </tr>
                    </table>
                </td>
                <!--<td th:class="${m.result3 >= 0 ? 'color01':'color03'}" th:text="${tag.num(m.result3)}"></td>-->
                <td th:class="${m.result2 >= 0 ? 'color01':'color03'}" th:text="${tag.num(m.result2)}"></td>
                <td th:class="${m.result1 >= 0 ? 'color01':'color03'}" th:text="${tag.num(m.result1)}"></td>
                <td class="color04 cursor" th:onclick="|balanceChange('${m.userid}','POWER');|"><i class="bul fa fa-refresh"></i></td>
            </tr>
            </tbody>
        </table>
    </section>
</div>
<script layout:fragment="script" th:if="true">
    function balanceRemove(id, code){
        if(confirm('삭제 하시겠습니까?')) {
            $.ajax({
                url: path + '/betting/powerBalanceChk',
                method: 'post',
                data: {
                    userid: id,
                    menuCode: code
                }
            }).done(function (data) {
                if (data.success) {
                    setTimeout(function () {
                        location.reload();
                    }, 100);
                }
            });
        }
    }

    function balanceChange(id, code){
        if(confirm('정역 전환?')) {
            $.ajax({
                url: path + '/betting/powerBalanceChange',
                method: 'post',
                data: {
                    userid: id,
                    menuCode: code
                }
            }).done(function (data) {
                if (data.success) {
                    setTimeout(function () {
                        location.reload();
                    }, 100);
                }
            });
        }
    }
</script>
</body>
</html>