<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminLayout" th:with="gnb='zone', lnb='speedHomeRun', pnb='complete'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>실시간 :</small>
    스피드홈런 등록완료
</h2>
<div layout:fragment="content">
    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-bars" aria-hidden="true"></i>
                스피드홈런 등록완료
                <span th:class="${config.enabled} ? 'color02' : 'color03'" th:text="${config.enabled} ? '(게임 실행 중)' : '(게임 중지 중)'">게임실행중</span>
                <a class="btn btn03" onclick="closingAll();" style="width: 200px;"><i class="fa fa-download"></i> 베팅 없는 경기 결과처리</a>
            </h3>
        </div>

        <table class="table-list table-game table-zone">
            <caption>스피드홈런 등록완료</caption>
            <colgroup>
                <col style="width: 140px;">
                <col style="width: 140px;">
                <col style="width: 140px;">
                <col>
                <col style="width: 100px;">
                <col>
                <col style="width: 120px;">
            </colgroup>
            <tbody th:each="g,num: ${list}" th:class="${num.count > 1} ? 'box'" th:with="round = ${#numbers.formatInteger(g.round, 3, 'DEFAULT')} + '회차 스피드홈런 '">
            <tr>
                <td rowspan="7" th:utext="${tag.dayWeekTime(g.gameDate)}">27(월)</td>
                <td rowspan="7" th:class="${not g.beforeGameDate} ? 'color03' : 'color01'" th:text="${#numbers.formatInteger(g.round, 3, 'DEFAULT')} + ' 회차'"></td>
                <td class="color02">선수1 / 선수2</td>
                <td class="home">
                    <p>
                        <span th:text="${round} + '[선수1]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[0], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('speedHomeRun', ${g.sdate});|" th:class="${g.amount[0] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[0] gt 0 ? #numbers.formatInteger(g.amount[0], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="vs">VS</td>
                <td class="away">
                    <p>
                        <span th:text="${round} + '[선수2]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[1], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('speedHomeRun', ${g.sdate});|" th:class="${g.amount[1] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[1] gt 0 ? #numbers.formatInteger(g.amount[1], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td rowspan="7">
                    <a th:class="${g.beforeGameDate} ? 'btn btn03' : 'btn btn02'" th:onclick="'closingLadder(' + ${g.id} + ');'">결과</a>
                </td>
            </tr>
            <tr>
                <td class="color02">좌/우 선택</td>
                <td class="home">
                    <p>
                        <span th:text="${round} + '[좌측방향]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[6], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('speedHomeRun', ${g.sdate});|" th:class="${g.amount[6] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[6] gt 0 ? #numbers.formatInteger(g.amount[6], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="vs">VS</td>
                <td class="away">
                    <p>
                        <span th:text="${round} + '[우측방향]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[7], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('speedHomeRun', ${g.sdate});|" th:class="${g.amount[7] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[7] gt 0 ? #numbers.formatInteger(g.amount[7], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
            </tr>
            <tr>
                <td rowspan="5" class="color02">홈런/아웃</td>
                <td class="home">
                    <p>
                        <span th:text="${round} + '[홈런]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[4], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('speedHomeRun', ${g.sdate});|" th:class="${g.amount[4] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[4] gt 0 ? #numbers.formatInteger(g.amount[4], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td rowspan="5" class="vs"></td>
                <td class="away">
                    <p>
                        <span th:text="${round} + '[아웃]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[5], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('speedHomeRun', ${g.sdate});|" th:class="${g.amount[5] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[5] gt 0 ? #numbers.formatInteger(g.amount[5], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
            </tr>
            <tr th:if="${list.empty}">
                <td colspan="7" class="empty">
                    등록된 스피드홈런 경기가 없습니다.
                </td>
            </tr>
        </table>
        <div class="panel-footer">

        </div>

    </section>
</div>
<script layout:fragment="script" th:if="true">
    function closingLadder(id) {
        window.open(path + '/zone/speedHomeRun/score?id=' + id, 'popup-speedHomeRun', 'width=900, height=950');
    }

    function closingAll() {
        $.post(path + '/zone/speedHomeRun/closing').done(function (data) {
            if (data.success) {
                setTimeout(function () {
                    location.reload();
                }, 1000);
            }
        });
    }
</script>
</body>
</html>