<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminPopup">
<body class="popup">
<main layout:fragment="main">
    <form id="frm" method="post" th:object="${score}" onsubmit="return setScore();">
        <input type="hidden" th:field="*{id}"/>
        <section>
            <div class="panel-header">
                <h3><i class="bul fa fa-bars"></i> 스피드홈런 종료처리</h3>
            </div>

            <div class="panel-body line">
                <div style="margin: 0 auto; width: 800px; height: 500px; overflow: hidden;position: relative; background: #fff">
                    <iframe id="zoneBox" style="position: absolute; width: 1200px; height: 1300px;top: -211px;left: -195px;" scrolling="no" src="https://livescore.co.kr/sports/score_board/new_game/game.php?t=speedkeno_homerun&link"></iframe>
                </div>
            </div>

            <table class="table-read">
                <caption>종목 등록</caption>
                <colgroup>
                    <col style="width: 180px;">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th class="required">게임일시</th>
                    <td>
                        <span th:utext="${tag.dayWeekTime(score.gameDate)}"></span>
                        <span class="color01" th:text="${#numbers.formatInteger(score.round, 3, 'DEFAULT') + ' 회차'}"></span>
                        <span class="color04" th:text="'(' + ${#numbers.formatInteger(score.times, 3, 'DEFAULT')} + ' 회차)'"></span>
                    </td>
                </tr>
                <tr>
                    <th class="required">일반볼 마지막 숫자</th>
                    <td>
                        <input type="text" th:field="*{lastBall}" />
                    </td>
                </tr>
                <tr>
                    <th class="required">적특처리</th>
                    <td class="color01">
                        <label><input type="checkbox" th:field="*{cancel}"/> 현재회차 적특처리</label>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="panel-footer">
                <input type="submit" class="btn btn03" value="결과입력"/>
                <button onclick="popup.close();return false;" class="btn">창닫기</button>
            </div>
        </section>
    </form>
</main>
<script layout:fragment="script" th:if="true">
    if ('[[${popup}]]' == 'closing') {
        popup.reloadClose();
    }

    function setScore() {
        if (!$('input:checkbox[name=cancel]').is(':checked')) {
            if ($('#lastBall').val() == '') {
                alert('마지막 일반볼을 입력 하세요.');
                return false;
            }
        }
    }
</script>
</body>
</html>