<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/siteLayout" th:with="main='page', gnb='board', lnb=${code}">
<body>

<section layout:fragment="section">
    <h3 th:text="${title}">자유게시판</h3>

    <table class="view">
        <caption>게시판</caption>
        <tbody>
        <tr>
            <th class="title">
                <p th:if="${board.role.name() eq 'ADMIN'}" th:utext="${tag.color(board.title)}"></p>
                <p th:if="${board.role.name() ne 'ADMIN'}" th:text="${board.title}"></p>
            </th>
        </tr>
        <tr th:if="${board.role.name() ne 'ADMIN'}">
            <td class="user">
                <span th:replace="fragments/site :: level(lv=${board.level})"></span>
                <span th:text="${board.nickname}" th:remove="tag"></span>
                <em class="date" th:utext="${tag.dayWeek(board.regDate)}"></em>
            </td>
        </tr>
        <tr>
            <td class="contents">
                <p th:if="${board.role.name() eq 'ADMIN'}" th:utext="${tag.colorBr(board.contents)}"></p>
                <p th:if="${board.role.name() ne 'ADMIN'}" th:utext="${tag.onlyBr(board.contents)}"></p>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="list game">
        <caption>스포츠</caption>
        <colgroup>
            <col style="width: 190px;">
            <col>
            <col style="width: 36px;">
            <col style="width: 218px;">
            <col style="width: 50px;">
            <col>
            <col style="width: 50px;">
            <col style="width: 218px;">
            <col style="width: 36px;">
            <col style="width: 70px;">
        </colgroup>
        <tbody class="betBody" th:each="b : ${board.bets}">
        <tr>
            <th>경기정보</th>
            <th>베팅타입</th>
            <th colspan="3">홈팀</th>
            <th>무</th>
            <th colspan="3">원정팀</th>
            <th>결과</th>
        </tr>
        <tr class="item" th:each="item : ${b.betItems}">
            <td class="info" th:title="${item.league}">
                <img th:src="@{|${tag.sportsFlag(item)}|}"/>
                <img th:src="@{|${tag.leagueFlag(item)}|}"/>
                <span th:remove="tag" th:utext="${tag.dayWeekTime(item.gameDate)}">06/21(금)</span>
            </td>
            <td>
                <span th:if="${item.menuCode.name() eq 'SPECIAL'}" th:text="${item.special + ' '}"></span>
                <span th:text="${item.gameCode.name() eq 'ZONE' ? item.sports : item.gameCode.name}">승무패</span>
            </td>
            <td class="over" th:text="${item.gameCode.name() eq 'OVER_UNDER' ? 'O' : 'H'}">H</td>
            <td th:class="${(item.betTeam eq 'home' ? 'home on' : 'home') + (item.gameResult.name() eq 'HOME' or item.gameResult.name() eq 'OVER' ? ' hit' : '')}">
                <span th:remove="tag" th:text="${item.teamHome}">홈팀</span>
                <span class="odds" th:text="${tag.odds(item.oddsHome)}">0.01</span>
            </td>
            <td class="score" th:text="${item.scoreHome eq null ? '-' : item.scoreHome}">0</td>
            <td th:if="${item.gameCode.name() eq 'MATCH' or item.gameCode.name() eq 'ZONE' and not (item.special eq '핸디캡' or item.special eq '오버언더')}"
                th:with="odds=${tag.odds(item.oddsDraw)}"
                th:class="${(item.betTeam eq 'draw' ? 'draw on' : 'draw') + (item.gameResult.name() eq 'DRAW' or item.gameResult.name() eq 'HIT' or item.gameResult.name() eq 'DRAW_HIT' ? ' hit' : '') + (odds eq '0.00' ? '' : ' odds')}"
                th:text="${odds eq '0.00' ? 'VS' : odds}">
                무
            </td>
            <td th:if="${item.gameCode.name() eq 'HANDICAP' or item.gameCode.name() eq 'OVER_UNDER' or item.special eq '핸디캡' or item.special eq '오버언더'}" th:class="${item.gameResult.name() eq 'DRAW' or item.gameResult.name() eq 'HIT' or item.gameResult.name() eq 'DRAW_HIT' ? 'draw hit' : 'draw'}" th:text="${tag.handicap(item.handicap)}">무</td>
            <td class="score" th:text="${item.scoreAway eq null ? '-' : item.scoreAway}">0</td>
            <td th:class="${(item.betTeam eq 'away' ? 'away on' : 'away') + (item.gameResult.name() eq 'AWAY' or item.gameResult.name() eq 'UNDER' ? ' hit' : '')}">
                <span class="odds" th:text="${tag.odds(item.oddsAway)}">0.01</span>
                <span th:remove="tag" th:text="${item.teamAway}">홈팀</span>
            </td>
            <td class="under" th:text="${item.gameCode.name() eq 'OVER_UNDER' ? 'U' : 'A'}">H</td>
            <td th:class="${'result ' + item.resultStringCss}" th:text="${item.resultString}"></td>
        </tr>
        <tr>
            <td class="betInfo" colspan="10">
                <span class="dateDay" th:utext="${tag.dayWeekTimes(b.betDate)}">07/20(토)</span>
                <span class="betMoney">
                    베팅금액 : <span class="money" th:text="${tag.num(b.betMoney)}">1,000</span>원
                </span>
                <span class="rate">
                    배당율 : <span class="money" th:text="${tag.odds(b.betOdds)}">1,000</span>배
                </span>
                <span class="expMoney">
                    예상금액 : <span class="money" th:text="${tag.num(b.expMoney)}">1,000</span>원
                </span>
                <span class="hitMoney" style="float: right;" th:if="${b.closing}">
                    적중금액 : <span class="hit" th:text="${tag.num(b.hitMoney)}">1,000</span>원
                </span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="command">
        <a th:if="${user.userid eq board.userid}" href="#" th:onclick="|goDelete(${board.id});return false;|" class="btn btn02">삭제하기</a>
        <a th:href="|${siteConfig.pathSite}/board/${code}?page=${page}|" class="btn">돌아가기</a>
    </div>

    <div class="comment">
        <form id="cmd" method="post" th:object="${add}" th:action="@{|${siteConfig.pathSite}/comment/add|}" onsubmit="return addComment();">
            <input type="hidden" id="boardId" name="boardId" th:value="${board.id}"/>
            <input type="hidden" id="code" name="code" th:value="${board.code}"/>
            <input type="hidden" id="page" name="page" th:value="${page}"/>
            <div class="panel-header">
                <div class="comment">
                    <textarea th:field="*{contents}"></textarea>
                    <button class="btn btn02">등록</button>
                </div>
            </div>
        </form>
    </div>
    <div class="comments" th:if="${board.comment > 0}">
        <div th:each="b,num : ${board.comments}" th:with="total=${#arrays.length(board.comments) + 1}" th:id="'comment' + ${b.id}">
            <div class="user">
                <p>
                    <span th:replace="fragments/site :: level(lv=${b.level})"></span>
                    <span th:if="${b.role.name() eq 'ADMIN'}" th:utext="${tag.color(b.nickname)}" th:remove="tag"></span>
                    <span th:if="${b.role.name() ne 'ADMIN'}" th:text="${b.nickname}" th:remove="tag"></span>
                </p>
                <p class="date" th:utext="${tag.dayWeek(b.regDate)}"></p>
            </div>
            <div class="title">
                <p th:if="${b.role.name() eq 'ADMIN'}" th:utext="${tag.colorBr(b.contents)}"></p>
                <p th:if="${b.role.name() ne 'ADMIN'}" th:utext="${tag.onlyBr(b.contents)}"></p>
                <a th:if="${user.userid eq b.userid}" href="#" th:onclick="|deleteComment(${b.id})|" class="icon_delete"></a>
            </div>
        </div>
    </div>
</section>

<script layout:fragment="script" th:if="true">

    function deleteComment(id) {
        if (!confirm('삭제를 하시면 되살릴 수 없습니다.\n\n삭제를 하시겠습니까?')) {
            return false;
        }

        $.post(path + '/comment/delete', {
            id: id
        }).done(function (data) {
            if (data.success) {
                $('#comment' + id).slideUp();
            }
        })
    }

</script>
</body>
</html>