<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='page', gnb='customer', lnb='bet', title='베팅규정'">
<body>
<div layout:fragment="tab-menu" th:replace="fragments/mobile :: customer" th:if="true"></div>
<main class="page" layout:fragment="page">
    <div class="tab-menu2">
        <a th:href="@{|${siteConfig.pathSite}/customer/guide/bet1|}" class="on">공통규정</a>
        <a th:href="@{|${siteConfig.pathSite}/customer/guide/bet2|}">승무패</a>
        <a th:href="@{|${siteConfig.pathSite}/customer/guide/bet3|}">핸디캡</a>
        <a th:href="@{|${siteConfig.pathSite}/customer/guide/bet4|}">오버언더</a>
        <a th:href="@{|${siteConfig.pathSite}/customer/guide/bet5|}">스페셜</a>
    </div>
    <div class="box">
        <h3>베팅 상한금 안내</h3>
        <ul>
            <li>공지사항에 명시해드리고 있는 레벨별 종목상한가를 확인 바랍니다.</li>
            <li>◆ 레벨별 최대 배팅금액 및 최대 당첨금액 안내 ◆<br/><br/>


                1 레벨 최대 배팅금액 및 최대 당첨금액 입니다<br/><br/>

                크로스(승부식,핸디캡) - 최대배팅금액 1,500,000 원 / 최대당첨금액 5,000,000 원<br/>

                실시간 - 최대배팅금액 1,000,000 원 / 최대당첨금액 3,000,000 원<br/>

                스페셜 - 최대배팅금액 1,000,000 원 / 최대당첨금액 3,000,000 원<br/>

                파워볼 - 최대배팅금액 2,000,000 원 / 최대당첨금액 4,000,000 원<br/>

                파워사다리 - 최대배팅금액 2,000,000원 / 최대당첨금액 4,000,000원<br/>

                키노사다리 - 최대배팅금액 2,000,000 원 / 최대당첨금액 4,000,000 원<br/>

                LOTUS - 최대배팅금액 500,000 원 / 최대당첨금액 2,000,000 원<br/>

                가상축구 & 개경주 & 바카라 - 최대배팅금액 500,000 원 / 최대당첨금액 2,000,000 원<br/><br/>


                2 레벨 최대 배팅금액 및 최대 당첨금액 입니다<br/>

                크로스(승부식,핸디캡) - 최대배팅금액 2,000,000 원 / 최대당첨금액 8,000,000 원<br/>

                실시간 - 최대배팅금액 1,000,000 원 / 최대당첨금액 3,000,000 원<br/>

                스페셜 - 최대배팅금액 1,000,000 원 / 최대당첨금액 3,000,000 원<br/>

                파워볼 - 최대배팅금액 2,000,000 원 / 최대당첨금액 4,000,000 원<br/>

                파워사다리 - 최대배팅금액 2,000,000원 / 최대당첨금액 4,000,000원<br/>

                키노사다리 - 최대배팅금액 2,000,000 원 / 최대당첨금액 4,000,000 원<br/>

                LOTUS - 최대배팅금액 2,000,000 원 / 최대당첨금액 4,000,000 원<br/>

                가상축구 & 개경주 & 바카라 - 최대배팅금액 2,000,000원 / 최대당첨금액 4,000,000원<br/><br/>


                3,4,5 레벨 최대 배팅금액 및 최대 당첨금액 입니다<br/>


                크로스(승부식,핸디캡,스페셜) - 최대배팅금액 3,000,000 원 / 최대당첨금액 12,000,000 원<br/>

                실시간 - 최대배팅금액 1,000,000 원 / 최대당첨금액 3,000,000 원<br/>

                스페셜 - 최대배팅금액 1,000,000 원 / 최대당첨금액 3,000,000 원<br/>

                파워볼 - 최대배팅금액 2,000,000 원 / 최대당첨금액 4,000,000 원<br/>

                파워사다리 - 최대배팅금액 2,000,000원 / 최대당첨금액 4,000,000원<br/>

                키노사다리 - 최대배팅금액 2,000,000 원 / 최대당첨금액 4,000,000 원<br/>

                LOTUS - 최대배팅금액 2,000,000원 / 최대당첨금액 4,000,000원<br/>

                가상축구 & 개경주 & 바카라 - 최대배팅금액 2,000,000원 / 최대당첨금액 4,000,000원</li>

            <li>스포츠 종목 [ 스페셜 ] 최대 베팅 한도금액은<br>
                1등급 오십만원(\500,000)이며, 1회 베팅 최고 당첨금액은 백오십만원(\1,500,000)입니다.<br>
                2등급 오십만원(\500,000)이며, 1회 베팅 최고 당첨금액은 백오십만원(\1,500,000)입니다.<br>
                3~5등급 일백만원(\1,000,000)이며, 1회 베팅 최고 당첨금액은 삼백만원(\3,000,000)입니다.<br><br>
            </li>

            <li> 실시간 게임 [ 미니게임 ] 최대 베팅 한도금액은<br>
                일 백만원(\1,000,000)이며, 1회 베팅 최고 당첨금액은 삼백만원(\3,000,000)입니다.
            </li>
        </ul>

        <br/>
        <br/>
        <h3>충/환전 안내</h3>
        <ul>
            <li>충전과 환전은 1만원단위로 가능하며 1회 환전후 3시간 단위로 24시간 자유롭게 이용이 가능하십니다.</li>
            <li>입출금 관련 계좌는 등록하신 계좌로만 가능하오니 유의하시길 바랍니다.</li>
            <li>등록계좌 변경 시 1:1 고객센터로 요청해주시면 본인 확인 후 변경하여 드립니다.</li>
            <li>충전하신 머니의 경우(포인트포함) 종목별 롤링규정을 충족해주셔야 환전이용이 가능합니다.</li>
            <li>머니 충전후 배팅하지 않고 환전요청하시면 취소처리 되오니 반드시 참고하시기 바랍니다.</li>
            <li>충,환전을 이용하여 부정한행위(돈세탁, 보이스피싱 등)에 악용하는 사례가 발생 할 수 있기에 회원님들께서는 반드시 유념해 주시기 바랍니다.</li>
            <li>모든 이벤트머니는 특정이벤트 제외 환전이 불가능하며, 베팅후 적중시에만 환전가능합니다.</li>
        </ul>

        <br/>
        <br/>
        <h3>중복베팅, 다중ID, 중복IP에 관한규정</h3>
        <h4>* 중복베팅</h4>
        <ul>
            <li>금액이나 폴더 수에 상관없이 동일한 베팅내역을 지닌 베팅은 중복 베팅으로 엄격히 규제합니다.</li>
        </ul>
        <br/>
        <h4>* 중복가입, 중복IP</h4>
        <ul>
            <li>동일한 IP로 회원가입을 하여 동일 인물이 여러 개의 ID를 사용하는 행위는 (IP차단 / ID탈퇴 / 보유 머니 몰수) 적중이 되어도 무료처리 되며 당첨금 지급이
                불가합니다.
            </li>
            <li>* 베팅한 경기가 취소되어 남은 베팅 내역이 중복베팅으로 확인되는 경우는 정상적인 베팅으로 인정됩니다.</li>
            <li>(이 경우는 고의적인 중복베팅이 아니기 때문에 예외사항으로 간주 합니다.)</li>
            <li>위의 사항을 위반할 경우 보유 머니 몰수 및 회원 탈퇴를 병행합니다. 저희 쪽으로 사전통보를 해주시는 회원 분들에 한해서 최대한 융통성 있게 처리를 해드리고 있습니다.
            </li>

        </ul>

        <br/>
        <br/>
        <h3>배팅 취소 및 지연</h3>
        <li>◆ 배팅취소 규정 ◆</li><br/>

        <li>- 배팅 후 15분 이내에만 취소 가능<br/>

            -경기 시작 전 10분 이전까지만 취소 가능<br/>

            - 1일 5회 까지만 취소 가능<br/><br/>


            ※ 위 3가지 규정사항 을 모두 만족하지 않는 배팅은 취소가 불가능합니다</li>
        <h4>적중특례 관련 규정</h4>
        <ul>
            <li>적중특례란,</li>
            <li>해당 경기가 정상적으로 진행이 이루어지지 않거나, 기타 부득이한 사유로 인하여 경기가 취소된 경우 및 핸디캡 경기에서의
                핸디 무승부 또는 언더/오버와 기준 점수가 동일한 경우 승,패 여부를 가릴 수 없으므로 베팅을 하신 회원님들에게 베팅 금액을
                그대로 환원하는 규정을 말합니다.<br/>
                (해당 경기의 배당률을 1.0으로 계산하여 적중처리) 경기취소(적중특례)의 경우 그 사유가 매우 다양하므로 저희 관리자와 회원님들간
                경기취소에 관한 이해의 폭을 줄이고 원만한 경기처리를 위하여 적중특례로 간주되는 상황들에 대해 사전 공지하도록 하겠습니다.
            </li>
        </ul>
    </div>

</main>
</body>
</html>