<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='page', gnb='customer', lnb='rule', title='게임규칙'">
<body>
<div layout:fragment="tab-menu" th:replace="fragments/mobile :: customer" th:if="true"></div>
<main class="page" layout:fragment="page">
    <div class="tab-menu2">
        <a th:href="@{|${siteConfig.pathSite}/customer/guide/rule1|}" class="on">승무패</a>
        <a th:href="@{|${siteConfig.pathSite}/customer/guide/rule2|}">핸디캡</a>
        <a th:href="@{|${siteConfig.pathSite}/customer/guide/rule3|}">오버언더</a>
    </div>
    <div class="box">
        <h3>승무패 규정</h3>
        <ul>
            <li>승무패는 대상팀의 승/무/패 를 예측, 베팅하여 맞추는 방식의 게임을 의미합니다.
                선택한 경기가 여러팀의 조합일 경우 모두 맞힌것을 적중으로 처리하며, 적중 배당률(조합일 경우 누적배당률)과 해당 팀의
                베팅금액을 곱하여 경기종료 직후 정산됩니다. (보유 머니로 정산 됨)
            </li>
        </ul>

        <br/>
        <br/>
        <h3>종목별 승무패 규정</h3>
        <ol>
            <li>축구 : 전/후반 90분까지의 결과를 적용(연장전 및 승부차기 제외)</li>
            <li>농구 : 1~4쿼터까지 승부결과가 나지 않을 시 연장전 경기결과 적용</li>
            <li>배구 : 정규세트(1~5세트)경기결과를 적용</li>
            <li>야구 : 정규 9이닝까지 승부결과가 나지 않을 시 연장전 경기결과 적용
                (연장전에서도 승부가 나지 않아 무승부로 경기가 종료 될 경우 적중특례 처리 함)
            </li>
            <li>아이스하키 : 정규 3피리어드까지의 결과 적용(연장전 및 승부치기 제외)</li>
            <li>핸드볼 : 전/후반 경기결과만을 적용(연장전 제외)</li>
            <li>스타크래프트 : 스타리그 경기는 예상치못한 요인으로 경기가 중단되는 경우 또는 실격패나 몰수패의 경우 정상적인 경기가 아니기때문에,
                적중특례 처리되며 경기가 정상적으로 완료된 경기에 한하여 결과 반영을 합니다.
            </li>
        </ol>
        <br/>

        <ul>
            <li>상기의 규정에 충족되지 않더라도 경기주최 또는 공식협회 동의규정에 의해 정식경기로 성립이 된 경우에는 그 결과를 인정하여 적용할 수 있습니다.</li>
            <li>한국프로야구의 경우 현 KBO의 규정에 따라 우천취소의 경우에는 5이닝까지 경기를 완료 한 상태에서 취소 확정되면 5이닝까지
                진행된 경기결과를 그대로 인정하여 처리 합니다.
            </li>
            <li>(즉, 5이닝 이전에 우천취소 확정 시 경기는 적중특례 처리 됨)단, KBO 입장에 따라 변동이 되는 결과처리 기준이닝 규정은
                그 변동된 규정을 우선하여 결과에 반영 합니다.
            </li>
        </ul>
    </div>

</main>
</body>
</html>