main {
    table {
        background #1a1a1a
        border-bottom solid 1px #333

        tbody.box:before {
            content ''
            display block
            height 15px
        }

        tbody.box:hover {
            tr.on {
                td, dd, dt {
                    background #111
                }
            }
        }

        &.fixed {
            table-layout fixed
        }

        td, th {
            border solid 1px #333
            text-align center
            vertical-align middle
            line-height 1.6
            padding 8px 0 7px 0
        }

        td {
            background #222

            &.space {
                padding 0
            }
        }

        .popup, .search, .cmd {
            cursor pointer
            position relative

            &:before {
                position absolute
                opacity 0
                display block
                top 0
                right 0
                font-size 16px
                transition(all 0.3s ease-out)
            }

            &:hover {
                &:before {
                    opacity 1
                }
            }
        }

        .search {
            &:before {
                font normal normal normal 14px / 1 FontAwesome
                content "\f128"
            }
        }

        .popup {
            &:before {
                font normal normal normal 14px / 1 FontAwesome
                content "\f14c"
            }
        }

        .cmd {
            &:before {
                font normal normal normal 14px / 1 FontAwesome
                content "\f00c"
            }
        }

        .memo {
            position relative
            cursor pointer

            span:not(:empty) {
                position absolute
                width 340px
                text-align left
                z-index 9
                padding 20px
                background #111
                top 34px
                right 1px
                line-height 1.6
                border-radius 3px
                border solid 1px #444
                display none
                color color01
                box-shadow 1px 1px 3px #000

                &.info {
                    width 280px
                    text-align center
                    white-space nowrap
                    color color
                    right -112px
                }

                &.league {
                    min-width 120px
                    width auto
                    text-align center
                    top 38px
                    left 30%
                    padding 10px
                }

                &.balance {
                    white-space nowrap
                    width auto
                    text-align center
                    padding 3px 6px
                    top 34px
                    right -60px
                }
            }

            &:hover {
                span:not(:empty) {
                    display block

                    &.balance:after, &.balance:before, &.league:after, &.league:before {
                        left 50%
                    }

                    &:after, &:before {
                        bottom 100%
                        right 10px
                        border solid transparent
                        content ''
                        height 0
                        width 0
                        position absolute
                        pointer-events none
                    }

                    &.info:after, &.info:before {
                        left 50%
                    }

                    &:after {
                        border-color rgba(0, 0, 0, 0)
                        border-bottom-color #111
                        border-width 10px
                        margin-left -10px
                    }

                    &:before {
                        border-color rgba(68, 68, 68, 0)
                        border-bottom-color #444
                        border-width 11px
                        margin-left -11px
                    }
                }
            }
        }

        .mr20 {
            margin-right 20px
        }

        .center {
            text-align center
        }

        .command {
            .btn {
                padding 0 14px
                width auto !important
            }
        }
    }

    .table-list {
        tbody.on {
            border solid 2px #663300

            tr.betting td {
                background #000
            }
        }

        th {
            color #eee
            font-size 14px
            height 40px

            &.num {
                text-align right
                padding-right 20px
            }
        }
        tr:hover td {
            background #1a1a1a
            color #ddd

            &.empty {
                background #222
            }
        }

        tr.on {
            td, dd, dt {
                background #111
            }
        }

        td.accounting, th.accounting {
            font-size 18px
            font-weight 600
        }

        td {
            &.point {
                background #000
            }
            &.num {
                text-align right
                padding-right 20px
            }

            &.empty {
                height 200px
                text-align center
            }

            .btn {
                height 22px
                line-height 22px
                width 60px
            }

            &.ing {
                color #fff
            }

            &.win {
                color color04
            }

            &.lose {
                color color03
            }

            &.hit {
                color color02
            }

            &.cancel {
                color color05
            }

            &.title {
                padding 0 20px
                text-align left

                a {
                    padding 0
                    &:hover {
                        color #fff
                    }
                }

                p {
                    padding 10px 0
                    line-height 1.8
                }

                .new, .bet {
                    display inline-block
                    width 15px
                    height 15px
                    line-height 15px
                    color #fff
                    margin 0 1px
                    text-align center
                    font-size 10px
                    font-family Arial

                    &.new {
                        background-color #c8232c
                    }

                    &.bet {
                        background-color #389638
                    }
                }
            }
        }

        ul.item {
            display inline-block
            li {
                padding 0 2px
                float left
            }
        }
    }

    .table-game {
        td {
            padding 2px 0
            text-align center
            white-space nowrap

            &.hit {
                background #023141
                color #eee
                input[type=text] {
                    background #124151
                    color #eee
                }
            }

            .btn {
                margin 0 auto
                display block
                width 56px
            }

            .inline {
                display inline-block
            }

            .btn-team {
                width 200px
                background #000
                opacity 0.2
                font-weight normal

                &:hover {
                    opacity 1
                }

                &.on {
                    opacity 1
                    color color01
                }
            }

            .btn-btn {
                height 30px
                line-height 30px
            }

            .up-down .btn {
                display inline-block
                opacity 0.2
                background #000

                &:hover {
                    opacity 1
                }
            }

            &.win {
                box-shadow(inset 0px 0px 1px 1px rgba(255, 212, 36, 0.5))
            }

            &.popup {
                &:before {
                    opacity 0.3
                }
            }

            span {
                &.deleted {
                    color color03
                }

                &.cancel {
                    color color05
                }

                &.closing {
                    color color01
                }

                &.hit {
                    color color04
                }

                &.ing {
                    color #fff
                }
            }
        }

        img {
            max-width 27px
        }

        .line {
            display block
            margin-top 6px
        }

        .update {
            background rgba(255, 128, 0, 0.1)

            span {
            //color #000
            }
        }

        .flag-sport {
            width 17px
            height 17px
        }

        .flag-league {
            max-width 24px
        }

        tr.result {
            td {
                background #000 !important
            }
        }

        input {
            padding 0
            text-align center
        }

        input[type=text] {
            height 22px
            width 200px
        }

        select {
            padding 1px 0
            margin 0 -2px
            font-weight 600
            color #f4c600
            width 38px
            text-align center
        }

        #result-box {
            display none
            font-size 18px
            font-weight 600

            td {
                background #f4c600
                color #000

                &:first-child, &:last-child {
                    background #222
                }
            }

            input {
                height 32px
                line-height 32px
                font-size 24px
                font-weight 600

                &:focus {
                    background #353535
                    color #f4c600
                }
            }

            #score-cancel {
                width 32px
            }

            .btn {
                background #005b96
                font-size 18px
                height 32px
                line-height 32px
                width 106px
                color #fff !important

                &:hover {
                    background darken(#005b96, 20%)
                }
            }
        }

        &.table-ladder {
            input[type=text] {
                width 100px
            }
            .btn-team {
                width 100px
            }
        }
    }

    .table-read {

        &.col10 {
            thead {
                td {
                    text-align center
                    background #1a1a1a
                }
            }
            tbody {
                th {
                    background #222
                }
                td {
                    margin 0
                    padding 0
                    text-align center

                    input {
                        width 100%
                        text-align center
                    }
                }
            }

        }

        th, td {
            padding: 8px 20px 7px 20px
            height 36px
            text-align left
            vertical-align middle
        }

        th {
            font-weight 600
            text-align left
            padding: 8px 20px 7px 34px

            &.required {
                padding 4px 20px
            }

            &.bg-success {
                background darken(#9aba40, 70%)
            }

            &.center {
                text-align center
                padding-right 0
                padding-left 0
            }

            .line {
                display block
                line-height 1.6
                color color
            }
        }

        td {
            position relative
            span {
                display inline-block
                margin-left 16px

                &.no {
                    margin 0
                }
            }

            &.num {
                text-align right
            }

            &.center {
                text-align center
            }

            &.user {
                span {
                    margin 0 40px 0 0
                    em, a {
                        color #fff
                    }
                }
            }

            &.contents {
                text-align left
                padding 20px
                line-height 1.8
                box-shadow(inset 8px 8px 40px 1px rgba(0, 0, 0, 0.3))
            }

            &.auto {
                li {
                    display inline-block
                    float left
                    width 12.5%

                    a {
                        display block
                        height 36px
                        line-height 34px
                        text-align center
                        border solid 1px #333
                        color #fff
                        margin 0 -1px -1px 0
                    }

                    &:nth-child(5n+0) {
                        a {
                            background darken(#4a98be, 30%)
                            &:hover {
                                background darken(#4a98be, 50%)
                            }
                        }
                    }

                    &:nth-child(5n+1) {
                        a {
                            background darken(#e07a59, 30%)
                            &:hover {
                                background darken(#e07a59, 50%)
                            }
                        }
                    }

                    &:nth-child(5n+2) {
                        a {
                            background darken(#9aba40, 30%)
                            &:hover {
                                background darken(#9aba40, 50%)
                            }
                        }
                    }

                    &:nth-child(5n+3) {
                        a {
                            background #023141
                            &:hover {
                                background darken(#023141, 40%)
                            }
                        }
                    }

                    &:nth-child(5n+4) {
                        a {
                            background #a88406
                            &:hover {
                                background darken(#a88406, 50%)
                            }
                        }
                    }
                }
            }
        }

        .btn {
            height 22px
            line-height 22px
            width auto
            padding 0 20px
        }

    }

    .table-bet {

        .info {
            img {
                margin-right 6px
            }
        }

        .over {
            font-weight 600
            background #000 !important
            color color05 !important
        }

        .under {
            font-weight 600
            background #000 !important
            color color02 !important
        }

        .home, .draw, .away {
            color #fff
            &.on {
                box-shadow(inset 0 0 0 1px #ffd424)
            }

            &.hit {
                background #023141
                color #eee
            }
        }

        .home {
            padding 0 10px
            text-align left
            .odds {
                float right
            }
        }

        .away {
            padding 0 10px
            text-align right
            .odds {
                float left
            }
        }

        .odds {
            font-weight 600
            color color03
        }

        .result {
            &.ing {
                color #fff
            }
        }

        .score {
            font-size 15px
            background #222 !important
            box-shadow(inset 0 0 20px 2px #000)
        }
    }

    .table-memo {
        .btn-wrap {
            transition(all 0.3s ease-out)
            opacity 0.2
            position absolute
            right 20px
            bottom 10px

            .btn {
                width 50px
            }
        }

        td {
            position relative
            padding 0
            input {
                height auto
                width 100%
                padding 10px
            }

            textarea {
                width 100%
                padding 10px
                height 160px
            }

            &:hover {
                .btn-wrap {
                    opacity 1
                }
            }
        }

        td.title {
            font-size 14px

            input {
                height 25px
                padding 0
                width 160px
                text-align center
                margin-top 10px
            }
        }

        th {
            color #fff
        }
    }

    .table-zone {
        tr:hover td {
            background #222
            &.hit {
                background #023141 !important
                p {
                    background none !important
                    color #eee
                }
            }
        }

        td {
            &.over {
                background #2a2a2a !important
                font-size 15px
                font-weight 600
                color color03
            }
            &.under {
                background #2a2a2a !important
                font-size 15px
                font-weight 600
                color color02
            }

            .odds {
                color color03
                font-weight 600
            }

            &.home {
                p {
                    padding 0 20px
                    text-align left

                    .odds {
                        float right
                    }
                }
                a {
                    width 100%
                }
            }

            &.away {
                p {
                    padding 0 20px
                    text-align right

                    .odds {
                        float left
                    }
                }
                a {
                    width 100%
                }
            }

            &.score {
                box-shadow(inset 0 0 40px 1px #000)
                color #fff
            }

            &.hit {
                &:hover {

                }
            }

        }
    }

    .required {
        &:before {
            content '*'
            display inline-block
            margin-right 6px
            color color03
        }
    }

    dl {
        display block
        margin-left -1px
        width 100%
        background #222

        dd {
            display block
            height 28px
            line-height 28px
            padding 0 20px
            float left
            border-left solid 1px #333

            &.hit {
            //box-shadow(inset 0 0 0 1px #ffd424)
                color #ddd
                background #023141
            }

            &.home {
                padding-left 0
                text-align left
                em {
                    float right
                    color color03
                }
                .btn {
                    display inline-block !important
                    margin-right 10px
                }
            }

            &.away {
                padding-right 0
                text-align right
                em {
                    float left
                    color color03
                }
                .btn {
                    display inline-block !important
                    margin-left 10px
                }
            }

            &.vs {
                text-align center
            }
        }

        &.zone2 {
            dd {
                width 45%

                &.vs {
                    width 10%
                }
            }
        }

        &.zone3 {
            dd {
                text-align left
                width 33.33%
                height 54px
                padding 0

                span {
                    padding-left 20px
                }

                em {
                    float right
                    padding-right 20px
                    color color03
                }

                .btn {
                    display block !important
                    width 100%
                }
            }
        }

        &.zone4 {
            dd {
                text-align left
                width 25%
                height 54px
                padding 0

                span {
                    padding-left 20px
                }

                em {
                    float right
                    padding-right 20px
                    color color03
                }

                .btn {
                    display block !important
                    width 100%
                }
            }
        }
    }
}
