<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${siteConfig.companyName}"></title>
    <link rel="shortcut icon" href="/images/favicon.ico?v1">
    <script src="/assets/js/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="/css/login_style.css" />
    <script type="text/javascript">
        function $i(id) { return document.getElementById(id); }
        function $r(parent,child) { (document.getElementById(parent)).removeChild(document.getElementById(child)); }
        function $t(name) { return document.getElementsByTagName(name); }
        function $c(code) { return String.fromCharCode(code); }
        function $h(value) { return ('0'+Math.max(0,Math.min(255,Math.round(value))).toString(16)).slice(-2); }
        function _i(id,value) { $t('div')[id].innerHTML+=value; }
        function _h(value) { return !hires?value:Math.round(value/2); }

        function get_screen_size()
        {
            var w=document.documentElement.clientWidth;
            var h=document.documentElement.clientHeight;
            return Array(w,h);
        }

        var url=document.location.href;

        var flag=true;
        var test=true;
        var n=parseInt((url.indexOf('n=')!=-1)?url.substring(url.indexOf('n=')+2,((url.substring(url.indexOf('n=')+2,url.length)).indexOf('&')!=-1)?url.indexOf('n=')+2+(url.substring(url.indexOf('n=')+2,url.length)).indexOf('&'):url.length):512);
        var w=0;
        var h=0;
        var x=0;
        var y=0;
        var z=0;
        var star_color_ratio=0;
        var star_x_save,star_y_save;
        var star_ratio=256;
        var star_speed=0.5;
        var star_speed_save=0;
        var star=new Array(n);
        var color;
        var opacity=0.1;

        var cursor_x=0;
        var cursor_y=0;
        var mouse_x=0;
        var mouse_y=0;

        var canvas_x=0;
        var canvas_y=0;
        var canvas_w=0;
        var canvas_h=0;
        var context;

        var key;
        var ctrl;

        var timeout;
        var fps=0;

        function init()
        {
            var a=0;
            for(var i=0;i<n;i++)
            {
                star[i]=new Array(5);
                star[i][0]=Math.random()*w*2-x*2;
                star[i][1]=Math.random()*h*2-y*2;
                star[i][2]=Math.round(Math.random()*z);
                star[i][3]=0;
                star[i][4]=0;
            }
            var starfield=$i('starfield');
            starfield.style.position='absolute';
            starfield.width=w;
            starfield.height=h;
            context=starfield.getContext('2d');
            //context.lineCap='round';
            context.fillStyle='rgb(0,0,0)';
            context.strokeStyle='rgb(255,255,255)';
            var adsense=$i('adsense');
            adsense.style.left=Math.round((w-728)/2)+'px';
            adsense.style.top=(h-15)+'px';
            adsense.style.width=728+'px';
            adsense.style.height=15+'px';
            adsense.style.display='block';
        }

        function anim()
        {
            mouse_x=cursor_x-x;
            mouse_y=cursor_y-y;
            context.fillRect(0,0,w,h);
            for(var i=0;i<n;i++)
            {
                test=true;
                star_x_save=star[i][3];
                star_y_save=star[i][4];
                star[i][0]+=mouse_x>>4; if(star[i][0]>x<<1) { star[i][0]-=w<<1; test=false; } if(star[i][0]<-x<<1) { star[i][0]+=w<<1; test=false; }
                star[i][1]+=mouse_y>>4; if(star[i][1]>y<<1) { star[i][1]-=h<<1; test=false; } if(star[i][1]<-y<<1) { star[i][1]+=h<<1; test=false; }
                star[i][2]-=star_speed; if(star[i][2]>z) { star[i][2]-=z; test=false; } if(star[i][2]<0) { star[i][2]+=z; test=false; }
                star[i][3]=x+(star[i][0]/star[i][2])*star_ratio;
                star[i][4]=y+(star[i][1]/star[i][2])*star_ratio;
                if(star_x_save>0&&star_x_save<w&&star_y_save>0&&star_y_save<h&&test)
                {
                    context.lineWidth=(1-star_color_ratio*star[i][2])*2;
                    context.beginPath();
                    context.moveTo(star_x_save,star_y_save);
                    context.lineTo(star[i][3],star[i][4]);
                    context.stroke();
                    context.closePath();
                }
            }
            timeout=setTimeout('anim()',fps);
        }

        function move(evt)
        {
            evt=evt||event;
            cursor_x=evt.pageX-canvas_x;
            cursor_y=evt.pageY-canvas_y;
        }

        function key_manager(evt)
        {
            evt=evt||event;
            key=evt.which||evt.keyCode;
            //ctrl=evt.ctrlKey;
            switch(key)
            {
                case 27:
                    flag=flag?false:true;
                    if(flag)
                    {
                        timeout=setTimeout('anim()',fps);
                    }
                    else
                    {
                        clearTimeout(timeout);
                    }
                    break;
                case 32:
                    star_speed_save=(star_speed!=0)?star_speed:star_speed_save;
                    star_speed=(star_speed!=0)?0:star_speed_save;
                    break;
                case 13:
                    context.fillStyle='rgba(0,0,0,'+opacity+')';
                    break;
            }
            top.status='key='+((key<100)?'0':'')+((key<10)?'0':'')+key;
        }

        function release()
        {
            switch(key)
            {
                case 13:
                    context.fillStyle='rgb(0,0,0)';
                    break;
            }
        }

        function mouse_wheel(evt)
        {
            evt=evt||event;
            var delta=0;
            if(evt.wheelDelta)
            {
                delta=evt.wheelDelta/120;
            }
            else if(evt.detail)
            {
                delta=-evt.detail/3;
            }
            star_speed+=(delta>=0)?-0.2:0.2;
            if(evt.preventDefault) evt.preventDefault();
        }

        function start()
        {
            resize();
            anim();
        }

        function resize()
        {
            w=parseInt((url.indexOf('w=')!=-1)?url.substring(url.indexOf('w=')+2,((url.substring(url.indexOf('w=')+2,url.length)).indexOf('&')!=-1)?url.indexOf('w=')+2+(url.substring(url.indexOf('w=')+2,url.length)).indexOf('&'):url.length):get_screen_size()[0]);
            h=parseInt((url.indexOf('h=')!=-1)?url.substring(url.indexOf('h=')+2,((url.substring(url.indexOf('h=')+2,url.length)).indexOf('&')!=-1)?url.indexOf('h=')+2+(url.substring(url.indexOf('h=')+2,url.length)).indexOf('&'):url.length):get_screen_size()[1]);
            x=Math.round(w/2);
            y=Math.round(h/2);
            z=(w+h)/2;
            star_color_ratio=1/z;
            cursor_x=x;
            cursor_y=y;
            init();
        }

    </script>
    <style>
        #videobcg {
            position: fixed;
            right: 0;
            /*bottom: -90px;*/
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            /*z-index: -100;*/
            background: url(/images/login_bg.png) no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>

<video id="videobcg" preload="auto" autoplay="" loop="" muted="" poster="" playsinline="" data-bg-video="true" controls="controls" width="100%">
    <source src="/images/MOBIUS.mp4" type="video/mp4">
    <img src="/images/login_bg.png">
    <p>브라우저 버전이 낮습니다.</p>
</video>

<div id="login_wrap">
    <div class="cs_center">
        <!--<span><img src="/images/kakaotalk-logo.png" style="width: 30px;margin-bottom: 0px"/>UB2013
            <a href="https://www.google.co.kr/chrome/thankyou.html" target="_blank"><img src="/images/chrome.png" style="width: 30px;padding-left: 40px;"></a> 크롬 다운로드</span>-->
        <em>Copyright MOBIUS Corp (C). All Rights Reserved.</em>
    </div>

    <form class="login_slate">
        <div class="polygon_box">
            <div class="login_polygon1"></div>
            <div class="login_polygon2"></div>
        </div>

        <form id="frm" method="post" name="loginForm" onsubmit="return login.goLogin();">
            <div class="login_area">
                <div class="login_box">
                    <h1><img src="/images/logo_login.png" width="200"/>
                        <!--</h1>-->
                        <input type="hidden" name="use_otp" id="use_otp" value="0"/>
                        <h4><input type="text" name="l_username" id="l_username" placeholder="아이디" maxlength="20" onKeyDown="onKeyDown();"></h4>
                        <h4><input type="password" name="l_password" id="l_password" placeholder="비밀번호" maxlength="20" onKeyDown="onKeyDown();"></h4>
                        <h6 style="margin-top:50px;">
					<span class="login" onClick="javascript:login.goLogin();">
						<em></em>
						<code>LOGIN NOW</code>
					</span>
                            <span th:if="${siteConfig.join.joinButton}" th:onclick="@{${siteConfig.join.joinCodePage} ? |code_join();| : |member_join(1);|}" class="join">
						<em></em>
						<code>CREATE ACCOUNT</code>
					</span>
                            <!--<span><img id="speaker" src="/images/speaker.png" width="50" class="speaker" onclick="fnSpeaker()"/></span>-->
                        </h6>
                    </h1>
                </div>
            </div>
        </form>
    </form>
</div>

<div class="code_area">
    <div class="code_box">
        <h1>가입코드</h1>
        <h2>JOIN CODE</h2>
        <h4>
            <input type="text" autocomplete="off" name="joinCode" id="joinCode" class="essential code" maxlength="20" placeholder="가입코드">
        </h4>
        <h5>
				<span class="join" onclick="member_join(2);" >
					<em></em>
					<code>가입</code>
				</span>
            <span class="cancel" onClick="code_cancel();">
					<em></em>
					<code>취소</code>
				</span>
        </h5>
    </div>
</div>
<form id="frm-join" name="frm-join" method="post" >
    <input type="hidden" id="code" name="code"/>
    <div class="join_area">
        <div class="join_box">
            <h1>회원가입</h1>
            <h2>CREATE ACCOUNT</h2>
            <h3>＊표시 필수 입력사항</h3>
            <h4>
                <ul class="left">
                    <li>
                        <input type="text" autocomplete="off" name="userid" id="userid" class="essential code" maxlength="20" placeholder="아이디">
                    </li>
                    <li class="gap"><span>영문/숫자 조합 4~12자 이내로 작성.</span></li>
                    <li>
                        <input type="text" autocomplete="off" name="nickname" id="nickname" class="essential code" maxlength="12" placeholder="닉네임">
                    </li>
                    <li class="gap"><span>영문/숫자 조합 4~12자 이내로 작성.</span></li>
                    <li><input type="password" name="password" id="password" class="essential" maxlength="16" placeholder="비밀번호"></li>
                    <li><input type="password" name="passwordConfirm" id="passwordConfirm" class="essential confirm" maxlength="16" placeholder="비밀번호 확인"></li>
                    <li class="gap"><span>영문 및 숫자 특수문자 조합 4자 이상으로 작성.</span></li>
                    <li>
                        <input type="text" autocomplete="off" name="phone" id="phone" class="essential code" maxlength="12" placeholder="휴대폰 번호">
                    </li>
                    <li class="gap"><span th:if="${siteConfig.join.duplicatePhone}" id="bul-phone"></span></li>
                    <!--<li>
                        <input type="text" name="defenseCode" id="defenseCode" class="essential code" maxlength="12" placeholder="가입 방지코드" style="width: 190px;">
                        <img src="/images/captchaImg" style="background-color: #ffffff;margin-right: 0px">
                    </li>-->
                </ul>

                <ul>
                    <li class="gap">
                        <select id="bank" name="bank" class="bank" required>
                            <option value="">은행선택</option>
                            <option value="국민은행">국민은행</option>
                            <option value="우리은행">우리은행</option>
                            <option value="농협">농협</option>
                            <option value="신한은행">신한은행</option>
                            <option value="기업은행">기업은행</option>
                            <option value="KEB하나은행">KEB하나은행</option>
                            <option value="SC제일">SC제일</option>
                            <option value="씨티은행">씨티은행</option>
                            <option value="HSBC은행">HSBC은행</option>
                            <option value="우체국">우체국</option>
                            <option value="신협">신협</option>
                            <option value="수협">수협</option>
                            <option value="새마을금고">새마을금고</option>
                            <option value="부산은행">부산은행</option>
                            <option value="광주은행">광주은행</option>
                            <option value="대구은행">대구은행</option>
                            <option value="전북은행">전북은행</option>
                            <option value="제주은행">제주은행</option>
                            <option value="경남은행">경남은행</option>
                            <option value="케이뱅크">케이뱅크</option>
                            <option value="카카오뱅크">카카오뱅크</option>
                        </select>
                    </li>
                    <li><input type="text" autocomplete="off" name="depositor" id="depositor" required maxlength="24" class="essential" placeholder="예금주"></li>
                    <li><input type="text" autocomplete="off" name="account" id="account" required maxlength="24" class="essential" placeholder="계좌번호"></li>
                    <li class="gap"><span th:if="${siteConfig.join.duplicateAccount}" id="bul-account" class="bul"></span></li>
                    <li>
                        <input type="text" autocomplete="off" name="bankPassword" id="bankPassword" class="essential code" maxlength="16" placeholder="충환전 비밀번호">
                    </li>
                    <li>
                        <input type="text" autocomplete="off" name="bankPasswordConfirm" id="bankPasswordConfirm" class="essential code" maxlength="16" placeholder="충환전 비밀번호 확인">
                    </li>
                    <li class="gap"><span>영문 및 숫자 특수문자 조합 4자 이상으로 작성.</span></li>

                    <li th:if="${siteConfig.join.showRecommend}">
                        <input type="text" autocomplete="off" name="recommender" id="recommender" class="essential code" maxlength="16" placeholder="추천인 (지인추천 아이디)">
                    </li>

                    <li th:if="${siteConfig.join.showRecommend}">
                        <span th:if="${siteConfig.join.requiredRecommend}" id="bul-recommend" ></span>
                    </li>

                    <li th:if="${siteConfig.join.showRecommend}">
                        <span th:if="${siteConfig.join.requiredRecommend}">추천인은 필수 입니다.</span>
                    </li>

                    <li th:if="${siteConfig.join.showRecommend}">
                        <span th:if="${siteConfig.join.requiredRecommend}">추천인(선택) 지인추천 아이디 입력. 가입코드 입력 금지.</span>
                    </li>


                </ul>
            </h4>
            <h5>
				<span class="join"  onclick="javascript:login.goJoin();" >
					<em></em>
					<code>가입</code>
				</span>
                <span class="cancel" onClick="member_cancel();">
					<em></em>
					<code>취소</code>
				</span>
            </h5>
        </div>
    </div>
</form>
<div class="complete_area">
    <div class="complete_box">
        <h1><img src="/img/logo.png"></h1>
        <h2>회원가입이 완료되었습니다.</h2>
        <h3>
            관리자 승인 후 로그인 하시면 정상적으로 서비스 이용이 가능합니다.<BR />
            함장은 깨끗하고 안전한 운영을 자랑합니다
        </h3>
        <h4>
				<span class="main" onClick="member_login();">
					<em></em>
					<code>LOGIN NOW</code>
				</span>
        </h4>
    </div>
</div>

<canvas id="starfield" style="position: absolute;z-index: -99" width="1920" height="889"></canvas>
<div id="adsense" style="position: absolute; left: 596px; top: 874px; width: 728px; height: 15px;"></div>

</body>

<script>

    // in JavaScript Code
    function onKeyDown()
    {
        if(event.keyCode == 13)
        {
            login.goLogin();
        }
    }

    setTimeout(function(){
        $(".polygon_box").addClass("active");
        var vid = document.getElementById("video_bg");
        // vid.autoplay=true;
        // vid.load();
    },1000);
    setTimeout(function(){
        $(".login_box").addClass("active");
    },1500);

    function fnSpeaker(){
        var vid = document.getElementById("video_bg");
        if(vid.muted){
            vid.muted = false;
            $('#speaker').attr('src','/images/speaker.png');
        }else{
            vid.muted = true;
            $('#speaker').attr('src','/images/Mute-256.png');
        }
    }


    function code_join(){

        $(".login_box").removeClass("active");
        setTimeout(function(){
            $(".login_slate").addClass("active");
            $(".login_area").hide();
            $(".code_area").show();
        },1500);
        setTimeout(function(){
            $(".code_box").addClass("active");
            $('#joinCode').val("");
            $('#joinCode').focus();
        },1600);
    }

    function member_join(n){

        if(n==1){
            $(".login_box").removeClass("active");
            setTimeout(function(){
                $(".login_slate").addClass("active");
                $(".login_area").hide();
                $(".join_area").show();
            },1500);
            setTimeout(function(){
                $(".join_box").addClass("active");
            },1600);
        }else {
            $.ajax({
                url: '/join/code',
                method: 'post',
                data: {
                    joinCode: $('#joinCode').val()
                }
            }).done(function (data) {
                console.log(data)
                if (data.success) {
                    $('#code').val($('#joinCode').val());
                    $('form')[1].reset();
                    $("#reg_check_code").val('0');
                    $("#reg_check_hp").val('0');
                    $("#reg_mb_id").removeAttr("readonly");
                    $("#reg_mb_hp").removeAttr("readonly");
                    $("#reg_mb_recommend").removeAttr("readonly");
                    $(".bet_style").removeAttr("checked");
                    $("#reg_hp_code").hide();
                    $("#btn_check_hp").show();
                    $(".code_box").removeClass("active");
                    console.log(4)

                    setTimeout(function () {
                        $(".code_slate").addClass("active");
                        $(".code_area").hide();
                        $(".join_area").show();
                    }, 1500);
                    setTimeout(function () {
                        $(".join_box").addClass("active");
                    }, 1600);
                }
            });
        }
    }

    function code_cancel(){
        $(".code_box").removeClass("active");
        setTimeout(function(){
            $(".login_slate").removeClass("active");
            $(".code_area").hide();
            $(".login_area").show();
        },100);
        setTimeout(function(){
            $(".login_line").addClass("active");
            $(".login_box").addClass("active");
        },500);
    }

    function member_cancel(){
        $(".join_box").removeClass("active");
        setTimeout(function(){
            $(".login_slate").removeClass("active");
            $(".join_area").hide();
            $(".login_area").show();
        },100);
        setTimeout(function(){
            $(".login_line").addClass("active");
            $(".login_box").addClass("active");
        },500);
    }

    function member_complete(){
        $(".join_box").removeClass("active");
        setTimeout(function(){
            $(".login_slate").removeClass("active");
            $(".join_area").hide();
            $(".complete_area").show();
        },100);
        setTimeout(function(){
            $(".complete_box").addClass("active");
        },500);
    }


    // FOCUS
    $(".input_box").focus(function(){
        $(this).prev("div").addClass("focus");
    });
    $(".input_box").focusout(function(){
        $(this).prev("div").removeClass("focus");
    });

    // CONFIRM
    $(".confirm").focusout(function(){
        $(this).next("code").addClass("confirm");
    });

    var config = [(${config})];


</script>

<script src="/js/common.js?v=1.0"></script>
<script src="/js/common.join.js?v=1.0"></script>
</html>