table {
    border-collapse collapse
    box-shadow(1px 1px 4px rgba(0, 0, 0, 0.4))

    &.fixed {
        table-layout fixed
    }

    th, td {
        height 32px
        vertical-align middle
        border 1px solid #565658
        padding 6px 0
    }

    th {
        background #363537
    }

    td {
        background #464547
        text-align left
        padding-left 20px
    }
}

table.banking {
    .btn {
        width 72px
        padding 0
        text-align center
    }
}

table.view {
    box-shadow(none)

    th {
        text-align left
        p {
            font-size 15px
            padding 10px 20px
            line-height 1.6
        }
    }

    td {
        background none
        border-bottom solid 1px #464547
        padding 10px 20px

        .date {
            display block
            height 20px
            line-height 20px
            background url(/images/icon_time.png) left center no-repeat
            padding-left 16px
            float right
        }

        &.contents {
            padding 20px
            line-height 1.6
        }
    }
}

table.add {
    td {
        padding 6px 10px

        input {
            width 100%
        }

        textarea {
            width 100%
            height 300px
        }
    }
}

table.list {
    td {
        padding-left 0
        text-align center

        .label {
            background-color #1f809c
            display inline-block
            height 20px
            line-height 20px
            width 50px
            color #fff
            font-size 10px
            font-family Arial
        }

        &.title {
            text-align left
            padding 0 20px
            cursor pointer

            .hit {
                color #ee5f5b
            }

            .new, .bet {
                display inline-block
                width 15px
                height 15px
                line-height 15px
                color #fff
                margin 0 1px
                text-align center
                font-size 10px
                font-family Arial

                &.new {
                    background-color #c8232c
                }

                &.bet {
                    background-color #389638
                }
            }

            a {
                max-width 540px
            }

            &:hover a {
                color #fff
            }
        }

        &.user {
            text-align left
            padding 0 10px

            &.admin {
                padding-left 60px
            }
        }
    }
}

div.board {
    box-shadow(1px 1px 4px rgba(0, 0, 0, 0.4))

    ul {
        display table
        border-collapse collapse
        width 100%
        margin-top -1px

        li {
            display table-cell
            height 32px
            vertical-align middle
            text-align center
            border 1px solid #565658
            width auto
            background #464547
        }

        &.head {
            margin-top 0
            li {
                background #363537
                text-align center !important
            }
        }
    }

    &.qna, &.memo {
        li {
            &:nth-child(1) {
                width 80px
            }
            &:nth-child(2) {
                width 630px
                padding 0 10px
                text-align left
                cursor pointer

                a {
                    width 600px
                }

                &:hover a {
                    color #fff
                }
            }
            &:nth-child(3) {

            }
            &:nth-child(4) {
                width 80px
            }
            &:nth-child(5) {
                width 80px
            }
        }

        ul.contents {
            display none
            li {
                h5 {
                    font-size 14px
                    background rgba(0, 0, 0, 0.3)
                    padding 6px 20px
                }

                p {
                    padding 20px
                    position relative

                    .btn {
                        position absolute
                        right 0
                        top 10px
                    }
                }

                display block
                height auto
                width 100%
                padding 20px
                text-align left
                line-height 1.8
                background #363537
                box-shadow(inset 8px 8px 40px 1px rgba(0, 0, 0, 0.3))
            }
        }
    }

    &.memo {
        li {
            &:nth-child(2) {
                width 710px
                padding 0 10px
                text-align left
                cursor pointer

                a {
                    width 670px
                }

                &:hover a {
                    color #fff
                }
            }
        }
    }

}

.comment {
    background #464547
    padding 10px

    textarea {
        width calc(100% - 120px)
        height 80px
    }

    .btn {
        float right
        width 120px
        height 80px
        font-size 14px
        font-weight 600
        border-radius 0 4px 4px 0
    }
}

.comments {

    > div {
        overflow hidden
        border-top solid 1px #565658
        padding 10px 20px
        background #464547

        .date {
            margin-top 6px
            display block
            height 20px
            line-height 20px
            background url(/images/icon_time.png) left center no-repeat
            padding-left 16px
        }

        .user {
            float left
            width 160px
        }

        .title {
            position relative
            padding-left 160px
            p {
                color #fff
                line-height 1.6
            }

            .icon_delete {
                position absolute
                right 0
                top 0
                width 21px
                height 21px
                background url(/images/icon_delete.png) center center no-repeat #dc0405
            }
        }
    }

}