html, body {
    height 100%
}

body {
    height calc(100% - 126px)
    color #ddd
    //background #464547
    background #0b0c0e
    font-size 13px
    font-family 'NanumGothic', 'Nanum Gothic', 'AppleSDGothicNeo', 'Malgun Gothic'
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

img {
    vertical-align middle
}

.container {
    position relative
    //overflow hidden
    width 1280px
    margin 0 auto
}

a, button {
    color #ccc
    text-decoration none
    transition(all 0.2s ease-out)

    &:hover {
        color #fff
    }
}

header {
    position fixed
    width 100%
    z-index 9
    top 0
    box-shadow(0 0 10px 4px rgba(0, 0, 0, 0.6))

    nav {
        height 50px
        background #464547
    }

    .gnb {
        background #000
        overflow hidden
        height 40px
        line-height 40px

        .title {
            position absolute
            left 0
            top 0
            text-align center
            width 167px
            z-index 2
            background #464547
        }

        #rolling-wrap {
            float right
            width 1160px
            height 40px
            line-height 40px
            position relative
            overflow hidden

            p {
                position absolute
                left 1160px
                overflow hidden
                white-space nowrap
            }
        }
    }

    .info {
        height 36px
        line-height 36px
        background #262527

        .right {
            float right
        }

        .userid {
            color #51b2dc
            font-weight 600
        }

        .logout {
            display inline-block
            background #565658
            height 24px
            line-height 24px
            padding 0 10px
            margin-left 40px
            color #fff

            &:hover {
                background #dd4400
            }
        }

        .qna {
            margin-left 40px
            background url(/images/icon_qna.png) left center no-repeat
            padding-left 24px

            em {
                color #51b2dc
            }
        }

        .memo {
            margin-left 40px
            background url(/images/icon_memo.png) left center no-repeat
            padding-left 22px

            em {
                color #51b2dc
            }
        }

        .money {
            background url(/images/icon_money.png) left center no-repeat
            padding-left 18px

            em {
                color #ee5f5b
            }
        }

        .point {
            margin-left 40px
            background url(/images/icon_point.png) left center no-repeat
            padding-left 18px

            em {
                color #ee5f5b
            }
        }

        .exchange {
            display inline-block
            background #565658
            height 24px
            line-height 24px
            padding 0 10px
            margin-left 20px
            color #fff

            &:hover {
                background #0066aa
            }
        }
    }

    .logo {
        width 195px
        height 50px
        float left
        position relative

        img {
            position absolute
            top 0
            bottom 0
            margin auto
        }
    }

    .nav {
        float right
        height 50px

        li {
            float left
            position relative
            display block

            ul.sub {
                display none
                padding-top 10px
                background #464547
                position absolute
                width 100%
                z-index 2
                box-shadow(2px 2px 10px rgba(0,0,0,0.6))

                li {
                    float none
                    border-bottom solid 1px #363537

                    a {
                        padding 0
                        text-align center
                        font-size 14px
                        font-weight normal
                        border none
                        height 32px
                        line-height 32px
                    }
                }
            }

            a {
                display block
                padding 0 26px
                height 50px
                line-height 50px
                font-size 16px
                font-weight 600
                border-bottom solid 2px transparent
            }

            &.on, &.on:hover {
                > a {
                    background rgba(0, 0, 0, 0.1)
                    color #ff6600
                    border-bottom-color #ff6600
                }
            }

            &:hover {
                > a {
                    text-shadow 1px 1px 2px rgba(0, 0, 0, 0.4)
                    background rgba(0, 0, 0, 0.2)
                    color #fff
                    border-bottom-color #727272
                }

                ul.sub {
                    display block
                }
            }

            &.gnb-btn {
                a {
                    color #fff
                    border solid 1px rgba(255, 255, 255, 0.3)
                    margin 12px 0 0 6px
                    padding 0 30px
                    border-radius 5px
                    height 26px
                    line-height 24px
                    text-shadow 1px 1px 1px rgba(0, 0, 0, 0.5)
                    font-size 14px

                    &.gnb-deposit {
                        margin-left 60px
                        background #63a001

                        &:hover {
                            background darken(#63a001, 16%)
                        }
                    }

                    &.gnb-withdraw {
                        background #dc0405

                        &:hover {
                            background darken(#dc0405, 16%)
                        }
                    }
                }
            }
        }
    }
}

main {
    min-height 100%
    position relative
    margin-top 126px
    padding-bottom 100px

    .content {
        position relative
        height 100%
    }

    &.main {
        .content {
            margin-top -63px
        }
    }

    &.page {
        figure {
            //display none
            position absolute
            width 100%
            height 600px
            z-index 0
        }
    }

    .main-wrap {
        overflow hidden
        background url(/images/main-bg2.png) no-repeat
        //box-shadow(inset 20px 20px 60px 2px rgba(0,0,0,0.4))
        padding 40px 20px

        h3, h4 {
            height 24px
            color #fff
            font-size 16px
            margin-bottom 20px
            border-bottom solid 1px #727272

            span {
                color #51b2dc
            }
        }

        article {
            float left
            padding 0 15px
            font-size 14px

            li {
                overflow hidden
                span {
                    display block
                    height 28px
                    line-height 28px
                    float left

                    &.date {
                        width 24%
                        em {
                            color #fff
                        }
                    }

                    &.home, &.away {
                        width 33%
                        color #fff
                    }

                    &.away {
                        text-align right
                    }

                    &.vs {
                        width 10%
                        text-align center
                    }
                }

                a {
                    width 100%
                    display block
                    height 28px
                    line-height 28px
                    overflow hidden
                    white-space nowrap
                    text-overflow ellipsis
                }
            }
        }

        .game {
            width 46%
        }

        .event {
            width 27%
        }

        .notice {
            width 27%
        }

    }

    figure {
        height 600px
        background url(/images/main_bg.jpg) right top no-repeat
        -webkit-background-size cover
        -moz-background-size cover
        -o-background-size cover
        background-size cover
        z-index -1

        h1 {
            padding 100px 0 0 40px
            font-family 'Source Sans Pro', sans-serif
            font-size 40px
            color #fff
            line-height 1.2
            font-weight 100
        }

        p {
            display table
            padding 4px 20px
            background rgba(0, 0, 0, 0.5)
            margin-bottom 4px
            transition(all 0.2s ease-out)

            &:hover {
                letter-spacing 1px
            }
        }
    }
}

footer {
    background #363537
    height 80px
    margin-top -80px
    border-top solid 1px rgba(255,255,255,0.1)

    .copyright {
        position relative
        margin-top 20px
        text-align center
        color #727272

        span {
            color #ddd
        }

        .btn {
            float right
        }
    }
}

#clock {
    margin-top 4px
    width 220px
}

#btn-top {
    cursor pointer
    position fixed
    margin-left 50%
    left 670px
    bottom 30px
    width 50px
    height 50px
    line-height 50px
    border-radius 25px
    background #565658
    border solid 1px rgba(255, 255, 255, 0.1)
    text-align center
    text-shadow -1px -1px 1px rgba(0, 0, 0, 0.6)
    box-shadow(1px 1px 10px rgba(0, 0, 0, 0.6))
    transition(all 0.5s ease-out)
    opacity 0
    font-weight 600

    &:hover {
        background btn-info
    }

    &.show {
        opacity 1
    }
}