#login {
    background url(/images/pattern03.png) #000

    .full_screen {
        position fixed
        left 0
        right 0
        top 0
        bottom 0
        width 100%
        height 100%
        -o-object-fit cover
        -ms-object-fit cover
        object-fit cover
        z-index 0
        opacity 0.6
    }

    .login-logo {
        width 800px
        height 420px
        background url(/images/logo.png) center center no-repeat #59a735
        position fixed
        z-index 2
        right 0
        top 0
        opacity 0.86
    }

    .login-line {
        bottom 0
        position fixed
        width 100%
        height 300px
        background #ff4400
        opacity 0.8

        > div {
            height 100%
            width 50%
            left 50%
            background #0066ff
        }
    }

    .login-wrap {
        position absolute
        width 600px
        left 50%
        min-height 100%
        padding 0 100px
        margin-left -600px
        background rgba(0, 0, 0, 0.8)

        .login-box {
            text-align center
            width 400px
            margin 0 auto
            padding-top 20%
        }

        h1 {
            text-align center
            text-decoration underline
            font-size 48px
            font-weight 800
            font-family sans-serif
            color #eee
            margin-bottom 100px
        }

        label {
            width 300px
            display block
            margin 0 auto 10px auto
            overflow hidden
        }

        input, select {
            width 100%
            height 40px
            color #fff
            font-size 16px
            padding 0 20px
            border solid 1px #444
            border-radius 5px
            background rgba(0,0,0,0.5)
        }

        select {
            color #aaa
            float left
            width 140px

            &.on {
                color #fff
            }

            option {
                color #fff
                background rgba(0, 0, 0, 0.7)
            }

            + input {
                width 176px
                float right
            }
        }

        .command {
            margin 0 auto
            padding-top 30px
            width 300px
        }

        .btn-login, .btn-join {
            transition(all 0.2s ease-out)
            margin-bottom 10px
            display block
            width 100%
            height 46px
            line-height 46px
            text-align center
            color #fff
            text-decoration none
            cursor pointer
            font-size 16px
            border-radius 5px
        }

        .btn-login {
            background #59a735
            &:hover {
                background-color darken(#59a735, 50%)
            }
        }

        .btn-join {
            border 1px solid #aaa
            &:hover {
                background-color #fff
                color darken(#59a735, 30%)
            }
        }

        .copyright {
            margin-top 100px
            font-family Arial
            font-size 11px
            color #888

            span {
                color #ccc
            }
        }

        &.login-join {
            h1 {
                margin-bottom 40px
            }
            label {
                width 320px
                position relative

                .bul {
                    position absolute
                    right 10px
                    top 10px
                    display inline-block
                    width 20px
                    height 20px
                    background url(/images/btn_join.png) center left no-repeat

                    &.bul-ready {
                        background-position -20px 0
                    }

                    &.bul-error {
                        background-position -40px 0
                    }
                }

                p {
                    clear both
                    color #888
                    font-size 13px
                    text-align left
                    padding 4px 0 0 20px
                    letter-spacing -1px
                }
            }

            .command {
                width 320px
            }

            padding-bottom 40px
        }
    }
}

.spinner {
    width 20px
    height 20px
    background-color #ee3729
    animation(sk-rotate 1.6s infinite ease-in-out)
}

.loading {
    width 453px
    height 453px
    background url(/images/loading.png) center center no-repeat
    animation(sk-span 2s infinite linear)
}

@-webkit-keyframes sk-rotate {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg)
    }
}

@keyframes sk-rotate {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

@keyframes sk-span {
    0% {
        transform: rotate(0deg)
        -webkit-transform: rotate(0deg)
    }
    100% {
        transform: rotate(359deg)
        -webkit-transform: rotate(359deg)
    }
}