
main.page {

    .container {
        background #565658
        //background #26252a
        margin-top 10px
        padding 10px 10px 30px 10px
        min-height 500px
        overflow hidden

        section {
            width 1030px
            float left
        }

        aside {
            margin-top -10px
            width 220px
            float right

            &.fixed {
                #clock {
                    position fixed
                }

                .cart-wrap {
                    padding-top 0
                    top 176px
                    position fixed
                }
            }
        }

        h3 {
            font-size 18px
            font-weight 600
            border-bottom solid 1px #464547
            margin-bottom 20px
            height 42px
            line-height 42px

            .btn {
                float right
                height 30px
                line-height 30px
                margin-top -6px
            }
        }

        h4 {
            font-size 15px
            font-weight 600
            padding-bottom 10px
        }

        h5 {
            font-size 14px
            font-weight 600
            padding-bottom 10px
        }

        .box {
            padding 30px 20px
            line-height 1.8
            background #262527
            border solid 1px #565658
            box-shadow(1px 1px 4px rgba(0, 0, 0, 0.4))
        }

        .command {
            padding 20px 0
            text-align right
            //text-align center

            .btn {
                font-size 14px
                font-weight 600
                height 32px
                line-height 32px
                box-shadow(1px 1px 5px rgba(0,0,0,0.4))
                border-radius 4px

                &:hover {
                    box-shadow(none)
                }
            }
        }
    }

    .tab-menu {
        text-align right
    }
}

.color0 {
    color #fff !important
}

.color01 {
    color #5bc0de !important
}

.color02 {
    color #ee5f5b !important

}

.color03 {
    color #f89406 !important
}

.color04 {
    color #62c462 !important
}

.btn {
    cursor pointer
    display inline-block
    background #363537
    height 24px
    line-height 24px
    padding 0 20px

    &.on, &:hover {
        background darken(#363537, 30%)
    }

    &.btn01 {
        background #0066aa
        &.on, &:hover {
            background darken(#0066aa, 30%)
        }
    }

    &.btn02 {
        background #dd4400
        &.on, &:hover {
            background darken(#dd4400, 30%)
        }
    }

    &.btn03 {
        background #ce0f0b
        &.on, &:hover {
            background darken(#ce0f0b, 30%)
        }
    }
}

main {
    input, select, textarea {
        background #353535
        border 1px solid #1c1c1c
        border-radius 2px
        padding 0 10px
        height 25px
        line-height 25px
        color #ccc
        box-shadow(inset 0 0 5px 2px rgba(0, 0, 0, .2))
        vertical-align middle

        &:focus {
            border-color #444
        }

        &.ng-invalid {
            border-color color03
        }

        &[disabled=disabled] {
            color #666
        }
    }

    input {
        &.num {
            text-align right
        }
    }

    textarea {
        padding 10px
        line-height 1.6
    }
}

div.paging {
    text-align center
    font-size 0
    margin 25px 0

    ul {
        display inline-block
    }

    li {
        float left
        font-size 13px
        margin 0 -1px 0 0
        height 34px
        line-height 32px
        border solid 1px rgba(255, 255, 255, 0.05)

        &:hover {
            position relative
            border-color rgba(255, 255, 255, 0.3)
            z-index 1
        }

        &.prev {
            margin-right 8px
            a {
                background rgba(0, 0, 0, 0.5)
            }
        }

        &.next {
            margin-left 8px
            a {
                background rgba(0, 0, 0, 0.5)
            }
        }
    }

    a, em {
        display block
        padding 0 12.5px
    }

    a {
        cursor pointer
    }

    em {
        background #c8232c
    }
}


#layout-wrap {
    background rgba(0, 0, 0, 0.6)
    width 100%
    height 100%
    position fixed
    z-index 998
    left 0
    top 0
}

#layout-box {
    top 50%
    width 100%
    text-align center
    position fixed
    z-index 999
    height 546px
    margin-top -273px

    img {
        display inline-block
        margin 0 10px
    }
}

#layout-load {
    position absolute
    top 50%
    left 50%
    width 300px
    height 300px
    margin-top -200px
    margin-left -150px
    z-index 999
}

.lv {
    display inline-block
    background #1f809c
    height 20px
    line-height 20px
    width 36px
    color #fff
    text-align center
    margin-right 10px
    font-size 12px
}

.cal-title {
    text-align center
    margin-bottom 20px
    span {
        display inline-block
        font-size 24px
        height 36px
        line-height 36px
        vertical-align middle
        padding 0 20px
    }

    .btn {
        width 60px
        height 36px
        line-height 36px
        padding 0
        text-align center
    }
}

ul.calendar {
    width 100%
    display table
    margin-left 1px

    li {
        display table-cell
        float left
        width 14.28%
        border solid 1px #565658
        margin-left -1px
        margin-top -1px
        height 100px
        background #464547
        text-align right
        padding 10px
        font-size 16px

        &.blank {
            background none
        }

        &.check {
            background url(/images/check.png) center center no-repeat #464547
        }

        &:nth-child(7n + 1) {
            color #ff3300
        }

        &:nth-child(7n + 0) {
            color #4488ff
        }

        &.th {
            background #363537
            height 40px
            line-height 40px
            text-align center
            font-weight 600
            padding 0
        }
    }
}