div.zone {
    overflow hidden
    position relative

    > .timer {
        width 200px
        float left

        .timer-box {
            background url(/images/zone/timer-bg.png)
            border solid 4px #f60
            width 200px
            text-align center
            border-radius 6px
            padding 20px
        }

    }

    > .right {
        width 820px
        float right
    }
}

#zoneButton {
    margin 0 auto
    width 860px
    padding 4px 5px
    background #bbbbbb
    border solid 1px #acacac
    border-radius 4px
    text-align left

    a {
        display inline-block
        color #222
        font-weight 600
        text-shadow 1px 1px 1px #fff
        padding 0 20px
        height 22px
        line-height 20px
        text-align center
        border solid 1px transparent

        &.on, &:hover {
            background #197d5f
            border-color #116249
            border-radius 3px
            color #fff
            text-shadow none
        }
    }
}