<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminLayout" th:with="gnb='config', lnb='system'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>환경설정 :</small>
    시스템환경 설정
</h2>
<div layout:fragment="content">
    <form id="frm" method="post" th:object="${sysConfig}" onsubmit="return saveConfig()">
        <section>
            <div class="panel-header">
                <h3>
                    <i class="bul fa fa-trophy" aria-hidden="true"></i>
                    스포츠 환경 설정
                </h3>
            </div>
            <table class="table-read">
                <caption>스포츠 환경 설정</caption>
                <colgroup>
                    <col style="width:220px;">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th class="required">InGame API</th>
                    <td>
                        <label><input type="text" th:field="*{sports.inGameApi}" style="width: 300px;"/></label>
                        <label><input type="radio" th:field="*{sports.inGame}" value="none"> 사용안함</label>
                        <label><input type="radio" th:field="*{sports.inGame}" value="inGame"> 사용</label>
                        <label>API 비교 시간 (1분=100): <input type="text" th:field="*{sports.inGameApiTime}" style="width: 100px;" maxlength="3"/></label>
                    </td>
                </tr>
                <tr>
                    <th class="required">Bet365 API</th>
                    <td>
                        <label><input type="text" th:field="*{sports.bet365Api}" style="width: 300px;"/></label>
                        <label><input type="radio" th:field="*{sports.bet365}" value="none"> 사용안함</label>
                        <label><input type="radio" th:field="*{sports.bet365}" value="all"> 전체사용</label>
                        <label><input type="radio" th:field="*{sports.bet365}" value="cross"> 크로스사용</label>
                        <label><input type="radio" th:field="*{sports.bet365}" value="crossSoccer"> 크로스 축구 스페셜 사용</label>
                        <label><input type="radio" th:field="*{sports.bet365}" value="special"> 스페셜사용</label>
                    </td>
                </tr>
                <!--<tr>
                    <th class="required">Best API</th>
                    <td>
                        <label><input type="text" th:field="*{sports.bestApi}" style="width: 300px;"/></label>
                        <label><input type="radio" th:field="*{sports.best}" value="none"> 사용안함</label>
                        <label><input type="radio" th:field="*{sports.best}" value="all"> 전체사용</label>
                        <label><input type="radio" th:field="*{sports.best}" value="cross"> 크로스사용</label>
                        <label><input type="radio" th:field="*{sports.best}" value="special"> 스페셜사용</label>
                    </td>
                </tr>-->
                <tr>
                    <th class="required">이미지서버</th>
                    <td>
                        <label><input type="text" th:field="*{sports.imageUrl}" style="width: 300px;"/></label>
                    </td>
                </tr>
                <tr>
                    <th class="required">스프레드 갯수</th>
                    <td>
                        <select th:field="*{sports.spread}">
                            <option th:each="s : ${#numbers.sequence(1, 10)}" th:value="${s}" th:text="${s + '개'}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="required">실시간 메뉴</th>
                    <td>
                        <label><input type="radio" th:field="*{sports.canLive}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{sports.canLive}" th:value="false"> 사용하지않음</label>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table-read">
                <caption>파워 로또</caption>
                <colgroup>
                    <col style="width:220px;">
                    <col>
                </colgroup>
                <tbody>
                <!--<tr>
                    <th class="required">파워볼 로또 설정</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.powerLotto}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.powerLotto}" th:value="false"> 사용하지않음</label>
                        <label>코드 : <input type="text" th:field="*{zone.powerLottoCode}" style="width: 100px;" maxlength="10"/></label>
                        <label>가입URL : <input type="text" th:field="*{zone.powerLottoUrl}" style="width: 350px;"/></label>
                    </td>
                </tr>-->
                </tbody>
            </table>

            <div class="panel-body">
                <h3 class="color01">
                    <i class="bul fa fa-balance-scale" aria-hidden="true"></i>
                    갓 발란스 환경 설정
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label><input type="radio" th:field="*{zone.godBalanceAutoReset}" th:value="true"> 사용</label>
                    <label><input type="radio" th:field="*{zone.godBalanceAutoReset}" th:value="false"> 사용하지않음</label>
                </h3>
            </div>
            <table class="table-read color02">
                <caption>갓 파워볼 발란스 환경 설정</caption>
                <colgroup>
                    <col style="width:220px;">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th class="required">파워볼 스타 발란스</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.godPowerBalance}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.godPowerBalance}" th:value="false"> 사용하지않음</label>
                        <label>ID : <input type="text" th:field="*{zone.godPowerBalanceId}" style="width: 170px;"/> </label>
                        <label>KEY : <input type="text" th:field="*{zone.godPowerBalanceKey}" style="width: 270px;"/> </label>
                        <label>밸런스 효율 : <input type="text" th:field="*{zone.godPowerBalanceRate}" style="width: 70px;"/> </label>
                        <br><br>
                        <label>밸런스 URL : <input type="text" th:field="*{zone.godPowerBalanceUrl}" style="width: 560px;"/> </label>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table-read color02">
                <caption>갓 파다리 발란스 환경 설정</caption>
                <colgroup>
                    <col style="width:220px;">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th class="required">파다리 스타 발란스</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.godPowerLadderBalance}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.godPowerLadderBalance}" th:value="false"> 사용하지않음</label>
                        <label>ID : <input type="text" th:field="*{zone.godPowerLadderBalanceId}" style="width: 170px;"/> </label>
                        <label>KEY : <input type="text" th:field="*{zone.godPowerLadderBalanceKey}" style="width: 270px;"/> </label>
                        <label>밸런스 효율 : <input type="text" th:field="*{zone.godPowerLadderBalanceRate}" style="width: 70px;"/> </label>
                        <br><br>
                        <label>밸런스 URL : <input type="text" th:field="*{zone.godPowerLadderBalanceUrl}" style="width: 560px;"/> </label>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table-read color03">
                <caption>갓 파워볼 발란스 환경 설정</caption>
                <colgroup>
                    <col style="width:220px;">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th class="required">파워볼 홈플 발란스</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.godPowerBalanceHp}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.godPowerBalanceHp}" th:value="false"> 사용하지않음</label>
                        <label>ID : <input type="text" th:field="*{zone.godPowerBalanceHpId}" style="width: 170px;"/> </label>
                        <label>KEY : <input type="text" th:field="*{zone.godPowerBalanceHpKey}" style="width: 270px;"/> </label>
                        <label>밸런스 효율 : <input type="text" th:field="*{zone.godPowerBalanceHpRate}" style="width: 70px;"/> </label>
                        <br><br>
                        <label>밸런스 URL : <input type="text" th:field="*{zone.godPowerBalanceHpUrl}" style="width: 560px;"/> </label>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table-read color03">
                <caption>갓 파다리 발란스 환경 설정</caption>
                <colgroup>
                    <col style="width:220px;">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th class="required">파다리 홈플 발란스</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.godPowerLadderBalanceHp}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.godPowerLadderBalanceHp}" th:value="false"> 사용하지않음</label>
                        <label>ID : <input type="text" th:field="*{zone.godPowerLadderBalanceHpId}" style="width: 170px;"/> </label>
                        <label>KEY : <input type="text" th:field="*{zone.godPowerLadderBalanceHpKey}" style="width: 270px;"/> </label>
                        <label>밸런스 효율 : <input type="text" th:field="*{zone.godPowerLadderBalanceHpRate}" style="width: 70px;"/> </label>
                        <br><br>
                        <label>밸런스 URL : <input type="text" th:field="*{zone.godPowerLadderBalanceHpUrl}" style="width: 560px;"/> </label>
                    </td>
                </tr>
                </tbody>
            </table>

            <table class="table-read color04">
                <caption>갓 파워볼 발란스 환경 설정</caption>
                <colgroup>
                    <col style="width:220px;">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th class="required">파워볼 1 발란스</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.godPowerBalance1}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.godPowerBalance1}" th:value="false"> 사용하지않음</label>
                        <label>ID : <input type="text" th:field="*{zone.godPowerBalance1Id}" style="width: 170px;"/> </label>
                        <label>KEY : <input type="text" th:field="*{zone.godPowerBalance1Key}" style="width: 270px;"/> </label>
                        <label>밸런스 효율 : <input type="text" th:field="*{zone.godPowerBalance1Rate}" style="width: 70px;"/> </label>
                        <br><br>
                        <label>밸런스 URL : <input type="text" th:field="*{zone.godPowerBalance1Url}" style="width: 560px;"/> </label>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table-read color04">
                <caption>갓 파다리 발란스 환경 설정</caption>
                <colgroup>
                    <col style="width:220px;">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th class="required">파다리 1 발란스</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.godPowerLadderBalance1}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.godPowerLadderBalance1}" th:value="false"> 사용하지않음</label>
                        <label>ID : <input type="text" th:field="*{zone.godPowerLadderBalance1Id}" style="width: 170px;"/> </label>
                        <label>KEY : <input type="text" th:field="*{zone.godPowerLadderBalance1Key}" style="width: 270px;"/> </label>
                        <label>밸런스 효율 : <input type="text" th:field="*{zone.godPowerLadderBalance1Rate}" style="width: 70px;"/> </label>
                        <br><br>
                        <label>밸런스 URL : <input type="text" th:field="*{zone.godPowerLadderBalance1Url}" style="width: 560px;"/> </label>
                    </td>
                </tr>
                </tbody>
            </table>

            <table class="table-read color05">
                <caption>갓 파워볼 발란스 환경 설정</caption>
                <colgroup>
                    <col style="width:220px;">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th class="required">파워볼 2 발란스</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.godPowerBalance2}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.godPowerBalance2}" th:value="false"> 사용하지않음</label>
                        <label>ID : <input type="text" th:field="*{zone.godPowerBalance2Id}" style="width: 170px;"/> </label>
                        <label>KEY : <input type="text" th:field="*{zone.godPowerBalance2Key}" style="width: 270px;"/> </label>
                        <label>밸런스 효율 : <input type="text" th:field="*{zone.godPowerBalance2Rate}" style="width: 70px;"/> </label>
                        <br><br>
                        <label>밸런스 URL : <input type="text" th:field="*{zone.godPowerBalance2Url}" style="width: 560px;"/> </label>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table-read color05">
                <caption>갓 파다리 발란스 2 설정</caption>
                <colgroup>
                    <col style="width:220px;">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th class="required">파다리 2 발란스</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.godPowerLadderBalance2}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.godPowerLadderBalance2}" th:value="false"> 사용하지않음</label>
                        <label>ID : <input type="text" th:field="*{zone.godPowerLadderBalance2Id}" style="width: 170px;"/> </label>
                        <label>KEY : <input type="text" th:field="*{zone.godPowerLadderBalance2Key}" style="width: 270px;"/> </label>
                        <label>밸런스 효율 : <input type="text" th:field="*{zone.godPowerLadderBalance2Rate}" style="width: 70px;"/> </label>
                        <br><br>
                        <label>밸런스 URL : <input type="text" th:field="*{zone.godPowerLadderBalance2Url}" style="width: 560px;"/> </label>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="panel-body">
                <h3>
                    <i class="bul fa fa-balance-scale" aria-hidden="true"></i>
                    발란스 환경 설정
                </h3>
            </div>
            <table class="table-read">
                <caption>발란스 환경 설정</caption>
                <colgroup>
                    <col style="width:220px;">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th class="required">발란스</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.balance}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.balance}" th:value="false"> 사용하지않음</label>
                        <label>
                            발란스 서버 :
                            <select th:field="*{zone.balanceType}">
                                <option value="">선택하세요.</option>
                                <option value="polygon">폴리곤 발란스</option>
                                <option value="gate">게이트 발란스</option>
                            </select>
                        </label>
                        <br><br>
                        <label>유출픽 다리 효율 : <input type="text" th:field="*{zone.leakDariRate}" style="width: 60px;"/> </label>
                        <label>유출픽 사다리 효율 : <input type="text" th:field="*{zone.leakLadderRate}" style="width: 60px;"/> </label>
                        <label>유출픽 파워볼 효율 : <input type="text" th:field="*{zone.leakPowerRate}" style="width: 60px;"/> </label>
                        <br><br>
                        <label>역베팅 다리 효율 : <input type="text" th:field="*{zone.reverseDariRate}" style="width: 60px;"/> </label>
                        <label>역베팅 사다리 효율 : <input type="text" th:field="*{zone.reverseLadderRate}" style="width: 60px;"/> </label>
                        <label>역베팅 파워볼 효율 : <input type="text" th:field="*{zone.reversePowerRate}" style="width: 60px;"/> </label>
                    </td>
                </tr>
                <tr>
                    <th class="required">발란스 게임 자동 잠김</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.balanceGameAutoLock}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.balanceGameAutoLock}" th:value="false"> 사용하지않음</label>
                    </td>
                </tr>
                <tr>
                    <th class="required color01">폴리곤 URL</th>
                    <td>
                        <input type="text" th:field="*{zone.balanceUrl}" style="width: 600px;"/>
                    </td>
                </tr>
                <tr>
                    <th class="required color02">게이트 다리다리 URL</th>
                    <td>
                        <input type="text" th:field="*{zone.balanceGateDariUrl}" style="width: 600px;"/>
                    </td>
                </tr>
                <tr>
                    <th class="required color02">게이트 사다리 URL</th>
                    <td>
                        <input type="text" th:field="*{zone.balanceGateLadderUrl}" style="width: 600px;"/>
                    </td>
                </tr>
                <tr>
                    <th class="required color02">게이트 파워볼 URL</th>
                    <td>
                        <input type="text" th:field="*{zone.balanceGatePowerUrl}" style="width: 600px;"/>
                    </td>
                </tr>
                <tr>
                    <th class="required color02">게이트 섯따 URL</th>
                    <td>
                        <input type="text" th:field="*{zone.balanceGateSuttaUrl}" style="width: 600px;"/>
                    </td>
                </tr>
                <tr>
                    <th class="required color02">게이트 2 다리다리 URL</th>
                    <td>
                        <input type="text" th:field="*{zone.balanceGateDariUrl2}" style="width: 600px;"/>
                    </td>
                </tr>
                <tr>
                    <th class="required color02">게이트 2 사다리 URL</th>
                    <td>
                        <input type="text" th:field="*{zone.balanceGateLadderUrl2}" style="width: 600px;"/>
                    </td>
                </tr>
                <tr>
                    <th class="required color02">게이트 2 파워볼 URL</th>
                    <td>
                        <input type="text" th:field="*{zone.balanceGatePowerUrl2}" style="width: 600px;"/>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="panel-body">
                <h3>
                    <i class="bul fa fa-camera" aria-hidden="true"></i>
                    이벤트
                </h3>
            </div>
            <table class="table-read">
                <caption>이벤트 환경 설정</caption>
                <colgroup>
                    <col style="width:220px;">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th class="required">출석체크 이벤트</th>
                    <td>
                        <label><input type="radio" th:field="*{event.daily}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{event.daily}" th:value="false"> 사용하지않음</label>
                    </td>
                </tr>
                <!--<tr>
                    <th class="required">복권 이벤트</th>
                    <td>
                        <label><input type="radio" th:field="*{event.lotto}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{event.lotto}" th:value="false"> 사용하지않음</label>
                    </td>
                </tr>-->
                </tbody>
            </table>
            <div class="panel-body">
                <h3>
                    <i class="bul fa fa-camera" aria-hidden="true"></i>
                    카지노
                </h3>
            </div>
            <table class="table-read">
                <caption>카지노 설정</caption>
                <colgroup>
                    <col style="width:220px;">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th class="required">카지노</th>
                    <td>
                        <label><input type="radio" th:field="*{casino.enabled}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{casino.enabled}" th:value="false"> 사용하지않음</label>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="panel-body">
                <h3>
                    <i class="bul fa fa-gamepad" aria-hidden="true"></i>
                    실시간 환경 설정
                </h3>
            </div>
            <table class="table-read">
                <caption>실시간 환경 설정</caption>
                <colgroup>
                    <col style="width:220px;">
                    <col>
                </colgroup>
                <tbody>
                <!--<tr>
                    <th class="required">그래프 부스타빗</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.graph}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.graph}" th:value="false"> 사용하지않음</label>
                        <label>
                            url :
                            <input type="text" th:field="*{zone.graphUrl}" style="width: 300px;"/>
                        </label>
                    </td>
                </tr>-->
                <tr>
                    <th class="required color01">실시간 파싱여부</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.enabled}" th:value="true"> 파싱</label>
                        <label><input type="radio" th:field="*{zone.enabled}" th:value="false"> 파싱하지않음</label>
                        <span class="color03">(데모페이지는 한군데서만 파싱하고 다른 곳에서는 파싱하지 않아야 한다.)</span>
                    </td>
                </tr>
                <tr>
                    <th class="required">네임드 사다리</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.ladder}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.ladder}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.ladderUrl}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.ladderPlayer}" style="width: 300px;"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required">네임드 다리다리</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.dari}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.dari}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.dariUrl}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.dariPlayer}" style="width: 300px;"/>
                        </label>
                    </td>
                </tr>
                <!--<tr>
                    <th class="required">네임드 달팽이</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.snail}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.snail}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.snailUrl}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.snailPlayer}" style="width: 300px;"/>
                        </label>
                    </td>
                </tr>-->
                <tr>
                    <th class="required">네임드 NEW달팽이</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.newSnail}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.newSnail}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.newSnailUrl}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.newSnailPlayer}" style="width: 300px;"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required color04">파워 사다리</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.powerLadder}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.powerLadder}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.powerLadderUrl}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.powerLadderPlayer}" style="width: 300px;"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required color04" rowspan="2">파워볼</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.power}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.power}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.powerUrl}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.powerPlayer}" style="width: 300px;"/>
                            <br>
                            M Player :
                            <input type="text" th:field="*{zone.powerMPlayer}" style="width: 300px;"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="color01">파워볼 기준 밀리시간 : <input type="text" class="num" style="width: 120px;" th:field="*{zone.powerBase}"/></label>
                        <label class="color01">파워볼 기준 전체회차 : <input type="text" class="num" style="width: 80px;" th:field="*{zone.powerRound}"/></label>
                        <label class="color01">파워볼 오늘회차 보정 : <input type="text" class="num" style="width: 80px;" th:field="*{zone.powerDay}"/></label>
                    </td>
                </tr>
                <tr>
                    <th class="required color04">파워볼 프리킥</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.powerFreeKick}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.powerFreeKick}" th:value="false"> 사용하지않음</label>
                        <label class="color03"> ( 파워볼 결과 같이 사용 ) </label>
                        <br>
                        <table>
                            <tr>
                                <td width="150">Api :</td>
                                <td><input type="text" th:field="*{zone.powerFreeKickUrl}" style="width: 800px;"/></td>
                            </tr>
                            <tr>
                                <td>Player :</td>
                                <td><input type="text" th:field="*{zone.powerFreeKickPlayer}" style="width: 800px;"/>
                                </td>
                            </tr>
                            <tr>
                                <td>M Player :</td>
                                <td><input type="text" th:field="*{zone.powerFreeKickMPlayer}" style="width: 800px;"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!--<tr>
                    <th class="required">하프라인 알라딘</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.aladdin}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.aladdin}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.aladdinUrl}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.aladdinPlayer}" style="width: 300px;"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required">하프라인 로하이</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.lowhi}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.lowhi}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.lowhiUrl}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.lowhiPlayer}" style="width: 300px;"/>
                        </label>
                    </td>
                </tr>-->
                <tr>
                    <th class="required color02">OZ 홀짝</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.oddeven}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.oddeven}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.oddevenUrl}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.oddevenPlayer}" style="width: 300px;"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required color02">OZ 바카라</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.baccarat}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.baccarat}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.baccaratUrl}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.baccaratPlayer}" style="width: 300px;"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required color03">Bet365 가상축구</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.soccer}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.soccer}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.soccerUrl}" style="width: 300px;"/>
                        </label>
                        <label>
                            프리미어쉽 :
                            <input type="text" th:field="*{zone.soccerPlayer1}" style="width: 300px;"/>
                        </label>
                        <br>
                        <label style="padding-left: 575px">
                            슈퍼리그 :
                            <input type="text" th:field="*{zone.soccerPlayer2}" style="width: 300px;"/>
                        </label>
                        <br>
                        <label style="padding-left: 587px">
                            월드컵 :
                            <input type="text" th:field="*{zone.soccerPlayer3}" style="width: 300px;"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required color03">Bet365 개경주</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.dog}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.dog}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.dogUrl}" style="width: 300px;"/>
                        </label>
                        <label>
                            Goldenhill Park :
                            <input type="text" th:field="*{zone.dogPlayer1}" style="width: 300px;"/>
                        </label>
                        <br>
                        <label style="padding-left: 582px">
                            Hillside Park :
                            <input type="text" th:field="*{zone.dogPlayer2}" style="width: 300px;"/>
                        </label>
                    </td>
                </tr>
                <!--<tr>
                    <th class="required">세븐럭키</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.luck}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.luck}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.luckUrl}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.luckPlayer}" style="width: 300px;"/>
                        </label>
                    </td>
                </tr>-->
                <tr>
                    <th class="required color02">로투스 홀짝</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.lotusOddeven}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.lotusOddeven}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.lotusOddevenUrl}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.lotusOddevenPlayer}" style="width: 300px;"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required color02">로투스 바카라</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.lotusBaccarat}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.lotusBaccarat}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.lotusBaccaratUrl}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.lotusBaccaratPlayer}" style="width: 300px;"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required color02">로투스 바카라2</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.lotusBaccarat2}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.lotusBaccarat2}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.lotusBaccarat2Url}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.lotusBaccarat2Player}" style="width: 300px;"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required color02">키노 사다리</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.kenoLadder}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.kenoLadder}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.kenoLadderUrl}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.kenoLadderPlayer}" style="width: 300px;"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required color02">키노 스피드</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.kenoSpeed}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.kenoSpeed}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.kenoSpeedUrl}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.kenoSpeedPlayer}" style="width: 300px;"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required color02">스피드 홈런</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.speedHomeRun}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.speedHomeRun}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.speedHomeRunUrl}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.speedHomeRunPlayer}" style="width: 400px;"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required color03">드래곤타이거</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.dragonTiger}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.dragonTiger}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.dragonTigerUrl}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.dragonTigerPlayer}" style="width: 300px;"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required color03">바이낸스코인 1분</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.binanceCoin1}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.binanceCoin1}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.binanceCoin1Url}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.binanceCoin1Player}" style="width: 400px;"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required color03">바이낸스코인 3분</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.binanceCoin3}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.binanceCoin3}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.binanceCoin3Url}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.binanceCoin3Player}" style="width: 400px;"/>
                        </label>
                    </td>
                </tr>
                <!--<tr>
                    <th class="required">코리아 룰렛</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.roulette}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.roulette}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.rouletteUrl}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.roulettePlayer}" style="width: 300px;"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required color02">코리아 바카라</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.coreaBaccarat}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.coreaBaccarat}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.coreaBaccaratUrl}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.coreaBaccaratPlayer}" style="width: 300px;"/>
                        </label>
                    </td>
                </tr>-->
                <tr>
                    <th class="required color04">FX게임 1분</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.fxGame1}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.fxGame1}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.fxGame1Url}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.fxGame1Player}" style="width: 400px;"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required color04">FX게임 2분</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.fxGame2}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.fxGame2}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.fxGame2Url}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.fxGame2Player}" style="width: 400px;"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required color04">FX게임 3분</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.fxGame3}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.fxGame3}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.fxGame3Url}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.fxGame3Player}" style="width: 400px;"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required color04">FX게임 4분</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.fxGame4}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.fxGame4}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.fxGame4Url}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.fxGame4Player}" style="width: 400px;"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required color04">FX게임 5분</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.fxGame5}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.fxGame5}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.fxGame5Url}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.fxGame5Player}" style="width: 400px;"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required color03">보글사다리</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.bogleLadder}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.bogleLadder}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.bogleLadderUrl}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.bogleLadderPlayer}" style="width: 400px;"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required color03">보글파워볼</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.boglePower}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.boglePower}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.boglePowerUrl}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.boglePowerPlayer}" style="width: 400px;"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required color02">EOS 파워볼 1분</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.eosPower1}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.eosPower1}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.eosPower1Url}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.eosPower1Player}" style="width: 300px;"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required color02">EOS 파워볼 2분</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.eosPower2}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.eosPower2}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.eosPower2Url}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.eosPower2Player}" style="width: 300px;"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required color02">EOS 파워볼 3분</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.eosPower3}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.eosPower3}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.eosPower3Url}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.eosPower3Player}" style="width: 300px;"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required color02">EOS 파워볼 4분</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.eosPower4}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.eosPower4}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.eosPower4Url}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.eosPower4Player}" style="width: 300px;"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required color02">EOS 파워볼 5분</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.eosPower5}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.eosPower5}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.eosPower5Url}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.eosPower5Player}" style="width: 300px;"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required">별다리1분</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.starLadder1}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.starLadder1}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.starLadder1Url}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.starLadder1Player}" style="width: 300px;"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required">별다리2분</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.starLadder2}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.starLadder2}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.starLadder2Url}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.starLadder2Player}" style="width: 300px;"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required">별다리3분</th>
                    <td>
                        <label><input type="radio" th:field="*{zone.starLadder3}" th:value="true"> 사용</label>
                        <label><input type="radio" th:field="*{zone.starLadder3}" th:value="false"> 사용하지않음</label>
                        <label>
                            Api :
                            <input type="text" th:field="*{zone.starLadder3Url}" style="width: 300px;"/>
                        </label>
                        <label>
                            Player :
                            <input type="text" th:field="*{zone.starLadder3Player}" style="width: 300px;"/>
                        </label>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="panel-footer">
                <button class="btn btn04">수정</button>
            </div>
        </section>
    </form>
</div>
<script layout:fragment="script" th:if="true">
    function saveConfig() {
        if (!confirm('변경 내용을 저장 하겠습니까?')) {
            return false;
        }
    }

    function godBalanceSetting() {
        if (!confirm('갓 발란스 회원 세팅 고?')) {
            return false;
        }
        $.ajax({
            url: path + '/system/godBalanceSetting',
            method: 'POST'
        }).done(function (data) {
            alert("수정되었습니다.")
            location.reload();
        });
    }
</script>
</body>
</html>