<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${siteConfig.companyName}"></title>
    <link rel="shortcut icon" href="/images/favicon.ico?v1">
    <link rel=stylesheet href="/css/m_login_style.css"/>
    <script src="/assets/js/jquery-1.11.1.min.js"></script>
    <style>
        body{
            background-image: url('/images/mlogin_bg.gif');
            background-position-x: center;
            background-position-y: center;
            background-size: 100%;
            height:82%;
            padding-top: 150px;
            overflow: hidden;
        }
    </style>
</head>
<body>
<input type=hidden name=use_otp id=use_otp value=0 />
<div class=login_wrap>
    <em><img src="/images/logo_login.png" style="width: 170px; margin-top: 30px;margin-bottom: 30px;"/></em>
    <form id="frm" onsubmit="return login.checkCode();">
        <div><input class=style_input id="joinCode" name="joinCode" autofocus="autofocus" placeholder="추천인코드"/></div>
        <p>&nbsp;</p>
        <div><input type=button class=btn_submit value="확인" onclick="login.checkCode();"/></div>
        <div><input type=button class=btn_join value="취소" onclick="location.href='/'" ></div>
        <div class=login_foot>
            <div class=telegram><em><img src="/images/kakaotalk-logo.png"></em><span>MOBIUS365</span></div>
            <div class=text1>Copyright MOBIUS Corp (C). All Rights Reserved.</div>
        </div>
    </form>
</div>
</body>
<script src="/js/common.js?v=1.0"></script>
<script src="/js/common.join.js?v=1.0"></script>
<script>
    var config = [(${config})];
</script>
</html>