<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${siteConfig.companyName}"></title>
    <link rel="shortcut icon" href="/images/favicon.ico?v1">
    <link rel=stylesheet href="/css/m_login_style.css"/>
    <script src="/assets/js/jquery-1.11.1.min.js"></script>
    <style>
        body{
            background-image: url('/images/mlogin_bg.gif');
            background-position-x: center;
            background-position-y: center;
            background-size: 100%;
            height:82%;
            padding-top: 150px;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class=login_wrap>
    <em><img src="/images/logo_login.png" style="width: 100px; margin-top: -70px;"/></em>
    <form id="frm-join" method="post" th:object="${member}" onsubmit="return login.goJoin();">
        <input type="hidden" th:field="*{code}" th:value="${joinCode}" />
        <input type="hidden" th:if="${!siteConfig.join.showRecommend}" th:field="*{recommender}" />

        <div>
            <input class="style_input" type="text" th:field="*{userid}" autofocus="autofocus" maxlength="12" placeholder="아이디"/>
            <span id="bul-userid" class="bul"></span>
            <p class="p_txt">영문/숫자 조합 4~12자 이내로 작성.</p>
        </div>

        <div>
            <input class="style_input" type="text" th:field="*{nickname}" autofocus="autofocus" maxlength="12" placeholder="닉네임"/>
            <span id="bul-nickname" class="bul"></span>
            <p class="p_txt">한글 2~7자, 영문 4~14자. 특수문자 불가.</p>
        </div>

        <div>
            <input class="style_input" th:field="*{password}" maxlength="16" placeholder="비밀번호"/>
            <p class="p_txt">영문 및 숫자 특수문자 조합 4자 이상으로 작성.</p>
        </div>

        <div>
            <input class="style_input" type="password" id="passwordConfirm" maxlength="16" placeholder="비밀번호 확인"/>
        </div>

        <div>
            <input class="style_input" type="number" th:field="*{phone}" autofocus="autofocus" maxlength="16" placeholder="휴대폰 번호"/>
            <span th:if="${siteConfig.join.duplicatePhone}" id="bul-phone" class="bul"></span>
            <p class="p_txt">문자와 통화가 가능하신 정확한 연락처를 기재.</p>
        </div>

        <div>
            <select class="style_select" th:field="*{bank}">
                <option value="">은행선택</option>
                <option th:each="bank : ${banks}" th:text="${bank}" th:value="${bank}">은행</option>
            </select>
        </div>

        <div>
            <input class="style_input" type="text" th:field="*{depositor}" maxlength="12" placeholder="예금주">
            <p class="p_txt">예금주명 변경 불가, 동일한 예금주만 계좌 변경 가능.</p>
        </div>


        <div>
            <input class="style_input" type="text" th:field="*{account}" maxlength="24" placeholder="계좌번호"/>
            <span th:if="${siteConfig.join.duplicateAccount}" id="bul-account" class="bul"></span>
            <p class="p_txt">빠른 충/환전을 위해 본인 명의와 동일한 계좌정보 입력</p>
        </div>
        <div>
            <input class="style_input" type="password" th:field="*{bankPassword}" maxlength="16" placeholder="충환전 비밀번호"/>
        </div>
        <div>
            <input class="style_input" type="password" id="bankPasswordConfirm" maxlength="16" placeholder="충환전 비밀번호 확인"/>
            <p class="p_txt">영문 및 숫자 특수문자 조합 4자 이상으로 작성.</p>
        </div>
        <div th:if="${siteConfig.join.showRecommend}">
            <input class="style_input" type="text" th:field="*{recommender}" maxlength="16" placeholder="추천인 (지인추천 아이디)"/>
            <span th:if="${siteConfig.join.requiredRecommend}" id="bul-recommend" class="bul"></span>
            <p class="p_txt" th:if="${siteConfig.join.requiredRecommend}">
                추천인은 필수 입니다.<br>추천인(선택) 지인추천 아이디 입력. 가입코드 입력 금지.
            </p>
        </div>
        <!--<p>&nbsp;</p>
        <div>
            <img src="/images/captchaImg" style="background-color: #ffffff;width:50%;">
            <input class="style_input" type="defenseCode" id="defenseCode" maxlength="5" placeholder="가입 방지 코드"/>
        </div>
        <p>&nbsp;</p>-->
        <div><input type=button class=btn_submit value="확인" onclick="login.goJoin();"/></div>
        <div><input type=button class=btn_join value="취소" onclick="location.href='/'" ></div>
        <div class=login_foot>
            <div class=telegram><em><img src="/images/kakaotalk-logo.png"></em><span>kakao</span></div>
            <div class=text1>Copyright MOBIUS Corp (C). All Rights Reserved.</div>
        </div>
    </form>
</div>
</body>
<script src="/js/common.js?v=1.0"></script>
<script src="/js/common.join.js?v=1.0"></script>
<script>
    var config = [(${config})];
</script>
</html>