<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/siteLayout" th:with="main='page', gnb='score', lnb='coreaBaccarat'">
<body>

<section layout:fragment="section">
    <h3>코리아 바카라 경기결과</h3>

    <form id="frm-search" method="get" th:action="@{|${siteConfig.pathSite}/score/${menu}|}">
        <input type="hidden" id="page" name="page" th:value="${page.number + 1}"/>
        <input type="hidden" id="sports" name="sports" th:value="${sports}"/>
    </form>

    <table class="list game">
        <caption>코리아 바카라</caption>
        <colgroup>

        </colgroup>
        <thead>
        <tr>
            <th>일자</th>
            <th>회차</th>
            <th>플레이어</th>
            <th>뱅커</th>
            <th>결과</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="g : ${page.content}">
            <td th:utext="${tag.dayWeekTime(g.gameDate)}"></td>
            <td class="color0" th:text="${tag.round(g.round, 4)} + ' 회'"></td>
            <td>
                <span th:class="'card_result2 card_' + ${g.p1}"></span>
                <span th:class="'card_result2 card_' + ${g.p2}"></span>
                <span th:if="${g.p3 ne '0'}" th:class="'card_result2 card_' + ${g.p3}"></span>
            </td>
            <td>
                <span th:class="'card_result2 card_' + ${g.b1}"></span>
                <span th:class="'card_result2 card_' + ${g.b2}"></span>
                <span th:if="${g.b3 ne '0'}" th:class="'card_result2 card_' + ${g.b3}"></span>
            </td>
            <td>
                <span th:if="${g.result eq 'B'}" class="color01">B</span>
                <span th:if="${g.result eq 'P'}" class="color02">P</span>
                <span th:if="${g.result eq 'T'}" class="color04">T</span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="paging">
        <ul th:replace="fragments/site :: paging(p=${page})"></ul>
    </div>
</section>

<script layout:fragment="script" th:if="true">

</script>
</body>
</html>