<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/siteLayout" th:with="main='page', gnb='score', lnb='kenoSpeed'">
<body>

<section layout:fragment="section">
    <h3>스피드키노 경기결과</h3>

    <form id="frm-search" method="get" th:action="@{|${siteConfig.pathSite}/score/${menu}|}">
        <input type="hidden" id="page" name="page" th:value="${page.number + 1}"/>
        <input type="hidden" id="sports" name="sports" th:value="${sports}"/>
    </form>

    <table class="list game">
        <caption>스피드키노</caption>
        <colgroup>

        </colgroup>
        <thead>
        <tr>
            <th>일자</th>
            <th>회차</th>
            <th>홀짝</th>
            <th>오버언더</th>
            <th>숫자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="g : ${page.content}">
            <td th:utext="${tag.dayWeekTime(g.gameDate)}"></td>
            <td class="color0" th:text="${tag.round(g.round, 3)} + ' 회'"></td>
            <td>
                <span th:if="${g.oddeven eq 'ODD'}" class="color01">홀</span>
                <span th:if="${g.oddeven eq 'EVEN'}" class="color02">짝</span>
                <span th:if="${g.oddeven ne 'ODD' and g.oddeven ne 'EVEN'}">-</span>
            </td>
            <td>
                <span th:if="${g.overUnder eq 'OVER'}" class="color01">오버</span>
                <span th:if="${g.overUnder eq 'UNDER'}" class="color02">언더</span>
                <span th:if="${g.overUnder ne 'OVER' and g.overUnder ne 'UNDER'}">-</span>
            </td>
            <td>
                <span th:if="${g.num0 eq '0'}" class="color01">숫자0</span>
                <span th:if="${g.num1 eq '1'}" class="color01">숫자1</span>
                <span th:if="${g.num2 eq '2'}" class="color01">숫자2</span>
                <span th:if="${g.num3 eq '3'}" class="color01">숫자3</span>
                <span th:if="${g.num4 eq '4'}" class="color01">숫자4</span>
                <span th:if="${g.num5 eq '5'}" class="color01">숫자5</span>
                <span th:if="${g.num6 eq '6'}" class="color01">숫자6</span>
                <span th:if="${g.num7 eq '7'}" class="color01">숫자7</span>
                <span th:if="${g.num8 eq '8'}" class="color01">숫자8</span>
                <span th:if="${g.num9 eq '9'}" class="color01">숫자9</span>
                <span th:if="${g.num0 ne '0' and g.num1 ne '1' and g.num2 ne '2' and g.num3 ne '3' and g.num4 ne '4' and g.num5 ne '5' and g.num6 ne '6' and
                g.num7 ne '7' and g.num8 ne '8' and g.num9 ne '9'}" class="color01">-</span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="paging">
        <ul th:replace="fragments/site :: paging(p=${page})"></ul>
    </div>
</section>

<script layout:fragment="script" th:if="true">

</script>
</body>
</html>