<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/siteLayout" th:with="main='page', gnb='score', lnb='newSnail'">
<body>

<section layout:fragment="section">
    <h3>뉴달팽이 경기결과</h3>

    <form id="frm-search" method="get" th:action="@{|${siteConfig.pathSite}/zone/newSnail/score|}">
        <input type="hidden" id="page" name="page" th:value="${page.number + 1}"/>
    </form>

    <table class="list game">
        <caption>뉴달팽이</caption>
        <colgroup>

        </colgroup>
        <thead>
        <tr>
            <th>일자</th>
            <th>회차</th>
            <th>홀짝</th>
            <th>오버언더</th>
            <th>1등</th>
            <th>복승</th>
            <th>쌍승</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="g : ${page.content}">
            <td th:utext="${tag.dayWeekTime(g.gameDate)}"></td>
            <td class="color0" th:text="${tag.round(g.round, 3)} + ' 회'"></td>
            <td>
                <span th:if="${g.oddeven eq 'odd'}" class="color01">홀</span>
                <span th:if="${g.oddeven eq 'even'}" class="color02">짝</span>
                <span th:if="${g.oddeven ne 'odd' and g.oddeven ne 'even'}">-</span>
            </td>
            <td>
                <span th:if="${g.overunder eq 'over'}" class="color01">오버</span>
                <span th:if="${g.overunder eq 'under'}" class="color02">언더</span>
                <span th:if="${g.overunder ne 'over' and g.overunder ne 'under'}">-</span>
            </td>
            <td>
                <span th:if="${g.rank1 eq 'snail1'}" class="color01">[1]번 달팽이</span>
                <span th:if="${g.rank1 eq 'snail2'}" class="color01">[2]번 달팽이</span>
                <span th:if="${g.rank1 eq 'snail3'}" class="color01">[3]번 달팽이</span>
                <span th:if="${g.rank1 eq 'snail4'}" class="color01">[4]번 달팽이</span>
            </td>
            <td>
                <span th:if="${(g.rank1 eq 'snail1' and g.rank2 eq 'snail2') or (g.rank1 eq 'snail2' and g.rank2 eq 'snail1')}" class="color01">[1][2]번 달팽이</span>
                <span th:if="${(g.rank1 eq 'snail1' and g.rank2 eq 'snail3') or (g.rank1 eq 'snail3' and g.rank2 eq 'snail1')}" class="color01">[1][3]번 달팽이</span>
                <span th:if="${(g.rank1 eq 'snail1' and g.rank2 eq 'snail4') or (g.rank1 eq 'snail4' and g.rank2 eq 'snail1')}" class="color01">[1][4]번 달팽이</span>
                <span th:if="${(g.rank1 eq 'snail2' and g.rank2 eq 'snail3') or (g.rank1 eq 'snail3' and g.rank2 eq 'snail2')}" class="color01">[2][3]번 달팽이</span>
                <span th:if="${(g.rank1 eq 'snail2' and g.rank2 eq 'snail4') or (g.rank1 eq 'snail4' and g.rank2 eq 'snail2')}" class="color01">[2][4]번 달팽이</span>
                <span th:if="${(g.rank1 eq 'snail3' and g.rank2 eq 'snail4') or (g.rank1 eq 'snail4' and g.rank2 eq 'snail3')}" class="color01">[3][4]번 달팽이</span>
            </td>
            <td>
                <span th:if="${g.rank1 eq 'snail1' and g.rank2 eq 'snail2'}" class="color01">[1][2]번 달팽이</span>
                <span th:if="${g.rank1 eq 'snail1' and g.rank2 eq 'snail3'}" class="color01">[1][3]번 달팽이</span>
                <span th:if="${g.rank1 eq 'snail1' and g.rank2 eq 'snail4'}" class="color01">[1][4]번 달팽이</span>
                <span th:if="${g.rank1 eq 'snail2' and g.rank2 eq 'snail1'}" class="color01">[2][1]번 달팽이</span>
                <span th:if="${g.rank1 eq 'snail2' and g.rank2 eq 'snail3'}" class="color01">[2][3]번 달팽이</span>
                <span th:if="${g.rank1 eq 'snail2' and g.rank2 eq 'snail4'}" class="color01">[2][4]번 달팽이</span>
                <span th:if="${g.rank1 eq 'snail3' and g.rank2 eq 'snail1'}" class="color01">[3][1]번 달팽이</span>
                <span th:if="${g.rank1 eq 'snail3' and g.rank2 eq 'snail2'}" class="color01">[3][2]번 달팽이</span>
                <span th:if="${g.rank1 eq 'snail3' and g.rank2 eq 'snail4'}" class="color01">[3][4]번 달팽이</span>
                <span th:if="${g.rank1 eq 'snail4' and g.rank2 eq 'snail1'}" class="color01">[4][1]번 달팽이</span>
                <span th:if="${g.rank1 eq 'snail4' and g.rank2 eq 'snail2'}" class="color01">[4][2]번 달팽이</span>
                <span th:if="${g.rank1 eq 'snail4' and g.rank2 eq 'snail3'}" class="color01">[4][3]번 달팽이</span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="paging">
        <ul th:replace="fragments/site :: paging(p=${page})"></ul>
    </div>
</section>

<script layout:fragment="script" th:if="true">

</script>
</body>
</html>