<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${siteConfig.companyName}">MOBIUS</title>
    <link rel="shortcut icon" th:href="@{|/images/favicon.ico?v=${siteConfig.version}|}"/>
    <link rel="stylesheet" th:href="@{|/css/font-awesome.min.css?v=${siteConfig.version}|}"/>
    <link rel="stylesheet" th:href="@{|/css/jquery-ui.min.css?v=${siteConfig.version}|}"/>
    <link rel="stylesheet" th:href="@{|/css/jquery-ui.theme.min.css?v=${siteConfig.version}|}"/>
    <link rel="stylesheet" th:href="@{|/css/style.admin.css?v=${siteConfig.version}|}"/>
    <script th:src="@{|/js/jquery-3.1.1.min.js?v=${siteConfig.version}|}"></script>
    <script th:src="@{|/js/jquery-ui.min.js?v=${siteConfig.version}|}"></script>
    <script th:src="@{|/js/angular.min.js?v=${siteConfig.version}|}"></script>
    <script th:if="${mode ne 'login'}" th:src="@{|/js/angular.admin.js?v=${siteConfig.version}|}"></script>
</head>
<body>
<div th:fragment="lnb" th:remove="tag">
    <ul class="lnb" th:if="${gnb eq 'game'}">
        <li th:class="${lnb eq 'result' and pnb eq 'cross'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/game/cross/result?sort=score.asc|}"><em class="bul fa fa-pencil-square-o color03"></em><span>크로스 결과처리</span></a></li>
        <li th:class="${lnb eq 'result' and pnb eq 'special'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/game/special/result?sort=score.asc|}"><em class="bul fa fa-pencil-square-o color03"></em><span>스페셜 결과처리</span></a></li>
        <li th:if="${sysConfig.sports.canLive}" th:class="${lnb eq 'result' and pnb eq 'live'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/game/live/result?sort=score.asc|}"><em class="bul fa fa-pencil-square-o color03"></em><span>실시간 결과처리</span></a></li>
        <li th:class="${lnb eq 'result' and pnb eq 'inGame'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/game/inGame/result?sort=score.asc|}"><em class="bul fa fa-pencil-square-o color03"></em><span>인게임 결과처리</span></a></li>
        <li><a href="#" onclick="popup.game.add();"><em class="bul fa fa-pencil-square-o color01"></em><span>스포츠 등록</span></a></li>

        <li th:class="${lnb eq 'match'} ? 'on'">
            <a><em class="bul fa fa-futbol-o"></em><span>승무패</span><em class="sub fa fa-chevron-circle-down"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'match' and pnb eq 'ready'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/game/match/ready|}"><span>대기</span></a></li>
                <li th:class="${lnb eq 'match' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/game/match/complete|}"><span>완료</span></a></li>
                <li th:class="${lnb eq 'match' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/game/match/closing?sort=date.desc|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'handicap'} ? 'on'">
            <a><em class="bul fa fa-hand-paper-o"></em><span>핸디캡</span><em class="sub fa fa-chevron-circle-down"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'handicap' and pnb eq 'ready'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/game/handicap/ready|}"><span>대기</span></a></li>
                <li th:class="${lnb eq 'handicap' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/game/handicap/complete|}"><span>완료</span></a></li>
                <li th:class="${lnb eq 'handicap' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/game/handicap/closing?sort=date.desc|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'special'} ? 'on'">
            <a><em class="bul fa fa-hashtag"></em><span>스페셜</span><em class="sub fa fa-chevron-circle-down"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'special' and pnb eq 'ready'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/game/special/ready|}"><span>대기</span></a></li>
                <li th:class="${lnb eq 'special' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/game/special/complete|}"><span>완료</span></a></li>
                <li th:class="${lnb eq 'special' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/game/special/closing?sort=date.desc|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:if="${sysConfig.sports.canLive}" th:class="${lnb eq 'live'} ? 'on'">
            <a><em class="bul fa fa-clock-o"></em><span>실시간</span><em class="sub fa fa-chevron-circle-down"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'live' and pnb eq 'ready'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/game/live/ready|}"><span>대기</span></a></li>
                <li th:class="${lnb eq 'live' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/game/live/complete|}"><span>완료</span></a></li>
                <li th:class="${lnb eq 'live' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/game/live/closing?sort=date.desc|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'inGame' or (lnb eq 'result' and pnb eq 'inGame')} ? 'on'">
            <a><em class="bul fa fa-futbol-o"></em><span>인게임</span><em class="sub fa fa-chevron-circle-down"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'inGame' and pnb eq 'ready'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/game/inGame/ready|}"><span>리스트</span></a></li>
                <li th:class="${lnb eq 'inGame' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/game/inGame/result?sort=score.asc|}"><span>베팅</span></a></li>
                <li th:class="${lnb eq 'inGame' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/game/inGame/closing?sort=date.desc|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li sec:authorize="hasRole('ROLE_GOD')" th:class="${lnb eq 'deleted'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/game/deleted|}"><em class="bul fa fa-minus-circle color05"></em><span>삭제된 경기</span></a></li>
    </ul>
    <ul class="lnb" th:if="${gnb eq 'zone'}">
        <li th:class="${lnb eq 'ladder'} ? 'on'" th:if="${sysConfig.zone.ladder}">
            <a><em class="bul fa fa-bars"></em><span>사다리</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).ladder.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em>
            </a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'ladder' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/ladder/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'ladder' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/ladder/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'ladder' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/ladder/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'dragonTiger'} ? 'on'" th:if="${sysConfig.zone.dragonTiger}">
            <a><em class="bul fa fa-bars"></em><span>드래곤타이거</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).dragonTiger.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em>
            </a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'dragonTiger' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/dragonTiger/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'dragonTiger' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/dragonTiger/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'dragonTiger' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/dragonTiger/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'dari'} ? 'on'" th:if="${sysConfig.zone.dari}">
            <a><em class="bul fa fa-bars"></em><span>다리다리</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).dari.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'dari' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/dari/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'dari' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/dari/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'dari' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/dari/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'snail'} ? 'on'" th:if="${sysConfig.zone.snail}">
            <a><em class="bul fa fa-bars"></em><span>달팽이</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).snail.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'snail' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/snail/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'snail' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/snail/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'snail' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/snail/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'newSnail'} ? 'on'" th:if="${sysConfig.zone.newSnail}">
            <a><em class="bul fa fa-bars"></em><span>NEW달팽이</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).newSnail.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'newSnail' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/newSnail/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'newSnail' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/newSnail/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'newSnail' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/newSnail/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'power'} ? 'on'" th:if="${sysConfig.zone.power}">
            <a><em class="bul fa fa-bars"></em><span>파워볼</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).power.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'power' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/power/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'power' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/power/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'power' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/power/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'powerFreeKick'} ? 'on'" th:if="${sysConfig.zone.powerFreeKick}">
            <a><em class="bul fa fa-bars"></em><span>파워프리킥</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).powerFreeKick.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'powerFreeKick' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/powerFreeKick/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'powerFreeKick' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/powerFreeKick/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'powerFreeKick' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/powerFreeKick/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'power_ladder'} ? 'on'" th:if="${sysConfig.zone.powerLadder}">
            <a><em class="bul fa fa-bars"></em><span>파워사다리</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).powerLadder.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'power_ladder' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/power_ladder/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'power_ladder' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/power_ladder/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'power_ladder' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/power_ladder/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'kenoLadder'} ? 'on'" th:if="${sysConfig.zone.kenoLadder}">
            <a><em class="bul fa fa-bars"></em><span>키노사다리</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).kenoLadder.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'kenoLadder' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/kenoLadder/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'kenoLadder' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/kenoLadder/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'kenoLadder' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/kenoLadder/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'kenoSpeed'} ? 'on'" th:if="${sysConfig.zone.kenoSpeed}">
            <a><em class="bul fa fa-bars"></em><span>스피드키노</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).kenoSpeed.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'kenoSpeed' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/kenoSpeed/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'kenoSpeed' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/kenoSpeed/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'kenoSpeed' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/kenoSpeed/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'speedHomeRun'} ? 'on'" th:if="${sysConfig.zone.speedHomeRun}">
            <a><em class="bul fa fa-bars"></em><span>스피드홈런</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).speedHomeRun.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'speedHomeRun' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/speedHomeRun/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'speedHomeRun' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/speedHomeRun/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'speedHomeRun' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/speedHomeRun/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'aladdin'} ? 'on'" th:if="${sysConfig.zone.aladdin}">
            <a><em class="bul fa fa-bars"></em><span>알라딘</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).aladdin.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'aladdin' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/aladdin/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'aladdin' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/aladdin/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'aladdin' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/aladdin/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'lowhi'} ? 'on'" th:if="${sysConfig.zone.lowhi}">
            <a><em class="bul fa fa-bars"></em><span>로하이</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).lowhi.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'lowhi' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/lowhi/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'lowhi' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/lowhi/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'lowhi' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/lowhi/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'oddeven'} ? 'on'" th:if="${sysConfig.zone.oddeven}">
            <a><em class="bul fa fa-bars"></em><span>홀짝</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).oddeven.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'oddeven' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/oddeven/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'oddeven' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/oddeven/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'oddeven' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/oddeven/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'baccarat'} ? 'on'" th:if="${sysConfig.zone.baccarat}">
            <a><em class="bul fa fa-bars"></em><span>바카라</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).baccarat.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'baccarat' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/baccarat/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'baccarat' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/baccarat/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'baccarat' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/baccarat/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'lotusOddeven'} ? 'on'" th:if="${sysConfig.zone.lotusOddeven}">
            <a><em class="bul fa fa-bars"></em><span>로투스 홀짝</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).lotusOddeven.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'lotusOddeven' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/lotusOddeven/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'lotusOddeven' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/lotusOddeven/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'lotusOddeven' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/lotusOddeven/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'lotusBaccarat'} ? 'on'" th:if="${sysConfig.zone.lotusBaccarat}">
            <a><em class="bul fa fa-bars"></em><span>로투스 바카라</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).lotusBaccarat.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'lotusBaccarat' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/lotusBaccarat/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'lotusBaccarat' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/lotusBaccarat/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'lotusBaccarat' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/lotusBaccarat/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'lotusBaccarat2'} ? 'on'" th:if="${sysConfig.zone.lotusBaccarat2}">
            <a><em class="bul fa fa-bars"></em><span>로투스 바카라2</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).lotusBaccarat2.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'lotusBaccarat2' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/lotusBaccarat2/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'lotusBaccarat2' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/lotusBaccarat2/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'lotusBaccarat2' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/lotusBaccarat2/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'soccer'} ? 'on'" th:if="${sysConfig.zone.soccer}">
            <a><em class="bul fa fa-bars"></em><span>가상축구</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).soccer.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'soccer' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/soccer/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'soccer' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/soccer/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'soccer' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/soccer/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'dog'} ? 'on'" th:if="${sysConfig.zone.dog}">
            <a><em class="bul fa fa-bars"></em><span>개경주</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).dog.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'dog' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/dog/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'dog' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/dog/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'dog' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/dog/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'luck'} ? 'on'" th:if="${sysConfig.zone.luck}">
            <a><em class="bul fa fa-bars"></em><span>세븐럭</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).luck.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'luck' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/luck/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'luck' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/luck/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'luck' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/luck/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'binanceCoin1'} ? 'on'" th:if="${sysConfig.zone.binanceCoin1}">
            <a><em class="bul fa fa-bars"></em><span>바이낸스코인1분</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).binanceCoin1.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'binanceCoin1' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/binanceCoin1/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'binanceCoin1' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/binanceCoin1/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'binanceCoin1' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/binanceCoin1/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'binanceCoin3'} ? 'on'" th:if="${sysConfig.zone.binanceCoin3}">
            <a><em class="bul fa fa-bars"></em><span>바이낸스코인3분</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).binanceCoin3.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'binanceCoin3' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/binanceCoin3/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'binanceCoin3' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/binanceCoin3/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'binanceCoin3' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/binanceCoin3/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'roulette'} ? 'on'" th:if="${sysConfig.zone.roulette}">
            <a><em class="bul fa fa-bars"></em><span>룰렛</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).roulette.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'roulette' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/roulette/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'roulette' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/roulette/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'roulette' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/roulette/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'coreaBaccarat'} ? 'on'" th:if="${sysConfig.zone.coreaBaccarat}">
            <a><em class="bul fa fa-bars"></em><span>코리아 바카라</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).coreaBaccarat.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'coreaBaccarat' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/coreaBaccarat/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'coreaBaccarat' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/coreaBaccarat/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'coreaBaccarat' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/coreaBaccarat/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'fxGame1'} ? 'on'" th:if="${sysConfig.zone.fxGame1}">
            <a><em class="bul fa fa-bars"></em><span>FXGAME 1분</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).fxGame1.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'fxGame1' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/fxGame1/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'fxGame1' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/fxGame1/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'fxGame1' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/fxGame1/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'fxGame2'} ? 'on'" th:if="${sysConfig.zone.fxGame2}">
            <a><em class="bul fa fa-bars"></em><span>FXGAME 2분</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).fxGame2.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'fxGame2' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/fxGame2/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'fxGame2' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/fxGame2/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'fxGame2' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/fxGame2/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'fxGame3'} ? 'on'" th:if="${sysConfig.zone.fxGame3}">
            <a><em class="bul fa fa-bars"></em><span>FXGAME 3분</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).fxGame3.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'fxGame3' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/fxGame3/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'fxGame3' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/fxGame3/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'fxGame3' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/fxGame3/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'fxGame4'} ? 'on'" th:if="${sysConfig.zone.fxGame4}">
            <a><em class="bul fa fa-bars"></em><span>FXGAME 4분</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).fxGame4.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'fxGame4' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/fxGame4/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'fxGame4' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/fxGame4/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'fxGame4' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/fxGame4/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'fxGame5'} ? 'on'" th:if="${sysConfig.zone.fxGame5}">
            <a><em class="bul fa fa-bars"></em><span>FXGAME 5분</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).fxGame5.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'fxGame5' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/fxGame5/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'fxGame5' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/fxGame5/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'fxGame5' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/fxGame5/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'bogleLadder'} ? 'on'" th:if="${sysConfig.zone.bogleLadder}">
            <a><em class="bul fa fa-bars"></em><span>보글사다리</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).bogleLadder.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'bogleLadder' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/bogleLadder/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'bogleLadder' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/bogleLadder/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'bogleLadder' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/bogleLadder/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'boglePower'} ? 'on'" th:if="${sysConfig.zone.boglePower}">
            <a><em class="bul fa fa-bars"></em><span>보글파워볼</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).boglePower.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'boglePower' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/boglePower/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'boglePower' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/boglePower/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'boglePower' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/boglePower/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'graph'} ? 'on'" th:if="${sysConfig.zone.graph}">
            <a th:href="@{|${siteConfig.pathAdmin}/zone/graph/config|}"><em class="bul fa fa-bars"></em><span>그래프</span></a>
        </li>
        <li th:class="${lnb eq 'eosPower1'} ? 'on'" th:if="${sysConfig.zone.eosPower1}">
            <a><em class="bul fa fa-bars"></em><span>EOS파워볼 1분</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).eosPower1.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'eosPower1' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/eosPower1/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'eosPower1' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/eosPower1/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'eosPower1' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/eosPower1/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'eosPower2'} ? 'on'" th:if="${sysConfig.zone.eosPower2}">
            <a><em class="bul fa fa-bars"></em><span>EOS파워볼 2분</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).eosPower2.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'eosPower2' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/eosPower2/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'eosPower2' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/eosPower2/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'eosPower2' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/eosPower2/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'eosPower3'} ? 'on'" th:if="${sysConfig.zone.eosPower3}">
            <a><em class="bul fa fa-bars"></em><span>EOS파워볼 3분</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).eosPower3.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'eosPower3' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/eosPower3/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'eosPower3' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/eosPower3/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'eosPower3' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/eosPower3/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'eosPower4'} ? 'on'" th:if="${sysConfig.zone.eosPower4}">
            <a><em class="bul fa fa-bars"></em><span>EOS파워볼 4분</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).eosPower4.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'eosPower4' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/eosPower4/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'eosPower4' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/eosPower4/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'eosPower4' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/eosPower4/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'eosPower5'} ? 'on'" th:if="${sysConfig.zone.eosPower5}">
            <a><em class="bul fa fa-bars"></em><span>EOS파워볼 5분</span>
                <em th:class="'sub fa fa-power-off' + (${T(spoon.gameZone.ZoneConfig).eosPower5.enabled} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
            <ul class="lnb-sub lnb-3">
                <li th:class="${lnb eq 'eosPower5' and pnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/eosPower5/config|}"><span>설정</span></a></li>
                <li th:class="${lnb eq 'eosPower5' and pnb eq 'complete'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/eosPower5/complete|}"><span>진행</span></a></li>
                <li th:class="${lnb eq 'eosPower5' and pnb eq 'closing'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/eosPower5/closing|}"><span>종료</span></a></li>
            </ul>
        </li>
    </ul>
    <ul class="lnb" th:if="${gnb eq 'betting'}">
        <li th:class="${lnb eq 'betting'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/betting/list?result=ing&role=USER|}"><em class="bul fa fa-list"></em><span>베팅내역</span></a></li>
        <li th:class="${lnb eq 'user'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/betting/user|}"><em class="bul fa fa-user"></em><span>개인별 베팅분석</span></a></li>
        <li th:class="${lnb eq 'balance'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/betting/balance|}"><em class="bul fa fa-address-card-o"></em><span>보험내역</span></a></li>
        <li sec:authorize="hasRole('ROLE_GOD')" th:class="${lnb eq 'balance1'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/betting/balance1|}"><em class="bul fa fa-address-card-o"></em><span>보험내역 1</span></a></li>
        <li sec:authorize="hasRole('ROLE_GOD')" th:class="${lnb eq 'balance2'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/betting/balance2|}"><em class="bul fa fa-address-card-o"></em><span>보험내역 2</span></a></li>
        <li sec:authorize="hasRole('ROLE_GOD')" th:class="${lnb eq 'godBalance'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/betting/godBalance|}"><em class="bul fa fa-address-card-o"></em><span>갓보험</span></a></li>
        <li><br></li>
        <li sec:authorize="hasRole('ROLE_GOD')" th:class="${lnb eq 'powerResultList'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/betting/powerResultList|}"><em class="bul fa fa-address-card-o"></em><span>파워볼 정</span></a></li>
        <li sec:authorize="hasRole('ROLE_GOD')" th:class="${lnb eq 'powerReResultList'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/betting/powerReResultList|}"><em class="bul fa fa-address-card-o"></em><span>파워볼 역</span></a></li>
        <li sec:authorize="hasRole('ROLE_GOD')" th:class="${lnb eq 'powerLadderResultList'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/betting/powerLadderResultList|}"><em class="bul fa fa-address-card-o"></em><span>파워사다리 정</span></a></li>
        <li sec:authorize="hasRole('ROLE_GOD')" th:class="${lnb eq 'powerLadderReResultList'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/betting/powerLadderReResultList|}"><em class="bul fa fa-address-card-o"></em><span>파워사다리 역</span></a></li>
    </ul>
    <ul class="lnb" th:if="${gnb eq 'casino'}">
        <li th:class="${lnb eq 'casino'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/casino/list|}"><em class="bul fa fa-list"></em><span>베팅내역</span></a></li>
    </ul>
    <ul class="lnb" th:if="${gnb eq 'payment'}">
        <li class="sub-toggle">
            <a><em class="bul fa fa-sign-in color03"></em><span>충전</span><em class="sub fa fa-chevron-circle-down"></em></a>
            <ul class="lnb-sub">
                <li th:class="${lnb eq 'deposit' and pnb eq false} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/payment/deposit|}"><em class="bul fa fa-clock-o"></em><span>충전신청</span></a></li>
                <li th:class="${lnb eq 'deposit' and pnb eq true} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/payment/deposit/closing|}"><em class="bul fa fa-times-circle-o"></em><span>충전완료</span></a></li>
            </ul>
        </li>
        <li class="sub-toggle">
            <a><em class="bul fa fa-sign-out color03"></em><span>환전</span><em class="sub fa fa-chevron-circle-down"></em></a>
            <ul class="lnb-sub">
                <li th:class="${lnb eq 'withdraw' and pnb eq false} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/payment/withdraw|}"><em class="bul fa fa-clock-o"></em><span>환전신청</span></a></li>
                <li th:class="${lnb eq 'withdraw' and pnb eq true} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/payment/withdraw/closing|}"><em class="bul fa fa-times-circle-o"></em><span>환전완료</span></a></li>
            </ul>
        </li>
        <li th:class="${lnb eq 'money'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/payment/money|}"><em class="bul fa fa-user"></em><span>머니 변동 내역</span></a></li>
        <li th:class="${lnb eq 'point'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/payment/point|}"><em class="bul fa fa-user"></em><span>포인트 변동 내역</span></a></li>
    </ul>
    <ul class="lnb" th:if="${gnb eq 'member'}">
        <li th:class="${lnb eq 'list'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/member/list|}"><em class="bul fa fa-user"></em><span>회원 관리</span></a></li>
        <li th:class="${lnb eq 'disabled'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/member/list?mode=disabled|}"><em class="bul fa fa-user-circle"></em><span>승인대기 회원</span></a></li>
        <li th:class="${lnb eq 'secession'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/member/list?mode=secession|}"><em class="bul fa fa-user-times"></em><span>탈퇴/졸업 회원</span></a></li>
        <li th:class="${lnb eq 'dummy'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/member/list?mode=dummy|}"><em class="bul fa fa-address-card-o"></em><span>게시판 작업용</span></a></li>
        <li th:class="${lnb eq 'add'} ? 'on'"><a href="#" onclick="popup.member.add();"><em class="bul fa fa-user-plus color03"></em><span>신규회원추가</span></a></li>
        <li th:class="${lnb eq 'add'} ? 'on'"><a href="#" onclick="popup.member.dummy();"><em class="bul fa fa-user-plus color04"></em><span>게시판회원추가</span></a></li>
        <li th:class="${lnb eq 'history'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/member/history|}"><em class="bul fa fa-sign-in"></em><span>접속 로그인 현황</span></a></li>
        <li sec:authorize="hasRole('ROLE_GOD')"><a href="#" onclick="popup.member.addText();"><em class="bul fa fa-pencil-square-o color01"></em><span>회원 등록</span></a></li>
    </ul>
    <ul class="lnb" th:if="${gnb eq 'board'}">
        <li th:class="${lnb eq 'game'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/notice/list|}"><em class="bul fa fa-bullhorn"></em><span>게임상단 공지</span></a></li>
        <li th:class="${lnb eq 'notice'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/board/notice|}"><em class="bul fa fa-bullhorn"></em><span>공지사항</span></a></li>
        <li th:class="${lnb eq 'event'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/board/event|}"><em class="bul fa fa-shopping-bag"></em><span>이벤트</span></a></li>
        <li th:class="${lnb eq 'free'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/board/free|}"><em class="bul fa fa-list-alt"></em><span>자유게시판</span></a></li>
        <li th:class="${lnb eq 'comment'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/comment/list|}"><em class="bul fa fa-commenting"></em><span>댓글보기</span></a></li>
    </ul>
    <ul class="lnb" th:if="${gnb eq 'accounting'}">
        <li th:class="${lnb eq 'daily'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/accounting/daily|}"><em class="bul fa fa-calendar"></em><span>일자별 정산</span></a></li>
        <li th:class="${lnb eq 'detail'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/accounting/detail|}"><em class="bul fa fa-calendar"></em><span>상세 정산</span></a></li>
        <li th:class="${lnb eq 'casino'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/casino/point|}"><em class="bul fa fa-calendar"></em><span>카지노롤링 정산</span></a></li>
    </ul>
    <ul class="lnb" th:if="${gnb eq 'seller'}">
        <li th:class="${lnb eq 'joinCode'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/seller/joinCode|}"><em class="bul fa fa-bullhorn"></em><span>가입코드</span></a></li>
        <li th:class="${lnb eq 'share'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/seller/share|}"><em class="bul fa fa-shopping-bag"></em><span>총판 지급율 관리</span></a></li>
        <li th:class="${lnb eq 'current'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/seller/sale|}"><em class="bul fa fa-list-alt"></em><span>총판 정산 관리</span></a></li>
        <!--<li th:class="${lnb eq 'currentNew'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/seller/saleNew|}"><em class="bul fa fa-list-alt"></em><span>총판 정산 관리 NEW</span></a></li>-->
        <li th:class="${lnb eq 'sale'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/seller/sale/list|}"><em class="bul fa fa-list-alt"></em><span>총판 정산 내역</span></a></li>
    </ul>
    <ul class="lnb" th:if="${gnb eq 'config' or gnb eq 'system'}">
        <li sec:authorize="hasRole('ROLE_GOD')" th:class="${lnb eq 'system'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/system/config|}"><em class="bul fa fa-wrench"></em><span>시스템 설정</span></a></li>
        <li sec:authorize="hasRole('ROLE_GOD')" th:class="${lnb eq 'change'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/system/change|}"><em class="bul fa fa-user-plus"></em><span>마이그레이션</span></a></li>
        <li th:class="${lnb eq 'site'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/config/site|}"><em class="bul fa fa-cog"></em><span>기본 환경 설정</span></a></li>
        <li th:class="${lnb eq 'game'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/config/game|}"><em class="bul fa fa-cog"></em><span>스포츠 환경 설정</span></a></li>
        <li th:class="${lnb eq 'sports'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/config/sports|}"><em class="bul fa fa-futbol-o"></em><span>종목 설정</span></a></li>
        <li th:class="${lnb eq 'league'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/config/league|}"><em class="bul fa fa-pencil-square-o"></em><span>리그 설정</span></a></li>
        <li th:class="${lnb eq 'team'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/config/team|}"><em class="bul fa fa-trophy"></em><span>팀명 설정</span></a></li>
    </ul>
    <ul class="lnb" th:if="${gnb eq 'customer'}">
        <li th:class="${lnb eq 'qna'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/customer/qna|}"><em class="bul fa fa-desktop"></em><span>고객센터</span></a></li>
        <li th:class="${lnb eq 'memo'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/customer/memo|}"><em class="bul fa fa-envelope"></em><span>쪽지확인</span></a></li>
        <li th:class="${lnb eq 'rolling'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/customer/rolling|}"><em class="bul fa fa-lock"></em><span>상단 한줄 공지</span></a></li>
        <li th:class="${lnb eq 'popup'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/customer/popup|}"><em class="bul fa fa-lock"></em><span>팝업 관리</span></a></li>
        <li th:class="${lnb eq 'admin'} ? 'on'">
            <a th:href="@{|${siteConfig.pathAdmin}/customer/ip/admin|}"><em class="bul fa fa-unlock"></em><span>관리자 IP 허용</span>
                <em th:class="'sub fa fa-power-off' + (${siteConfig.ipAdmin} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
        </li>
        <li th:class="${lnb eq 'user'} ? 'on'">
            <a th:href="@{|${siteConfig.pathAdmin}/customer/ip/user|}"><em class="bul fa fa-lock"></em><span>사용자 IP 제한</span>
                <em th:class="'sub fa fa-power-off' + (${siteConfig.ipUser} ? ' color01' : ' color05')" aria-hidden="true"></em></a>
        </li>
        <li th:class="${lnb eq 'auto'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/customer/auto|}"><em class="bul fa fa-cutlery"></em><span>고객 응대 설정</span></a></li>
        <li th:class="${lnb eq 'join'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/customer/join|}"><em class="bul fa fa-cog"></em><span>회원가입 자동쪽지</span></a></li>
    </ul>
    <ul class="lnb" th:if="${gnb eq 'event'}">
        <li th:if="${sysConfig.event.daily}" th:class="${lnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/event/daily/config|}"><em class="bul fa fa-desktop"></em><span>출석체크 설정</span></a></li>
        <li th:if="${sysConfig.event.daily}" th:class="${lnb eq 'win'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/event/daily/win|}"><em class="bul fa fa-envelope"></em><span>출석체크 회원</span></a></li>
        <li th:if="${sysConfig.event.lotto}" th:class="${lnb eq 'lotto'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/event/lotto/config|}"><em class="bul fa fa-desktop"></em><span>복권 설정</span></a></li>
        <li th:if="${sysConfig.event.lotto}" th:class="${lnb eq 'lottoList'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/event/lotto/list|}"><em class="bul fa fa-desktop"></em><span>복권 리스트</span></a></li>
    </ul>
    <ul class="lnb" th:if="${gnb eq 'report'}">
        <li th:class="${lnb eq 'report'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/report/list|}"><em class="bul fa fa-list"></em><span>리포트</span></a></li>
    </ul>
</div>
<div th:fragment="javascript" th:remove="tag">
    <script th:src="@{|/js/common.js?v=${siteConfig.version}|}"></script>
    <script th:if="${mode ne 'login'}" th:src="@{|/js/common.admin.js?v=${siteConfig.version}|}"></script>
</div>
</body>
</html>