<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="paging" th:fragment="paging(p)" th:remove="tag">
        <a class="prev" th:onclick="|goPage(${p.first ? 1 : p.number});return false;|">이전페이지</a>
        <em>
            <span th:text="${p.number + 1}" th:remove="tag"></span> /
            <span class="color02" th:text="${p.totalPages}"></span>
        </em>
        <a class="next" th:onclick="|goPage(${p.totalPages > p.number + 2 ? p.number + 2 : p.totalPages});return false;|">다음페이지</a>
    </ul>
</div>
<div th:fragment="level(lv)" th:remove="tag">
    <embed class="vMiddle" th:src="'/images/lv/lv'+${lv}+'.gif'" width="35"></embed>
    <!--<span th:class="'lv lv' + ${lv}" th:text="'Lv.' + ${lv}">Lv.1</span>-->
</div>
<div th:fragment="level2(lv)" th:remove="tag">
    <embed class="vMiddle" th:src="'/images/lv/lv'+${lv}+'.gif'" width="35"></embed>
    <!--<span th:class="'lv lv' + ${lv}" th:text="'Lv.' + ${lv}">Lv.1</span>-->
</div>
<div class="tab-menu" th:fragment="score">
    <div class="tab-menu-wrap">
        <a th:class="${lnb eq 'cross'} ? 'on'" th:href="@{|${siteConfig.pathSite}/score/cross|}">크로스</a>
        <a th:class="${lnb eq 'special'} ? 'on'" th:href="@{|${siteConfig.pathSite}/score/special|}">스페셜</a>
        <a th:if="${sysConfig.sports.canLive}" th:class="${lnb eq 'live'} ? 'on'" th:href="@{|${siteConfig.pathSite}/score/live|}">실시간</a>
        <a th:class="${gnb eq 'score' and lnb eq 'ladder'} ? 'on'" th:if="${sysConfig.zone.ladder}" th:href="@{|${siteConfig.pathSite}/zone/ladder/score|}">사다리</a>
        <a th:class="${gnb eq 'score' and lnb eq 'dari'} ? 'on'" th:if="${sysConfig.zone.dari}" th:href="@{|${siteConfig.pathSite}/zone/dari/score|}">다리다리</a>
        <a th:class="${gnb eq 'score' and lnb eq 'snail'} ? 'on'" th:if="${sysConfig.zone.snail}" th:href="@{|${siteConfig.pathSite}/zone/snail/score|}">달팽이</a>
        <a th:class="${gnb eq 'score' and lnb eq 'newSnail'} ? 'on'" th:if="${sysConfig.zone.newSnail}" th:href="@{|${siteConfig.pathSite}/zone/newSnail/score|}">뉴달팽이</a>
        <a th:class="${gnb eq 'score' and lnb eq 'power'} ? 'on'" th:if="${sysConfig.zone.power}" th:href="@{|${siteConfig.pathSite}/zone/power/score|}">파워볼</a>
        <a th:class="${gnb eq 'score' and lnb eq 'powerFreeKick'} ? 'on'" th:if="${sysConfig.zone.powerFreeKick}" th:href="@{|${siteConfig.pathSite}/zone/powerFreeKick/score|}">파워프리킥</a>
        <a th:class="${gnb eq 'score' and lnb eq 'power_ladder'} ? 'on'" th:if="${sysConfig.zone.powerLadder}" th:href="@{|${siteConfig.pathSite}/zone/power_ladder/score|}">파워사다리</a>
        <a th:class="${gnb eq 'score' and lnb eq 'fxGame1'} ? 'on'" th:if="${sysConfig.zone.fxGame1 and T(spoon.gameZone.ZoneConfig).fxGame1.enabled}" th:href="@{|${siteConfig.pathSite}/zone/fxGame1/score|}">FX게임1분</a>
        <a th:class="${gnb eq 'score' and lnb eq 'fxGame2'} ? 'on'" th:if="${sysConfig.zone.fxGame2 and T(spoon.gameZone.ZoneConfig).fxGame2.enabled}" th:href="@{|${siteConfig.pathSite}/zone/fxGame2/score|}">FX게임2분</a>
        <a th:class="${gnb eq 'score' and lnb eq 'fxGame3'} ? 'on'" th:if="${sysConfig.zone.fxGame3 and T(spoon.gameZone.ZoneConfig).fxGame3.enabled}" th:href="@{|${siteConfig.pathSite}/zone/fxGame3/score|}">FX게임3분</a>
        <a th:class="${gnb eq 'score' and lnb eq 'fxGame4'} ? 'on'" th:if="${sysConfig.zone.fxGame4 and T(spoon.gameZone.ZoneConfig).fxGame4.enabled}" th:href="@{|${siteConfig.pathSite}/zone/fxGame4/score|}">FX게임4분</a>
        <a th:class="${gnb eq 'score' and lnb eq 'fxGame5'} ? 'on'" th:if="${sysConfig.zone.fxGame5 and T(spoon.gameZone.ZoneConfig).fxGame5.enabled}" th:href="@{|${siteConfig.pathSite}/zone/fxGame5/score|}">FX게임5분</a>
        <a th:class="${gnb eq 'score' and lnb eq 'eosPower1'} ? 'on'" th:if="${sysConfig.zone.eosPower1 and T(spoon.gameZone.ZoneConfig).eosPower1.enabled}" th:href="@{|${siteConfig.pathSite}/zone/eosPower1/score|}">EOS파워볼1분</a>
        <a th:class="${gnb eq 'score' and lnb eq 'eosPower2'} ? 'on'" th:if="${sysConfig.zone.eosPower2 and T(spoon.gameZone.ZoneConfig).eosPower2.enabled}" th:href="@{|${siteConfig.pathSite}/zone/eosPower2/score|}">EOS파워볼2분</a>
        <a th:class="${gnb eq 'score' and lnb eq 'eosPower3'} ? 'on'" th:if="${sysConfig.zone.eosPower3 and T(spoon.gameZone.ZoneConfig).eosPower3.enabled}" th:href="@{|${siteConfig.pathSite}/zone/eosPower3/score|}">EOS파워볼3분</a>
        <a th:class="${gnb eq 'score' and lnb eq 'eosPower4'} ? 'on'" th:if="${sysConfig.zone.eosPower4 and T(spoon.gameZone.ZoneConfig).eosPower4.enabled}" th:href="@{|${siteConfig.pathSite}/zone/eosPower4/score|}">EOS파워볼4분</a>
        <a th:class="${gnb eq 'score' and lnb eq 'eosPower5'} ? 'on'" th:if="${sysConfig.zone.eosPower5 and T(spoon.gameZone.ZoneConfig).eosPower5.enabled}" th:href="@{|${siteConfig.pathSite}/zone/eosPower5/score|}">EOS파워볼5분</a>
        <a th:class="${gnb eq 'score' and lnb eq 'aladdin'} ? 'on'" th:if="${sysConfig.zone.aladdin}" th:href="@{|${siteConfig.pathSite}/zone/aladdin/score|}">알라딘</a>
        <a th:class="${gnb eq 'score' and lnb eq 'lowhi'} ? 'on'" th:if="${sysConfig.zone.lowhi}" th:href="@{|${siteConfig.pathSite}/zone/lowhi/score|}">로하이</a>
        <a th:class="${gnb eq 'score' and lnb eq 'kenoLadder'} ? 'on'" th:if="${sysConfig.zone.kenoLadder}" th:href="@{|${siteConfig.pathSite}/zone/kenoLadder/score|}">키노사다리</a>
        <a th:class="${gnb eq 'score' and lnb eq 'kenoSpeed'} ? 'on'" th:if="${sysConfig.zone.kenoSpeed}" th:href="@{|${siteConfig.pathSite}/zone/kenoSpeed/score|}">스피드키노</a>
        <a th:class="${gnb eq 'score' and lnb eq 'speedHomeRun'} ? 'on'" th:if="${sysConfig.zone.speedHomeRun}" th:href="@{|${siteConfig.pathSite}/zone/speedHomeRun/score|}">스피드홈런</a>
        <a th:class="${gnb eq 'score' and lnb eq 'oddeven'} ? 'on'" th:if="${sysConfig.zone.oddeven}" th:href="@{|${siteConfig.pathSite}/zone/oddeven/score|}">홀짝</a>
        <a th:class="${gnb eq 'score' and lnb eq 'baccarat'} ? 'on'" th:if="${sysConfig.zone.baccarat}" th:href="@{|${siteConfig.pathSite}/zone/baccarat/score|}">바카라</a>
        <a th:class="${gnb eq 'score' and lnb eq 'lotusOddeven'} ? 'on'" th:if="${sysConfig.zone.lotusOddeven}" th:href="@{|${siteConfig.pathSite}/zone/lotusOddeven/score|}">로투스홀짝</a>
        <a th:class="${gnb eq 'score' and lnb eq 'lotusBaccarat'} ? 'on'" th:if="${sysConfig.zone.lotusBaccarat}" th:href="@{|${siteConfig.pathSite}/zone/lotusBaccarat/score|}">로투스바카라</a>
        <a th:class="${gnb eq 'score' and lnb eq 'lotusBaccarat2'} ? 'on'" th:if="${sysConfig.zone.lotusBaccarat2}" th:href="@{|${siteConfig.pathSite}/zone/lotusBaccarat2/score|}">로투스바카라2</a>
        <a th:class="${gnb eq 'score' and lnb eq 'soccer'} ? 'on'" th:if="${sysConfig.zone.soccer}" th:href="@{|${siteConfig.pathSite}/zone/soccer/score|}">가상축구</a>
        <a th:class="${gnb eq 'score' and lnb eq 'dog'} ? 'on'" th:if="${sysConfig.zone.dog}" th:href="@{|${siteConfig.pathSite}/zone/dog/score|}">개경주</a>
        <a th:class="${gnb eq 'score' and lnb eq 'luck'} ? 'on'" th:if="${sysConfig.zone.luck}" th:href="@{|${siteConfig.pathSite}/zone/luck/score|}">세븐럭</a>
        <a th:class="${gnb eq 'score' and lnb eq 'coreaBaccarat'} ? 'on'" th:if="${sysConfig.zone.coreaBaccarat}" th:href="@{|${siteConfig.pathSite}/zone/coreaBaccarat/score|}">코리아 바카라</a>
        <a th:class="${gnb eq 'score' and lnb eq 'roulette'} ? 'on'" th:if="${sysConfig.zone.roulette}" th:href="@{|${siteConfig.pathSite}/zone/roulette/score|}">코리아 룰렛</a>
        <a th:class="${gnb eq 'score' and lnb eq 'dragonTiger'} ? 'on'" th:if="${sysConfig.zone.dragonTiger}" th:href="@{|${siteConfig.pathSite}/zone/dragonTiger/score|}">드래곤타이거</a>
        <a th:class="${gnb eq 'score' and lnb eq 'binanceCoin1'} ? 'on'" th:if="${sysConfig.zone.binanceCoin1}" th:href="@{|${siteConfig.pathSite}/zone/binanceCoin1/score|}">코인1분</a>
        <a th:class="${gnb eq 'score' and lnb eq 'binanceCoin3'} ? 'on'" th:if="${sysConfig.zone.binanceCoin3}" th:href="@{|${siteConfig.pathSite}/zone/binanceCoin3/score|}">코인3분</a>

    </div>
</div>



<div class="tab-menu" th:fragment="miniGame" style="height: 190px;">
    <ul class="result_menu">
        <li th:if="${sysConfig.zone.power and T(spoon.gameZone.ZoneConfig).power.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/power|}">파워볼</a></li>
        <li th:if="${sysConfig.zone.powerLadder and T(spoon.gameZone.ZoneConfig).powerLadder.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/power_ladder|}">파워사다리</a></li>
        <li th:if="${sysConfig.zone.powerFreeKick and T(spoon.gameZone.ZoneConfig).powerFreeKick.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/powerFreeKick|}">파워프리킥</a></li>
        <li th:if="${sysConfig.zone.kenoLadder and T(spoon.gameZone.ZoneConfig).kenoLadder.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/kenoLadder|}">키노사다리</a></li>
        <li th:if="${sysConfig.zone.kenoSpeed and T(spoon.gameZone.ZoneConfig).kenoSpeed.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/kenoSpeed|}">스피드키노</a></li>
        <li th:if="${sysConfig.zone.speedHomeRun and T(spoon.gameZone.ZoneConfig).speedHomeRun.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/speedHomeRun|}">스피드홈런</a></li>
        <li th:if="${sysConfig.zone.ladder and T(spoon.gameZone.ZoneConfig).ladder.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/ladder|}">사다리</a></li>
        <li th:if="${sysConfig.zone.dari and T(spoon.gameZone.ZoneConfig).dari.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/dari|}">다리다리</a></li>
        <li th:if="${sysConfig.zone.newSnail and T(spoon.gameZone.ZoneConfig).newSnail.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/newSnail|}">NEW달팽이</a></li>
        <li th:if="${sysConfig.zone.soccer and T(spoon.gameZone.ZoneConfig).soccer.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/soccer|}">가상축구</a></li>
        <li th:if="${sysConfig.zone.dog and T(spoon.gameZone.ZoneConfig).dog.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/dog|}">개경주</a></li>
        <li th:if="${sysConfig.zone.fxGame1 and T(spoon.gameZone.ZoneConfig).fxGame1.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/fxGame1|}">FX게임1분</a></li>
        <li th:if="${sysConfig.zone.fxGame2 and T(spoon.gameZone.ZoneConfig).fxGame2.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/fxGame2|}">FX게임2분</a></li>
        <li th:if="${sysConfig.zone.fxGame3 and T(spoon.gameZone.ZoneConfig).fxGame3.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/fxGame3|}">FX게임3분</a></li>
        <li th:if="${sysConfig.zone.fxGame4 and T(spoon.gameZone.ZoneConfig).fxGame4.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/fxGame4|}">FX게임4분</a></li>
        <li th:if="${sysConfig.zone.fxGame5 and T(spoon.gameZone.ZoneConfig).fxGame5.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/fxGame5|}">FX게임5분</a></li>
        <li th:if="${sysConfig.zone.eosPower1 and T(spoon.gameZone.ZoneConfig).eosPower1.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/eosPower1|}">EOS파워볼1분</a></li>
        <li th:if="${sysConfig.zone.eosPower2 and T(spoon.gameZone.ZoneConfig).eosPower2.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/eosPower2|}">EOS파워볼2분</a></li>
        <li th:if="${sysConfig.zone.eosPower3 and T(spoon.gameZone.ZoneConfig).eosPower3.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/eosPower3|}">EOS파워볼3분</a></li>
        <li th:if="${sysConfig.zone.eosPower4 and T(spoon.gameZone.ZoneConfig).eosPower4.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/eosPower4|}">EOS파워볼4분</a></li>
        <li th:if="${sysConfig.zone.eosPower5 and T(spoon.gameZone.ZoneConfig).eosPower5.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/eosPower5|}">EOS파워볼5분</a></li>
        <li th:if="${sysConfig.zone.bogleLadder and T(spoon.gameZone.ZoneConfig).bogleLadder.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/bogleLadder|}">보글사다리</a></li>
        <li th:if="${sysConfig.zone.boglePower and T(spoon.gameZone.ZoneConfig).boglePower.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/boglePower|}">보글파워볼</a></li>
        <li th:if="${sysConfig.zone.oddeven and T(spoon.gameZone.ZoneConfig).oddeven.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/oddeven|}">MGM홀짝</a></li>
        <li th:if="${sysConfig.zone.baccarat and T(spoon.gameZone.ZoneConfig).baccarat.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/baccarat|}">MGM바카라</a></li>
        <li th:if="${sysConfig.zone.lotusOddeven and T(spoon.gameZone.ZoneConfig).lotusOddeven.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/lotusOddeven|}">로투스홀짝</a></li>
        <li th:if="${sysConfig.zone.lotusBaccarat and T(spoon.gameZone.ZoneConfig).lotusBaccarat.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/lotusBaccarat|}">로투스바카라Ⅰ</a></li>
        <li th:if="${sysConfig.zone.lotusBaccarat2 and T(spoon.gameZone.ZoneConfig).lotusBaccarat2.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/lotusBaccarat2|}">로투스바카라Ⅱ</a></li>
        <li th:if="${sysConfig.zone.binanceCoin1 and T(spoon.gameZone.ZoneConfig).binanceCoin1.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/binanceCoin1|}">바이낸스1분</a></li>
        <li th:if="${sysConfig.zone.coreaBaccarat and T(spoon.gameZone.ZoneConfig).coreaBaccarat.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/coreaBaccarat|}">코리아 바카라</a></li>
        <li th:if="${sysConfig.zone.roulette and T(spoon.gameZone.ZoneConfig).roulette.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/roulette|}">코리아 룰렛</a></li>
        <li th:if="${sysConfig.zone.dragonTiger and T(spoon.gameZone.ZoneConfig).dragonTiger.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/dragonTiger|}">드래곤타이거</a></li>
        <li th:if="${sysConfig.zone.soccer and T(spoon.gameZone.ZoneConfig).soccer.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/soccer|}">가상축구</a></li>
        <li th:if="${sysConfig.zone.dog and T(spoon.gameZone.ZoneConfig).dog.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/dog|}">개경주</a></li>
    </ul>
    <!--<div style="position: fixed"><img src="/images/scroll.png" width="100%" height="12px"></div>

    <div class="tab-menu-wrap">
        <a th:class="${gnb eq 'zone' and lnb eq 'ladder'} ? 'on'" th:if="${sysConfig.zone.ladder and T(spoon.gameZone.ZoneConfig).ladder.enabled}" href="javascript:alert('해당 게임은 점검 중 입니다.')">사다리</a>
        <a th:class="${gnb eq 'zone' and lnb eq 'dari'} ? 'on'" th:if="${sysConfig.zone.dari and T(spoon.gameZone.ZoneConfig).dari.enabled}" href="javascript:alert('해당 게임은 점검 중 입니다.')">다리다리</a>
        <a th:class="${gnb eq 'zone' and lnb eq 'newSnail'} ? 'on'" th:if="${sysConfig.zone.newSnail and T(spoon.gameZone.ZoneConfig).newSnail.enabled}" href="javascript:alert('해당 게임은 점검 중 입니다.')">NEW달팽이</a>
        <a th:class="${gnb eq 'zone' and lnb eq 'power'} ? 'on'" th:if="${sysConfig.zone.power}" th:href="@{|${siteConfig.pathSite}/zone/power|}">파워볼</a>
        <a th:class="${gnb eq 'zone' and lnb eq 'powerFreeKick'} ? 'on'" th:if="${sysConfig.zone.powerFreeKick}" th:href="@{|${siteConfig.pathSite}/zone/powerFreeKick|}">파워프리킥</a>
        <a th:class="${gnb eq 'zone' and lnb eq 'power_ladder'} ? 'on'" th:if="${sysConfig.zone.powerLadder}" th:href="@{|${siteConfig.pathSite}/zone/power_ladder|}">파워사다리</a>
        <a th:class="${gnb eq 'zone' and lnb eq 'fxGame1'} ? 'on'" th:if="${sysConfig.zone.fxGame1}" th:href="@{|${siteConfig.pathSite}/zone/fxGame1|}">FX게임1분</a>
        <a th:class="${gnb eq 'zone' and lnb eq 'fxGame2'} ? 'on'" th:if="${sysConfig.zone.fxGame2}" th:href="@{|${siteConfig.pathSite}/zone/fxGame2|}">FX게임2분</a>
        <a th:class="${gnb eq 'zone' and lnb eq 'fxGame3'} ? 'on'" th:if="${sysConfig.zone.fxGame3}" th:href="@{|${siteConfig.pathSite}/zone/fxGame3|}">FX게임3분</a>
        <a th:class="${gnb eq 'zone' and lnb eq 'aladdin'} ? 'on'" th:if="${sysConfig.zone.aladdin}" th:href="@{|${siteConfig.pathSite}/zone/aladdin/score|}">알라딘</a>
        <a th:class="${gnb eq 'zone' and lnb eq 'lowhi'} ? 'on'" th:if="${sysConfig.zone.lowhi and T(spoon.gameZone.ZoneConfig).lowhi.enabled}" th:href="@{|${siteConfig.pathSite}/zone/lowhi/score|}">로하이</a>
        <a th:class="${gnb eq 'zone' and lnb eq 'kenoLadder'} ? 'on'" th:if="${sysConfig.zone.kenoLadder}" th:href="@{|${siteConfig.pathSite}/zone/kenoLadder|}">키노사다리</a>
        <a th:class="${gnb eq 'zone' and lnb eq 'kenoSpeed'} ? 'on'" th:if="${sysConfig.zone.kenoSpeed}" th:href="@{|${siteConfig.pathSite}/zone/kenoSpeed|}">스피드키노</a>
        <a th:class="${gnb eq 'zone' and lnb eq 'speedHomeRun'} ? 'on'" th:if="${sysConfig.zone.speedHomeRun and T(spoon.gameZone.ZoneConfig).speedHomeRun.enabled}" th:href="@{|${siteConfig.pathSite}/zone/speedHomeRun|}">스피드홈런</a>
        <a th:class="${gnb eq 'zone' and lnb eq 'oddeven'} ? 'on'" th:if="${sysConfig.zone.oddeven}" th:href="@{|${siteConfig.pathSite}/zone/oddeven|}">홀짝</a>
        <a th:class="${gnb eq 'zone' and lnb eq 'baccarat'} ? 'on'" th:if="${sysConfig.zone.baccarat}" th:href="@{|${siteConfig.pathSite}/zone/baccarat|}">바카라</a>
        <a th:class="${gnb eq 'zone' and lnb eq 'lotusOddeven'} ? 'on'" th:if="${sysConfig.zone.lotusOddeven}" th:href="@{|${siteConfig.pathSite}/zone/lotusOddeven|}">로투스홀짝</a>
        <a th:class="${gnb eq 'zone' and lnb eq 'lotusBaccarat'} ? 'on'" th:if="${sysConfig.zone.lotusBaccarat}" th:href="@{|${siteConfig.pathSite}/zone/lotusBaccarat|}">로투스바카라Ⅰ</a>
        <a th:class="${gnb eq 'zone' and lnb eq 'lotusBaccarat2'} ? 'on'" th:if="${sysConfig.zone.lotusBaccarat2}" th:href="@{|${siteConfig.pathSite}/zone/lotusBaccarat2|}">로투스바카라Ⅱ</a>
        <a th:class="${gnb eq 'zone' and lnb eq 'soccer'} ? 'on'" th:if="${sysConfig.zone.soccer}" th:href="@{|${siteConfig.pathSite}/zone/soccer|}">가상축구</a>
        <a th:class="${gnb eq 'zone' and lnb eq 'dog'} ? 'on'" th:if="${sysConfig.zone.dog}" th:href="@{|${siteConfig.pathSite}/zone/dog|}">개경주</a>
        <a th:class="${gnb eq 'zone' and lnb eq 'coreaBaccarat'} ? 'on'" th:if="${sysConfig.zone.coreaBaccarat}" th:href="@{|${siteConfig.pathSite}/zone/coreaBaccarat|}">코리아 바카라</a>
        <a th:class="${gnb eq 'zone' and lnb eq 'roulette'} ? 'on'" th:if="${sysConfig.zone.roulette}" th:href="@{|${siteConfig.pathSite}/zone/roulette|}">코리아 룰렛</a>
        <a th:class="${gnb eq 'zone' and lnb eq 'dragonTiger'} ? 'on'" th:if="${sysConfig.zone.dragonTiger}" th:href="@{|${siteConfig.pathSite}/zone/dragonTiger|}">드래곤타이거</a>
        <a th:class="${gnb eq 'zone' and lnb eq 'binanceCoin1'} ? 'on'" th:if="${sysConfig.zone.binanceCoin1}" th:href="@{|${siteConfig.pathSite}/zone/binanceCoin1|}">바이낸스코인 1분</a>
        <a th:class="${gnb eq 'zone' and lnb eq 'binanceCoin3'} ? 'on'" th:if="${sysConfig.zone.binanceCoin3}" th:href="@{|${siteConfig.pathSite}/zone/binanceCoin3|}">바이낸스코인 3분</a>

    </div>-->
</div>
<div class="tab-menu" th:fragment="mini" style="height: 190px;margin-bottom: -100px">
    <ul class="result_menu">
        <li th:if="${sysConfig.zone.power and T(spoon.gameZone.ZoneConfig).power.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/power|}">파워볼</a></li>
        <li th:if="${sysConfig.zone.powerFreeKick and T(spoon.gameZone.ZoneConfig).powerFreeKick.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/powerFreeKick|}">파워프리킥</a></li>
        <li th:if="${sysConfig.zone.powerLadder and T(spoon.gameZone.ZoneConfig).powerLadder.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/power_ladder|}">파워사다리</a></li>
        <li th:if="${sysConfig.zone.kenoLadder and T(spoon.gameZone.ZoneConfig).kenoLadder.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/kenoLadder|}">키노사다리</a></li>
        <li th:if="${sysConfig.zone.kenoSpeed and T(spoon.gameZone.ZoneConfig).kenoSpeed.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/kenoSpeed|}">스피드키노</a></li>
        <li th:if="${sysConfig.zone.speedHomeRun and T(spoon.gameZone.ZoneConfig).speedHomeRun.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/speedHomeRun|}">스피드홈런</a></li>
    </ul>
</div>
<div class="tab-menu" th:fragment="named" style="height: 190px;margin-bottom: -100px">
    <ul class="result_menu">
        <li th:if="${sysConfig.zone.ladder and T(spoon.gameZone.ZoneConfig).ladder.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/ladder|}">사다리</a></li>
        <li th:if="${sysConfig.zone.dari and T(spoon.gameZone.ZoneConfig).dari.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/dari|}">다리다리</a></li>
    </ul>
</div>
<div class="tab-menu" th:fragment="bet365" style="height: 190px;margin-bottom: -100px">
    <ul class="result_menu">
        <li th:if="${sysConfig.zone.soccer and T(spoon.gameZone.ZoneConfig).soccer.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/soccer|}">가상축구</a></li>
        <li th:if="${sysConfig.zone.dog and T(spoon.gameZone.ZoneConfig).dog.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/dog|}">개경주</a></li>
    </ul>
</div>
<div class="tab-menu" th:fragment="customer">
    <div class="tab-menu-wrap">
        <a th:class="${lnb eq 'qna'} ? 'on'" th:href="@{|${siteConfig.pathSite}/customer/qna|}">고객센터</a>
        <a th:class="${lnb eq 'memo'} ? 'on'" th:href="@{|${siteConfig.pathSite}/customer/memo|}">메시지함</a>
        <!--<a th:class="${lnb eq 'bet'} ? 'on'" th:href="@{|${siteConfig.pathSite}/customer/guide/bet1|}">베팅규정</a>-->
        <!--<a th:class="${lnb eq 'rule'} ? 'on'" th:href="@{|${siteConfig.pathSite}/customer/guide/rule1|}">게임규칙</a>-->
    </div>
</div>
</html>