<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${siteConfig.companyName}">mevius</title>
    <link rel="shortcut icon" th:href="@{|/images/favicon.ico?v=${siteConfig.version}|}"/>
    <link rel="stylesheet" th:href="@{|/css/font-awesome.min.css?v=${siteConfig.version}|}"/>
    <link rel="stylesheet" th:href="@{|/css/flipclock.css?v=${siteConfig.version}|}"/>
    <link rel="stylesheet" th:href="@{|/css/style.css?v=${siteConfig.version}|}"/>
    <link rel="stylesheet" th:href="@{|/css/jquery-ui.min.css?v=${siteConfig.version}|}"/>
    <script th:src="@{|/js/jquery-3.1.1.min.js?v=${siteConfig.version}|}"></script>
    <script th:src="@{|/js/jquery-ui.min.js?v=${siteConfig.version}|}"></script>
    <script th:src="@{|/js/flipclock.min.js?v=${siteConfig.version}|}"></script>
    <script th:src="@{|/js/angular.min.js?v=${siteConfig.version}|}"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="/html/daybet/css/jquery.simplyscroll.css" media="all" type="text/css">
    <script type="text/javascript" src="/html/daybet/js/jquery.simplyscroll.js"></script>
    <style>
        .logoutBtn {display:block; width:130px; height:30px;
            color: #000;text-align:center; font-weight:bold; font-size:10px; line-height:30px; overflow:hidden; transition:.2s;background:#00c1f4;margin-left: 560px;margin-top: -20px;border-radius: 5px}
        .logoutBtn:hover {width:130px; background: #339af4;border-radius: 5px}
    </style>
</head>
<body>
<div th:fragment="gnb" th:remove="tag">
        <div class="user_info">
            <span th:replace="fragments/site :: level(lv=${user.level})"></span>
            <span class="userid" th:text="${user.nickname}">함주나</span><span>님 환영합니다.</span>
            <span class="money">보유머니 <em th:text="${tag.num(user.money)}" id="user-money">1,000,000</em>원</span>
            <a href="#" onclick="point.exchange();return false;"><span class="point">포인트 <em th:text="${tag.num(user.point)}" id="user-point">1,000</em>점</span></a>
            <!--<a th:href="@{|${siteConfig.pathSite}/customer/qna|}" class="qna">고객센터 <em th:text="${tag.num(user.qna)}" id="user-qna">1</em>건</a>-->
        </div>
        <div class="user_info2">
            <a th:href="@{|${siteConfig.pathSite}/customer/memo|}" class="memo">메시지함 <em th:text="${tag.num(user.memo)}" id="user-memo">1</em>건</a>
            <a th:if="${sysConfig.event.lotto}" th:href="@{|${siteConfig.pathSite}/event/lotto|}" class="memo">룰렛복권 <em th:text="${tag.num(user.lotto)}" id="user-lotto">1</em>장</a>
            <!--<a href="#" onclick="point.exchange();return false;"><img src="/images/pointchbtn.png" class="imgOver"></a>-->
            <!--<a th:href="@{|${siteConfig.pathSite}/recommender|}"><img src="/images/friendslist.png" class="imgOver"></a>-->
            <!--<img th:onclick="|location.href='${siteConfig.pathSite}/payment/deposit'|" style="cursor: pointer" src="/images/deposit-btn.png">
            <img th:onclick="|location.href='${siteConfig.pathSite}/payment/withdraw'|" style="cursor: pointer" src="/images/widraw-btn.png">-->
            <!--<a href="/logout" th:if="${user.userid ne 'GUEST'}"><img src="/images/logoutbtn.png" class="imgOver"></a>-->
            <!--<a href="/logout" th:if="${user.userid eq 'GUEST'}"><img src="/images/logInbtn.png" class="imgOver"></a>-->
            <a href="/logout" th:if="${user.userid ne 'GUEST'}"><em class="logoutBtn">LOG OUT</em></a>
        </div>
    <a th:href="@{|${siteConfig.pathSite}/main|}" style="margin-left: 580px;margin-top: 0px;width: 200px;" class="logo_top">
        <img src="/images/logo_login.png?3" alt="soul"/>
    </a>
    <ul style="margin-left: 228px;">
        <li th:class="${gnb eq 'cross' and sports ne 'e스포츠'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/game/cross|}">크로스</a></li>
        <li th:class="${gnb eq 'special'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/game/special|}">스페셜</a></li>

        <!--<li th:if="${!sysConfig.zone.gnb.empty}" th:class="${gnb eq 'mgm'} ? 'on'">-->
        <!--<li th:class="${sType eq 'SC1' or sType eq 'SC2'} ? 'on'">
            &lt;!&ndash;<a>MGM</a>&ndash;&gt;
            <a>스타크래프트</a>
            <ul class="sub">
                <li th:class="${sports eq 'SC1'} ? 'on'" ><a th:href="@{|${siteConfig.pathSite}/game/cross?sType=SC1|}">스타1</a></li>
                <li th:class="${sType eq 'SC2'} ? 'on'" ><a th:href="@{|${siteConfig.pathSite}/game/cross?sType=SC2|}">스타2</a></li>
            </ul>
        </li>-->
        <!--<li th:class="${gnb eq 'cross' and sports eq 'e스포츠'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/game/cross?sports=e스포츠|}">E-스포츠</a></li>-->
        <!--<li th:class="${gnb eq 'live'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/game/live|}">실시간</a></li>-->
        <!--<li th:if="${sysConfig.sports.inGame eq 'inGame'}" th:class="${gnb eq 'inGame'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/game/inGame|}">인게임</a></li>-->
        <!--<li th:if="!${sysConfig.sports.inGame eq 'inGame'}" th:class="${gnb eq 'inGame'} ? 'on'"><a href="javascript:alert('인게임은 현재 점검중입니다.')">인게임</a></li>-->
        <li th:if="${sysConfig.casino.enabled}" th:class="${gnb eq 'liveCasino'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/casino/liveCasino|}">LIVE카지노</a></li>
        <!--<li th:if="${!sysConfig.casino.enabled}" th:class="${gnb eq 'liveCasino'} ? 'on'"><a href="javascript:alert('현재 점검중입니다.')">LIVE카지노</a></li>-->
        <li th:if="${!sysConfig.zone.gnb.empty}" th:class="${gnb eq 'zone'} ? 'on'">
            <a>미니게임</a>
            <ul class="sub">
                <li th:class="${gnb eq 'zone' and lnb eq 'ladder'} ? 'on'" th:if="${sysConfig.zone.ladder and T(spoon.gameZone.ZoneConfig).ladder.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/ladder|}">사다리</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'dari'} ? 'on'" th:if="${sysConfig.zone.dari and T(spoon.gameZone.ZoneConfig).dari.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/dari|}">다리다리</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'newSnail'} ? 'on'" th:if="${sysConfig.zone.newSnail and T(spoon.gameZone.ZoneConfig).newSnail.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/newSnail|}">NEW달팽이</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'power'} ? 'on'" th:if="${sysConfig.zone.power and T(spoon.gameZone.ZoneConfig).power.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/power|}">파워볼</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'powerFreeKick'} ? 'on'" th:if="${sysConfig.zone.powerFreeKick and T(spoon.gameZone.ZoneConfig).powerFreeKick.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/powerFreeKick|}">파워프리킥</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'power_ladder'} ? 'on'" th:if="${sysConfig.zone.powerLadder and T(spoon.gameZone.ZoneConfig).powerLadder.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/power_ladder|}">파워사다리</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'fxGame1'} ? 'on'" th:if="${sysConfig.zone.fxGame1 and T(spoon.gameZone.ZoneConfig).fxGame1.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/fxGame1|}">FX게임 1분</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'fxGame2'} ? 'on'" th:if="${sysConfig.zone.fxGame2 and T(spoon.gameZone.ZoneConfig).fxGame2.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/fxGame2|}">FX게임 2분</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'fxGame3'} ? 'on'" th:if="${sysConfig.zone.fxGame3 and T(spoon.gameZone.ZoneConfig).fxGame3.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/fxGame3|}">FX게임 3분</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'fxGame4'} ? 'on'" th:if="${sysConfig.zone.fxGame4 and T(spoon.gameZone.ZoneConfig).fxGame4.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/fxGame4|}">FX게임 4분</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'fxGame5'} ? 'on'" th:if="${sysConfig.zone.fxGame5 and T(spoon.gameZone.ZoneConfig).fxGame5.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/fxGame5|}">FX게임 5분</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'eosPower1'} ? 'on'" th:if="${sysConfig.zone.eosPower1 and T(spoon.gameZone.ZoneConfig).eosPower1.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/eosPower1|}">EOS파워볼 1분</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'eosPower2'} ? 'on'" th:if="${sysConfig.zone.eosPower2 and T(spoon.gameZone.ZoneConfig).eosPower2.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/eosPower2|}">EOS파워볼 2분</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'eosPower3'} ? 'on'" th:if="${sysConfig.zone.eosPower3 and T(spoon.gameZone.ZoneConfig).eosPower3.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/eosPower3|}">EOS파워볼 3분</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'eosPower4'} ? 'on'" th:if="${sysConfig.zone.eosPower4 and T(spoon.gameZone.ZoneConfig).eosPower4.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/eosPower4|}">EOS파워볼 4분</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'eosPower5'} ? 'on'" th:if="${sysConfig.zone.eosPower5 and T(spoon.gameZone.ZoneConfig).eosPower5.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/eosPower5|}">EOS파워볼 5분</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'boglePower'} ? 'on'" th:if="${sysConfig.zone.boglePower and T(spoon.gameZone.ZoneConfig).boglePower.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/boglePower|}">보글파워볼</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'bogleLadder'} ? 'on'" th:if="${sysConfig.zone.bogleLadder and T(spoon.gameZone.ZoneConfig).bogleLadder.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/bogleLadder|}">보글사다리</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'kenoLadder'} ? 'on'" th:if="${sysConfig.zone.kenoLadder and T(spoon.gameZone.ZoneConfig).kenoLadder.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/kenoLadder|}">키노사다리</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'kenoSpeed'} ? 'on'" th:if="${sysConfig.zone.kenoSpeed and T(spoon.gameZone.ZoneConfig).kenoSpeed.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/kenoSpeed|}">스피드키노</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'speedHomeRun'} ? 'on'" th:if="${sysConfig.zone.speedHomeRun and T(spoon.gameZone.ZoneConfig).speedHomeRun.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/speedHomeRun|}">스피드홈런</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'soccer'} ? 'on'" th:if="${sysConfig.zone.soccer and T(spoon.gameZone.ZoneConfig).soccer.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/soccer|}">가상축구</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'dog'} ? 'on'" th:if="${sysConfig.zone.dog and T(spoon.gameZone.ZoneConfig).dog.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/dog|}">개경주</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'dragonTiger'} ? 'on'" th:if="${sysConfig.zone.dragonTiger and T(spoon.gameZone.ZoneConfig).dragonTiger.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/dragonTiger|}">드래곤타이거</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'binanceCoin1'} ? 'on'" th:if="${sysConfig.zone.binanceCoin1 and T(spoon.gameZone.ZoneConfig).binanceCoin1.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/binanceCoin1|}">바이낸스코인 1분</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'binanceCoin3'} ? 'on'" th:if="${sysConfig.zone.binanceCoin3 and T(spoon.gameZone.ZoneConfig).binanceCoin3.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/binanceCoin3|}">바이낸스코인 3분</a></li>
                <li th:if="${sysConfig.zone.roulette and T(spoon.gameZone.ZoneConfig).roulette.enabled}" th:class="${gnb eq 'zone' and lnb eq 'roulette'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/zone/roulette|}">코리아 룰렛</a></li>
                <li th:if="${sysConfig.zone.coreaBaccarat and T(spoon.gameZone.ZoneConfig).coreaBaccarat.enabled}" th:class="${gnb eq 'zone' and lnb eq 'coreaBaccarat'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/zone/coreaBaccarat|}">코리아 바카라</a></li>
            </ul>
        </li>
        <!--<li th:if="${!sysConfig.zone.gnb.empty}" th:class="${gnb eq 'casino'} ? 'on'">
            <a>카지노</a>
            <ul class="sub">
                <li th:class="${gnb eq 'casino' and lnb eq 'oddeven'} ? 'on'" th:if="${sysConfig.zone.oddeven}"><a th:href="@{|${siteConfig.pathSite}/zone/oddeven|}">OZ 홀짝</a></li>
                <li th:class="${gnb eq 'casino' and lnb eq 'baccarat'} ? 'on'" th:if="${sysConfig.zone.baccarat}"><a th:href="@{|${siteConfig.pathSite}/zone/baccarat|}">OZ 바카라</a></li>
                <li th:class="${gnb eq 'casino' and lnb eq 'lotusOddeven'} ? 'on'" th:if="${sysConfig.zone.lotusOddeven}"><a th:href="@{|${siteConfig.pathSite}/zone/lotusOddeven|}">LOTUS 홀짝</a></li>
                <li th:class="${gnb eq 'casino' and lnb eq 'lotusBaccarat'} ? 'on'" th:if="${sysConfig.zone.lotusBaccarat}"><a th:href="@{|${siteConfig.pathSite}/zone/lotusBaccarat|}">LOTUS 바카라1</a></li>
                <li th:class="${gnb eq 'casino' and lnb eq 'lotusBaccarat2'} ? 'on'" th:if="${sysConfig.zone.lotusBaccarat}"><a th:href="@{|${siteConfig.pathSite}/zone/lotusBaccarat2|}">LOTUS 바카라2</a></li>
            </ul>
        </li>-->
        <!--<li th:class="${gnb eq 'graph'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/zone/graph|}">그래프게임</a></li>-->
        <li th:if="${sysConfig.zone.powerLotto}" th:class="${gnb eq 'powerLotto'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/zone/powerLotto|}">파워볼로또</a></li>
        <li th:class="${gnb eq 'score'} ? 'on'">
            <a>경기결과</a>
            <ul class="sub">
                <li th:class="${lnb eq 'cross'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/score/cross|}">크로스</a></li>
                <li th:class="${lnb eq 'special'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/score/special|}">스페셜</a></li>
                <li th:if="${sysConfig.sports.canLive}" th:class="${lnb eq 'live'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/score/live|}">실시간</a></li>
                <li th:if="${sysConfig.sports.inGame eq 'inGame'}" th:class="${gnb eq 'inGame'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/game/inGame|}">인게임</a></li>
                <!--<li th:if="${sysConfig.casino.enabled}" th:class="${gnb eq 'liveCasino'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/casino/liveCasino|}">LIVE카지노</a></li>-->
                <li th:class="${gnb eq 'score' and lnb eq 'ladder'} ? 'on'" th:if="${sysConfig.zone.ladder}"><a th:href="@{|${siteConfig.pathSite}/zone/ladder/score|}">사다리</a></li>
                <li th:class="${gnb eq 'score' and lnb eq 'dari'} ? 'on'" th:if="${sysConfig.zone.dari}"><a th:href="@{|${siteConfig.pathSite}/zone/dari/score|}">다리다리</a></li>
                <li th:class="${gnb eq 'score' and lnb eq 'snail'} ? 'on'" th:if="${sysConfig.zone.snail}"><a th:href="@{|${siteConfig.pathSite}/zone/snail/score|}">달팽이</a></li>
                <li th:class="${gnb eq 'score' and lnb eq 'newSnail'} ? 'on'" th:if="${sysConfig.zone.newSnail}"><a th:href="@{|${siteConfig.pathSite}/zone/newSnail/score|}">NEW달팽이</a></li>
                <li th:class="${gnb eq 'score' and lnb eq 'power'} ? 'on'" th:if="${sysConfig.zone.power}"><a th:href="@{|${siteConfig.pathSite}/zone/power/score|}">파워볼</a></li>
                <li th:class="${gnb eq 'score' and lnb eq 'powerFreeKick'} ? 'on'" th:if="${sysConfig.zone.powerFreeKick}"><a th:href="@{|${siteConfig.pathSite}/zone/powerFreeKick/score|}">파워볼프리킥</a></li>
                <li th:class="${gnb eq 'score' and lnb eq 'power_ladder'} ? 'on'" th:if="${sysConfig.zone.powerLadder}"><a th:href="@{|${siteConfig.pathSite}/zone/power_ladder/score|}">파워사다리</a></li>
                <li th:class="${gnb eq 'score' and lnb eq 'fxGame1'} ? 'on'" th:if="${sysConfig.zone.fxGame1}"><a th:href="@{|${siteConfig.pathSite}/zone/fxGame1/score|}">FX게임1분</a></li>
                <li th:class="${gnb eq 'score' and lnb eq 'fxGame2'} ? 'on'" th:if="${sysConfig.zone.fxGame2}"><a th:href="@{|${siteConfig.pathSite}/zone/fxGame2/score|}">FX게임2분</a></li>
                <li th:class="${gnb eq 'score' and lnb eq 'fxGame3'} ? 'on'" th:if="${sysConfig.zone.fxGame3}"><a th:href="@{|${siteConfig.pathSite}/zone/fxGame3/score|}">FX게임3분</a></li>
                <li th:class="${gnb eq 'score' and lnb eq 'kenoLadder'} ? 'on'" th:if="${sysConfig.zone.kenoLadder}"><a th:href="@{|${siteConfig.pathSite}/zone/kenoLadder/score|}">키노사다리</a></li>
                <li th:class="${gnb eq 'score' and lnb eq 'kenoSpeed'} ? 'on'" th:if="${sysConfig.zone.kenoSpeed}"><a th:href="@{|${siteConfig.pathSite}/zone/kenoSpeed/score|}">스피드키노</a></li>
                <li th:class="${gnb eq 'score' and lnb eq 'speedHomeRun'} ? 'on'" th:if="${sysConfig.zone.speedHomeRun}"><a th:href="@{|${siteConfig.pathSite}/zone/speedHomeRun/score|}">스피드홈런</a></li>
                <li th:class="${gnb eq 'score' and lnb eq 'aladdin'} ? 'on'" th:if="${sysConfig.zone.aladdin}"><a th:href="@{|${siteConfig.pathSite}/zone/aladdin/score|}">알라딘</a></li>
                <li th:class="${gnb eq 'score' and lnb eq 'lowhi'} ? 'on'" th:if="${sysConfig.zone.lowhi}"><a th:href="@{|${siteConfig.pathSite}/zone/lowhi/score|}">로하이</a></li>
                <li th:class="${gnb eq 'score' and lnb eq 'oddeven'} ? 'on'" th:if="${sysConfig.zone.oddeven}"><a th:href="@{|${siteConfig.pathSite}/zone/oddeven/score|}">홀짝</a></li>
                <li th:class="${gnb eq 'score' and lnb eq 'baccarat'} ? 'on'" th:if="${sysConfig.zone.baccarat}"><a th:href="@{|${siteConfig.pathSite}/zone/baccarat/score|}">바카라</a></li>
                <li th:class="${gnb eq 'score' and lnb eq 'lotusOddeven'} ? 'on'" th:if="${sysConfig.zone.lotusOddeven}"><a th:href="@{|${siteConfig.pathSite}/zone/lotusOddeven/score|}">로투스홀짝</a></li>
                <li th:class="${gnb eq 'score' and lnb eq 'lotusBaccarat'} ? 'on'" th:if="${sysConfig.zone.lotusBaccarat}"><a th:href="@{|${siteConfig.pathSite}/zone/lotusBaccarat/score|}">로투스바카라</a></li>
                <li th:class="${gnb eq 'score' and lnb eq 'lotusBaccarat2'} ? 'on'" th:if="${sysConfig.zone.lotusBaccarat2}"><a th:href="@{|${siteConfig.pathSite}/zone/lotusBaccarat2/score|}">로투스바카라2</a></li>
                <li th:class="${gnb eq 'score' and lnb eq 'soccer'} ? 'on'" th:if="${sysConfig.zone.soccer}"><a th:href="@{|${siteConfig.pathSite}/zone/soccer/score|}">가상축구</a></li>
                <li th:class="${gnb eq 'score' and lnb eq 'dog'} ? 'on'" th:if="${sysConfig.zone.dog}"><a th:href="@{|${siteConfig.pathSite}/zone/dog/score|}">개경주</a></li>
                <li th:class="${gnb eq 'score' and lnb eq 'luck'} ? 'on'" th:if="${sysConfig.zone.luck}"><a th:href="@{|${siteConfig.pathSite}/zone/luck/score|}">세븐럭</a></li>
                <li th:class="${gnb eq 'score' and lnb eq 'coreaBaccarat'} ? 'on'" th:if="${sysConfig.zone.coreaBaccarat}"><a th:href="@{|${siteConfig.pathSite}/zone/coreaBaccarat/score|}">코리아 바카라</a></li>
                <li th:class="${gnb eq 'score' and lnb eq 'roulette'} ? 'on'" th:if="${sysConfig.zone.roulette}"><a th:href="@{|${siteConfig.pathSite}/zone/roulette/score|}">코리아 룰렛</a></li>
                <li th:class="${gnb eq 'score' and lnb eq 'dragonTiger'} ? 'on'" th:if="${sysConfig.zone.dragonTiger}"><a th:href="@{|${siteConfig.pathSite}/zone/dragonTiger/score|}">드래곤 타이거</a></li>
                <li th:class="${gnb eq 'score' and lnb eq 'binanceCoin1'} ? 'on'" th:if="${sysConfig.zone.binanceCoin1}"><a th:href="@{|${siteConfig.pathSite}/zone/binanceCoin1/score|}">바이낸스코인 1분</a></li>
                <li th:class="${gnb eq 'score' and lnb eq 'binanceCoin3'} ? 'on'" th:if="${sysConfig.zone.binanceCoin3}"><a th:href="@{|${siteConfig.pathSite}/zone/binanceCoin3/score|}">바이낸스코인 3분</a></li>
            </ul>
        </li>
        <li th:class="${gnb eq 'betting'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/betting|}">베팅내역</a></li>
        <li th:class="${gnb eq 'board'} ? 'on'">
            <a>게시판</a>
            <ul class="sub">
                <li th:class="${lnb eq 'notice'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/board/notice|}">공지사항</a></li>
                <li th:class="${lnb eq 'event'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/board/event|}">이벤트</a></li>
                <li th:class="${lnb eq 'free'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/board/free|}">자유게시판</a></li>
            </ul>
        </li>
        <li th:class="${gnb eq 'customer' ? 'on' : ''}">
            <a>고객센터</a>
            <ul class="sub">
                <li th:class="${lnb eq 'qna'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/customer/qna|}">고객센터</a></li>
                <li th:class="${lnb eq 'memo'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/customer/memo|}">메시지함</a></li>
                <!--<li th:class="${lnb eq 'bet'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/customer/guide/bet1|}">베팅규정</a></li>-->
                <!--<li th:class="${lnb eq 'rule'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/customer/guide/rule1|}">게임규칙</a></li>-->
            </ul>
        </li>
        <li th:if="${sysConfig.event.daily || sysConfig.event.lotto}" th:class="${gnb eq 'event'} ? 'on'">
            <a>이벤트</a>
            <ul class="sub">
                <li th:if="${sysConfig.event.daily}" th:class="${lnb eq 'daily'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/event/daily|}">출석체크</a></li>
                <li th:if="${sysConfig.event.lotto}" th:class="${lnb eq 'lotto'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/event/lotto|}">복권</a></li>
            </ul>
        </li>
        <li>
            <img th:onclick="|location.href='${siteConfig.pathSite}/payment/deposit'|" style="cursor: pointer; margin-top: 2px;border-radius: 10px" src="/images/deposit-btn.gif">
        </li>
        <li>
            <img th:onclick="|location.href='${siteConfig.pathSite}/payment/withdraw'|" style="cursor: pointer; margin-top: 2px;border-radius: 10px" src="/images/withdraw-btn.gif">
        </li>
    </ul>
</div>
<div th:fragment="javascript" th:remove="tag">
    <script th:src="@{|/js/common.js?v=${siteConfig.version}|}"></script>
    <script th:if="${mode ne 'login'}" th:src="@{|/js/common.web.js?v=${siteConfig.version}|}"></script>
    <script th:if="${mode eq 'login'}" th:src="@{|/js/common.join.js?v=${siteConfig.version}|}"></script>
    <script th:if="${mode ne 'login'}" th:src="@{|/js/angular.web.js?v=${siteConfig.version}|}"></script>
</div>
</body>
</html>