<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${siteConfig.companyName}"></title>
    <meta name="description" content="MOBIUS"/>
    <meta name="keywords" content="MOBIUS"/>
    <meta name="author" content="MOBIUS"/>
    <link rel="shortcut icon" href="/images/favicon.ico?v1">
    <link rel="stylesheet" type="text/css" href="/customForm/css/style.css?1"/>
    <script src="/customForm/js/modernizr.custom.63321.js"></script>
    <style>
        .chrome-layer {
            background: rgba(42, 42, 42, 0.8);
            width: 100%;
            position: absolute;
            z-index: 998;
            left: 0;
            top: 0;
            text-align: center;
        }
    </style>
</head>

<body>
<div class="chrome-layer">
    <img src="/images/chrome_info.png">
    <a href="https://www.google.co.kr/chrome/thankyou.html" target="_blank"><img src="/images/chromedownload_icon.png"></a>
</div>
<div class="container">
    <header>

        <div class="support-note">
            <img src="/images/logo_login.png" width="200"/>
        </div>

    </header>

    <section class="main">
        <form id="frm" method="post" onsubmit="return false;" class="form-2" style="width:340px;">
            <h1><span class="log-in">MOBIUS - code</span></h1>
            <p style="padding-top: 5px;">
                <input type="text" id="joinCode" name="joinCode" placeholder="CODE">
            </p>
            <p class="clearfix">
                <a href="/" class="log-twitter">취소</a>
                <input type="button" name="submit" onclick="javascript:codeForm();" value="확인">
            </p>
        </form>
        ​​
    </section>

</div>
<!-- jQuery if needed -->
<script src="/assets/js/jquery-1.11.1.min.js"></script>


<script>
    function codeForm(){
        login.checkCode();
    }

    var config = [(${config})];

    $('input[type="joinCode"]').keydown(function() {
        if (event.keyCode === 13) {
            loginForm();
        }
    });
</script>

<script src="/js/common.js?v=1.0"></script>
<script src="/js/common.join.js?v=1.0"></script>
</body>

</html>