<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminLayout" th:with="gnb='seller', lnb='currentNew'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>총판 :</small>
    총판 정산 관리
</h2>
<div layout:fragment="content">
    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-user"></i>
                총판 정산 관리
            </h3>
        </div>
        <table class="table-list">
            <caption>총판 정산 관리</caption>
            <thead>
            <tr>
                <th>총판</th>
                <th>회원</th>
                <th>입금</th>
                <th>출금</th>
                <th>수익</th>
                <th>스포츠</th>
                <th>E스포츠</th>
                <th>실시간</th>
                <th>정산<br>방식</th>
                <th>지급율</th>
                <th>지난<br>정산금</th>
                <th>지난<br>정산일</th>
                <th>정산</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="m : ${list}">
                <td class="popup" style="text-align: left;cursor: pointer;" th:onclick="|popup.sale.popup('${m.userid}');|">
                    <a th:text="${m.userid}" class="color05"></a>
                    <a th:text="${' ( '+m.nickname+' )' }" class="color01"></a>
                </td>
                <td class="color01 num" th:text="${tag.num(m.users)}">정상회원</td>
                <td class="color04 num" th:text="${tag.num(m.inMoney) + '원'}">입금</td>
                <td class="color03 num" th:text="${tag.num(m.outMoney) + '원'}">출금</td>
                <td class="color02 num" th:text="${tag.num(m.inMoney - m.outMoney) + '원'}">수익</td>
                <td class="color04 num" th:text="${tag.num(m.betSports) + '원'}">스포츠</td>
                <td class="color04 num" th:text="${tag.num(m.betSports2) + '원'}">E스포츠</td>
                <td class="color03 num" th:text="${tag.num(m.betZone) + '원'}">실시간</td>
                <td th:switch="${m.rateCode}">
                    <span th:remove="tag" th:case="'수익분배'"><a class="color02">수익</a></span>
                    <span th:remove="tag" th:case="'롤링분배'"><a class="color04">롤링</a></span>
                </td>
                <td>
                    <span class="color02" th:text="${m.rateShare + '%'}"></span><br>
                    <span class="color04" th:text="${m.rateSports + '%'}"></span> / <span class="color04" th:text="${m.rateSports2 + '%'}"></span> / <span class="color04" th:text="${m.rateZone + '%'}"></span>
                </td>
                <td class="num" th:text="${tag.num(m.lastMoney) + '원'}">지난정산금</td>
                <td>
                    <span th:remove="tag" th:utext="${tag.dayWeekTimes2(m.regDate)}"></span>
                </td>
                <td class="color04 num">
                    <span th:text="${tag.num(m.calcMoney) + '원'}"></span><br>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="panel-footer">

        </div>
    </section>
</div>
<script layout:fragment="script" th:if="true">
</script>
</body>
</html>