<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/siteLayout" th:with="main='zone', gnb='zone', lnb='binanceCoin1'" ng-app="app">
<body ng-controller="gameCtrl">

<section layout:fragment="section">
    <h3 style="width: 1294px;">
        <img ng-src="{{flag}}"/>
        바이낸스 코인 1분
        <span class="color03" th:text="'[제 {{config.round}}회차]'">256회차</span>
    </h3>

    <div class="zone" style="width: 1300px; height : 1130px;">
        <br>
        <!--<button class="powerToggle" onclick="javascript:frameToggle();" style="cursor: pointer;">게임 현황판 열기/닫기</button>-->
        <div id="powerFrame" style="margin: 0 auto; width: 1300px; height: 600px; overflow: hidden;position: relative;padding-left: 0px;">
            <iframe id="zoneBox" style="position: absolute; width: 900px; height: 600px;" scrolling="no" th:src="@{${sysConfig.zone.binanceCoin1Player}}">

            </iframe>
        </div>

        <div class="game_zone">
            <div class="timer" ng-cloak ng-show="config.enabled">
                <div class="timer-box">
                    <span style="font-size: 30px;margin-left: -180px;margin-top: 10px;font-weight: bold">배팅마감
                        <div id="timer" style="margin-left: 180px; margin-top: -34px;"></div>
                    </span>
                </div>
            </div>
            <div class="betting_lock" style="display: none;">
                <p></p>
                <i class="fa fa-lock" aria-hidden="false"></i>
            </div>

            <br>
            <table class="list game ng-cloak" ng-cloak ng-if="config.enabled">
                <caption>바이낸스 코인 1분</caption>
                <colgroup>
                    <col>
                    <col style="width: 270px;">
                    <col style="width: 270px;">
                </colgroup>

                <div class="btn-zone-arr">
                    <div class="btn_zone01">
                        <h3 style="padding-bottom: 34px">바이낸스 코인 1분</h3>
                        <a class="float_left betting" ng-click="add('overUnder', 'home', 2, '오버', $event)">
                            <span class="miniFont">[오버]</span>
                            <span class="divd">{{config.odds[2] | number: 2}}</span>
                        </a>
                        <a class="float_right betting"  ng-click="add('overUnder', 'away', 3, '언더', $event)">
                            <span class="miniFont">[언더]</span>
                            <span class="divd">{{config.odds[3] | number: 2}}</span>
                        </a>
                        <div class="clear"> </div>
                    </div>
                    <div class="btn_zone02">
                        <a class="float_left betting" ng-click="add('oddEven', 'home', 4, '홀', $event)">
                            <span class="miniFont">[홀]</span>
                            <span class="divd">{{config.odds[4] | number: 2}}</span>
                        </a>
                        <a class="float_right betting" ng-click="add('oddEven', 'away', 5, '짝', $event)">
                            <span class="miniFont">[짝]</span>
                            <span class="divd">{{config.odds[5] | number: 2}}</span>
                        </a>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"> </div>
                </div>

                <div class="cart-new-arr" style="margin-top: 140px">
                    <div class="price_zone_right">
                        <div id="temp_cart">


                            <div class="cart_list">
                                <div ng-repeat="c in cart" class="bet_home">
                                    <p style="text-align: center;font-size: 20px;line-height: 28px;font-weight: bold; color: #fff;">
                                        <!--<span class="color01">
                                            {{c.game.oh | number : 2}}
                                        </span>-->
                                        <span class="color04">
                                         {{c.pos == '1' ? 'Home' : c.pos == '2' ? 'Away' : c.pos == 'X' ? 'Draw' : c.pos }}
                                    </span>
                                        <a ng-click="remove(c.id)" style="cursor: pointer;">X</a>
                                    </p>
                                </div>
                            </div>
                            <div class="eprice_money">
                                <p>배당율 <span id="divd">{{odds | number : 2}}</span></p>
                                <p>예상적중금 <span id="eprice">{{Math.floor(odds * money) | number : 0}}</span></p>
                            </div>
                        </div>
                        <input type="text" name="price" id="price" placeholder="금액을 입력해 주세요." ng-model="money" ng-change="checkMoney()"/>
                    </div>
                    <div class="btn_price_zone" style="cursor: pointer;">
                        <button type="button" ng-click="addMoney(5000)" class="ui_btn_gray">5,000</button>
                        <button type="button" ng-click="addMoney(10000)" class="ui_btn_gray">10,000</button>
                        <button type="button" ng-click="addMoney(30000)" class="ui_btn_gray">30,000</button>
                        <button type="button" ng-click="addMoney(50000)" class="ui_btn_gray">50,000</button>
                        <button type="button" ng-click="addMoney(100000)" class="ui_btn_gray">100,000</button>
                        <button type="button" ng-click="addMoney(500000)" class="ui_btn_gray">500,000</button>
                        <button type="button" ng-click="addHalf()" class="ui_btn_green">HALF</button>
                        <button type="button" ng-click="addMax()" class="ui_btn_yellow">MAX</button>
                        <button type="button" ng-click="addReset(5000)" class="ui_btn_red">RESET</button>
                    </div>
                    <div class="clear"></div>
                    <div class="betting_btn_zone"> <span id="btnBett" class="ui_btn_red" style="cursor: pointer;height: 60px;" ng-click="betting()">BETTING</span> </div>
                </div>
            </table>
        </div>
    </div>
    <br/>
</section>

<script layout:fragment="script" th:if="true">
    angular.module('app', []).controller('gameCtrl', ['$scope', '$http', '$interval', function ($scope, $http, $interval) {
        $scope.Math = window.Math;
        $scope.zone = true;
        $scope.cart = [];
        $scope.odds = 0.00;
        $scope.money = 0;
        $scope.flag = '/images/zone/flag-binanceCoin1.png';
        $scope.config = [(${config})];
        $scope.milliseconds = [[${user.milliseconds}]];
        $scope.bet = $scope.config.betTime > 0 ? 'on' : 'off';
        $scope.name = $scope.config.round + '회';

        $interval(function () {
            $scope.setInfo();
        }, 5000);

        $interval(function () {
            if ($scope.milliseconds <= $scope.config.gameDate + 10000) { // 네임드 10초 리셋
                $scope.milliseconds += 1000;
            } else {
                $scope.setConfig();
            }
        }, 1000);

        $scope.timer = new FlipClock($('#timer'), $scope.config.betTime, {
            countdown: true,
            clockFace: 'MinuteCounter',
            callbacks: {
                stop: function () {
                    $scope.$apply(function () {
                        angular.element('.betting').removeClass('select');
                        $scope.cart.length = 0;
                        $scope.bet = 'off';
                        $('.betting_lock').show();
                    });
                }
            }
        });

        $scope.setInfo = function () {
            $http({
                url: path + '/api/info',
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.milliseconds = response.data.milliseconds;
                angular.element('#user-memo').text(response.data.memo.toString().money());
                angular.element('#user-money').text(response.data.money.toString().money());
                angular.element('#user-point').text(response.data.point.toString().money());
                clock.setTime(new Date(response.data.milliseconds));
            }, function error(response) {
                if (response.status === 401 || response.status === 403) {
                    top.location.href = '/logout';
                }
            });
        };

        $scope.setConfig = function () {
            $http({
                url: path + '/zone/binanceCoin1/config',
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.config = response.data;
                $scope.timer.setTime(response.data.betTime + 1);
                $scope.timer.start();
                $scope.bet = $scope.config.betTime > 0 ? 'on' : 'off';
                if ($scope.config.betTime > 0) {
                    $('.betting_lock').hide();
                }else{
                    $('.betting_lock').show();
                }
            });
        };

        $scope.add = function (gameCode, betTeam, betZone, pos, event) {
            if ($scope.bet === 'off') {
                alert('현재 베팅이 중지 되었습니다.\n\n다음 게임을 베팅하시기 바랍니다.');
                return;
            }

            var ele = angular.element(event.target);

            if (ele.prop('tagName') != 'A') {
                ele=ele.parent();
            }
            $scope.cart.length = 0;
            if (ele.hasClass('select')) {
                ele.removeClass('select');
                $scope.odds = 0.00;
            } else {
                angular.element('.betting').removeClass('select');
                ele.addClass('select');
                var odds = $scope.config.odds[betZone];
                $scope.cart.push({sdate: $scope.config.sdate, gameCode: gameCode, betTeam: betTeam, betZone: betZone, odds: odds, pos: pos});
                $scope.odds = odds;
            }
        };

        $scope.remove = function () {
            angular.element('.betting').removeClass('select');
            $scope.cart.length = 0;
            $scope.odds = 0.00;
        };

        $scope.addMoney = function (m) {
            $scope.money += m;
        };

        $scope.addHalf = function () {
            if ($scope.cart.length === 0) {
                $scope.money = 0;
            } else {
                $scope.money = Math.min(Math.floor($scope.config.win / $scope.odds) / 2, $scope.config.max / 2);
            }
        };

        $scope.addReset = function () {
            $scope.money = 0;
        };

        $scope.addMax = function () {
            if ($scope.cart.length === 0) {
                $scope.money = 0;
            } else {
                $scope.money = Math.min(Math.floor($scope.config.win / $scope.odds), $scope.config.max);
            }
        };

        $scope.betting = function () {
            if ($scope.cart.length === 0) {
                alert('선택된 경기가 없습니다.');
                return;
            }
            if ($scope.money < $scope.config.min) {
                alert(String.format('최소 베팅 금액은 {0}원 입니다.', $scope.config.min.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.money > $scope.config.money) {
                alert('보유머니가 부족합니다.');
                $scope.money = 0;
                return;
            }
            if ($scope.money > $scope.config.max) {
                alert(String.format('최대 베팅 금액은 {0}원 입니다.', $scope.config.max.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.odds * $scope.money > $scope.config.win) {
                alert(String.format('적중 상한 금액은 {0}원 입니다.', $scope.config.win.toString().money()));
                $scope.money = 0;
                return;
            }
            if (!confirm('베팅 하시겠습니까?')) {
                return;
            }

            // 베팅
            $http({
                url: path + '/zone/binanceCoin1/betting',
                method: 'POST',
                data: {
                    "betMoney": $scope.money,
                    "sdate": $scope.cart[0].sdate,
                    "gameCode": $scope.cart[0].gameCode,
                    "betTeam": $scope.cart[0].betTeam,
                    "betZone": $scope.cart[0].betZone,
                    "odds": $scope.cart[0].odds
                },
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                angular.element('.betting').removeClass('select');
                if (!response.data.success) {
                    alert(response.data.message);
                }else{
                    alert('베팅되었습니다.');
                    setTimeout(function () {
                        location.reload();
                    }, 1000);
                }
                $scope.money = 0;
                $scope.cart.length = 0;
                $scope.setInfo();
                $scope.setConfig();
            }, function error(response) {
                angular.element('.betting').removeClass('select');
                if (response.data.message !== '') {
                    alert(response.data.message);
                } else {
                    alert('베팅에 실패하였습니다.\n\n잠시 후 다시 시도하여 주세요.');
                }
                $scope.money = 0;
                $scope.cart.length = 0;
                $scope.setInfo();
                $scope.setConfig();
            });
        };
    }]);
</script>
</body>
</html>