<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/siteLayout" th:with="main='zone', gnb='zone', lnb='kenoLadder'" ng-app="app">
<body ng-controller="gameCtrl">

<section layout:fragment="section">
    <h3 style="width: 1294px;">
        <img ng-src="{{flag}}"/>
        키노사다리
    </h3>

    <div class="zone" style="width: 1300px; height : 800px;">
        <br>
        <!--<button class="powerToggle" onclick="javascript:frameToggle();" style="cursor: pointer;">게임 현황판 열기/닫기</button>-->
        <div id="powerFrame" style="margin: 0 auto; width: 1300px; height: 650px; overflow: hidden;position: relative;padding-left: 0px;">
                <iframe id="zoneBox" style="position: absolute; width: 900px; height: 650px;" scrolling="no" th:src="@{${sysConfig.zone.kenoLadderPlayer}}"></iframe>
                <div class="kenoBlindBox"></div>
        </div>

        <br>
        <div class="game_zone">
            <div class="timer" ng-cloak ng-show="config.enabled">
                <div class="timer-box">
                    <span style="font-size: 30px;margin-left: -180px;margin-top: 10px;font-weight: bold">배팅마감
                        <div id="timer" style="margin-left: 180px; margin-top: -34px;"></div>
                    </span>
                </div>
            </div>
            <div class="betting_lock" style="display: none;">
                <p></p>
                <i class="fa fa-lock" aria-hidden="false"></i>
            </div>
            <table class="tt list game ng-cloak" ng-cloak ng-if="config.enabled">
                <caption>키노사다리</caption>
                <colgroup>
                    <!--<col style="width: 180px;">-->
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <tbody class="group">
                <tr>
                    <td class="date" colspan="4"><span class="color01">{{config.round}} 회차 ( {{config.times | number : 0}} ) - </span> {{config.gameDateName}} {{config.gameTimeName}}</td>
                </tr>
                </tbody>
                <div class="btn-zone-arr">
                    <div class="btn_zone03">
                        <h3 style="padding-bottom: 34px">키노 사다리</h3>
                        <a class="float_left betting" ng-click="add('oddeven', 'home', 0, '홀', $event)">
                            <span class="miniFont">[홀]</span>
                            <span class="divd">{{config.odds[0] | number: 2}}</span>
                        </a>
                        <a class="float_right betting" ng-click="add('oddeven', 'away', 1, '짝', $event)">
                            <span class="miniFont">[짝]</span>
                            <span class="divd">{{config.odds[1] | number: 2}}</span>
                        </a>
                        <div class="clear"> </div>
                    </div>
                    <div class="btn_zone01">
                        <a class="float_left betting" ng-click="add('start', 'home', 2, '좌', $event)">
                            <span class="miniFont">[좌출]</span>
                            <span class="divd">{{config.odds[2] | number: 2}}</span>
                        </a>
                        <a class="float_right betting" ng-click="add('start','away', 3, '우', $event)">
                            <span class="miniFont">[우출]</span>
                            <span class="divd">{{config.odds[3] | number: 2}}</span>
                        </a>
                        <div class="clear"> </div>
                    </div>
                    <div class="btn_zone02">
                        <a class="float_left betting" ng-click="add('line', 'home', 4, '3줄', $event)">
                            <span class="miniFont">[3줄]</span>
                            <span class="divd">{{config.odds[4] | number: 2}}</span>
                        </a>
                        <a class="float_right betting" ng-click="add('line', 'away', 5, '4줄', $event)">
                            <span class="miniFont">[4줄]</span>
                            <span class="divd">{{config.odds[5] | number: 2}}</span>
                        </a>
                        <div class="clear"></div>
                    </div>
                    <div class="btn_zone044">
                        <a class="float_left betting" ng-click="add('line3Start', 'home', 6, '3줄/좌', $event)">
                            <span class="miniFont">[좌+3]</span>
                            <span class="divd">{{config.odds[6] | number: 2}}</span>
                        </a>
                        <a class="float_right betting" ng-click="add('line3Start', 'away', 7, '3줄/우', $event)">
                            <span class="miniFont">[우+3]</span>
                            <span class="divd">{{config.odds[7] | number: 2}}</span>
                        </a>
                        <div class="clear"></div>
                    </div>
                    <div class="btn_zone044">
                        <a class="float_left betting" ng-click="add('line4Start', 'home', 8, '4줄/좌', $event)">
                            <span class="miniFont">[좌+4]</span>
                            <span class="divd">{{config.odds[8] | number: 2}}</span>
                        </a>
                        <a class="float_right betting" ng-click="add('line4Start', 'away', 9, '4줄/우', $event)">
                            <span class="miniFont">[우+4]</span>
                            <span class="divd">{{config.odds[9] | number: 2}}</span>
                        </a>
                        <div class="clear"> </div>
                    </div>
                    <div class="clear"> </div>
                </div>



                <div class="cart-new-arr">
                    <div class="price_zone_right" style="margin-top: 140px;">
                        <div id="temp_cart">
                            <div class="cart_list">
                                <div ng-repeat="c in cart" class="bet_home">
                                    <p style="text-align: center;font-size: 20px;line-height: 28px;font-weight: bold; color: #fff;">
                                        <span class="color04">
                                         {{c.pos == '1' ? 'Home' : c.pos == '2' ? 'Away' : c.pos == 'X' ? 'Draw' : c.pos }}
                                    </span>
                                        <a class="btn2" ng-click="remove(c.id)" style="cursor: pointer;">X</a>
                                    </p>
                                </div>
                            </div>
                            <div class="eprice_money">
                                <p>배당율 <span id="divd">{{odds | number : 2}}</span></p>
                                <p>예상적중금 <span id="eprice">{{Math.floor(odds * money) | number : 0}}</span></p>
                            </div>
                        </div>
                        <input type="text" name="price" id="price" placeholder="금액을 입력해 주세요." ng-model="money" ng-change="checkMoney()"/>
                    </div>
                    <div class="btn_price_zone" style="cursor: pointer;">
                        <button type="button" ng-click="addMoney(5000)" class="ui_btn_gray">5,000</button>
                        <button type="button" ng-click="addMoney(10000)" class="ui_btn_gray">10,000</button>
                        <button type="button" ng-click="addMoney(30000)" class="ui_btn_gray">30,000</button>
                        <button type="button" ng-click="addMoney(50000)" class="ui_btn_gray">50,000</button>
                        <button type="button" ng-click="addMoney(100000)" class="ui_btn_gray">100,000</button>
                        <button type="button" ng-click="addMoney(500000)" class="ui_btn_gray">500,000</button>
                        <button type="button" ng-click="addHalf()" class="ui_btn_green">HALF</button>
                        <button type="button" ng-click="addMax()" class="ui_btn_yellow">MAX</button>
                        <button type="button" ng-click="addReset(5000)" class="ui_btn_red">RESET</button>
                    </div>
                    <div class="clear"></div>
                    <div class="betting_btn_zone"> <span id="btnBett" class="ui_btn_red" style="cursor: pointer;height: 60px;" ng-click="betting()">BETTING</span> </div>
                </div>
            </table>
        </div>
    </div>

    <br/>

    <!--<h3>키노사다리 최근 배팅내역</h3>

    <table class="list game">
        <caption>배팅내역</caption>
        <colgroup>
            <col style="width: 190px;">
            <col>
            <col style="width: 36px;">
            <col style="width: 218px;">
            <col style="width: 50px;">
            <col>
            <col style="width: 50px;">
            <col style="width: 218px;">
            <col style="width: 36px;">
            <col style="width: 70px;">
        </colgroup>
        <tbody class="betBody" th:each="b : ${powerBetList.content}">
            <tr>
                <th>경기정보</th>
                <th>베팅타입</th>
                <th colspan="3">홈팀</th>
                <th>무</th>
                <th colspan="3">원정팀</th>
                <th>결과</th>
            </tr>
            <tr class="item" th:each="item : ${b.betItems}">
                <td class="info" th:title="${item.league}">
                    <img th:src="@{|${tag.sportsFlag(item)}|}"/>
                    <span th:remove="tag" th:utext="${tag.dayWeekTime(item.gameDate)}">06/21(금)</span>
                </td>
                <td>
                    <span th:if="${item.menuCode.name() eq 'SPECIAL'}" th:text="${item.special + ' '}"></span>
                    <span th:text="${item.gameCode.name() eq 'ZONE' ? item.sports : item.gameCode.name}">승무패</span>
                </td>
                <td class="over" th:text="${item.gameCode.name() eq 'OVER_UNDER' ? 'O' : 'H'}">H</td>
                <td th:class="${(item.betTeam eq 'home' ? 'home on' : 'home') + (item.gameResult.name() eq 'HOME' or item.gameResult.name() eq 'OVER' ? ' hit' : '')}">
                    <span th:remove="tag" th:text="${tag.inGameBetInfo(item.teamHome)}">홈팀</span>
                    <span th:if="${item.menuCode.name() eq 'SPECIAL'}" th:text="${'[' + item.special + ']'}"></span>
                    <span class="odds" th:text="${tag.odds(item.oddsHome)}">0.01</span>
                </td>
                <td class="score" th:text="${item.scoreHome eq null ? '-' : item.scoreHome}">0</td>
                <td th:if="${item.gameCode.name() eq 'MATCH' or item.gameCode.name() eq 'ZONE' and not (item.special eq '핸디캡' or item.special eq '오버언더')}"
                    th:with="odds=${tag.odds(item.oddsDraw)}"
                    th:class="${(item.betTeam eq 'draw' ? 'draw on' : 'draw') + (item.gameResult.name() eq 'DRAW' or item.gameResult.name() eq 'HIT' or item.gameResult.name() eq 'DRAW_HIT' ? ' hit' : '') + (odds eq '0.00' ? '' : ' odds')}">
                    <span class="odds1" th:if="${item.special eq 'size'}" th:text="${tag.getSize(item.teamHome,'size')}">0.01</span>
                    <span class="odds1" th:if="${item.special eq 'odd_size'}" th:text="${tag.getSize(item.teamHome,'odd_size')}">0.01</span>
                    <span class="odds1" th:if="${item.special eq 'even_size'}" th:text="${tag.getSize(item.teamHome,'even_size')}">0.01</span>
                    <span class="odds2" th:text="${odds eq '0.00' ? '' : odds}">0.01</span>
                </td>
                <td th:if="${item.gameCode.name() eq 'HANDICAP' or item.gameCode.name() eq 'OVER_UNDER' or item.special eq '핸디캡' or item.special eq '오버언더'}" th:class="${item.gameResult.name() eq 'DRAW' or item.gameResult.name() eq 'HIT' or item.gameResult.name() eq 'DRAW_HIT' ? 'draw hit' : 'draw'}" th:text="${tag.handicap(item.handicap)}">무</td>
                <td class="score" th:text="${item.scoreAway eq null ? '-' : item.scoreAway}">0</td>
                <td th:class="${(item.betTeam eq 'away' ? 'away on' : 'away') + (item.gameResult.name() eq 'AWAY' or item.gameResult.name() eq 'UNDER' ? ' hit' : '')}">
                    <span class="odds" th:text="${tag.odds(item.oddsAway)}">0.01</span>
                    <span th:if="${item.menuCode.name() eq 'SPECIAL'}" th:text="${'[' + item.special + ']'}"></span>
                    <span th:remove="tag" th:text="${item.teamAway}">원정팀</span>
                </td>
                <td class="under" th:text="${item.gameCode.name() eq 'OVER_UNDER' ? 'U' : 'A'}">H</td>
                <td th:class="${'result ' + item.resultStringCss}" th:text="${item.resultString}"></td>
            </tr>
            <tr>
                <td class="betInfo" colspan="10">
                    <span class="dateDay" th:utext="${tag.dayWeekTimes(b.betDate)}">07/20(토)</span>
                    <span class="betMoney">
                        베팅금액 : <span class="money" th:text="${tag.num(b.betMoney)}">1,000</span>원
                    </span>
                    <span class="rate">
                        배당율 : <span class="money" th:text="${tag.odds(b.betOdds)}">1,000</span>배
                    </span>
                    <span class="rate" th:if="${b.eventOdds} > 1">
                        <p><span class="bonus" th:text="${tag.num(b.betCount)}"></span>폴더 이상 보너스 배당 <span class="bonus" th:text="${tag.odds(b.eventOdds)}">1.03</span></p>
                    </span>
                    <span class="expMoney">
                        예상금액 : <span class="money" th:text="${tag.num(b.expMoney)}">1,000</span>원
                    </span>
                    <span class="hitMoney" th:if="${b.closing}">
                        적중금액 : <span class="hit" th:text="${tag.num(b.hitMoney)}">1,000</span>원
                    </span>
                </td>
            </tr>
        </tbody>
    </table>-->
</section>

<script layout:fragment="script" th:if="true">
    angular.module('app', []).controller('gameCtrl', ['$scope', '$http', '$interval', function ($scope, $http, $interval) {
        $scope.Math = window.Math;
        $scope.zone = true;
        $scope.cart = [];
        $scope.odds = 0.00;
        $scope.money = 0;
        $scope.flag = '/images/zone/flag-kenoladder.png';
        $scope.config = [(${config})];
        $scope.milliseconds = [[${user.milliseconds}]];
        $scope.bet = $scope.config.betTime > 0 ? 'on' : 'off';
        $scope.name = $scope.config.round + '회 키노사다리';

        $interval(function () {
            $scope.setInfo();
        }, 5000);

        $interval(function () {
            if ($scope.milliseconds <= $scope.config.gameDate + 10000) { // 네임드 10초 리셋
                $scope.milliseconds += 1000;
            } else {
                $scope.setConfig();
            }
        }, 1000);

        $scope.timer = new FlipClock($('#timer'), $scope.config.betTime, {
            countdown: true,
            clockFace: 'MinuteCounter',
            callbacks: {
                stop: function () {
                    $scope.$apply(function () {
                        angular.element('.betting').removeClass('select');
                        $scope.cart.length = 0;
                        $scope.bet = 'off';
                        $('.betting_lock').show();
                    });
                }
            }
        });

        $scope.setInfo = function () {
            $http({
                url: path + '/api/info',
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.milliseconds = response.data.milliseconds;
                angular.element('#user-memo').text(response.data.memo.toString().money());
                angular.element('#user-money').text(response.data.money.toString().money());
                angular.element('#user-point').text(response.data.point.toString().money());
                clock.setTime(new Date(response.data.milliseconds));
            }, function error(response) {
                if (response.status === 401 || response.status === 403) {
                    top.location.href = '/logout';
                }
            });
        };

        $scope.setConfig = function () {
            $http({
                url: path + '/zone/kenoLadder/config',
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.config = response.data;
                $scope.timer.setTime(response.data.betTime + 1);
                $scope.timer.start();
                $scope.bet = $scope.config.betTime > 0 ? 'on' : 'off';
                if ($scope.config.betTime > 0) {
                    $('.betting_lock').hide();
                }else{
                    $('.betting_lock').show();
                }
            });
        };

        $scope.add = function (gameCode, betTeam, betZone, pos, event) {
            if ($scope.bet === 'off') {
                alert('현재 베팅이 중지 되었습니다.\n\n다음 게임을 베팅하시기 바랍니다.');
                return;
            }

            var ele = angular.element(event.target);

            if (ele.prop('tagName') != 'A') {
                ele=ele.parent();
            }
            $scope.cart.length = 0;
            if (ele.hasClass('select')) {
                ele.removeClass('select');
                $scope.odds = 0.00;
            } else {
                angular.element('.betting').removeClass('select');
                ele.addClass('select');
                var odds = $scope.config.odds[betZone];
                $scope.cart.push({sdate: $scope.config.sdate, gameCode: gameCode, betTeam: betTeam, betZone: betZone, odds: odds, pos: pos});
                $scope.odds = odds;
            }
        };

        $scope.remove = function () {
            angular.element('.betting').removeClass('select');
            $scope.cart.length = 0;
            $scope.odds = 0.00;
        };

        $scope.addMoney = function (m) {
            $scope.money += m;
        };

        $scope.addReset = function () {
            $scope.money = 0;
        };

        $scope.addHalf = function () {
            if ($scope.cart.length === 0) {
                $scope.money = 0;
            } else {
                $scope.money = Math.min(Math.floor($scope.config.win / $scope.odds) / 2, $scope.config.max / 2);
            }
        };

        $scope.addMax = function () {
            if ($scope.cart.length === 0) {
                $scope.money = 0;
            } else {
                $scope.money = Math.min(Math.floor($scope.config.win / $scope.odds), $scope.config.max);
            }
        };

        $scope.betting = function () {
            if ($scope.cart.length === 0) {
                alert('선택된 경기가 없습니다.');
                return;
            }
            if ($scope.money < $scope.config.min) {
                alert(String.format('최소 베팅 금액은 {0}원 입니다.', $scope.config.min.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.money > $scope.config.money) {
                alert('보유머니가 부족합니다.');
                $scope.money = 0;
                return;
            }
            if ($scope.money > $scope.config.max) {
                alert(String.format('최대 베팅 금액은 {0}원 입니다.', $scope.config.max.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.odds * $scope.money > $scope.config.win) {
                alert(String.format('적중 상한 금액은 {0}원 입니다.', $scope.config.win.toString().money()));
                $scope.money = 0;
                return;
            }
            if (!confirm('베팅 하시겠습니까?')) {
                return;
            }

            // 베팅
            $http({
                url: path + '/zone/kenoLadder/betting',
                method: 'POST',
                data: {
                    "betMoney": $scope.money,
                    "sdate": $scope.cart[0].sdate,
                    "gameCode": $scope.cart[0].gameCode,
                    "betTeam": $scope.cart[0].betTeam,
                    "betZone": $scope.cart[0].betZone,
                    "odds": $scope.cart[0].odds
                },
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                angular.element('.betting').removeClass('select');
                if (!response.data.success) {
                    alert(response.data.message);
                }else{
                    alert('베팅되었습니다.');
                    setTimeout(function () {
                        location.reload();
                    }, 1000);
                }
                $scope.money = 0;
                $scope.cart.length = 0;
                $scope.setInfo();
                $scope.setConfig();
            }, function error(response) {
                angular.element('.betting').removeClass('select');
                if (response.data.message !== '') {
                    alert(response.data.message);
                } else {
                    alert('베팅에 실패하였습니다.\n\n잠시 후 다시 시도하여 주세요.');
                }
                $scope.money = 0;
                $scope.cart.length = 0;
                $scope.setInfo();
                $scope.setConfig();
            });
        };
    }]);


    function frameToggle(){
        $('#powerFrame').slideToggle();
    }
</script>
</body>
</html>