@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/NanumGothic-Regular.eot);
    src: url(/fonts/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
            url(/fonts/NanumGothic-Regular.woff2) format('woff2'),
            url(/fonts/NanumGothic-Regular.woff) format('woff'),
            url(/fonts/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 600;
    src: url(/fonts/NanumGothic-Bold.eot);
    src: url(/fonts/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
            url(/fonts/NanumGothic-Bold.woff2) format('woff2'),
            url(/fonts/NanumGothic-Bold.woff) format('woff'),
            url(/fonts/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 800;
    src: url(/fonts/NanumGothic-ExtraBold.eot);
    src: url(/fonts/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
            url(/fonts/NanumGothic-ExtraBold.woff2) format('woff2'),
            url(/fonts/NanumGothic-ExtraBold.woff) format('woff'),
            url(/fonts/NanumGothic-ExtraBold.ttf) format('truetype');
}

@import 'prefix.styl'
@import 'reset.styl'

@import 'site/layout.styl'
@import 'site/page.styl'
@import 'site/border.styl'
@import 'site/game.styl'
@import 'site/zone.styl'
@import 'site/login.styl'
@import 'site/card.styl'
