html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
table caption {
  display: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.ellipsis {
  display: inline-block;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}
.ui-tooltip {
  background: #ffd424 !important;
  color: #000 !important;
  font-weight: 600 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
html,
body {
  background: url("/images/pattern03.png") #000;
  padding: 0;
  margin: 0;
  color: #eee;
  font-size: 14px;
  -webkit-text-size-adjust: none;
}
a {
  color: #eee;
  font-size: 14px;
  text-decoration: none;
}
#gnb {
  position: fixed;
  background: #36312f;
  top: 0;
  bottom: 0;
  left: -270px;
  width: 260px;
  height: 100%;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 99;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  -webkit-overflow-scrolling: touch;
}
#gnb.on {
  left: 0;
}
#gnb .user-box {
  position: relative;
  height: 50px;
  line-height: 50px;
  background: rgba(0,0,0,0.5);
  padding-left: 40px;
}
#gnb .user-memo {
  position: relative;
  height: 40px;
  line-height: 40px;
  background: rgba(0,0,0,0.1);
  padding-left: 40px;
  border-top: solid 1px rgba(255,255,255,0.1);
  border-bottom: solid 1px rgba(255,255,255,0.1);
}
#gnb .user-memo .qna {
  display: inline-block;
  width: 104px;
}
#gnb .user-memo .btn {
  position: absolute;
  right: 10px;
  padding: 0;
  width: 80px;
  text-align: center;
  top: 7px;
}
#gnb .gnb-btn {
  overflow: hidden;
  border-top: solid 1px rgba(255,255,255,0.1);
  border-bottom: solid 1px rgba(0,0,0,0.2);
}
#gnb .gnb-btn div {
  width: 50%;
  padding: 20px 0;
  text-align: center;
}
#gnb .gnb-btn div .btn {
  padding: 0;
  text-align: center;
  width: 80px;
  border-radius: 10px;
}
#gnb .gnb-btn div.btn-deposit {
  padding-left: 10px;
  float: left;
}
#gnb .gnb-btn div.btn-withdraw {
  padding-right: 10px;
  float: right;
}
#gnb ul li {
  border-top: solid 1px rgba(255,255,255,0.1);
  border-bottom: solid 1px rgba(0,0,0,0.2);
}
#gnb ul li a {
  display: block;
  padding-left: 40px;
  height: 42px;
  line-height: 42px;
}
#gnb ul li.on {
  background: #222;
}
#league {
  background: #444648;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 200px;
  height: 100%;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 8;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 60px;
}
#league.on {
  left: calc(100% - 200px);
}
#league img {
  vertical-align: middle;
}
#league li {
  display: block;
}
#league ul {
  display: none;
}
#league ul.on {
  display: block;
}
#league p {
  width: 200px;
  padding: 0 10px;
  height: 38px;
  line-height: 38px;
  background: #363537;
  margin: 1px 0;
  font-size: 13px;
}
#league p .cnt {
  float: right;
  display: block;
  background-color: #dc0405;
  height: 18px;
  line-height: 18px;
  padding: 0 7px;
  border-radius: 10px;
  margin-top: 10px;
}
#league p.top {
  height: 40px;
  line-height: 40px;
  font-weight: 600;
  background: #262527;
}
#league p.top .cnt {
  margin-top: 12px;
}
#league p.title {
  height: 48px;
  line-height: 48px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
#league p.league {
  padding-left: 16px;
  background: #565658;
}
.container {
  padding-bottom: 50px;
}
header,
footer {
  position: relative;
  height: 50px;
  line-height: 50px;
  background: #e7402e;
  padding: 0 10px;
  z-index: 7;
}
header h1,
footer h1 {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}
.user-info {
  height: 40px;
  line-height: 40px;
  background: #36312f;
  padding: 0 10px;
}
.user-info .user-name {
  float: left;
}
.user-info .user-point {
  float: right;
}
.user-info .user-point em {
  color: #ee5f5b;
}
.user-info .user-point .btn {
  font-size: 13px;
}
.user-info .money {
  background: url("/images/icon_money.png") left center no-repeat;
  padding-left: 18px;
}
.user-info .point {
  margin-left: 10px;
  background: url("/images/icon_point.png") left center no-repeat;
  padding-left: 18px;
}
.user-id {
  color: #51b2dc;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 10px;
}
footer em {
  display: inline-block;
  background: #000;
  padding: 0 10px;
  height: 26px;
  line-height: 26px;
}
#btn-cart,
#btn-menu,
#btn-close,
#btn-home {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  top: 5px;
  right: 10px;
  background: url("/images/m/btn-cart.png") center center no-repeat;
  text-indent: -999px;
}
#btn-cart#btn-menu,
#btn-menu#btn-menu,
#btn-close#btn-menu,
#btn-home#btn-menu {
  right: auto;
  left: 10px;
  background: url("/images/m/btn-menu.png") center center no-repeat;
}
#btn-cart#btn-close,
#btn-menu#btn-close,
#btn-close#btn-close,
#btn-home#btn-close {
  background: url("/images/m/btn-close.png") center center no-repeat;
}
#btn-cart#btn-home,
#btn-menu#btn-home,
#btn-close#btn-home,
#btn-home#btn-home {
  background: url("/images/m/btn-home.png") center center no-repeat;
}
#layout-wrap {
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 998;
  left: 0;
  top: 0;
}
#layout-box {
  top: 50%;
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 999;
  height: 546px;
  margin-top: -286px;
  margin-bottom: 200px;
}
#layout-box img {
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  -o-transform: scale(0.85);
  transform: scale(0.85);
  display: block;
  margin: 20px auto;
}
.paging {
  text-align: center;
  padding: 28px 0;
  margin: 0 auto;
  clear: both;
}
.paging a,
.paging em {
  display: inline-block;
  height: 30px;
  line-height: 28px;
  width: auto;
  padding: 0;
  text-align: center;
  border: solid 1px #444;
}
.paging a.prev,
.paging em.prev {
  float: left;
  width: 36%;
  margin-right: 10px;
  background: gray-darker;
  border-radius: 15px;
}
.paging a.next,
.paging em.next {
  float: right;
  width: 36%;
  margin-left: 10px;
  background: gray-darker;
  border-radius: 15px;
}
.paging em {
  border: none;
}
@media (orientation: landscape) {
  #login .login-wrap {
    top: 0 !important;
    margin-top: 0 !important;
  }
  #layout-box {
    top: 50px !important;
    margin-top: 0 !important;
  }
  td.land {
    display: table-row;
  }
}
#league-btn,
#btn-top,
#btn-reload {
  position: fixed;
  width: 50px;
  height: 50px;
  line-height: 50px;
  right: 10px;
  background: #f00;
  opacity: 0.6;
  border-radius: 5px;
  text-shadow: -1px -1px 1px rgba(0,0,0,0.6);
  -webkit-box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
  box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
  border: solid 1px rgba(255,255,255,0.1);
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  text-align: center;
  font-weight: 600;
  color: #fff;
}
#league-btn {
  z-index: 8;
  bottom: 120px;
}
#league-btn.on {
  right: 200px;
  opacity: 1;
}
#btn-reload {
  background: url("/images/icon-reload.png") center center no-repeat #565658;
  z-index: 8;
  opacity: 0.8;
  bottom: 120px;
  right: 70px;
}
#btn-top {
  bottom: 60px;
  background: #565658;
  opacity: 0;
}
#btn-top.show {
  opacity: 0.8;
}
.btn {
  cursor: pointer;
  display: inline-block;
  background: #444;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  color: #fff;
}
.btn.on {
  background: #262527;
}
.btn-big {
  margin-bottom: 4px;
  display: block;
  width: 100%;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  background: #444;
}
.btn01 {
  background: #06a;
}
.btn01.on {
  background: #004777;
}
.btn02 {
  background: #d40;
}
.btn02.on {
  background: #9b3000;
}
.btn03 {
  background: #ce0f0b;
}
.btn03.on {
  background: #900a08;
}
.color0 {
  color: #fff !important;
}
.color01 {
  color: #5bc0de !important;
}
.color02 {
  color: #ee5f5b !important;
}
.color03 {
  color: #f89406 !important;
}
.color04 {
  color: #62c462 !important;
}
.main {
  padding-bottom: 80px;
}
.main h2 {
  text-align: center;
  font-size: 60px;
  font-family: font-eng;
  font-weight: 800;
  margin: 30px 0 20px 0;
  text-shadow: 1px 1px 20px #000;
}
.main .main-menu {
  text-align: center;
}
.main .main-menu a {
  display: inline-block;
  margin: 4px 2px;
  width: 80px;
  height: 80px;
}
main.page {
  padding: 10px;
}
main.page h2 {
  font-size: 16px;
}
.tab-sports {
  margin-bottom: 10px;
}
.box {
  -webkit-box-shadow: inset 0 0 10px 1px rgba(255,255,255,0.5);
  box-shadow: inset 0 0 10px 1px rgba(255,255,255,0.5);
  background: rgba(0,0,0,0.6);
  border-radius: 10px;
  padding: 20px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.box h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.box h4 {
  font-size: 16px;
  margin-bottom: 10px;
}
.box h5 {
  font-size: 14px;
  margin-bottom: 10px;
}
.event {
  padding: 20px;
  background: #ffd424;
  border-radius: 10px;
  color: #000;
  margin-bottom: 20px;
}
.amount {
  text-align: center;
  margin-bottom: 20px;
}
.amount .btn {
  width: 24%;
  height: 36px;
  line-height: 36px;
  margin: 1px -1px;
  padding: 0;
  text-align: center;
}
.command {
  margin-bottom: 20px;
}
.command .btn {
  width: 100%;
}
.wrap label {
  display: block;
  position: relative;
  margin-bottom: 10px;
}
.wrap label span {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}
input,
select,
textarea {
  color: #fff;
  width: 100%;
  padding: 0 15px;
  height: 44px;
  font-size: 14px;
  border-radius: 4px;
  margin-bottom: 4px;
  border: solid 1px #444;
  background: rgba(0,0,0,0.5);
}
textarea {
  padding: 15px;
  height: 200px;
}
img {
  vertical-align: middle;
}
.pc {
  padding: 10px;
}
.memo-cnt {
  display: inline-block;
  padding: 0 7px;
  height: 20px;
  line-height: 20px;
  background: #ce0f0b;
  border-radius: 10px;
  font-size: 13px;
}
.lv {
  display: inline-block;
  background: #1f809c;
  height: 20px;
  line-height: 20px;
  width: 36px;
  color: #fff;
  text-align: center;
  margin-right: 10px;
  font-size: 12px;
}
.tab-menu {
  height: 50px;
  border-bottom: solid 1px #3a3e41;
  overflow-y: hidden;
  overflow-x: scroll;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.tab-menu .tab-menu-wrap {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  font-size: 0;
}
.tab-menu .tab-menu-wrap a {
  width: 20%;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: linear-gradient(to bottom, #414b4d, #11161a 100%);
}
.tab-menu .tab-menu-wrap a.on {
  background: #2a2f35;
  -webkit-box-shadow: inset 0 0 6px 2px rgba(0,0,0,0.8);
  box-shadow: inset 0 0 6px 2px rgba(0,0,0,0.8);
}
.tab-menu2 {
  text-align: center;
  width: 100%;
  border-bottom: solid 1px rgba(0,0,0,0.5);
  background: rgba(0,0,0,0.5);
  display: table;
}
.tab-menu2 a {
  display: table-cell;
  width: 18%;
  height: 40px;
  line-height: 40px;
}
.tab-menu2 a.on {
  color: #ee5f5b;
}
#layout-load {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  z-index: 999;
}
ul.list {
  margin-bottom: 20px;
}
ul.list li {
  border-bottom: solid 1px rgba(255,255,255,0.1);
  display: block;
  padding: 10px 0;
}
ul.list li .title {
  line-height: 1.6;
  padding-bottom: 10px;
}
ul.list li .title .hit {
  color: #ee5f5b;
}
ul.list li .title .new,
ul.list li .title .bet {
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  color: #fff;
  margin: 0 1px;
  text-align: center;
  font-size: 10px;
  font-family: Arial;
}
ul.list li .title .new.new,
ul.list li .title .bet.new {
  background-color: #c8232c;
}
ul.list li .title .new.bet,
ul.list li .title .bet.bet {
  background-color: #389638;
}
ul.list li .date {
  float: right;
}
ul.list li .label {
  display: inline-block;
  background: #ffd424;
  height: 20px;
  line-height: 20px;
  padding: 0;
  margin: 0;
  width: 70px;
  border-radius: 0;
  color: #000;
  text-align: center;
}
ul.list li.contents {
  padding: 0;
  background: #444;
  display: none;
}
ul.list li.contents h5 {
  font-size: 15px;
  padding: 10px;
  line-height: 1.6;
  background: rgba(0,0,0,0.5);
}
ul.list li.contents p {
  padding: 20px 10px;
  position: relative;
  line-height: 1.6;
}
ul.list li.contents p .btn {
  position: absolute;
  right: 10px;
  top: 10px;
}
.cal-title {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.cal-title span {
  display: inline-block;
  font-size: 24px;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  padding: 0 20px;
}
.cal-title .btn {
  padding: 0;
  width: 60px;
}
ul.calendar {
  width: 100%;
  display: block;
  margin-left: 4px;
}
ul.calendar li {
  display: table-cell;
  float: left;
  width: 14.28%;
  border: solid 1px #272b30;
  margin-left: -1px;
  margin-top: -1px;
  height: 70px;
  background: #30353c;
  text-align: right;
  padding: 10px;
  font-size: 16px;
}
ul.calendar li.blank {
  background: none;
}
ul.calendar li.check {
  background: url("/images/check.png") center 24px no-repeat #30353c;
  background-size: 35px 36px;
}
ul.calendar li:nth-child(7n + 1) {
  color: #f30;
}
ul.calendar li:nth-child(7n + 0) {
  color: #48f;
}
ul.calendar li.th {
  background: #1f2226;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: 600;
  padding: 0;
}
table {
  width: 100%;
  border-collapse: separate;
  table-layout: fixed;
  border-top: solid 1px rgba(255,255,255,0.2);
}
table th,
table td {
  vertical-align: middle;
  text-align: center;
  border-bottom: solid 1px rgba(255,255,255,0.2);
  height: 34px;
}
table th.land,
table td.land {
  display: none;
}
table th {
  height: 38px;
  background: rgba(0,0,0,0.5);
}
table.view {
  -webkit-box-shadow: none;
  box-shadow: none;
}
table.view th {
  text-align: left;
}
table.view th p {
  font-size: 15px;
  padding: 10px 0;
  line-height: 1.6;
}
table.view td {
  background: none;
  border-bottom: solid 1px #464547;
  padding: 10px 20px;
}
table.view td .date {
  display: block;
  height: 20px;
  line-height: 20px;
  background: url("/images/icon_time.png") left center no-repeat;
  padding-left: 16px;
  float: right;
}
table.view td.contents,
table.view td.user {
  text-align: left;
  padding: 10px 0;
  line-height: 1.6;
}
.comment textarea {
  width: calc(100% - 80px);
  height: 80px;
}
.comment .btn {
  float: right;
  width: 80px;
  height: 80px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 0 4px 4px 0;
}
.comments > div {
  overflow: hidden;
  border-bottom: solid 1px rgba(255,255,255,0.1);
  padding: 10px;
}
.comments > div .date {
  margin-top: 6px;
  display: block;
  height: 20px;
  line-height: 20px;
  background: url("/images/icon_time.png") left center no-repeat;
  padding-left: 16px;
}
.comments > div .user {
  float: left;
  width: 160px;
}
.comments > div .title {
  position: relative;
  padding-left: 160px;
}
.comments > div .title p {
  color: #fff;
  line-height: 1.6;
}
.comments > div .title .icon_delete {
  position: absolute;
  right: 0;
  top: 0;
  width: 21px;
  height: 21px;
  background: url("/images/icon_delete.png") center center no-repeat #dc0405;
}
table.game {
  border: none;
}
table.game tbody.group:before {
  content: '';
  display: block;
  height: 15px;
  background: none;
}
table.game tr.off td.bet {
  background: #464547 !important;
}
table.game td {
  height: auto;
  padding: 10px;
  font-size: 13px;
  border-left: solid 1px rgba(255,255,255,0.1);
  border-top: solid 1px rgba(255,255,255,0.1);
  border-right: solid 1px rgba(0,0,0,0.8);
  border-bottom: solid 1px rgba(0,0,0,0.8);
}
table.game td .ellipses {
  width: 100%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
table.game td.home {
  color: #fff;
  text-align: left;
}
table.game td.home .odds {
  display: block;
  text-align: right;
  font-weight: 600;
  color: #ee5f5b;
}
table.game td.draw {
  padding: 0;
}
table.game td.draw.bet {
  color: #ee5f5b;
  font-weight: 600;
}
table.game td.away {
  color: #fff;
  text-align: right;
}
table.game td.away .odds {
  display: block;
  text-align: left;
  font-weight: 600;
  color: #ee5f5b;
}
table.game td.off {
  background: #222;
}
table.game td.bet {
  position: relative;
  background: #262527;
}
table.game td.bet p {
  margin-bottom: 6px;
}
table.game td.bet a {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
table.game td.on {
  background: #dda424;
  color: #000 !important;
}
table.game td.on * {
  color: #000 !important;
}
table.game td.hit {
  -webkit-box-shadow: inset 0 0 0 1px #fff;
  box-shadow: inset 0 0 0 1px #fff;
}
table.game td .odds .over {
  background: url("/images/icon_over.gif") left center no-repeat;
  padding-left: 20px;
  font-weight: normal;
  color: #f03300;
  margin: 0 6px;
}
table.game td .odds .under {
  background: url("/images/icon_under.gif") right center no-repeat;
  padding-right: 20px;
  font-weight: normal;
  color: #0af;
  margin: 0 6px;
}
table.game td .odds .handy {
  font-weight: normal;
  color: #62c462;
}
table.game td.score {
  color: #fff;
  -webkit-box-shadow: inset 0 0 40px 1px #000;
  box-shadow: inset 0 0 40px 1px #000;
  padding: 0;
}
table.game .league {
  text-align: left;
  background: #000;
  height: 38px;
  background: none;
  border: none;
}
table.game .league p {
  display: inline-block;
}
table.game .league p .date {
  color: #ffd424;
  padding-left: 10px;
}
table.game .league .btn {
  float: right;
  position: relative;
  padding: 0;
  width: 42px;
  text-align: center;
  font-size: 13px;
  height: 24px;
  line-height: 24px;
}
table.game .league .btn em {
  background: rgba(0,0,0,0.5);
  position: absolute;
  right: 1px;
  top: 1px;
  height: 22px;
  line-height: 22px;
  width: 40px;
  padding-right: 6px;
  text-align: right;
}
table.game .league .date {
  float: right;
  display: block;
  height: 24px;
  line-height: 24px;
}
table.game .league .rest-time {
  float: right;
}
table.game .betInfo {
  border: none;
  text-align: left;
  padding: 10px 0 20px 0;
}
table.game .betInfo p {
  display: inline-block;
  width: 49%;
  color: #fff;
  line-height: 1.6;
}
table.game .betInfo p .hit {
  color: #f60;
}
table.game .betInfo .btn-box {
  text-align: center;
  margin-top: 10px;
}
.zone {
  padding: 10px 0;
}
.zone .timer {
  padding: 10px;
  overflow: hidden;
  border: solid 4px rgba(255,255,255,0.15);
  border-radius: 10px;
  margin-bottom: 20px;
}
.zone .timer em {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #aaa;
}
.zone .timer .timer-box {
  display: inline-block;
  float: right;
}
.zone .timer .flip-clock-divider .flip-clock-label {
  display: none;
}
#zoneBox {
  position: relative;
  overflow: hidden;
}
#zoneBox > div {
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
-moz-transform-origin
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
#zoneButton {
  margin: 0 auto;
  width: 100%;
  padding: 4px 5px;
  background: #bbb;
  border: solid 1px #acacac;
  border-radius: 4px;
  text-align: left;
}
#zoneButton a {
  display: inline-block;
  color: #222;
  font-weight: 600;
  text-shadow: 1px 1px 1px #fff;
  padding: 0 20px;
  height: 22px;
  line-height: 20px;
  text-align: center;
  border: solid 1px transparent;
}
#zoneButton a.on,
#zoneButton a:hover {
  background: #197d5f;
  border-color: #116249;
  border-radius: 3px;
  color: #fff;
  text-shadow: none;
}
#cart-wrap {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 50px;
  background: #262527;
  z-index: 9;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#cart-wrap.on {
  height: 70%;
}
#cart-wrap .cart-slip {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
#cart-wrap footer {
  position: relative;
}
#cart-wrap .cart-item > div {
  position: relative;
  padding: 10px;
  border-top: solid 1px rgba(255,255,255,0.1);
  border-bottom: solid 1px rgba(0,0,0,0.3);
  overflow: hidden;
}
#cart-wrap .cart-item > div p {
  height: 24px;
  line-height: 24px;
}
#cart-wrap .cart-item > div.bonus p {
  width: 100%;
  text-align: center;
  color: #ee5f5b;
}
#cart-wrap .cart-item > div .team {
  float: left;
}
#cart-wrap .cart-item > div .team img {
  vertical-align: middle;
}
#cart-wrap .cart-item > div .odds {
  color: #4a98be;
  float: right;
  padding-right: 36px;
}
#cart-wrap .cart-item > div .btn {
  background: #b90304;
  position: absolute;
  right: 10px;
  top: 12px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  padding: 0;
  text-align: center;
}
#cart-wrap .cart-odds {
  padding: 10px;
  border-top: solid 1px rgba(255,255,255,0.1);
  border-bottom: solid 1px rgba(0,0,0,0.3);
}
#cart-wrap .cart-odds p {
  height: 24px;
  line-height: 24px;
}
#cart-wrap .cart-odds p span {
  float: right;
}
#cart-wrap .cart-odds p span em {
  color: #ee5f5b;
}
#cart-wrap .cart-odds p span input {
  width: 82px;
  height: 20px;
  background: #000;
  border: 0;
  padding: 0;
  border-radius: 0;
  outline: 0;
  text-align: right;
  color: #ee5f5b;
}
#cart-wrap .cart-amount {
  padding: 10px;
  overflow: hidden;
}
#cart-wrap .cart-amount li {
  float: left;
  width: 25%;
  padding: 1px;
}
#cart-wrap .cart-amount .btn {
  float: left;
  width: 100%;
  height: 36px;
  line-height: 36px;
  text-align: center;
}
#cart-wrap .cart-betting {
  padding: 0 10px;
}
.ladder-result {
  background: url("/images/ladder-result.png");
  display: inline-block;
  width: 26px;
  height: 26px;
}
.ladder-result.s1 {
  background-position: 0 0;
}
.ladder-result.s2 {
  background-position: -26px 0;
}
.ladder-result.s3 {
  background-position: -52px 0;
}
.ladder-result.s4 {
  background-position: -78px 0;
}
.lowhi-result {
  background: url("/images/lowhi-result.png");
  display: inline-block;
  width: 50px;
  height: 25px;
}
.lowhi-result.s1 {
  background-position: 0 0;
}
.lowhi-result.s2 {
  background-position: -50px 0;
}
.lowhi-result.s3 {
  background-position: -100px 0;
}
.lowhi-result.s4 {
  background-position: -150px 0;
}
#timer {
  line-height: 1;
  width: 150px;
  text-align: center;
  text-shadow: 0 1px 2px #000;
  font-size: 22px;
  font-weight: 600;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
#timer div,
#timer span {
  display: block;
  width: 30px;
  height: 36px;
  line-height: 36px;
  background: #333;
  float: left;
  border-radius: 4px;
  margin-left: 4px;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.7);
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.7);
  color: #ccc;
}
#timer > span {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 10px;
  color: #333;
  margin-left: 4px;
}
#login .login-wrap {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -250px;
  padding: 30px 20px;
}
#login .login-wrap.login-join {
  top: 0;
  margin-top: 0;
}
#login h1 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #fff;
}
#login label {
  position: relative;
}
#login label p {
  font-size: 12.5px;
  padding-bottom: 10px;
  line-height: 1.4;
}
#login label .bul {
  position: absolute;
  right: 10px;
  top: 2px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/images/btn_join.png") center left no-repeat;
}
#login label .bul.bul-ready {
  background-position: -20px 0;
}
#login label .bul.bul-error {
  background-position: -40px 0;
}
#login .command {
  margin-top: 20px;
}
#login .btn-login {
  background: #59a735;
}
#login .btn-join {
  border: 1px solid #aaa;
}
#login .copyright {
  text-align: center;
  margin-top: 40px;
  font-size: 11px;
  color: #888;
}
#login .copyright span {
  color: #ccc;
}
.spinner {
  width: 20px;
  height: 20px;
  background-color: #ee3729;
  -webkit-animation: sk-rotate 1.6s infinite ease-in-out;
  -o-animation: sk-rotate 1.6s infinite ease-in-out;
  animation: sk-rotate 1.6s infinite ease-in-out;
}
.loading {
  width: 100px;
  height: 100px;
  background: url("/images/m/loading.png") center center no-repeat;
  -webkit-animation: sk-span 2s infinite linear;
  -o-animation: sk-span 2s infinite linear;
  animation: sk-span 2s infinite linear;
}
@-webkit-keyframes sk-rotate {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}
@-moz-keyframes sk-rotate {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@-webkit-keyframes sk-rotate {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@-o-keyframes sk-rotate {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@keyframes sk-rotate {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@-moz-keyframes sk-span {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
  }
}
@-webkit-keyframes sk-span {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes sk-span {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
  }
}
@keyframes sk-span {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
  }
}
