@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/NanumGothic-Regular.eot");
  src: url("/fonts/NanumGothic-Regular.eot?#iefix") format('embedded-opentype'), url("/fonts/NanumGothic-Regular.woff2") format('woff2'), url("/fonts/NanumGothic-Regular.woff") format('woff'), url("/fonts/NanumGothic-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/NanumGothic-Bold.eot");
  src: url("/fonts/NanumGothic-Bold.eot?#iefix") format('embedded-opentype'), url("/fonts/NanumGothic-Bold.woff2") format('woff2'), url("/fonts/NanumGothic-Bold.woff") format('woff'), url("/fonts/NanumGothic-Bold.ttf") format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/NanumGothic-ExtraBold.eot");
  src: url("/fonts/NanumGothic-ExtraBold.eot?#iefix") format('embedded-opentype'), url("/fonts/NanumGothic-ExtraBold.woff2") format('woff2'), url("/fonts/NanumGothic-ExtraBold.woff") format('woff'), url("/fonts/NanumGothic-ExtraBold.ttf") format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
table caption {
  display: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.ellipsis {
  display: inline-block;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}
.ui-tooltip {
  background: #ffd424 !important;
  color: #000 !important;
  font-weight: 600 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
html,
body {
  height: 100%;
}
body {
  height: calc(100% - 126px);
  color: #ddd;
  background: #0b0c0e;
  font-size: 13px;
  font-family: 'NanumGothic', 'Nanum Gothic', 'AppleSDGothicNeo', 'Malgun Gothic';
}
[ng:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
img {
  vertical-align: middle;
}
.container {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}
a,
button {
  color: #ccc;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
a:hover,
button:hover {
  color: #fff;
}
header {
  position: fixed;
  width: 100%;
  z-index: 9;
  top: 0;
  -webkit-box-shadow: 0 0 10px 4px rgba(0,0,0,0.6);
  box-shadow: 0 0 10px 4px rgba(0,0,0,0.6);
}
header nav {
  height: 50px;
  background: #464547;
}
header .gnb {
  background: #000;
  overflow: hidden;
  height: 40px;
  line-height: 40px;
}
header .gnb .title {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  width: 167px;
  z-index: 2;
  background: #464547;
}
header .gnb #rolling-wrap {
  float: right;
  width: 1160px;
  height: 40px;
  line-height: 40px;
  position: relative;
  overflow: hidden;
}
header .gnb #rolling-wrap p {
  position: absolute;
  left: 1160px;
  overflow: hidden;
  white-space: nowrap;
}
header .info {
  height: 36px;
  line-height: 36px;
  background: #262527;
}
header .info .right {
  float: right;
}
header .info .userid {
  color: #51b2dc;
  font-weight: 600;
}
header .info .logout {
  display: inline-block;
  background: #565658;
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  margin-left: 40px;
  color: #fff;
}
header .info .logout:hover {
  background: #d40;
}
header .info .qna {
  margin-left: 40px;
  background: url("/images/icon_qna.png") left center no-repeat;
  padding-left: 24px;
}
header .info .qna em {
  color: #51b2dc;
}
header .info .memo {
  margin-left: 40px;
  background: url("/images/icon_memo.png") left center no-repeat;
  padding-left: 22px;
}
header .info .memo em {
  color: #51b2dc;
}
header .info .money {
  background: url("/images/icon_money.png") left center no-repeat;
  padding-left: 18px;
}
header .info .money em {
  color: #ee5f5b;
}
header .info .point {
  margin-left: 40px;
  background: url("/images/icon_point.png") left center no-repeat;
  padding-left: 18px;
}
header .info .point em {
  color: #ee5f5b;
}
header .info .exchange {
  display: inline-block;
  background: #565658;
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  margin-left: 20px;
  color: #fff;
}
header .info .exchange:hover {
  background: #06a;
}
header .logo {
  width: 195px;
  height: 50px;
  float: left;
  position: relative;
}
header .logo img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .nav {
  float: right;
  height: 50px;
}
header .nav li {
  float: left;
  position: relative;
  display: block;
}
header .nav li ul.sub {
  display: none;
  padding-top: 10px;
  background: #464547;
  position: absolute;
  width: 100%;
  z-index: 2;
  -webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
}
header .nav li ul.sub li {
  float: none;
  border-bottom: solid 1px #363537;
}
header .nav li ul.sub li a {
  padding: 0;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  border: none;
  height: 32px;
  line-height: 32px;
}
header .nav li a {
  display: block;
  padding: 0 26px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 600;
  border-bottom: solid 2px transparent;
}
header .nav li.on > a,
header .nav li.on:hover > a {
  background: rgba(0,0,0,0.1);
  color: #f60;
  border-bottom-color: #f60;
}
header .nav li:hover > a {
  text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
  background: rgba(0,0,0,0.2);
  color: #fff;
  border-bottom-color: #727272;
}
header .nav li:hover ul.sub {
  display: block;
}
header .nav li.gnb-btn a {
  color: #fff;
  border: solid 1px rgba(255,255,255,0.3);
  margin: 12px 0 0 6px;
  padding: 0 30px;
  border-radius: 5px;
  height: 26px;
  line-height: 24px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  font-size: 14px;
}
header .nav li.gnb-btn a.gnb-deposit {
  margin-left: 60px;
  background: #63a001;
}
header .nav li.gnb-btn a.gnb-deposit:hover {
  background: #538601;
}
header .nav li.gnb-btn a.gnb-withdraw {
  background: #dc0405;
}
header .nav li.gnb-btn a.gnb-withdraw:hover {
  background: #b90304;
}
main {
  min-height: 100%;
  position: relative;
  margin-top: 126px;
  padding-bottom: 100px;
}
main .content {
  position: relative;
  height: 100%;
}
main.main .content {
  margin-top: -63px;
}
main.page figure {
  position: absolute;
  width: 100%;
  height: 600px;
  z-index: 0;
}
main .main-wrap {
  overflow: hidden;
  background: url("/images/main-bg2.png") no-repeat;
  padding: 40px 20px;
}
main .main-wrap h3,
main .main-wrap h4 {
  height: 24px;
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
  border-bottom: solid 1px #727272;
}
main .main-wrap h3 span,
main .main-wrap h4 span {
  color: #51b2dc;
}
main .main-wrap article {
  float: left;
  padding: 0 15px;
  font-size: 14px;
}
main .main-wrap article li {
  overflow: hidden;
}
main .main-wrap article li span {
  display: block;
  height: 28px;
  line-height: 28px;
  float: left;
}
main .main-wrap article li span.date {
  width: 24%;
}
main .main-wrap article li span.date em {
  color: #fff;
}
main .main-wrap article li span.home,
main .main-wrap article li span.away {
  width: 33%;
  color: #fff;
}
main .main-wrap article li span.away {
  text-align: right;
}
main .main-wrap article li span.vs {
  width: 10%;
  text-align: center;
}
main .main-wrap article li a {
  width: 100%;
  display: block;
  height: 28px;
  line-height: 28px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
main .main-wrap .game {
  width: 46%;
}
main .main-wrap .event {
  width: 27%;
}
main .main-wrap .notice {
  width: 27%;
}
main figure {
  height: 600px;
  background: url("/images/main_visual2.jpg") right top no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}
main figure h1 {
  padding: 100px 0 0 40px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 40px;
  color: #fff;
  line-height: 1.2;
  font-weight: 100;
}
main figure p {
  display: table;
  padding: 4px 20px;
  background: rgba(0,0,0,0.5);
  margin-bottom: 4px;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
main figure p:hover {
  letter-spacing: 1px;
}
footer {
  background: #363537;
  height: 80px;
  margin-top: -80px;
  border-top: solid 1px rgba(255,255,255,0.1);
}
footer .copyright {
  position: relative;
  margin-top: 20px;
  text-align: center;
  color: #727272;
}
footer .copyright span {
  color: #ddd;
}
footer .copyright .btn {
  float: right;
}
#clock {
  margin-top: 4px;
  width: 220px;
}
#btn-top {
  cursor: pointer;
  position: fixed;
  margin-left: 50%;
  left: 670px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  background: #565658;
  border: solid 1px rgba(255,255,255,0.1);
  text-align: center;
  text-shadow: -1px -1px 1px rgba(0,0,0,0.6);
  -webkit-box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
  box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  opacity: 0;
  font-weight: 600;
}
#btn-top:hover {
  background: btn-info;
}
#btn-top.show {
  opacity: 1;
}
main.page .container {
  background: #565658;
  margin-top: 10px;
  padding: 10px 10px 30px 10px;
  min-height: 500px;
  overflow: hidden;
}
main.page .container section {
  width: 1030px;
  float: left;
}
main.page .container aside {
  margin-top: -10px;
  width: 220px;
  float: right;
}
main.page .container aside.fixed #clock {
  position: fixed;
}
main.page .container aside.fixed .cart-wrap {
  padding-top: 0;
  top: 176px;
  position: fixed;
}
main.page .container h3 {
  font-size: 18px;
  font-weight: 600;
  border-bottom: solid 1px #464547;
  margin-bottom: 20px;
  height: 42px;
  line-height: 42px;
}
main.page .container h3 .btn {
  float: right;
  height: 30px;
  line-height: 30px;
  margin-top: -6px;
}
main.page .container h4 {
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 10px;
}
main.page .container h5 {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 10px;
}
main.page .container .box {
  padding: 30px 20px;
  line-height: 1.8;
  background: #262527;
  border: solid 1px #565658;
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
  box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}
main.page .container .command {
  padding: 20px 0;
  text-align: right;
}
main.page .container .command .btn {
  font-size: 14px;
  font-weight: 600;
  height: 32px;
  line-height: 32px;
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
  border-radius: 4px;
}
main.page .container .command .btn:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}
main.page .tab-menu {
  text-align: right;
}
.color0 {
  color: #fff !important;
}
.color01 {
  color: #5bc0de !important;
}
.color02 {
  color: #ee5f5b !important;
}
.color03 {
  color: #f89406 !important;
}
.color04 {
  color: #62c462 !important;
}
.btn {
  cursor: pointer;
  display: inline-block;
  background: #363537;
  height: 24px;
  line-height: 24px;
  padding: 0 20px;
}
.btn.on,
.btn:hover {
  background: #262527;
}
.btn.btn01 {
  background: #06a;
}
.btn.btn01.on,
.btn.btn01:hover {
  background: #004777;
}
.btn.btn02 {
  background: #d40;
}
.btn.btn02.on,
.btn.btn02:hover {
  background: #9b3000;
}
.btn.btn03 {
  background: #ce0f0b;
}
.btn.btn03.on,
.btn.btn03:hover {
  background: #900a08;
}
main input,
main select,
main textarea {
  background: #353535;
  border: 1px solid #1c1c1c;
  border-radius: 2px;
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  color: #ccc;
  -webkit-box-shadow: inset 0 0 5px 2px rgba(0,0,0,0.2);
  box-shadow: inset 0 0 5px 2px rgba(0,0,0,0.2);
  vertical-align: middle;
}
main input:focus,
main select:focus,
main textarea:focus {
  border-color: #444;
}
main input.ng-invalid,
main select.ng-invalid,
main textarea.ng-invalid {
  border-color: color03;
}
main input[disabled=disabled],
main select[disabled=disabled],
main textarea[disabled=disabled] {
  color: #666;
}
main input.num {
  text-align: right;
}
main textarea {
  padding: 10px;
  line-height: 1.6;
}
div.paging {
  text-align: center;
  font-size: 0;
  margin: 25px 0;
}
div.paging ul {
  display: inline-block;
}
div.paging li {
  float: left;
  font-size: 13px;
  margin: 0 -1px 0 0;
  height: 34px;
  line-height: 32px;
  border: solid 1px rgba(255,255,255,0.05);
}
div.paging li:hover {
  position: relative;
  border-color: rgba(255,255,255,0.3);
  z-index: 1;
}
div.paging li.prev {
  margin-right: 8px;
}
div.paging li.prev a {
  background: rgba(0,0,0,0.5);
}
div.paging li.next {
  margin-left: 8px;
}
div.paging li.next a {
  background: rgba(0,0,0,0.5);
}
div.paging a,
div.paging em {
  display: block;
  padding: 0 12.5px;
}
div.paging a {
  cursor: pointer;
}
div.paging em {
  background: #c8232c;
}
#layout-wrap {
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 998;
  left: 0;
  top: 0;
}
#layout-box {
  top: 50%;
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 999;
  height: 546px;
  margin-top: -273px;
}
#layout-box img {
  display: inline-block;
  margin: 0 10px;
}
#layout-load {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  margin-top: -200px;
  margin-left: -150px;
  z-index: 999;
}
.lv {
  display: inline-block;
  background: #1f809c;
  height: 20px;
  line-height: 20px;
  width: 36px;
  color: #fff;
  text-align: center;
  margin-right: 10px;
  font-size: 12px;
}
.cal-title {
  text-align: center;
  margin-bottom: 20px;
}
.cal-title span {
  display: inline-block;
  font-size: 24px;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  padding: 0 20px;
}
.cal-title .btn {
  width: 60px;
  height: 36px;
  line-height: 36px;
  padding: 0;
  text-align: center;
}
ul.calendar {
  width: 100%;
  display: table;
  margin-left: 1px;
}
ul.calendar li {
  display: table-cell;
  float: left;
  width: 14.28%;
  border: solid 1px #565658;
  margin-left: -1px;
  margin-top: -1px;
  height: 100px;
  background: #464547;
  text-align: right;
  padding: 10px;
  font-size: 16px;
}
ul.calendar li.blank {
  background: none;
}
ul.calendar li.check {
  background: url("/images/check.png") center center no-repeat #464547;
}
ul.calendar li:nth-child(7n + 1) {
  color: #f30;
}
ul.calendar li:nth-child(7n + 0) {
  color: #48f;
}
ul.calendar li.th {
  background: #363537;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: 600;
  padding: 0;
}
table {
  border-collapse: collapse;
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
  box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}
table.fixed {
  table-layout: fixed;
}
table th,
table td {
  height: 32px;
  vertical-align: middle;
  border: 1px solid #565658;
  padding: 6px 0;
}
table th {
  background: #363537;
}
table td {
  background: #464547;
  text-align: left;
  padding-left: 20px;
}
table.banking .btn {
  width: 72px;
  padding: 0;
  text-align: center;
}
table.view {
  -webkit-box-shadow: none;
  box-shadow: none;
}
table.view th {
  text-align: left;
}
table.view th p {
  font-size: 15px;
  padding: 10px 20px;
  line-height: 1.6;
}
table.view td {
  background: none;
  border-bottom: solid 1px #464547;
  padding: 10px 20px;
}
table.view td .date {
  display: block;
  height: 20px;
  line-height: 20px;
  background: url("/images/icon_time.png") left center no-repeat;
  padding-left: 16px;
  float: right;
}
table.view td.contents {
  padding: 20px;
  line-height: 1.6;
}
table.add td {
  padding: 6px 10px;
}
table.add td input {
  width: 100%;
}
table.add td textarea {
  width: 100%;
  height: 300px;
}
table.list td {
  padding-left: 0;
  text-align: center;
}
table.list td .label {
  background-color: #1f809c;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  width: 50px;
  color: #fff;
  font-size: 10px;
  font-family: Arial;
}
table.list td.title {
  text-align: left;
  padding: 0 20px;
  cursor: pointer;
}
table.list td.title .hit {
  color: #ee5f5b;
}
table.list td.title .new,
table.list td.title .bet {
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  color: #fff;
  margin: 0 1px;
  text-align: center;
  font-size: 10px;
  font-family: Arial;
}
table.list td.title .new.new,
table.list td.title .bet.new {
  background-color: #c8232c;
}
table.list td.title .new.bet,
table.list td.title .bet.bet {
  background-color: #389638;
}
table.list td.title a {
  max-width: 540px;
}
table.list td.title:hover a {
  color: #fff;
}
table.list td.user {
  text-align: left;
  padding: 0 10px;
}
table.list td.user.admin {
  padding-left: 60px;
}
div.board {
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
  box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}
div.board ul {
  display: table;
  border-collapse: collapse;
  width: 100%;
  margin-top: -1px;
}
div.board ul li {
  display: table-cell;
  height: 32px;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #565658;
  width: auto;
  background: #464547;
}
div.board ul.head {
  margin-top: 0;
}
div.board ul.head li {
  background: #363537;
  text-align: center !important;
}
div.board.qna li:nth-child(1),
div.board.memo li:nth-child(1) {
  width: 80px;
}
div.board.qna li:nth-child(2),
div.board.memo li:nth-child(2) {
  width: 630px;
  padding: 0 10px;
  text-align: left;
  cursor: pointer;
}
div.board.qna li:nth-child(2) a,
div.board.memo li:nth-child(2) a {
  width: 600px;
}
div.board.qna li:nth-child(2):hover a,
div.board.memo li:nth-child(2):hover a {
  color: #fff;
}
div.board.qna li:nth-child(4),
div.board.memo li:nth-child(4) {
  width: 80px;
}
div.board.qna li:nth-child(5),
div.board.memo li:nth-child(5) {
  width: 80px;
}
div.board.qna ul.contents,
div.board.memo ul.contents {
  display: none;
}
div.board.qna ul.contents li,
div.board.memo ul.contents li {
  display: block;
  height: auto;
  width: 100%;
  padding: 20px;
  text-align: left;
  line-height: 1.8;
  background: #363537;
  -webkit-box-shadow: inset 8px 8px 40px 1px rgba(0,0,0,0.3);
  box-shadow: inset 8px 8px 40px 1px rgba(0,0,0,0.3);
}
div.board.qna ul.contents li h5,
div.board.memo ul.contents li h5 {
  font-size: 14px;
  background: rgba(0,0,0,0.3);
  padding: 6px 20px;
}
div.board.qna ul.contents li p,
div.board.memo ul.contents li p {
  padding: 20px;
  position: relative;
}
div.board.qna ul.contents li p .btn,
div.board.memo ul.contents li p .btn {
  position: absolute;
  right: 0;
  top: 10px;
}
div.board.memo li:nth-child(2) {
  width: 710px;
  padding: 0 10px;
  text-align: left;
  cursor: pointer;
}
div.board.memo li:nth-child(2) a {
  width: 670px;
}
div.board.memo li:nth-child(2):hover a {
  color: #fff;
}
.comment {
  background: #464547;
  padding: 10px;
}
.comment textarea {
  width: calc(100% - 120px);
  height: 80px;
}
.comment .btn {
  float: right;
  width: 120px;
  height: 80px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 0 4px 4px 0;
}
.comments > div {
  overflow: hidden;
  border-top: solid 1px #565658;
  padding: 10px 20px;
  background: #464547;
}
.comments > div .date {
  margin-top: 6px;
  display: block;
  height: 20px;
  line-height: 20px;
  background: url("/images/icon_time.png") left center no-repeat;
  padding-left: 16px;
}
.comments > div .user {
  float: left;
  width: 160px;
}
.comments > div .title {
  position: relative;
  padding-left: 160px;
}
.comments > div .title p {
  color: #fff;
  line-height: 1.6;
}
.comments > div .title .icon_delete {
  position: absolute;
  right: 0;
  top: 0;
  width: 21px;
  height: 21px;
  background: url("/images/icon_delete.png") center center no-repeat #dc0405;
}
table.game {
  -webkit-box-shadow: none;
  box-shadow: none;
}
table.game img,
table.game span {
  vertical-align: middle;
}
table.game tbody.group:before {
  content: '';
  display: block;
  height: 15px;
  background: #565658;
}
table.game tr.off td {
  background: #464547 !important;
  cursor: auto !important;
}
table.game td {
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  padding: 0 10px;
}
table.game td.league {
  padding: 0;
  background: #565658;
  color: #fff;
  text-align: left;
  height: 40px;
  font-weight: 600;
}
table.game td.league img {
  margin-right: 8px;
}
table.game td.league img.flag {
  margin-left: 20px;
}
table.game td.league p {
  display: inline-block;
  min-width: 176px;
}
table.game td.league .cnt {
  height: 20px;
  line-height: 20px;
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
  background-color: #dc0405;
  padding: 0 1px;
  border-radius: 12px;
}
table.game td.league .btn {
  float: right;
  position: relative;
  padding: 0 40px 0 0;
  width: 116px;
  text-align: center;
}
table.game td.league .btn em {
  background: rgba(0,0,0,0.5);
  position: absolute;
  right: 1px;
  top: 1px;
  height: 22px;
  line-height: 22px;
  width: 40px;
  padding-right: 6px;
  text-align: right;
}
table.game td.date span {
  color: #5bc0de;
}
table.game td.home {
  color: #fff;
  text-align: left;
}
table.game td.home .odds {
  display: inline-block;
  float: right;
  font-weight: 600;
  color: #ee5f5b;
}
table.game td.draw.bet {
  color: #ee5f5b;
}
table.game td.away {
  color: #fff;
  text-align: right;
}
table.game td.away .odds {
  display: inline-block;
  float: left;
  font-weight: 600;
  color: #ee5f5b;
}
table.game td.bet {
  position: relative;
  background: #363537;
  cursor: pointer;
}
table.game td.bet:hover {
  background: #000;
}
table.game td.bet.on {
  background: #dc0405;
  color: #fff;
}
table.game td.bet.on * {
  color: #fff;
}
table.game td.bet a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
table.game td.over {
  background: #262527;
  color: #ee5f5b;
  margin: 0 6px;
}
table.game td.under {
  background: #262527;
  color: #5bc0de;
  margin: 0 6px;
}
table.game td.score {
  color: #fff;
  -webkit-box-shadow: inset 0 0 40px 1px #000;
  box-shadow: inset 0 0 40px 1px #000;
}
table.game tr.item td.home,
table.game tr.item td.draw,
table.game tr.item td.away {
  background: #363537;
}
table.game tr.item td.home.bet,
table.game tr.item td.draw.bet,
table.game tr.item td.away.bet {
  background: #ee5f5b;
  color: #fff;
}
table.game tr.item td.home.bet *,
table.game tr.item td.draw.bet *,
table.game tr.item td.away.bet * {
  color: #fff;
}
table.game tr.item td.home.on,
table.game tr.item td.draw.on,
table.game tr.item td.away.on {
  -webkit-box-shadow: inset 0 0 0 1px #fff;
  box-shadow: inset 0 0 0 1px #fff;
}
table.game tr.item td.home.hit,
table.game tr.item td.draw.hit,
table.game tr.item td.away.hit {
  background: #dc0405;
  color: #fff;
}
table.game tr.item td.home.hit *,
table.game tr.item td.draw.hit *,
table.game tr.item td.away.hit * {
  color: #fff;
}
table.game tr.item td.vs.hit {
  background: #dc0405;
  color: #fff;
}
table.game tr.item td.vs.hit * {
  color: #fff;
}
table.game tr.item td.info img {
  margin-right: 8px;
}
table.game tr.item td.odds {
  color: #ee5f5b;
  font-weight: 600;
}
table.game tr.item td.result.ing,
table.game tr.item td.result.closing {
  color: #fff;
}
table.game tr.item td.result.win {
  color: #63a001;
}
table.game tr.item td.result.lose {
  color: #f60;
}
table.game tr.item td.result.hit {
  color: #5bc0de;
}
table.game tr.item td.result.cancel {
  color: #ee5f5b;
}
table.game td.betInfo {
  background: #565658;
  text-align: left;
  padding: 6px 0 20px 0;
  font-size: 14px;
}
table.game td.betInfo span {
  display: inline-block;
  color: #fff;
}
table.game td.betInfo span .money {
  color: #62c462;
  font-weight: 600;
  vertical-align: baseline;
}
table.game td.betInfo span .hit {
  color: #ff5f5b;
  font-weight: 600;
  vertical-align: baseline;
}
table.game td.betInfo span.dateDay {
  margin-left: 20px;
}
table.game td.betInfo span.dateTime {
  color: #f89406;
}
table.game td.betInfo span.betMoney,
table.game td.betInfo span.rate,
table.game td.betInfo span.expMoney,
table.game td.betInfo span.hitMoney {
  margin-left: 20px;
}
table.game td.betInfo span.btn-box {
  display: inline-block;
  float: right;
  font-size: 13px;
  margin-top: 2px;
}
table.game td.betInfo input {
  width: 20px;
  height: 20px;
  padding: 0;
}
ul.sports {
  float: right;
  height: 30px;
}
ul.sports li {
  float: left;
  padding-left: 20px;
  cursor: pointer;
  height: 24px;
  line-height: 24px;
}
ul.sports li em {
  vertical-align: middle;
  display: inline-block;
  background-color: #dc0405;
  padding: 0 7px;
  border-radius: 10px;
  margin-left: 10px;
}
ul.sports li img {
  vertical-align: middle;
}
#left-league {
  display: block;
  position: absolute;
  top: 70px;
  left: 50%;
  margin-left: -850px;
}
#left-league ul {
  display: none;
}
#left-league ul.on {
  display: block;
}
#left-league li {
  display: block;
}
#left-league li .cnt {
  float: right;
  display: block;
  background-color: #dc0405;
  height: 18px;
  line-height: 18px;
  padding: 0 7px;
  border-radius: 10px;
  margin-top: 6px;
}
#left-league li p {
  width: 200px;
  padding: 0 10px;
  height: 28px;
  line-height: 28px;
  cursor: pointer;
  background: #363537;
  margin: 1px 0;
}
#left-league li p.top {
  height: 32px;
  line-height: 32px;
  font-weight: 600;
  background: #262527;
}
#left-league li p.top .cnt {
  margin-top: 8px;
}
#left-league li p.league {
  padding-left: 16px;
  background: #565658;
}
.cart-wrap {
  padding-top: 6px;
  width: 220px;
  font-size: 13px;
}
.cart-wrap .cart-top {
  font-size: 14px;
  font-weight: 600;
  background: #262527;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}
.cart-wrap .cart-top label {
  font-size: 11px;
  float: right;
  display: inline-block;
}
.cart-wrap .cart-top label input {
  height: auto;
  line-height: auto;
}
.cart-wrap .cart-odds {
  margin-top: 4px;
  padding: 10px;
  background: #464547;
}
.cart-wrap .cart-odds p {
  height: 24px;
  line-height: 24px;
  color: #fff;
}
.cart-wrap .cart-odds p input {
  width: 120px;
  height: 22px;
  text-align: right;
  font-size: 14px;
  padding: 0;
  color: #f30;
}
.cart-wrap .cart-odds p span {
  display: inline-block;
  float: right;
}
.cart-wrap .cart-odds p em {
  color: #5bc0de;
}
.cart-wrap .cart-amount {
  overflow: hidden;
  margin-top: 2px;
}
.cart-wrap .cart-amount li {
  float: left;
  display: block;
  width: 32%;
  margin-top: 2px;
  margin-bottom: 2px;
}
.cart-wrap .cart-amount li .btn {
  width: 100%;
  padding: 0;
  text-align: center;
  height: 32px;
  line-height: 32px;
  border: solid 1px rgba(0,0,0,0.4);
}
.cart-wrap .cart-amount li:nth-child(3n + 2) {
  margin-left: 2%;
  margin-right: 2%;
}
.cart-wrap .cart-betting {
  margin-top: 2px;
}
.cart-wrap .cart-betting .btn {
  border-radius: 5px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  height: 42px;
  line-height: 42px;
  background: #dc0405;
  color: #fff;
  font-weight: 600;
}
.cart-wrap .cart-betting .btn:hover {
  background: #b90304;
}
.cart-wrap .cart-betting .btn em {
  margin-left: 2px;
  font-size: 13px;
  display: inline-block;
  height: 22px;
  line-height: 20px;
  vertical-align: middle;
  background: #363537;
  padding: 0 8px;
  border-radius: 50%;
}
.cart-wrap .cart-item div {
  margin-top: 4px;
  padding: 10px;
  position: relative;
  background: #464547;
}
.cart-wrap .cart-item div.bonus {
  background: #363537;
}
.cart-wrap .cart-item div.bonus span {
  color: #5bc0de;
}
.cart-wrap .cart-item .btn {
  padding: 0 6px;
  position: absolute;
  height: 20px;
  line-height: 20px;
  right: 10px;
  top: 8px;
  background: #dc0405;
  color: #fff;
}
.cart-wrap .cart-item .btn:hover {
  background: #b90304;
}
.cart-wrap .cart-item p {
  height: 18px;
  line-height: 18px;
}
.cart-wrap .cart-item p.odds {
  margin-bottom: 8px;
  color: #fff;
}
.cart-wrap .cart-item p.odds img {
  vertical-align: middle;
}
.cart-wrap .cart-item p.odds span {
  float: right;
  padding-right: 16px;
  color: #5bc0de;
}
.cart-wrap .cart-item p.zone {
  padding-left: 20px;
  color: #5bc0de;
}
.ladder-result {
  background: url("/images/ladder-result.png");
  display: inline-block;
  width: 26px;
  height: 26px;
}
.ladder-result.s1 {
  background-position: 0 0;
}
.ladder-result.s2 {
  background-position: -26px 0;
}
.ladder-result.s3 {
  background-position: -52px 0;
}
.ladder-result.s4 {
  background-position: -78px 0;
}
.lowhi-result {
  background: url("/images/lowhi-result.png");
  display: inline-block;
  width: 50px;
  height: 25px;
}
.lowhi-result.s1 {
  background-position: 0 0;
}
.lowhi-result.s2 {
  background-position: -50px 0;
}
.lowhi-result.s3 {
  background-position: -100px 0;
}
.lowhi-result.s4 {
  background-position: -150px 0;
}
div.zone {
  overflow: hidden;
  position: relative;
}
div.zone > .timer {
  width: 200px;
  float: left;
}
div.zone > .timer .timer-box {
  background: url("/images/zone/timer-bg.png");
  border: solid 4px #f60;
  width: 200px;
  text-align: center;
  border-radius: 6px;
  padding: 20px;
}
div.zone > .right {
  width: 820px;
  float: right;
}
#zoneButton {
  margin: 0 auto;
  width: 860px;
  padding: 4px 5px;
  background: #bbb;
  border: solid 1px #acacac;
  border-radius: 4px;
  text-align: left;
}
#zoneButton a {
  display: inline-block;
  color: #222;
  font-weight: 600;
  text-shadow: 1px 1px 1px #fff;
  padding: 0 20px;
  height: 22px;
  line-height: 20px;
  text-align: center;
  border: solid 1px transparent;
}
#zoneButton a.on,
#zoneButton a:hover {
  background: #197d5f;
  border-color: #116249;
  border-radius: 3px;
  color: #fff;
  text-shadow: none;
}
#login {
  background: url("/images/pattern03.png") #000;
}
#login .full_screen {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  -ms-object-fit: cover;
  object-fit: cover;
  z-index: 0;
  opacity: 0.6;
}
#login .login-logo {
  width: 800px;
  height: 420px;
  background: url("/images/logo.png") center center no-repeat #59a735;
  position: fixed;
  z-index: 2;
  right: 0;
  top: 0;
  opacity: 0.86;
}
#login .login-line {
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 300px;
  background: #f40;
  opacity: 0.8;
}
#login .login-line > div {
  height: 100%;
  width: 50%;
  left: 50%;
  background: #06f;
}
#login .login-wrap {
  position: absolute;
  width: 600px;
  left: 50%;
  min-height: 100%;
  padding: 0 100px;
  margin-left: -600px;
  background: rgba(0,0,0,0.8);
}
#login .login-wrap .login-box {
  text-align: center;
  width: 400px;
  margin: 0 auto;
  padding-top: 20%;
}
#login .login-wrap h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 48px;
  font-weight: 800;
  font-family: sans-serif;
  color: #eee;
  margin-bottom: 100px;
}
#login .login-wrap label {
  width: 300px;
  display: block;
  margin: 0 auto 10px auto;
  overflow: hidden;
}
#login .login-wrap input,
#login .login-wrap select {
  width: 100%;
  height: 40px;
  color: #fff;
  font-size: 16px;
  padding: 0 20px;
  border: solid 1px #444;
  border-radius: 5px;
  background: rgba(0,0,0,0.5);
}
#login .login-wrap select {
  color: #aaa;
  float: left;
  width: 140px;
}
#login .login-wrap select.on {
  color: #fff;
}
#login .login-wrap select option {
  color: #fff;
  background: rgba(0,0,0,0.7);
}
#login .login-wrap select + input {
  width: 176px;
  float: right;
}
#login .login-wrap .command {
  margin: 0 auto;
  padding-top: 30px;
  width: 300px;
}
#login .login-wrap .btn-login,
#login .login-wrap .btn-join {
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  margin-bottom: 10px;
  display: block;
  width: 100%;
  height: 46px;
  line-height: 46px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}
#login .login-wrap .btn-login {
  background: #59a735;
}
#login .login-wrap .btn-login:hover {
  background-color: #2d541b;
}
#login .login-wrap .btn-join {
  border: 1px solid #aaa;
}
#login .login-wrap .btn-join:hover {
  background-color: #fff;
  color: #3e7525;
}
#login .login-wrap .copyright {
  margin-top: 100px;
  font-family: Arial;
  font-size: 11px;
  color: #888;
}
#login .login-wrap .copyright span {
  color: #ccc;
}
#login .login-wrap.login-join {
  padding-bottom: 40px;
}
#login .login-wrap.login-join h1 {
  margin-bottom: 40px;
}
#login .login-wrap.login-join label {
  width: 320px;
  position: relative;
}
#login .login-wrap.login-join label .bul {
  position: absolute;
  right: 10px;
  top: 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/images/btn_join.png") center left no-repeat;
}
#login .login-wrap.login-join label .bul.bul-ready {
  background-position: -20px 0;
}
#login .login-wrap.login-join label .bul.bul-error {
  background-position: -40px 0;
}
#login .login-wrap.login-join label p {
  clear: both;
  color: #888;
  font-size: 13px;
  text-align: left;
  padding: 4px 0 0 20px;
  letter-spacing: -1px;
}
#login .login-wrap.login-join .command {
  width: 320px;
}
.spinner {
  width: 20px;
  height: 20px;
  background-color: #ee3729;
  -webkit-animation: sk-rotate 1.6s infinite ease-in-out;
  -o-animation: sk-rotate 1.6s infinite ease-in-out;
  animation: sk-rotate 1.6s infinite ease-in-out;
}
.loading {
  width: 453px;
  height: 453px;
  background: url("/images/loading.png") center center no-repeat;
  -webkit-animation: sk-span 2s infinite linear;
  -o-animation: sk-span 2s infinite linear;
  animation: sk-span 2s infinite linear;
}
@-webkit-keyframes sk-rotate {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}
@-moz-keyframes sk-rotate {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@-webkit-keyframes sk-rotate {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@-o-keyframes sk-rotate {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@keyframes sk-rotate {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@-moz-keyframes sk-span {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
  }
}
@-webkit-keyframes sk-span {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes sk-span {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
  }
}
@keyframes sk-span {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
  }
}
.card_result {
  width: 31px;
  height: 44px;
  display: inline-block;
  background: url("/images/card_result.png");
}
.card_result.card_102 {
  background-position: -47px -7px;
}
.card_result.card_103 {
  background-position: -85px -7px;
}
.card_result.card_104 {
  background-position: -122px -7px;
}
.card_result.card_105 {
  background-position: -160px -7px;
}
.card_result.card_106 {
  background-position: -197px -7px;
}
.card_result.card_107 {
  background-position: -235px -7px;
}
.card_result.card_108 {
  background-position: -273px -7px;
}
.card_result.card_109 {
  background-position: -310px -7px;
}
.card_result.card_110 {
  background-position: -347px -7px;
}
.card_result.card_111 {
  background-position: -385px -7px;
}
.card_result.card_112 {
  background-position: -423px -7px;
}
.card_result.card_113 {
  background-position: -461px -7px;
}
.card_result.card_114 {
  background-position: -10px -7px;
}
.card_result.card_202 {
  background-position: -47px -57px;
}
.card_result.card_203 {
  background-position: -85px -57px;
}
.card_result.card_204 {
  background-position: -122px -57px;
}
.card_result.card_205 {
  background-position: -160px -57px;
}
.card_result.card_206 {
  background-position: -197px -57px;
}
.card_result.card_207 {
  background-position: -235px -57px;
}
.card_result.card_208 {
  background-position: -273px -57px;
}
.card_result.card_209 {
  background-position: -310px -57px;
}
.card_result.card_210 {
  background-position: -347px -57px;
}
.card_result.card_211 {
  background-position: -385px -57px;
}
.card_result.card_212 {
  background-position: -423px -57px;
}
.card_result.card_213 {
  background-position: -461px -57px;
}
.card_result.card_214 {
  background-position: -10px -57px;
}
.card_result.card_302 {
  background-position: -47px -106px;
}
.card_result.card_303 {
  background-position: -85px -106px;
}
.card_result.card_304 {
  background-position: -122px -106px;
}
.card_result.card_305 {
  background-position: -160px -106px;
}
.card_result.card_306 {
  background-position: -197px -106px;
}
.card_result.card_307 {
  background-position: -235px -106px;
}
.card_result.card_308 {
  background-position: -273px -106px;
}
.card_result.card_309 {
  background-position: -310px -106px;
}
.card_result.card_310 {
  background-position: -347px -106px;
}
.card_result.card_311 {
  background-position: -385px -106px;
}
.card_result.card_312 {
  background-position: -423px -106px;
}
.card_result.card_313 {
  background-position: -461px -106px;
}
.card_result.card_314 {
  background-position: -10px -106px;
}
.card_result.card_402 {
  background-position: -47px -156px;
}
.card_result.card_403 {
  background-position: -85px -156px;
}
.card_result.card_404 {
  background-position: -122px -156px;
}
.card_result.card_405 {
  background-position: -160px -156px;
}
.card_result.card_406 {
  background-position: -197px -156px;
}
.card_result.card_407 {
  background-position: -235px -156px;
}
.card_result.card_408 {
  background-position: -273px -156px;
}
.card_result.card_409 {
  background-position: -310px -156px;
}
.card_result.card_410 {
  background-position: -347px -156px;
}
.card_result.card_411 {
  background-position: -385px -156px;
}
.card_result.card_412 {
  background-position: -423px -156px;
}
.card_result.card_413 {
  background-position: -461px -156px;
}
.card_result.card_414 {
  background-position: -10px -156px;
}
/*----------------------------------------------------------------*/
.card_result2 {
  width: 31px;
  height: 44px;
  display: inline-block;
  background: url("/images/card_result.png");
}
.card_result2.card_002 {
  background-position: -47px -7px;
}
.card_result2.card_003 {
  background-position: -85px -7px;
}
.card_result2.card_004 {
  background-position: -122px -7px;
}
.card_result2.card_005 {
  background-position: -160px -7px;
}
.card_result2.card_006 {
  background-position: -197px -7px;
}
.card_result2.card_007 {
  background-position: -235px -7px;
}
.card_result2.card_008 {
  background-position: -273px -7px;
}
.card_result2.card_009 {
  background-position: -310px -7px;
}
.card_result2.card_010 {
  background-position: -347px -7px;
}
.card_result2.card_011 {
  background-position: -385px -7px;
}
.card_result2.card_012 {
  background-position: -423px -7px;
}
.card_result2.card_013 {
  background-position: -461px -7px;
}
.card_result2.card_001 {
  background-position: -10px -7px;
}
.card_result2.card_202 {
  background-position: -47px -57px;
}
.card_result2.card_203 {
  background-position: -85px -57px;
}
.card_result2.card_204 {
  background-position: -122px -57px;
}
.card_result2.card_205 {
  background-position: -160px -57px;
}
.card_result2.card_206 {
  background-position: -197px -57px;
}
.card_result2.card_207 {
  background-position: -235px -57px;
}
.card_result2.card_208 {
  background-position: -273px -57px;
}
.card_result2.card_209 {
  background-position: -310px -57px;
}
.card_result2.card_210 {
  background-position: -347px -57px;
}
.card_result2.card_211 {
  background-position: -385px -57px;
}
.card_result2.card_212 {
  background-position: -423px -57px;
}
.card_result2.card_213 {
  background-position: -461px -57px;
}
.card_result2.card_201 {
  background-position: -10px -57px;
}
.card_result2.card_302 {
  background-position: -47px -106px;
}
.card_result2.card_303 {
  background-position: -85px -106px;
}
.card_result2.card_304 {
  background-position: -122px -106px;
}
.card_result2.card_305 {
  background-position: -160px -106px;
}
.card_result2.card_306 {
  background-position: -197px -106px;
}
.card_result2.card_307 {
  background-position: -235px -106px;
}
.card_result2.card_308 {
  background-position: -273px -106px;
}
.card_result2.card_309 {
  background-position: -310px -106px;
}
.card_result2.card_310 {
  background-position: -347px -106px;
}
.card_result2.card_311 {
  background-position: -385px -106px;
}
.card_result2.card_312 {
  background-position: -423px -106px;
}
.card_result2.card_313 {
  background-position: -461px -106px;
}
.card_result2.card_301 {
  background-position: -10px -106px;
}
.card_result2.card_102 {
  background-position: -47px -156px;
}
.card_result2.card_103 {
  background-position: -85px -156px;
}
.card_result2.card_104 {
  background-position: -122px -156px;
}
.card_result2.card_105 {
  background-position: -160px -156px;
}
.card_result2.card_106 {
  background-position: -197px -156px;
}
.card_result2.card_107 {
  background-position: -235px -156px;
}
.card_result2.card_108 {
  background-position: -273px -156px;
}
.card_result2.card_109 {
  background-position: -310px -156px;
}
.card_result2.card_110 {
  background-position: -347px -156px;
}
.card_result2.card_111 {
  background-position: -385px -156px;
}
.card_result2.card_112 {
  background-position: -423px -156px;
}
.card_result2.card_113 {
  background-position: -461px -156px;
}
.card_result2.card_101 {
  background-position: -10px -156px;
}