<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='zone', gnb='zone', lnb='kenoLadder', title='키노사다리'" ng-app="app">
<body ng-controller="gameCtrl">
<main class="page" layout:fragment="page">
    <div layout:fragment="tab-menu" th:replace="fragments/mobile :: miniGame" th:if="true"></div>
    <h3>
        <img ng-src="{{flag}}"/>
        키노사다리
        <!--<button class="powerToggle" onclick="javascript:frameToggle();" style="cursor: pointer;">현황판 열기/닫기</button>-->
    </h3>
    <br>

    <div id="zoneBox">
        <div>
            <iframe style="position: absolute; width: 828px; height: 630px;top: -20px;" scrolling="no" th:src="@{${sysConfig.zone.kenoLadderPlayer}}"></iframe>
            <div class="kenoBlindBox">

            </div>
        </div>
    </div>
    <br>



    <div class="zone">
        <div class="timer" ng-cloak ng-show="config.enabled">
            <em>베팅남은시간</em>
            <div class="timer-box">
                <div id="timer">
                    <div ng-bind="countdown[0]"></div>
                    <div ng-bind="countdown[1]"></div>
                    <span>:</span>
                    <div ng-bind="countdown[2]"></div>
                    <div ng-bind="countdown[3]"></div>
                </div>
            </div>
        </div>
        <table class="list game ng-cloak" ng-cloak ng-if="config.enabled">
            <caption>키노사다리</caption>
            <colgroup>
                <col>
                <col style="width: 60px;">
                <col>
            </colgroup>



            <div class="game_zone_arr">
                <div class="game_zone">
                    <div class="betting_lock" style="display: none;">
                        <p><i class="fa fa-lock" aria-hidden="false"></i></p>
                    </div>
                    <div class="btn-zone-arr">
                        <div class="powerball_ball">
                            <h3>키노 사다리</h3>

                            <div class="btn_zone01">

                                <a class="float_left betting" ng-click="add('oddeven', 'home', 0, '홀', $event)">

                                    <span class="miniFont">[홀]</span>
                                    <span class="divd">{{config.odds[0] | number: 2}}</span>

                                </a>

                                <a class="float_right betting" ng-click="add('oddeven', 'away', 1, '짝', $event)">

                                    <span class="miniFont">[짝]</span>
                                    <span class="divd">{{config.odds[1] | number: 2}}</span>

                                </a>

                                <div class="clear"></div>
                            </div>
                            <div class="btn_zone03">
                                <a class="float_left betting" ng-click="add('start', 'home', 2, '좌', $event)">
                                    <span class="miniFont">[좌]</span>
                                    <span class="divd">{{config.odds[2] | number: 2}}</span>
                                </a>
                                <a class="float_right betting" ng-click="add('start', 'away', 3, '우', $event)">
                                    <span class="miniFont">[우]</span>
                                    <span class="divd">{{config.odds[3] | number: 2}}</span>
                                </a>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"> </div>
                        </div>
                        <div class="clear"> </div>
                        <div class="btn_zone02">
                            <a class="float_left betting" ng-click="add('line', 'home', 4, '3줄', $event)">
                                <span class="miniFont">[3줄]</span>
                                <span class="divd">{{config.odds[4] | number: 2}}</span>
                            </a>
                            <a class="float_right betting" ng-click="add('line', 'away', 5, '4줄', $event)">
                                <span class="miniFont">[4줄]</span>
                                <span class="divd">{{config.odds[5] | number: 2}}</span>
                            </a>
                            <div class="clear"></div>
                        </div>
                        <div class="btn_zone033">
                            <a class="float_left betting" ng-click="add('line3Start', 'home', 6, '3줄/좌', $event)">
                                <span class="miniFont">[3줄/좌]</span>
                                <span class="divd">{{config.odds[6] | number: 2}}</span>
                            </a>
                            <a class="float_right betting" ng-click="add('line3Start', 'away', 7, '3줄/우', $event)">
                                <span class="miniFont">[3줄/우]</span>
                                <span class="divd">{{config.odds[7] | number: 2}}</span>
                            </a>
                            <div class="clear"></div>
                        </div>


                        <div class="btn_zone033">
                            <a class="float_left betting" ng-click="add('line4Start', 'home', 8, '4줄/좌', $event)">
                                <span class="miniFont">[4줄/좌]</span>
                                <span class="divd">{{config.odds[8] | number: 2}}</span>
                            </a>
                            <a class="float_right betting" ng-click="add('line4Start', 'away', 9, '4줄/우', $event)">
                                <span class="miniFont">[4줄/우]</span>
                                <span class="divd">{{config.odds[9] | number: 2}}</span>
                            </a>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="clear"> </div>
                </div>
            </div>

            <div class="cart-new-arr" style="margin-top: 330px;">
                <div class="price_zone_cart">
                    <div id="temp_cart">
                        <div id="cart_list"> 게임을 선택해 주세요.</div>
                        <div ng-repeat="c in cart" ng-if="zone">
                            <p class="team">
                                <img ng-src="{{flag}}"/>
                                {{name}} [{{c.pos}}]
                                <em style="color: #cb8b00"> X {{c.odds | number : 2}}배</em>
                                <a class="btn" ng-click="remove()">X</a>
                            </p>
                        </div>
                        <p>보유금액<span class="mb_point" th:text="${tag.num(user.money)}">4,835,000</span> </p>
                        <p>베팅금액<span>
            <input type="text" name="price" id="price" ng-model="money" ng-change="checkMoney()" placeholder="금액을 입력해 주세요."></span>
                        </p>
                        <p>적중금액 : <span><em style="color: #ffc428;">{{parseFloat(odds * money) | number : 0}}</em> 원</span></p>
                    </div>
                </div>
                <div class="btn_price_zone">
                    <button type="button" ng-click="addMoney(5000)" class="ui_btn_gray">5,000</button>
                    <button type="button" ng-click="addMoney(10000)" class="ui_btn_gray">10,000</button>

                    <button type="button" ng-click="addMoney(50000)" class="ui_btn_gray">50,000</button>
                    <button type="button" ng-click="addMoney(100000)" class="ui_btn_gray">100,000</button>
                    <button type="button" ng-click="addMoney(500000)" class="ui_btn_gray">500,000</button>
                    <button type="button" ng-click="addMoney(1000000)" class="ui_btn_gray">1,000,000</button>
                    <button type="button" ng-click="addHalf()" class="ui_btn_green">HAF</button>
                    <button type="button" ng-click="addMax()" class="ui_btn_yellow">MAX</button>
                    <button type="button" ng-click="addReset(5000)" class="ui_btn_blue">RESET</button>
                </div>
                <div class="betting_btn_zone"> <span id="btnBett" class="ui_btn_red" style="cursor: pointer;" ng-click="betting()">BETTING</span></div>
            </div>
        </table>
    </div>




    <br/>






    <!--<h3 style="margin-top: 30px;font-size:20px;color: #ffed22;">키노사다리 최근 배팅내역</h3>
    <table class="list game">
        <caption>스포츠</caption>
        <colgroup>
            <col>
            <col style="width: 40px;">
            <col style="width: 40px;">
            <col>
        </colgroup>
        <tbody class="betBody" th:each="b : ${powerBetList.content}">
        &lt;!&ndash;<tr>
            <th class="betListTh">홈팀</th>
            <th class="betListTh" colspan="2">무</th>
            <th class="betListTh">원정팀</th>
        </tr>&ndash;&gt;
        <th:block th:each="item : ${b.betItems}">
            <tr class="toneDown">
                <td class="league" colspan="4">
                    <input type="checkbox" class="inputCheckbox" name="betId" th:value="${b.id}"/>
                    <img th:src="@{|${tag.sportsFlag(item)}|}"/>
                    <img th:src="@{|${tag.leagueFlag(item)}|}"/>
                    <span class="vAlign" th:text="${item.league}"></span>
                    <span class="date" th:utext="${tag.dayWeekTime(item.gameDate)}">06/21(금)</span>
                </td>
            </tr>
            <tr class="item">
                <td th:class="${(item.betTeam eq 'home' ? 'bet home on' : 'bet home') + (item.gameResult.name() eq 'HOME' or item.gameResult.name() eq 'OVER' ? ' hit' : '')}">
                    <p class="ellipses"><em th:text="${item.teamHome}" th:remove="tag"></em><span class="color01"
                                                                                                  th:if="${item.menuCode.name() eq 'SPECIAL'}"
                                                                                                  th:text="${'[' + item.special + ']'}"></span>
                    </p>
                    <span class="odds"><span th:if="${item.gameCode.name() eq 'HANDICAP'}" class="l_handy">H</span><span
                            th:if="${item.gameCode.name() eq 'OVER_UNDER'}" class="over"></span><em
                            th:text="${tag.odds(item.oddsHome)}" th:remove="tag"></em></span>
                </td>
                <td colspan="2"
                    th:if="${item.gameCode.name() eq 'MATCH' or item.gameCode.name() eq 'ZONE' and not (item.special eq '핸디캡' or item.special eq '오버언더')}"
                    th:with="odds=${tag.odds(item.oddsDraw)}"
                    th:class="${(item.betTeam eq 'draw' ? 'draw on' : 'draw') + (item.gameResult.name() eq 'DRAW' or item.gameResult.name() eq 'HIT' or item.gameResult.name() eq 'DRAW_HIT' ? ' hit' : '') + (odds eq '0.00' ? '' : ' odds')}"
                    th:text="${odds eq '0.00' ? 'VS' : odds}">
                    무
                </td>
                <td colspan="2"
                    th:if="${item.gameCode.name() eq 'HANDICAP' or item.gameCode.name() eq 'OVER_UNDER' or item.special eq '핸디캡' or item.special eq '오버언더'}"
                    th:class="${item.gameResult.name() eq 'DRAW' or item.gameResult.name() eq 'HIT' or item.gameResult.name() eq 'DRAW_HIT' ? 'draw hit' : 'draw'}"
                    th:text="${tag.handicap(item.handicap)}">무
                </td>
                <td th:class="${(item.betTeam eq 'away' ? 'bet away on' : 'bet away') + (item.gameResult.name() eq 'AWAY' or item.gameResult.name() eq 'UNDER' ? ' hit' : '')}">
                    <span class="odds"><em th:text="${tag.odds(item.oddsAway)}" th:remove="tag"></em><span
                            th:if="${item.gameCode.name() eq 'HANDICAP'}" class="r_handy">H</span><span
                            th:if="${item.gameCode.name() eq 'OVER_UNDER'}" class="under"></span></span>
                    <p class="ellipses"><span class="color01" th:if="${item.menuCode.name() eq 'SPECIAL'}"
                                              th:text="${'[' + item.special + ']'}"></span><em
                            th:text="${item.teamAway}" th:remove="tag"></em></p>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="score" th:text="${item.scoreHome eq null ? '-' : item.scoreHome}"></td>
                <td colspan="2" class="score" th:text="${item.scoreAway eq null ? '-' : item.scoreAway}"></td>
            </tr>
        </th:block>
        <tr>
            <td class="betInfo" colspan="4">
                <p class="dateDay">
                    베팅시간 : <span th:utext="${tag.dayWeekTime(b.betDate)}"></span>
                </p>
                <p class="betMoney">
                    베팅금액 : <span th:text="${tag.num(b.betMoney)}">1,000</span>원
                </p>
                <p class="rate">
                    배당율 : <span th:text="${tag.odds(b.betOdds)}">1,000</span>배
                </p>
                <p class="rate">
                    보너스 배당 : <span th:text="${tag.odds(b.eventOdds)}">1,000</span>배
                </p>
                <p class="expMoney">
                    예상금액 : <span th:text="${tag.num(b.expMoney)}">1,000</span>원
                </p>
                <p class="hitMoney" th:if="${b.closing}">
                    적중금액 : <span th:class="${(tag.num(b.hitMoney) eq '0' ? 'noHit':'hit')}"
                                 th:text="${tag.num(b.hitMoney)}">1,000</span>원
                </p>
                <p class="expMoney">
                    결과 : <span th:class="${b.resultStringCss}" th:text="${b.resultString}"
                               style="font-weight: bolder;font-size: 18px;"></span>
                </p>
            </td>
        </tr>
        </tbody>
    </table>-->





</main>

<script layout:fragment="script" th:if="true">

    iframeScale(828, 630);

    $(window).on('orientationchange resize', function () {
        iframeScale(828, 630);
    });

    angular.module('app', []).controller('gameCtrl', ['$scope', '$http', '$interval', function ($scope, $http, $interval) {
        $scope.parseFloat = window.parseFloat;
        $scope.zone = true;
        $scope.cart = [];
        $scope.odds = 0.00;
        $scope.money = 0;
        $scope.flag = '/images/zone/flag-kenoladder.png';
        $scope.config = [(${config})];
        $scope.milliseconds = [[${user.milliseconds}]];
        $scope.bet = $scope.config.betTime > 0 ? 'on' : 'off';
        $scope.name = $scope.config.round + '회 키노사다리';
        $scope.countdown = ['0', '0', '0', '0'];

        $interval(function () {
            $scope.setInfo();
        }, 5000);

        $interval(function () {
            if ($scope.milliseconds <= $scope.config.gameDate + 10000) { // 키노 10초 리셋
                $scope.milliseconds += 1000;
                if ($scope.config.betTime < 0) {
                    $scope.countdowon = ['0', '0', '0', '0'];
                    angular.element('.betting').removeClass('select');
                    $scope.cart.length = 0;
                    $scope.bet = 'off';
                    $('.betting_lock').show();
                } else {
                    var min = '0' + parseInt($scope.config.betTime / 60);
                    min = min.substring(min.length - 2);
                    var sec = '0' + $scope.config.betTime % 60;
                    sec = sec.substring(sec.length - 2);
                    $scope.countdown = [min.substring(0, 1), min.substring(1, 2), sec.substring(0, 1), sec.substring(1, 2)];
                }
                $scope.config.betTime--;
            } else {
                $scope.setConfig();
                $scope.countdowon = ['0', '0', '0', '0'];
            }
        }, 1000);

        $scope.setInfo = function () {
            $http({
                url: path + '/api/info',
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.milliseconds = response.data.milliseconds;
                angular.element('#user-memo').text(response.data.memo.toString().money());
                angular.element('#user-money').text(response.data.money.toString().money());
                angular.element('#user-point').text(response.data.point.toString().money());
            }, function error(response) {
                if (response.status === 401 || response.status === 403) {
                    top.location.href = '/logout';
                }
            });
        };

        $scope.setConfig = function () {
            $http({
                url: path + '/zone/kenoLadder/config',
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.config = response.data;
                $scope.bet = $scope.config.betTime > 0 ? 'on' : 'off';
                if ($scope.config.betTime > 0) {
                    $('.betting_lock').hide();
                }else{
                    $('.betting_lock').show();
                }
            });
        };

        $scope.add = function (gameCode, betTeam, betZone, pos, event) {
            if ($scope.bet === 'off') {
                alert('현재 베팅이 중지 되었습니다.\n\n다음 게임을 베팅하시기 바랍니다.');
                return;
            }

            var ele = angular.element(event.target);

            if (ele.prop('tagName') != 'A') {
                ele=ele.parent();
            }
            $scope.cart.length = 0;
            if (ele.hasClass('select')) {
                ele.removeClass('select');
                $scope.odds = 0.00;
            } else {
                angular.element('.betting').removeClass('select');
                ele.addClass('select');
                var odds = $scope.config.odds[betZone];
                $scope.cart.push({sdate: $scope.config.sdate, gameCode: gameCode, betTeam: betTeam, betZone: betZone, odds: odds, pos: pos});
                $scope.odds = odds;
            }
        };

        $scope.remove = function () {
            angular.element('.betting').removeClass('select');
            $scope.cart.length = 0;
            $scope.odds = 0.00;
        };

        $scope.addMoney = function (m) {
            $scope.money += m;
        };

        $scope.addHalf = function () {
            if ($scope.cart.length === 0) {
                $scope.money = 0;
            } else {
                $scope.money = Math.min(Math.floor($scope.config.win / $scope.odds) / 2, $scope.config.max / 2);
            }
        };

        $scope.addReset = function () {
            $scope.money = 0;
        };

        $scope.addMax = function () {
            if ($scope.cart.length === 0) {
                $scope.money = 0;
            } else {
                $scope.money = Math.min(Math.floor($scope.config.win / $scope.odds), $scope.config.max);
            }
        };

        $scope.betting = function () {
            if ($scope.cart.length === 0) {
                alert('선택된 경기가 없습니다.');
                return;
            }
            if ($scope.money < $scope.config.min) {
                alert(String.format('최소 베팅 금액은 {0}원 입니다.', $scope.config.min.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.money > $scope.config.money) {
                alert('보유머니가 부족합니다.');
                $scope.money = 0;
                return;
            }
            if ($scope.money > $scope.config.max) {
                alert(String.format('최대 베팅 금액은 {0}원 입니다.', $scope.config.max.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.odds * $scope.money > $scope.config.win) {
                alert(String.format('적중 상한 금액은 {0}원 입니다.', $scope.config.win.toString().money()));
                $scope.money = 0;
                return;
            }
            if (!confirm('베팅 하시겠습니까?')) {
                return;
            }

            // 베팅
            $http({
                url: path + '/zone/kenoLadder/betting',
                method: 'POST',
                data: {
                    "betMoney": $scope.money,
                    "sdate": $scope.cart[0].sdate,
                    "gameCode": $scope.cart[0].gameCode,
                    "betTeam": $scope.cart[0].betTeam,
                    "betZone": $scope.cart[0].betZone,
                    "odds": $scope.cart[0].odds
                },
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                angular.element('#cart-wrap').removeClass('select');
                angular.element('.betting').removeClass('select');
                if (!response.data.success) {
                    alert(response.data.message);
                }else{
                    alert('베팅되었습니다.');
                    setTimeout(function () {
                        location.reload();
                    }, 1000);
                }
                $scope.money = 0;
                $scope.cart.length = 0;
                $scope.setInfo();
                $scope.setConfig();
            }, function error(response) {
                angular.element('#cart-wrap').removeClass('select');
                angular.element('.betting').removeClass('select');
                if (response.data.message !== '') {
                    alert(response.data.message);
                } else {
                    alert('베팅에 실패하였습니다.\n\n잠시 후 다시 시도하여 주세요.');
                }
                $scope.money = 0;
                $scope.cart.length = 0;
                $scope.setInfo();
                $scope.setConfig();
            });
        };
    }]);
</script>
</body>
</html>