<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='zone', gnb='zone', lnb='lotusBaccarat', title='로투스 바카라'" ng-app="app">
<body ng-controller="gameCtrl">

<main class="page" layout:fragment="page">
    <div layout:fragment="tab-menu" th:replace="fragments/mobile :: miniGame" th:if="true"></div>
    <h3>
        <img ng-src="{{flag}}"/>
        로투스 바카라1
        <span class="color03" th:text="'[제 {{config.round}}회차]'">256회차</span>
    </h3>

    <div class="iframe"><div>
        <iframe src="https://gogooeoeo.com/LotusWebFrameNEW/m/bababaca1.html" width="100%" height="491" frameborder="0" scrolling="no" ></iframe>
        <!--<iframe src="http://stream.lotusgmservice.live/iframe.php?type=03&gType=mobile&w=100%&h=900" width="100%" height="900" frameborder="0" scrolling="no" > </iframe>-->
    </div></div>

    <div class="zone">
        <div class="timer" ng-cloak ng-show="config.enabled">
            <em>베팅남은시간</em>
            <div class="timer-box">
                <div id="timer">
                    <div ng-bind="countdown[0]"></div>
                    <div ng-bind="countdown[1]"></div>
                    <span>:</span>
                    <div ng-bind="countdown[2]"></div>
                    <div ng-bind="countdown[3]"></div>
                </div>
            </div>
        </div>
        <div>
            <table class="list game ng-cloak" ng-cloak ng-if="config.enabled">
                <caption>로투스 바카라1</caption>
                <colgroup>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <div class="game_zone_arr" style="margin-top: -36px;">
                    <div class="game_zone">
                        <div class="betting_lock" style="display: none;">
                            <p><i class="fa fa-lock" aria-hidden="false"></i></p>
                        </div>
                        <div class="btn-zone-arr">
                            <div class="powerball_ball">
                                <h3>로투스 바카라1</h3>

                                    <div class="btn_zone04">

                                        <a class="float_left betting" ng-click="add('lotusBaccarat', 'home', 0, 'PLAYER', $event)">

                                            <span class="miniFont">[플레이어]</span>
                                            <span class="divd">{{config.odds[0] | number: 2}}</span>

                                        </a>

                                        <a class="float_center betting" ng-click="add('lotusBaccarat', 'draw', 1, 'TIE', $event)">

                                            <span class="miniFont">[타이]</span>
                                            <span class="divd">{{config.odds[1] | number: 2}}</span>

                                        </a>

                                        <a class="float_right betting" ng-click="add('lotusBaccarat', 'away', 2, 'BANKER', $event)">

                                            <span class="miniFont">[뱅커]</span>
                                            <span class="divd">{{config.odds[2] | number: 2}}</span>

                                        </a>
                                        <div class="clear"></div>
                                    </div>

                                    <div class="btn_zone01">

                                        <a class="float_left betting" ng-click="add('lotusBaccaratPP', 'home', 3, 'PLAYER PAIR', $event)">

                                            <span class="miniFont">[플레이어 페어]</span>
                                            <span class="divd">{{config.odds[3] | number: 2}}</span>

                                        </a>

                                        <a class="float_right betting" ng-click="add('lotusBaccaratBP', 'home', 5, 'BANKER PAIR', $event)">

                                            <span class="miniFont">[뱅커 페어]</span>
                                            <span class="divd">{{config.odds[5] | number: 2}}</span>

                                        </a>
                                        <div class="clear"></div>
                                    </div>
                                <div class="clear"> </div>
                            </div>
                            <div class="clear"> </div>
                        </div>
                        <div class="clear"> </div>
                    </div>
                </div>

                <div class="cart-new-arr" style="margin-top: 140px;">
                    <div class="price_zone_cart">
                        <div id="temp_cart">
                            <div id="cart_list"> 게임을 선택해 주세요.</div>
                            <div ng-repeat="c in cart" ng-if="zone">
                                <p class="team">
                                    <img ng-src="{{flag}}"/>
                                    {{name}} [{{c.pos}}]
                                    <em style="color: #cb8b00"> X {{c.odds | number : 2}}배</em>
                                    <a class="btn" ng-click="remove()">X</a>
                                </p>
                            </div>
                            <p>보유금액<span class="mb_point" th:text="${tag.num(user.money)}">4,835,000</span> </p>
                            <p>베팅금액<span>
                                <input type="text" name="price" id="price" ng-model="money" ng-change="checkMoney()" placeholder="금액을 입력해 주세요."></span>
                            </p>
                            <p>적중금액 : <span><em style="color: #ffc428;">{{parseFloat(odds * money) | number : 0}}</em> 원</span></p>
                        </div>
                    </div>
                    <div class="btn_price_zone">
                        <button type="button" ng-click="addMoney(5000)" class="ui_btn_gray">5,000</button>
                        <button type="button" ng-click="addMoney(10000)" class="ui_btn_gray">10,000</button>
                        <button type="button" ng-click="addMoney(50000)" class="ui_btn_gray">50,000</button>
                        <button type="button" ng-click="addMoney(100000)" class="ui_btn_gray">100,000</button>
                        <button type="button" ng-click="addMoney(500000)" class="ui_btn_gray">500,000</button>
                        <button type="button" ng-click="addMoney(1000000)" class="ui_btn_gray">1,000,000</button>
                        <button type="button" ng-click="addHalf()" class="ui_btn_green">HAF</button>
                        <button type="button" ng-click="addMax()" class="ui_btn_yellow">MAX</button>
                        <button type="button" ng-click="addReset(5000)" class="ui_btn_blue">RESET</button>
                    </div>
                    <div class="betting_btn_zone"> <span id="btnBett" class="ui_btn_red" style="cursor: pointer;" ng-click="betting()">BETTING</span></div>
                </div>
            </table>
        </div>
    </div>
    <br/>

</main>

<script layout:fragment="script" th:if="true">
    angular.module('app', []).controller('gameCtrl', ['$scope', '$http', '$interval', function ($scope, $http, $interval) {
        $scope.parseFloat = window.parseFloat;
        $scope.zone = true;
        $scope.cart = [];
        $scope.odds = 0.00;
        $scope.money = 0;
        $scope.flag = '/images/zone/flag-lbaccarat.png';
        $scope.config = [(${config})];
        $scope.milliseconds = [[${user.milliseconds}]];
        $scope.bet = $scope.config.betTime > 0 ? 'on' : 'off';
        $scope.name = $scope.config.round + '회 바카라';
        $scope.countdown = ['0', '0', '0', '0'];

        $interval(function () {
            $scope.setInfo();
        }, 5000);

        $interval(function () {
            if ($scope.milliseconds <= $scope.config.gameDate + 50000) { // 홀짝,바카라 1분 리셋
                $scope.milliseconds += 1000;
                if ($scope.config.betTime < 0) {
                    $scope.countdowon = ['0', '0', '0', '0'];
                    angular.element('.betting').removeClass('select');
                    $scope.cart.length = 0;
                    $scope.bet = 'off';
                    $('.betting_lock').show();
                } else {
                    var min = '0' + parseInt($scope.config.betTime / 50);
                    min = min.substring(min.length - 2);
                    var sec = '0' + $scope.config.betTime % 50;
                    sec = sec.substring(sec.length - 2);
                    $scope.countdown = [min.substring(0, 1), min.substring(1, 2), sec.substring(0, 1), sec.substring(1, 2)];
                }
                $scope.config.betTime--;
            } else {
                $scope.setConfig();
                $scope.countdowon = ['0', '0', '0', '0'];
            }
        }, 1000);

        $scope.setInfo = function () {
            $http({
                url: path + '/api/info',
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.milliseconds = response.data.milliseconds;
                angular.element('#user-memo').text(response.data.memo.toString().money());
                angular.element('#user-money').text(response.data.money.toString().money());
                angular.element('#user-point').text(response.data.point.toString().money());
            }, function error(response) {
                if (response.status === 401 || response.status === 403) {
                    top.location.href = '/logout';
                }
            });
        };

        $scope.setConfig = function () {
            angular.element('#cart-wrap').removeClass('select');
            $http({
                url: path + '/zone/lotusBaccarat/config',
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.config = response.data;
                $scope.bet = $scope.config.betTime > 0 ? 'on' : 'off';
                if ($scope.config.betTime > 0) {
                    $('.betting_lock').hide();
                }else{
                    $('.betting_lock').show();
                }
            });
        };

        $scope.add = function (gameCode, betTeam, betZone, pos, event) {
            if ($scope.bet === 'off') {
                alert('현재 베팅이 중지 되었습니다.\n\n다음 게임을 베팅하시기 바랍니다.');
                return;
            }

            var ele = angular.element(event.target);

            if (ele.prop('tagName') != 'A') {
                ele=ele.parent();
            }
            $scope.cart.length = 0;
            if (ele.hasClass('select')) {
                ele.removeClass('select');
                $scope.odds = 0.00;
            } else {
                angular.element('.betting').removeClass('select');
                ele.addClass('select');
                var odds = $scope.config.odds[betZone];
                $scope.cart.push({sdate: $scope.config.sdate, gameCode: gameCode, betTeam: betTeam, betZone: betZone, odds: odds, pos: pos});
                $scope.odds = odds;
            }
        };

        $scope.remove = function () {
            angular.element('.betting').removeClass('select');
            $scope.cart.length = 0;
            $scope.odds = 0.00;
        };

        $scope.addMoney = function (m) {
            $scope.money += m;
        };

        $scope.addHalf = function () {
            if ($scope.cart.length === 0) {
                $scope.money = 0;
            } else {
                $scope.money = Math.min(Math.floor($scope.config.win / $scope.odds) / 2, $scope.config.max / 2);
            }
        };


        $scope.addReset = function () {
            $scope.money = 0;
        };

        $scope.addMax = function () {
            if ($scope.cart.length === 0) {
                $scope.money = 0;
            } else {
                $scope.money = Math.min(Math.floor($scope.config.win / $scope.odds), $scope.config.max);
            }
        };

        $scope.betting = function () {
            if ($scope.cart.length === 0) {
                alert('선택된 경기가 없습니다.');
                return;
            }
            if ($scope.money < $scope.config.min) {
                alert(String.format('최소 베팅 금액은 {0}원 입니다.', $scope.config.min.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.money > $scope.config.money) {
                alert('보유머니가 부족합니다.');
                $scope.money = 0;
                return;
            }
            if ($scope.money > $scope.config.max) {
                alert(String.format('최대 베팅 금액은 {0}원 입니다.', $scope.config.max.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.odds * $scope.money > $scope.config.win) {
                alert(String.format('적중 상한 금액은 {0}원 입니다.', $scope.config.win.toString().money()));
                $scope.money = 0;
                return;
            }
            if (!confirm('베팅 하시겠습니까?')) {
                return;
            }

            // 베팅
            $http({
                url: path + '/zone/lotusBaccarat/betting',
                method: 'POST',
                data: {
                    "betMoney": $scope.money,
                    "sdate": $scope.cart[0].sdate,
                    "gameCode": $scope.cart[0].gameCode,
                    "betTeam": $scope.cart[0].betTeam,
                    "betZone": $scope.cart[0].betZone,
                    "odds": $scope.cart[0].odds
                },
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                angular.element('#cart-wrap').removeClass('select');
                angular.element('.betting').removeClass('select');
                if (!response.data.success) {
                    alert(response.data.message);
                }else{
                    alert('베팅되었습니다.');
                    setTimeout(function () {
                        location.reload();
                    }, 1000);
                }
                $scope.money = 0;
                $scope.cart.length = 0;
                $scope.setInfo();
                $scope.setConfig();
            }, function error(response) {
                angular.element('#cart-wrap').removeClass('select');
                angular.element('.betting').removeClass('select');
                if (response.data.message !== '') {
                    alert(response.data.message);
                } else {
                    alert('베팅에 실패하였습니다.\n\n잠시 후 다시 시도하여 주세요.');
                }
                $scope.money = 0;
                $scope.cart.length = 0;
                $scope.setInfo();
                $scope.setConfig();
            });
        };
    }]);
</script>
</body>
</html>