<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='roulette', gnb='zone', lnb='roulette', title='룰렛'" ng-app="app">
<body ng-controller="gameCtrl">

<main class="page" layout:fragment="page">
    <div layout:fragment="tab-menu" th:replace="fragments/mobile :: miniGame" th:if="true"></div>
    <style>
        .betBd1 {
            border-collapse: separate;
            cursor: pointer;
            padding: 0px;
        }
        .betBd1 td{
            padding: 0px;
            margin: 0px;
            text-align: center;

        }
        .betBd2 {
            cursor: pointer;
            padding: 0px;
        }
        .betBd2 td{
            padding: 0px;
            margin: 0px;
            text-align: center;

        }
        .hL {
            border-top: solid 0px;
            border-bottom: solid 0px;
            padding: 0px;
            width: 4px;
        }
        .hL2 {
            border-top: solid 0px;
            border-left: solid 0px;
            border-right: solid 0px;
            border-bottom: solid 0px;
            padding: 0px;
            width: 5px;
            height: 5px;
        }
        .wL {
            border: solid 0px;
            padding: 0px;
            height: 5px;
        }
        .betNum {
            border:2px solid #565658;
            padding: 0px;
            font-size: 15px;
            font-weight: bold;
            /*width:50px;*/
            /*height:50px;*/
        }
        .red {
            background: #d11900;
        }
        .red2 {
            /*width:70px;*/
            background: #3b0c00;
        }
        .green {
            padding: 0px;
            font-size: 15px;
            font-weight: bold;
            background: #067b11;
        }
        .green2 {
            background: #053609;
        }
        .ftd {
            border-top: 0px;
            border-left:0px;
            border-bottom: 0px;
        }
        .ltd {
            border-top: 0px;
            border-right:0px;
            border-bottom: 0px;
        }
        .black {
            background: #000000;
        }
        .rb {
            padding: 0px;
            border-right: 0px solid #000000;
        }
        .click {
            border: #f2ff00 solid 2px;
        }
        .nonClick {
            border: #565658 solid 2px;
        }

    </style>

    <h3>
        <img ng-src="{{flag}}"/>
        룰렛
        <span class="color03" th:text="'[제 {{config.round}}회차]'">256회차</span>
    </h3>

    <br/>
    <div id="zoneBox" style="height: 440px;">
        <div >
            <iframe id="zoneFrame" style="position: absolute; width: 960px; height: 1010px; position: absolute;" scrolling="no" th:src="@{${sysConfig.zone.roulettePlayer}}"></iframe>
        </div>
    </div>

    <div class="zone">
        <div class="timer" ng-cloak ng-show="config.enabled">
            <em>베팅남은시간</em>
            <div class="timer-box">
                <div id="timer">
                    <div ng-bind="countdown[0]"></div>
                    <div ng-bind="countdown[1]"></div>
                    <span>:</span>
                    <div ng-bind="countdown[2]"></div>
                    <div ng-bind="countdown[3]"></div>
                </div>
            </div>
        </div>
        <div>
            <table class="betBd2" id="bet2" th:if="${sysConfig.zone.roulette}">
                <tr>
                    <td rowspan="5" class="betNum green" id="num0" data="straight">0</td>
                    <td class="hL" id="num0_num3" data="split"></td>
                    <td class="betNum red" id="num3" data="straight">3</td>
                    <td class="hL" id="num3_num6" data="split"></td>
                    <td class="betNum" id="num6" data="straight">6</td>
                    <td class="hL" id="num6_num9" data="split"></td>
                    <td class="betNum red" id="num9" data="straight">9</td>
                    <td class="hL" id="num9_num12" data="split"></td>
                    <td class="betNum red" id="num12" data="straight">12</td>
                    <td class="hL" id="num12_num15" data="split"></td>
                    <td class="betNum" id="num15" data="straight">15</td>
                    <td class="hL" id="num15_num18" data="split"></td>
                    <td class="betNum red" id="num18" data="straight">18</td>
                    <td class="hL" id="num18_num21" data="split"></td>
                    <td class="betNum red" id="num21" data="straight">21</td>
                    <td class="hL" id="num21_num24" data="split"></td>
                    <td class="betNum" id="num24" data="straight">24</td>
                    <td class="hL" id="num24_num27" data="split"></td>
                    <td class="betNum red" id="num27" data="straight">27</td>
                    <td class="hL" id="num27_num30" data="split"></td>
                    <td class="betNum red" id="num30" data="straight">30</td>
                    <td class="hL" id="num30_num33" data="split"></td>
                    <td class="betNum" id="num33" data="straight">33</td>
                    <td class="hL" id="num33_num36" data="split"></td>
                    <td class="betNum red" id="num36" data="straight">36</td>
                    <td class="red2" id="num3_num6_num9_num12_num15_num18_num21_num24_num27_num30_num33_num36" data="column1">2 To 1</td>
                </tr>
                <tr>
                    <td class="hL2" id="num0_num2_num3" data="triple"></td>
                    <td class="wL" id="num3_num2" data="split"></td>
                    <td class="hL2" id="num3_num2_num6_num5" data="corner"></td>
                    <td class="wL" id="num6_num5" data="split"></td>
                    <td class="hL2" id="num6_num5_num9_num8" data="corner"></td>
                    <td class="wL" id="num9_num8" data="split"></td>
                    <td class="hL2" id="num9_num8_num12_num11" data="corner"></td>
                    <td class="wL" id="num12_num11" data="split"></td>
                    <td class="hL2" id="num12_num11_num15_num14" data="corner"></td>
                    <td class="wL" id="num15_num14" data="split"></td>
                    <td class="hL2" id="num15_num14_num18_num17" data="corner"></td>
                    <td class="wL" id="num18_num17" data="split"></td>
                    <td class="hL2" id="num18_num17_num21_num20" data="corner"></td>
                    <td class="wL" id="num21_num20" data="split"></td>
                    <td class="hL2" id="num21_num20_num24_num23" data="corner"></td>
                    <td class="wL" id="num24_num23" data="split"></td>
                    <td class="hL2" id="num24_num23_num27_num26" data="corner"></td>
                    <td class="wL" id="num27_num26" data="split"></td>
                    <td class="hL2" id="num27_num26_num30_num29" data="corner"></td>
                    <td class="wL" id="num30_num29" data="split"></td>
                    <td class="hL2" id="num30_num29_num33_num32" data="corner"></td>
                    <td class="wL" id="num33_num32" data="split"></td>
                    <td class="hL2" id="num33_num32_num36_num35" data="corner"></td>
                    <td class="wL" id="num36_num35" data="split"></td>
                    <td class="wL"></td>
                </tr>
                <tr>
                    <td class="hL" id="num0_num2" data="split"></td>
                    <td class="betNum" id="num2" data="straight">2</td>
                    <td class="hL" id="num2_num5" data="split"></td>
                    <td class="betNum red" id="num5" data="straight">5</td>
                    <td class="hL" id="num5_num8" data="split"></td>
                    <td class="betNum" id="num8" data="straight">8</td>
                    <td class="hL" id="num8_num11" data="split"></td>
                    <td class="betNum" id="num11" data="straight">11</td>
                    <td class="hL" id="num11_num14" data="split"></td>
                    <td class="betNum red" id="num14" data="straight">14</td>
                    <td class="hL" id="num14_num17" data="split"></td>
                    <td class="betNum" id="num17" data="straight">17</td>
                    <td class="hL" id="num17_num20" data="split"></td>
                    <td class="betNum" id="num20" data="straight">20</td>
                    <td class="hL" id="num20_num23" data="split"></td>
                    <td class="betNum red" id="num23" data="straight">23</td>
                    <td class="hL" id="num23_num26" data="split"></td>
                    <td class="betNum" id="num26" data="straight">26</td>
                    <td class="hL" id="num26_num29" data="split"></td>
                    <td class="betNum" id="num29" data="straight">29</td>
                    <td class="hL" id="num29_num32" data="split"></td>
                    <td class="betNum red" id="num32" data="straight">32</td>
                    <td class="hL" id="num32_num35" data="split"></td>
                    <td class="betNum" id="num35" data="straight">35</td>
                    <td class="red2" id="num2_num5_num8_num11_num14_num17_num20_num23_num26_num29_num32_num35" data="column2">2 To 1</td>
                </tr>
                <tr>
                    <td class="hL2" id="num0_num2_num1" data="triple"></td>
                    <td class="wL" id="num2_num1" data="split"></td>
                    <td class="hL2" id="num2_num1_num5_num4" data="corner"></td>
                    <td class="wL" id="num5_num4" data="split"></td>
                    <td class="hL2" id="num5_num4_num8_num7" data="corner"></td>
                    <td class="wL" id="num8_num7" data="split"></td>
                    <td class="hL2" id="num8_num7_num11_num10" data="corner"></td>
                    <td class="wL" id="num11_num10" data="split"></td>
                    <td class="hL2" id="num11_num10_num14_num13" data="corner"></td>
                    <td class="wL" id="num14_num13" data="split"></td>
                    <td class="hL2" id="num14_num13_num17_num16" data="corner"></td>
                    <td class="wL" id="num17_num16" data="split"></td>
                    <td class="hL2" id="num17_num16_num20_num19" data="corner"></td>
                    <td class="wL" id="num20_num19" data="split"></td>
                    <td class="hL2" id="num20_num19_num23_num22" data="corner"></td>
                    <td class="wL" id="num23_num22" data="split"></td>
                    <td class="hL2" id="num23_num22_num26_num25" data="corner"></td>
                    <td class="wL" id="num26_num25" data="split"></td>
                    <td class="hL2" id="num26_num25_num28_num29" data="corner"></td>
                    <td class="wL" id="num29_num28" data="split"></td>
                    <td class="hL2" id="num28_num29_num31_num32" data="corner"></td>
                    <td class="wL" id="num32_num31" data="split"></td>
                    <td class="hL2" id="num31_num32_num34_num35" data="corner"></td>
                    <td class="wL" id="num35_num34" data="split"></td>
                    <td class="wL"></td>
                </tr>
                <tr>
                    <td class="hL" id="num0_num1" data="split"></td>
                    <td class="betNum red" id="num1" data="straight">1</td>
                    <td class="hL" id="num1_num4" data="split"></td>
                    <td class="betNum" id="num4" data="straight">4</td>
                    <td class="hL" id="num4_num7" data="split"></td>
                    <td class="betNum red" id="num7" data="straight">7</td>
                    <td class="hL" id="num7_num10" data="split"></td>
                    <td class="betNum" id="num10" data="straight">10</td>
                    <td class="hL" id="num10_num13" data="split"></td>
                    <td class="betNum" id="num13" data="straight">13</td>
                    <td class="hL" id="num13_num16" data="split"></td>
                    <td class="betNum red" id="num16" data="straight">16</td>
                    <td class="hL" id="num16_num19" data="split"></td>
                    <td class="betNum red" id="num19" data="straight">19</td>
                    <td class="hL" id="num19_num22" data="split"></td>
                    <td class="betNum" id="num22" data="straight">22</td>
                    <td class="hL" id="num22_num25" data="split"></td>
                    <td class="betNum red" id="num25" data="straight">25</td>
                    <td class="hL" id="num25_num28" data="split"></td>
                    <td class="betNum" id="num28" data="straight">28</td>
                    <td class="hL" id="num28_num31" data="split"></td>
                    <td class="betNum" id="num31" data="straight">31</td>
                    <td class="hL" id="num31_num34" data="split"></td>
                    <td class="betNum red" id="num34" data="straight">34</td>
                    <td class="red2" id="num1_num4_num7_num10_num13_num16_num19_num22_num25_num28_num31_num34" data="column3">2 To 1</td>
                </tr>
                <tr>
                    <td class="hL2"></td>
                    <td class="wL" id="num0_num1_num2_num3" data="square"></td>
                    <td class="hL2" id="num1_num2_num3" data="street"></td>
                    <td class="wL" id="num1_num2_num3_num4_num5_num6" data="line"></td>
                    <td class="hL2" id="num4_num5_num6" data="street"></td>
                    <td class="wL" id="num4_num5_num6_num7_num8_num9" data="line"></td>
                    <td class="hL2" id="num7_num8_num9" data="street"></td>
                    <td class="wL" id="num7_num8_num9_num10_num11_num12" data="line"></td>
                    <td class="hL2" id="num10_num11_num12" data="street"></td>
                    <td class="wL" id="num10_num11_num12_num13_num14_num15" data="line"></td>
                    <td class="hL2" id="num13_num14_num15" data="street"></td>
                    <td class="wL" id="num13_num14_num15_num16_num17_num18" data="line"></td>
                    <td class="hL2" id="num16_num17_num18" data="street"></td>
                    <td class="wL" id="num16_num17_num18_num19_num20_num21" data="line"></td>
                    <td class="hL2" id="num19_num20_num21" data="street"></td>
                    <td class="wL" id="num19_num20_num21_num22_num23_num24" data="line"></td>
                    <td class="hL2" id="num22_num23_num24" data="street"></td>
                    <td class="wL" id="num22_num23_num24_num25_num26_num27" data="line"></td>
                    <td class="hL2" id="num25_num26_num27" data="street"></td>
                    <td class="wL" id="num25_num26_num27_num28_num29_num30" data="line"></td>
                    <td class="hL2" id="num28_num29_num30" data="street"></td>
                    <td class="wL" id="num28_num29_num30_num31_num32_num33" data="line"></td>
                    <td class="hL2" id="num31_num32_num33" data="street"></td>
                    <td class="wL" id="num31_num32_num33_num34_num35_num36" data="line"></td>
                    <td class="wL" id="num34_num35_num36" data="street"></td>
                </tr>
                <tr>
                    <td style="height:50px;background: none;" colspan="2" class="ftd"></td>
                    <td colspan="7" class="green2" id="num1_num2_num3_num4_num5_num6_num7_num8_num9_num10_num11_num12" data="dozen1">1 - 12</td>
                    <td class="hL"></td>
                    <td colspan="7" class="green2" id="num13_num14_num15_num16_num17_num18_num19_num20_num21_num22_num23_num24" data="dozen2">13 - 24</td>
                    <td class="hL"></td>
                    <td colspan="7" class="green2" id="num25_num26_num27_num28_num29_num30_num31_num32_num33_num34_num35_num36" data="dozen3">25 - 36</td>
                    <td class="ltd" style="background: none;"></td>
                </tr>
                <tr>
                    <td colspan="26" style="background: none;" class="hL2"></td>
                </tr>
                <tr>
                    <td style="height:50px;background: none;" colspan="2" class="ftd"></td>
                    <td colspan="3" class="green2" id="num1_num2_num3_num4_num5_num6_num7_num8_num9_num10_num11_num12_num13_num14_num15_num16_num17_num18" data="low">1 - 18</td>
                    <td class="hL"></td>
                    <td colspan="3" class="green2" id="num2_num4_num6_num8_num10_num12_num14_num16_num18_num20_num22_num24_num26_num28_num30_num32_num34_num36" data="even">짝</td>
                    <td class="hL"></td>
                    <td colspan="3" class="black" id="num6_num15_num24_num33_num2_num8_num11_num17_num20_num26_num29_num35_num4_num10_num13_num22_num28_num31" data="black"></td>
                    <td class="hL"></td>
                    <td colspan="3" class="red" id="num3_num9_num12_num18_num21_num27_num30_num36_num5_num14_num23_num32_num1_num7_num16_num19_num25_num34" data="red"></td>
                    <td class="hL"></td>
                    <td colspan="3" class="green2" id="num1_num3_num5_num7_num9_num11_num13_num15_num17_num19_num21_num23_num25_num27_num29_num31_num33_num35" data="odd">홀</td>
                    <td class="hL"></td>
                    <td colspan="3" class="green2" id="num19_num20_num21_num22_num23_num24_num25_num26_num27_num28_num29_num30_num31_num32_num33_num34_num35_num36" data="high">19 - 36</td>
                    <td class="ltd" style="background: none;" ></td>
                </tr>
            </table>
            <div class="cart-new-arr" style="margin-top: 20px;">
                <div class="price_zone_cart">
                    <div id="temp_cart">
                        <div id="cart_list"> 게임을 선택해 주세요.</div>
                        <div ng-repeat="c in cart" ng-if="zone">
                            <p class="team">
                                <img ng-src="{{flag}}"/>
                                {{name}} [{{c.pos}}]
                                <em style="color: #cb8b00"> X {{c.odds | number : 2}}배</em>
                                <a class="btn" ng-click="remove()">X</a>
                            </p>
                        </div>
                        <p>보유금액<span class="mb_point" th:text="${tag.num(user.money)}">4,835,000</span> </p>
                        <p>베팅금액
                            <span>
                                <input type="text" name="price" id="price" ng-model="money" ng-change="checkMoney()" placeholder="금액을 입력해 주세요.">
                            </span>
                        </p>
                        <p>적중금액 : <span><em style="color: #ffc428;">{{parseFloat(odds * money) | number : 0}}</em> 원</span></p>
                    </div>
                </div>
                <div class="btn_price_zone">
                    <button type="button" ng-click="addMoney(5000)" class="ui_btn_gray">5,000</button>
                    <button type="button" ng-click="addMoney(10000)" class="ui_btn_gray">10,000</button>

                    <button type="button" ng-click="addMoney(50000)" class="ui_btn_gray">50,000</button>
                    <button type="button" ng-click="addMoney(100000)" class="ui_btn_gray">100,000</button>
                    <button type="button" ng-click="addMoney(500000)" class="ui_btn_gray">500,000</button>
                    <button type="button" ng-click="addMoney(1000000)" class="ui_btn_gray">1,000,000</button>
                    <button type="button" ng-click="addHalf()" class="ui_btn_green">HAF</button>
                    <button type="button" ng-click="addMax()" class="ui_btn_yellow">MAX</button>
                    <button type="button" ng-click="addReset(5000)" class="ui_btn_blue">RESET</button>
                </div>
                <div class="betting_btn_zone"> <span id="btnBett" class="ui_btn_red" style="cursor: pointer;" ng-click="betting()">BETTING</span></div>
            </div>
        </div>
    </div>

</main>

<script layout:fragment="script" th:if="true">

    iframeScale(860, 650);

    $(window).on('orientationchange resize', function () {
        iframeScale(860, 650);
    });

    angular.module('app', []).controller('gameCtrl', ['$scope', '$http', '$interval', function ($scope, $http, $interval) {
        $scope.parseFloat = window.parseFloat;
        $scope.zone = true;
        $scope.cart = [];
        $scope.odds = 0.00;
        $scope.money = 0;
        $scope.flag = '/images/zone/flag-coRoulette.gif';
        $scope.config = [(${config})];
        $scope.milliseconds = [[${user.milliseconds}]];
        $scope.bet = $scope.config.betTime > 0 ? 'on' : 'off';
        $scope.name = $scope.config.round + '회 룰렛';
        $scope.countdown = ['0', '0', '0', '0'];

        $interval(function () {
            $scope.setInfo();
        }, 5000);

        $interval(function () {
            if ($scope.milliseconds <= $scope.config.gameDate + 60000) { // 홀짝,바카라 1분 리셋
                $scope.milliseconds += 1000;
                if ($scope.config.betTime < 0) {
                    $scope.countdowon = ['0', '0', '0', '0'];
                    angular.element('.betting').removeClass('select');
                    $scope.cart.length = 0;
                    $scope.bet = 'off';
                    $('.betting_lock').show();
                } else {
                    var min = '0' + parseInt($scope.config.betTime / 60);
                    min = min.substring(min.length - 2);
                    var sec = '0' + $scope.config.betTime % 60;
                    sec = sec.substring(sec.length - 2);
                    $scope.countdown = [min.substring(0, 1), min.substring(1, 2), sec.substring(0, 1), sec.substring(1, 2)];
                }
                $scope.config.betTime--;
            } else {
                $scope.setConfig();
                $scope.countdowon = ['0', '0', '0', '0'];
            }
        }, 1000);

        $scope.setInfo = function () {
            $http({
                url: path + '/api/info',
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.milliseconds = response.data.milliseconds;
                angular.element('#user-memo').text(response.data.memo.toString().money());
                angular.element('#user-money').text(response.data.money.toString().money());
                angular.element('#user-point').text(response.data.point.toString().money());
            }, function error(response) {
                if (response.status === 401 || response.status === 403) {
                    top.location.href = '/logout';
                }
            });
        };

        $scope.setConfig = function () {
            $http({
                url: path + '/zone/roulette/config',
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.config = response.data;
                $scope.bet = $scope.config.betTime > 0 ? 'on' : 'off';
                if ($scope.config.betTime > 0) {
                    $('.betting_lock').hide();
                }else{
                    $('.betting_lock').show();
                }
            });
        };

        $scope.add = function (gameCode, betTeam, betZone, pos, event) {
            if ($scope.bet === 'off') {
                alert('현재 베팅이 중지 되었습니다.\n\n다음 게임을 베팅하시기 바랍니다.');
                $scope.remove();
                return;
            }

            $scope.cart = [];
            var odds = $scope.config.odds[betZone];
            $scope.cart.push({sdate: $scope.config.sdate, gameCode: gameCode, betTeam: betTeam, betZone: betZone, odds: odds, pos: pos});
            $scope.odds = odds;

            console.log($scope.cart);
        };

        $scope.remove = function () {
            $('.click').each(function(){
                $(this).removeClass('click').attr('style', 'border:2px solid #565658');
            });
            $scope.cart.length = 0;
            $scope.odds = 0.00;
        };

        $scope.addMoney = function (m) {
            $scope.money += m;
        };

        $scope.addHalf = function () {
            if ($scope.cart.length === 0) {
                $scope.money = 0;
            } else {
                $scope.money = Math.min(Math.floor($scope.config.win / $scope.odds) / 2, $scope.config.max / 2);
            }
        };

        $scope.addReset = function () {
            $scope.money = 0;
        };

        $scope.addMax = function () {
            if ($scope.cart.length === 0) {
                $scope.money = 0;
            } else {
                $scope.money = Math.min(Math.floor($scope.config.win / $scope.odds), $scope.config.max);
            }
        };

        $scope.betting = function () {
            if ($scope.cart.length === 0) {
                alert('선택된 경기가 없습니다.');
                return;
            }
            if ($scope.money < $scope.config.min) {
                alert(String.format('최소 베팅 금액은 {0}원 입니다.', $scope.config.min.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.money > $scope.config.money) {
                alert('보유머니가 부족합니다.');
                $scope.money = 0;
                return;
            }
            if ($scope.money > $scope.config.max) {
                alert(String.format('최대 베팅 금액은 {0}원 입니다.', $scope.config.max.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.odds * $scope.money > $scope.config.win) {
                alert(String.format('적중 상한 금액은 {0}원 입니다.', $scope.config.win.toString().money()));
                $scope.money = 0;
                return;
            }
            if (!confirm('베팅 하시겠습니까?')) {
                return;
            }

            // 베팅
            $http({
                url: path + '/zone/roulette/betting',
                method: 'POST',
                data: {
                    "betMoney": $scope.money,
                    "sdate": $scope.cart[0].sdate,
                    "gameCode": $scope.cart[0].gameCode,
                    "betTeam": $scope.cart[0].betTeam,
                    "betZone": $scope.cart[0].betZone,
                    "odds": $scope.cart[0].odds
                },
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                angular.element('.betting').removeClass('select');
                if (!response.data.success) {
                    alert(response.data.message);
                }else{
                    alert('베팅되었습니다.');
                    location.reload();
                }
                $scope.money = 0;
                $scope.cart.length = 0;
                $scope.setInfo();
                $scope.setConfig();
            }, function error(response) {
                angular.element('.betting').removeClass('select');
                if (response.data.message !== '') {
                    alert(response.data.message);
                } else {
                    alert('베팅에 실패하였습니다.\n\n잠시 후 다시 시도하여 주세요.');
                    location.reload();
                }
                $scope.money = 0;
                $scope.cart.length = 0;
                $scope.setInfo();
                $scope.setConfig();
            });
        };

        $('#bet2 td').each(function(){
            var id = $(this).attr("id");
            if(id != '' && typeof(id) == 'string'){
                var betType = $(this).attr("data");
                var ids = id.split("_");

                $(this).click(function(){
                    var cn = "";
                    $('.click').each(function(){
                        $(this).removeClass('click').attr('style', 'border:2px solid #565658');
                    });
                    for(var i=0;i<ids.length;i++){
                        var o = ids[i];
                        if(i>0) cn += ",";
                        cn += o.replace('num','')
                        $('#'+o).attr('style','border:#f2ff00 solid 2px').addClass('click');
                    }
                    var oddsIdx = 99;
                    switch (betType) {
                        case 'straight':
                            oddsIdx = 0;
                            break;
                        case 'split':
                            oddsIdx = 1;
                            break;
                        case 'street':
                            oddsIdx = 2;
                            break;
                        case 'triple':
                            oddsIdx = 3;
                            break;
                        case 'corner':
                            oddsIdx = 4;
                            break;
                        case 'square':
                            oddsIdx = 5;
                            break;
                        case 'line':
                            oddsIdx = 6;
                            break;
                        case 'column1':
                            oddsIdx = 7;
                            break;
                        case 'column2':
                            oddsIdx = 17;
                            break;
                        case 'column3':
                            oddsIdx = 18;
                            break;
                        case 'dozen1':
                            oddsIdx = 8;
                            break;
                        case 'red':
                            oddsIdx = 9;
                            break;
                        case 'black':
                            oddsIdx = 10;
                            break;
                        case 'odd':
                            oddsIdx = 11;
                            break;
                        case 'even':
                            oddsIdx = 12;
                            break;
                        case 'low':
                            oddsIdx = 13;
                            break;
                        case 'high':
                            oddsIdx = 14;
                            break;
                        case 'dozen2':
                            oddsIdx = 15;
                            break;
                        case 'dozen3':
                            oddsIdx = 16;
                            break;
                    }
                    $scope.add(betType, cn, oddsIdx, cn);
                });

                $(this).mouseover(function(){
                    if(ids.length > 6){
                        $(this).attr('style','border:#f2ff00 solid 2px');
                    }

                    for(var i=0;i<ids.length;i++){
                        $('#'+ids[i]).attr('style','border:#f2ff00 solid 2px');
                    }
                });
                $(this).mouseleave(function(){
                    if(ids.length > 6){
                        if(!$(this).hasClass('click')){
                            $(this).attr('style','border:2px solid #565658');
                        }
                    }
                    for(var i=0;i<ids.length;i++){
                        if(!$('#' + ids[i]).hasClass('click')) {
                            $('#' + ids[i]).attr('style', 'border:2px solid #565658');
                        }
                    }
                });

            }

        });
    }]);
</script>
</body>
</html>