<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='page', gnb='customer', lnb='qna', title='고객센터'">
<body>
<div layout:fragment="tab-menu" th:replace="fragments/mobile :: customer" th:if="true"></div>
<main class="page" layout:fragment="page">

    <form id="frm-search" method="get" th:action="@{|${siteConfig.pathSite}/customer/qna|}">
        <input type="hidden" id="page" name="page" th:value="${page.number + 1}"/>
    </form>

    <ul class="list qna">
        <th:block th:each="q, num : ${page.content}" th:with="total=${page.totalElements - page.number * page.size + 1}">
            <li th:onclick="|viewQna(${q.id});return false;|" th:class="${(total - num.count) % 2 eq 1} ? 'li_color2' : 'li_color1'">
                <p class="title" style="margin-left: 5px">
                    <a th:text="${q.title}"></a>
                </p>
                <p class="info">
                    <span th:class="${q.re} ? 'reply lv' : 'lv'" th:text="${q.re} ? '답변' : '대기'" style="margin-left: 5px"></span>
                    <span th:class="${q.checked} ? 'checked show lv' : 'show lv'" th:text="${q.checked} ? '확인' : '미확인'"></span>
                    <span class="date" th:utext="${tag.dayWeekTimes(q.regDate)}" style="margin-right: 5px"></span>
                </p>
                <li th:id="${q.id}" class="contents">
                    <div>
                        <p>
                            <a href="#" th:onclick="|deleteQna(${q.id});return false;|" class="btn btn04">삭제</a>
                            <span th:utext="${tag.onlyBr(q.contents)}" th:remove="tag"></span>
                        </p>
                        <h5 th:if="${q.re}" th:utext="${tag.colorBr(q.reTitle)}">답변</h5>
                        <p th:if="${q.re}" th:utext="${tag.colorBr(q.reply)}"></p>
                    </div>
                </li>
        </th:block>
        <ul th:if="${page.numberOfElements eq 0}">
            <li style="height: 300px;line-height: 300px;">등록된 문의가 없습니다.</li>
        </ul>
    </ul>
    <div class="command right">
        <a onclick="payment.account();return false;" class="btn-big btn05">계좌문의</a>
        <a th:href="|${siteConfig.pathSite}/customer/qna/add|" class="btn-big btn04">문의하기</a>
    </div>
    <div class="paging">
        <ul th:replace="fragments/mobile :: paging(p=${page})"></ul>
    </div>
</main>

<script layout:fragment="script" th:if="true">
    function viewQna(id) {
        if ($('#' + id).is(':visible')) {
            $('#' + id).slideUp();
        } else {
            $('.contents').slideUp();
            $('#' + id).slideDown();
            showQna(id);
        }
    }

    function showQna(id) {
        $.post(path + '/customer/qna/view', {
            id: id
        }).done(function success(data) {
            if (data.value === 'true') {
                $('#' + id).prev().find('.checked').text('확인').removeClass('color03');
            }
        });
    }

    function deleteQna(id) {
        $.post(path + '/customer/qna/delete', {
            id: id
        }).done(function (data) {
            if (data.success) {
                location.reload();
            }
        });
    }
</script>
</body>
</html>