<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminLayout" th:with="gnb='payment', lnb='point'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>충/환전 :</small>
    포인트변동 내역
</h2>
<div layout:fragment="content">
    <section>
        <div class="panel-search">
            <form id="frm-search" th:object="${command}" th:action="@{|${siteConfig.pathAdmin}/payment/point|}" method="get">
                <input type="hidden" name="page" id="page" th:value="${page.number + 1}"/>
                <label>
                    사용내역 :
                    <select th:field="*{code}">
                        <option value="">선택하세요</option>
                        <option value="충환전">충환전</option>
                        <option value="베팅">베팅 및 적중</option>
                        <option value="포인트전환">포인트 전환</option>
                        <option value="관리자">관리자 증차감</option>
                        <option value="총판">총판 환전/전환</option>
                        <option value="카지노">카지노롤링</option>
                        <option value="기타">기타</option>
                    </select>
                </label>
                <label>
                    아이디/닉네임 :
                    <input type="text" th:field="*{username}"/>
                </label>
                <div class="command">
                    <a class="btn btn01" onclick="goSearch();">검색</a>
                    <a th:href="@{|${siteConfig.pathAdmin}/payment/point|}" class="btn">취소</a>
                </div>
            </form>
        </div>
    </section>

    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-cog"></i>
                <span>포인트변동 내역</span>
                <span class="total">( 검색된 내역수 : <span th:text="${page.totalElements}">100</span> 건 )</span>
            </h3>
        </div>
        <table class="table-list">
            <caption>종목 설정</caption>
            <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col style="width: 24px;">
                <col style="width: 24px;">
                <col style="width: 24px;">
                <col style="width: 24px;">
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>번호</th>
                <th>아이디</th>
                <th>닉네임</th>
                <th>등급</th>
                <th colspan="4">회원정보</th>
                <th>대상</th>
                <th>사용내역</th>
                <th>비고</th>
                <th>기존포인트</th>
                <th>포인트</th>
                <th>최종포인트</th>
                <th>날짜</th>
                <th>작업자</th>
            </tr>
            </thead>
            <tbody id="money-body">
            <tr th:each="m,num : ${page.content}" th:with="total=${page.totalElements - page.number * page.size + 1}">
                <td th:text="${total - num.count}">1</td>
                <td class="popup color03" th:onclick="|popup.member.info('${m.userid}');|" th:text="${m.userid}">아이디</td>
                <td class="popup color02" th:onclick="|popup.member.info('${m.userid}');|" th:text="${m.nickname}">닉네임</td>
                <td th:text="${m.role.name() eq 'USER' ? m.level : m.role.name}">5</td>
                <td class="popup color04" th:onclick="|popup.payment.money('${m.userid}');|"><i class="bul fa fa fa-usd"></i></td>
                <td class="popup color04" th:onclick="|popup.payment.point('${m.userid}');|"><i class="bul fa fa-product-hunt"></i></td>
                <td class="popup color04" th:onclick="|popup.betting.list('${m.userid}');|"><i class="bul fa fa-shopping-cart"></i></td>
                <td class="popup color04" th:onclick="|popup.customer.memo('${m.userid}');|"><i class="bul fa fa-envelope-o"></i></td>
                <td class="color02" th:text="${m.actionId}">0</td>
                <td th:class="${m.amount < 0} ? 'color03' : 'color01'" th:text="${m.pointCode.name}">사용내역</td>
                <td th:text="${#strings.defaultString(m.memo, '-')}">비고</td>
                <td class="num" th:text="${tag.num(m.orgPoint)}">기존머니</td>
                <td th:class="${m.amount < 0} ? 'color03 num popup' : 'color01 num popup'" th:onclick="|popup.payment.point('${m.userid}');|" th:text="${#numbers.formatInteger(m.amount, 0, 'DEFAULT')}">머니</td>
                <td class="num color0" th:text="${tag.num(m.orgPoint + m.amount)}">최종머니</td>
                <td th:utext="${tag.dayWeekTimes(m.regDate)}"></td>
                <td th:text="${m.worker}"></td>
            </tr>
            </tbody>
        </table>
        <div class="panel-footer">
            <div class="paging">
                <ul th:replace="fragments/admin :: paging(p=${page})"></ul>
            </div>
        </div>
    </section>
</div>
<script layout:fragment="script" th:if="true">

</script>
</body>
</html>