<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/sellerLayout" th:with="gnb='agency', lnb='agencyMember'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>총판 관리 :</small>
    총판 리스트
</h2>
<div layout:fragment="content">
    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-user"></i>
                총판 지급율 관리
            </h3>

        </div>
        <table class="table-list">
            <caption>총판 지급율 관리</caption>
            <thead>
            <tr>
                <th>총판</th>
                <th>가입<br>회원</th>
                <th>정상<br>회원</th>
                <th>입금</th>
                <th>출금</th>
                <th>수익</th>
                <th>스포츠</th>
                <th>E스포츠</th>
                <th>실시간</th>
                <th>정산방식</th>
                <th>수익%</th>
                <th>스포츠%</th>
                <th>E스포츠%</th>
                <th>실시간%</th>
                <th>카지노%</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="m : ${list}" >
                <td>
                    <a th:text="${m.agencyDepth eq 1  ? m.agency1+' - 1D ' + m.nickname : '' }"></a>
                    <a th:text="${m.agencyDepth eq 2  ? m.agency2+' - 2D ' + m.nickname : '' }"></a>
                    <a th:text="${m.agencyDepth eq 3  ? m.agency3+' - 3D ' + m.nickname : '' }"></a>
                    <a th:text="${m.agencyDepth eq 4  ? m.agency4+' - 4D ' + m.nickname : '' }"></a>
                    <a th:text="${m.agencyDepth eq 5  ? m.agency5+' - 5D ' + m.nickname : '' }"></a>
                    <a th:text="${m.agencyDepth eq 6  ? m.agency6+' - 6D ' + m.nickname : '' }"></a>
                    <a th:text="${m.agencyDepth eq 7  ? m.agency7+' - 7D ' + m.nickname : '' }"></a>
                </td>
                <td class="color01 num" th:text="${tag.num(m.regMember)}">가입회원</td>
                <td class="color01 num" th:text="${tag.num(m.joinMember)}">정상회원</td>
                <td class="color04 num" th:text="${tag.num(m.inMoney) + '원'}">입금</td>
                <td class="color03 num" th:text="${tag.num(m.outMoney) + '원'}">출금</td>
                <td class="color02 num" th:text="${tag.num(m.inMoney - m.outMoney) + '원'}">수익</td>
                <td class="color04 num" th:text="${tag.num(m.betSports) + '원'}">스포츠</td>
                <td class="color04 num" th:text="${tag.num(m.betSports2) + '원'}">E스포츠</td>
                <td class="color03 num" th:text="${tag.num(m.betZone) + '원'}">실시간</td>
                <td th:text="${m.rateCode}"></td>
                <td th:text="${m.rateShare + '%'}"></td>
                <td th:text="${m.rateSports + '%'}"></td>
                <td th:text="${m.rateSports2 + '%'}"></td>
                <td th:text="${m.rateZone + '%'}"></td>
                <td th:text="${m.rateCasino + '%'}"></td>
            </tr>
            </tbody>
        </table>
        <div class="panel-footer">

        </div>
    </section>
</div>
<script layout:fragment="script" th:if="true">

</script>
</body>
</html>