<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${siteConfig.companyName}"></title>
    <link rel="shortcut icon" href="/images/favicon.ico?v1">
    <link rel="stylesheet" type="text/css" href="/customForm/css/style.css"/>
    <script src="/customForm/js/modernizr.custom.63321.js"></script>
    <!--[if lte IE 7]>
    <style>.main {
        display: none;
    }

    .support-note .note-ie {
        display: block;
    }</style><![endif]-->
    <style>
        body {
            background-image: url(/images/main_bg.png);
        }
    </style>
</head>

<body>
<div class="container">


    <section class="main">
        <form id="frm" onsubmit="return goLogin();" class="form-4">
            <h1 ><string th:text="${#strings.toUpperCase(siteConfig.companyName)}"></string> Admin Login</h1>
            <p>
                <label for="username">Username or email</label>
                <input type="text" id="username" name="username" placeholder="ID" required autofocus>
                <span><i class="fa fa-user" aria-hidden="true"></i></span>
            </p>
            <p>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="password" required>
                <span><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
            </p>
            <p>
                <button class="login-button">LOG IN</button>
            </p>
        </form>
    </section>

</div>

<!-- jQuery if needed -->
<script src="/assets/js/jquery-1.11.1.min.js"></script>
<script src="/js/common.js?v=1.0"></script>


<script>
    var message = '';
    if (message !== '') {
        setTimeout(function () {
            alert(message);
        }, 10);
    }

    function goLogin() {
        if ($('#username').val() == '') {
            alert('아이디를 입력 하세요.');
            $('#username').focus();
            return false;
        }
        if ($('#password').val() == '') {
            alert('비밀번호를 입력 하세요.');
            $('#password').focus();
            return false;
        }
        $.ajax({
            url: '/login',
            type: 'post',
            data: {
                username: $('#username').val(),
                password: $('#password').val(),
                role: 'admin'
            }
        }).done(function (data) {
            if (data.success) {
                location.href = data.url;
            } else {
                $('#username').val('');
                $('#password').val('');
                $('#username').focus();
            }
        });
        return false;
    }

    var showMessage = errorMessage = function (message) {
        alert(message);
    }
</script>

</body>

</html>