.ui-button_red, .ui-button_gray, .ui-button_gray2, .ui_btn_green, .ui_btn_gray, .ui_btn_blue, .ui_btn_red, .ui_btn_yellow { cursor: pointer; text-shadow: 0 1px 3px rgba(0,0,0,0.9); color: #fff; box-shadow: inset 0 2px 0px 0 rgba(255,255,255,0.3);  font-size: 12px; border: solid 1px #000000; margin: 1px; font-weight: 700px; font-weight: bold; vertical-align: middle;  background-size: contain; padding:0px 20px; transition:0.2s; height:34px; line-height:34px; display:inline-block; vertical-align:middle; box-shadow: 0 3px 2px rgba(0,0,0,0.3); }
button.ui-button_red, button.ui-button_gray, button.ui-button_gray2, button.ui_btn_green, button.ui_btn_gray, button.ui_btn_blue, button.ui_btn_red, button.ui_btn_yellow { padding: 0px 21px; height:36px; line-height:36px; display:inline-block; vertical-align:middle; box-shadow: 0 3px 2px rgba(0,0,0,0.3); }
.ui-button_red { background: url(../images/btn-red.png?1); }
.ui-button_red:hover { position: relative;  background-position:0 -42px; box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3); text-shadow: 0 -1px 3px rgba(0,0,0,0.9); }
.ui-button_red:active { position: relative;  }
.ui-button_gray { background: url(../images/btn-gary.png?1); }
.ui-button_gray:hover { position: relative;  background-position:0 -42px; box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3); text-shadow: 0 -1px 3px rgba(0,0,0,0.9); }
.ui-button_gray:active { position: relative;  }
.ui-button_gray2 { background: url(../images/btn-gary.png?1); }
.ui-button_gray2:hover { position: relative;  background-position:0 -42px; box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3); text-shadow: 0 -1px 3px rgba(0,0,0,0.9); }
.ui-button_gray2:active { position: relative; top: 2px; }
.ui_btn_green { background: url(../images/btn-green.png?1); }
.ui_btn_green:hover { position: relative;  background-position:0 -42px; box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3); text-shadow: 0 -1px 3px rgba(0,0,0,0.9); }
.ui_btn_green:active { position: relative;  }
.ui_btn_red { background: url(../images/btn-red.png?1); }
.ui_btn_red:hover { position: relative;  background-position:0 -42px; box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3); text-shadow: 0 -1px 3px rgba(0,0,0,0.9); }
.ui_btn_red:active { position: relative;  }
.ui_btn_gray { background: url(../images/btn-gary.png?1); }
.ui_btn_gray:hover { position: relative;  background-position:0 -42px; box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3); text-shadow: 0 -1px 3px rgba(0,0,0,0.9); }
.ui_btn_gray:active { position: relative;  }
.ui_btn_blue { background: url(../images/btn-blue.png?1); }
.ui_btn_blue:hover { position: relative;  background-position:0 -42px; box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3); text-shadow: 0 -1px 3px rgba(0,0,0,0.9); }
.ui_btn_blue:active { position: relative;  }
.ui_btn_yellow{ background: url(../images/btn-yellow.png?1); }
.ui_btn_yellow:hover { position: relative;  background-position:0 -42px; box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3); text-shadow: 0 -1px 3px rgba(0,0,0,0.9); }
.ui_btn_yellow:active { position: relative;  }