<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='inGame', gnb=${menu}, title=${title}" ng-app="app">
<body ng-controller="gameCtrl">
<main class="page" layout:fragment="page">

    <div class="box" style="padding:10px 20px;" th:if="${#lists.size(notice) gt 0}">
        <p th:each="n : ${notice}" th:utext="${tag.color(n.title)}"></p>
    </div>

    <table class="list game">
        <caption>스포츠</caption>
        <colgroup>
            <col style="width:50%">
            <col style="width:50%">
        </colgroup>
        <tbody ng-cloak class="ng-cloak">

        <tr>
            <td colspan="2" class="inGame01">
                <span class="color02">{{::gameTitle.snameKor}}</span>
                <span class="color04">{{::gameTitle.leagueKor}}</span>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="inGame02">
                <span class="color03">{{::gameTitle.ymd}}</span>
                <span class="color01">{{::gameTitle.hms}}</span>
            </td>
        </tr>
        <tr>
            <td class="inGame03 bet2 color01" ng-click="gameDetail(g.idx1)">
                {{::gameTitle.hnameKor}}
            </td>
            <td class="inGame03 bet2 color01" ng-click="gameDetail(g.idx1)">
                {{::gameTitle.anameKor}}
            </td>
        </tr>
        <tr>
            <td colspan="3" class="inGame02">
                <span class="color01">{{::gameTitle.score}}</span>
            </td>
        </tr>
        </tbody>
    </table>
    <br><br>

    <table class="list game" id="betListTable" style="display:none">
        <thead>
        <tr>
            <th class="inGame02" style="width: 25%">기준점1</th>
            <th class="inGame02" style="width: 50%">베팅타입</th>
            <th class="inGame02">배당</th>
        </tr>
        </thead>
        <tr ng-repeat-start="g in gameList | filter : filters : true" ng-if="g.group == 's'">
            <td colspan="3"  class="inGame01" >{{::g.onameKor}}</td>
        </tr>
        <tr ng-repeat-end >
            <td class="color0 inGame02">{{::g.baseLine == 0 ? '-':g.baseLine}}</td>
            <td class="inGame03 {{::g.name == '1' ? 'color04':g.name == '2' ? 'color02':g.name == 'X' ? 'color05':'color04'}}">{{::g.name == '1' ? 'HOME':g.name == '2' ? 'AWAY':g.name == 'X' ? 'DRAW':g.name}}</td>
            <td class="bet2 color05" id="game_{{::g.idx}}" ng-click="add(g.idx, g.name, g.onameKor)">
                <span><img src="{{g.etc1}}"></span>
                {{g.odds}} x
            </td>
        </tr>
    </table>
</main>
<script layout:fragment="script" th:if="true">

    angular.module('app', []).controller('gameCtrl', ['$scope', '$http', '$interval', '$timeout', function ($scope, $http, $interval, $timeout) {
        $scope.parseFloat = window.parseFloat;
        $scope.cart = [];
        $scope.show = [];
        $scope.bonus = null;
        $scope.filters = {};
        $scope.odds = 1.00;
        $scope.money = 0;
        $scope.config = [(${config})];
        $scope.gameTitle = [];
        $scope.gameList = [];
        $scope.game12 = [];
        $scope.inGameParsing = true;

        $scope.add = function (id, pos, type) {
            $scope.cart = [];
            var game = [];

            angular.forEach($scope.gameList, function (g) {
                if (g.idx === id) {
                    game.an = $scope.gameTitle.anameKor;
                    game.sn = $scope.gameTitle.sname;
                    game.css = $scope.gameTitle.snameKor;
                    game.ln = $scope.gameTitle.leagueKor;
                    game.hn = $scope.gameTitle.hnameKor;
                    game.ah = g.baseLine;
                    game.gc = g.onameKor;
                    game.oh = g.odds;
                    game.od = g.odds;
                    game.oa = g.odds;
                    return false;
                }
            });

            var ele = $('#game_'+id);
            if (ele.hasClass('on')) {
                console.log(1)
                ele.removeClass('on');
            } else {
                $('.bet2').each(function(){
                    if($(this).hasClass('on')){
                        $(this).removeClass('on');
                    }
                });
                console.log(2)
                ele.find('.bet').removeClass('on');
                ele.addClass('on');

            }

            $scope.cart.push({id: id, pos: pos, game: game, type: type});
            $scope.calcMoney();

        };

        $scope.remove = function (id) {
            angular.element('#' + id).find('.bet').removeClass('on');
            angular.forEach($scope.cart, function (c) {
                if (c.id === id) $scope.cart.splice($scope.cart.indexOf(c), 1);
            });
            $scope.calcMoney();
        };

        $scope.getTotGame = function () {
            var cartIdx = 0;
            var cartGameName = "";
            var cartGameNameKor = "";
            $.ajax({
                url: path + '/game/inGameDetailJson',
                type: 'get',
                data:{
                    idx : '[[${idx}]]'
                },
                dataType: "json"
            }).done(function (res) {
                $scope.gameTitle = res.game;
                var newData = res.detail;
                var oldData = $scope.gameList;
                if(newData != null && newData.length > 0 && oldData != null && oldData.length > 0){
                    for(var i=0;i<oldData.length;i++){
                        var oData = oldData[i];
                        for(var j=0;j<newData.length;j++){
                            var nData = newData[j];
                            if(oData.idx == nData.idx){

                                if(oData.odds < nData.odds){
                                    nData.etc1 = "/images/icon_over.gif";
                                    if($scope.cart.length > 0 && $scope.cart[0].id == nData.idx){
                                        alert('카트에 담긴 게임 배당이 변경되어 수정합니다.\r\n\r\n'+oData.odds+' -> '+nData.odds)
                                        cartIdx = nData.idx;
                                        cartGameName = nData.name;
                                        cartGameNameKor = nData.onameKor;
                                    }
                                }else if(oData.odds > nData.odds){
                                    nData.etc1 = "/images/icon_under.gif";
                                    if($scope.cart.length > 0 && $scope.cart[0].id == nData.idx){
                                        alert('카트에 담긴 게임 배당이 변경되어 수정합니다.\r\n\r\n'+oData.odds+' -> '+nData.odds)
                                        cartIdx = nData.idx;
                                        cartGameName = nData.name;
                                        cartGameNameKor = nData.onameKor;
                                    }
                                }else {
                                    if($scope.cart.length > 0 && $scope.cart[0].id == nData.idx){
                                        cartIdx = nData.idx;
                                        cartGameName = nData.name;
                                        cartGameNameKor = nData.onameKor;
                                    }
                                    if(oData.etc1 != ''){
                                        nData.etc1 = oData.etc1;
                                    }
                                }
                                break;
                            }
                        }
                    }

                    //카트 조회
                    if($scope.cart.length > 0) {
                        var b = false;
                        for (var j = 0; j < newData.length; j++) {
                            var nData = newData[j];
                            if($scope.cart[0].id == nData.idx){
                                b = true;
                            }
                        }
                        if(!b){
                            alert('카트에 담긴 게임이 중지되어 삭제됩니다.');
                            $scope.cart = [];
                        }
                    }
                }
                $scope.gameList = newData;

                if(cartIdx > 0 && cartGameName != ''){
                    setTimeout(function () {
                        console.log('로그실행')
                        $scope.add(cartIdx, cartGameName, cartGameNameKor);
                    }, 1);

                }
            });
        };

        $scope.betting = function () {
            if ($scope.cart.length === 0) {
                alert('선택된 경기가 없습니다.');
                return;
            }
            if ($scope.cart.length > 1) {
                alert('베팅은 한개만 가능합니다.');
                return;
            }
            if ($scope.money < $scope.config.oneMin) {
                alert(String.format('최소 베팅 금액은 {0}원 입니다.', $scope.config.oneMin.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.money > $scope.config.money) {
                alert('보유머니가 부족합니다.');
                $scope.money = 0;
                return;
            }
            if ($scope.money > $scope.config.oneMax) {
                alert(String.format('최대 베팅 금액은 {0}원 입니다.', $scope.config.oneMax.toString().money()));
                $scope.money = 0;
                return;
            }

            if (Math.floor($scope.odds * $scope.money) > $scope.config.win) {
                alert(String.format('적중 상한 금액은 {0}원 입니다.', $scope.config.win.toString().money()));
                $scope.money = 0;
                return;
            }
            if (!confirm('베팅 하시겠습니까?')) {
                return;
            }

            var ids = [];
            var bets = [];
            var odds = [];
            angular.forEach($scope.cart, function (c) {
                ids.push(c.id);
                bets.push(c.type);
                odds.push(c.game.oh);
            });

            // 베팅
            $http({
                url: path + '/game/inGame/betting',
                method: 'POST',
                data: {
                    "betMoney": $scope.money,
                    "ids": ids,
                    "bets": bets,
                    "odds": odds
                },
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.money = 0;
                $scope.cart.length = 0;
                if (response.data.success) {
                    alert('베팅되었습니다.')
                } else {
                    alert(response.data.message);
                }
                $scope.odds = 0;
                $scope.money = 0;
                $scope.cart.length = 0;
                $scope.reloadGame();

            }, function error(response) {
                $scope.money = 0;
                $scope.cart.length = 0;
                if (response.data.message !== '') {
                    alert(response.data.message);
                } else {
                    alert('베팅에 실패하였습니다.\n\n잠시 후 다시 시도하여 주세요.');
                }
                $scope.odds = 0;
                $scope.money = 0;
                $scope.cart.length = 0;
                $scope.reloadGame();
            });
        };

        $scope.calcMoney = function () {
            var odds = 1.0;

            angular.forEach($scope.cart, function (c) {
                odds = parseFloat(odds * c.game.oh);
            });

            $scope.odds = odds;
        };

        $scope.addMoney = function (m) {
            $scope.money += m;
        };
        $scope.addReset = function () {
            $scope.money = 0;
        };
        $scope.addMax = function () {
            if ($scope.cart.length === 0) { // 선택이 없음
                $scope.money = 0;
            } else if ($scope.cart.length === 1) { // 1폴더
                $scope.money = Math.min(Math.floor($scope.config.oneWin / $scope.odds), $scope.config.oneMax);
            } else { // 다폴더
                $scope.money = Math.min(Math.floor($scope.config.win / $scope.odds), $scope.config.max);
            }
        };

        $interval(function () {
            $scope.getTotGame();
        }, 5000);

        $scope.getTotGame();

        $('#betListTable').show();

    }]);


</script>
</body>
</html>