<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='inGame', gnb=${menu}, title=${title}" ng-app="app">
<body ng-controller="gameCtrl">
<div layout:fragment="popup" th:if="true">
    <div ng-cloak id="league" class="ng-cloak">
        <div><p class="title">리그검색</p></div>
        <div>
            <p class="top">
                <span>경기 종목</span>
            </p>
        </div>
        <div>
            <p style="background-color: #737075" class="sports" onclick="location.href='/site/game/inGame'">
                <img ng-src="/images/sports/축구.png"/>
                <span>축구</span>
            </p>
            <p  class="sports" onclick="location.href='/site/game/inGame?inGameSports=baseball'">
                <img ng-src="/images/sports/야구.png"/>
                <span>야구</span>
            </p>
        </div>
    </div>
</div>
<main class="page" layout:fragment="page">

    <div class="box" style="padding:10px 20px;" th:if="${#lists.size(notice) gt 0}">
        <p th:each="n : ${notice}" th:utext="${tag.color(n.title)}"></p>
    </div>

    <table class="list game" style="width: 100%">
        <caption>스포츠</caption>
        <colgroup>
            <col style="width:50%">
            <col style="width:50%">
        </colgroup>
        <tbody ng-cloak class="ng-cloak" ng-repeat="g in gameList">

        <tr>
            <td colspan="2" class="inGame01">
                <span class="color0">{{::g.snameKor}}</span>
                <span class="color0">{{::g.leagueKor}}</span>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="inGame02">
                <span class="color03">{{::g.ymd}}</span>
                <span class="color01">{{::g.hms}}</span>
            </td>
        </tr>
        <tr>
            <td class="inGame03 bet2 color01" ng-click="gameDetail(g.idx1)">
                {{::g.hnameKor}}
            </td>
            <td class="inGame03 bet2 color01" ng-click="gameDetail(g.idx1)">
                {{::g.anameKor}}
            </td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        </tbody>
    </table>
    <table class="list game" id="noListTxt" style="display: none;">
        <tr>
            <td style="height: 200px">제공되는 경기가 없습니다.</td>
        </tr>
    </table>
</main>
<script layout:fragment="script" th:if="true">

    angular.module('app', []).controller('gameCtrl', ['$scope', '$http', '$interval', '$timeout', function ($scope, $http, $interval, $timeout) {
        $scope.parseFloat = window.parseFloat;
        $scope.cart = [];
        $scope.show = [];
        $scope.bonus = null;
        $scope.filters = {};
        $scope.odds = 1.00;
        $scope.money = 0;
        $scope.config = [(${config})];
        $scope.gameList = [];
        $scope.inGameParsing = true;

        $scope.gameDetail = function (idx) {
            location.href = path + '/game/inGameDetail?idx=' + idx;
        }

        $scope.getTotGame = function () {
            $.ajax({
                url: path + '/game/inGameJson',
                type: 'get',
                dataType: "json"
            }).done(function (res) {
                console.log(res);
                $scope.gameList = res;
                if($scope.gameList == null || $scope.gameList.length == 0){
                    $('#noListTxt').show();
                }else{
                    $('#noListTxt').hide();
                }
            });
        }

        $interval(function () {
            $scope.getTotGame();
        }, 10000);

        $scope.getTotGame();

    }]);
</script>
</body>
</html>