<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminLayout" th:with="gnb='zone', lnb='roulette', pnb='closing'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>실시간 :</small>
    룰렛 게임종료
</h2>
<div layout:fragment="content">
    <section>
        <div class="panel-search">
            <form id="frm-search" th:object="${command}" th:action="@{|${siteConfig.pathAdmin}/zone/roulette/closing|}" method="get">
                <input type="hidden" id="page" name="page" th:value="${page.number + 1}">
                <input type="text" class="cal" th:field="*{gameDate}" placeholder="게임일자"/>
                <a href="#" id="sp-reset-date" class="btn btn-cal">지움</a>
                <label style="margin-left: 20px;">
                    회차:
                    <input type="text" th:field="*{round}" placeholder="회차"/>
                </label>
                <div class="command">
                    <a class="btn btn01" onclick="goSearch();">검색</a>
                    <a th:href="@{|${siteConfig.pathAdmin}/zone/roulette/closing|}" class="btn">취소</a>
                </div>
            </form>
        </div>
    </section>
    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-bars" aria-hidden="true"></i>
                룰렛 게임종료
                <span th:class="${config.enabled} ? 'color02' : 'color03'" th:text="${config.enabled} ? '(게임 실행 중)' : '(게임 중지 중)'">게임실행중</span>
            </h3>
        </div>
        <table class="table-list table-game table-zone">
            <caption>룰렛 등록완료</caption>
            <colgroup>
                <col style="width: 150px;">
                <col style="width: 150px;">
                <col style="width: 170px;">
                <col style="width: 170px;">
                <col>
                <col>
                <col style="width: 170px;">
                <col style="width: 170px;">
                <col style="width: 180px;">
            </colgroup>
            <tbody th:each="g,num: ${page.content}" th:class="${num.count > 1} ? 'box'" th:with="round = ${#numbers.formatInteger(g.round, 3, 'DEFAULT')} + '회차 '">
            <tr>
                <td rowspan="11" th:utext="${tag.dayWeekTime(g.gameDate)}">27(월)</td>
                <td rowspan="11">
                    <p th:class="${not g.beforeGameDate} ? 'color03' : 'color01'" th:text="${#numbers.formatInteger(g.round, 0, 'DEFAULT')} + ' 회차'"></p>
                    <br>
                    <p class="color01" th:text="${'결과 : '+ g.result}"></p>
                </td>
                <td class="home" colspan="3">
                    <p>
                        <span th:text="'스트레이트'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[0], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('roulette', ${g.sdate});|" th:class="${g.amount[0] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[0] gt 0 ? #numbers.formatInteger(g.amount[0], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="away" colspan="3">
                    <p>
                        <span th:text="'스플릿'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[1], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('roulette', ${g.sdate});|" th:class="${g.amount[1] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[1] gt 0 ? #numbers.formatInteger(g.amount[1], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td rowspan="11">
                    <a class="btn btn03" th:onclick="'closingPower(' + ${g.id} + ');'">결과</a>
                </td>
            </tr>
            <tr>
                <td class="home" colspan="3">
                    <p>
                        <span th:text="'스트리트'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[2], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('roulette', ${g.sdate});|" th:class="${g.amount[2] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[2] gt 0 ? #numbers.formatInteger(g.amount[2], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="away" colspan="3">
                    <p>
                        <span th:text="'트리플'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[3], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('roulette', ${g.sdate});|" th:class="${g.amount[3] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[3] gt 0 ? #numbers.formatInteger(g.amount[3], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
            </tr>
            <tr>
                <td class="home" colspan="3">
                    <p>
                        <span th:text="'코너'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[4], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('roulette', ${g.sdate});|" th:class="${g.amount[4] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[4] gt 0 ? #numbers.formatInteger(g.amount[4], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="away" colspan="3">
                    <p>
                        <span th:text="'스퀘어'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[5], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('roulette', ${g.sdate});|" th:class="${g.amount[5] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[5] gt 0 ? #numbers.formatInteger(g.amount[5], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
            </tr>
            <tr>
                <td class="home" colspan="6">
                    <p>
                        <span th:text="'라인'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[6], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('roulette', ${g.sdate});|" th:class="${g.amount[6] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[6] gt 0 ? #numbers.formatInteger(g.amount[6], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
            </tr>
            <!--<tr>
                <td class="home">
                    <p>
                        <span th:text="'다즌'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[8], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('roulette', ${g.sdate});|" th:class="${g.amount[8] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[8] gt 0 ? #numbers.formatInteger(g.amount[8], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
            </tr>
            <tr>
                <td class="away"></td>
            </tr>
            <tr>
                <td class="home">
                    <p>
                        <span th:text="'레드'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[9], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('roulette', ${g.sdate});|" th:class="${g.amount[9] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[9] gt 0 ? #numbers.formatInteger(g.amount[9], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="away">
                    <p>
                        <span th:text="'블랙'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[10], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('roulette', ${g.sdate});|" th:class="${g.amount[10] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[10] gt 0 ? #numbers.formatInteger(g.amount[10], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
            </tr>
            <tr>
                <td class="home">
                    <p>
                        <span th:text="'짝수'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[11], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('roulette', ${g.sdate});|" th:class="${g.amount[11] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[11] gt 0 ? #numbers.formatInteger(g.amount[11], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="away">
                    <p>
                        <span th:text="'홀수'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[12], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('roulette', ${g.sdate});|" th:class="${g.amount[12] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[12] gt 0 ? #numbers.formatInteger(g.amount[12], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
            </tr>
            <tr>
                <td class="home">
                    <p>
                        <span th:text="'로우'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[13], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('roulette', ${g.sdate});|" th:class="${g.amount[13] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[13] gt 0 ? #numbers.formatInteger(g.amount[13], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="away">
                    <p>
                        <span th:text="'하이'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[14], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('roulette', ${g.sdate});|" th:class="${g.amount[14] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[14] gt 0 ? #numbers.formatInteger(g.amount[14], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
            </tr>-->
            <tr style="height:50px;background: none;">
                <td colspan="2" class="red2 home">컬럼1 (2 to 1)
                    <span class="odds" th:text="${#numbers.formatDecimal(g.odds[7], 0, 2, 'DEFAULT')}" style="padding-left:20px;"></span>
                    <a th:onclick="|popup.betting.zone('roulette', ${g.sdate});|" th:class="${g.amount[7] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[7] gt 0 ? #numbers.formatInteger(g.amount[7], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td colspan="2" class="red2 draw">컬럼2 (2 to 1)
                    <span class="odds" th:text="${#numbers.formatDecimal(g.odds[17], 0, 2, 'DEFAULT')}" style="padding-left:20px;"></span>
                    <a th:onclick="|popup.betting.zone('roulette', ${g.sdate});|" th:class="${g.amount[17] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[17] gt 0 ? #numbers.formatInteger(g.amount[17], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td colspan="2" class="red2 away">컬럼3 (2 to 1)
                    <span class="odds" th:text="${#numbers.formatDecimal(g.odds[18], 0, 2, 'DEFAULT')}" style="padding-left:20px;"></span>
                    <a th:onclick="|popup.betting.zone('roulette', ${g.sdate});|" th:class="${g.amount[18] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[18] gt 0 ? #numbers.formatInteger(g.amount[18], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
            </tr>
            <tr style="height:50px;background: none;">
                <td colspan="2" class="green2 home">1 - 12
                    <span class="odds" th:text="${#numbers.formatDecimal(g.odds[8], 0, 2, 'DEFAULT')}" style="padding-left:20px;"></span>
                    <a th:onclick="|popup.betting.zone('roulette', ${g.sdate});|" th:class="${g.amount[8] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[8] gt 0 ? #numbers.formatInteger(g.amount[8], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td colspan="2" class="green2 draw">13 - 24
                    <span class="odds" th:text="${#numbers.formatDecimal(g.odds[15], 0, 2, 'DEFAULT')}" style="padding-left:20px;"></span>
                    <a th:onclick="|popup.betting.zone('roulette', ${g.sdate});|" th:class="${g.amount[15] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[15] gt 0 ? #numbers.formatInteger(g.amount[15], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>

                </td>
                <td colspan="2" class="green2 away">25 - 36
                    <span class="odds" th:text="${#numbers.formatDecimal(g.odds[16], 0, 2, 'DEFAULT')}" style="padding-left:20px;"></span>
                    <a th:onclick="|popup.betting.zone('roulette', ${g.sdate});|" th:class="${g.amount[16] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[16] gt 0 ? #numbers.formatInteger(g.amount[16], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
            </tr>
            <tr>
                <td style="background: none;" class="hL2"></td>
            </tr>
            <tr style="height:50px;background: none;">
                <td class="green2 home">1 - 18
                    <span class="odds" th:text="${#numbers.formatDecimal(g.odds[13], 0, 2, 'DEFAULT')}"></span>
                    <a th:onclick="|popup.betting.zone('roulette', ${g.sdate});|" th:class="${g.amount[13] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[13] gt 0 ? #numbers.formatInteger(g.amount[13], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="green2 away">짝
                    <span class="odds" th:text="${#numbers.formatDecimal(g.odds[12], 0, 2, 'DEFAULT')}"></span>
                    <a th:onclick="|popup.betting.zone('roulette', ${g.sdate});|" th:class="${g.amount[12] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[12] gt 0 ? #numbers.formatInteger(g.amount[12], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="black draw">블랙
                    <span class="odds" th:text="${#numbers.formatDecimal(g.odds[10], 0, 2, 'DEFAULT')}"></span>
                    <a th:onclick="|popup.betting.zone('roulette', ${g.sdate});|" th:class="${g.amount[10] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[10] gt 0 ? #numbers.formatInteger(g.amount[10], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="red draw">레드
                    <span class="odds" th:text="${#numbers.formatDecimal(g.odds[9], 0, 2, 'DEFAULT')}"></span>
                    <a th:onclick="|popup.betting.zone('roulette', ${g.sdate});|" th:class="${g.amount[9] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[9] gt 0 ? #numbers.formatInteger(g.amount[9], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="green2 home">홀
                    <span class="odds" th:text="${#numbers.formatDecimal(g.odds[11], 0, 2, 'DEFAULT')}"></span>
                    <a th:onclick="|popup.betting.zone('roulette', ${g.sdate});|" th:class="${g.amount[11] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[11] gt 0 ? #numbers.formatInteger(g.amount[11], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="green2 away">19 - 36
                    <span class="odds" th:text="${#numbers.formatDecimal(g.odds[14], 0, 2, 'DEFAULT')}"></span>
                    <a th:onclick="|popup.betting.zone('roulette', ${g.sdate});|" th:class="${g.amount[14] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[14] gt 0 ? #numbers.formatInteger(g.amount[14], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
            </tr>


            </tbody>
            <tr th:if="${page.content.empty}">
                <td colspan="7" class="empty">
                    등록된 룰렛 경기가 없습니다.
                </td>
            </tr>
        </table>

        <div class="panel-footer">
            <div class="paging">
                <ul th:replace="fragments/admin :: paging(p=${page})"></ul>
            </div>
        </div>

    </section>
</div>
<script layout:fragment="script" th:if="true">
    function closingPower(id) {
        window.open(path + '/zone/roulette/score?id=' + id, 'popup-roulette', 'width=900, height=880');
    }
</script>
</body>
</html>