<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminLayout" th:with="gnb='zone', lnb='roulette', pnb='config'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>실시간 :</small>
    룰렛 게임설정
</h2>
<div layout:fragment="content">
    <form id="frm" method="post" th:object="${config}" onsubmit="return saveConfig()">
        <section>
            <div class="panel-header">
                <h3>
                    <i class="bul fa fa-bars" aria-hidden="true"></i>
                    룰렛 게임설정
                    <span th:class="${config.enabled} ? 'color02' : 'color03'" th:text="${config.enabled} ? '(게임 실행 중)' : '(게임 중지 중)'">게임실행중</span>
                </h3>
            </div>
            <table class="table-read">
                <caption>룰렛 게임설정</caption>
                <colgroup>
                    <col style="width:220px;">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th class="required">게임 활성화</th>
                    <td>
                        <label><input type="radio" th:field="*{enabled}" th:value="true"/> 사용</label>
                        <label><input type="radio" th:field="*{enabled}" th:value="false"/> 사용하지않음</label>
                    </td>
                </tr>
                <tr>
                    <th class="required">베팅 가능 시각</th>
                    <td>
                        경기시작
                        <input type="text" class="num" style="width: 80px;" th:field="*{betTime}"/>초 까지 베팅 가능.
                    </td>
                </tr>
                <tr>
                    <th class="required">회차별 베팅가능 수</th>
                    <td>
                        동일회차 다른게임으로
                        <input type="text" class="num" style="width: 80px;" th:field="*{betMax}"/>베팅 까지 가능 합니다.
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="panel-body">
                <h3>
                    <i class="bul fa fa-cube" aria-hidden="true"></i>
                    룰렛 배당설정
                </h3>
            </div>
            <table class="table-read">
                <caption>룰렛 배당설정</caption>
                <colgroup>
                    <col style="width:270px;">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th class="required">
                        <label>
                            스트레이트 배당
                        </label>
                    </th>
                    <td>
                        <label class="color03">
                            <input type="text" th:field="*{odds[0]}" class="center" style="width: 100px;"/>
                            0번을 포함한 어떤 번호에도 베팅이 가능하며, 베팅시 칩을 해당 번호의 중심에 두시면 됩니다.(예: 8, 23 혹은 35)
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required">
                        <label>
                            스플릿 배당
                        </label>
                    </th>
                    <td>
                        <label class="color03">
                            <input type="text" th:field="*{odds[1]}" class="center" style="width: 100px;"/>
                            두 번호 사이의 있는 경계선에 칩을 올려 두시면 됩니다.(예: 2와 3 혹은 13과 16, 0과 00)
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required">
                        <label>
                            스트리트 배당
                        </label>
                    </th>
                    <td>
                        <label class="color03">
                            <input type="text" th:field="*{odds[2]}" class="center" style="width: 100px;"/>
                            한번에 세 개의 번호에 베팅을 하실 수 있습니다, 베팅하시려는 칩을 룰렛 레이아웃 상단(하단)에 있는 세 개의 번호(한 열의) 상단(하단)부에 올려 두시면 됩니다. (예: 7, 8과 9)
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required">
                        <label>
                            트리플 배당
                        </label>
                    </th>
                    <td>
                        <label class="color03">
                            <input type="text" th:field="*{odds[3]}" class="center" style="width: 100px;"/>
                            칩을 0, 1, 2번 혹은 0, 2, 3번이 교차하는 지역에 베팅을 하시면 됩니다.
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required">
                        <label>
                            코너 배당
                        </label>
                    </th>
                    <td>
                        <label class="color03">
                            <input type="text" th:field="*{odds[4]}" class="center" style="width: 100px;"/>
                            네 개의 번호가 교차하는 경계선에 베팅을 하시면 한번에 4개의 번호에 베팅을 하실 수 있게 됩니다.(예: 19, 20, 22와 23)
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required">
                        <label>
                            스퀘어 배당
                        </label>
                    </th>
                    <td>
                        <label class="color03">
                            <input type="text" th:field="*{odds[5]}" class="center" style="width: 100px;"/>
                            0번과 1번이 교차하는 경계선 우측 하단에 칩을 올려두시면 0, 1, 2, 3번에 베팅을 하실 수 있게 됩니다.
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required">
                        <label>
                            라인 배당
                        </label>
                    </th>
                    <td>
                        <label class="color03">
                            <input type="text" th:field="*{odds[6]}" class="center" style="width: 100px;"/>
                            두 라인(열)의 상단 경계선에 베팅을 하시면 한번에 6개(2 스트리트 )의 번호에 베팅을 하실 수 있습니다.(예: 28, 29, 30 및 31, 32, 33으로 구성된 한 라인)
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required">
                        <label>
                            컬럼 배당
                        </label>
                    </th>
                    <td>
                        <label class="color03">
                            <input type="text" th:field="*{odds[7]}" class="center" style="width: 100px;"/>
                            컬럼1 ( 2 to 1 )
                        </label>
                        /
                        <label class="color03">
                            <input type="text" th:field="*{odds[17]}" class="center" style="width: 100px;"/>
                            컬럼2 ( 2 to 1 )
                        </label>
                        /
                        <label class="color03">
                            <input type="text" th:field="*{odds[18]}" class="center" style="width: 100px;"/>
                            컬럼3 ( 2 to 1 )
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required">
                        <label>
                            다즌 배당
                        </label>
                    </th>
                    <td>
                        <label class="color03">
                            <input type="text" th:field="*{odds[8]}" class="center" style="width: 100px;"/>
                            소 ( 1-12 )
                        </label>
                        /
                        <label class="color03">
                            <input type="text" th:field="*{odds[15]}" class="center" style="width: 100px;"/>
                            중 ( 13-24 )
                        </label>
                        /
                        <label class="color03">
                            <input type="text" th:field="*{odds[16]}" class="center" style="width: 100px;"/>
                            대 ( 25-36 )
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required">
                        <label>
                            레드 배당
                        </label>
                    </th>
                    <td>
                        <label class="color03">
                            <input type="text" th:field="*{odds[9]}" class="center" style="width: 100px;"/>
                            각각 18개의 번호로 구성되여 있는 레드 또는 블랙 지역에 대한 베팅입니다.(0번은 제외)
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required">
                        <label>
                            블랙 배당
                        </label>
                    </th>
                    <td>
                        <label class="color03">
                            <input type="text" th:field="*{odds[10]}" class="center" style="width: 100px;"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required">
                        <label>
                            짝수 배당
                        </label>
                    </th>
                    <td>
                        <label class="color03">
                            <input type="text" th:field="*{odds[11]}" class="center" style="width: 100px;"/>
                            짝수 또는 홀수에 대한 베팅으로 각 18개의 번호가 포함 되여 있습니다, 단 0번은 제외됩니다.
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required">
                        <label>
                            홀수 배당
                        </label>
                    </th>
                    <td>
                        <label class="color03">
                            <input type="text" th:field="*{odds[12]}" class="center" style="width: 100px;"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required">
                        <label>
                            로우 배당
                        </label>
                    </th>
                    <td>
                        <label class="color03">
                            <input type="text" th:field="*{odds[13]}" class="center" style="width: 100px;"/>
                            로우(1-18) 또는 하이(19-36)에 베팅을 하실 수 있으며, 각 18개의 번호가 포함 되여 있습니다,단 0번은 제외됩니다.
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required">
                        <label>
                            하이 배당
                        </label>
                    </th>
                    <td>
                        <label class="color03">
                            <input type="text" th:field="*{odds[14]}" class="center" style="width: 100px;"/>
                        </label>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="panel-body">
                <h3>
                    <i class="bul fa fa-cube" aria-hidden="true"></i>
                    룰렛 금액설정
                </h3>
            </div>
            <table class="table-read col10" style="margin: -1px 0 0 0;">
                <caption>룰렛 베팅금액 설정</caption>
                <colgroup>
                    <col style="width: 220px;">
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th class="required color03" style="padding-right: 0;">
                        룰렛 베팅금액
                    </th>
                    <td>1레벨</td>
                    <td>2레벨</td>
                    <td>3레벨</td>
                    <td>4레벨</td>
                    <td>5레벨</td>
                    <td>6레벨</td>
                    <td>7레벨</td>
                    <td>8레벨</td>
                    <td>9레벨</td>
                    <td>10레벨</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th class="required">배당금 상한가</th>
                    <td>
                        <input type="text" th:field="*{win[1]}"/>
                    </td>
                    <td>
                        <input type="text" th:field="*{win[2]}"/>
                    </td>
                    <td>
                        <input type="text" th:field="*{win[3]}"/>
                    </td>
                    <td>
                        <input type="text" th:field="*{win[4]}"/>
                    </td>
                    <td>
                        <input type="text" th:field="*{win[5]}"/>
                    </td>
                    <td>
                        <input type="text" th:field="*{win[6]}"/>
                    </td>
                    <td>
                        <input type="text" th:field="*{win[7]}"/>
                    </td>
                    <td>
                        <input type="text" th:field="*{win[8]}"/>
                    </td>
                    <td>
                        <input type="text" th:field="*{win[9]}"/>
                    </td>
                    <td>
                        <input type="text" th:field="*{win[10]}"/>
                    </td>
                </tr>
                <tr>
                    <th class="required">최대 베팅 가능 금액</th>
                    <td>
                        <input type="text" th:field="*{max[1]}"/>
                    </td>
                    <td>
                        <input type="text" th:field="*{max[2]}"/>
                    </td>
                    <td>
                        <input type="text" th:field="*{max[3]}"/>
                    </td>
                    <td>
                        <input type="text" th:field="*{max[4]}"/>
                    </td>
                    <td>
                        <input type="text" th:field="*{max[5]}"/>
                    </td>
                    <td>
                        <input type="text" th:field="*{max[6]}"/>
                    </td>
                    <td>
                        <input type="text" th:field="*{max[7]}"/>
                    </td>
                    <td>
                        <input type="text" th:field="*{max[8]}"/>
                    </td>
                    <td>
                        <input type="text" th:field="*{max[9]}"/>
                    </td>
                    <td>
                        <input type="text" th:field="*{max[10]}"/>
                    </td>
                </tr>
                <tr>
                    <th class="required">최소 베팅 가능 금액</th>
                    <td>
                        <input type="text" th:field="*{min[1]}"/>
                    </td>
                    <td>
                        <input type="text" th:field="*{min[2]}"/>
                    </td>
                    <td>
                        <input type="text" th:field="*{min[3]}"/>
                    </td>
                    <td>
                        <input type="text" th:field="*{min[4]}"/>
                    </td>
                    <td>
                        <input type="text" th:field="*{min[5]}"/>
                    </td>
                    <td>
                        <input type="text" th:field="*{min[6]}"/>
                    </td>
                    <td>
                        <input type="text" th:field="*{min[7]}"/>
                    </td>
                    <td>
                        <input type="text" th:field="*{min[8]}"/>
                    </td>
                    <td>
                        <input type="text" th:field="*{min[9]}"/>
                    </td>
                    <td>
                        <input type="text" th:field="*{min[10]}"/>
                    </td>
                </tr>
                </tbody>
            </table>


            <div class="panel-footer">
                <button class="btn btn04">수정</button>
            </div>

        </section>
    </form>
</div>
<script layout:fragment="script" th:if="true">
    $('input[type=text]').onlyFloat();

    function saveConfig() {
        if (!confirm('변경 내용을 저장 하겠습니까?')) {
            return false;
        }
    }
</script>
</body>
</html>