.zone {
    padding 10px 0

    .timer {
        padding 10px
        overflow hidden
        border solid 4px rgba(255,255,255,0.15)
        border-radius 10px
        margin-bottom 20px

        em {
            display inline-block
            height 40px
            line-height 40px
            font-size 16px
            color #aaa
        }

        .timer-box {
            display inline-block
            float right
        }

        .flip-clock-divider .flip-clock-label {
            display none
        }
    }
}

#zoneBox {
    position relative
    overflow hidden

    > div {
        -o-transform-origin 0 0
        -ms-transform-origin 0 0
        -moz-transform-origin
        -webkit-transform-origin 0 0
        transform-origin 0 0
    }
}

#zoneButton {
    margin 0 auto
    width 100%
    padding 4px 5px
    background #bbbbbb
    border solid 1px #acacac
    border-radius 4px
    text-align left

    a {
        display inline-block
        color #222
        font-weight 600
        text-shadow 1px 1px 1px #fff
        padding 0 20px
        height 22px
        line-height 20px
        text-align center
        border solid 1px transparent

        &.on, &:hover {
            background #197d5f
            border-color #116249
            border-radius 3px
            color #fff
            text-shadow none
        }
    }
}

#cart-wrap {
    position fixed
    left 0
    bottom 0
    width 100%
    overflow hidden
    height 50px
    background #262527
    z-index 9
    transition(all .3s ease-out)

    &.on {
        height 70%
    }

    .cart-slip {
        position relative
        overflow-y auto
        overflow-x hidden
        height 100%
        -webkit-overflow-scrolling touch
    }

    footer {
        position relative
    }

    .cart-item > div {
        position relative
        padding 10px
        border-top solid 1px rgba(255,255,255,0.1)
        border-bottom solid 1px rgba(0,0,0,0.3)
        overflow hidden

        p {
            height 24px
            line-height 24px
        }

        &.bonus {
            p {
                width 100%
                text-align center
                color #ee5f5b
            }
        }

        .team {
            img {
                vertical-align middle
            }
            float left
        }
        .odds {
            color #4a98be
            float right
            padding-right 36px
        }
        .btn {
            background #b90304
            position absolute
            right 10px
            top 12px
            width 20px
            height 20px
            line-height 20px
            padding 0
            text-align center
        }
    }

    .cart-odds {
        padding 10px
        border-top solid 1px rgba(255,255,255,0.1)
        border-bottom solid 1px rgba(0,0,0,0.3)

        p {
            height 24px
            line-height 24px

            span {
                float right

                em {
                    color #ee5f5b
                }

                input {
                    width 82px
                    height 20px
                    background #000
                    border 0
                    padding 0
                    border-radius 0
                    outline 0
                    text-align right
                    color #ee5f5b
                }
            }
        }
    }

    .cart-amount {
        padding 10px
        overflow hidden

        li {
            float left
            width 25%
            padding 1px
        }

        .btn {
            float left
            width 100%
            height 36px
            line-height 36px
            text-align center
        }
    }

    .cart-betting {
        padding 0 10px
    }
}

.ladder-result {
    background url(/images/ladder-result.png)
    display inline-block
    width 26px
    height 26px

    &.s1 {
        background-position 0 0
    }

    &.s2 {
        background-position -26px 0
    }

    &.s3 {
        background-position -52px 0
    }

    &.s4 {
        background-position -78px 0
    }
}

.lowhi-result {
    background url(/images/lowhi-result.png)
    display inline-block
    width 50px
    height 25px

    &.s1 {
        background-position 0 0
    }

    &.s2 {
        background-position -50px 0
    }

    &.s3 {
        background-position -100px 0
    }

    &.s4 {
        background-position -150px 0
    }
}

#timer {
    line-height 1
    width 150px
    text-align center
    text-shadow 0 1px 2px #000
    font-size 22px
    font-weight 600
    font-family 'Helvetica Neue', Helvetica, sans-serif
    div, span {
        display block
        width 30px
        height 36px
        line-height 36px
        background #333
        float left
        border-radius 4px
        margin-left 4px
        box-shadow(1px 1px 2px 1px rgba(0,0,0,0.7))
        color #ccc
    }

    > span {
        background none
        box-shadow none
        width 10px
        color #333
        margin-left 4px
    }
}