
html, body {
	background url(/images/pattern03.png) #000
	padding 0
	margin 0
	color #eee
	font-size 14px
	-webkit-text-size-adjust none
}

a {
	color #eee
	font-size 14px
	text-decoration none
}

#gnb {
	position fixed
	background #36312f
	top 0
	bottom 0
	left -270px
	width 260px
	height 100%
	transition(all .4s ease-out)
	overflow-y scroll
	overflow-x hidden
	z-index 99
	box-shadow(0 0 20px rgba(0,0,0,0.8))
	-webkit-overflow-scrolling touch

	&.on {
		left 0
	}

	.user-box {
		position relative
		height 50px
		line-height 50px
		background rgba(0,0,0,0.5)
		padding-left 40px
	}

	.user-memo {
		position relative
		height 40px
		line-height 40px
		background rgba(0,0,0,0.1)
		padding-left 40px
		border-top solid 1px rgba(255,255,255,0.1)
		border-bottom solid 1px rgba(255,255,255,0.1)

		.qna {
			display inline-block
			width 104px
		}

		.btn {
			position absolute
			right 10px
			padding 0
			width 80px
			text-align center
			top 7px
		}
	}

	.gnb-btn {
		overflow hidden
		border-top solid 1px rgba(255,255,255,0.1)
		border-bottom solid 1px rgba(0,0,0,0.2)

		div {
			width 50%
			padding 20px 0
			text-align center


			.btn {
				padding 0
				text-align center
				width 80px
				border-radius 10px
			}

			&.btn-deposit {
				padding-left 10px
				float left
			}

			&.btn-withdraw {
				padding-right 10px
				float right
			}
		}
	}

	ul {

		li {
			border-top solid 1px rgba(255,255,255,0.1)
			border-bottom solid 1px rgba(0,0,0,0.2)

			a {
				display block
				padding-left 40px
				height 42px
				line-height 42px
			}

			&.on {
				background #222
			}
		}
	}
}

#league {
	background #444648
	position fixed
	top 0
	bottom 0
	left 100%
	width 200px
	height 100%
	transition(all .4s ease-out)
	overflow-y scroll
	overflow-x hidden
	z-index 8
	-webkit-overflow-scrolling touch
	padding-bottom 60px

	&.on {
		left calc(100% - 200px)
	}

	img {
		vertical-align middle
	}

	li {
		display block
	}

	ul {
		display none

		&.on {
			display block
		}
	}

	p {
		width 200px
		padding 0 10px
		height 38px
		line-height 38px
		background #363537
		margin 1px 0
		font-size 13px

		.cnt {
			float right
			display block
			background-color #dc0405
			height 18px
			line-height 18px
			padding 0 7px
			border-radius 10px
			margin-top 10px
		}

		&.top {
			height 40px
			line-height 40px
			font-weight 600
			background #262527

			.cnt {
				margin-top 12px
			}
		}

		&.title {
			height 48px
			line-height 48px
			color #fff
			text-align center
			font-size 18px
			font-weight 600
		}

		&.league {
			padding-left 16px
			background #565658
		}
	}
}

.container {
	padding-bottom 50px
}

header, footer {
	position relative
	height 50px
	line-height 50px
	background #e7402e
	padding 0 10px
	z-index 7

	h1 {
		text-align center
		font-weight 600
		font-size 18px
		text-shadow 1px 1px 2px rgba(0, 0, 0, 0.4)
	}
}

.user-info {
	height 40px
	line-height 40px
	background #36312f
	padding 0 10px

	.user-name {
		float left
	}

	.user-point {
		float right

		em {
			color #ee5f5b
		}

		.btn {
			font-size 13px
		}
	}

	.money {
		background url(/images/icon_money.png) left center no-repeat
		padding-left 18px
	}

	.point {
		margin-left 10px
		background url(/images/icon_point.png) left center no-repeat
		padding-left 18px
	}
}

.user-id {
	color #51b2dc
}

footer {
	position fixed
	bottom 0
	left 0
	right 0
	padding 0 10px

	em {
		display inline-block
		background #000
		padding 0 10px
		height 26px
		line-height 26px

	}
}

#btn-cart, #btn-menu, #btn-close, #btn-home {
	position absolute
	display block
	width 40px
	height 40px
	top 5px
	right 10px
	background url(/images/m/btn-cart.png) center center no-repeat
	text-indent -999px

	&#btn-menu {
		right auto
		left 10px
		background url(/images/m/btn-menu.png) center center no-repeat
	}

	&#btn-close {
		background url(/images/m/btn-close.png) center center no-repeat
	}

	&#btn-home {
		background url(/images/m/btn-home.png) center center no-repeat
	}
}

#layout-wrap {
	background rgba(0, 0, 0, 0.8)
	width 100%
	height 100%
	position fixed
	z-index 998
	left 0
	top 0
}

#layout-box {
	top 50%
	width 100%
	text-align center
	position absolute
	z-index 999
	height 546px
	margin-top -286px
	margin-bottom 200px

	img {
		scaleAll(.85)
		display block
		margin 20px auto
	}
}

.paging {
	text-align center
	padding 28px 0
	margin 0 auto
	clear both

	a, em {
		display inline-block
		height 30px
		line-height 28px
		width auto
		padding 0
		text-align center

		border solid 1px #444

		&.prev {
			float left
			width 36%
			margin-right 10px
			background gray-darker
			border-radius 15px
		}
		&.next {
			float right
			width 36%
			margin-left 10px
			background gray-darker
			border-radius 15px
		}
	}

	em {
		border none
	}
}


@media (orientation: landscape) {
	#login {
		.login-wrap {
			top 0 !important
			margin-top 0 !important
		}
	}

	#layout-box {
		top 50px !important
		margin-top 0 !important
	}

	td.land {
		display table-row
	}
}

#league-btn, #btn-top, #btn-reload {
	position fixed
	width 50px
	height 50px
	line-height 50px
	right 10px
	background #f00
	opacity 0.6
	border-radius 5px
	text-shadow -1px -1px 1px rgba(0, 0, 0, 0.6)
	box-shadow(1px 1px 10px rgba(0, 0, 0, 0.6))
	border solid 1px rgba(255, 255, 255, 0.1)
	transition(all 0.4s ease-out)
	text-align center
	font-weight 600
	color #fff

}

#league-btn {
	z-index 8
	bottom 120px

	&.on {
		right 200px
		opacity 1
	}
}

#btn-reload {
	background url(/images/icon-reload.png) center center no-repeat #565658
	z-index 8
	opacity 0.8
	bottom 120px
	right 70px
}

#btn-top {
	bottom 60px
	background #565658
	opacity 0

	&.show {
		opacity 0.8
	}
}