#login {
    .login-wrap {
        position absolute
        top 50%
        width 100%
        margin-top -250px
        padding 30px 20px

        &.login-join {
            top 0
            margin-top 0
        }
    }

    h1 {
        font-size 50px
        font-weight 800
        margin-bottom 20px
        color #fff
    }

    label {
        position relative

        p {
            font-size 12.5px
            padding-bottom 10px
            line-height 1.4
        }

        .bul {
            position absolute
            right 10px
            top 2px
            display inline-block
            width 20px
            height 20px
            background url(/images/btn_join.png) center left no-repeat

            &.bul-ready {
                background-position -20px 0
            }

            &.bul-error {
                background-position -40px 0
            }
        }
    }

    .command {
        margin-top 20px
    }

    .btn-login {
        background #59a735
    }

    .btn-join {
        border 1px solid #aaa
    }

    .copyright {
        text-align center
        margin-top 40px
        font-size 11px
        color #888

        span {
            color #ccc
        }
    }
}

.spinner {
    width 20px
    height 20px
    background-color #ee3729
    animation(sk-rotate 1.6s infinite ease-in-out)
}

.loading {
    width 100px
    height 100px
    background url(/images/m/loading.png) center center no-repeat
    animation(sk-span 2s infinite linear)
}

@-webkit-keyframes sk-rotate {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg)
    }
}

@keyframes sk-rotate {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

@keyframes sk-span {
0% {
        transform: rotate(0deg)
        -webkit-transform: rotate(0deg)
    }
100% {
        transform: rotate(359deg)
        -webkit-transform: rotate(359deg)
    }
}