.btn {
    cursor pointer
    display inline-block
    background #444
    height 26px
    line-height 26px
    padding 0 10px
    color #fff

    &.on {
        background darken(#363537, 30%)
    }
}

.btn-big {
    margin-bottom 4px
    display block
    width 100%
    height 44px
    line-height 44px
    text-align center
    color #fff
    text-decoration none
    cursor pointer
    font-size 16px
    border-radius 5px
    background #444
}

.btn01 {
    background #0066aa
    &.on {
        background darken(#0066aa, 30%)
    }
}

.btn02 {
    background #dd4400
    &.on {
        background darken(#dd4400, 30%)
    }
}

.btn03 {
    background #ce0f0b
    &.on {
        background darken(#ce0f0b, 30%)
    }
}

.color0 {
    color #fff !important
}

.color01 {
    color #5bc0de !important
}

.color02 {
    color #ee5f5b !important

}

.color03 {
    color #f89406 !important
}

.color04 {
    color #62c462 !important
}

.main {
    padding-bottom 80px

    h2 {
        text-align center
        font-size 60px
        font-family font-eng
        font-weight 800
        margin 30px 0 20px 0
        text-shadow 1px 1px 20px rgba(0, 0, 0, 1)
    }

    .main-menu {
        text-align center

        a {
            display inline-block
            margin 4px 2px
            width 80px
            height 80px
        }
    }
}

main.page {
    padding 10px

    h2 {
        font-size 16px
    }
}

.tab-sports {
    margin-bottom 10px
}

.box {
    box-shadow(inset 0 0 10px 1px rgba(255, 255, 255, 0.5))
    background rgba(0, 0, 0, 0.6)
    border-radius 10px
    padding 20px
    line-height 1.4
    margin-bottom 20px

    h3 {
        font-size 18px
        margin-bottom 10px
    }

    h4 {
        font-size 16px
        margin-bottom 10px
    }

    h5 {
        font-size 14px
        margin-bottom 10px
    }
}

.event {
    padding 20px
    background #ffd424
    border-radius 10px
    color #000
    margin-bottom 20px
}

.amount {
    text-align center
    margin-bottom 20px
    .btn {
        width 24%
        height 36px
        line-height 36px
        margin 1px -1px
        padding 0
        text-align center
    }
}

.command {
    margin-bottom 20px
    .btn {
        width 100%
    }
}

.wrap {
    label {
        display block
        position relative
        margin-bottom 10px

        span {
            display block
            margin-bottom 10px
            font-weight 600
        }
    }
}

input, select, textarea {
    color #fff
    width 100%
    padding 0 15px
    height 44px
    font-size 14px
    border-radius 4px
    margin-bottom 4px
    border solid 1px #444
    background rgba(0, 0, 0, 0.5)
}

textarea {
    padding 15px
    height 200px
}

img {
    vertical-align middle
}

.pc {
    padding 10px
}

.memo-cnt {
    display inline-block
    padding 0 7px
    height 20px
    line-height 20px
    background #ce0f0b
    border-radius 10px
    font-size 13px
}

.lv {
    display inline-block
    background #1f809c
    height 20px
    line-height 20px
    width 36px
    color #fff
    text-align center
    margin-right 10px
    font-size 12px
}

.tab-menu {
    height 50px
    border-bottom solid 1px #3a3e41
    overflow-y hidden
    overflow-x scroll
    position relative
    -webkit-overflow-scrolling touch

    .tab-menu-wrap {
        overflow-x auto
        overflow-y hidden
        white-space nowrap
        font-size 0

        a {
            width 20%
            display inline-block
            height 50px
            line-height 50px
            text-align center
            background linear-gradient(to bottom, #414b4d, #11161a 100%)

            &.on {
                background #2a2f35
                box-shadow(inset 0 0 6px 2px rgba(0, 0, 0, 0.8))
            }
        }
    }
}

.tab-menu2 {
    text-align center
    width 100%
    border-bottom solid 1px rgba(0, 0, 0, 0.5)
    background rgba(0, 0, 0, 0.5)
    display table
    a {
        display table-cell
        width 18%
        height 40px
        line-height 40px

        &.on {
            color #ee5f5b
        }
    }
}

#layout-load {
    position fixed
    top 50%
    left 50%
    width 100px
    height 100px
    margin-top -50px
    margin-left -50px
    z-index 999
}

ul.list {
    li {
        border-bottom solid 1px rgba(255, 255, 255, 0.1)
        display block
        padding 10px 0

        .title {
            line-height 1.6
            padding-bottom 10px

            .hit {
                color #ee5f5b
            }

            .new, .bet {
                display inline-block
                width 15px
                height 15px
                line-height 15px
                color #fff
                margin 0 1px
                text-align center
                font-size 10px
                font-family Arial

                &.new {
                    background-color #c8232c
                }

                &.bet {
                    background-color #389638
                }
            }
        }

        .date {
            float right
        }

        .label {
            display inline-block
            background #ffd424
            height 20px
            line-height 20px
            padding 0
            margin 0
            width 70px
            border-radius 0
            color #000
            text-align center
        }

        &.contents {
            padding 0
            background #444
            display none

            h5 {
                font-size 15px
                padding 10px
                line-height 1.6
                background rgba(0,0,0,0.5)
            }

            p {
                padding 20px 10px
                position relative
                line-height 1.6
                .btn {
                    position absolute
                    right 10px
                    top 10px
                }
            }


        }
    }

    margin-bottom 20px
}

.cal-title {
    text-align center
    margin-bottom 20px
    margin-top 20px
    span {
        display inline-block
        font-size 24px
        height 36px
        line-height 36px
        vertical-align middle
        padding 0 20px
    }

    .btn {
        padding 0
        width 60px
    }
}

ul.calendar {
    width 100%
    display block
    margin-left 4px

    li {
        display table-cell
        float left
        width 14.28%
        border solid 1px #272b30
        margin-left -1px
        margin-top -1px
        height 70px
        background #30353c
        text-align right
        padding 10px
        font-size 16px

        &.blank {
            background none
        }

        &.check {
            background url(/images/check.png) center 24px no-repeat #30353c
            background-size 35px 36px
        }

        &:nth-child(7n + 1) {
            color #ff3300
        }

        &:nth-child(7n + 0) {
            color #4488ff
        }

        &.th {
            background #1f2226
            height 40px
            line-height 40px
            text-align center
            font-weight 600
            padding 0
        }
    }
}