table {
    width 100%
    border-collapse separate
    table-layout fixed
    border-top solid 1px rgba(255, 255, 255, 0.2)

    th, td {
        vertical-align middle
        text-align center
        border-bottom solid 1px rgba(255, 255, 255, 0.2)
        height 34px

        &.land {
            display none
        }
    }

    th {
        height 38px
        background rgba(0, 0, 0, 0.5)
    }
}

table.view {
    box-shadow(none)

    th {
        text-align left
        p {
            font-size 15px
            padding 10px 0
            line-height 1.6
        }
    }

    td {
        background none
        border-bottom solid 1px #464547
        padding 10px 20px

        .date {
            display block
            height 20px
            line-height 20px
            background url(/images/icon_time.png) left center no-repeat
            padding-left 16px
            float right
        }

        &.contents, &.user {
            text-align left
            padding 10px 0
            line-height 1.6
        }
    }
}

.comment {

    textarea {
        width calc(100% - 80px)
        height 80px
    }

    .btn {
        float right
        width 80px
        height 80px
        font-size 14px
        font-weight 600
        border-radius 0 4px 4px 0
    }
}

.comments {

    > div {
        overflow hidden
        border-bottom solid 1px rgba(255,255,255,0.1)
        padding 10px
        //background #464547

        .date {
            margin-top 6px
            display block
            height 20px
            line-height 20px
            background url(/images/icon_time.png) left center no-repeat
            padding-left 16px
        }

        .user {
            float left
            width 160px
        }

        .title {
            position relative
            padding-left 160px
            p {
                color #fff
                line-height 1.6
            }

            .icon_delete {
                position absolute
                right 0
                top 0
                width 21px
                height 21px
                background url(/images/icon_delete.png) center center no-repeat #dc0405
            }
        }
    }

}

table.game {
    border none

    tbody.group:before {
        content ''
        display block
        height 15px
        background none
    }

    tr.off {
        td.bet {
            background #464547 !important
        }
    }

    td {
        height auto
        padding 10px
        font-size 13px

        border-left solid 1px rgba(255, 255, 255, 0.1)
        border-top solid 1px rgba(255, 255, 255, 0.1)
        border-right solid 1px rgba(0, 0, 0, 0.8)
        border-bottom solid 1px rgba(0, 0, 0, 0.8)

        .ellipses {
            width 100%
            display block
            overflow hidden
            white-space nowrap
            text-overflow ellipsis
        }

        &.home {
            color #fff
            text-align left
            .odds {
                display block
                text-align right
                font-weight 600
                color #ee5f5b
            }
        }

        &.draw {
            padding 0
            &.bet {
                color #ee5f5b
                font-weight 600
            }
        }

        &.away {
            color #fff
            text-align right
            .odds {
                display block
                text-align left
                font-weight 600
                color #ee5f5b
            }
        }

        &.off {
            background #222
        }

        &.bet {
            position relative
            background #262527

            p {
                margin-bottom 6px
            }

            a {
                position absolute
                left 0
                right 0
                top 0
                bottom 0
            }
        }

        &.on {
            background #dda424
            color #000 !important
            * {
                color #000 !important
            }
        }

        &.hit {
            box-shadow(inset 0 0 0 1px #fff)
        }

        .odds {
            .over {
                background url(/images/icon_over.gif) left center no-repeat
                padding-left 20px
                font-weight normal
                color #f03300
                margin 0 6px
            }

            .under {
                background url(/images/icon_under.gif) right center no-repeat
                padding-right 20px
                font-weight normal
                color #0af
                margin 0 6px
            }

            .handy {
                font-weight normal
                color #62c462
            }
        }

        &.score {
            color #fff
            box-shadow(inset 0 0 40px 1px #000)
            padding 0
        }
    }

    .league {
        text-align left
        background #000
        height 38px
        background none
        border none

        p {
            display inline-block

            .date {
                color #ffd424
                padding-left 10px
            }
        }

        .btn {
            float right
            position relative
            padding 0
            width 42px
            text-align center
            font-size 13px
            height 24px
            line-height 24px

            em {
                background rgba(0, 0, 0, 0.5)
                position absolute
                right 1px
                top 1px
                height 22px
                line-height 22px
                width 40px
                padding-right 6px
                text-align right
            }
        }

        .date {
            float right
            display block
            height 24px
            line-height 24px
        }

        .rest-time {
            float right
        }
    }

    .betInfo {
        border none
        text-align left
        padding 10px 0 20px 0

        p {
            display inline-block
            width 49%
            color #fff
            line-height 1.6

            .hit {
                color #f60
            }
        }
        .btn-box {
            text-align center
            margin-top 10px
        }
    }
}
