<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/siteLayout" th:with="main='page', gnb='customer', lnb='memo'">
<body>

<section layout:fragment="section">
    <h3>메시지함</h3>

    <form id="frm-search" method="get" th:action="@{|${siteConfig.pathSite}/customer/memo|}">
        <input type="hidden" id="page" name="page" th:value="${page.number + 1}"/>
    </form>
    <span class="btn-box">
        <a href="#" th:onclick="|readMemoAll();return false;|" class="btn btn04">전체 읽기</a>
        <a href="#" th:onclick="|deleteMemoAll();return false;|" class="btn btn03">전체 삭제</a>
    </span>
    <div class="board memo">
        <ul class="head">
            <li>No.</li>
            <li>제목</li>
            <li>작성일</li>
            <li>상태</li>
            <li>삭제</li>
        </ul>
        <th:block th:each="m, num : ${page.content}" th:with="total=${page.totalElements - page.number * page.size + 1}">
            <ul>
                <li th:text="${total - num.count}">1</li>
                <li class="ellipsis" th:onclick="|viewMemo(${m.id});return false;|"><a class="ellipsis" th:text="${m.title}"></a></li>
                <li th:utext="${tag.dayWeekTimes(m.regDate)}"></li>
                <li th:class="${m.checked} ? 'checked' : 'color03 checked'" th:text="${m.checked} ? '확인' : '미확인'"></li>
                <li><a href="#" th:onclick="|deleteMemo(${m.id});return false;|" class="btn btn03">삭제</a></li>
            </ul>
            <ul th:id="${m.id}" class="contents">
                <li>
                    <h5 th:text="${m.title}">질문</h5>
                    <p>
                        <span th:utext="${tag.onlyBr2(m.contents)}" th:remove="tag"></span>
                    </p>
                </li>
            </ul>
        </th:block>
        <ul th:if="${page.numberOfElements eq 0}">
            <li style="height: 300px;line-height: 300px;">등록된 쪽지가 없습니다.</li>
        </ul>
    </div>
    <div class="paging">
        <ul th:replace="fragments/site :: paging(p=${page})"></ul>
    </div>
</section>

<script layout:fragment="script" th:if="true">
    var memo = [[${user.memo}]];
    if (memo > 0) {
        alert('쪽지를 확인 하세요.');
    }

    function viewMemo(id) {
        if ($('#' + id).is(':visible')) {
            $('#' + id).slideUp();
        } else {
            $('.contents').slideUp();
            $('#' + id).slideDown();
            showMemo(id);
        }
    }

    function showMemo(id) {
        $.post(path + '/customer/memo/view', {
            id: id
        }).done(function success() {
            $('#' + id).prev().find('.checked').text('확인').removeClass('color03');
        });
    }

    function deleteMemo(id) {
        if (confirm('쪽지를 삭제하시겠습니까?')) {
            $.post(path + '/customer/memo/delete', {
                id: id
            }).done(function (data) {
                if (data.success) {
                    location.reload();
                }
            });
        }
    }

    function readMemoAll() {
        $.post(path + '/customer/memo/readAll', {
        }).done(function (data) {
            if (data.success) {
                location.reload();
            }
        });
    }

    function deleteMemoAll() {
        $.post(path + '/customer/memo/deleteAll', {
        }).done(function (data) {
            if (data.success) {
                location.reload();
            }
        });
    }
</script>
</body>
</html>