<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org" th:with="tag = ${T(spoon.support.web.CustomTag)}">
<head th:replace="fragments/adminFragment :: head">
    <meta charset="UTF-8"/>
    <title>MOBIUS</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.admin.css}"/>
    <script th:src="@{/webjars/jquery/3.1.1/dist/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
</head>
<body>
<div class="page-wrap" layout:fragment="page">
    <header>
        <h1 th:text="${user.nickname}">memuri1</h1>

        <nav>
            <ul class="gnb">
                <li th:class="${gnb eq 'game'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/game/match/complete|}">스포츠</a></li>
                <li th:if="${!sysConfig.zone.gnb.empty}" th:class="${gnb eq 'zone'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/zone/${sysConfig.zone.gnb}/config|}">실시간</a></li>
                <li th:if="${sysConfig.casino.enabled}" th:class="${gnb eq 'casino'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/casino/list|}">LIVE카지노</a></li>
                <li th:class="${gnb eq 'betting'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/betting/list?result=ing&role=USER|}">베팅</a></li>
                <li th:class="${gnb eq 'payment'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/payment/deposit|}">충/환전</a></li>
                <li th:class="${gnb eq 'member'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/member/list|}">회원</a></li>
                <li th:class="${gnb eq 'board'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/board/free|}">게시판</a></li>
                <li th:class="${gnb eq 'customer'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/customer/qna|}">고객응대</a></li>
                <li th:class="${gnb eq 'accounting'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/accounting/daily|}">정산</a></li>
                <li th:class="${gnb eq 'seller'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/seller/joinCode|}">총판</a></li>
                <li th:class="${gnb eq 'config'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/config/site|}">환경설정</a></li>
                <li th:class="${gnb eq 'report'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/report/list|}">리포트</a></li>
                <li th:if="${sysConfig.event.daily}" th:class="${gnb eq 'event'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/event/daily/win|}">이벤트</a></li>
                <li sec:authorize="hasRole('ROLE_GOD')" th:class="${lnb eq 'godBalance'} ? 'on'"><a th:href="@{|${siteConfig.pathAdmin}/betting/godBalance|}">갓벨</a></li>
            </ul>
            <a th:href="@{/logout}" class="btn">로그아웃</a>
        </nav>
    </header>
    <main>
        <div ng-app="app" ng-controller="AlarmCtrl">
            <aside class="side">
                <div class="side-wrap">
                    <div class="side-scroll">
                        <ul class="side-util">
                            <li><a href="#" onclick="popup.member.currentUser();return false;" class="btn">현재접속자</a></li>
                            <li><a href="#" class="btn">알람설정</a></li>
                        </ul>
                        <ul class="side-alarm">
                            <li ng-class="alarm.deposit > 0 ? 'on' : ''"><a th:href="@{|${siteConfig.pathAdmin}/payment/deposit|}">충전 미처리</a> : <span ng-bind="alarm.deposit | number : 0">0</span></li>
                            <li ng-class="alarm.withdraw > 0 ? 'on' : ''"><a th:href="@{|${siteConfig.pathAdmin}/payment/withdraw|}">환전 미처리</a> : <span ng-bind="alarm.withdraw | number : 0">0</span></li>
                            <li ng-class="alarm.qna > 0 ? 'on' : ''"><a th:href="@{|${siteConfig.pathAdmin}/customer/qna|}">고객센터 답변대기</a> : <span ng-bind="alarm.qna | number : 0">0</span></li>
                            <li ng-class="alarm.member > 0 ? 'on' : ''"><a th:href="@{|${siteConfig.pathAdmin}/member/list?mode=disabled|}">신규회원 승인대기</a> : <span ng-bind="alarm.member | number : 0">0</span></li>
                            <li ng-class="alarm.black > 0 ? 'on' : ''"><a th:href="@{|${siteConfig.pathAdmin}/betting/list?result=ing&black=y|}">블랙회원 베팅</a> : <span ng-bind="alarm.black | number : 0">0</span></li>
                            <li ng-class="alarm.board > 0 ? 'on' : ''"><a th:href="@{|${siteConfig.pathAdmin}/board/free|}">게시물 신규등록</a> : <span ng-bind="alarm.board">0</span></li>
                            <li ng-class="alarm.cross > 0 ? 'on' : ''"><a th:href="@{|${siteConfig.pathAdmin}/game/cross/result?sort=score.asc|}">크로스 경기미처리</a> : <span ng-bind="alarm.cross">0</span></li>
                            <li ng-class="alarm.special > 0 ? 'on' : ''"><a th:href="@{|${siteConfig.pathAdmin}/game/special/result?sort=score.asc|}">스페셜 경기미처리</a> : <span ng-bind="alarm.special">0</span></li>
                            <li th:if="${sysConfig.sports.canLive}" ng-class="alarm.live > 0 ? 'on' : ''"><a th:href="@{|${siteConfig.pathAdmin}/game/live/result?sort=score.asc|}">실시간 경기미처리</a> : <span ng-bind="alarm.live">0</span></li>
                            <!--<audio th:if="${user.role.name() ne 'GOD'}" ng-if="!alarm.dariEnabled || !alarm.ladderEnabled || !alarm.powerEnabled" ng-src="/sound/thunder.mp3" autoplay="autoplay" loop="loop"></audio>-->
                            <audio th:if="${user.role.name() ne 'GOD'}" ng-if="alarm.alarmDeposit > 0" ng-src="/sound/in3.mp3?223" autoplay="autoplay" loop="loop"></audio>
                            <audio th:if="${user.role.name() ne 'GOD'}" ng-if="alarm.alarmWithdraw > 0" ng-src="/sound/out3.mp3?214" autoplay="autoplay" loop="loop"></audio>
                            <audio th:if="${user.role.name() ne 'GOD'}" ng-if="alarm.alarmQna > 0" ng-src="/sound/counsel3.mp3?214" autoplay="autoplay" loop="loop"></audio>
                            <audio th:if="${user.role.name() ne 'GOD'}" ng-if="alarm.alarmMember > 0" ng-src="/sound/member3.mp3?214" autoplay="autoplay" loop="loop"></audio>
                            <audio th:if="${user.role.name() ne 'GOD'}" ng-if="alarm.black > 0" ng-src="/sound/black.mp3?24123" autoplay="autoplay" loop="loop"></audio>
                            <!--<audio th:if="${user.role.name() ne 'GOD'}" ng-if="alarm.board > 0" ng-src="/sound/board.mp3" autoplay="autoplay" loop="loop"></audio>-->
                            <!--<audio th:if="${user.role.name() ne 'GOD'}" ng-if="alarm.cross + alarm.special + alarm.live > 0" ng-src="/sound/game.mp3?123" autoplay="autoplay" loop="loop"></audio>-->
                        </ul>
                        <ul class="lnb" th:replace="fragments/adminFragment :: lnb"></ul>
                    </div>
                </div>
            </aside>
            <div id="zone-monitor">
                <a th:href="@{|${siteConfig.pathAdmin}/zone/ladder/complete|}" th:if="${sysConfig.zone.ladder}" ng-class="alarm.ladderResult > 0 ? 'err' : ''"><span ng-class="alarm.ladderEnabled ? '' : 'closing'">사다리</span></a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/dari/complete|}" th:if="${sysConfig.zone.dari}" ng-class="alarm.dariResult > 0 ? 'err' : ''"><span ng-class="alarm.dariEnabled ? '' : 'closing'">다리</span></a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/snail/complete|}" th:if="${sysConfig.zone.snail}" ng-class="alarm.snailResult > 0 ? 'err' : ''">달팽이</a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/binanceCoin1/complete|}" th:if="${sysConfig.zone.binanceCoin1}" ng-class="alarm.binanceCoin1 > 0 ? 'err' : ''">코인1</a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/binanceCoin3/complete|}" th:if="${sysConfig.zone.binanceCoin3}" ng-class="alarm.binanceCoin3 > 0 ? 'err' : ''">코인3</a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/dragonTiger/complete|}" th:if="${sysConfig.zone.dragonTiger}" ng-class="alarm.dragonTigerResult > 0 ? 'err' : ''">드타</a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/newSnail/complete|}" th:if="${sysConfig.zone.newSnail}" ng-class="alarm.newSnailResult > 0 ? 'err' : ''">N달팽이</a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/fxGame1/complete|}" th:if="${sysConfig.zone.fxGame1}" ng-class="alarm.fxGame1 > 0 ? 'err' : ''">FX1</a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/fxGame2/complete|}" th:if="${sysConfig.zone.fxGame2}" ng-class="alarm.fxGame2 > 0 ? 'err' : ''">FX2</a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/fxGame3/complete|}" th:if="${sysConfig.zone.fxGame3}" ng-class="alarm.fxGame3 > 0 ? 'err' : ''">FX3</a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/fxGame4/complete|}" th:if="${sysConfig.zone.fxGame4}" ng-class="alarm.fxGame4 > 0 ? 'err' : ''">FX4</a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/fxGame5/complete|}" th:if="${sysConfig.zone.fxGame5}" ng-class="alarm.fxGame5 > 0 ? 'err' : ''">FX5</a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/eosPower1/complete|}" th:if="${sysConfig.zone.eosPower1}" ng-class="alarm.eosPower1Result > 0 ? 'err' : ''"><span ng-class="alarm.eosPower1Enabled ? '' : 'closing'">EOS1</span></a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/eosPower2/complete|}" th:if="${sysConfig.zone.eosPower2}" ng-class="alarm.eosPower2Result > 0 ? 'err' : ''"><span ng-class="alarm.eosPower2Enabled ? '' : 'closing'">EOS2</span></a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/eosPower3/complete|}" th:if="${sysConfig.zone.eosPower3}" ng-class="alarm.eosPower3Result > 0 ? 'err' : ''"><span ng-class="alarm.eosPower3Enabled ? '' : 'closing'">EOS3</span></a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/eosPower4/complete|}" th:if="${sysConfig.zone.eosPower4}" ng-class="alarm.eosPower4Result > 0 ? 'err' : ''"><span ng-class="alarm.eosPower4Enabled ? '' : 'closing'">EOS4</span></a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/eosPower5/complete|}" th:if="${sysConfig.zone.eosPower5}" ng-class="alarm.eosPower5Result > 0 ? 'err' : ''"><span ng-class="alarm.eosPower5Enabled ? '' : 'closing'">EOS5</span></a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/bogleLadder/complete|}" th:if="${sysConfig.zone.bogleLadder}" ng-class="alarm.bogleLadderResult ? 'err' : ''">보다리</a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/boglePower/complete|}" th:if="${sysConfig.zone.boglePower}" ng-class="alarm.boglePowerResult ? 'err' : ''">보파워</a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/power/complete|}" th:if="${sysConfig.zone.power}" ng-class="alarm.powerResult > 0 ? 'err' : ''"><span ng-class="alarm.powerEnabled ? '' : 'closing'">파워볼</span></a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/powerFreeKick/complete|}" th:if="${sysConfig.zone.powerFreeKick}" ng-class="alarm.powerFreeKickResult > 0 ? 'err' : ''"><span ng-class="alarm.powerEnabled ? '' : 'closing'">파워킥</span></a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/power_ladder/complete|}" th:if="${sysConfig.zone.powerLadder}" ng-class="alarm.powerLadderResult > 0 ? 'err' : ''">파다리</a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/aladdin/complete|}" th:if="${sysConfig.zone.aladdin}" ng-class="alarm.aladdinResult > 0 ? 'err' : ''">알라딘</a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/lowhi/complete|}" th:if="${sysConfig.zone.lowhi}" ng-class="alarm.lowhiResult > 0 ? 'err' : ''">로하이</a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/kenoLadder/complete|}" th:if="${sysConfig.zone.kenoLadder}" ng-class="alarm.kenoLadderResult > 0 ? 'err' : ''" style="font-size: 13px">K사다리</a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/kenoSpeed/complete|}" th:if="${sysConfig.zone.kenoSpeed}" ng-class="alarm.kenoSpeedResult > 0 ? 'err' : ''">K스피드</a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/speedHomeRun/complete|}" th:if="${sysConfig.zone.speedHomeRun}" ng-class="alarm.speedHomeRunResult > 0 ? 'err' : ''">S홈런</a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/oddeven/complete|}" th:if="${sysConfig.zone.oddeven}" ng-class="alarm.oddevenResult > 0 ? 'err' : ''">홀짝</a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/baccarat/complete|}" th:if="${sysConfig.zone.baccarat}" ng-class="alarm.baccaratResult > 0 ? 'err' : ''">바카라</a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/lotusOddeven/complete|}" th:if="${sysConfig.zone.lotusOddeven}" ng-class="alarm.lotusOddevenResult > 0 ? 'err' : ''">L홀짝</a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/lotusBaccarat/complete|}" th:if="${sysConfig.zone.lotusBaccarat}" ng-class="alarm.lotusBaccaratResult > 0 ? 'err' : ''">L바카라</a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/lotusBaccarat2/complete|}" th:if="${sysConfig.zone.lotusBaccarat2}" ng-class="alarm.lotusBaccarat2Result > 0 ? 'err' : ''">L바카라2</a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/soccer/complete|}" th:if="${sysConfig.zone.soccer}" ng-class="alarm.soccerResult > 0 ? 'err' : ''">축구</a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/dog/complete|}" th:if="${sysConfig.zone.dog}" ng-class="alarm.dogResult ? 'err' : ''">개경주</a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/luck/complete|}" th:if="${sysConfig.zone.luck}" ng-class="alarm.luckResult ? 'err' : ''">세븐럭</a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/roulette/complete|}" th:if="${sysConfig.zone.roulette}" ng-class="alarm.rouletteResult > 0 ? 'err' : ''"><span ng-class="alarm.rouletteEnabled ? '' : 'closing'">룰렛</span></a>
                <a th:href="@{|${siteConfig.pathAdmin}/zone/coreaBaccarat/complete|}" th:if="${sysConfig.zone.coreaBaccarat}" ng-class="alarm.coreaBaccaratResult > 0 ? 'err' : ''"><span ng-class="alarm.coreaBaccaratEnabled ? '' : 'closing'">코카라</span></a>
            </div>
            <div id="site-monitor">
                <div>
                    <h5>유저 보유머니</h5>
                    <p><span>보유머니</span><em ng-bind="alarm.money | number : 0">0</em></p>
                    <p><span>보유포인트</span><em ng-bind="alarm.point | number : 0">0</em></p>
                </div>
                <div>
                    <h5>금일 입출금 현황</h5>
                    <p><span>입금</span><em ng-bind="alarm.in | number : 0">0</em></p>
                    <p><span>출금</span><em ng-bind="alarm.out | number : 0">0</em></p>
                    <p><span>총판 출금</span><em ng-bind="alarm.outAgency | number : 0">0</em></p>
                </div>
                <div>
                    <h5>금일 스포츠 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.sports | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.sportsEnd | number : 0">0</em></p>
                </div>
                <div>
                    <h5>금일 E스포츠 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.sports2 | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.sportsEnd2 | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.sports.inGame eq 'inGame'}">
                    <h5>금일 인플레이 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.inplay | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.inplayEnd | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.ladder}">
                    <h5>금일 사다리 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.ladder | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.ladderEnd | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.dari}">
                    <h5>금일 다리다리 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.dari | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.dariEnd | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.snail}">
                    <h5>금일 달팽이 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.snail | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.snailEnd | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.newSnail}">
                    <h5>금일 NEW달팽이 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.newSnail | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.newSnailEnd | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.power}">
                    <h5>금일 파워볼 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.power | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.powerEnd | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.powerFreeKick}">
                    <h5>금일 파워프리킥 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.powerFreeKick | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.powerFreeKickEnd | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.powerLadder}">
                    <h5>금일 파워사다리 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.powerLadder | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.powerLadderEnd | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.aladdin}">
                    <h5>금일 알라딘 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.aladdin | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.aladdinEnd | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.lowhi}">
                    <h5>금일 로하이 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.lowhi | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.lowhiEnd | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.kenoLadder}">
                    <h5>금일 키노사다리 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.kenoLadder | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.kenoLadderEnd | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.kenoSpeed}">
                    <h5>금일 스피드키노 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.kenoSpeed | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.kenoSpeedEnd | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.speedHomeRun}">
                    <h5>금일 스피드홈런 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.speedHomeRun | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.speedHomeRunEnd | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.oddeven}">
                    <h5>금일 홀짝 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.oddeven | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.oddevenEnd | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.baccarat}">
                    <h5>금일 바카라 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.baccarat | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.baccaratEnd | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.lotusOddeven}">
                    <h5>금일 로투스 홀짝 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.lotusOddeven | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.lotusOddevenEnd | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.lotusBaccarat}">
                    <h5>금일 로투스 바카라 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.lotusBaccarat | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.lotusBaccaratEnd | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.lotusBaccarat2}">
                    <h5>금일 로투스 바카라2 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.lotusBaccarat2 | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.lotusBaccarat2End | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.soccer}">
                    <h5>금일 가상축구 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.soccer | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.soccerEnd | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.dog}">
                    <h5>금일 개경주 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.dog | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.dogEnd | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.luck}">
                    <h5>금일 세븐럭 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.luck | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.luckEnd | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.dragonTiger}">
                    <h5>금일 드래곤타이거 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.dragonTiger | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.dragonTigerEnd | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.binanceCoin1}">
                    <h5>금일 바이낸스코인1분 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.binanceCoin1 | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.binanceCoin1End | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.binanceCoin3}">
                    <h5>금일 바이낸스코인3분 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.binanceCoin3 | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.binanceCoin3End | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.roulette}">
                    <h5>금일 코리아 룰렛 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.roulette | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.rouletteEnd | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.coreaBaccarat}">
                    <h5>금일 코리아 바카라 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.coreaBaccarat | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.coreaBaccaratEnd | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.fxGame1}">
                    <h5>금일 FXGAME 1분 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.fxGame1 | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.fxGame1End | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.fxGame2}">
                    <h5>금일 FXGAME 2분 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.fxGame2 | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.fxGame2End | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.fxGame3}">
                    <h5>금일 FXGAME 3분 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.fxGame3 | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.fxGame3End | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.fxGame4}">
                    <h5>금일 FXGAME 4분 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.fxGame4 | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.fxGame4End | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.fxGame5}">
                    <h5>금일 FXGAME 5분 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.fxGame5 | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.fxGame5End | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.eosPower1}">
                    <h5>금일 EOS 파워볼 1분 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.eosPower1 | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.eosPower1End | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.eosPower2}">
                    <h5>금일 EOS 파워볼 2분 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.eosPower2 | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.eosPower2End | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.eosPower3}">
                    <h5>금일 EOS 파워볼 3분 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.eosPower3 | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.eosPower3End | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.eosPower4}">
                    <h5>금일 EOS 파워볼 4분 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.eosPower4 | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.eosPower4End | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.eosPower5}">
                    <h5>금일 EOS 파워볼 5분 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.eosPower5 | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.eosPower5End | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.bogleLadder}">
                    <h5>금일 보글사다리 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.bogleLadder | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.bogleLadderEnd | number : 0">0</em></p>
                </div>
                <div th:if="${sysConfig.zone.boglePower}">
                    <h5>금일 보글파워볼 현황</h5>
                    <p><span>진행금액</span><em ng-bind="alarm.boglePower | number : 0">0</em></p>
                    <p><span>실정산</span><em ng-bind="alarm.boglePowerEnd | number : 0">0</em></p>
                </div>
            </div>
        </div>

        <div class="main-wrap">
            <h2 layout:fragment="title">
                <small>대메뉴 |</small>
                <span>중메뉴</span>
            </h2>
            <div class="container" layout:fragment="content">
                <section>
                    여기에 내용이 들어 갑니다.
                </section>
            </div>
        </div>
    </main>
    <footer>
        Copyright © [[${siteConfig.since}]] <span th:text="${siteConfig.companyName} + '.'">MOBIUS Solution.</span> All Right Reserved.
        <div class="btn-top"><i class="fa fa-angle-up"></i></div>
    </footer>
</div>
<div id="flashMessage">
    <div th:text="${message}"></div>
</div>
<div th:replace="fragments/adminFragment :: javascript"></div>
<script layout:fragment="script" th:if="false"></script>
</body>
</html>