<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org" th:with="tag = ${T(spoon.support.web.CustomTag)}">
    <head th:replace="fragments/mobileFragment :: head">
        <meta charset="UTF-8"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <title>mevius</title>
        <link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>
        <link rel="stylesheet" th:href="@{/css/style.mobile.css}"/>
        <script th:src="@{/webjars/jquery/3.1.1/dist/jquery.min.js}"></script>
    </head>
    <body>
        <div th:replace="fragments/mobileFragment :: gnb"></div>
        <div id="mContents" class="container">
            <header>
                <a th:href="@{|${siteConfig.pathSite}/main|}"><div><h1><img src="/images/logo.png?456" style="width: 190px;margin-top: 0px;"></h1></div></a>
                <a id="btn-menu">MENU</a>
            </header>
            <div class="user-info">
                <div class="user-name">
                    <span th:replace="fragments/mobile :: level2(lv=${user.level})"></span>
                    <span class="user-id" th:text="${user.nickname}">함주나</span>님
                    <a th:href="@{|${siteConfig.pathSite}/customer/memo|}" class="memo-cnt"><em th:text="${tag.num(user.memo)}" id="user-memo">1</em></a>
                </div>
                <div class="user-point">
                    <span class="money"><em th:text="${tag.num(user.money)}" id="user-money">1,000,000</em>원</span>
                    <span class="point"><em th:text="${tag.num(user.point)}" id="user-point">1,000</em>점</span>
                    <a onclick="point.exchange();return false;" class="btn btn01">전환</a>
                </div>
            </div>
            <div layout:fragment="tab-menu" th:if="false" th:remove="tag"></div>
            <main layout:fragment="page"></main>
            <!--<div class="pc">
                <a class="btn-big" th:href="@{|${siteConfig.pathSite}/main?site_preference=normal|}">PC 버전</a>
            </div>-->
            <div id="cart-wrap" th:if="${main eq 'game' or main eq 'zone'}">
                <div class="cart-slip">
                    <footer>
                        베팅카트
                        <em ng-bind="cart.length"></em>
                        <a href="/site/betting" style="color:#fff;margin-left:100px">배팅내역</a>
                        <a id="btn-cart" style="float: right;">카트보기</a>
                    </footer>
                    <div class="cart-wrap ng-cloak" ng-cloak>
                        <div class="cart-item">
                            <div class="bonus" ng-if="bonus != null && bonus.odds > 1">
                                <p>{{bonus.folder}}폴더 이상 보너스 배당 <span> ({{bonus.odds}})</span></p>
                            </div>
                            <div ng-repeat="c in cart" ng-if="sports" ng-class="c.pos == 'home' ? 'bet_home' : (c.pos == 'draw' ? 'bet_draw' : 'bet_away')">
                                <p class="team">
                                    <img ng-src="/images/sports/{{c.game.sf}}"/>
                                    {{c.pos == 'home' ? (c.game.hn)+'  [승]' : (c.pos == 'draw' ? (c.game.hn)+'  [무]' : (c.game.an)+'  [승]')}}
                                </p>
                                <p class="odds">
                                    <span class="odd">
                                        {{c.pos == 'home' ? (c.game.oh | number : 2) : (c.pos == 'draw' ? (c.game.od | number : 2) : (c.game.oa | number : 2))}}
                                        <!--<span ng-if="c.game.gc != 'OVER_UNDER'">{{c.pos == 'home' ? ' (승)' : (c.pos == 'draw' ? ' (무)' : ' (패)')}}</span>-->
                                        <span ng-if="c.game.gc != 'OVER_UNDER' && c.game.gc != 'HANDICAP'">{{c.pos == 'home' ? '' : (c.pos == 'draw' ? '' : '')}}</span>
                                        <span style="color: #4e9d4e" ng-if="c.game.gc == 'HANDICAP' && c.pos == 'home'">[핸디]</span>
                                        <span style="color: #4e9d4e" ng-if="c.game.gc == 'HANDICAP' && c.pos == 'away'">[핸디]</span>
                                        <span style="color: #900009" ng-if="c.game.gc == 'OVER_UNDER' && c.pos == 'home'">[오버]</span>
                                        <span style="color: #000" ng-if="c.game.gc == 'OVER_UNDER' && c.pos == 'away'">[언더]</span>
                                    </span>
                                </p>
                                <a class="btn" ng-click="remove(c.id)">X</a>
                            </div>
                            <div ng-repeat="c in cart" ng-if="zone">
                                <p class="team">
                                    <img ng-src="{{flag}}"/>
                                    {{name}} [{{c.pos}}]
                                </p>
                                <p class="odds">
                                    X {{c.odds | number : 2}}배
                                </p>
                                <a class="btn" ng-click="remove()">X</a>
                            </div>
                            <div ng-repeat="c in cart" ng-if="soccer">
                                <p class="team">
                                    <img ng-src="/images/sports/축구.png"/>
                                    {{c.home}}
                                <p class="odds">
                                    {{c.code}}
                                    <span class="color01">
                                        X {{odds | number : 2}}배
                                        ({{c.pos}})
                                    </span>
                                </p>
                                <a class="btn" ng-click="remove();">X</a>
                            </div>
                            <div ng-repeat="c in cart" ng-if="dog">
                                <p class="team">
                                    <img ng-src="{{flag}}"/>
                                    {{c.betZone + 1}}. {{c.team[c.betZone]}}
                                <p class="odds">
                                    {{c.code}}
                                    <span class="color01">
                                        X {{odds | number : 2}}배
                                        ({{c.pos}})
                                    </span>
                                </p>
                                <a class="btn" ng-click="remove();">X</a>
                            </div>
                        </div>
                        <div class="cart-odds">
                            <p>보유머니 : <span><em th:text="${tag.num(user.money)}" style="color: #ffd700;"></em> 원</span></p>
                            <p>배당율 : <span><em>{{odds | number : 2}}</em> 배</span></p>
                            <p>적중금 : <span><em>{{parseFloat(odds * money) | number : 0}}</em> 원</span></p>
                            <p>베팅금 : <span><input type="text" ng-model="money" ng-change="checkMoney()"/> 원</span></p>
                        </div>
                        <div class="cart-amount">
                            <ul>
                                <li><a class="btn2" ng-click="addMoney(5000)">5,000</a></li>
                                <li><a class="btn2" ng-click="addMoney(10000)">10,000</a></li>
                                <!--<li><a class="btn2" ng-click="addMoney(30000)">30,000</a></li>-->
                                <li><a class="btn2" ng-click="addMoney(50000)">50,000</a></li>
                                <li><a class="btn2" ng-click="addMoney(100000)">100,000</a></li>
                                <!--<li><a class="btn2" ng-click="addMoney(300000)">300,000</a></li>-->
                                <li><a class="btn2" ng-click="addMoney(500000)">500,000</a></li>
                                <li><a class="btn2" ng-click="addBalMax()">잔액</a></li>
                                <li><a class="btn2" ng-click="addReset(5000)">삭제</a></li>
                                <li><a class="btn2" ng-click="addMax()">최대</a></li>
                            </ul>
                        </div>
                        <div class="cart-betting" ng-click="betting()">
                            <a class="btn-big btn04">베팅하기</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="cart-wrap" th:if="${main eq 'inGame'}">
                <div class="cart-slip">
                    <footer>
                        베팅카트
                        <em ng-bind="cart.length"></em>
                        <a href="/site/betting" style="color:#fff;margin-left:100px">배팅내역</a>
                        <a id="btn-cart" style="float: right;">카트보기</a>
                    </footer>
                    <div class="cart-wrap ng-cloak" ng-cloak>
                        <div class="cart-item">
                            <div class="bonus" ng-if="bonus != null && bonus.odds > 1">
                                <p>{{bonus.folder}}폴더 이상 보너스 배당 <span> ({{bonus.odds}})</span></p>
                            </div>
                            <div ng-repeat="c in cart">
                                <p class="team">
                                    {{c.game.gc}}
                                    <span ng-if="c.game.ah != 0">({{c.game.ah}})</span>
                                </p>
                                <p class="odds">
                                    <span class="color01">
                                        {{c.game.oh | number : 2}}
                                    </span>
                                    <span class="color04">
                                        ( {{c.pos == '1' ? 'Home' : c.pos == '2' ? 'Away' : c.pos == 'X' ? 'Draw' : c.pos }} )
                                    </span>
                                </p>
                                <a class="btn" ng-click="remove(c.id)">X</a>
                            </div>
                            <div ng-repeat="c in cart" ng-if="zone">
                                <p class="team">
                                    <img ng-src="{{flag}}"/>
                                    {{name}} [{{c.pos}}]
                                </p>
                                <p class="odds">
                                    X {{c.odds | number : 2}}배
                                </p>
                                <a class="btn" ng-click="remove()">X</a>
                            </div>
                            <div ng-repeat="c in cart" ng-if="soccer">
                                <p class="team">
                                    <img ng-src="/images/sports/축구.png"/>
                                    {{c.home}}
                                <p class="odds">
                                    {{c.code}}
                                    <span class="color01">
                                        X {{odds | number : 2}}배
                                        ({{c.pos}})
                                    </span>
                                </p>
                                <a class="btn" ng-click="remove();">X</a>
                            </div>
                            <div ng-repeat="c in cart" ng-if="dog">
                                <p class="team">
                                    <img ng-src="{{flag}}"/>
                                    {{c.betZone + 1}}. {{c.team[c.betZone]}}
                                <p class="odds">
                                    {{c.code}}
                                    <span class="color01">
                                        X {{odds | number : 2}}배
                                        ({{c.pos}})
                                    </span>
                                </p>
                                <a class="btn" ng-click="remove();">X</a>
                            </div>
                        </div>
                        <div class="cart-odds">
                            <p>보유머니 : <span><em th:text="${tag.num(user.money)}" style="color: #ffd700;"></em> 원</span></p>
                            <p>배당율 : <span><em>{{odds | number : 2}}</em> 배</span></p>
                            <p>적중금 : <span><em>{{parseFloat(odds * money) | number : 0}}</em> 원</span></p>
                            <p>베팅금 : <span><input type="text" ng-model="money" ng-change="checkMoney()"/> 원</span></p>
                        </div>
                        <div class="cart-amount">
                            <ul>
                                <li><a class="btn2" ng-click="addMoney(5000)">5,000</a></li>
                                <li><a class="btn2" ng-click="addMoney(10000)">10,000</a></li>
                                <!--<li><a class="btn2" ng-click="addMoney(30000)">30,000</a></li>-->
                                <li><a class="btn2" ng-click="addMoney(50000)">50,000</a></li>
                                <li><a class="btn2" ng-click="addMoney(100000)">100,000</a></li>
                                <!--<li><a class="btn2" ng-click="addMoney(300000)">300,000</a></li>-->
                                <li><a class="btn2" ng-click="addMoney(500000)">500,000</a></li>
                                <li><a class="btn2" ng-click="addBalMax()">잔액</a></li>
                                <li><a class="btn2" ng-click="addReset(5000)">삭제</a></li>
                                <li><a class="btn2" ng-click="addMax()">최대</a></li>
                            </ul>
                        </div>
                        <div class="cart-betting" ng-click="betting()">
                            <a class="btn-big btn04">베팅하기</a>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:if="${main ne 'game' and main ne 'zone'}">
                <!--© [[${siteConfig.since}]] <span th:text="${siteConfig.companyName}">Stella Solution.</span>-->
                <span>Copyright 2017 ⓒMOBIUS. All Rights Reserved.</span>
            </footer>
        </div>
        <a id="btn-top">TOP</a>
        <div th:replace="fragments/mobileFragment :: javascript"></div>
        <div layout:fragment="popup" th:if="false" th:remove="tag"></div>
        <script layout:fragment="script" th:if="false"></script>
    </body>
</html>