<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org" th:with="tag = ${T(spoon.support.web.CustomTag)}">
    <head th:replace="fragments/sellerFragment :: head">
        <meta charset="UTF-8"/>
        <title>Best of Stella</title>
        <link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.theme.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/style.admin.css}"/>
        <script th:src="@{/webjars/jquery/3.1.1/dist/jquery.min.js}"></script>
        <script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
    </head>
    <body>
        <div class="page-wrap" layout:fragment="page">
            <header>
                <h1 th:text="${user.role.name} + ' 페이지'">memuri1</h1>
                <nav>
                    <ul class="gnb seller">
                        <li th:if="${sysConfig.casino.enabled}" th:class="${gnb eq 'casino'} ? 'on'"><a th:href="@{|${siteConfig.pathSeller}/casino/list|}">LIVE카지노</a></li>
                        <li th:class="${gnb eq 'sale'} ? 'on'"><a th:href="@{|${siteConfig.pathSeller}/sale/daily|}">매출관리</a></li>
                        <li th:if="${user.agencyDepth < 7}" th:class="${gnb eq 'accounting'} ? 'on'"><a th:href="@{|${siteConfig.pathSeller}/accounting/share|}">정산 관리</a></li>
                        <li th:if="${user.agencyDepth == 7}" th:class="${gnb eq 'accounting'} ? 'on'"><a th:href="@{|${siteConfig.pathSeller}/accounting/current|}">정산 관리</a></li>
                        <li  th:if="${user.agencyDepth < 7}" th:class="${gnb eq 'agency'} ? 'on'"><a th:href="@{|${siteConfig.pathSeller}/agency/agencyMember|}">총판 관리</a></li>
                        <li  th:if="${user.agencyDepth == 7}" th:class="${gnb eq 'agency'} ? 'on'"><a th:href="@{|${siteConfig.pathSeller}/agency/member|}">회원 관리</a></li>
                        <li th:class="${gnb eq 'payment'} ? 'on'"><a th:href="@{|${siteConfig.pathSeller}/payment/withdraw|}">출금 관리</a></li>
                    </ul>
                    <a th:href="@{/logout}" class="btn">로그아웃</a>
                </nav>
            </header>
            <main>
                <div>
                    <aside class="side">
                        <div class="side-wrap">
                            <div class="side-scroll">
                                <div class="side-welcome">
                                    <span th:text="${user.userid}"></span>님 환영합니다.
                                    <br/><br/>
                                    보유 포인트 : <span class="color01" th:text="${tag.num(user.point)}"></span> P
                                    <br/><br/>
                                    <!--<div style="text-align: left;padding-left: 30px;">
                                        <div th:if="${user.agencyDepth == 0}">총판1 : <span th:text="${user.agency1}"></span></div>
                                        <div th:if="${user.agencyDepth == 1}" style="padding-top: 5px;">총판2 : <span th:text="${user.agency2}"></span></div>
                                        <div th:if="${user.agencyDepth == 2}" style="padding-top: 5px;">총판3 : <span th:text="${user.agency3}"></span></div>
                                        <div th:if="${user.agencyDepth == 3}" style="padding-top: 5px;">총판4 : <span th:text="${user.agency4}"></span></div>
                                        <div th:if="${user.agencyDepth == 4}" style="padding-top: 5px;">총판5 : <span th:text="${user.agency5}"></span></div>
                                        <div th:if="${user.agencyDepth == 5}" style="padding-top: 5px;">총판6 : <span th:text="${user.agency6}"></span></div>
                                        <div th:if="${user.agencyDepth == 6}" style="padding-top: 5px;">총판7 : <span th:text="${user.agency7}"></span></div>
                                    </div>-->
                                </div>
                                <ul class="lnb" th:replace="fragments/sellerFragment :: lnb"></ul>
                            </div>
                        </div>
                    </aside>
                </div>

                <div class="main-wrap">
                    <h2 layout:fragment="title">
                        <small>대메뉴 |</small>
                        <span>중메뉴</span>
                    </h2>
                    <div class="container" layout:fragment="content">
                        <section>
                            여기에 내용이 들어 갑니다.
                        </section>
                    </div>
                </div>
            </main>
            <footer>
                Copyright © [[${siteConfig.since}]] <span th:text="${siteConfig.companyName} + '.'">Stella Solution.</span> All Right Reserved.
                <div class="btn-top"><i class="fa fa-angle-up"></i></div>
            </footer>
        </div>
        <div id="flashMessage">
            <div th:text="${message}"></div>
        </div>
        <div th:replace="fragments/adminFragment :: javascript"></div>
        <script layout:fragment="script" th:if="false"></script>
    </body>
</html>