<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org" th:with="tag = ${T(spoon.support.web.CustomTag)}">
    <head th:replace="fragments/siteFragment :: head">
        <meta charset="UTF-8"/>
        <meta name="robots" content="noindex,nofollow">
        <meta name="ROBOTS" content="NONE">
        <meta name="GOOGLEBOT" content="NOARCHIVE">
        <title th:text="${siteConfig.companyName}">MOBIUS</title>
        <link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" href="/html/daybet/css/jquery.simplyscroll.css" media="all" type="text/css">
        <script type="text/javascript" src="/html/daybet/js/jquery.simplyscroll.js"></script>
        <script type="text/javascript">

            $(function() {
                $('.live-game').hover(function() {
                        $(this).find('.navi-menu-sub').stop(false, true).slideDown(150);
                    },
                    function() {
                        $(this).find('.navi-menu-sub').stop(false, true).slideUp(150);
                    });
            });

        </script>
        <script type="text/javascript">

            $(function() {
                $('.live-game').hover(function() {
                        $(this).find('.navi-menu-sub').stop(false, true).slideDown(150);
                    },
                    function() {
                        $(this).find('.navi-menu-sub').stop(false, true).slideUp(150);
                    });
            });

        </script>
        <style type="text/css">
            @import url("https://cdn.jsdelivr.net/font-notosans-kr/1.0.0-v1004/NotoSansKR-2350.css");
            @import url("https://cdn.jsdelivr.net/npm/typeface-nanum-square@1.1.0/nanumsquare.min.css");
            html {
                background: #10171e url(/html/daybet/images/bg-login.png?4) center bottom;
                background-attachment: fixed;
                height: 100%;
                background-size: cover;
            }
            body {
                padding: 0;
                font-size: 12px;
                margin-left: 0px;
                margin-top: 0px;
                margin-right: 0px;
                min-height: 800px;
                margin-bottom: 0px;
                width: 100%;
            }
            /* reset */
            body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
                margin: 0;
                padding: 0
            }
            fieldset, img {
                border: 0 none
            }
            dl, ul, ol, menu, li {
                list-style: none
            }
            blockquote, q {
                quotes: none
            }
            blockquote:before, blockquote:after, q:before, q:after {
                content: '';
                content: none
            }
            input, select, textarea, button {
                vertical-align: middle
            }
            button {
                border: 0 none;
                background-color: transparent;
                cursor: pointer
            }
            body, th, td, input, select, textarea, button {
                font-size: 12px;
                color: #eee
            }
            a {
                color: #eee;
                text-decoration: none
            }
            a:active, a:hover {
                text-decoration: none;
            }
            address, caption, cite, code, dfn, em, var {
                font-style: normal;
                font-weight: normal
            }
            .clear {
                clear: both;
                width: 100%;
                margin: 0;
                padding: 0;
            }
            a {
                transition: 0.2s;
            }
            .header {
                width: 100%;
                margin: 0 auto;
            }
            .sub_content_arr {
                padding: 10px;
                z-index: 151;
                min-height: 580px;
                width: 1138px;
                margin: 0 auto;
                margin-top: 10px;
                position: relative;
                background: rgba(14,30,49,0.8);
                border: solid 1px #000;
                box-shadow: 0 5px 5px rgba(0,0,0,0.3);
            }
            .sub_content_left {

                z-index: 151;
                width: 869px;
                float: left;
                position: relative;
                padding-bottom: 50px;
                min-height: 580px;

                overflow: hidden;
            }
            .sub_content_right {
                margin: 0;
                padding: 0;
            }
            .logo_top {
                position: absolute;
                left: 50%;
                top: 60px;
                margin-left: -180px;
                display: block;
                z-index: 99999;

            }

            .main_navigation_arr {
                height: 50px;
                background: rgba(23,45,62,0.8);
                border-top: solid 1px #000;
                border-bottom: solid 1px #000;
                width: 100%;
                position: relative;
                position: absolute;
                top: 180px;
                left: 0px;
            }
            .main_navigation {

                position: absolute;
                left: 0;
                top: 130px;
                text-align: center;
                width: 1160px;
                transition: 0.5s;
            }
            .main_navigation li {
                font-family: NotoSansKR !important;
                width: 8.33%;
                float: left;
                margin: 0px;
            }
            .main_navigation li a {
                display: block !important;
                color: #fff;
                font-size: 16px;
                font-weight: 600;
                margin-top: 0px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                text-shadow: 0 1px 3px rgba(0,0,0,0.9);
            }
            .main_navigation li a span {
                display: block;
                font-weight: 200;
                font-size: 10px;
                color: rgba(255,255,255,0.7);
                line-height: 10px;
            }
            .main_navigation li a:hover {
                color: #ffc600;
                text-shadow: 0 -1px 0px rgba(0,0,0,0.6);
                box-shadow: inset 0 0px 50px rgba(0,0,0,0.8);
            }
            .main_navigation li a:hover span {
                color: #ffc600;
            }
            .main_navigation li:last-child {
                background: none;
            }
            .main_navigation li:last-child a {
                margin-right: 0px;
            }
            .main_navigation li:first-child a {
                margin-left: 0px;
            }
            .main_navigation .r-margin {
                margin-right: 127px;
                background: none;
            }
            .top-navegation01 {
                width: 1160px;
                margin: 0 auto;
                height: 50px;
                overflow: hidden;
                text-align: center;

            }
            .top-navegation01 li {
                display: inline-block;
                text-align: center;
                padding: 0 0px;
            }
            .top-navegation01 li a {
                background: none;
                padding:0  11px;
                font-size: 14px;
                height: 52px;
                line-height: 52px;
                display: block;
                font-family: Nanum Square !important;
                font-weight: 600;
                color: #ffcc00;
            }
            .top-navegation01 li a:hover {
                color: #ffc600;
                opacity: 0.5;
            }
            .ico64 a {
                background: url("/html/daybet/images/icon-ironball.png") no-repeat left;
            }
            .ico6 a {
                background: url("/html/daybet/images/icon-ladder.png") no-repeat left;
            }
            .ico7 a {
                background: url("/html/daybet/images/icon-snail.png") no-repeat left;
            }
            .ico8 a {
                background: url("/html/daybet/images/icon-lowhigh.png") no-repeat left;
            }
            .ico11 a {
                background: url("/html/daybet/images/icon-lowhigh.png") no-repeat left;
            }
            .ico9 a {
                background: url("/html/daybet/images/icon-powerball.png") no-repeat left;
            }
            .ico10 a {
                background: url("/html/daybet/images/icon-aladdin.png") no-repeat left;
            }
            .ico12 a {
                background: url("/html/daybet/images/icon-aladdin.png") no-repeat left;
            }
            .ico13 a {
                background: url("/html/daybet/images/icon-soccer.png") no-repeat left;
            }
            .ico14 a {
                background: url("/html/daybet/images/icon-dog.png") no-repeat left;
            }
            .ico15 a {
                background: url("/html/daybet/images/icon-dari.png") no-repeat left;
            }
            .ico61 a {
                background: url("/html/daybet/images/icon-parao.png") no-repeat left;
            }
            .ico62 a {
                background: url("/html/daybet/images/icon-powerladder.png") no-repeat left;
            }
            .ico77 a {
                background: url("/html/daybet/images/icon-rult.png") no-repeat left;
            }
            .ico66 a {
                background: url("/html/daybet/images/icon-choice.png") no-repeat left;
            }
            .ico52 a {
                background: url("/html/daybet/images/icon-mgmo.png") no-repeat left;
            }
            .ico78 a {
                background: url("/html/daybet/images/icon-mgmb.png") no-repeat left;
            }
            .top-sub-navi {
                position: absolute;
                right: 0;
                top: 40px;
                border-radius: 0 5px 5px 0;
            }
            .top-sub-navi li {
                float: left;
            }
            .top-sub-navi li:last-child {
                background: none;
            }
            .top-sub-navi li a {
                font-family: NotoSansKR !important;
                font-weight: 600;
                color: #fff;
                font-size: 15px;
                height: 40px;
                line-height: 40px;
                padding: 0 10px;
                display: block;
                text-align: center;
                margin-right: 2px;
                text-shadow: 0 1px 3px rgba(0,0,0,0.9);
                border-radius: 100px;
            }
            .top-sub-navi li a:hover {
                color: #ffc600;
                background-position: 0 -48px;
                text-shadow: 0 -1px 0px rgba(0,0,0,0.6);
            }
            .top-sub-navi .cash-01 a {
                color: #ff5d74
            }
            .top-sub-navi .cash-02 a {
                color: #52d6ff
            }
            .top-sub-navi i {
                font-size: 20px;
                vertical-align: middle;
            }
            .noticeText {
                position: absolute;
                left: 0px;
                top: 145px;
                background: rgba(0,0,0,0.5);
                border: solid 1px #000;
                width: 1158px;
                overflow: hidden;
                height: 40px;
                z-index: 9;
            }
            .noticeText i {
                font-size: 15px;
                color: #eee;
                position: absolute;
                top: 13px;
                left: 10px;
            }
            .noticeText marquee {
                font-size: 12px;
                font-family: dotum;
                position: absolute;
                top: 15px;
                left: 35px;
            }
            .clear {
                clear: both;
                width: 100%;
                margin: 0;
                padding: 0;
            }
            .level_icon img {
                vertical-align: middle;
                margin-top: -2px;
            }
            .bg_top_arr { /* background:url(/html/daybet/images/bg_top_arr.png?4); height:34px; border-bottom:solid 1px #000;*/
                top: 0;
                left: 0;
                z-index: 9999;
                width: 100%;
            }
            .user-info-arr {
                z-index: 9;
                width: 1160px;
                margin: 0 auto;
                position: relative;
                border-top: none;
            }
            .user-info {
                font-size: 12px;
                font-family: dotum;
                left: 0px;
                top: 5px;
                position: absolute;
                height: 35px;
            }
            .user-info li {
                color: #ccc;
                float: left;
                padding: 0 10px;
                line-height: 35px;
            }
            .user-info li:last-child {
                border-right: none;
            }
            .user-info a {
                color: #ccc;
            }
            .user-info li a:hover {
                color: #ffc600;
            }
            .user-info .level_icon img {
                vertical-align: middle;
            }
            .user-info .mb_point strong {
                color: #ff9241;
            }
            .user-info .mb_coin strong {
                color: #ffcc00;
            }
            .user-info .PointChange strong {
                color: #59BEFF;
            }
            .user-info01 {
                font-size: 12px;
                font-family: dotum;
                right: 0;
                top: 5px;
                position: absolute;
                height: 35px;
            }
            .user-info01 li {
                color: #ccc;
                float: left;
                padding: 0 10px;
                line-height: 35px;
            }
            .user-info01 li:last-child {
                border-left: none;
                background: none;
            }
            .user-info01 a {
                color: #ccc;
            }
            .user-info01 li a:hover {
                color: #ffc600;
            }
            .level_icon img {
                vertical-align: middle;
                margin-top: -2px;
                width: 25px !important;
            }
            .user-info01 .mb_point strong {
                color: #ff9241;
            }
            .user-info01 .PointChange strong {
                color: #59BEFF;
            }
            .topth th {
                height: 35px;
                font-weight: 300px;
                font-family: dotum;
                text-shadow: 0 0 1px #000;
                color: #ccc;
                box-shadow: 0 2px 3px rgba(0,0,0,0.3);
                border-top: solid 1px #fdd040;
                border-right: solid 1px rgba(0,0,0,0.55);
                border-left: solid 1px rgba(255,255,255,0.16);
                border-bottom: solid 1px #000;
                background: #08121d;
                background: -moz-linear-gradient(top, #08121d 0%, #1c3856 100%);
                background: -webkit-linear-gradient(top, #08121d 0%, #1c3856 100%);
                background: linear-gradient(to bottom, #08121d 0%, #1c3856 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08121d', endColorstr='#1c3856', GradientType=0 );
            }
            .topth th:first-child {
                border-left: solid 1px #333;
            }
            .topth th:last-child {
                border-right: solid 1px #333;
            }
            .result_menu {
                padding: 0px 0;
                display: inline-block;

            }
            .result_menu:after {content:""; display:block; clear:both;}
            .result_menu li {
                float: left;
                display: inline-block;
                margin-bottom: 15px;
            }
            .result_menu li span {
                color: #333 !important;
                padding: 0 5px 0 10px;
                display: inline-block;
            }
            .result_menu li a {
                box-shadow: inset 0 1px 0px 0 rgba(255,255,255,0.3);
                font-family: dotum;
                font-weight: bold;
                text-align: center;
                width: 68px;
                height: 28px;
                line-height: 28px;
                display: block;
                color: #fff;
                font-size: 12px;
                display: inline-block;
                text-shadow: 0 1px 0px rgba(0,0,0,0.6);
                border: solid 1px #000;
                background: #65902d;
                background: -moz-linear-gradient(top, #65902d 0%, #45641b 100%);
                background: -webkit-linear-gradient(top, #65902d 0%, #45641b 100%);
                background: linear-gradient(to bottom, #65902d 0%, #45641b 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65902d', endColorstr='#45641b', GradientType=0 );
            }
            .result_menu li a:hover {
                box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3);
                color: #ffc600;
                border: solid 1px #ffc600;
                background: #45641b;
                background: -moz-linear-gradient(top, #45641b 0%, #65902d 100%);
                background: -webkit-linear-gradient(top, #45641b 0%, #65902d 100%);
                background: linear-gradient(to bottom, #45641b 0%, #65902d 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45641b', endColorstr='#65902d', GradientType=0 );
            }
            .betting_info_table {
                background: rgba(0,0,0,0.20);
            }
            .cont_back_arr01 {
                position: relative;
            }
            .memo_view01 {
                width: 100%;
                border: 1px solid #999999;
                border-radius: 6px;
            }
            .memo_view02 {
                background-color: #ddd;
            }
            .memo_view03 {
                background: #FFFFFF;
                padding: 20px 20px 40px 20px;
                line-height: 20px;
                min-height: 300px;
                color: #333;
            }
            .member-info-table001 {
                border: solid 1px #000;
                background: rgba(100,100,100,0.2);
            }
            .member-info-table001 td {
                border-bottom: solid 1px #000;
                padding: 10px;
            }
            .member-info-table001 .titletext {
                background: rgba(0,0,0,0.4);
                text-align: right;
            }
            #sub-content {
                font-family: dotum;
            }
            .navi-menu-sub {
                position: absolute;
                z-index: 99999;
                left: 0px;
                top: 48px;
                background: #000;
                width: 100%;
                border-radius: 5px;
                overflow: hidden;
                box-shadow: 0 5px 5px rgba(0,0,0,0.52);
            }
            .navi-menu-sub li {
                width: 100%;
                margin: 0;
                padding: 0;
                float: left;
                background: none;
                width: 145px;
            }
            .navi-menu-sub li a {
                display: block;
                text-align: center;
                height: 138px;
                padding: 0;
                margin: 0;
            }
            .navi-menu-sub li a:hover {
                opacity: 0.7;
            }
            .noSelected {
                transition: 0.2s;
                font-family: dotum;
                font-weight: bold;
                vertical-align: middle;
                font-size: 12px !important;
                font-family: dotum;
                color: #ddd !important;
                height: 36px;
                padding: 0 10px;
                border: solid 1px #000;
                font-weight: bold;
                box-shadow: 0 3px 2px rgba(0,0,0,0.3);
                background: url(/html/daybet/images/bg-betting-btn.png?5);
            }
            .noSelected table td {
                color: #ddd !important;
                font-weight: bold !important;
            }
            .noSelected span {
                color: #ddd !important;
                font-weight: bold !important;
            }
            .noSelected .divd {
                color: #ccc !important;
            }
            .noSelected i {
                font-size: 16px;
            }
            .noChoice {
                font-weight: bold;
                vertical-align: middle;
                background: #1b1b1b;
                color: #000;
                border-botom: #111111 1px solid;
                border-left: #595959 1px solid;
                border-top: #595959 1px solid;
                border-right: #111111 1px solid;
                font-weight: bold;
            }
            .noChoice table {
                color: #fff;
            }
            .Choice {
                transition: 0.2s;
                font-weight: bold;
                vertical-align: middle;
                color: #000;
                font-weight: bold;
                border: solid 1px #ffaf00;
                background: url(/html/daybet/images/bg-betting-btn.png?5);
                background-position: 0 -36px;
            }
            .Choice table {
                color: #fff;
            }
            .Selected {
                padding: 0 10px;
                transition: 0.2s;
                box-shadow: 0 3px 2px rgba(0,0,0,0.3);
                font-weight: bold;
                font-family: dotum;
                vertical-align: middle;
                color: #000;
                text-shadow: none;
                font-weight: bold;
                border: solid 1px #000;
                background: url(/html/daybet/images/bg-betting-btn.png?5);
                background-position: 0 -72px;
                text-shadow: none;
            }
            .Selected table td {
                color: #000 !important;
            }
            .Selected .divd {
                color: #000 !important;
            }
            .Selected span {
                font-weight: bold;
                color: #000 !important;
            }
            .Selected2 {
                padding: 0 10px;
                font-weight: bold;
                font-family: dotum;
                height: 25px;
                vertical-align: middle;
                color: #000;
                text-shadow: none;
                font-weight: bold;
                border: solid 1px #000;
                background: url(/html/daybet/images/bg-betting-btn.png?5);
                background-position: 0 -72px;
                text-shadow: none;
                box-shadow: 0 3px 2px rgba(0,0,0,0.3);
            }
            .Selected2 table td {
                color: #000 !important;
            }
            .Selected2 span {
                color: #000 !important;
            }
            .table_top_bg {
                background: none !important;
            }
            .bt_stime {
                color: #5BA21B;
                font-size: 11px;
            }
            .cash_notice_zone li {
                font-family: dotum;
            }
            #bett_lists table td {
                font-family: dotum;
                padding: 5px;
                text-align: center;
            }
            .subTitle_arr, .subTitle_freeboard, .subTitle_event, .subTitle_customerssss, .subTitle_game1, .subTitle_game2, .subTitle_game3, .subTitle_game4, .subTitle_game5, .subTitle_game6, .subTitle_game7, .subTitle_game8, .subTitle_game9, .subTitle_game10, .subTitle_game11, .subTitle_game12, .subTitle_game13, .subTitle_game14, .subTitle_game15, .subTitle_customer {
                height: 60px;
            }
            h2 {
                font-size: 20px;
                font-weight: 700;
                color: #ffc600;
                padding: 0px 0 0px 20px;
                height: 50px;
                line-height: 50px;
                text-shadow: 0 2px 0 rgba(0,0,0,0.63);
                margin: 0;
                font-family: NotoSansKR !important;
                position: absolute;
                top: 0;
                left: 0;
                width: 1160px;
                border-top: solid 1px rgba(255,255,255,0.30);
                border-bottom: solid 1px #000;
                width: 1138px;
                background: rgba(23,45,62,0.8);
            }
            small {
                font-weight: 300;
                color: rgba(255,255,255,0.5);
            }
            #divMenu {
                z-index: 150;
                left:left:expression( 1010 + (document.body.clientwidth-1010)/2 );
                top: 0px;
                right: 10px;
                visibility: visible;
                width: 260px;
                margin-top: 115px;
                position: absolute;
            }
            #divMenu iframe {
                position: absolute;
                top: -73px;
                left: 12px;
            }
            #divMenu label {
                cursor: pointer;
            }
            .b-kakao-talk {
                position: relative;
                background: url(/html/daybet/images/banner-kakao.png?4);
                height: 75px;
                display: block;
            }
            .b-kakao-talk span {
                position: absolute;
                color: #ffd200;
                font-size: 18px;
                font-family: Arial Black;
                right: 10px;
                bottom: 10px;
            }
            .popupCalendar {
                z-index: 99999999999999;
            }
            .betting-list-body td {
                border-bottom: solid 1px rgba(0,0,0,1);
                border-top: solid 1px rgba(255,255,255,0.1);
                background: rgba(0,0,0,0.20);
                font-size: 11px;
            }
            .betting-list-body {
                border-top: solid 1px rgba(255,255,255,0.2);
            }
            .trEndGame3 td {
                background: #000;
                opacity: 0.8;
            }
            .trEndGame3 td {
                color: #808080 !important;
            }
            .btnCancel, .btnDelete {
                background: #DC0003;
                color: #fff;
                border-radius: 3px;
                height: 25px !important;
                padding: 0 10px;
                border: none;
                cursor: pointer;
                box-shadow: 0 2px 3px rgba(0,0,0,0.3);
            }
            .btnCancel:hover, .btnDelete:hover {
                opacity: 0.8;
            }
            .league, .leagueT {
                color: #ffcc29;
                font-weight: bold;
                padding: 0 10px;
            }
            .betting-list {
                background: rgba(0,0,0,0.21);
            }
            .betting-result .title {
                background: rgba(0,0,0,0.4);
                font-weight: bold;
                text-align: center;
            }
            .betting-result td {
                color: #fff;
            }
            input[type='text'], input[type='password'], select {
                border: solid 1px #000;
                box-shadow: inset 0 3px 5px rgba(0,0,0,0.4);
                background: #2d333b;
                color: #fff;
                font-size: 12px;
                padding: 2px 5px;
                line-height: 30px;
                height: 30px;
                transition: 0.2s;
                vertical-align: middle;
            }
            textarea {
                border: solid 1px #000;
                box-shadow: inset 0 3px 5px rgba(0,0,0,0.4);
                background: #2d333b;
                color: #fff;
                font-size: 12px;
                padding: 2px 5px;
                transition: 0.2s;
            }
            textarea:focus {
                outline: none;
                border: solid 1px #ffc600;
                color: #fff;
            }
            select {
                height: 32px;
                line-height: 32px;
            }
            input[type='text']:focus, input[type='password']:focus, select:focus, textarea:focus {
                outline: none;
                border: solid 1px #ffc600;
                color: #fff;
            }
            /*페이지네이션*/
            .tf_pagination {
                padding: 1em 0;
                text-align: center;
                display: block;
            }
            .tf_pagination ul {
                margin: 0;
                padding: 0;
                margin: 0 auto;
                display: inline-block;
                text-align: center;
            }
            .tf_pagination ul li {
                list-style: none;
                margin: 0 !important;
                display: inline-block;
                vertical-align: middle;
                text-align: center;
            }
            .tf_pagination ul li a {
                cursor: pointer;
                margin-bottom: 5px;
                border-radius: 0px;
                display: block;
                color: #d3d4d5;
                width: 30px;
                height: 30px;
                line-height: 30px;
                background: url(/html/daybet/images/bg-pager.png?7);
                box-shadow: 0 3px 2px rgba(0,0,0,0.3);
                border: solid 1px #000;
                margin-right: 5px;
            }
            .tf_pagination ul li a .fa {
                margin-top: 10px;
            }
            .tf_pagination ul li a:hover {
                color: #ffc600;
                background-position: 0 -30px;
                border: solid 1px #ffc600;
                box-shadow: inset 0 0px 10px rgba(0,0,0,0.64);
            }
            .tf_pagination .active {
                color: #ffc600;
                text-shadow: 0 1px 0 #000;
                border: solid 1px #ffc600;
                background-position: 0 -30px;
                box-shadow: inset 0 0px 10px rgba(0,0,0,0.64);
            }
            .betting-list .title {
                height: 30px;
            }
            /*충전 환전*/
            .cash_btn01 a {
                background-position: 0 -36px;
            }
            .cash_notice_zone {
                margin-bottom: 15px;
                overflow: hidden;
                width: 100%;
                border: solid 1px #000;
                background: rgba(100,100,100,0.1);
            }
            .cash_notice_zone .title {
                border-bottom: 1px #000;
                text-align: left;
                font-size: 14px;
                padding: 15px 0 12px 0;
                font-family: NanumGothic, Malgun Gothic, sans-serif;
                color: #fff;
                font-weight: 800;
                text-shadow: 1px 1px #000;
                background: rgba(0,0,0,0.2);
                padding-left: 15px;
                border-bottom: solid 1px #000;
            }
            .cash_notice_zone ul {
                padding: 15px 20px;
                ba
            }
            .cash_notice_zone li {
                color: #c1c3c2;
                margin-bottom: 10px;
            }
            .cash_zone_table {
                border: solid 1px #000;
                background: rgba(100,100,100,0.1);
            }
            .cash_zone_table td {
                border-bottom: 1px solid #000;
            }
            .cash_bottom_btn {
                padding: 20px;
                text-align: center;
            }
            .cash_bottom_btn button {
                display: inline-block;
            }
            .bbs-list-cash td {
                background: rgba(0,0,0,0.20);
                border-bottom: solid 1px #000;
                border-top: 1px solid rgba(255,255,255,0.14);
                text-align: center;
                font-size: 12px;
                padding: 9px 0 7px 7px;
                font-family: Dotum, AppleGothic, sans-serif;
                color: #fff;
                text-shadow: 1px 1px #000;
                vertical-align: middle;
                height: 20px;
            }
            /*게시판*/
            .search_zone_arr {
                padding: 20px;
                text-align: center;
                vertical-align: middle;
            }
            .paging_list {
                padding: 10px;
                text-align: center !important;
            }
            .list_bottom_btn_left {
                float: left;
                padding: 20px 10px;
            }
            .list_bottom_btn_right {
                float: right;
                padding: 20px 10px;
            }
            #speedpage {
                margin: 0 auto;
            }
            #lists td {
                border-bottom: solid 1px #000;
                border-top: 1px solid rgba(255,255,255,0.14);
                background: rgba(0,0,0,0.2);
            }
            .notice td {
                border-bottom: solid 1px #000;
                border-top: 1px solid rgba(255,255,255,0.14);
                background: rgba(100,100,100,0.1);
            }
            .bbs-list td {
                font-family: dotum;
            }
            .bbs-list .notice a {
                color: #E40003 !important;
            }
            .bbs-list .notice .hit {
                color: #0079DC;
            }
            .bbs-list .notice .writer {
                color: #36B822;
            }
            .font_11_yellow {
                display: block;
                margin-top: 5px;
            }
            .board_wirte_bottom {
                padding: 20px 0;
                text-align: center;
            }
            .bg_gray01 {
                background: rgba(0,0,0,0.2) !important;
                color: #fff;
            }
            .bbs-list-new {
                border-top: solid 1px #000;
                background: rgba(100,100,100,0.1);
            }
            .bbs-list-new td {
                border-bottom: solid 1px #000;
                border-top: 1px solid rgba(255,255,255,0.14);
            }
            #betting_list .bbs-list-new td {
                border: none !important;
            }
            .board_title {
                padding: 10px;
                font-weight: bold;
                font-size: 16px;
                background-color: rgba(0,0,0,0.40);
                text-align: left;
                font-size: 14px;
                padding: 15px 0 12px 30px;
                font-family: NanumGothic, Malgun Gothic, sans-serif;
                color: #fff;
                font-weight: 800;
            }
            .board_user {
                padding: 10px;
                border-bottom: none !important;
                background-color: rgba(0,0,0,0.20);
                border-bottom: 1px dotted #000;
                border-top: 1px dotted #000;
                font-size: 12px;
                padding: 10px 25px 8px 25px;
                font-family: Dotum, AppleGothic, sans-serif;
                color: #eee;
                letter-spacing: -1px;
                vertical-align: middle;
            }
            .board_user span {
                font-weight: bold;
                margin-left: 20px;
            }
            .board_date {
                float: right;
            }
            .board_content {
                line-height: 18px;
                color: #fff;
                padding: 20px 10px;
                font-family: dotum;
            }
            .board_comment_title {
                padding: 10px;
                font-weight: bold;
                font-size: 16px;
                background: rgba(0,0,0,0.3);
                color: #fff;
            }
            .board_bottom_btn {
                padding: 20px 0;
                border-top: dotted 1px rgba(255,255,255,0.25);
                text-align: center;
            }
            #comment_content {
                margin: 10px 0;
            }
            .baord_list_comment01 td {
                background: rgba(0,0,0,0.30);
                color: #fff;
                border: solid 1px #000;
            ;
                padding: 8px 10px;
            }
            #betting_list {
                margin-bottom: 10px;
            }
            .alert_container {
                width: 500px;
                margin: 0 auto;
                position: absolute;
            }
            /*게임존*/

            .game_zone_arr {
                width: 300px;
                float: right;
            }
            .game_zone {
                position: relative;
            }
            .game_zone .btn-zone-arr {
                text-align: center;
                background: rgba(0,0,0,0.2);
                border: solid 1px #000;
                margin-top: 5px;
                padding: 5px;
                vertical-align: text-top;
            }
            .game_time {
                text-align: center;
                font-family: dotum;
                background: rgba(100,100,100,0.2);
                border: solid 1px #000;
                padding: 10px;
                box-shadow: inset 0 0px 5px 0 rgba(0,0,0,0.36);
                vertical-align: text-top;
            }
            .game_time h4 {
                color: #ffc600;
                font-size: 12px;
                display: block;
                margin: 0;
                display: inline-block;
            }
            .game_time em {
                font-style: normal;
                color: #fff;
                display: block;
                display: inline-block;
            }
            .game_time p {
                color: #ffc428;
                font-size: 18px;
                font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
                display: block;
                margin: 0;
                display: inline-block;
            }
            #game_end_time {
                display: none;
            }
            .betting_lock {
                padding: 0;
                margin: 0;
            }
            .game_zone h3 {
                margin: 0;
                padding: 0;
                margin-bottom: 5px;
                font-size: 12px;
                background: rgba(100,100,100,0.2);
                color: #ffc600;
                height: 20px;
                line-height: 20px;
                border-radius: 5px;
            }
            .game_zone #team_name {
                font-size: 0px !important;
                font-weight: bold;
            }
            .gamezone-bet-result {
                margin-top: 10px;
            }
            .text-warning {
                color: #FF9E00;
            }
            .text-info {
                color: #00C3FF;
            }
            .text-danger {
                color: #FF3E41;
            }
            .user-info-arr1 {
                height: 40px;
                background: rgba(23,45,62,0.8);
                border-bottom: solid 1px #000;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 9999;
            }
            .w1160 {
                margin: 0 auto;
                width: 1160px;
                position: relative
            }
            .hader_top_arr {
                margin: 0 auto;
                position: fixed;
                left: 0;
                right: 0;
                background: #0e1e31;
                background-size: cover;
                height: 232px;
                box-shadow: 0 5px 5px rgba(0,0,0,0.3);
            }
            .top-navegation01, .main_navigation_arr, .hader_top_arr {
                transition: 0.2s;
            }
            .logo_top {
                width: 360px;
                text-align: center;
            }
            .logo_top img {
                transition: 0.2s;
                width: 260px;
            }
            .sub_content_arr_bg {
                padding-top: 230px;
            }
            .sco-top .hader_top_arr {
                position: fixed;
                z-index: 9999;
                right: 0;
                left: 0;
                height: 130px;
                background: #1c3856;
            }
            .sco-top .logo_top {
                top: 6px;
                width: 120px;
                margin-left: -60px;
            }
            .sco-top .logo_top img {
                width: 120px;
                transition: 0.2s;
            }
            .sco-top .main_navigation {
                top: 42px;
                height: 38px;
            }
            .sco-top .main_navigation li a {

                height: 38px;
                line-height: 38px;
            }
            .sco-top .main_navigation_arr {
                z-index: 9999;
                position: fixed;
                top: 80px;
            }
            #footer {
                width: 1160px;
                margin: 0 auto;
            }
            .alert_container {
                width: 500px;
                margin: 0 auto;
                position: absolute;
            }
            #alert_container { position: absolute; width: 20%; left: 40%; top: 30%; z-index: 9999; background: #314962; border: solid 1px #000; border-radius: 5px; padding: 30px 0; text-align: center; line-height: 22px; box-shadow: 0 0 10px #000; }
            #alert_container input { border: solid 1px #000; border-radius: 4px; color: #fff !important; background: #222; padding: 5px 0px; width: 60px !important; display: block; margin: 20px auto 0 auto; cursor: pointer; }
            .main_navigation .cash01 { color: #ff9241;}
            .main_navigation .cash02 { color: #7bdbff;}
            #answer:after {content:""; display:block; clear:both;}
            #answer li{ width: 100px; text-align: center; height: 50px;line-height: 50px; float: left; background: rgba(0,0,0,0.5); border: solid 1px #000;}
            #answer li input { height: 20px; width: 20px; margin-right: 3px;}
            span#answer{ text-align: center; height: 50px; line-height: 50px; font-size: 16px; background: rgba(0,0,0,0.5); display: block; color:#ff656f; }

            .betting_lock { padding: 0; margin: 0; }
            .betting_lock p { position: absolute; top: 0; left: 0px; right: 0; bottom: 0; background: rgba(0,0,0,0.7); z-index: 1; margin: 0; }
            .betting_lock .fa { margin: 0 auto; font-size: 120px; color: #ffcb00; position: absolute; left: 50%; margin-left: -35px; top:50%; margin-top: -35px; z-index: 2; }
            #popup-zone { z-index: 9999999;}
        </style>
        <script>
            $(document).ready(function(){
                $(window).scroll(function() {
                    if ($(document).scrollTop() > 10) {
                        $("body").addClass("sco-top");
                    } else {
                        $("body").removeClass("sco-top");
                    }
                });
            });
        </script>
    </head>
    <body>
        <div id="milliseconds" style="display: none" th:text="${user.milliseconds}"></div>
        <header>
            <!--<section class="info">-->
            <!--<div class="container">-->
            <!--<span th:replace="fragments/site :: level(lv=${user.level})"></span>-->
            <!--<span class="userid" th:text="${user.nickname}">함주나</span><span>님 환영합니다.</span>-->
            <!--<a href="/logout" class="logout">로그아웃</a>-->
            <!--<a th:href="@{|${siteConfig.pathSite}/customer/qna|}" class="qna">고객센터 <em th:text="${tag.num(user.qna)}" id="user-qna">1</em>건</a>-->
            <!--<a th:href="@{|${siteConfig.pathSite}/customer/memo|}" class="memo">메시지함 <em th:text="${tag.num(user.memo)}" id="user-memo">1</em>건</a>-->
            <!--<div class="right">-->
            <!--<span class="money">보유머니 <em th:text="${tag.num(user.money)}" id="user-money">1,000,000</em>원</span>-->
            <!--<span class="point">포인트 <em th:text="${tag.num(user.point)}" id="user-point">1,000</em>점</span>-->
            <!--<a href="#" onclick="point.exchange();return false;" class="exchange">포인트 전환</a>-->
            <!--<a th:href="@{|${siteConfig.pathSite}/recommender|}" class="exchange">추천인 현황</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--</section>-->
            <nav>
                <div class="container">

                    <div class="nav">
                        <ul th:replace="fragments/siteFragment :: gnb" class="main_navigation">

                        </ul>
                    </div>
                </div>
            </nav>
            <section class="gnb">
                <div class="container">
                    <div class="rolling-img"><img src="/images/notice_icon.png"></div>
                    <div id="rolling-wrap">
                        <p id="rolling" th:utext="${tag.color(rolling)}">이곳에 뉴스가 들어갑니다. 뉴스가 들어갑니다. 뉴스가 들어갑니다.</p>
                    </div>
                </div>
            </section>

        </header>
        <main layout:fragment="main" class="page">
            <ul layout:fragment="left-league"></ul>
            <div class="container">
                <section layout:fragment="section"></section>
                <aside th:if="${main eq 'page'  && gnb ne 'liveCasino'}">
                    <div id="clock"></div>
                    <!--<a th:href="@{|${siteConfig.pathSite}/payment/deposit|}"><img src="/images/aside01.png" style="margin-top: 4px;cursor: pointer"/></a>-->
                    <!--<a th:href="|${siteConfig.pathSite}/event/lotto|"><img src="/images/lottery2.png" style="margin-top: 6px;"/></a>
                    <img src="/images/wechat.png" style="margin-top: 6px;"/>-->
                </aside>
                <aside class="fixed" th:if="${main eq 'inGame'}">
                    <div id="clock"></div>
                    <div class="cart-wrap ng-cloak" ng-cloak>
                        <div class="cart-top">
                            베팅카트
                            <label>
                                고정
                                <input type="checkbox" id="cart-fix" checked="checked" />
                            </label>
                        </div>
                        <div class="cart-odds">
                            <p>보유머니 : <span><em th:text="${tag.num(user.money)}" style="color: #ff9241;font-weight: bold"></em> 원</span></p>
                            <p>배당율 : <span><em>{{odds | number : 2}}</em> 배</span></p>
                            <p>적중금 : <span><em>{{parseFloat(odds * money) | number : 0}}</em> 원</span></p>
                            <p>베팅금 : <span><input type="text" ng-model="money" ng-change="checkMoney()"/> 원</span></p>
                        </div>
                        <div class="cart-amount">
                            <ul>
                                <li><a class="crtBtn" ng-click="addMoney(5000)">5,000</a></li>
                                <li><a class="crtBtn" ng-click="addMoney(10000)">10,000</a></li>
                                <!--<li><a class="crtBtn" ng-click="addMoney(30000)">30,000</a></li>-->
                                <li><a class="crtBtn" ng-click="addMoney(50000)">50,000</a></li>
                                <li><a class="crtBtn" ng-click="addMoney(100000)">100,000</a></li>
                                <!--<li><a class="crtBtn" ng-click="addMoney(300000)">300,000</a></li>-->
                                <li><a class="crtBtn" ng-click="addMoney(500000)">500,000</a></li>
                                <li><a class="crtBtn" ng-click="addMoney(1000000)">1,000,000</a></li>
                                <li><a class="crtBtn" ng-click="addBalMax()">잔액</a></li>
                                <li><a class="crtBtn" ng-click="addReset(5000)">삭제</a></li>
                                <li><a class="crtBtn" ng-click="addMax()">최대</a></li>
                            </ul>
                        </div>
                        <div class="cart-betting" ng-click="betting()">
                            <a class="btn">베팅하기 <em>{{cart.length}}</em></a>
                        </div>
                        <div class="cart-item">
                            <div ng-repeat="c in cart" class="bet_home">
                                <p class="odds2">
                                    {{c.game.gc}}
                                    <span ng-if="c.game.ah != 0">({{c.game.ah}})<span>
                                </p>
                                <p style="text-align: right">
                                    <span class="color01">
                                        {{c.game.oh | number : 2}}
                                    </span>
                                    <span class="color04">
                                        ( {{c.pos == '1' ? 'Home' : c.pos == '2' ? 'Away' : c.pos == 'X' ? 'Draw' : c.pos }} )
                                    </span>
                                </p>
                                <p>{{c.game.hn}}</p>
                                <p>{{c.game.an}}</p>
                                <a class="btn2" ng-click="remove(c.id)">X</a>
                            </div>
                        </div>
                        <!--<a><img src="/images/aside01.png" style="margin-top: 4px;cursor: pointer" onclick="payment.account();return false;"/></a>
                        <img src="/images/wechat.png" style="margin-top: 6px;"/>-->
                    </div>
                </aside>
                <aside class="fixed" th:if="${main eq 'game'}">
                    <div id="clock"></div>
                    <div class="cart-wrap ng-cloak" ng-cloak>
                        <div class="cart-top">
                            베팅카트
                            <label>
                                고정
                                <input type="checkbox" id="cart-fix" checked="checked" />
                            </label>
                        </div>
                        <div class="cart-odds">
                            <p>보유머니 : <span><em th:text="${tag.num(user.money)}" style="color: #ff9241;font-weight: bold"></em> 원</span></p>
                            <p>배당율 : <span><em>{{odds | number : 2}}</em> 배</span></p>
                            <p>적중금 : <span><em>{{parseFloat(odds * money) | number : 0}}</em> 원</span></p>
                            <p>베팅금 : <span><input type="text" ng-model="money" ng-change="checkMoney()"/> 원</span></p>
                        </div>
                        <div class="cart-amount">
                            <ul>
                                <li><a class="crtBtn" ng-click="addMoney(5000)">5,000</a></li>
                                <li><a class="crtBtn" ng-click="addMoney(10000)">10,000</a></li>
                                <!--<li><a class="crtBtn" ng-click="addMoney(30000)">30,000</a></li>-->
                                <li><a class="crtBtn" ng-click="addMoney(50000)">50,000</a></li>
                                <li><a class="crtBtn" ng-click="addMoney(100000)">100,000</a></li>
                                <!--<li><a class="crtBtn" ng-click="addMoney(300000)">300,000</a></li>-->
                                <li><a class="crtBtn" ng-click="addMoney(500000)">500,000</a></li>
                                <li><a class="crtBtn" ng-click="addMoney(1000000)">1,000,000</a></li>
                                <li><a class="crtBtn" ng-click="addBalMax()">잔액</a></li>
                                <li><a class="crtBtn" ng-click="addReset(5000)">삭제</a></li>
                                <li><a class="crtBtn" ng-click="addMax()">최대</a></li>
                            </ul>
                        </div>
                        <div class="cart-betting" ng-click="betting()">
                            <a class="btn">베팅하기 <em>{{cart.length}}</em></a>
                        </div>
                        <div class="cart-item">
                            <div class="bonus" ng-if="bonus != null && bonus.odds > 1">
                                <p>{{bonus.folder}}폴더 이상 보너스 배당 <span> ({{bonus.odds}})</span></p>
                            </div>
                            <div ng-repeat="c in cart" ng-class="c.pos == 'home' ? 'bet_home' : (c.pos == 'draw' ? 'bet_draw' : 'bet_away')">
                                <p class="odds">
                                    <img ng-src="/images/sports/{{c.game.sf}}"/>
                                    {{c.game.gc == 'MATCH' ? '승무패' : (c.game.gc == 'HANDICAP' ? '핸디캡' : '오버언더')}}
                                    <span class="odd">
                                        <!--<span ng-if="c.game.gc != 'OVER_UNDER'">{{c.pos == 'home' ? ' (승)' : (c.pos == 'draw' ? ' (무)' : ' (패)')}}</span>-->
                                        <span ng-if="c.game.gc != 'OVER_UNDER'">{{c.pos == 'home' ? '' : (c.pos == 'draw' ? '' : '')}}</span>
                                        <span ng-if="c.game.gc == 'OVER_UNDER'">{{c.pos == 'home' ? ' (오버)' : ' (언더)'}}</span>
                                        {{c.pos == 'home' ? (c.game.oh | number : 2) : (c.pos == 'draw' ? (c.game.od | number : 2) : (c.game.oa | number : 2))}}
                                    </span>
                                </p>
                                <p>{{c.game.hn}}</p>
                                <p>{{c.game.an}}</p>
                                <a class="btn" ng-click="remove(c.id)">X</a>
                            </div>
                        </div>
                        <!--<a th:href="@{|${siteConfig.pathSite}/payment/deposit|}"><img src="/images/aside01.png" style="margin-top: 4px;cursor: pointer"/></a>-->
                        <!--<a th:href="|${siteConfig.pathSite}/event/lotto|"><img src="/images/lottery2.png" style="margin-top: 6px;"/></a>
                        <img src="/images/wechat.png" style="margin-top: 6px;"/>-->
                    </div>
                </aside>
                <aside class="fixed" th:if="${main eq 'zone' && gnb eq'bet365'}">
                    <div id="clock"></div>
                    <div class="cart-wrap ng-cloak" ng-cloak>
                        <div class="cart-top">
                            베팅카트
                        </div>
                        <div class="cart-odds">
                            <p>보유머니 : <span><em th:text="${tag.num(user.money)}" style="color: #ff9241;font-weight: bold"></em> 원</span></p>
                            <p>배당율 : <span><em>{{Math.floor(odds * 100) / 100 | number : 2}}</em> 배</span></p>
                            <p>적중금 : <span><em>{{Math.floor(odds * money) | number : 0}}</em> 원</span></p>
                            <p>베팅금 : <span><input type="text" ng-model="money" ng-change="checkMoney()"/> 원</span></p>
                        </div>
                        <div class="cart-amount">
                            <ul>
                                <li><a class="crtBtn" ng-click="addMoney(5000)">5,000</a></li>
                                <li><a class="crtBtn" ng-click="addMoney(10000)">10,000</a></li>
                                <!--<li><a class="crtBtn" ng-click="addMoney(30000)">30,000</a></li>-->
                                <li><a class="crtBtn" ng-click="addMoney(50000)">50,000</a></li>
                                <li><a class="crtBtn" ng-click="addMoney(100000)">100,000</a></li>
                                <!--<li><a class="crtBtn" ng-click="addMoney(300000)">300,000</a></li>-->
                                <li><a class="crtBtn" ng-click="addMoney(500000)">500,000</a></li>
                                <li><a class="crtBtn" ng-click="addMoney(1000000)">1,000,000</a></li>
                                <li><a class="crtBtn" ng-click="addBalMax()">잔액</a></li>
                                <li><a class="crtBtn" ng-click="addReset(5000)">삭제</a></li>
                                <li><a class="crtBtn" ng-click="addMax()">최대</a></li>
                            </ul>
                        </div>
                        <div class="cart-betting" ng-click="betting()">
                            <a class="btn">베팅하기 <em>{{cart.length}}</em></a>
                        </div>
                        <div class="cart-item">
                            <div ng-repeat="c in cart" ng-if="zone">
                                <p class="odds">
                                    <img ng-src="{{flag}}"/>
                                    {{name}} [{{c.pos}}]
                                </p>
                                <p class="zone">
                                    X {{c.odds | number : 2}}배
                                </p>
                                <a class="btn" ng-click="remove()">X</a>
                            </div>
                            <div ng-repeat="c in cart" ng-if="soccer">
                                <p class="odds">
                                    <img ng-src="/images/sports/축구.png"/>
                                    <em class="color01">{{name}}</em>
                                <p class="odds" style="padding-left: 24px;margin-top: -4px;">
                                    {{c.code}}
                                    <span class="color01">
                                        X {{odds | number : 2}}배
                                        ({{c.pos}})
                                    </span>
                                </p>
                                <p style="padding-left: 24px;">{{c.home}}</p>
                                <p style="padding-left: 24px;">{{c.away}}</p>
                                <a class="btn" ng-click="remove();">X</a>
                            </div>
                            <div ng-repeat="c in cart" ng-if="dog">
                                <p class="odds">
                                    <img ng-src="{{flag}}"/>
                                    <em class="color01">{{name}}</em>
                                <p class="odds" style="padding-left: 24px;margin-top: -4px;">
                                    {{c.code}}
                                    <span class="color01">
                                        X {{odds | number : 2}}배
                                        ({{c.pos}})
                                    </span>
                                </p>
                                <p style="padding-left: 24px;">{{c.betZone + 1}}. {{c.team[c.betZone]}}</p>
                                <a class="btn" ng-click="remove();">X</a>
                            </div>
                            <!--<a th:href="@{|${siteConfig.pathSite}/payment/deposit|}"><img src="/images/aside01.png" style="margin-top: 4px;cursor: pointer"/></a>-->
                            <!--<a th:href="|${siteConfig.pathSite}/event/lotto|"><img src="/images/lottery2.png" style="margin-top: 6px;"/></a>
                            <img src="/images/wechat.png" style="margin-top: 6px;"/>-->
                        </div>
                    </div>
                </aside>
            </div>
        </main>
<!--        <footer>
            <div class="container">
                <div class="copyright">
                    Copyright © [[${siteConfig.since}]] <span th:text="${siteConfig.companyName} + '.'">Stella Solution.</span> All Right Reserved.
                    &lt;!&ndash;The ME2 is the gold standard in online gaming, dedicated to provide its customers with a rewarding, exciting and secure environment for online wagering. With top-of-the-line software and unique gaming opportunities, ME2 takes its players to the next level in online gambling. Wagering has never been more fun and safe, as The ME2 brings the Las Vegas atmosphere right to your home.&ndash;&gt;
                    &lt;!&ndash;</br></br>&ndash;&gt;
                    &lt;!&ndash;Established in San Jose, Costa Rica, our first casino was launched in November of 1996. Since then, The ME2 has surpassed other operations by offering a giant selection of lines, some of the best odds, 24-hour customer service, reliable payouts and secure transactions&ndash;&gt;
                    <a th:if="${mobile}" class="btn btn01" th:href="@{|${siteConfig.pathSite}/main?site_preference=mobile|}">MOBILE 버전</a>
                </div>
            </div>
        </footer>-->
        <!--<footer>-->
            <div class="footer-arr">
                <div class="simply-scroll">
                    <div class="simply-scroll-clip">
                        <div class="simply-scroll simply-scroll-container" style="height: 116px; background-color: #000">
                            <div class="simply-scroll-clip">
                                <ul id="scroller" class="simply-scroll-list" style="width: 1512px;height: 100px">
                                    <li><a id="banner_link_1" href="https://bets.bkfonbet.com/" target="_blank"><img src="/html/daybet/images/bbn1.gif"></a></li>
                                    <li><a id="banner_link_2" href="http://www.ladbrokes.com/" target="_blank"><img src="/html/daybet/images/bbn2.gif"></a></li>
                                    <li><a id="banner_link_3" href="https://www.bet-at-home.com/" target="_blank"><img src="/html/daybet/images/bbn3.gif"></a></li>
                                    <li><a id="banner_link_4" href="https://www.pinnaclesports.com/" target="_blank"><img src="/html/daybet/images/bbn4.gif"></a></li>
                                    <li><a id="banner_link_5" href="https://www.mybet.com/" target="_blank"><img src="/html/daybet/images/bbn5.gif"></a></li>
                                    <li><a id="banner_link_6" href="https://www.betfair.com/" target="_blank"><img src="/html/daybet/images/bbn6.gif"></a></li>
                                    <li><a id="banner_link_7" href="https://www.nordicbet.com/" target="_blank"><img src="/html/daybet/images/bbn7.gif"></a></li>
                                    <li><a id="banner_link_8" href="https://www.matchbook.com/" target="_blank"><img src="/html/daybet/images/bbn8.gif"></a></li>
                                    <li><a id="banner_link_9" href="https://www.betsafe.com/" target="_blank"><img src="/html/daybet/images/bbn9.gif"></a></li>
                                    <li><a id="banner_link_10" href="https://youwin.com/" target="_blank"><img src="/html/daybet/images/bbn10.gif"></a></li>
                                    <li><a id="banner_link_11" href="http://www.sportsbet.com.au/" target="_blank"><img src="/html/daybet/images/bbn11.gif"></a></li>
                                    <li><a id="banner_link_12" href="https://www.marathonbet.com/" target="_blank"><img src="/html/daybet/images/bbn12.gif"></a></li>
                                    <li><a id="banner_link_13" href="http://www.titanbet.com/" target="_blank"><img src="/html/daybet/images/bbn13.gif"></a></li>
                                    <li><a id="banner_link_14" href="https://sport.netbet.co.uk/" target="_blank"><img src="/html/daybet/images/bbn14.gif"></a></li>
                                    <li><a id="banner_link_15" href="https://www.32redsport.com/" target="_blank"><img src="/html/daybet/images/bbn15.gif"></a></li>
                                    <li><a id="banner_link_16" href="https://www.18bet.com/" target="_blank"><img src="/html/daybet/images/bbn16.gif"></a></li>
                                    <li><a id="banner_link_17" href="http://m.betrally.com/" target="_blank"><img src="/html/daybet/images/bbn17.gif"></a></li>
                                    <li><a id="banner_link_18" href="https://www.1xbet.com/" target="_blank"><img src="/html/daybet/images/bbn18.gif"></a></li>
                                    <li><a id="banner_link_19" href="http://www.jojobet5.net/" target="_blank"><img src="/html/daybet/images/bbn19.gif"></a></li>
                                    <li><a id="banner_link_20" href="http://www.betcart.com/sports" target="_blank"><img src="/html/daybet/images/bbn20.gif"></a></li>
                                    <li><a id="banner_link_21" href="http://www.bet-52.com/" target="_blank"><img src="/html/daybet/images/bbn21.gif"></a></li>
                                    <li><a id="banner_link_1" href="https://bets.bkfonbet.com/" target="_blank"><img src="/html/daybet/images/bbn1.gif"></a></li>
                                    <li><a id="banner_link_2" href="http://www.ladbrokes.com/" target="_blank"><img src="/html/daybet/images/bbn2.gif"></a></li>
                                    <li><a id="banner_link_3" href="https://www.bet-at-home.com/" target="_blank"><img src="/html/daybet/images/bbn3.gif"></a></li>
                                    <li><a id="banner_link_4" href="https://www.pinnaclesports.com/" target="_blank"><img src="/html/daybet/images/bbn4.gif"></a></li>
                                    <li><a id="banner_link_5" href="https://www.mybet.com/" target="_blank"><img src="/html/daybet/images/bbn5.gif"></a></li>
                                    <li><a id="banner_link_6" href="https://www.betfair.com/" target="_blank"><img src="/html/daybet/images/bbn6.gif"></a></li>
                                    <li><a id="banner_link_7" href="https://www.nordicbet.com/" target="_blank"><img src="/html/daybet/images/bbn7.gif"></a></li>
                                    <li><a id="banner_link_8" href="https://www.matchbook.com/" target="_blank"><img src="/html/daybet/images/bbn8.gif"></a></li>
                                    <li><a id="banner_link_9" href="https://www.betsafe.com/" target="_blank"><img src="/html/daybet/images/bbn9.gif"></a></li>
                                    <li><a id="banner_link_10" href="https://youwin.com/" target="_blank"><img src="/html/daybet/images/bbn10.gif"></a></li>
                                    <li><a id="banner_link_1" href="https://bets.bkfonbet.com/" target="_blank"><img src="/html/daybet/images/bbn1.gif"></a></li>
                                    <li><a id="banner_link_2" href="http://www.ladbrokes.com/" target="_blank"><img src="/html/daybet/images/bbn2.gif"></a></li>
                                    <li><a id="banner_link_3" href="https://www.bet-at-home.com/" target="_blank"><img src="/html/daybet/images/bbn3.gif"></a></li>
                                    <li><a id="banner_link_4" href="https://www.pinnaclesports.com/" target="_blank"><img src="/html/daybet/images/bbn4.gif"></a></li>
                                    <li><a id="banner_link_5" href="https://www.mybet.com/" target="_blank"><img src="/html/daybet/images/bbn5.gif"></a></li>
                                    <li><a id="banner_link_6" href="https://www.betfair.com/" target="_blank"><img src="/html/daybet/images/bbn6.gif"></a></li>
                                    <li><a id="banner_link_7" href="https://www.nordicbet.com/" target="_blank"><img src="/html/daybet/images/bbn7.gif"></a></li>
                                    <li><a id="banner_link_8" href="https://www.matchbook.com/" target="_blank"><img src="/html/daybet/images/bbn8.gif"></a></li>
                                    <li><a id="banner_link_9" href="https://www.betsafe.com/" target="_blank"><img src="/html/daybet/images/bbn9.gif"></a></li>
                                    <li><a id="banner_link_10" href="https://youwin.com/" target="_blank"><img src="/html/daybet/images/bbn10.gif"></a></li>
                                    <li><a id="banner_link_11" href="http://www.sportsbet.com.au/" target="_blank"><img src="/html/daybet/images/bbn11.gif"></a></li>
                                    <li><a id="banner_link_12" href="https://www.marathonbet.com/" target="_blank"><img src="/html/daybet/images/bbn12.gif"></a></li>
                                    <li><a id="banner_link_13" href="http://www.titanbet.com/" target="_blank"><img src="/html/daybet/images/bbn13.gif"></a></li>
                                    <li><a id="banner_link_14" href="https://sport.netbet.co.uk/" target="_blank"><img src="/html/daybet/images/bbn14.gif"></a></li>
                                    <li><a id="banner_link_15" href="https://www.32redsport.com/" target="_blank"><img src="/html/daybet/images/bbn15.gif"></a></li>
                                    <li><a id="banner_link_16" href="https://www.18bet.com/" target="_blank"><img src="/html/daybet/images/bbn16.gif"></a></li>
                                    <li><a id="banner_link_17" href="http://m.betrally.com/" target="_blank"><img src="/html/daybet/images/bbn17.gif"></a></li>
                                    <li><a id="banner_link_18" href="https://www.1xbet.com/" target="_blank"><img src="/html/daybet/images/bbn18.gif"></a></li>
                                    <li><a id="banner_link_19" href="http://www.jojobet5.net/" target="_blank"><img src="/html/daybet/images/bbn19.gif"></a></li>
                                    <li><a id="banner_link_20" href="http://www.betcart.com/sports" target="_blank"><img src="/html/daybet/images/bbn20.gif"></a></li>
                                    <li><a id="banner_link_21" href="http://www.bet-52.com/" target="_blank"><img src="/html/daybet/images/bbn21.gif"></a></li>
                                    <li><a id="banner_link_1" href="https://bets.bkfonbet.com/" target="_blank"><img src="/html/daybet/images/bbn1.gif"></a></li>
                                    <li><a id="banner_link_2" href="http://www.ladbrokes.com/" target="_blank"><img src="/html/daybet/images/bbn2.gif"></a></li>
                                    <li><a id="banner_link_3" href="https://www.bet-at-home.com/" target="_blank"><img src="/html/daybet/images/bbn3.gif"></a></li>
                                    <li><a id="banner_link_4" href="https://www.pinnaclesports.com/" target="_blank"><img src="/html/daybet/images/bbn4.gif"></a></li>
                                    <li><a id="banner_link_5" href="https://www.mybet.com/" target="_blank"><img src="/html/daybet/images/bbn5.gif"></a></li>
                                     <li><a id="banner_link_6" href="https://www.betfair.com/" target="_blank"><img src="/html/daybet/images/bbn6.gif"></a></li>
                                     <li><a id="banner_link_7" href="https://www.nordicbet.com/" target="_blank"><img src="/html/daybet/images/bbn7.gif"></a></li>
                                     <li><a id="banner_link_8" href="https://www.matchbook.com/" target="_blank"><img src="/html/daybet/images/bbn8.gif"></a></li>
                                     <li><a id="banner_link_9" href="https://www.betsafe.com/" target="_blank"><img src="/html/daybet/images/bbn9.gif"></a></li>
                                     <li><a id="banner_link_10" href="https://youwin.com/" target="_blank"><img src="/html/daybet/images/bbn10.gif"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    (function($) {
                        $(function() {
                            $("#scroller").simplyScroll();
                        });
                    })(jQuery);
                </script>
                <div id="footer">

                    <div class="wrapper">

                        <div class="logos-container">


                        </div>
                        <div class="footer-separator"></div>
                        <div class="footer-content">

                        </div>
                        <div class="footer-separator"></div>

                        <div class="footer-bottom">

                            <div class="eighteen"></div>

                            <div class="copyright">    COPYRIGHTⓒ<spnam th:text="${siteConfig.companyName}"></spnam> ALL RIGHTS RESERVED.
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>

                </div>
            </div>
        <!--</footer>-->
        <div id="flashMessage"><div th:text="${message}"></div></div>
        <a id="btn-top">TOP</a>
        <div th:replace="fragments/siteFragment :: javascript"></div>
        <div layout:fragment="popup" th:if="false" th:remove="tag"></div>
        <script layout:fragment="script" th:if="false"></script>
    </body>
</html>