<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${siteConfig.companyName}"></title>
    <link rel="shortcut icon" href="/images/favicon.ico?v1">
    <link rel=stylesheet href="/css/m_login_style.css"/>
    <script src="/assets/js/jquery-1.11.1.min.js"></script>
    <style>
        .sample1{
            background-image: url('/images/mlogin_bg.gif');
            background-position-x: center;
            background-position-y: center;
            background-size: 100%;
            height:82%;
            padding-top: 150px;
            overflow: hidden;
        }
        .chrome-logo {
            width: 30px;
            margin-left: 40px;
            padding-right: 5px;
            margin-bottom: 5px;
        }

        .chrome-link {
            font-weight: bolder;
            color: #fff;
            /*color: #014a48;*/
            font-size: 20px;
        }

        .kakaotalk-logo {
            font-weight: bolder;
            width: 31px;
            height: 31px;
            padding-right: 5px;
            margin-bottom: 5px;
            color: #014a48;
        }

        .kakaotalk-link {
            font-weight: bolder;
            color: #fff;
            /*color: #014a48;*/
            font-size: 20px;
        }
    </style>
</head>
<body>
<form id="frm" method="post" onsubmit="return login.goLogin();" class="sample1" >
    <div class=login_wrap>
        <img src="/images/logo_login.png" style="width: 170px; margin-top: 60px;"/>
        <div style="margin-top: 50px;"><input class=style_input name="l_username" id="l_username"  placeholder="아이디"/></div>
        <div><input type=password class=style_input name="l_password" id="l_password"  placeholder="비밀번호"/></div>
        <p>&nbsp;</p>
        <div><input type="submit" class=btn_submit value="LOGIN NOW" /></div>
        <div th:if="${siteConfig.join.joinButton}">
            <input th:if="${siteConfig.join.joinCodePage}" type=button class=btn_join value="CREATE ACCOUNT"  th:onclick="|location.href='${siteConfig.pathJoin}/code'|">
            <input th:if="!${siteConfig.join.joinCodePage}" type=button class=btn_join value="CREATE ACCOUNT" th:onclick="|location.href='${siteConfig.pathJoin}/join'|">
        </div>
        <div class=login_foot style="padding-top: 20px;padding-right: 20px;">
            <!--<span class="kakaotalk-link"><img src="/images/kakaologo.png" class="kakaotalk-logo"/>UB2013</br></br><a href="https://www.google.co.kr/chrome/thankyou.html" target="_blank" class="chrome-link"><img src="/images/chrome.png" class="chrome-logo" >Chrome Download</a></span>-->
            </br>
            </br>
            <div class=text1>Copyright MOBIUS Corp (C). All Rights Reserved.</div>
        </div>
    </div>
</form>
</body>
<script>
    var config = [(${config})];
</script>

<script src="/js/common.js?v=1.0"></script>
<script src="/js/common.join.js?v=1.0"></script>
</html>