<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='page', gnb='betting',title='베팅내역'">
<body>

<main class="page" layout:fragment="page">
    <form id="frm-search" method="get" th:action="@{|${siteConfig.pathSite}/betting|}">
        <input type="hidden" id="page" name="page" th:value="${page.number + 1}"/>
    </form>

    <div class="box">
        <h4>베팅취소 안내</h4>
        <p>
            베팅취소는 베팅시각으로부터 <span class="color06" th:text="${gameConfig.cancelBetTime + '분 이내'}">60분 이내</span>
            경기시작시간 <span class="color06" th:text="${gameConfig.cancelGameTime + '분전'}">1분전</span>까지,
            하루 최대 <span class="color06" th:text="${gameConfig.cancelMax + '회'}">10회</span> 가능합니다.<br/>
            베팅취소 가능 시간이 지나면 취소 처리는 불가능하니 신중한 베팅해주시기 바랍니다.<br/>
            베팅내역 삭제는 모든 경기가 종료된 이후 가능하며 <span class="color06">삭제된 내역은 복구가 불가능</span> 합니다.<br/>
            베팅취소 관련 규정은 게시판내에 기재되어 있으니 확인 후 이용바랍니다.
            <br/><br/>
            <span class="color01">베팅내역은 최대 일주일치만 확인 하실 수 있습니다.</span>
        </p>
    </div>
    <br/>
    <a href="#" onclick="goSelBoard();" class="btn btn03">내역등록</a>
    <a href="#" onclick="goDelBoard();" class="btn btn05">내역삭제</a>
    <a href="#" onclick="goDeleteAll(0);" class="btn btn04">전체삭제</a>
    <br/>
    <br/>
    <table class="list game">
        <caption>스포츠</caption>
        <colgroup>
            <col>
            <col style="width: 40px;">
            <col style="width: 40px;">
            <col>
        </colgroup>
        <tbody class="betBody" th:each="b : ${page.content}">
        <tr th:if="${b.menuCode.name() != 'INGAME'}">
            <th class="betListTh">홈팀</th>
            <th class="betListTh" colspan="2">무</th>
            <th class="betListTh">원정팀</th>
        </tr>
        <tr th:if="${b.menuCode.name() == 'INGAME'}">
            <th class="betListTh" colspan="4">인게임</th>
        </tr>
        <th:block th:each="item : ${b.betItems}" th:if="${b.menuCode.name() == 'ROULETTE'}">
            <tr class="toneDown">
                <td class="league" colspan="4">
                    <input type="checkbox" class="inputCheckbox" name="betId" th:value="${b.id}"/>
                    <img th:if="${item.menuCode.value <= 1000}" th:src="@{|${tag.sportsFlag(item)}|}"/>
                    <img th:src="@{|${tag.leagueFlag(item)}|}"/>
                    <span class="vAlign" th:text="${item.league}"></span>
                    <span class="date" th:utext="${tag.dayWeekTime(item.gameDate)}">06/21(금)</span>
                </td>
            </tr>
            <tr class="item">
                <td  th:class="${(item.betTeam eq 'home' ? 'bet home on' : 'bet home') + (item.gameResult.name() eq 'HOME' or item.gameResult.name() eq 'OVER' ? ' hit' : '')}">
                    <p class="ellipses"><em th:text="${item.teamHome}" th:remove="tag"></em><span class="color01" th:if="${item.menuCode.name() eq 'SPECIAL'}" th:text="${'[' + item.special + ']'}"></span></p>
                    <span class="odds"><span th:if="${item.gameCode.name() eq 'HANDICAP'}" class="l_handy">H</span><span th:if="${item.gameCode.name() eq 'OVER_UNDER'}" class="over"></span><em th:text="${tag.odds(item.oddsHome)}" th:remove="tag"></em></span>
                </td>
                <td colspan="2" th:if="${item.gameCode.name() eq 'MATCH' or item.gameCode.name() eq 'ZONE' and not (item.special eq '핸디캡' or item.special eq '오버언더')}"
                    th:with="odds=${tag.odds(item.oddsDraw)}"
                    th:class="${(item.betTeam eq 'draw' ? 'draw on' : 'draw') + (item.gameResult.name() eq 'DRAW' or item.gameResult.name() eq 'HIT' or item.gameResult.name() eq 'DRAW_HIT' ? ' hit' : '') + (odds eq '0.00' ? '' : ' odds')}"
                    th:text="${odds eq '0.00' ? 'VS' : odds}">
                    무
                </td>
                <td colspan="2" th:if="${item.gameCode.name() eq 'HANDICAP' or item.gameCode.name() eq 'OVER_UNDER' or item.special eq '핸디캡' or item.special eq '오버언더'}" th:class="${item.gameResult.name() eq 'DRAW' or item.gameResult.name() eq 'HIT' or item.gameResult.name() eq 'DRAW_HIT' ? 'draw hit' : 'draw'}" th:text="${tag.handicap(item.handicap)}">무</td>
                <td  th:class="${(item.betTeam eq 'away' ? 'bet away on' : 'bet away') + (item.gameResult.name() eq 'AWAY' or item.gameResult.name() eq 'UNDER' ? ' hit' : '')}">
                    <span class="odds"><!--<em th:text="${tag.odds(item.oddsAway)}" th:remove="tag"></em>--><span>선택한 숫자</span><span th:if="${item.gameCode.name() eq 'HANDICAP'}" class="r_handy">H</span><span th:if="${item.gameCode.name() eq 'OVER_UNDER'}" class="under"></span></span>
                    <p class="ellipses"><span class="color01" th:if="${item.menuCode.name() eq 'SPECIAL'}" th:text="${'[' + item.special + ']'}"></span><em th:text="${item.betTeam}" th:remove="tag"></em></p>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="score" th:text="${item.scoreHome eq null ? '-' : item.scoreHome}"></td>
                <td colspan="2" class="score" th:text="${item.scoreAway eq null ? '-' : item.scoreAway}"></td>
            </tr>
        </th:block>
        <th:block th:each="item : ${b.betItems}" th:if="${b.menuCode.name() != 'INGAME' and b.menuCode.name() != 'ROULETTE'}">
            <tr class="toneDown">
                <td class="league" colspan="4">
                    <input type="checkbox" class="inputCheckbox" name="betId" th:value="${b.id}"/>
                    <img th:if="${item.menuCode.value <= 1000}" th:src="@{|${tag.sportsFlag(item)}|}"/>
                    <img th:src="@{|${tag.leagueFlag(item)}|}"/>
                    <span class="vAlign" th:text="${item.league}"></span>
                    <span class="date" th:utext="${tag.dayWeekTime(item.gameDate)}">06/21(금)</span>
                </td>
            </tr>
            <tr class="item">
                <td  th:class="${(item.betTeam eq 'home' ? 'bet home on' : 'bet home') + (item.gameResult.name() eq 'HOME' or item.gameResult.name() eq 'OVER' ? ' hit' : '')}">
                    <p class="ellipses"><em th:text="${item.teamHome}" th:remove="tag"></em><span class="color01" th:if="${item.menuCode.name() eq 'SPECIAL'}" th:text="${'[' + item.special + ']'}"></span></p>
                    <img src="/images/icon_over.gif"  th:if="${item.special eq '오버언더'}" style="height: 50%;">
                    <span class="odds"><span th:if="${item.gameCode.name() eq 'HANDICAP'}" class="l_handy">H</span><span th:if="${item.gameCode.name() eq 'OVER_UNDER'}" class="over"></span><em th:text="${tag.odds(item.oddsHome)}" th:remove="tag"></em></span>
                </td>
                <td colspan="2" th:if="${item.gameCode.name() eq 'MATCH' or item.gameCode.name() eq 'ZONE' and not (item.special eq '핸디캡' or item.special eq '오버언더')}"
                    th:with="odds=${tag.odds(item.oddsDraw)}"
                    th:class="${(item.betTeam eq 'draw' ? 'draw on' : 'draw') + (item.gameResult.name() eq 'DRAW' or item.gameResult.name() eq 'HIT' or item.gameResult.name() eq 'DRAW_HIT' ? ' hit' : '') + (odds eq '0.00' ? '' : ' odds')}"
                    th:text="${odds eq '0.00' ? 'VS' : odds}">

                    무
                </td>
                <td colspan="2" th:if="${item.gameCode.name() eq 'HANDICAP' or item.gameCode.name() eq 'OVER_UNDER' or item.special eq '핸디캡' or item.special eq '오버언더'}" th:class="${item.gameResult.name() eq 'DRAW' or item.gameResult.name() eq 'HIT' or item.gameResult.name() eq 'DRAW_HIT' ? 'draw hit' : 'draw'}" th:text="${tag.handicap(item.handicap)}">무</td>
                <td  th:class="${(item.betTeam eq 'away' ? 'bet away on' : 'bet away') + (item.gameResult.name() eq 'AWAY' or item.gameResult.name() eq 'UNDER' ? ' hit' : '')}">
                    <span class="odds"><em th:text="${tag.odds(item.oddsAway)}" th:remove="tag"></em><span th:if="${item.gameCode.name() eq 'HANDICAP'}" class="r_handy">H</span><span th:if="${item.gameCode.name() eq 'OVER_UNDER'}" class="under"></span></span>
                    <img src="/images/icon_under.gif"  th:if="${item.special eq '오버언더'}" style="height: 50%;">
                    <p class="ellipses"><span class="color01" th:if="${item.menuCode.name() eq 'SPECIAL'}" th:text="${'[' + item.special + ']'}"></span><em th:text="${item.teamAway}" th:remove="tag"></em></p>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="score" th:text="${item.scoreHome eq null ? '-' : item.scoreHome}"></td>
                <td colspan="2" class="score" th:text="${item.scoreAway eq null ? '-' : item.scoreAway}"></td>
            </tr>
        </th:block>
        <th:block th:each="item : ${b.betItems}" th:if="${b.menuCode.name() == 'INGAME'}">
            <tr class="toneDown">
                <td class="league" colspan="4">
                    <span class="vAlign" th:text="${item.sports + ' ' +item.league}"></span>
                    <span class="date" th:utext="${tag.dayWeekTime(item.gameDate)}">06/21(금)</span>
                </td>
            </tr>
            <tr class="item">
                <td colspan="4" th:class="${(item.betTeam eq 'home' ? 'bet on' : 'bet') + (item.gameResult.name() eq 'HOME' ? ' hit' : '')}">
                    <span th:text="${tag.inGameBetInfo(item.special)}"></span>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="score" th:text="${item.teamHome}"></td>
                <td colspan="2" class="score" th:text="${item.teamAway}"></td>
            </tr>

        </th:block>
        <tr>
            <td class="betInfo" colspan="4">
                <p class="dateDay">
                    베팅시간 : <span th:utext="${tag.dayWeekTime(b.betDate)}"></span>
                </p>
                <p class="betMoney">
                    베팅금액 : <span th:text="${tag.num(b.betMoney)}">1,000</span>원
                </p>
                <p class="rate">
                    배당율 : <span th:text="${tag.odds(b.betOdds)}">1,000</span>배
                </p>
                <p class="expMoney">
                    예상금액 : <span th:text="${tag.num(b.expMoney)}">1,000</span>원
                </p>
                <p class="hitMoney" th:if="${b.closing}">
                    적중금액 : <span th:class="${(tag.num(b.hitMoney) eq '0' ? 'noHit':'hit')}" th:text="${tag.num(b.hitMoney)}">1,000</span>원
                </p>
                <p class="expMoney">
                    결과 : <span th:class="${b.resultStringCss}" th:text="${b.resultString}"></span>
                </p>

                <div class="btn-box">
                    <a th:if="${b.menuCode.name() != 'INGAME'}" th:href="@{|${siteConfig.pathSite}/board/free/add?betId=${b.id}|}" class="btn btn03">내역 등록</a>
                    <a th:if="${b.closing}" href="#" th:onclick="|goDelete('${b.id}');return false;|" class="btn btn05">내역 삭제</a>
                    <a th:if="${b.canCancel and (sType ne 'SC1' || sType ne 'SC2')}" href="#" th:onclick="|goCancel('${b.id}');return false;|" class="btn btn04">베팅 취소</a>
                </div>
                <br><br><br>
            </td>
        </tr>
        <tr>
            <td colspan="4">&nbsp;</td>
        </tr>
        </tbody>
    </table>
    <div class="paging">
        <ul th:replace="fragments/mobile :: paging(p=${page})"></ul>
    </div>
</main>

<script layout:fragment="script" th:if="true">
    function goCancel(id) {
        if (confirm('취소를 하시면 되살릴 수 없습니다.\n\n취소를 하시겠습니까?')) {
            $.ajax({
                url: path + '/betting/cancel',
                method: 'post',
                data: {
                    id: id
                }
            }).done(function (data) {
                if (data.success) {
                    location.reload();
                }
            });
        }
    }

    function goDelete(id) {
        if (confirm('삭제를 하시면 되살릴 수 없습니다.\n\n취소를 하시겠습니까?')) {
            $.ajax({
                url: path + '/betting/delete',
                method: 'post',
                data: {
                    betIds: id
                }
            }).done(function (data) {
                if (data.success) {
                    location.reload();
                }
            });
        }
    }

    function goSelBoard() {
        if ($('input[name=betId]:checked').length == 0) {
            alert('등록하고자 하는 베팅 내역을 하나이상 선택하여 주세요.');
            return false;
        }
        var ids = [];
        $('input[name=betId]:checked').each(function() {
            ids.push($(this).val());
        });
        goAddBoardAll(ids);
    }

    function goAddBoardAll(ids) {
        location.href = '/site/board/free/add?betId='+ids.join(',');
    }

    function goDelBoard() {
        if ($('input[name=betId]:checked').length == 0) {
            alert('삭제하고자 하는 베팅 내역을 하나이상 선택하여 주세요.');
            return false;
        }

        var message = '선택하신 내역을 모두 삭제하시겠습니까?\n\n삭제를 하시면 되살릴 수 없습니다.';
        if (!confirm(message)) {
            return false;
        };

        var ids = [];
        $('input[name=betId]:checked').each(function() {
            ids.push($(this).val());
        });

        $.ajax({
            url: path + '/betting/delete',
            method: 'post',
            data: {
                betIds: ids.join(',')
            }
        }).done(function (data) {
            if (data.success) {
                location.reload();
            }
        });

    }

    function goDeleteAll(id) {
        var message = '마감된 베팅내역을 모두 삭제하시겠습니까?\n\n삭제를 하시면 되살릴 수 없습니다.';
        if (!confirm(message)) {
            return false;
        };

        $.ajax({
            url: path + '/betting/delete',
            method: 'post',
            data: {
                betIds: 0
            }
        }).done(function (data) {
            if (data.success) {
                location.reload();
            }
        });

    }
</script>
</body>
</html>