<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/sellerLayout" th:with="gnb='sale', lnb='betting'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>베팅 :</small>
    베팅내역
</h2>
<div layout:fragment="content">
    <section>
        <div class="panel-search">
            <form id="frm-search" th:object="${command}" th:action="@{|${siteConfig.pathSeller}/sale/betting|}" method="get">
                <label>
                    아이디/닉네임 :
                    <input type="text" th:field="*{username}"/>
                    (일치 <input type="checkbox" th:field="*{match}" />)
                </label>
                <label>
                    총판 :
                    <select name="agency" id="agency" >
                        <option value="">선택하세요.</option>
                        <option th:each="a : ${agencyList}"
                                th:selected="${command.agency eq a.userid}"
                                th:value="${a.userid}"
                                th:text="${a.userid}">
                        </option>
                    </select>
                </label>

                <label>
                    배팅내역 선택 :
                    <select th:field="*{mode}">
                        <option value="">선택하세요.</option>
                        <option value="ing">배팅중인 내역(마감전)</option>
                        <option value="end">배팅마감된 내역(마감후)</option>
                    </select>
                </label>

                <input type="hidden" name="page" id="page" th:value="${page.number + 1}"/>
                <div class="command">
                    <a class="btn btn01" onclick="goSearch();">검색</a>
                    <a th:href="@{|${siteConfig.pathSeller}/sale/betting|}" class="btn">취소</a>
                </div>
            </form>
        </div>
    </section>
    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-list"></i>
                베팅내역
                <span class="total">( 검색된 베팅내역 : <span th:text="${tag.num(page.totalElements)}">100</span> 건 )</span>
                <a class="btn btn03" onclick="toggleAll();" style="width: 180px;"><i class="fa fa-toggle-on" aria-hidden="true"></i> 전체 베팅내역 열고/닫기</a>
            </h3>
        </div>
        <table class="table-list">
            <caption>종목 설정</caption>
            <colgroup>
                <col style="width: 60px;">
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col style="width: 80px;">
            </colgroup>
            <thead>
            <tr>
                <th>번호</th>
                <th>총판</th>
                <th>아이디</th>
                <th>닉네임</th>
                <th>베팅시간</th>
                <th>배당</th>
                <th>베팅금액</th>
                <th>예상금액</th>
                <th>게임</th>
                <th>베팅상세</th>
                <th>폴더</th>
                <th>적중금액</th>
                <th>결과</th>
            </tr>
            </thead>
            <tbody class="bet" th:each="b,num : ${page.content}" th:with="total=${page.totalElements - page.number * page.size + 1}">
            <tr class="betting">
                <td th:text="${total - num.count}">1</td>
                <td th:text="${b.agency7}">아이디</td>
                <td class="color03" th:text="${b.userid}">아이디</td>
                <td class="color02" th:text="${b.nickname}">닉네임</td>
                <td th:utext="${tag.betDate(b.betDate)}">베팅시간</td>
                <td class="num color04" th:text="${tag.odds(b.betOdds)}">배당</td>
                <td class="num color03" th:text="${tag.num(b.betMoney)}">베팅금액</td>
                <td class="num color02" th:text="${tag.num(b.expMoney)}">예상금액</td>
                <td th:text="${b.menuCode.name}">코드</td>
                <td class="color02 search" th:onclick="|toggleItem('${b.id}');|">
                    <ul class="item">
                        <li th:each="item : ${b.betItems}">
                            <span class="color02" th:if="${item.result eq '대기'}"><i class="fa fa-hourglass-start"></i></span>
                            <span class="color04" th:if="${item.result eq '적중'}"><i class="fa fa-thumbs-o-up"></i></span>
                            <span class="color03" th:if="${item.result eq '미적중'}"><i class="fa fa-thumbs-o-down"></i></span>
                            <span class="color01" th:if="${item.result eq '적특'}"><i class="fa fa-plus"></i></span>
                            <span class="color01" th:if="${item.result eq '취소' or item.result eq '베팅취소'}"><i class="fa fa-times"></i></span>
                        </li>
                    </ul>
                </td>
                <td th:text="${b.betCount}">폴더</td>
                <td class="num color01" th:text="${tag.num(b.hitMoney)}">적중금액</td>
                <td th:class="${b.resultStringCss}" th:text="${b.resultString}">결과</td>
            </tr>
            <tr th:id="${b.id}" class="betItem" style="display: none;">
                <td colspan="13" style="border:none; padding:0;">
                    <table class="table-bet" style="margin:-1px 0;">
                        <caption>베팅 경기</caption>
                        <colgroup>
                            <col style="width: 160px;">
                            <col style="width: 120px;">
                            <col style="width: 80px;">
                            <col style="width: 36px;">
                            <col style="width: 380px">
                            <col style="width: 54px;">
                            <col style="width: 80px;">
                            <col style="width: 54px;">
                            <col>
                            <col style="width: 36px;">
                            <col style="width: 80px;">
                        </colgroup>
                        <tbody>
                        <tr th:each="item : ${b.betItems}">
                            <td class="info">
                                <img th:src="@{${tag.sportsFlag(item)}}" />
                                <span th:utext="${tag.dayWeekTime(item.gameDate)}">06/21(금)</span>
                            </td>
                            <td style="padding-left: 10px;padding-right: 10px;" class="memo">
                                <div style="width: 98px;" class="ellipsis">
                                    <img th:src="@{${tag.leagueFlag(item)}}" style="padding-right: 10px;" />
                                    <em th:text="${item.league}">리그명</em>
                                </div>
                                <span class="league" th:text="${item.league}"></span>
                            </td>
                            <td th:text="${item.gameCode.name}">승무패</td>
                            <td class="over" th:text="${item.gameCode.name() eq 'OVER_UNDER' ? 'O' : 'H'}">H</td>
                            <td th:class="${'home' + (item.betTeam eq 'home' ? ' on' : '') + (item.gameResult.name() eq 'HOME' or item.gameResult.name() eq 'OVER' ? ' hit' : '')}">
                                <span th:remove="tag" th:text="${item.teamHome}">홈팀</span>
                                <span th:if="${!item.special.empty and item.menuCode.name() eq 'SPECIAL'}" class="color02" th:text="'[' + ${item.special} + ']'">스페셜</span>
                                <span class="odds" th:text="${tag.odds(item.oddsHome)}">0.01</span>
                            </td>
                            <td class="score" th:text="${item.scoreHome eq null ? '-' : item.scoreHome}">0</td>
                            <td th:if="${item.gameCode.name() eq 'MATCH' or item.gameCode.name() eq 'ZONE'}"
                                th:class="${'draw' + (item.betTeam eq 'draw' ? ' on' : '') + (item.gameResult.name() eq 'DRAW' or item.gameResult.name() eq 'HIT' or item.gameResult.name() eq 'DRAW_HIT' ? ' hit' : '') + (item.oddsDraw gt 0 ? ' odds' : '')}"
                                th:text="${tag.odds(item.oddsDraw, item.handicap)}">
                                무
                            </td>
                            <td th:if="${item.gameCode.name() eq 'HANDICAP' or item.gameCode.name() eq 'OVER_UNDER'}" th:class="${item.gameResult.name() eq 'DRAW' or item.gameResult.name() eq 'HIT' or item.gameResult.name() eq 'DRAW_HIT' ? 'draw hit' : 'draw'}" th:text="${#numbers.formatDecimal(item.handicap, 1, 1)}">무</td>
                            <td class="score" th:text="${item.scoreAway eq null ? '-' : item.scoreAway}">0</td>
                            <td th:class="${'away' + (item.betTeam eq 'away' ? ' on' : '') + (item.gameResult.name() eq 'AWAY' or item.gameResult.name() eq 'UNDER' ? ' hit' : '')}">
                                <span th:if="${!item.special.empty and item.menuCode.name() eq 'SPECIAL'}" class="color02" th:text="'[' + ${item.special} + ']'">스페셜</span>
                                <span th:remove="tag" th:text="${item.teamAway}">홈팀</span>
                                <span class="odds" th:text="${tag.odds(item.oddsAway)}">0.01</span>
                            </td>
                            <td class="under" th:text="${item.gameCode.name() eq 'OVER_UNDER' ? 'U' : 'A'}">H</td>
                            <td th:class="${'result ' + item.resultStringCss}" th:text="${item.resultString}"></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="panel-footer">
            <div class="paging">
                <ul th:replace="fragments/admin :: paging(p=${page})"></ul>
            </div>
        </div>
    </section>
</div>
<script layout:fragment="script" th:if="true">
    var toggle = false;
    function toggleAll() {
        if (toggle) {
            $('.betItem').hide();
            $('.bet').removeClass('on');
            toggle = false;
        } else {
            $('.betItem').show();
            $('.bet').addClass('on');
            toggle = true;
        }
    }

    function toggleItem(id) {
        var obj = $('#' + id);
        obj.toggle();
        if (obj.is(':visible')) {
            obj.parent().addClass('on');
        } else {
            obj.parent().removeClass('on');
        }
    }
</script>
</body>
</html>