<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/sellerLayout" th:with="gnb='sale', lnb='detail'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>정산관리 :</small>
    일자별 상세
</h2>
<div layout:fragment="content">
    <section>
        <div class="panel-search">
            <form id="frm-search" th:object="${command}" th:action="@{|${siteConfig.pathSeller}/sale/detail|}" method="get">
                <label>
                    검색기간 :
                    <input type="text" class="cal" th:field="*{sdate}"/> ~
                    <input type="text" class="cal" th:field="*{edate}"/>
                </label>
                <label>
                    총판 :
                    <select name="agency" id="agency" >
                        <option value="">선택하세요.</option>
                        <option th:each="a : ${agencyList}"
                                th:selected="${command.agency eq a.userid}"
                                th:value="${a.userid}"
                                th:text="${a.userid}">
                        </option>
                    </select>
                </label>
                <div class="command">
                    <a class="btn btn01" onclick="goSearch();">검색</a>
                    <a th:href="@{|${siteConfig.pathSeller}/sale/detail|}" class="btn">취소</a>
                </div>
            </form>
        </div>
    </section>
    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-calendar"></i>
                일자별 상세
            </h3>
        </div>
        <table class="table-list" style="table-layout: fixed;">
            <caption>상세 정산</caption>
            <thead>
            <tr>
                <th>충전 금액</th>
                <th>포인트 전환</th>
                <th>포인트 획득</th>
                <th>환전 금액</th>
                <th>회원 머니</th>
                <th>회원 포인트</th>
            </tr>
            <tr>
                <td class="color01 accounting num" th:text="${tag.num(#aggregates.sum(money.?[code == 'DEPOSIT' || code == 'DEPOSIT_ROLLBACK'].![amount]))}"></td>
                <td class="color02 accounting num" th:text="${tag.num(#aggregates.sum(money.?[code == 'EXCHANGE'].![amount]))}"></td>
                <td class="color02 accounting num" th:text="${tag.num(#aggregates.sum(point.![amount]))}"></td>
                <td class="color01 accounting num" th:text="${tag.num(#aggregates.sum(money.?[code == 'WITHDRAW' || code == 'WITHDRAW_ROLLBACK'].![amount]))}"></td>
                <td class="color03 accounting num" th:text="${tag.num(amount.money)}"></td>
                <td class="color03 accounting num" th:text="${tag.num(amount.point)}"></td>
            </tr>
            <tr>
                <th>종목</th>
                <th>베팅금</th>
                <th>당첨금</th>
                <th>낙첨금</th>
                <th>정산금</th>
                <th>진행중</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="g : ${list}">
                <td th:text="${g.menuName}"></td>
                <td class="num" th:text="${tag.num(g.betMoney)}"></td>
                <td class="num" th:text="${tag.num(g.winMoney)}"></td>
                <td class="num" th:text="${tag.num(g.loseMoney)}"></td>
                <td th:class="${g.betMoney - g.winMoney < 0} ? 'num color03' : 'num color02'" th:text="${tag.num(g.betMoney - g.winMoney)}"></td>
                <td class="num" th:text="${tag.num(g.ingMoney)}"></td>
            </tr>
            </tbody>
            <thead>
            <tr>
                <th class="accounting">합계</th>
                <th class="color04 accounting num" th:text="${tag.num(#aggregates.sum(list.![betMoney]))}"></th>
                <th class="color04 accounting num" th:text="${tag.num(#aggregates.sum(list.![winMoney]))}"></th>
                <th class="color04 accounting num" th:text="${tag.num(#aggregates.sum(list.![loseMoney]))}"></th>
                <th class="color04 accounting num" th:text="${tag.num(#aggregates.sum(list.![betMoney - winMoney]))}"></th>
                <th class="color04 accounting num" th:text="${tag.num(#aggregates.sum(list.![ingMoney]))}"></th>
            </tr>
            </thead>
        </table>
        <div class="panel-body">
            <h3>
                <i class="bul fa fa-calendar"></i>
                [[${member.rateCode}]]
            </h3>
        </div>
        <table class="table-list" style="table-layout: fixed;">
            <thead>
            <th:block th:if="${member.rateCode eq '수익분배'}"
                      th:with="in_sum = ${#aggregates.sum(money.?[code == 'DEPOSIT' || code == 'DEPOSIT_ROLLBACK'].![amount])},
                      out_sum = ${#aggregates.sum(money.?[code == 'WITHDRAW' || code == 'WITHDRAW_ROLLBACK'].![amount])},
                      in = ${in_sum eq null ? 0 : in_sum}, out = ${out_sum eq null ? 0 : out_sum}">
                <tr>
                    <th>정산내역</th>
                    <th>정산금</th>
                </tr>
                <tr>
                    <td style="font-size: 16px">
                        입금 : <span class="color01" th:text="${tag.num(in)}">0</span>원
                        +
                        출금 : <span class="color03" th:text="${tag.num(out)}">0</span>원
                        =
                        <span class="color02" th:text="${tag.num(in + out)}">0</span>원
                    </td>
                    <td style="font-size: 16px">
                        <span class="color03" th:text="${tag.num((in + out) * member.rateShare / 100)}">0</span>원
                        (<span class="color01" th:text="${tag.num(member.rateShare)}">0</span>%)
                    </td>
                </tr>
            </th:block>
            <th:block th:if="${member.rateCode eq '롤링분배'}"
                      th:with="sports_sum = ${#aggregates.sum(list.?[menuCode == 'SPORTS'].![betMoney])},
                      eSports_sum = ${#aggregates.sum(list.?[menuCode == 'ESPORTS'].![betMoney])},
                      zone_sum = ${#aggregates.sum(list.?[menuCode != 'SPORTS' && menuCode != 'ESPORTS'].![betMoney])},
                      sports = ${sports_sum eq null ? 0 : sports_sum}, eSports = ${eSports_sum eq null ? 0 : eSports_sum}, zone = ${zone_sum eq null ? 0 : zone_sum}">
                <tr>
                    <th>정산내역</th>
                    <th colspan="2">정산금</th>
                </tr>
                <tr>
                    <td style="font-size: 16px">
                        스포츠 : <span class="color01" th:text="${tag.num(sports)}">0</span>원
                        ,
                        E스포츠 : <span class="color01" th:text="${tag.num(eSports)}">0</span>원
                        ,
                        실시간 : <span class="color03" th:text="${tag.num(zone)}">0</span>원
                    </td>
                    <td colspan="2" style="font-size: 16px">
                        스포츠 : <span class="color02" th:text="${tag.num(sports * member.rateSports / 100)}">0</span>원
                        (<span class="color01" th:text="${member.rateSports}">0</span>%)
                        +
                        E스포츠 : <span class="color02" th:text="${tag.num(eSports * member.rateSports2 / 100)}">0</span>원
                        (<span class="color01" th:text="${member.rateSports2}">0</span>%)
                        +
                        실시간 : <span class="color03" th:text="${tag.num(zone * member.rateZone / 100)}">0</span>원
                        (<span class="color01" th:text="${member.rateZone}">0</span>%)
                        =
                        <span class="color01" th:text="${tag.num(sports * member.rateSports / 100 + eSports * member.rateSports2 / 100 + zone * member.rateZone / 100)}">0</span>원
                    </td>
                </tr>
            </th:block>
            </thead>
        </table>

        <div class="panel-footer">

        </div>
    </section>
</div>
<script layout:fragment="script" th:if="true">
    var agencies = [(${agencies})];
    agency1 = '[[${command.agency1}]]', agency2 = '[[${command.agency2}]]';
    var _agency2 = '';
    agencies.forEach(function (agency) {
        if (_agency2 != agency.agency2) {
            $('#agency2').append('<option value="' + agency.agency2 + '">' + agency.agency2 + '</option>');
            _agency2 = agency.agency2;
        }
    });

    $('#agency2').on('change', function () {
        var agency2 = $('#agency2').val();
        $('#agency1').html('').append('<option value="">선택하세요.</option>');
        agencies.forEach(function (agency) {
            if (agency2 == agency.agency2 && agency.agency1 != null && agency.agency1 !== '') {
                $('#agency1').append('<option value="' + agency.agency1 + '">' + agency.agency1 + '</option>');
            }
        });
    });

    $('#agency2').val(agency2).change();
    $('#agency1').val(agency1);
</script>
</body>
</html>