<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminLayout" th:with="gnb='seller', lnb='joinCode'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>총판 :</small>
    가입 코드
</h2>
<div layout:fragment="content">
    <section>
        <div class="panel-search">
            <form id="frm-search" th:object="${command}" th:action="@{|${siteConfig.pathAdmin}/seller/joinCode|}" method="get">
                <label>
                    가입코드 :
                    <input type="text" th:field="*{joinCode}"/>
                </label>
                <label>
                    총판 :
                    <select th:field="*{agency}">
                        <option value="-">선택하세요.</option>
                        <option value="">본사총판</option>
                    </select>
                </label>
                <div class="command">
                    <a class="btn btn01" onclick="goSearch();">검색</a>
                    <a th:href="@{|${siteConfig.pathAdmin}/seller/joinCode|}" class="btn">취소</a>
                </div>
            </form>
        </div>
    </section>

    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-user"></i>
                가입 코드
                <span class="total">( 검색된 코드수 : <span th:text="${tag.num(#arrays.length(list))}">100</span> 개 )</span>
            </h3>
        </div>
        <table class="table-list">
            <caption>종목 설정</caption>
            <colgroup>
                <col>
                <col style="width: 140px;">
                <col>
                <col>
                <col style="width: 320px;">
                <col>
                <col style="width: 160px;">
            </colgroup>
            <thead>
            <tr>
                <th>번호</th>
                <th>코드</th>
                <th>총판</th>
                <th>대리점</th>
                <th>비고</th>
                <th>사용</th>
                <th>관리</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="color04">등록</td>
                <td><input type="text" id="code" style="width: 120px;" /></td>
                <td>
                    <select id="agency1" style="width: 160px;">
                        <option value="">총판</option>
                    </select>
                </td>
                <td>
                    <select id="agency2" style="width: 160px;">
                        <option value="">대리점</option>
                    </select>
                </td>
                <td><input type="text" id="memo" style="width: 300px;"/></td>
                <td>
                    <select id="enabled">
                        <option th:value="true">사용</option>
                        <option th:value="false">미사용</option>
                    </select>
                </td>
                <td>
                    <a class="btn btn03" style="width: 126px;" onclick="addCode();">등록</a>
                </td>
            </tr>
            <tr th:each="m, num : ${list}" th:with="total=${#arrays.length(list) + 1}">
                <td th:text="${total - num.count}">1</td>
                <td th:text="${m.code}">코드</td>
                <td th:text="${#strings.defaultString(m.agency1, '총판')}">총판</td>
                <td th:text="${#strings.defaultString(m.agency2, '대리점')}">대리점</td>
                <td><input type="text" th:id="${'memo_' + m.id}" th:value="${m.memo}" style="width: 300px;"/></td>
                <td>
                    <select th:id="${'enabled_' + m.id}">
                        <option th:value="true" th:selected="${m.enabled}">사용</option>
                        <option th:value="false" th:selected="${!m.enabled}">미사용</option>
                    </select>
                </td>
                <td>
                    <a class="btn btn04" th:onclick="|updateCode('${m.id}');|">수정</a>
                    <a class="btn btn02" th:onclick="|deleteCode('${m.id}');|">삭제</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="panel-footer">

        </div>
    </section>
</div>
<script layout:fragment="script" th:if="true">
    var agencies = [(${agencies})];
    var agency1 = '';

    agencies.forEach(function (agency) {
        if (agency1 != agency.agency1) {
            $('#agency1').append('<option value="' + agency.agency1 + '">' + agency.agency1 + '</option>');
            $('#agency').append('<option value="' + agency.agency1 + '">' + agency.agency1 + '</option>');
            agency1 = agency.agency1;
        }
    });

    $('#agency').val('[[${command.agency}]]');

    $('#agency1').on('change', function () {
        var agency1 = $('#agency1').val();
        if (agency1 === '') {
            $('#agency2').html('').append('<option value="">대리점</option>');
        } else {
            $('#agency2').html('');
        }
        agencies.forEach(function (agency) {
            if (agency1 == agency.agency1 && agency.agency2 != null && agency.agency2 !== '') {
                $('#agency2').append('<option value="' + agency.agency2 + '">' + agency.agency2 + '</option>');
            }
        });
    });

    function addCode() {
        if ($('#code').val() === '') {
            alert('코드를 입력 하세요.');
            $('#code').focus();
            return false;
        }

        $.post(path + '/seller/joinCode/add', {
            code: $('#code').val(),
            agency1: $('#agency1').val(),
            agency2: $('#agency2').val(),
            enabled: $('#enabled').val(),
            memo: $('#memo').val()
        }).done(function (data) {
            if (data.success) {
                location.reload();
            } else {
                $('#code').val('');
                $('#agency1').val('').change();
            }
        });
    }

    function deleteCode(id) {
        if (confirm(String.format('삭제를 하시겠습니까?'))) {
            $.post(path + '/seller/joinCode/delete', {
                id: id
            }).done(function (data) {
                if (data.success) {
                    location.reload();
                }
            });
        }
    }

    function updateCode(id) {
        $.post(path + '/seller/joinCode/update', {
            id: id,
            memo: $('#memo_' + id).val(),
            enabled: $('#enabled_' + id).val()
        });
    }

</script>
</body>
</html>