@charset "utf-8";
@import url("http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");

/* RESET */
::selection {background:#00c1f4; color:#FFF}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
address, big, cite, code, del, dfn, em, font, img, ins,
q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:none 0; font-family:'Spoqa Han Sans', 'Sans-serif'; *font-family:Helvetica, sans-serif, Arial, Noto Sans KR, Dotum; font-weight:400}
h1, h2, h3, h4, h5, h6 {font-size:12px}
img, fieldset, iframe {border:0 none}
table, div {border-collapse: collapse; font-size:12px}
textarea {overflow:auto; outline-style:none; font-family:'Spoqa Han Sans', 'Sans-serif'; *font-family:Helvetica, sans-serif, Arial, Noto Sans KR, Dotum}
select, input, img, li {vertical-align:middle; text-align:left; font-size:12px; font-family:'Spoqa Han Sans', 'Sans-serif'; *font-family:Helvetica, sans-serif, Arial, Noto Sans KR, Dotum; font-weight:400; outline-style:none}
address, caption, cite, code, dfn, em, th, var {font-style:normal; font-weight:400}
ul, li, ol {list-style-type:none}
legend, caption {display:none}
hr {border-collapse:collapse; display:none}
a { text-decoration:none; cursor:pointer; color:#c7c7c7}
html, body {width:100%; height:100%; font-size:12px; color:#c7c7c7; background:#141414}
* {font-family:'Spoqa Han Sans', 'Sans-serif'; *font-family:Helvetica, sans-serif, Arial, Noto Sans KR, Dotum}

body {}

#login_wrap {position:fixed; width:100%; height:100%; overflow:hidden}
.video_bg {position:absolute; left:0; top:0; width:100%; background:#161616; overflow:hidden}
.umMovie {visibility:visible; margin:auto; min-width:100%; min-height:100%; opacity:0.5}
.video_filter {position:absolute; left:0; top:0; width:100%; height:100%; background:url('/img/patten_login_bg.png') repeat; opacity:0.5}

.cs_center {position:fixed; left:50%; bottom:30px; width:400px; margin-left:-200px; overflow:hidden; z-index: 9999;}
.cs_center > span {display:block; margin-bottom:15px; text-align:center; font-weight:bold; font-size:20px; color:#000; line-height:31px}
.cs_center > span > img {margin-right:12px}
.cs_center > em {display:block; text-align:center; color:#ababab}

.login_slate {position:fixed; left:0; top:0; width:100%; height:100%; transform:rotateY(360deg); transition:.5s}
.login_slate.active {transform:rotateY(180deg); opacity:0}
.login_area {}
.login_box {position:absolute; left:50%; top:50%; width:450px; height:550px; margin:-275px 0 0 -225px}
.login_box > h1 {margin:-50px 0 20px; text-align:center; opacity:0; filter:alpha(oapcity=0); transition:.3s all ease-out}
.login_box.active > h1 {margin-top:0; opacity:1; filter:alpha(oapcity=100)}
.login_box > h2 {margin:-20px auto 5px; text-align:center; font-weight:100; font-size:18px; color:#f4f4f4; letter-spacing:5px; overflow:hidden; opacity:0; filter:alpha(oapcity=0); transition:.3s all .2s ease-out}
.login_box.active > h2 {margin-top:0; opacity:1; filter:alpha(oapcity=100)}
.login_box > h3 {margin:-20px auto 20px; text-align:center; font-size:10px; color:#acacac; letter-spacing:0.15px; opacity:0; filter:alpha(opacity=0); transition:.3s all .4s ease-out}
.login_box.active > h3 {margin-top:0; opacity:1; filter:alpha(opacity=100)}
.login_box > var {display:block; width:1px; height:0; margin:0 auto 25px; background:#555; overflow:hidden; opacity:0; filter:alpha(opacity=0); transition:.3s all .6s ease-out}
.login_box.active > var {height:46px; opacity:1; filter:alpha(opacity=100)}
.login_box > h4 {position:relative; width:400px; margin:50px auto 10px; text-align:center; opacity:0; filter:alpha(opacity=0); transition:.3s all .8s ease-out}
.login_box > h4 > input {width:400px; padding:10px 0; text-align:center; font-weight:400; font-size:18px; color:#c0c0c0; background:rgba(0,0,00,1.00); border:2px solid #4b4b4b; border-radius:5px; transition:.3s all ease-out}
.login_box > h4 > input:focus {color:#fff; border:4px solid #00c1f4
}
.login_box > h4 > input::placeholder {font-weight:bold; color:#ffffff}
.login_box.active > h4 {margin:0 auto 10px; opacity:1; filter:alpha(opacity=100)}
.login_box > h5 {position:relative; width:400px; margin:50px auto 40px; text-align:center; opacity:0; filter:alpha(opacity=0); transition:.3s all 1s ease-out}
.login_box > h5 > input {width:400px; padding:10px 0; text-align:center; font-weight:400; font-size:18px; color:#c0c0c0; background:rgba(35,35,35,0.57); border:2px solid #4b4b4b; border-radius:5px; transition:.3s all ease-out}
.login_box > h5 > input:focus {color:#fff; border:2px solid #00c1f4
}
.login_box > h5 > input::placeholder {font-weight:bold; color:#ffffff}
.login_box.active > h5 {margin-top:0; opacity:1; filter:alpha(opacity=100)}
.login_box > h6 {margin:50px 0 0; text-align:center; opacity:0; filter:alpha(opacity=0); transition:.3s all 1.2s ease-out}
.login_box > h6 > span {display:inline-block; position:relative; width:191px; height:55px; text-align:center; font-weight:bold; font-size:15px; line-height:55px; background:none; border-radius:5px; cursor:pointer; opacity:1; filter:alpha(opacity=100); transition:.3s}
.login_box > h6 > span:first-child {margin-right:10px}
.login_box > h6 > span.login {color:#fff; border:2px solid #00c1f4
}
.login_box > h6 > span.join {color:#929292; border:2px solid #929292}
.login_box > h6 > span > em {display:block; position:absolute; left:0; top:0; width:0; height:100%; text-align:center; overflow:hidden; transition:.3s}
.login_box > h6 > span > code {display:block; position:absolute; left:0; top:0; width:100%; height:100%; text-align:center; font-weight:bold; font-size:15px; line-height:55px; overflow:hidden; transition:.2s;background:rgba(35,35,35,0.87); }
.login_box > h6 > span.login:hover > em {width:100%; background: #00c1f4
}
.login_box > h6 > span.join:hover > em {width:100%; background:#929292}
.login_box > h6 > span:hover > code {color:#FFF}
.login_box.active > h6 {margin-top:0; opacity:1; filter:alpha(opacity=100)}
.login_box.active > h1 > img {margin-top: -100px;margin-left: -10px;}

.join_area {display:none}
.join_box {position:absolute; left:50%; top:58%; width:821px; height:700px; margin:-400px 0 0 -410.5px; overflow:hidden; opacity:0; transform:rotateY(180deg); transition:.5s}
.join_box.active {opacity:1; transform:rotateY(360deg)}
.join_box > h1 {text-align:center; font-weight:100; font-size:32px; color:#FFF}
.join_box > h2 {margin-bottom:20px; text-align:center; color:#fff; letter-spacing:2px}
.join_box > h3 {margin-bottom:30px; text-align:center; font-size:13px; color:#fff}
.join_box > h4 {margin-bottom:40px; overflow:hidden}
.join_box > h4 > ul {float:left; width:410px; border-left:1px dashed #616161}
.join_box > h4 > ul.left {border-left:none}
.join_box > h4 > ul > li {position:relative; width:390px; margin:0 0 5px 20px; text-align:center; overflow:hidden; background:rgba(0,0,0,1.00);}
/*.join_box > h4 > ul > li.gap {margin-bottom:15px}*/
.join_box > h4 > ul > li.no_gap {margin-bottom:0}
.join_box > h4 > ul.left > li {margin:0 20px 5px 0}
/*.join_box > h4 > ul > li.gap {margin-bottom:15px}*/
.join_box > h4 > ul > li > input {width:361px; padding:10px 10px 10px 15px; font-weight:400; font-size:15px; color:#c0c0c0; background:rgba(35,35,35,0.57); border:2px solid #4b4b4b; border-radius:4px; transition:.3s all ease-out}
.join_box > h4 > ul > li > input.essential {width:351px; padding:10px 10px 10px 25px; background:url('/images/icon_important.png') no-repeat 10px}
.join_box > h4 > ul > li > input.bank_name {float:left; width:206px; margin-left:10px; padding:10px}
.join_box > h4 > ul > li > input.code {float:left; margin-right:5px}
.join_box > h4 > ul > li > input.captcha {/* float:left; */ width:216px; padding:10px; font-size:12px;margin-left:35px;}
.join_box > h4 > ul > li > input::placeholder {font-weight:bold; color: #ffffff}
.join_box > h4 > ul > li > input.captcha::placesholder {color:#a2a2a2}
.join_box > h4 > ul > li > input:focus {color:#fff; border:2px solid #00c1f4}
.join_box > h4 > ul > li > select {float:left; margin-left:10px; padding:10px 10px 10px 15px; font-weight:bold; font-size:15px; color:#c0c0c0; background:rgba(35,35,35,0.57); ; border:2px solid #4b4b4b; border-radius:4px; -webkit-appearance:none; -moz-appearance:none; appearance:none}
.join_box > h4 > ul > li > select::-ms-expand {display:none}
.join_box > h4 > ul > li > select.year {width:150px; margin-left:0; background:url('/img/bg_select_box.png') no-repeat 130px}
.join_box > h4 > ul > li > select.month {width:110px; background:url('/img/bg_select_box.png') no-repeat 90px}
.join_box > h4 > ul > li > select.day {width:110px; background:url('/img/bg_select_box.png') no-repeat 90px}
.join_box > h4 > ul > li > select.bank {width:390px; margin-left:0; background:url('/images/bg_select_box.png') no-repeat 360px}
.join_box > h4 > ul > li > select.cash {width:390px; margin-left:0; background:url('/img/bg_select_box.png') no-repeat 370px}
.join_box > h4 > ul > li > select option {background:#000}
.join_box > h4 > ul > li > select:focus::-ms-value {background-color:#000}
.join_box > h4 > ul > li > img {float:left; margin-right:25px}
.join_box > h4 > ul > li > span {color:#a2a2a2}
.join_box > h4 > ul > li > var {display:block; margin-top:20px; text-align:left; font-weight:bold; font-size:15px; color:#c0c0c0}
.join_box > h4 > ul > li > var.essential {padding-left:25px; background:url('/img/icon_important.png') no-repeat 10px}
.join_box > h4 > ul > li > code {display:block; position:absolute; right:10px; bottom:14px; width:21px; height:21px; background:url('/img/icon_confirm_box.png') no-repeat left bottom}
.join_box > h4 > ul > li > code.confirm {background:url('/img/icon_confirm_box_on.png') no-repeat left bottom}
.join_box > h4 > ul > li > dfn {display:inline-block; float:left; width:82px; height:42px}
.join_box > h4 > ul > li > dfn > span {display:inline-block; position:relative; width:82px; height:42px; font-size:15px; color:#fff; background:none; border:2px solid #00c1f4; border-radius:5px; cursor:pointer; opacity:1; filter:alpha(opacity=100); transition:.3s}
.join_box > h4 > ul > li > dfn > span > em {display:block; position:absolute; left:0; top:0; width:0; height:100%; text-align:center; overflow:hidden; transition:.3s}
.join_box > h4 > ul > li > dfn > span > code {display:block; position:absolute; left:0; top:0; width:100%; height:100%; text-align:center; font-size:15px; line-height:42px; overflow:hidden; transition:.2s}
.join_box > h4 > ul > li > dfn > span:hover > em {width:100%; background:#00c1f4}
.join_box > h4 > ul > li > dfn > span:hover > code {color:#FFF}
.join_box > h4 > ul > li > dl {overflow:hidden}
.join_box > h4 > ul > li > dl > dd {float:left; text-align:left}
.join_box > h4 > ul > li > dl.three > dd {width:33%}
.join_box > h4 > ul > li > dl.four > dd {width:25%}
.join_box > h4 > ul > li > dl > dd > span {display:inline-block; float:left; margin:2px 0 0 5px; font-size:15px; color:#c0c0c0}
.join_box > h5 {text-align:center}
.join_box > h5 > span {display:inline-block; position:relative; width:191px; height:55px; text-align:center; font-weight:bold; font-size:15px; line-height:55px; background:none; border-radius:5px; cursor:pointer; opacity:1; filter:alpha(opacity=100); transition:.3s}
.join_box > h5 > span:first-child {margin-right:10px}
.join_box > h5 > span.join {color:#fff; border:2px solid #00c1f4}
.join_box > h5 > span.cancel {color:#929292; border:2px solid #929292}
.join_box > h5 > span > em {display:block; position:absolute; left:0; top:0; width:0; height:100%; text-align:center; overflow:hidden; transition:.3s}
.join_box > h5 > span > code {display:block; position:absolute; left:0; top:0; width:100%; height:100%; text-align:center; font-weight:bold; font-size:15px; line-height:55px; overflow:hidden; transition:.2s; background:rgba(35,35,35,0.57);}
.join_box > h5 > span.join:hover > em {width:100%; background:#00c1f4}
.join_box > h5 > span.cancel:hover > em {width:100%; background:#929292}
.join_box > h5 > span:hover > code {color:#FFF}

.complete_area {display:none}
.complete_box {position:absolute; left:50%; top:50%; width:600px; height:350px; margin:-175px 0 0 -300px; overflow:hidden}
.complete_box > h1 {margin:-50px 0 10px; text-align:center; opacity:0; filter:alpha(oapcity=0); transition:.5s all ease-out}
.complete_box.active > h1 {margin-top:0; opacity:1; filter:alpha(oapcity=100)}
.complete_box > h2 {margin:100px auto 10px; text-align:center; font-size:38px; color:#FFF; opacity:0; filter:alpha(opacity=0); transition:.5s all .3s ease-out}
.complete_box.active > h2 {margin-top:50px; text-align:center; opacity:1; filter:alpha(opacity=100)}
.complete_box > h3 {margin:50px auto 30px; text-align:center; font-size:14px; color:#bcbcbc; opacity:0; filter:alpha(opacity=0); transition:.5s all .6s ease-out}
.complete_box.active > h3 {margin-top:0; text-align:center; opacity:1; filter:alpha(opacity=100)}
.complete_box > h4 {text-align:center; opacity:0; filter:alpha(opacity=0); transition:.3s all .9s ease-out}
.complete_box > h4 > span {display:inline-block; position:relative; width:191px; height:55px; text-align:center; font-weight:bold; font-size:15px; line-height:55px; background:none; border-radius:5px; cursor:pointer; opacity:1; filter:alpha(opacity=100); transition:.3s}
.complete_box > h4 > span:first-child {margin-right:10px}
.complete_box > h4 > span.main {color:#fff; border:2px solid #00c1f4}
.complete_box > h4 > span > em {display:block; position:absolute; left:0; top:0; width:0; height:100%; text-align:center; overflow:hidden; transition:.3s}
.complete_box > h4 > span > code {display:block; position:absolute; left:0; top:0; width:100%; height:100%; text-align:center; font-weight:bold; font-size:15px; line-height:55px; overflow:hidden; transition:.2s}
.complete_box > h4 > span.main:hover > em {width:100%; background:#00c1f4}
.complete_box > h4 > span:hover > code {color:#FFF}
.complete_box.active > h4 {margin-top:0; opacity:1; filter:alpha(opacity=100)}


.code_area {display:none}
.code_box {position:absolute; left:50%; top:50%; width:821px; height:800px; margin:-400px 0 0 -410.5px; overflow:hidden; opacity:0; transform:rotateY(180deg); transition:.5s}
.code_box.active {opacity:1; transform:rotateY(360deg)}
.code_box > h1 {margin-top:200px; text-align:center; font-weight:100; font-size:32px; color:#FFF}
.code_box > h2 {margin-bottom:20px; text-align:center; color:#fff; letter-spacing:2px}
.code_box > h3 {margin-bottom:30px; text-align:center; font-size:13px; color:#fff}
.code_box > h4 {margin-bottom:50px; margin-left:215px; overflow:hidden}
.code_box > h4 > input {width:361px; padding:10px 10px 10px 15px; font-weight:400; font-size:15px; color:#c0c0c0; background:rgba(35,35,35,0.57); border:2px solid #4b4b4b; border-radius:4px; transition:.3s all ease-out}
.code_box > h4 > input.essential {width:351px; padding:10px 10px 10px 25px; background:url('/img/icon_important.png') no-repeat 10px}
.code_box > h4 > input.code {float:left; width:352px; margin-right:5px; background:rgba(35,35,35,0.87);}
.code_box > h4 > input::placeholder {font-weight:bold; color:#ffffff}
.code_box > h4 > input:focus {color:#fff; border:2px solid #00c1f4}
.code_box > h4 > img {float:left; margin-right:25px}
.code_box > h4 > span {color:#a2a2a2}
.code_box > h4 > var {display:block; margin-top:20px; text-align:left; font-weight:bold; font-size:15px; color:#c0c0c0}
.code_box > h4 > var.essential {padding-left:25px; background:url('/img/icon_important.png') no-repeat 10px}
.code_box > h4 > code {display:block; position:absolute; right:10px; bottom:14px; width:21px; height:21px; background:url('/img/icon_confirm_box.png') no-repeat left bottom}
.code_box > h4 > code.confirm {background:url('/img/icon_confirm_box_on.png') no-repeat left bottom}
.code_box > h4 > dfn {display:inline-block; float:left; width:82px; height:42px}
.code_box > h4 > dfn > span {display:inline-block; position:relative; width:82px; height:42px; font-size:15px; color:#fff; background:none; border:2px solid #00c1f4; border-radius:5px; cursor:pointer; opacity:1; filter:alpha(opacity=100); transition:.3s}
.code_box > h4 > dfn > span > em {display:block; position:absolute; left:0; top:0; width:0; height:100%; text-align:center; overflow:hidden; transition:.3s}
.code_box > h4 > dfn > span > code {display:block; position:absolute; left:0; top:0; width:100%; height:100%; text-align:center; font-size:15px; line-height:42px; overflow:hidden; transition:.2s}
.code_box > h4 > dfn > span:hover > em {width:100%; background:#00c1f4}
.code_box > h4 > dfn > span:hover > code {color:#FFF}
.code_box > h4 > dl {overflow:hidden}
.code_box > h4 > dl > dd {float:left; text-align:left}
.code_box > h4 > dl.three > dd {width:33%}
.code_box > h4 > dl.four > dd {width:25%}
.code_box > h4 > dl > dd > input[type='checkbox'] {display:none}
.code_box > h4 > dl > dd > input[type='checkbox'] + label {float:left; width:28px; height:28px; background:url('/img/icon_check_box.png') no-repeat; border:none}
.code_box > h4 > dl > dd > input[type='checkbox']:checked + label {background:url('/img/icon_check_box_on.png') no-repeat}
.code_box > h4 > dl > dd > span {display:inline-block; float:left; margin:2px 0 0 5px; font-size:15px; color:#c0c0c0}
.code_box > h5 {text-align:center}
.code_box > h5 > span {display:inline-block; position:relative; width:191px; height:55px; text-align:center; font-weight:bold; font-size:15px; line-height:55px; background:none; border-radius:5px; cursor:pointer; opacity:1; filter:alpha(opacity=100); transition:.3s}
.code_box > h5 > span:first-child {margin-right:10px}
.code_box > h5 > span.join {color:#fff; border:2px solid #00c1f4}
.code_box > h5 > span.cancel {color:#929292; border:2px solid #929292}
.code_box > h5 > span > em {display:block; position:absolute; left:0; top:0; width:0; height:100%; text-align:center; overflow:hidden; transition:.3s}
.code_box > h5 > span > code {display:block; position:absolute; left:0; top:0; width:100%; height:100%; text-align:center; font-weight:bold; font-size:15px; line-height:55px; overflow:hidden; transition:.2s; background:rgba(35,35,35,0.57);}
.code_box > h5 > span.join:hover > em {width:100%; background:#00c1f4}
.code_box > h5 > span.cancel:hover > em {width:100%; background:#929292}
.code_box > h5 > span:hover > code {color:#FFF}

.speaker {
    z-index: 999999;
    cursor: pointer;
}