html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
table caption {
  display: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.ellipsis {
  display: inline-block;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}
.ui-tooltip {
  background: #ffd424 !important;
  color: #000 !important;
  font-weight: 600 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
html,
body {
  background-color: #000000;
  /*background-image: url("/images/main_bg.png");*/
  background-position: -250px -50px;
  padding: 0;
  margin: 0;
  color: #eee;
  font-size: 14px;
  -webkit-text-size-adjust: none;
}
a {
  color: #eee;
  font-size: 14px;
  text-decoration: none;
}
#gnb {
  position: fixed;
  /*background: #36312f;*/
  background-image: url("/images/gnbm_bg.jpg");
  background-position: 244px 0px;
  /*background-size:contain;*/
  top: 0;
  bottom: 0;
  left: -270px;
  width: 240px;
  height: 100%;
  /*-webkit-transition: all 0.4s ease-out;*/
  /*-o-transition: all 0.4s ease-out;*/
  /*transition: all 0.4s ease-out;*/
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 99;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  -webkit-overflow-scrolling: touch;
}
#gnb.on {
  left: 0;
}
#gnb_close {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -270px;
  width: 140px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 99;
}
#gnb_close.on {
  left: 236px;
}
#gnb .user-box {
  position: relative;
  height: 50px;
  line-height: 50px;
  background: rgba(0,0,0,0.5);
  padding-left: 40px;
}
#gnb .user-memo {
  position: relative;
  height: 40px;
  line-height: 40px;
  background: rgba(0,0,0,0.1);
  padding-left: 40px;
  border-top: solid 1px rgba(255,255,255,0.1);
  border-bottom: solid 1px rgba(255,255,255,0.1);
}
#gnb .user-memo .qna {
  display: inline-block;
  width: 104px;
}
#gnb .user-memo .btn {
  position: absolute;
  right: 30px;
  padding: 0;
  width: 80px;
  text-align: center;
  top: 7px;
  border-radius: 6px;
}
#gnb .user-memo .btn2 {
  position: absolute;
  left: 30px;
  padding: 0;
  width: 80px;
  text-align: center;
  top: 7px;
  border-radius: 6px;
}
#gnb .gnb-btn {
  overflow: hidden;
  border-top: solid 1px rgba(255,255,255,0.1);
  border-bottom: solid 1px rgba(0,0,0,0.2);
}
#gnb .gnb-btn div {
  width: 50%;
  padding: 15px 0;
  text-align: center;
}
#gnb .gnb-btn div .btn {
  padding: 0;
  text-align: center;
  width: 80px;
  border-radius: 5px;
}
#gnb .gnb-btn div.btn-deposit {
  padding-left: 5px;
  float: left;
}
#gnb .gnb-btn div.btn-withdraw {
  padding-right: 5px;
  float: right;
}
#gnb ul li {
  border-top: solid 1px rgba(255,255,255,0.1);
  border-bottom: solid 1px rgba(0,0,0,0.2);
}
#gnb ul li a {
  display: block;
  padding-left: 25px;
  height: 42px;
  line-height: 42px;
}
#gnb ul li.on {
  background: #222;
}
#league {
  /*background: #444648;*/
  background-image: url("/images/gnb-bg-mobile.jpg");
  background-position: inherit;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 200px;
  height: 100%;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 8;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 60px;
}
#league.on {
  left: calc(100% - 200px);
}
#league img {
  vertical-align: middle;
}
#league li {
  display: block;
}
#league ul {
  display: none;
}
#league ul.on {
  display: block;
}
#league p {
  width: 200px;
  padding: 0 10px;
  height: 38px;
  line-height: 38px;
  background: #363537;
  margin: 1px 0;
  font-size: 13px;
}
#league p .cnt {
  float: right;
  display: block;
  background-color: #dc0405;
  height: 18px;
  line-height: 18px;
  padding: 0 7px;
  border-radius: 10px;
  margin-top: 10px;
}
#league p.top {
  height: 40px;
  line-height: 40px;
  font-weight: 600;
  background: #262527;
}
#league p.top .cnt {
  margin-top: 12px;
}
#league p.title {
  height: 48px;
  line-height: 48px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
#league p.league {
  padding-left: 16px;
  background: #565658;
}
.container {
  padding-bottom: 50px;
}
header {
  position: relative;
  height: 72px;
  line-height: 50px;
  background: rgba(28, 63, 122, 0.6);
  padding: 0 10px;
  z-index: 7;
}
footer {
  position: relative;
  height: 50px;
  line-height: 50px;
  background: rgba(28, 63, 122, 0.6);
  padding: 0 10px;
  z-index: 7;
}
header h1,
footer h1 {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}
.user-info {
  height: 40px;
  line-height: 40px;
  /*background: #272e3e;*/
  padding: 0 10px;
}
.user-info .user-name {
  float: left;
}
.user-info .user-point {
  float: right;
}
.user-info .user-point .money em {
  font-weight: 600;
  font-size: 16px;
  color: #FFD700;
}
.user-info .user-point .point em {
  font-weight: 600;
  font-size: 16px;
  color: #499bc0;
}
.user-info .user-point .btn {
  font-size: 13px;
}
.user-info .money {
  background: url("/images/icon_money.png") left center no-repeat;
  padding-left: 18px;
}
.user-info .point {
  margin-left: 10px;
  background: url("/images/icon_point.png") left center no-repeat;
  padding-left: 18px;
}
.user-id {
  font-weight: 600;
  font-size: 12px;
  color: #ec9c29;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 10px;
}
footer em {
  display: inline-block;
  background: #e6a747;
  padding: 0 10px;
  height: 26px;
  line-height: 26px;
  border-radius: 20px;
}

#btn-menu,
#btn-close,
#btn-home {
  position: absolute;
  display: block;
  width: 92px;
  height: 40px;
  top: 5px;
  right: 10px;
  background-size: 40px ;
  text-indent: -999px;
}
#btn-cart {
  position: absolute;
  display: block;
  width: 60px;
  height: 40px;
  top: 0px;
  right: 10px;
}

#btn-cart#btn-menu,
#btn-menu#btn-menu,
#btn-close#btn-menu,
#btn-home#btn-menu {
  right: auto;
  left: -13px;
  /*background: url("/images/m/btn-menu.png") center center no-repeat;*/
  background: url("/images/m/icon/navicon-round.png") center center no-repeat;
  background-size: 40px ;
}
#btn-cart#btn-close,
#btn-menu#btn-close,
#btn-close#btn-close,
#btn-home#btn-close {
  background: url("/images/m/icon/close02.png") center center no-repeat;
  background-size: 20px;
}
#btn-cart#btn-home,
#btn-menu#btn-home,
#btn-close#btn-home,
#btn-home#btn-home {
  background: url("/images/m/icon/ios7-keypad-outline.png") center center no-repeat;
  background-size: 40px ;
  right: -20px;
}
#layout-wrap {
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 998;
  left: 0;
  top: 0;
}
#layout-box {
  top: 50%;
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 999;
  height: 546px;
  margin-top: -286px;
  margin-bottom: 200px;
}
#layout-box img {
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  -o-transform: scale(0.85);
  transform: scale(0.85);
  display: block;
  margin: 20px auto;
}
.paging {
  text-align: center;
  padding: 28px 0;
  margin: 0 auto;
  clear: both;
}
.paging a,
.paging em {
  display: inline-block;
  height: 30px;
  line-height: 28px;
  width: auto;
  padding: 0;
  text-align: center;
  border: solid 1px #444;
}
.paging a.prev,
.paging em.prev {
  float: left;
  width: 36%;
  margin-right: 10px;
  background: gray-darker;
  border-radius: 15px;
}
.paging a.next,
.paging em.next {
  float: right;
  width: 36%;
  margin-left: 10px;
  background: gray-darker;
  border-radius: 15px;
}
.paging em {
  border: none;
}
@media (orientation: landscape) {
  #login .login-wrap {
    top: 0 !important;
    margin-top: 0 !important;
  }
  #layout-box {
    top: 50px !important;
    margin-top: 0 !important;
  }
  td.land {
    display: table-row;
  }
}
#league-btn,
#btn-top,
#btn-reload {
  position: fixed;
  width: 50px;
  height: 50px;
  line-height: 50px;
  right: 10px;
  background: #f00;
  opacity: 0.6;
  border-radius: 5px;
  text-shadow: -1px -1px 1px rgba(0,0,0,0.6);
  -webkit-box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
  box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
  border: solid 1px rgba(255,255,255,0.1);
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  text-align: center;
  font-weight: 600;
  color: #fff;
}
#league-btn {
  z-index: 8;
  bottom: 120px;
}
#league-btn.on {
  right: 200px;
  opacity: 1;
}
#btn-reload {
  background: url("/images/icon-reload.png") center center no-repeat #565658;
  z-index: 8;
  opacity: 0.8;
  bottom: 120px;
  right: 70px;
}
#btn-top {
  bottom: 60px;
  background: #565658;
  opacity: 0;
}
#btn-top.show {
  opacity: 0.8;
}
.btn {
  cursor: pointer;
  display: inline-block;
  background: #827171;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  color: #fff;
}
.btn.on {
  background: #262527;
}
.btn2 {
  cursor: pointer;
  display: inline-block;
  background: #222936;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  color: #fff;
}
.btn2.on {
  background: #262527;
}
.btn-big {
  margin-bottom: 4px;
  display: block;
  width: 100%;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  background: #222936;
}
.btn01 {
  background: #222936;
}
.btn01.on {
  background: #004777;
}
.btn02 {
  background: #5065a1;
}
.btn02.on {
  background: #9b3000;
}
.btn03 {
  background: #357920;
}
.btn03.on {
  background: #900a08;
}
.btn04 {
  background: #ca0000;
}
.btn04.on {
  background: #900a08;
}
.btn05 {
  background: #cac306;
  color: #000;
  font-weight: bolder;
}
.btn05.on {
  background: #908b01;
  color: #000;
  font-weight: bolder;
}
.color0 {
  color: #fff !important;
}
.color01 {
  color: #5bc0de !important;
}
.color02 {
  color: #ee5f5b !important;
}
.color03 {
  color: #f89406 !important;
}
.color04 {
  color: #62c462 !important;
}
.color05 {
  color: #ffd424 !important;
}
.color11 {
  color: crimson;
}
.color22 {
  color: #ffd700 !important;
}
.color33 {
  color: #2e71b7 !important;
}
.color44 {
  color: #118307 !important;
}
.color55 {
  color: #a62eee !important;
}
.main {
  /*padding-bottom: 80px;*/
}
.main h2 {
  text-align: center;
  font-size: 60px;
  font-family: font-eng;
  font-weight: 800;
  text-shadow: 1px 1px 20px #000;
}
.main .main-menu {
  text-align: center;
}
.main .main-menu a {
  font-size: 12px;
  opacity: 0.8;
  display: inline-block;
  /*margin: 4px 2px;*/
  /*padding-top: 18px;*/
  border-radius: 10px;
  /*-webkit-box-shadow: inset 0 0 10px 1px rgba(0,0,0,0.5);*/
  /*box-shadow: inset 0 0 10px 1px rgba(0,0,0,0.5);*/



}
main.page {
  padding: 0px;
}
main.page h2 {
  font-size: 16px;
}
.tab-sports {
  margin-bottom: 10px;
}
.box {
  -webkit-box-shadow: inset 0 0 10px 1px rgba(255,255,255,0.5);
  box-shadow: inset 0 0 10px 1px rgba(255,255,255,0.5);
  background: rgba(0,0,0,0.6);
  border-radius: 10px;
  padding: 20px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.box h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.box h4 {
  font-size: 16px;
  margin-bottom: 10px;
}
.box h5 {
  font-size: 14px;
  margin-bottom: 10px;
}
.event {
  padding: 20px;
  background: #ffd424;
  border-radius: 10px;
  color: #000;
  margin-bottom: 20px;
}
.amount {
  text-align: center;
  margin-bottom: 20px;
}
.amount .btn {
  width: 24%;
  height: 36px;
  line-height: 36px;
  margin: 1px -1px;
  padding: 0;
  text-align: center;
}
.command {
  margin-bottom: 20px;
}
.command .btn {
  width: 100%;
}
.wrap label {
  display: block;
  position: relative;
  margin-bottom: 10px;
}
.wrap label span {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}
input,
select,
textarea {
  color: #fff;
  width: 100%;
  padding: 0 15px;
  height: 44px;
  font-size: 14px;
  border-radius: 4px;
  margin-bottom: 4px;
  border: solid 1px #444;
  background: rgba(0,0,0,0.5);
}
textarea {
  padding: 15px;
  height: 200px;
}
img {
  vertical-align: middle;
}
.pc {
  padding: 10px;
}
.memo-cnt {
  display: inline-block;
  padding: 0 7px;
  height: 20px;
  line-height: 20px;
  background: #ef9c29;
  border-radius: 10px;
  font-size: 13px;
}
.lv {
  display: inline-block;
  background: #623c3c;
  height: 20px;
  line-height: 20px;
  width: 36px;
  color: #fff;
  text-align: center;
  margin-right: 10px;
  font-size: 12px;
  border-radius: 2px;
}
.tab-menu {
  width:100%;
  height: 50px;
  border-bottom: solid 1px #3a3e41;
  overflow-y: hidden;
  overflow-x: scroll;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.tab-menu .tab-menu-wrap {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  font-size: 0;
}
.tab-menu .tab-menu-wrap a {
  width: 20%;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: linear-gradient(to bottom, #414b4d, #11161a 100%);
}
.tab-menu .tab-menu-wrap a.on {
  background: #2a2f35;
  -webkit-box-shadow: inset 0 0 6px 2px rgba(0,0,0,0.8);
  box-shadow: inset 0 0 6px 2px rgba(0,0,0,0.8);
}
.tab-menu2 {
  text-align: center;
  width: 100%;
  border-bottom: solid 1px rgba(0,0,0,0.5);
  background: rgba(0,0,0,0.5);
  display: table;
}
.tab-menu2 a {
  display: table-cell;
  width: 18%;
  height: 40px;
  line-height: 40px;
}
.tab-menu2 a.on {
  color: #ee5f5b;
}
#layout-load {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  z-index: 999;
}
ul.list {
  margin-bottom: 20px;
  margin-top: 10px;
}
ul.list li {
  border-bottom: solid 1px rgba(255,255,255,0.1);
  display: block;
  padding: 7px 0;
}
ul.list li.notice {
  padding-left: 10px;
  background-color: #562101;
}
ul.list li .title {
  line-height: 1.6;
  padding-bottom: 10px;
}
ul.list li .title2 {
  display: flex;
}
ul.list li .title2 div.num {
  padding-top: 19px;
  padding-left: 10px;
  padding-right: 10px;
}
ul.list li .title2 div.bar {
  border-right: 1px solid;
  border-color: #4a4743;
}
ul.list li .title2 div.text {
  height: 55px;
  padding-left: 10px;
}
ul.list li .title2 p.t_title {
  padding-top:5px;
}
ul.list li .title2 p.t_sub {
  padding-top:10px;
}
ul.list li .title .hit {
  color: #ee5f5b;
}
ul.list li .title2 .hit {
  color: #ee5f5b;
}
ul.list li .title .new,
ul.list li .title .bet {
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  color: #fff;
  margin: 0 1px;
  text-align: center;
  font-size: 10px;
  font-family: Arial;
}
ul.list li .title .new.new,
ul.list li .title .bet.new {
  background-color: #c8232c;
}
ul.list li .title .new.bet,
ul.list li .title .bet.bet {
  background-color: #389638;
}
ul.list li .title2 .new.new,
ul.list li .title2 .bet.new {
  background-color: #c8232c;
}
ul.list li .title2 .new.bet,
ul.list li .title2 .bet.bet {
  background-color: #389638;
}
ul.list li .date {
  padding-right: 10px;
  float: right;
}
ul.list li .label {
  display: inline-block;
  background: #ff1322;
  height: 20px;
  line-height: 20px;
  padding: 0;
  margin: 0;
  width: 70px;
  border-radius: 0;
  color: #fff;
  text-align: center;
}
ul.list li.contents {
  padding: 0;
  background: #444;
  display: none;
}
ul.list li.contents h5 {
  font-size: 15px;
  padding: 10px;
  line-height: 1.6;
  background: rgba(0,0,0,0.5);
}
ul.list li.contents p {
  padding: 20px 10px;
  position: relative;
  line-height: 1.6;
}
ul.list li.contents p .btn {
  position: absolute;
  right: 10px;
  top: 10px;
}
ul.list li {
  /*background: #222936;*/
  border-radius: 5px;
  padding: 5 8px;

}
.cal-title {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.cal-title span {
  display: inline-block;
  font-size: 24px;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  padding: 0 20px;
}
.cal-title .btn {
  padding: 0;
  width: 60px;
}
ul.calendar {
  width: 100%;
  display: block;
  margin-left: 4px;
}
ul.calendar li {
  display: table-cell;
  float: left;
  width: 14.28%;
  border: solid 1px #272b30;
  margin-left: -1px;
  margin-top: -1px;
  height: 70px;
  background: #30353c;
  text-align: right;
  padding: 10px;
  font-size: 16px;
}
ul.calendar li.blank {
  background: none;
}
ul.calendar li.check {
  background: url("/images/check.png") center 24px no-repeat #30353c;
  background-size: 35px 36px;
}
ul.calendar li:nth-child(7n + 1) {
  color: #f30;
}
ul.calendar li:nth-child(7n + 0) {
  color: #48f;
}
ul.calendar li.th {
  background: #1f2226;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: 600;
  padding: 0;
}
table {
  opacity: 0.8;
  width: 100%;
  border-collapse: separate;
  table-layout: fixed;
  border-top: solid 1px rgba(255,255,255,0.2);
}
table th,
table td {
  vertical-align: middle;
  text-align: center;
  border: solid 1px rgba(255,255,255,0.2);
  height: 34px;
}
table th.land,
table td.land {
  display: none;
}
table th {
  font-size: 12px;
  height: 38px;
  background: #562101;
}
table.view {
  -webkit-box-shadow: none;
  box-shadow: none;
}
table.view th {
  text-align: left;
}
table.view th p {
  font-size: 15px;
  padding: 10px 0;
  line-height: 1.6;
}
table.view td {
  background: none;
  border-bottom: solid 1px #464547;
  padding: 10px 20px;
}
table.view td .date {
  display: block;
  height: 20px;
  line-height: 20px;
  background: url("/images/icon_time.png") left center no-repeat;
  padding-left: 16px;
  float: right;
}
table.view td.contents,
table.view td.user {
  text-align: left;
  padding: 10px 0;
  line-height: 1.6;
}
.comment textarea {
  width: calc(100% - 80px);
  height: 80px;
}
.comment .btn {
  float: right;
  width: 80px;
  height: 80px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 0 4px 4px 0;
}
.comments > div {
  overflow: hidden;
  border-bottom: solid 1px rgba(255,255,255,0.1);
  padding: 10px;
}
.comments > div .date {
  margin-top: 6px;
  display: block;
  height: 20px;
  line-height: 20px;
  background: url("/images/icon_time.png") left center no-repeat;
  padding-left: 16px;
}
.comments > div .user {
  float: left;
  width: 160px;
}
.comments > div .title {
  position: relative;
  padding-left: 160px;
}
.comments > div .title p {
  color: #fff;
  line-height: 1.6;
}
.comments > div .title .icon_delete {
  position: absolute;
  right: 0;
  top: 0;
  width: 21px;
  height: 21px;
  background: url("/images/icon_delete.png") center center no-repeat #dc0405;
}
table.game {
  border: none;
}
table.game tbody.group:before {
  content: '';
  display: block;
  height: 15px;
  background: none;
}
table.game tr.off td.bet {
  background: #464547 !important;
}
table.game td {
  border-radius: 6px;
  height: auto;
  padding: 6px;
  font-size: 12px;
  border-left: solid 1px rgba(255,255,255,0.1);
  border-top: solid 1px rgba(255,255,255,0.1);
  border-right: solid 1px rgba(0,0,0,0.8);
  border-bottom: solid 1px rgba(0,0,0,0.8);
}
table.game td .ellipses {
  width: 100%;
  display: block;
  overflow: hidden;
  /*white-space: nowrap;*/
  /*text-overflow: ellipsis;*/
}
table.game td.home {
  height:46px;
  display: flex;
  color: #fff;
  text-align: left;
}
table.game td.home .odds {
  display: block;
  text-align: right;
  font-weight: 600;
  color: #ee5f5b;
}
table.game td.draw {
  height:46px;
  padding: 0;
}

table.game td.draw .odds {
  position: relative;
  top: -10px;
  font-weight: 600;
  color: #ee5f5b;
}

table.game td.draw .bet {
  color: #ee5f5b;
  font-weight: 600;
}

table.game td.ou {
  background-color: #161617 ;
}
table.game td.handicap {
  background-color: #161617 ;
}

table.game td.away {
  height:46px;
  display: flex;
  color: #fff;
  text-align: left;
}
table.game td.away .odds {
  padding-right:4px;
  display: block;
  text-align: left;
  font-weight: 600;
  color: #ee5f5b;
}
table.game td.off {
  background: #222;
}
table.game td.bet {
  position: relative;
  background: #353535;
}
table.game td.bet p {
  margin-bottom: 6px;
}
table.game td.bet a {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
table.game td.bet2 {
  position: relative;
  background: #585858;
}
table.game td.bet2 p {
  margin-bottom: 6px;
}
table.game td.bet2 a {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
table.game td.bet2 on {
  background: #7584b7;
}
table.game td.on {
  background: #e7c223;
  color: #000;
}
table.game td.on * {
  color: #000;
}
table.game td.hit {
  -webkit-box-shadow: inset 0 0 0 1px #fff;
  box-shadow: inset 0 0 0 1px #fff;
}
table.game td .odds .over {
  background: url("/images/icon_over.gif") left center no-repeat;
  padding-left: 12px;
  font-weight: normal;
}
table.game td .odds .under {
  background: url("/images/icon_under.gif") right center no-repeat;
  padding-left: 12px;
  font-weight: normal;
}
table.game td .odds .handy {
  font-weight: normal;
  color: #62c462;
}

table.game td .odds .l_handy {
  padding-right:3px;
  font-weight: normal;
  color: #62c462;
}

table.game td .odds .r_handy {
  padding-left:3px;
  font-weight: normal;
  color: #62c462;
}

table.game td.score {
  line-height: 20px;
  color: #fff;
  /*-webkit-box-shadow: inset 0 0 40px 1px #000;*/
  /*box-shadow: inset 0 0 40px 1px #000;*/
  padding: 0;
  background-color: #1b212b;
}
table.game .toneDown {
  background: #222936;
}
table.game .league {
  text-align: left;
  background: #1a1d2c;
  height: 38px;
  border: none;
}
table.game .league p {
  display: inline-block;
}
table.game .league p .date {
  color: #ffd424;
  padding-left: 10px;
}
table.game .league .btn {
  float: right;
  position: relative;
  padding: 0;
  width: 35px;
  text-align: center;
  font-size: 13px;
  height: 24px;
  line-height: 24px;
  border-radius: 5px;
}
table.game .league .btn em {
  /*background: rgba(0,0,0,0.5);*/
  position: absolute;
  right: 1px;
  top: 1px;
  height: 22px;
  line-height: 22px;
  width: 40px;
  padding-right: 6px;
  text-align: right;
}
table.game .league .date {
  float: right;
  display: block;
  height: 24px;
  /*line-height: 24px;*/
}
table.game .league .rest-time {
  float: right;
}
table.game .betInfo {
  background-color: #2a2a2a;
  line-height: 1px;
  border: none;
  text-align: left;
  /*padding: 10px 0 20px 0;*/
}
table.game .betInfo p {
  display: inline-block;
  width: 49%;
  color: #fff;
  line-height: 1.6;
}
table.game .betInfo p .hit {
  color: #54b0cb;
  /*color: #f60;*/
}
table.game .betInfo p .noHit {
  color: #f60;
}
table.game .betInfo p .win {
  color: #54b0cb;
}
table.game .betInfo p .lose {
  color: #e75f03;
}
table.game .betInfo .btn-box {
  text-align: center;
  margin-top: 10px;
}
.zone {
  padding: 10px 0;
}
.zone .timer {
  padding: 10px;
  overflow: hidden;
  border: solid 4px rgba(255,255,255,0.15);
  border-radius: 10px;
  margin-bottom: 20px;
}
.zone .timer em {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #aaa;
}
.zone .timer .timer-box {
  display: inline-block;
  float: right;
}
.zone .timer .flip-clock-divider .flip-clock-label {
  display: none;
}
#zoneBox {
  position: relative;
  overflow: hidden;
}
#zoneBox > div {
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -moz-transform-origin
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
#zoneButton {
  margin: 0 auto;
  width: 100%;
  padding: 4px 5px;
  background: #bbb;
  border: solid 1px #acacac;
  border-radius: 4px;
  text-align: left;
}
#zoneButton a {
  display: inline-block;
  color: #222;
  font-weight: 600;
  text-shadow: 1px 1px 1px #fff;
  padding: 0 20px;
  height: 22px;
  line-height: 20px;
  text-align: center;
  border: solid 1px transparent;
}
#zoneButton a.on,
#zoneButton a:hover {
  background: #197d5f;
  border-color: #116249;
  border-radius: 3px;
  color: #fff;
  text-shadow: none;
}
#cart-wrap {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 50px;
  background: #000;
  z-index: 9;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#cart-wrap.on {
  height: 70%;
  border-top:2px solid;
}
#cart-wrap .cart-slip {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
#cart-wrap footer {
  position: relative;
}
#cart-wrap .cart-item > div {
  position: relative;
  padding: 10px;
  border-top: solid 1px rgba(255,255,255,0.1);
  border-bottom: solid 1px rgba(0,0,0,0.3);
  overflow: hidden;
}

#cart-wrap .cart-item .bet_home {
  background: #0d4676;
}
#cart-wrap .cart-item .bet_draw {
  background: #0d4676;
}
#cart-wrap .cart-item .bet_away {
  background: #0d4676;
}
#cart-wrap .cart-item > div p {
  height: 24px;
  line-height: 24px;
}
#cart-wrap .cart-item > div.bonus p {
  width: 100%;
  text-align: center;
  color: #ee5f5b;
}
#cart-wrap .cart-item > div .team {
  float: left;
}
#cart-wrap .cart-item > div .team img {
  vertical-align: middle;
}
#cart-wrap .cart-item > div .odds {
  color: #fff;
  float: right;
  padding-right: 36px;
}
#cart-wrap .cart-item > div .btn {
  background: #b90304;
  position: absolute;
  right: 10px;
  top: 12px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  padding: 0;
  text-align: center;
}
#cart-wrap .cart-odds {
  padding: 10px;
  border-top: solid 1px rgba(255,255,255,0.1);
  border-bottom: solid 1px rgba(0,0,0,0.3);
}
#cart-wrap .cart-odds p {
  height: 24px;
  line-height: 24px;
}
#cart-wrap .cart-odds p span {
  float: right;
}
#cart-wrap .cart-odds p span em {
  color: #ffd700;
}
#cart-wrap .cart-odds p span input {
  width: 100px;
  height: 20px;
  background: #fff;
  border: 0;
  padding: 0;
  border-radius: 0;
  outline: 0;
  text-align: right;
  color: #DC143C;
  font-weight: bolder;
}
#cart-wrap .cart-amount {
  padding: 10px;
  overflow: hidden;
}
#cart-wrap .cart-amount li {
  float: left;
  width: 25%;
  padding: 1px;
}
#cart-wrap .cart-amount .btn {
  float: left;
  width: 100%;
  height: 36px;
  line-height: 36px;
  text-align: center;
}
#cart-wrap .cart-amount .btn2 {
  float: left;
  width: 100%;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 10px;
  background-color: #025498;
}
#cart-wrap .cart-betting {
  padding: 0 10px;
}
.ladder-result {
  background: url("/images/ladder-result.png");
  display: inline-block;
  width: 26px;
  height: 26px;
}
.ladder-result.s1 {
  background-position: 0 0;
}
.ladder-result.s2 {
  background-position: -26px 0;
}
.ladder-result.s3 {
  background-position: -52px 0;
}
.ladder-result.s4 {
  background-position: -78px 0;
}
.lowhi-result {
  background: url("/images/lowhi-result.png");
  display: inline-block;
  width: 50px;
  height: 25px;
}
.lowhi-result.s1 {
  background-position: 0 0;
}
.lowhi-result.s2 {
  background-position: -50px 0;
}
.lowhi-result.s3 {
  background-position: -100px 0;
}
.lowhi-result.s4 {
  background-position: -150px 0;
}
#timer {
  line-height: 1;
  width: 150px;
  text-align: center;
  text-shadow: 0 1px 2px #000;
  font-size: 22px;
  font-weight: 600;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
#timer div,
#timer span {
  display: block;
  width: 30px;
  height: 36px;
  line-height: 36px;
  background: #333;
  float: left;
  border-radius: 4px;
  margin-left: 4px;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.7);
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.7);
  color: #ccc;
}
#timer > span {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 10px;
  color: #333;
  margin-left: 4px;
}
#login .login-wrap {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -250px;
  padding: 30px 20px;
}
#login .login-wrap.login-join {
  top: 0;
  margin-top: 0;
}
#login h1 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #fff;
}
#login label {
  position: relative;
}
#login label p {
  font-size: 12.5px;
  padding-bottom: 10px;
  line-height: 1.4;
}
#login label .bul {
  position: absolute;
  right: 10px;
  top: 2px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/images/btn_join.png") center left no-repeat;
}
#login label .bul.bul-ready {
  background-position: -20px 0;
}
#login label .bul.bul-error {
  background-position: -40px 0;
}
#login .command {
  margin-top: 20px;
}
#login .btn-login {
  background: #59a735;
}
#login .btn-join {
  border: 1px solid #aaa;
}
#login .copyright {
  text-align: center;
  margin-top: 40px;
  font-size: 11px;
  color: #888;
}
#login .copyright span {
  color: #ccc;
}
.spinner {
  width: 20px;
  height: 20px;
  background-color: #ee3729;
  -webkit-animation: sk-rotate 1.6s infinite ease-in-out;
  -o-animation: sk-rotate 1.6s infinite ease-in-out;
  animation: sk-rotate 1.6s infinite ease-in-out;
}
.loading {
  width: 100px;
  height: 100px;
  background: url("/images/m/loading.png") center center no-repeat;
  -webkit-animation: sk-span 2s infinite linear;
  -o-animation: sk-span 2s infinite linear;
  animation: sk-span 2s infinite linear;
}
@-webkit-keyframes sk-rotate {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}
@-moz-keyframes sk-rotate {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@-webkit-keyframes sk-rotate {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@-o-keyframes sk-rotate {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@keyframes sk-rotate {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@-moz-keyframes sk-span {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
  }
}
@-webkit-keyframes sk-span {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes sk-span {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
  }
}
@keyframes sk-span {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
  }
}

.sideTopIcon{
  padding-bottom:3px;
}

.sideIcon{
  padding-bottom:3px;
  padding-right:20px;
}

.mainIcon{
  padding-top:14px;
}

.inputCheckbox{
  vertical-align: middle;
  width:18px;
  height: 15px;
}

.vAlign{
  vertical-align: middle;
}

.li_color {
  background-color: #111522;
}

.li_color1 {
  background-color: #111522;
}

.li_color2{
  background-color: #222936;
}

.betListTh {
  border-radius: 5px;
  background-color: #bf0000;
}

.powerToggle{
  color: #fff;
  width:140px;
  height: 25px;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  background: #091f36;
}

.lotto_cnt {
  text-align: center;
  font-size: 50px;
}

.lotto_button {
  text-align: center;
}

.lotto_config {

}

.lotto_config ul{
  list-style: none;
}

.lotto_config ul li{
  float: left;
  padding-right: 10px;
}
.kenoBlindBox {
  position: absolute;
  background-color: #0f1121;
  width: 247px;
  height: 485px;
  top: 119px;
  left: 16px;
  border-radius: 10px;
}
.powerBlindBox {
  position: absolute;
  background-color: #0f1121;
  width: 247px;
  height: 485px;
  top: 174px;
  left: 16px;
  border-radius: 10px;
  margin-top: -35px;
}
.bogleLadderBlindBox {
  position: absolute;
  background-color: #134151;
  width: 190px;
  height: 438px;
  top: 152px;
  left: 53px;
  border-radius: 10px;
  margin-top: -35px;
}
.boglePowerBlindBox {
  position: absolute;
  background-color: #47301d;
  width: 190px;
  height: 438px;
  top: 152px;
  left: 53px;
  border-radius: 10px;
  margin-top: -35px;
}
.fxGameBlindBox {
  position: absolute;
  background-color: #583d2e;
  width: 188px;
  height: 462px;
  top: 80px;
  left: 40px;
  border-radius: 10px;
  margin-top: 25px;
}
.powerLadderBlindBox {
  position: absolute;
  background-color: #0d1122;
  width: 236px;
  height: 475px;
  top: 121px;
  left: 21px;
  border-radius: 10px;
  margin-top: 25px;
}
.powerFreekickBlindBox {
  position: absolute;
  background-color: #0c2f5d;
  width: 230px;
  height: 492px;
  top: 191px;
  left: 27px;
  border-radius: 10px;
  margin-top: 25px;
}

.inGame01 {
  background-color: #25765c;
}

.inGame02 {
  background-color: #666666;
}

.inGame03 {
  background-color: #585858;
}

ul.sportsList {
  width: 100%;
  display: block;
  margin-left: 4px;
}
ul.sportsList li {
  display: table-cell;
  float: left;
  width: 32%;
  border: solid 1px #272b30;
  margin-left: 2px;
  margin-top: 2px;
  height: 32px;
  background: #30353c;
  text-align: center;
  padding: 10px;
  font-size: 12px;
}
ul.sportsList li.blank {
  background: none;
}
ul.sportsList li.check {
  background: url("/images/check.png") center 24px no-repeat #30353c;
  background-size: 35px 36px;
}
ul.sportsList li.th {
  background: #1f2226;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: 600;
  padding: 0;
}

.mainTopBtn {
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
  background-image: linear-gradient(to bottom, #2c2c2c, #4e4e4e);
  border-color: #0a0a0a;
}





.btn-zone-arr {
  text-align: center;
  background: rgba(0,0,0,0.2);
  border: solid 1px #000;
  margin-top: 5px;
  padding: 5px;
  vertical-align: text-top;
}


.ui-button_red, .ui-button_gray, .ui-button_gray2, .ui_btn_green, .ui_btn_gray, .ui_btn_blue, .ui_btn_red, .ui_btn_yellow { cursor: pointer; text-shadow: 0 1px 3px rgba(0,0,0,0.9); color: #fff; box-shadow: inset 0 2px 0px 0 rgba(255,255,255,0.3);  font-size: 12px; border: solid 1px #000000; margin: 1px; font-weight: 700px; font-weight: bold; vertical-align: middle;  background-size: contain; padding:0px 20px; transition:0.2s; height:34px; line-height:34px; display:inline-block; vertical-align:middle; box-shadow: 0 3px 2px rgba(0,0,0,0.3); }
button.ui-button_red, button.ui-button_gray, button.ui-button_gray2, button.ui_btn_green, button.ui_btn_gray, button.ui_btn_blue, button.ui_btn_red, button.ui_btn_yellow { padding: 0px 21px; height:36px; line-height:36px; display:inline-block; vertical-align:middle; box-shadow: 0 3px 2px rgba(0,0,0,0.3); }
.ui-button_red { background: url(/images/btn-red.png?1); }
.ui-button_red:hover { position: relative;  background-position:0 -42px; box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3); text-shadow: 0 -1px 3px rgba(0,0,0,0.9); }
.ui-button_red:active { position: relative;  }
.ui-button_gray { background: url(/images/btn-gary.png?1); }
.ui-button_gray:hover { position: relative;  background-position:0 -42px; box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3); text-shadow: 0 -1px 3px rgba(0,0,0,0.9); }
.ui-button_gray:active { position: relative;  }
.ui-button_gray2 { background: url(/images/btn-gary.png?1); }
.ui-button_gray2:hover { position: relative;  background-position:0 -42px; box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3); text-shadow: 0 -1px 3px rgba(0,0,0,0.9); }
.ui-button_gray2:active { position: relative; top: 2px; }
.ui_btn_green { background: url(/images/btn-green.png?1); }
.ui_btn_green:hover { position: relative;  background-position:0 -42px; box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3); text-shadow: 0 -1px 3px rgba(0,0,0,0.9); }
.ui_btn_green:active { position: relative;  }
.ui_btn_red { background: url(/images/btn-red.png?1); }
.ui_btn_red:hover { position: relative;  background-position:0 -42px; box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3); text-shadow: 0 -1px 3px rgba(0,0,0,0.9); }
.ui_btn_red:active { position: relative;  }
.ui_btn_gray { background: url(/images/btn-gary.png?1); }
.ui_btn_gray:hover { position: relative;  background-position:0 -42px; box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3); text-shadow: 0 -1px 3px rgba(0,0,0,0.9); }
.ui_btn_gray:active { position: relative;  }
.ui_btn_blue { background: url(/images/btn-blue.png?1); }
.ui_btn_blue:hover { position: relative;  background-position:0 -42px; box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3); text-shadow: 0 -1px 3px rgba(0,0,0,0.9); }
.ui_btn_blue:active { position: relative;  }
.ui_btn_yellow{ background: url(/images/btn-yellow.png?1); }
.ui_btn_yellow:hover { position: relative;  background-position:0 -42px; box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3); text-shadow: 0 -1px 3px rgba(0,0,0,0.9); }
.ui_btn_yellow:active { position: relative;  }


.betting_lock p { position: absolute; top: 620px; left: 0px; right: 0; bottom: -600px; background: rgba(0,0,0,0.7); z-index: 70; margin: 0;height: 1230px;}
.betting_lock .fa { margin: 0 auto; font-size: 120px; color: #ffcb00; position: absolute; left: 50%; top: 50%; z-index: 99999; margin-left: -39px; margin-top: -60px; }
.game_zone .btn-zone-arr a { height: 60px; width: 48%; cursor: pointer; display: block; position: relative; margin: 1%; padding: 0; border-radius: 15px; border: solid 4px rgba(0,0,0,1);box-shadow: inset 0 2px 0px 0 rgba(255,255,255,0.3); line-height: 0;  box-sizing: border-box; font-family:Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";  font-weight: 900;}
.game_zone .btn-zone-arr a .divd { font-weight: 700; font-size: 16px; text-shadow: 0 0px 2px #000; display: block; margin-top: 0px; text-align:center; }
/*.game_zone .btn-zone-arr a:hover { border-color: #ffcc00; box-shadow: inset 0px 0px 105px 5px rgba(0,0,0,0.75);}*/
.game_zone .btn-zone-arr .select { border-color: #ffcc00; box-shadow: inset 0px 0px 105px 43px rgba(0,0,0,0.75) !important;  }
.game_zone .btn-zone-arr a img { display: none;}
.game_zone .btn-zone-arr .select .miniFont { color: #ffcc00 !important;}
.game_zone .btn-zone-arr .select .divd { color: #ffcc00 !important;}
.game_zone .btn-zone-arr a span.miniFont { font-size: 20px !important; display: block; color: #fff; text-shadow: 0 0px 2px #000; text-align: center; position: absolute; left: 0; top: 30%; right: 0;font-weight: bolder;}
.game_zone .btn-zone-arr a span.miniFont2 { font-size: 11px !important; display: block; color: #fff; text-shadow: 0 0px 2px #000; text-align: center; position: absolute; left: 0; top: 30%; right: 0;font-weight: bolder;}
.game_zone .btn-zone-arr a .divd {  font-weight: 700; font-size: 15px; text-shadow: 0 0px 2px #000; position: absolute; left: 0px; bottom: 25%; right: 0; text-align: center;}
.float_left { float: left; background: #207ce5; !important }
.float_center { float: left; }
.float_right { float: right; background: #ff3019; !important }
.game_zone h3 {   background:rgba(100,100,100,0.3); border-radius:5px;  line-height: 30px; height: 30px; margin: 10px 0; display: block; text-align: center; color: #ffcc00; font-size: 14px; }

.btn_zone03 .float_left { width: 39% !important; }
.btn_zone03 .float_center { width: 16% !important; background: #222; }
.btn_zone03 .float_right { width: 39% !important; }

.btn_zone033 .float_left { width: 39% !important; }
.btn_zone033 .float_center { width: 16% !important; background: #222; }
.btn_zone033 .float_right { width: 39% !important; }


.btn_zone04 .float_left { width: 31% !important; }
.btn_zone04 .float_center {width: 31% !important; }
.btn_zone04 .float_right { width: 31% !important; }

.btn_zone06 .float_left { width: 35% !important; }
.btn_zone06 .float_center { width: 15% !important; background: #222; }
.btn_zone06 .float_right { width: 35% !important; }

.btn_zone07 .float_left { width: 18% !important; }
.btn_zone07 .float_center { width: 18% !important; background: #222; }
.btn_zone07 .float_right { width: 18% !important; }

.btn_zone08 .float_left { width: 22% !important; }
.btn_zone08 .float_center { width: 22% !important; background: #222; }
.btn_zone08 .float_right { width: 22% !important; }




.mb-point01 { position: absolute; right: 10px; top: 20px; }
.m-powerball iframe { height:670px !important;}


.btn_zone0101, .btn_zone0102, .btn_zone0103, .btn_zone0104, .btn_zone0105 { margin-bottom: 3px; float: none !important;}
.btn_zone0101 a, .btn_zone0102 a, .btn_zone0103 a, .btn_zone0104 a, .btn_zone0105 a  { background: #117b92 ; width: 19% !important; margin: 0.5% !important;  float: left !important;}


.btn_zone04 .float_left {  ; background: #0da700 !important;}
.btn_zone04 .float_center { background: #cb8b00 !important;  }
.btn_zone04 .float_right {   background: #db36a4 !important;}
.btn_zone07 .float_left {   background: #00b6db !important;}
.btn_zone07 .float_right {   background: #00b6db !important;}
.btn_zone08 .float_left {   background: #00b6db !important;}
.btn_zone08 .float_right {   background: #00b6db !important;}


.mb-point01 { position: absolute; right: 10px; top: 20px; }
.m-powerball iframe { height:670px !important;}


.btn_zone0101, .btn_zone0102, .btn_zone0103, .btn_zone0104, .btn_zone0105 { margin-bottom: 3px; float: none !important;}
.btn_zone0101 a, .btn_zone0102 a, .btn_zone0103 a, .btn_zone0104 a, .btn_zone0105 a  { background: #117b92 ; width: 19% !important; margin: 0.5% !important;  float: left !important;}


.btn_zone04 .float_left {  ; background: #0da700 !important;}
.btn_zone04 .float_center { background: #cb8b00 !important;  }
.btn_zone04 .float_right {   background: #db36a4 !important;}




.btn_max { position: absolute; left: 0; bottom: -56px; }
.btn_price_zone { display: block; }
.btn_price_zone a { display: inline-block; }
.cart_btn_arr { text-align: right; width: 315px; height: 70px; margin-left: 13px; }
.cart_btn_arr a { display: block; float: right; }
.cart_btn_arr a:hover { opacity: 0.8; }
.price_select img { display: block; padding-top: 8px; }
.eprice_money { display: block; color: #fff; text-shadow: 0 1px 0 #000; }
.eprice_money p { display: block; float: left; margin: 5px; }
.eprice_money span { margin-left: 5px; }
#cart_list { height: 35px; line-height: 35px; font-size: 16px; color: #fff; border: solid 1px #000; background: rgba(100,100,100,0.2); }
#cart_list:focus { border-color: #FF0004 !important; outline: none !important; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.0), 0 0 8px rgba(102,175,233,0.0); box-shadow: inset 0 1px 1px rgba(0,0,0,0.00), 0 0 8px rgba(102,175,233,0.0) }
.unbetting { background: #000 url(/images/lock_icon01.png?7) no-repeat center center; opacity: 0.3 !important; }
#price { font-family: Arial, Helvetica, sans-serif; text-align: center; font-size: 16px !important; height: 25px; line-height: 25px; margin-top: 0px !important; font-weight: bold; color: #E10003; font-size: 12px; padding: 2px 5px; line-height: 30px; height: 30px; transition: 0.2s; vertical-align: middle; border-radius: 0; background: none; border: none; float: none; text-align:right; }
#divd { color: #00C3FF; font-weight: bold; float: none; font-size:0; }
#eprice { color: #ffc428; font-weight: bold;  }
.newcart_price { color: #fff; background: #641c0a; box-shadow: inset 0px 2px 2px rgba(0,0,0,0.3); border-radius: 30px; padding: 5px; }
.newcart_price li { display: inline-block; }
.newcart_price li a { color: #bdbdbd; margin: 0 5px; font-family: dotum; font-size: 12px; }
#bett_lists table thead { background: #666 !important; }
.price_zone_cart { display: block;  }
.price_zone_cart span { float:right;}
.price_zone_cart p { height: 36px; line-height: 36px; border-top: solid 1px rgba(255,255,255,0.31); border-bottom: solid 1px #000; margin: 0; text-align:left; padding:0 15px;}
.btn_price_zone { height: 105px; }
.btn_price_zone button { border: none; cursor: pointer; width: 33.33%; margin-bottom: 2%; font-size: 12px; display: inline; height: 35px; line-height: 35px; box-shadow: inset 0 1px 2px 0 rgba(255,255,255,0.45); margin: 0; padding: 0 !important; float: left;  }
.cart-new-arr { text-align: center; padding: 5px; position: relative; display: block; background: #162434;}
.btnCancel, .btnDelete { height: 20px !important; padding: 0 5px; }
#temp_cart p { font-weight: bold; font-size: 14px; }
#btnBett { transition: 0.2s; box-shadow: inset 0 2px 0px 0 rgba(255,255,255,0.3); color: #fff; font-size: 20px; display: block; height: 50px; font-family: NotoSansKR !important; line-height: 50px;  font-weight: 900; text-shadow: 0 2px 0 rgba(0,0,0,0.9); border: solid 1px #000; padding:0; margin:0;
}
#btnBett:hover { box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3); top: 0 !important; border: solid 1px #ffe400 ; color: #fff; opacity: 1.0 !important; text-shadow: 0 -2px 0 rgba(0,0,0,0.9);
}
#eprice { color: #ffc428; font-weight: bold;  }

.mb_point {
  color: #ff9241;
}
.mb_mileage {
  color: #59BEFF;
}

#price {
  color: #ffe400;
  background: #000;
  border: none;
  border-radius: 5px;
  border: solid 1px #333;
  box-shadow: none;
  float: right;
  text-shadow: none;
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
}
#eprice {
  color: #fff;
  background: none;
  border: none;
  float: right;
  font-weight: bold;
  background: none !important;
  box-shadow: none !important;
  text-shadow: 0 1px 0 #000 !important;
}
.betting_btn_zone {
  text-align: center;
  margin-top: 5px;
}
.betting_btn_zone img {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.74);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.74);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.74);
}
.betting_btn_zone a:hover {
  opacity: 0.8;
}

.result_menu { display: block;  }


.result_menu {
  padding: 0px 0;
  display: block;
  margin-bottom: 5px;

}
.result_menu:after {content:""; display:block; clear:both;}
.result_menu li {
  float: left;
  display: inline-block;
  width: 25%;
}
.result_menu li span {
  color: #333 !important;
  padding: 0 5px 0 10px;
  display: inline-block;
}
.result_menu li a {
  box-shadow: inset 0 2px 0px 0 rgba(255,255,255,0.3);
  font-family: dotum;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 28px;
  line-height: 28px;
  display: block;
  color: #fff;
  font-size: 12px;
  display: inline-block;
  text-shadow: 0 1px 0px rgba(0,0,0,0.6);
  border: solid 1px #000;
  background: #65902d;
  background: -moz-linear-gradient(top, #65902d 0%, #45641b 100%);
  background: -webkit-linear-gradient(top, #65902d 0%, #45641b 100%);
  background: linear-gradient(to bottom, #65902d 0%, #45641b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65902d', endColorstr='#45641b', GradientType=0 );
}
.result_menu li a:hover {
  box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3);
  color: #FFD600;
  border: solid 1px #FFD600;
  background: #45641b;
  background: -moz-linear-gradient(top, #45641b 0%, #65902d 100%);
  background: -webkit-linear-gradient(top, #45641b 0%, #65902d 100%);
  background: linear-gradient(to bottom, #45641b 0%, #65902d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45641b', endColorstr='#65902d', GradientType=0 );
}
.bt_status {
  display: inline-block;
  margin: 5px;
}
.bt_stime {
  display: inline-block;
  margin: 5px;
  color: #ffcc29;
}


@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714286em;
}
.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.fa-pull-left {
  float: left;
}
.fa-pull-right {
  float: right;
}
.fa.fa-pull-left {
  margin-right: .3em;
}
.fa.fa-pull-right {
  margin-left: .3em;
}
/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fa-stack-1x {
  line-height: inherit;
}
.fa-stack-2x {
  font-size: 2em;
}
.fa-inverse {
  color: #ffffff;
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "\f000";
}
.fa-music:before {
  content: "\f001";
}
.fa-search:before {
  content: "\f002";
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-heart:before {
  content: "\f004";
}
.fa-star:before {
  content: "\f005";
}
.fa-star-o:before {
  content: "\f006";
}
.fa-user:before {
  content: "\f007";
}
.fa-film:before {
  content: "\f008";
}
.fa-th-large:before {
  content: "\f009";
}
.fa-th:before {
  content: "\f00a";
}
.fa-th-list:before {
  content: "\f00b";
}
.fa-check:before {
  content: "\f00c";
}
.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d";
}
.fa-search-plus:before {
  content: "\f00e";
}
.fa-search-minus:before {
  content: "\f010";
}
.fa-power-off:before {
  content: "\f011";
}
.fa-signal:before {
  content: "\f012";
}
.fa-gear:before,
.fa-cog:before {
  content: "\f013";
}
.fa-trash-o:before {
  content: "\f014";
}
.fa-home:before {
  content: "\f015";
}
.fa-file-o:before {
  content: "\f016";
}
.fa-clock-o:before {
  content: "\f017";
}
.fa-road:before {
  content: "\f018";
}
.fa-download:before {
  content: "\f019";
}
.fa-arrow-circle-o-down:before {
  content: "\f01a";
}
.fa-arrow-circle-o-up:before {
  content: "\f01b";
}
.fa-inbox:before {
  content: "\f01c";
}
.fa-play-circle-o:before {
  content: "\f01d";
}
.fa-rotate-right:before,
.fa-repeat:before {
  content: "\f01e";
}
.fa-refresh:before {
  content: "\f021";
}
.fa-list-alt:before {
  content: "\f022";
}
.fa-lock:before {
  content: "\f023";
}
.fa-flag:before {
  content: "\f024";
}
.fa-headphones:before {
  content: "\f025";
}
.fa-volume-off:before {
  content: "\f026";
}
.fa-volume-down:before {
  content: "\f027";
}
.fa-volume-up:before {
  content: "\f028";
}
.fa-qrcode:before {
  content: "\f029";
}
.fa-barcode:before {
  content: "\f02a";
}
.fa-tag:before {
  content: "\f02b";
}
.fa-tags:before {
  content: "\f02c";
}
.fa-book:before {
  content: "\f02d";
}
.fa-bookmark:before {
  content: "\f02e";
}
.fa-print:before {
  content: "\f02f";
}
.fa-camera:before {
  content: "\f030";
}
.fa-font:before {
  content: "\f031";
}
.fa-bold:before {
  content: "\f032";
}
.fa-italic:before {
  content: "\f033";
}
.fa-text-height:before {
  content: "\f034";
}
.fa-text-width:before {
  content: "\f035";
}
.fa-align-left:before {
  content: "\f036";
}
.fa-align-center:before {
  content: "\f037";
}
.fa-align-right:before {
  content: "\f038";
}
.fa-align-justify:before {
  content: "\f039";
}
.fa-list:before {
  content: "\f03a";
}
.fa-dedent:before,
.fa-outdent:before {
  content: "\f03b";
}
.fa-indent:before {
  content: "\f03c";
}
.fa-video-camera:before {
  content: "\f03d";
}
.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "\f03e";
}
.fa-pencil:before {
  content: "\f040";
}
.fa-map-marker:before {
  content: "\f041";
}
.fa-adjust:before {
  content: "\f042";
}
.fa-tint:before {
  content: "\f043";
}
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}
.fa-share-square-o:before {
  content: "\f045";
}
.fa-check-square-o:before {
  content: "\f046";
}
.fa-arrows:before {
  content: "\f047";
}
.fa-step-backward:before {
  content: "\f048";
}
.fa-fast-backward:before {
  content: "\f049";
}
.fa-backward:before {
  content: "\f04a";
}
.fa-play:before {
  content: "\f04b";
}
.fa-pause:before {
  content: "\f04c";
}
.fa-stop:before {
  content: "\f04d";
}
.fa-forward:before {
  content: "\f04e";
}
.fa-fast-forward:before {
  content: "\f050";
}
.fa-step-forward:before {
  content: "\f051";
}
.fa-eject:before {
  content: "\f052";
}
.fa-chevron-left:before {
  content: "\f053";
}
.fa-chevron-right:before {
  content: "\f054";
}
.fa-plus-circle:before {
  content: "\f055";
}
.fa-minus-circle:before {
  content: "\f056";
}
.fa-times-circle:before {
  content: "\f057";
}
.fa-check-circle:before {
  content: "\f058";
}
.fa-question-circle:before {
  content: "\f059";
}
.fa-info-circle:before {
  content: "\f05a";
}
.fa-crosshairs:before {
  content: "\f05b";
}
.fa-times-circle-o:before {
  content: "\f05c";
}
.fa-check-circle-o:before {
  content: "\f05d";
}
.fa-ban:before {
  content: "\f05e";
}
.fa-arrow-left:before {
  content: "\f060";
}
.fa-arrow-right:before {
  content: "\f061";
}
.fa-arrow-up:before {
  content: "\f062";
}
.fa-arrow-down:before {
  content: "\f063";
}
.fa-mail-forward:before,
.fa-share:before {
  content: "\f064";
}
.fa-expand:before {
  content: "\f065";
}
.fa-compress:before {
  content: "\f066";
}
.fa-plus:before {
  content: "\f067";
}
.fa-minus:before {
  content: "\f068";
}
.fa-asterisk:before {
  content: "\f069";
}
.fa-exclamation-circle:before {
  content: "\f06a";
}
.fa-gift:before {
  content: "\f06b";
}
.fa-leaf:before {
  content: "\f06c";
}
.fa-fire:before {
  content: "\f06d";
}
.fa-eye:before {
  content: "\f06e";
}
.fa-eye-slash:before {
  content: "\f070";
}
.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\f071";
}
.fa-plane:before {
  content: "\f072";
}
.fa-calendar:before {
  content: "\f073";
}
.fa-random:before {
  content: "\f074";
}
.fa-comment:before {
  content: "\f075";
}
.fa-magnet:before {
  content: "\f076";
}
.fa-chevron-up:before {
  content: "\f077";
}
.fa-chevron-down:before {
  content: "\f078";
}
.fa-retweet:before {
  content: "\f079";
}
.fa-shopping-cart:before {
  content: "\f07a";
}
.fa-folder:before {
  content: "\f07b";
}
.fa-folder-open:before {
  content: "\f07c";
}
.fa-arrows-v:before {
  content: "\f07d";
}
.fa-arrows-h:before {
  content: "\f07e";
}
.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "\f080";
}
.fa-twitter-square:before {
  content: "\f081";
}
.fa-facebook-square:before {
  content: "\f082";
}
.fa-camera-retro:before {
  content: "\f083";
}
.fa-key:before {
  content: "\f084";
}
.fa-gears:before,
.fa-cogs:before {
  content: "\f085";
}
.fa-comments:before {
  content: "\f086";
}
.fa-thumbs-o-up:before {
  content: "\f087";
}
.fa-thumbs-o-down:before {
  content: "\f088";
}
.fa-star-half:before {
  content: "\f089";
}
.fa-heart-o:before {
  content: "\f08a";
}
.fa-sign-out:before {
  content: "\f08b";
}
.fa-linkedin-square:before {
  content: "\f08c";
}
.fa-thumb-tack:before {
  content: "\f08d";
}
.fa-external-link:before {
  content: "\f08e";
}
.fa-sign-in:before {
  content: "\f090";
}
.fa-trophy:before {
  content: "\f091";
}
.fa-github-square:before {
  content: "\f092";
}
.fa-upload:before {
  content: "\f093";
}
.fa-lemon-o:before {
  content: "\f094";
}
.fa-phone:before {
  content: "\f095";
}
.fa-square-o:before {
  content: "\f096";
}
.fa-bookmark-o:before {
  content: "\f097";
}
.fa-phone-square:before {
  content: "\f098";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}
.fa-github:before {
  content: "\f09b";
}
.fa-unlock:before {
  content: "\f09c";
}
.fa-credit-card:before {
  content: "\f09d";
}
.fa-feed:before,
.fa-rss:before {
  content: "\f09e";
}
.fa-hdd-o:before {
  content: "\f0a0";
}
.fa-bullhorn:before {
  content: "\f0a1";
}
.fa-bell:before {
  content: "\f0f3";
}
.fa-certificate:before {
  content: "\f0a3";
}
.fa-hand-o-right:before {
  content: "\f0a4";
}
.fa-hand-o-left:before {
  content: "\f0a5";
}
.fa-hand-o-up:before {
  content: "\f0a6";
}
.fa-hand-o-down:before {
  content: "\f0a7";
}
.fa-arrow-circle-left:before {
  content: "\f0a8";
}
.fa-arrow-circle-right:before {
  content: "\f0a9";
}
.fa-arrow-circle-up:before {
  content: "\f0aa";
}
.fa-arrow-circle-down:before {
  content: "\f0ab";
}
.fa-globe:before {
  content: "\f0ac";
}
.fa-wrench:before {
  content: "\f0ad";
}
.fa-tasks:before {
  content: "\f0ae";
}
.fa-filter:before {
  content: "\f0b0";
}
.fa-briefcase:before {
  content: "\f0b1";
}
.fa-arrows-alt:before {
  content: "\f0b2";
}
.fa-group:before,
.fa-users:before {
  content: "\f0c0";
}
.fa-chain:before,
.fa-link:before {
  content: "\f0c1";
}
.fa-cloud:before {
  content: "\f0c2";
}
.fa-flask:before {
  content: "\f0c3";
}
.fa-cut:before,
.fa-scissors:before {
  content: "\f0c4";
}
.fa-copy:before,
.fa-files-o:before {
  content: "\f0c5";
}
.fa-paperclip:before {
  content: "\f0c6";
}
.fa-save:before,
.fa-floppy-o:before {
  content: "\f0c7";
}
.fa-square:before {
  content: "\f0c8";
}
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
}
.fa-list-ul:before {
  content: "\f0ca";
}
.fa-list-ol:before {
  content: "\f0cb";
}
.fa-strikethrough:before {
  content: "\f0cc";
}
.fa-underline:before {
  content: "\f0cd";
}
.fa-table:before {
  content: "\f0ce";
}
.fa-magic:before {
  content: "\f0d0";
}
.fa-truck:before {
  content: "\f0d1";
}
.fa-pinterest:before {
  content: "\f0d2";
}
.fa-pinterest-square:before {
  content: "\f0d3";
}
.fa-google-plus-square:before {
  content: "\f0d4";
}
.fa-google-plus:before {
  content: "\f0d5";
}
.fa-money:before {
  content: "\f0d6";
}
.fa-caret-down:before {
  content: "\f0d7";
}
.fa-caret-up:before {
  content: "\f0d8";
}
.fa-caret-left:before {
  content: "\f0d9";
}
.fa-caret-right:before {
  content: "\f0da";
}
.fa-columns:before {
  content: "\f0db";
}
.fa-unsorted:before,
.fa-sort:before {
  content: "\f0dc";
}
.fa-sort-down:before,
.fa-sort-desc:before {
  content: "\f0dd";
}
.fa-sort-up:before,
.fa-sort-asc:before {
  content: "\f0de";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-linkedin:before {
  content: "\f0e1";
}
.fa-rotate-left:before,
.fa-undo:before {
  content: "\f0e2";
}
.fa-legal:before,
.fa-gavel:before {
  content: "\f0e3";
}
.fa-dashboard:before,
.fa-tachometer:before {
  content: "\f0e4";
}
.fa-comment-o:before {
  content: "\f0e5";
}
.fa-comments-o:before {
  content: "\f0e6";
}
.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7";
}
.fa-sitemap:before {
  content: "\f0e8";
}
.fa-umbrella:before {
  content: "\f0e9";
}
.fa-paste:before,
.fa-clipboard:before {
  content: "\f0ea";
}
.fa-lightbulb-o:before {
  content: "\f0eb";
}
.fa-exchange:before {
  content: "\f0ec";
}
.fa-cloud-download:before {
  content: "\f0ed";
}
.fa-cloud-upload:before {
  content: "\f0ee";
}
.fa-user-md:before {
  content: "\f0f0";
}
.fa-stethoscope:before {
  content: "\f0f1";
}
.fa-suitcase:before {
  content: "\f0f2";
}
.fa-bell-o:before {
  content: "\f0a2";
}
.fa-coffee:before {
  content: "\f0f4";
}
.fa-cutlery:before {
  content: "\f0f5";
}
.fa-file-text-o:before {
  content: "\f0f6";
}
.fa-building-o:before {
  content: "\f0f7";
}
.fa-hospital-o:before {
  content: "\f0f8";
}
.fa-ambulance:before {
  content: "\f0f9";
}
.fa-medkit:before {
  content: "\f0fa";
}
.fa-fighter-jet:before {
  content: "\f0fb";
}
.fa-beer:before {
  content: "\f0fc";
}
.fa-h-square:before {
  content: "\f0fd";
}
.fa-plus-square:before {
  content: "\f0fe";
}
.fa-angle-double-left:before {
  content: "\f100";
}
.fa-angle-double-right:before {
  content: "\f101";
}
.fa-angle-double-up:before {
  content: "\f102";
}
.fa-angle-double-down:before {
  content: "\f103";
}
.fa-angle-left:before {
  content: "\f104";
}
.fa-angle-right:before {
  content: "\f105";
}
.fa-angle-up:before {
  content: "\f106";
}
.fa-angle-down:before {
  content: "\f107";
}
.fa-desktop:before {
  content: "\f108";
}
.fa-laptop:before {
  content: "\f109";
}
.fa-tablet:before {
  content: "\f10a";
}
.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b";
}
.fa-circle-o:before {
  content: "\f10c";
}
.fa-quote-left:before {
  content: "\f10d";
}
.fa-quote-right:before {
  content: "\f10e";
}
.fa-spinner:before {
  content: "\f110";
}
.fa-circle:before {
  content: "\f111";
}
.fa-mail-reply:before,
.fa-reply:before {
  content: "\f112";
}
.fa-github-alt:before {
  content: "\f113";
}
.fa-folder-o:before {
  content: "\f114";
}
.fa-folder-open-o:before {
  content: "\f115";
}
.fa-smile-o:before {
  content: "\f118";
}
.fa-frown-o:before {
  content: "\f119";
}
.fa-meh-o:before {
  content: "\f11a";
}
.fa-gamepad:before {
  content: "\f11b";
}
.fa-keyboard-o:before {
  content: "\f11c";
}
.fa-flag-o:before {
  content: "\f11d";
}
.fa-flag-checkered:before {
  content: "\f11e";
}
.fa-terminal:before {
  content: "\f120";
}
.fa-code:before {
  content: "\f121";
}
.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "\f122";
}
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123";
}
.fa-location-arrow:before {
  content: "\f124";
}
.fa-crop:before {
  content: "\f125";
}
.fa-code-fork:before {
  content: "\f126";
}
.fa-unlink:before,
.fa-chain-broken:before {
  content: "\f127";
}
.fa-question:before {
  content: "\f128";
}
.fa-info:before {
  content: "\f129";
}
.fa-exclamation:before {
  content: "\f12a";
}
.fa-superscript:before {
  content: "\f12b";
}
.fa-subscript:before {
  content: "\f12c";
}
.fa-eraser:before {
  content: "\f12d";
}
.fa-puzzle-piece:before {
  content: "\f12e";
}
.fa-microphone:before {
  content: "\f130";
}
.fa-microphone-slash:before {
  content: "\f131";
}
.fa-shield:before {
  content: "\f132";
}
.fa-calendar-o:before {
  content: "\f133";
}
.fa-fire-extinguisher:before {
  content: "\f134";
}
.fa-rocket:before {
  content: "\f135";
}
.fa-maxcdn:before {
  content: "\f136";
}
.fa-chevron-circle-left:before {
  content: "\f137";
}
.fa-chevron-circle-right:before {
  content: "\f138";
}
.fa-chevron-circle-up:before {
  content: "\f139";
}
.fa-chevron-circle-down:before {
  content: "\f13a";
}
.fa-html5:before {
  content: "\f13b";
}
.fa-css3:before {
  content: "\f13c";
}
.fa-anchor:before {
  content: "\f13d";
}
.fa-unlock-alt:before {
  content: "\f13e";
}
.fa-bullseye:before {
  content: "\f140";
}
.fa-ellipsis-h:before {
  content: "\f141";
}
.fa-ellipsis-v:before {
  content: "\f142";
}
.fa-rss-square:before {
  content: "\f143";
}
.fa-play-circle:before {
  content: "\f144";
}
.fa-ticket:before {
  content: "\f145";
}
.fa-minus-square:before {
  content: "\f146";
}
.fa-minus-square-o:before {
  content: "\f147";
}
.fa-level-up:before {
  content: "\f148";
}
.fa-level-down:before {
  content: "\f149";
}
.fa-check-square:before {
  content: "\f14a";
}
.fa-pencil-square:before {
  content: "\f14b";
}
.fa-external-link-square:before {
  content: "\f14c";
}
.fa-share-square:before {
  content: "\f14d";
}
.fa-compass:before {
  content: "\f14e";
}
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\f150";
}
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\f151";
}
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\f152";
}
.fa-euro:before,
.fa-eur:before {
  content: "\f153";
}
.fa-gbp:before {
  content: "\f154";
}
.fa-dollar:before,
.fa-usd:before {
  content: "\f155";
}
.fa-rupee:before,
.fa-inr:before {
  content: "\f156";
}
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157";
}
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158";
}
.fa-won:before,
.fa-krw:before {
  content: "\f159";
}
.fa-bitcoin:before,
.fa-btc:before {
  content: "\f15a";
}
.fa-file:before {
  content: "\f15b";
}
.fa-file-text:before {
  content: "\f15c";
}
.fa-sort-alpha-asc:before {
  content: "\f15d";
}
.fa-sort-alpha-desc:before {
  content: "\f15e";
}
.fa-sort-amount-asc:before {
  content: "\f160";
}
.fa-sort-amount-desc:before {
  content: "\f161";
}
.fa-sort-numeric-asc:before {
  content: "\f162";
}
.fa-sort-numeric-desc:before {
  content: "\f163";
}
.fa-thumbs-up:before {
  content: "\f164";
}
.fa-thumbs-down:before {
  content: "\f165";
}
.fa-youtube-square:before {
  content: "\f166";
}
.fa-youtube:before {
  content: "\f167";
}
.fa-xing:before {
  content: "\f168";
}
.fa-xing-square:before {
  content: "\f169";
}
.fa-youtube-play:before {
  content: "\f16a";
}
.fa-dropbox:before {
  content: "\f16b";
}
.fa-stack-overflow:before {
  content: "\f16c";
}
.fa-instagram:before {
  content: "\f16d";
}
.fa-flickr:before {
  content: "\f16e";
}
.fa-adn:before {
  content: "\f170";
}
.fa-bitbucket:before {
  content: "\f171";
}
.fa-bitbucket-square:before {
  content: "\f172";
}
.fa-tumblr:before {
  content: "\f173";
}
.fa-tumblr-square:before {
  content: "\f174";
}
.fa-long-arrow-down:before {
  content: "\f175";
}
.fa-long-arrow-up:before {
  content: "\f176";
}
.fa-long-arrow-left:before {
  content: "\f177";
}
.fa-long-arrow-right:before {
  content: "\f178";
}
.fa-apple:before {
  content: "\f179";
}
.fa-windows:before {
  content: "\f17a";
}
.fa-android:before {
  content: "\f17b";
}
.fa-linux:before {
  content: "\f17c";
}
.fa-dribbble:before {
  content: "\f17d";
}
.fa-skype:before {
  content: "\f17e";
}
.fa-foursquare:before {
  content: "\f180";
}
.fa-trello:before {
  content: "\f181";
}
.fa-female:before {
  content: "\f182";
}
.fa-male:before {
  content: "\f183";
}
.fa-gittip:before,
.fa-gratipay:before {
  content: "\f184";
}
.fa-sun-o:before {
  content: "\f185";
}
.fa-moon-o:before {
  content: "\f186";
}
.fa-archive:before {
  content: "\f187";
}
.fa-bug:before {
  content: "\f188";
}
.fa-vk:before {
  content: "\f189";
}
.fa-weibo:before {
  content: "\f18a";
}
.fa-renren:before {
  content: "\f18b";
}
.fa-pagelines:before {
  content: "\f18c";
}
.fa-stack-exchange:before {
  content: "\f18d";
}
.fa-arrow-circle-o-right:before {
  content: "\f18e";
}
.fa-arrow-circle-o-left:before {
  content: "\f190";
}
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\f191";
}
.fa-dot-circle-o:before {
  content: "\f192";
}
.fa-wheelchair:before {
  content: "\f193";
}
.fa-vimeo-square:before {
  content: "\f194";
}
.fa-turkish-lira:before,
.fa-try:before {
  content: "\f195";
}
.fa-plus-square-o:before {
  content: "\f196";
}
.fa-space-shuttle:before {
  content: "\f197";
}
.fa-slack:before {
  content: "\f198";
}
.fa-envelope-square:before {
  content: "\f199";
}
.fa-wordpress:before {
  content: "\f19a";
}
.fa-openid:before {
  content: "\f19b";
}
.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "\f19c";
}
.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "\f19d";
}
.fa-yahoo:before {
  content: "\f19e";
}
.fa-google:before {
  content: "\f1a0";
}
.fa-reddit:before {
  content: "\f1a1";
}
.fa-reddit-square:before {
  content: "\f1a2";
}
.fa-stumbleupon-circle:before {
  content: "\f1a3";
}
.fa-stumbleupon:before {
  content: "\f1a4";
}
.fa-delicious:before {
  content: "\f1a5";
}
.fa-digg:before {
  content: "\f1a6";
}
.fa-pied-piper-pp:before {
  content: "\f1a7";
}
.fa-pied-piper-alt:before {
  content: "\f1a8";
}
.fa-drupal:before {
  content: "\f1a9";
}
.fa-joomla:before {
  content: "\f1aa";
}
.fa-language:before {
  content: "\f1ab";
}
.fa-fax:before {
  content: "\f1ac";
}
.fa-building:before {
  content: "\f1ad";
}
.fa-child:before {
  content: "\f1ae";
}
.fa-paw:before {
  content: "\f1b0";
}
.fa-spoon:before {
  content: "\f1b1";
}
.fa-cube:before {
  content: "\f1b2";
}
.fa-cubes:before {
  content: "\f1b3";
}
.fa-behance:before {
  content: "\f1b4";
}
.fa-behance-square:before {
  content: "\f1b5";
}
.fa-steam:before {
  content: "\f1b6";
}
.fa-steam-square:before {
  content: "\f1b7";
}
.fa-recycle:before {
  content: "\f1b8";
}
.fa-automobile:before,
.fa-car:before {
  content: "\f1b9";
}
.fa-cab:before,
.fa-taxi:before {
  content: "\f1ba";
}
.fa-tree:before {
  content: "\f1bb";
}
.fa-spotify:before {
  content: "\f1bc";
}
.fa-deviantart:before {
  content: "\f1bd";
}
.fa-soundcloud:before {
  content: "\f1be";
}
.fa-database:before {
  content: "\f1c0";
}
.fa-file-pdf-o:before {
  content: "\f1c1";
}
.fa-file-word-o:before {
  content: "\f1c2";
}
.fa-file-excel-o:before {
  content: "\f1c3";
}
.fa-file-powerpoint-o:before {
  content: "\f1c4";
}
.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "\f1c5";
}
.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "\f1c6";
}
.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "\f1c7";
}
.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "\f1c8";
}
.fa-file-code-o:before {
  content: "\f1c9";
}
.fa-vine:before {
  content: "\f1ca";
}
.fa-codepen:before {
  content: "\f1cb";
}
.fa-jsfiddle:before {
  content: "\f1cc";
}
.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "\f1cd";
}
.fa-circle-o-notch:before {
  content: "\f1ce";
}
.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: "\f1d0";
}
.fa-ge:before,
.fa-empire:before {
  content: "\f1d1";
}
.fa-git-square:before {
  content: "\f1d2";
}
.fa-git:before {
  content: "\f1d3";
}
.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: "\f1d4";
}
.fa-tencent-weibo:before {
  content: "\f1d5";
}
.fa-qq:before {
  content: "\f1d6";
}
.fa-wechat:before,
.fa-weixin:before {
  content: "\f1d7";
}
.fa-send:before,
.fa-paper-plane:before {
  content: "\f1d8";
}
.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "\f1d9";
}
.fa-history:before {
  content: "\f1da";
}
.fa-circle-thin:before {
  content: "\f1db";
}
.fa-header:before {
  content: "\f1dc";
}
.fa-paragraph:before {
  content: "\f1dd";
}
.fa-sliders:before {
  content: "\f1de";
}
.fa-share-alt:before {
  content: "\f1e0";
}
.fa-share-alt-square:before {
  content: "\f1e1";
}
.fa-bomb:before {
  content: "\f1e2";
}
.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "\f1e3";
}
.fa-tty:before {
  content: "\f1e4";
}
.fa-binoculars:before {
  content: "\f1e5";
}
.fa-plug:before {
  content: "\f1e6";
}
.fa-slideshare:before {
  content: "\f1e7";
}
.fa-twitch:before {
  content: "\f1e8";
}
.fa-yelp:before {
  content: "\f1e9";
}
.fa-newspaper-o:before {
  content: "\f1ea";
}
.fa-wifi:before {
  content: "\f1eb";
}
.fa-calculator:before {
  content: "\f1ec";
}
.fa-paypal:before {
  content: "\f1ed";
}
.fa-google-wallet:before {
  content: "\f1ee";
}
.fa-cc-visa:before {
  content: "\f1f0";
}
.fa-cc-mastercard:before {
  content: "\f1f1";
}
.fa-cc-discover:before {
  content: "\f1f2";
}
.fa-cc-amex:before {
  content: "\f1f3";
}
.fa-cc-paypal:before {
  content: "\f1f4";
}
.fa-cc-stripe:before {
  content: "\f1f5";
}
.fa-bell-slash:before {
  content: "\f1f6";
}
.fa-bell-slash-o:before {
  content: "\f1f7";
}
.fa-trash:before {
  content: "\f1f8";
}
.fa-copyright:before {
  content: "\f1f9";
}
.fa-at:before {
  content: "\f1fa";
}
.fa-eyedropper:before {
  content: "\f1fb";
}
.fa-paint-brush:before {
  content: "\f1fc";
}
.fa-birthday-cake:before {
  content: "\f1fd";
}
.fa-area-chart:before {
  content: "\f1fe";
}
.fa-pie-chart:before {
  content: "\f200";
}
.fa-line-chart:before {
  content: "\f201";
}
.fa-lastfm:before {
  content: "\f202";
}
.fa-lastfm-square:before {
  content: "\f203";
}
.fa-toggle-off:before {
  content: "\f204";
}
.fa-toggle-on:before {
  content: "\f205";
}
.fa-bicycle:before {
  content: "\f206";
}
.fa-bus:before {
  content: "\f207";
}
.fa-ioxhost:before {
  content: "\f208";
}
.fa-angellist:before {
  content: "\f209";
}
.fa-cc:before {
  content: "\f20a";
}
.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "\f20b";
}
.fa-meanpath:before {
  content: "\f20c";
}
.fa-buysellads:before {
  content: "\f20d";
}
.fa-connectdevelop:before {
  content: "\f20e";
}
.fa-dashcube:before {
  content: "\f210";
}
.fa-forumbee:before {
  content: "\f211";
}
.fa-leanpub:before {
  content: "\f212";
}
.fa-sellsy:before {
  content: "\f213";
}
.fa-shirtsinbulk:before {
  content: "\f214";
}
.fa-simplybuilt:before {
  content: "\f215";
}
.fa-skyatlas:before {
  content: "\f216";
}
.fa-cart-plus:before {
  content: "\f217";
}
.fa-cart-arrow-down:before {
  content: "\f218";
}
.fa-diamond:before {
  content: "\f219";
}
.fa-ship:before {
  content: "\f21a";
}
.fa-user-secret:before {
  content: "\f21b";
}
.fa-motorcycle:before {
  content: "\f21c";
}
.fa-street-view:before {
  content: "\f21d";
}
.fa-heartbeat:before {
  content: "\f21e";
}
.fa-venus:before {
  content: "\f221";
}
.fa-mars:before {
  content: "\f222";
}
.fa-mercury:before {
  content: "\f223";
}
.fa-intersex:before,
.fa-transgender:before {
  content: "\f224";
}
.fa-transgender-alt:before {
  content: "\f225";
}
.fa-venus-double:before {
  content: "\f226";
}
.fa-mars-double:before {
  content: "\f227";
}
.fa-venus-mars:before {
  content: "\f228";
}
.fa-mars-stroke:before {
  content: "\f229";
}
.fa-mars-stroke-v:before {
  content: "\f22a";
}
.fa-mars-stroke-h:before {
  content: "\f22b";
}
.fa-neuter:before {
  content: "\f22c";
}
.fa-genderless:before {
  content: "\f22d";
}
.fa-facebook-official:before {
  content: "\f230";
}
.fa-pinterest-p:before {
  content: "\f231";
}
.fa-whatsapp:before {
  content: "\f232";
}
.fa-server:before {
  content: "\f233";
}
.fa-user-plus:before {
  content: "\f234";
}
.fa-user-times:before {
  content: "\f235";
}
.fa-hotel:before,
.fa-bed:before {
  content: "\f236";
}
.fa-viacoin:before {
  content: "\f237";
}
.fa-train:before {
  content: "\f238";
}
.fa-subway:before {
  content: "\f239";
}
.fa-medium:before {
  content: "\f23a";
}
.fa-yc:before,
.fa-y-combinator:before {
  content: "\f23b";
}
.fa-optin-monster:before {
  content: "\f23c";
}
.fa-opencart:before {
  content: "\f23d";
}
.fa-expeditedssl:before {
  content: "\f23e";
}
.fa-battery-4:before,
.fa-battery:before,
.fa-battery-full:before {
  content: "\f240";
}
.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: "\f241";
}
.fa-battery-2:before,
.fa-battery-half:before {
  content: "\f242";
}
.fa-battery-1:before,
.fa-battery-quarter:before {
  content: "\f243";
}
.fa-battery-0:before,
.fa-battery-empty:before {
  content: "\f244";
}
.fa-mouse-pointer:before {
  content: "\f245";
}
.fa-i-cursor:before {
  content: "\f246";
}
.fa-object-group:before {
  content: "\f247";
}
.fa-object-ungroup:before {
  content: "\f248";
}
.fa-sticky-note:before {
  content: "\f249";
}
.fa-sticky-note-o:before {
  content: "\f24a";
}
.fa-cc-jcb:before {
  content: "\f24b";
}
.fa-cc-diners-club:before {
  content: "\f24c";
}
.fa-clone:before {
  content: "\f24d";
}
.fa-balance-scale:before {
  content: "\f24e";
}
.fa-hourglass-o:before {
  content: "\f250";
}
.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: "\f251";
}
.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: "\f252";
}
.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: "\f253";
}
.fa-hourglass:before {
  content: "\f254";
}
.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: "\f255";
}
.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: "\f256";
}
.fa-hand-scissors-o:before {
  content: "\f257";
}
.fa-hand-lizard-o:before {
  content: "\f258";
}
.fa-hand-spock-o:before {
  content: "\f259";
}
.fa-hand-pointer-o:before {
  content: "\f25a";
}
.fa-hand-peace-o:before {
  content: "\f25b";
}
.fa-trademark:before {
  content: "\f25c";
}
.fa-registered:before {
  content: "\f25d";
}
.fa-creative-commons:before {
  content: "\f25e";
}
.fa-gg:before {
  content: "\f260";
}
.fa-gg-circle:before {
  content: "\f261";
}
.fa-tripadvisor:before {
  content: "\f262";
}
.fa-odnoklassniki:before {
  content: "\f263";
}
.fa-odnoklassniki-square:before {
  content: "\f264";
}
.fa-get-pocket:before {
  content: "\f265";
}
.fa-wikipedia-w:before {
  content: "\f266";
}
.fa-safari:before {
  content: "\f267";
}
.fa-chrome:before {
  content: "\f268";
}
.fa-firefox:before {
  content: "\f269";
}
.fa-opera:before {
  content: "\f26a";
}
.fa-internet-explorer:before {
  content: "\f26b";
}
.fa-tv:before,
.fa-television:before {
  content: "\f26c";
}
.fa-contao:before {
  content: "\f26d";
}
.fa-500px:before {
  content: "\f26e";
}
.fa-amazon:before {
  content: "\f270";
}
.fa-calendar-plus-o:before {
  content: "\f271";
}
.fa-calendar-minus-o:before {
  content: "\f272";
}
.fa-calendar-times-o:before {
  content: "\f273";
}
.fa-calendar-check-o:before {
  content: "\f274";
}
.fa-industry:before {
  content: "\f275";
}
.fa-map-pin:before {
  content: "\f276";
}
.fa-map-signs:before {
  content: "\f277";
}
.fa-map-o:before {
  content: "\f278";
}
.fa-map:before {
  content: "\f279";
}
.fa-commenting:before {
  content: "\f27a";
}
.fa-commenting-o:before {
  content: "\f27b";
}
.fa-houzz:before {
  content: "\f27c";
}
.fa-vimeo:before {
  content: "\f27d";
}
.fa-black-tie:before {
  content: "\f27e";
}
.fa-fonticons:before {
  content: "\f280";
}
.fa-reddit-alien:before {
  content: "\f281";
}
.fa-edge:before {
  content: "\f282";
}
.fa-credit-card-alt:before {
  content: "\f283";
}
.fa-codiepie:before {
  content: "\f284";
}
.fa-modx:before {
  content: "\f285";
}
.fa-fort-awesome:before {
  content: "\f286";
}
.fa-usb:before {
  content: "\f287";
}
.fa-product-hunt:before {
  content: "\f288";
}
.fa-mixcloud:before {
  content: "\f289";
}
.fa-scribd:before {
  content: "\f28a";
}
.fa-pause-circle:before {
  content: "\f28b";
}
.fa-pause-circle-o:before {
  content: "\f28c";
}
.fa-stop-circle:before {
  content: "\f28d";
}
.fa-stop-circle-o:before {
  content: "\f28e";
}
.fa-shopping-bag:before {
  content: "\f290";
}
.fa-shopping-basket:before {
  content: "\f291";
}
.fa-hashtag:before {
  content: "\f292";
}
.fa-bluetooth:before {
  content: "\f293";
}
.fa-bluetooth-b:before {
  content: "\f294";
}
.fa-percent:before {
  content: "\f295";
}
.fa-gitlab:before {
  content: "\f296";
}
.fa-wpbeginner:before {
  content: "\f297";
}
.fa-wpforms:before {
  content: "\f298";
}
.fa-envira:before {
  content: "\f299";
}
.fa-universal-access:before {
  content: "\f29a";
}
.fa-wheelchair-alt:before {
  content: "\f29b";
}
.fa-question-circle-o:before {
  content: "\f29c";
}
.fa-blind:before {
  content: "\f29d";
}
.fa-audio-description:before {
  content: "\f29e";
}
.fa-volume-control-phone:before {
  content: "\f2a0";
}
.fa-braille:before {
  content: "\f2a1";
}
.fa-assistive-listening-systems:before {
  content: "\f2a2";
}
.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: "\f2a3";
}
.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: "\f2a4";
}
.fa-glide:before {
  content: "\f2a5";
}
.fa-glide-g:before {
  content: "\f2a6";
}
.fa-signing:before,
.fa-sign-language:before {
  content: "\f2a7";
}
.fa-low-vision:before {
  content: "\f2a8";
}
.fa-viadeo:before {
  content: "\f2a9";
}
.fa-viadeo-square:before {
  content: "\f2aa";
}
.fa-snapchat:before {
  content: "\f2ab";
}
.fa-snapchat-ghost:before {
  content: "\f2ac";
}
.fa-snapchat-square:before {
  content: "\f2ad";
}
.fa-pied-piper:before {
  content: "\f2ae";
}
.fa-first-order:before {
  content: "\f2b0";
}
.fa-yoast:before {
  content: "\f2b1";
}
.fa-themeisle:before {
  content: "\f2b2";
}
.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: "\f2b3";
}
.fa-fa:before,
.fa-font-awesome:before {
  content: "\f2b4";
}
.fa-handshake-o:before {
  content: "\f2b5";
}
.fa-envelope-open:before {
  content: "\f2b6";
}
.fa-envelope-open-o:before {
  content: "\f2b7";
}
.fa-linode:before {
  content: "\f2b8";
}
.fa-address-book:before {
  content: "\f2b9";
}
.fa-address-book-o:before {
  content: "\f2ba";
}
.fa-vcard:before,
.fa-address-card:before {
  content: "\f2bb";
}
.fa-vcard-o:before,
.fa-address-card-o:before {
  content: "\f2bc";
}
.fa-user-circle:before {
  content: "\f2bd";
}
.fa-user-circle-o:before {
  content: "\f2be";
}
.fa-user-o:before {
  content: "\f2c0";
}
.fa-id-badge:before {
  content: "\f2c1";
}
.fa-drivers-license:before,
.fa-id-card:before {
  content: "\f2c2";
}
.fa-drivers-license-o:before,
.fa-id-card-o:before {
  content: "\f2c3";
}
.fa-quora:before {
  content: "\f2c4";
}
.fa-free-code-camp:before {
  content: "\f2c5";
}
.fa-telegram:before {
  content: "\f2c6";
}
.fa-thermometer-4:before,
.fa-thermometer:before,
.fa-thermometer-full:before {
  content: "\f2c7";
}
.fa-thermometer-3:before,
.fa-thermometer-three-quarters:before {
  content: "\f2c8";
}
.fa-thermometer-2:before,
.fa-thermometer-half:before {
  content: "\f2c9";
}
.fa-thermometer-1:before,
.fa-thermometer-quarter:before {
  content: "\f2ca";
}
.fa-thermometer-0:before,
.fa-thermometer-empty:before {
  content: "\f2cb";
}
.fa-shower:before {
  content: "\f2cc";
}
.fa-bathtub:before,
.fa-s15:before,
.fa-bath:before {
  content: "\f2cd";
}
.fa-podcast:before {
  content: "\f2ce";
}
.fa-window-maximize:before {
  content: "\f2d0";
}
.fa-window-minimize:before {
  content: "\f2d1";
}
.fa-window-restore:before {
  content: "\f2d2";
}
.fa-times-rectangle:before,
.fa-window-close:before {
  content: "\f2d3";
}
.fa-times-rectangle-o:before,
.fa-window-close-o:before {
  content: "\f2d4";
}
.fa-bandcamp:before {
  content: "\f2d5";
}
.fa-grav:before {
  content: "\f2d6";
}
.fa-etsy:before {
  content: "\f2d7";
}
.fa-imdb:before {
  content: "\f2d8";
}
.fa-ravelry:before {
  content: "\f2d9";
}
.fa-eercast:before {
  content: "\f2da";
}
.fa-microchip:before {
  content: "\f2db";
}
.fa-snowflake-o:before {
  content: "\f2dc";
}
.fa-superpowers:before {
  content: "\f2dd";
}
.fa-wpexplorer:before {
  content: "\f2de";
}
.fa-meetup:before {
  content: "\f2e0";
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
.color0 {
  color: #fff !important;
}
.color01 {
  color: #ffff00 !important;
  font-weight: bold;
}
.color02 {
  color: #4a98be !important;
}
.color03 {
  color: #e07a59 !important;
}
.color04 {
  color: #62c462 !important;
}
.color05 {
  color: #ec9c29 !important;
}
.color06 {
  color: #ec0e00 !important;
  font-weight: bolder;
}
.color11 {
  color: crimson;
}
.color22 {
  color: #ffd700 !important;
}
.color33 {
  color: #2e71b7 !important;
}
.color44 {
  color: #118307 !important;
}
.color55 {
  color: #a62eee !important;
}

.vMiddle {
  vertical-align: middle;
}

.vBottom {
  vertical-align: bottom;
}