@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/NanumGothic-Regular.eot");
    src: url("/fonts/NanumGothic-Regular.eot?#iefix") format('embedded-opentype'), url("/fonts/NanumGothic-Regular.woff2") format('woff2'), url("/fonts/NanumGothic-Regular.woff") format('woff'), url("/fonts/NanumGothic-Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/NanumGothic-Bold.eot");
    src: url("/fonts/NanumGothic-Bold.eot?#iefix") format('embedded-opentype'), url("/fonts/NanumGothic-Bold.woff2") format('woff2'), url("/fonts/NanumGothic-Bold.woff") format('woff'), url("/fonts/NanumGothic-Bold.ttf") format('truetype');
}
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/NanumGothic-ExtraBold.eot");
    src: url("/fonts/NanumGothic-ExtraBold.eot?#iefix") format('embedded-opentype'), url("/fonts/NanumGothic-ExtraBold.woff2") format('woff2'), url("/fonts/NanumGothic-ExtraBold.woff") format('woff'), url("/fonts/NanumGothic-ExtraBold.ttf") format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
    margin: 0;
    padding: 0;
    font: inherit;
    vertical-align: baseline;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
table caption {
    display: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.ellipsis {
    display: inline-block;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}
.ui-tooltip {
    background: #ffd424 !important;
    color: #000 !important;
    font-weight: 600 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
html { background: url(/images/main_bg.png) no-repeat center center fixed; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
html,
body {  height: 100%;
}
body {
    height: calc(100% - 126px);
    color: #ddd;
    /*background: #0b0c0e;*/
    font-size: 13px;
    font-family: 'NanumGothic', 'Nanum Gothic', 'AppleSDGothicNeo', 'Malgun Gothic';
}
[ng:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}
img {
    vertical-align: middle;
}
.container {
    position: relative;
    width: 1280px;
    margin: 0 auto;
}
a,
button {
    color: #ccc;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
a:hover,
button:hover {
    color: #fff;
}
header {
    position: fixed;
    width: 100%;
    z-index: 9;
    top: 0;
    -webkit-box-shadow: 0 0 10px 4px rgba(0,0,0,0.6);
    box-shadow: 0 0 10px 4px rgba(0,0,0,0.6);
    background-image: url("/images/main_bg.png");
    background-position: -0px -230px;
}
header nav {
    margin-top:25px;
    height: 70px;
    /*background: #464547;*/
    /*background: #000000;*/
}
header .gnb {
    background: #1a1d2c;
    overflow: hidden;
    height: 35px;
    line-height: 35px;
    background: linear-gradient(to top, rgba(28, 63, 122, 0.6), rgba(51, 154, 244, 0.6));
    margin-top: 54px;
}

header .gnb2 {
    background: #092e44;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}

header .gnb .title {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    width: 167px;
    z-index: 2;
    background: #464547;
}
header .gnb #rolling-wrap {
    width: 1178px;
    height: 40px;
    line-height: 40px;
    position: relative;
    overflow: hidden;
}
header .gnb #rolling-wrap p {
    position: absolute;
    left: 1160px;
    overflow: hidden;
    white-space: nowrap;
}
header .gnb .rolling-img {
    margin:1px 10px 0px 20px;
    float: left;
}


header .info {
    height: 36px;
    line-height: 36px;
    background: #010101;
    opacity: 0.9;
}
header .info .right {
    float: right;
}
header .info .userid {
    color: #51b2dc;
    font-weight: 600;
}
header .info .logout {
    display: inline-block;
    background: #565658;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    margin-left: 40px;
    color: #fff;
}
header .info .logout:hover {
    background: #d40;
}
header .info .qna {
    margin-left: 40px;
    background: url("/images/icon_qna.png") left center no-repeat;
    padding-left: 24px;
}
header .info .qna em {
    color: #51b2dc;
}
header .info .memo {
    margin-left: 40px;
    background: url("/images/icon_memo.png") left center no-repeat;
    padding-left: 22px;
}
header .info .memo em {
    color: #51b2dc;
}
header .info .money {
    background: url("/images/icon_money.png") left center no-repeat;
    padding-left: 18px;
}
header .info .money em {
    color: #ee5f5b;
}
header .info .point {
    margin-left: 40px;
    background: url("/images/icon_point.png") left center no-repeat;
    padding-left: 18px;
}
header .info .point em {
    color: #ee5f5b;
}
header .info .exchange {
    display: inline-block;
    background: #565658;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    margin-left: 20px;
    color: #fff;
}
header .info .exchange:hover {
    background: #06a;
}
header .logo {
    width: 240px;
    /*padding-left: 567px;*/
    height: 65px;
    float: left;
    position: relative;
}
header .logo img {
    padding-bottom: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
header .nav {
    display: grid;
    /*float: left;*/
    height: 50px;
}
header .nav li {
    color:#0f0f0f;
    float: left;
    position: relative;
    display: block;
}
header .nav li ul.sub {
    display: none;
    padding-top: 10px;
    background: #192636;
    position: absolute;
    /*width: 100%;*/
    width: 200px;
    left: -55px;
    z-index: 2;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.6);
    /*box-shadow: 1px 1px 1px 1px #eaa72b;*/
    border-radius: 5px;
    border: 1px solid;
    border-color: #eaca71;

}
header .nav li ul.sub li {
    float: none;
    border-bottom: solid 1px #363537;
}
header .nav li ul.sub li a {
    color: #ffffff;
    padding: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    border: none;
    height: 32px;
    line-height: 32px;
}
header .nav li a {
    display: block;
    padding: 0 18px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: solid 2px transparent;
}
header .nav li a {
    display: block;
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 600;
    border-bottom: solid 2px transparent;

    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
}
header .nav li.on > a,
header .nav li.on:hover > a {
    background: rgba(0,0,0,0.1);
    color: #ffffff;
    border-bottom-color: #ffffff;
}
header .nav li:hover > a {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    background: rgba(0,0,0,0.2);
    color: #31f5c9;
    border-bottom-color: #727272;
    border-radius: 5px;
}
header .nav li:hover ul.sub {
    /* 스크립트로 제어
    display: block;
    */
}
header .nav li.gnb-btn a {
    color: #fff;
    border: solid 1px rgba(255,255,255,0.3);
    margin: 12px 0 0 6px;
    padding: 0 30px;
    border-radius: 5px;
    height: 26px;
    line-height: 24px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-size: 14px;
}

header .nav li.gnb-btn-img {
    margin: 12px 0 0 6px;
    height: 26px;
}

header .nav li.gnb-btn a.gnb-deposit {
    margin-left: 60px;
    background: #63a001;
}
header .nav li.gnb-btn a.gnb-deposit:hover {
    background: #538601;
}
header .nav li.gnb-btn a.gnb-withdraw {
    background: #dc0405;
}
header .nav li.gnb-btn a.gnb-withdraw:hover {
    background: #b90304;
}
main {
    min-height: 100%;
    position: relative;
    margin-top: 200px;
    padding-bottom: 100px;
}
main .content {
    position: relative;
    height: 100%;
}
main.main .content {
    /*margin-top: -400px;*/
}
main.page figure {
    position: absolute;
    width: 100%;
    height: 600px;
    z-index: 0;
}
main .main-wrap {
    top: 500px;
    overflow: hidden;
    /*background: url("/images/main-bg2.png") no-repeat;*/
    background: #2f2f2f4a;
    /*padding: 36px 20px;*/
    float: right;
    padding-left: 50px;
    padding-top: 20px;
    margin-top: 30px;
}
main .main-wrap h3,
main .main-wrap h4 {
    height: 24px;
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
    border-bottom: solid 1px #727272;
}
main .main-wrap h3 span,
main .main-wrap h4 span {
    color: #dda145;
}
main .main-wrap article {
    float: left;
    padding: 0 15px;
    font-size: 14px;
}
main .main-wrap article li {
    overflow: hidden;
    border-bottom: solid 1px;
    border-color: #163742;
}
main .main-wrap article li span {
    display: block;
    height: 28px;
    line-height: 28px;
    float: left;
}
main .main-wrap article li span.date {
    width: 24%;
}
main .main-wrap article li span.date em {
    color: #fff;
}
main .main-wrap article li span.home,
main .main-wrap article li span.away {
    width: 33%;
    color: #fff;
}
main .main-wrap article li span.away {
    text-align: right;
}
main .main-wrap article li span.vs {
    color: #bd514e;
    width: 10%;
    text-align: center;
}
main .main-wrap article li a {
    width: 100%;
    display: block;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
main .main-wrap .game {
    width: 50%;
}
main .main-wrap .event {
    width: 50%;
}
/*main .main-wrap .notice {
    width: 27%;
}*/
main .notice {
    width: 100%;
    background: #0a0e12;
    overflow: hidden;
    padding-bottom: 5px;
    vertical-align: top;
}
main figure {
    overflow: hidden;
    height: 400px;
    /*background: url("/images/main_visual2.jpg") right top no-repeat;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
}
main figure h1 {
    padding: 100px 0 0 40px;
    font-style: italic;
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-size: 40px;

}
main figure p {
    display: table;
    padding: 4px 20px;
    /*background: rgba(0,0,0,0.5);*/
    margin-bottom: 4px;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
main figure p:hover {
    letter-spacing: 1px;
}
footer {
    background: #363537;
    opacity: 0.8;
    height: 80px;
    margin-top: -80px;
    border-top: solid 1px rgba(255,255,255,0.1);
}
footer .copyright {
    position: relative;
    margin-top: 20px;
    text-align: center;
    color: #727272;
}
footer .copyright span {
    color: #ddd;
}
footer .copyright .btn {
    float: right;
}
#clock {
    margin-top: 4px;
    width: 220px;
}
#btn-top {
    cursor: pointer;
    position: fixed;
    margin-left: 50%;
    left: 670px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    background: #565658;
    border: solid 1px rgba(255,255,255,0.1);
    text-align: center;
    text-shadow: -1px -1px 1px rgba(0,0,0,0.6);
    -webkit-box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
    box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    opacity: 0;
    font-weight: 600;
}
#btn-top:hover {
    background: btn-info;
}
#btn-top.show {
    opacity: 1;
}
main.page .container {
    margin-top: 10px;
    padding: 10px 10px 30px 10px;
    min-height: 500px;
    overflow: hidden;
    opacity: 0.9;

}
main.page .container section {
    width: 990px;
    float: left;
}
main.page .container aside {
    margin-top: 0px;
    width: 220px;
    float: right;
}
main.page .container aside.fixed #clock {
    position: fixed;
}
main.page .container aside.fixed .cart-wrap {
    padding-top: 6px;
    top: 340px;
    position: fixed;
    /*margin-top: 70px;*/
    margin-left: 78px;
}
main.page .container h3 {
    font-size: 18px;
    font-weight: 600;
    padding: 0px 0;
    padding-top: 5px;
    border-bottom: solid 1px #464547;
    margin-bottom: 5px;
}
main.page .container h3 .btn {
    float: right;
    height: 30px;
    line-height: 30px;
    margin-top: -6px;
}
main.page .container h4 {
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 10px;
}
main.page .container h5 {
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 10px;
}
main.page .container .box {
    border-radius: 6px;
    padding: 30px 20px;
    line-height: 1.8;
    background: #000000;
    border: solid 1px #565658;
    -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}
main.page .container .box2 {
    padding: 10px 10px;
    line-height: 1.8;
    font-size: large;
}
main.page .container .command {
    padding: 20px 0;
    text-align: right;
}
main.page .container .command .btn {
    font-size: 14px;
    font-weight: 600;
    height: 32px;
    line-height: 32px;
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
    border-radius: 4px;
}
main.page .container .command .btn:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}
main.page .tab-menu {
    text-align: right;
}
.color0 {
    color: #fff !important;
}
.color01 {
    color: #ffff00 !important;
    font-weight: bold;
}
.color02 {
    color: #4a98be !important;
}
.color03 {
    color: #e07a59 !important;
}
.color04 {
    color: #62c462 !important;
}
.color05 {
    color: #ec9c29 !important;
}
.color06 {
    color: #ec0e00 !important;
    font-weight: bolder;
}
.color11 {
    color: crimson;
}
.color22 {
    color: #ffd700 !important;
}
.color33 {
    color: #2e71b7 !important;
}
.color44 {
    color: #118307 !important;
}
.color55 {
    color: #a62eee !important;
}
.crtBtn {
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    background: linear-gradient(to top, rgba(28, 63, 122, 0.6), rgba(51, 154, 244, 0.6));
    height: 24px;
    line-height: 24px;
    padding: 0 20px;
    color: #fff;
    border: 1px solid #000;
}
.depBtn {
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    background: #025498;
    height: 24px;
    line-height: 24px;
    padding: 0 20px;
    color: #fff;
}
.btn {
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    background: #4d4d4f;
    height: 24px;
    line-height: 24px;
    padding: 0 20px;
}
.btn.on,
.btn:hover {
    background: #262527;
}
.btn.btn01 {
    background: #464547;
    border-radius: 4px;
}
.btn.btn01.on,
.btn.btn01:hover {
    background: #004777;
}
.btn.btn02 {
    background: #464547;
    border-radius: 4px;
}
.btn.btn02.on,
.btn.btn02:hover {
    background: #9b3000;
}
.btn.btn03 {
    background: #ce0f0b;
    border-radius: 4px;
}
.btn.btn03.on,
.btn.btn03:hover {
    background: #900a08;
}
.btn.btn04 {
    background: #3b3b3b;
    border-radius: 4px;
}
.btn.btn04.on,
.btn.btn04:hover {
    background: #000;
}
main input,
main select,
main textarea {
    background: #757575;
    border: 1px solid #1c1c1c;
    border-radius: 2px;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    color: #ccc;
    -webkit-box-shadow: inset 0 0 5px 2px rgba(0,0,0,0.2);
    box-shadow: inset 0 0 5px 2px rgba(0,0,0,0.2);
    vertical-align: middle;
}
main input:focus,
main select:focus,
main textarea:focus {
    border-color: #444;
}
main input.ng-invalid,
main select.ng-invalid,
main textarea.ng-invalid {
    border-color: color03;
}
main input[disabled=disabled],
main select[disabled=disabled],
main textarea[disabled=disabled] {
    color: #666;
}
main input.num {
    text-align: right;
}
main textarea {
    padding: 10px;
    line-height: 1.6;
}
div.paging {
    text-align: center;
    font-size: 0;
    margin: 25px 0;
}
div.paging ul {
    display: inline-block;
}
div.paging li {
    float: left;
    font-size: 13px;
    margin: 0 -1px 0 0;
    height: 34px;
    line-height: 32px;
    border: solid 1px rgba(255,255,255,0.05);
}
div.paging li:hover {
    position: relative;
    border-color: rgba(255,255,255,0.3);
    z-index: 1;
}
div.paging li.prev {
    margin-right: 8px;
}
div.paging li.prev a {
    background: rgba(0,0,0,0.5);
}
div.paging li.next {
    margin-left: 8px;
}
div.paging li.next a {
    background: rgba(0,0,0,0.5);
}
div.paging a,
div.paging em {
    display: block;
    padding: 0 12.5px;
}
div.paging a {
    cursor: pointer;
}
div.paging em {
    background: #c8232c;
}
#layout-wrap {
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 998;
    left: 0;
    top: 0;
}
#layout-box {
    top: 50%;
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 999;
    height: 546px;
    margin-top: -273px;
}
#layout-box img {
    display: inline-block;
    margin: 0 10px;
}
#layout-load {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin-top: -200px;
    margin-left: -150px;
    z-index: 999;
}
.lv {
    display: inline-block;
    background: #565658;
    height: 20px;
    line-height: 20px;
    width: 36px;
    color: #fff;
    text-align: center;
    margin-right: 10px;
    font-size: 12px;
}
.cal-title {
    text-align: center;
    margin-bottom: 20px;
}
.cal-title span {
    display: inline-block;
    font-size: 24px;
    height: 36px;
    line-height: 36px;
    vertical-align: middle;
    padding: 0 20px;
}
.cal-title .btn {
    width: 60px;
    height: 36px;
    line-height: 36px;
    padding: 0;
    text-align: center;
}
ul.calendar {
    width: 100%;
    display: table;
    margin-left: 1px;
}
ul.calendar li {
    display: table-cell;
    float: left;
    width: 14.28%;
    border: solid 1px #565658;
    margin-left: -1px;
    margin-top: -1px;
    height: 100px;
    background: #464547;
    text-align: right;
    padding: 10px;
    font-size: 16px;
}
ul.calendar li.blank {
    background: none;
}
ul.calendar li.check {
    background: url("/images/check.png") center center no-repeat #464547;
}
ul.calendar li:nth-child(7n + 1) {
    color: #f30;
}
ul.calendar li:nth-child(7n + 0) {
    color: #48f;
}
ul.calendar li.th {
    background: #363537;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: 600;
    padding: 0;
}
table {
    border-collapse: collapse;
    -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}
table.fixed {
    table-layout: fixed;
}
table th,
table td {
    height: 32px;
    vertical-align: middle;
    border: 1px solid #000000;
    padding: 6px 0;
}
table th {
    /*border-top : solid 2px #fdd040;*/
    background: linear-gradient(to top, rgba(28, 63, 122, 0.6), rgba(51, 154, 244, 0.6));
}
/*table td {
     !*background: #314863;*!
     background : linear-gradient( to bottom, #536b87, #253b55);
     text-align: left;
     padding-left: 20px;
 }*/
table td {
    background: #000000;
    text-align: left;
    padding-left: 20px;
}
table.banking .btn {
    width: 72px;
    padding: 0;
    text-align: center;
}
table.view {
    -webkit-box-shadow: none;
    box-shadow: none;
}
table.view th {
    text-align: left;
}
table.view th p {
    font-size: 15px;
    padding: 10px 20px;
    line-height: 1.6;
}
table.view td {
    background: none;
    border-bottom: solid 1px #464547;
    padding: 10px 20px;
}
table.view td .date {
    display: block;
    height: 20px;
    line-height: 20px;
    background: url("/images/icon_time.png") left center no-repeat;
    padding-left: 16px;
    float: right;
}
table.view td.contents {
    padding: 20px;
    line-height: 1.6;
}
table.add td {
    padding: 6px 10px;
}
table.add td input {
    width: 100%;
}
table.add td textarea {
    width: 100%;
    height: 300px;
}
table.list td {
    padding-left: 0;
    text-align: center;
}
table.list td .label {
    background-color: #1f809c;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    width: 50px;
    color: #fff;
    font-size: 10px;
    font-family: Arial;
}
table.list td.title {
    text-align: left;
    padding: 0 20px;
    cursor: pointer;
}
table.list td.title .hit {
    color: #ee5f5b;
}
table.list td.title .new,
table.list td.title .bet {
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    color: #fff;
    margin: 0 1px;
    text-align: center;
    font-size: 10px;
    font-family: Arial;
}
table.list td.title .new.new,
table.list td.title .bet.new {
    background-color: #c8232c;
}
table.list td.title .new.bet,
table.list td.title .bet.bet {
    background-color: #389638;
}
table.list td.title a {
    max-width: 540px;
}
table.list td.title:hover a {
    color: #fff;
}
table.list td.user {
    text-align: left;
    padding: 0 10px;
}
table.list td.user.admin {
    padding-left: 60px;
}
div.board {
    -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}
div.board ul {
    display: table;
    border-collapse: collapse;
    width: 100%;
    margin-top: -1px;
}
div.board ul li {
    display: table-cell;
    height: 32px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #565658;
    width: auto;
    background: #464547;
}
div.board ul.head {
    margin-top: 0;
}
div.board ul.head li {
    background: #363537;
    text-align: center !important;
}
div.board.qna li:nth-child(1),
div.board.memo li:nth-child(1) {
    width: 80px;
}
div.board.qna li:nth-child(2),
div.board.memo li:nth-child(2) {
    width: 630px;
    padding: 0 10px;
    text-align: left;
    cursor: pointer;
}
div.board.qna li:nth-child(2) a,
div.board.memo li:nth-child(2) a {
    width: 600px;
}
div.board.qna li:nth-child(2):hover a,
div.board.memo li:nth-child(2):hover a {
    color: #fff;
}
div.board.qna li:nth-child(4),
div.board.memo li:nth-child(4) {
    width: 80px;
}
div.board.qna li:nth-child(5),
div.board.memo li:nth-child(5) {
    width: 80px;
}
div.board.qna ul.contents,
div.board.memo ul.contents {
    display: none;
}
div.board.qna ul.contents li,
div.board.memo ul.contents li {
    display: block;
    height: auto;
    width: 100%;
    padding: 20px;
    text-align: left;
    line-height: 1.8;
    background: #363537;
    -webkit-box-shadow: inset 8px 8px 40px 1px rgba(0,0,0,0.3);
    box-shadow: inset 8px 8px 40px 1px rgba(0,0,0,0.3);
}
div.board.qna ul.contents li h5,
div.board.memo ul.contents li h5 {
    font-size: 14px;
    background: rgba(0,0,0,0.3);
    padding: 6px 20px;
}
div.board.qna ul.contents li p,
div.board.memo ul.contents li p {
    padding: 20px;
    position: relative;
}
div.board.qna ul.contents li p .btn,
div.board.memo ul.contents li p .btn {
    position: absolute;
    right: 0;
    top: 10px;
}
div.board.memo li:nth-child(2) {
    width: 710px;
    padding: 0 10px;
    text-align: left;
    cursor: pointer;
}
div.board.memo li:nth-child(2) a {
    width: 670px;
}
div.board.memo li:nth-child(2):hover a {
    color: #fff;
}
.comment {
    background: #464547;
    padding: 10px;
}
.comment textarea {
    width: calc(100% - 120px);
    height: 80px;
}
.comment .btn {
    float: right;
    width: 120px;
    height: 80px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0 4px 4px 0;
}
.comments > div {
    overflow: hidden;
    border-top: solid 1px #565658;
    padding: 10px 20px;
    background: #464547;
}
.comments > div .date {
    margin-top: 6px;
    display: block;
    height: 20px;
    line-height: 20px;
    background: url("/images/icon_time.png") left center no-repeat;
    padding-left: 16px;
}
.comments > div .user {
    float: left;
    width: 160px;
}
.comments > div .title {
    position: relative;
    padding-left: 160px;
}
.comments > div .title p {
    color: #fff;
    line-height: 1.6;
}
.comments > div .title .icon_delete {
    position: absolute;
    right: 0;
    top: 0;
    width: 21px;
    height: 21px;
    background: url("/images/icon_delete.png") center center no-repeat #dc0405;
}
table.game {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 5;
}
table.game img,
table.game span {
    vertical-align: middle;
}
table.game tbody.group:before {
    content: '';
    display: block;
    height: 15px;
    /*background: #1d1c1d;*/
}
table.game tr.off td {
    background: #464547 !important;
    cursor: auto !important;
}
table.game td {
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    padding: 0 10px;
}
table.game td.league {
    padding: 0;
    background: #0f1010;
    color: #fff;
    text-align: left;
    height: 40px;
    font-weight: 600;
}
table.game td.league img {
    margin-right: 8px;
}
table.game td.league img.flag {
    margin-left: 20px;
}
table.game td.league p {
    display: inline-block;
    min-width: 176px;
}
table.game td.league .cnt {
    height: 20px;
    line-height: 20px;
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    background-color: #dc0405;
    padding: 0 1px;
    border-radius: 12px;
}
table.game td.league .btn {
    float: right;
    position: relative;
    padding: 0 40px 0 0;
    width: 116px;
    text-align: center;
}
table.game td.league .btn em {
    background: rgba(0,0,0,0.5);
    position: absolute;
    right: 1px;
    top: 1px;
    height: 22px;
    line-height: 22px;
    width: 40px;
    padding-right: 6px;
    text-align: right;
}
table.game td.date span {
    color: #ffd424;
}
table.game td.home {
    color: #fff;
    text-align: left;
}
table.game td.home .odds {
    display: inline-block;
    float: right;
    font-weight: 600;
    color: #fff;
}
table.game td.draw.bet {
    color: #fff;
}
table.game td.away {
    color: #fff;
    text-align: right;
}
table.game td.away .odds {
    display: inline-block;
    float: left;
    font-weight: 600;
    color: #fff;
}
table.game td.home .oddsHandicap {
    vertical-align: bottom;
    color : #4d7fa5;
}

table.game td.away .oddsHandicap {
    vertical-align: bottom;
    color : #4d7fa5;
}

table.game td.home .over {
    background: url("/images/icon_over.gif") left center no-repeat;
    color: #d95855;
}

table.game td.away .under {
    background: url("/images/icon_under.gif") right center no-repeat;
    color: #457294;
}

table.game td .handy {
    font-weight: normal;
    color: #62c462;
}
table.game td.bet away .under {
    background: url("/images/icon_under.gif") right center no-repeat;
    color: #457294;
}
table.game td.bet2 {
    position: relative;
    background: #585858;
    cursor: pointer;
}
table.game td.bet2:hover {
    /*크로스 팀 롤오버 색*/
    background: #ee5f5b
    /*background: #b3b020;*/
}
table.game td.bet2.on {
    background: #7584b7;
    color: #641518;
}
table.game td.bet {
    position: relative;
    /*background: #314862;*/
    /*background : linear-gradient( to bottom, #536b87, #253b55);*/
    background: #000000;
    cursor: pointer;
    padding: 2px;
}
/*table.game td.bet:hover {
    !*크로스 팀 롤오버 색*!
    !*background: #ee5f5b*!
    transition: 0.2s;
    !*font-weight: bold;*!
    vertical-align: middle;
    color: #ffc428;
    !*font-weight: bold;*!
    background: url(/html/daybet/images/bg-betting-btn.png?5);
    border: solid 2px #ffaf00;
    background-position: 0 -36px;
}*/
table.game td.bet:hover {
    /*크로스 팀 롤오버 색*/
    background: #641518;
    /*background: #b3b020;*/
    /*opacity: 1%;*/
}
/*table.game td.bet.on {
     color: #000;
     font-weight: bold;

     padding: 0 10px;
     transition: 0.2s;
     box-shadow: 0 3px 2px rgba(0,0,0,0.3);
     font-weight: bold;
     font-family: dotum;
     vertical-align: middle;
     text-shadow: none;
     border: solid 1px #000;
     background: url(/html/daybet/images/bg-betting-btn.png?5);
     background-position: 0 -72px;
     text-shadow: none;
 }*/
table.game td.bet.on {
    background: #e7c223;
    /*background: #dc0405;*/
    color: #641518;
    /*color: #fff;*/
}
/*table.game td.bet.on * {
    color: #000;
    !*font-weight: bold;*!
}*/
table.game td.bet.on * {
    color: #641518;
    /*color: #fff;*/
}
table.game td.bet a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
table.game td.over {
    background: #262527;
    color: #ee5f5b;
    margin: 0 6px;
}
table.game td.under {
    background: #262527;
    color: #5bc0de;
    margin: 0 6px;
}
table.game td.score {
    color: #fff;
    -webkit-box-shadow: inset 0 0 40px 1px #000;
    box-shadow: inset 0 0 40px 1px #000;
}
table.game tr.item td.home,
table.game tr.item td.draw,
table.game tr.item td.away {
    background: #000000;
    /*background : linear-gradient( to bottom, #536b87, #253b55);*/
}
table.game tr.item td.home.bet,
table.game tr.item td.draw.bet,
table.game tr.item td.away.bet {
    background: #ee5f5b;
    color: #fff;
}
table.game tr.item td.home.bet *,
table.game tr.item td.draw.bet *,
table.game tr.item td.away.bet * {
    color: #fff;
}
table.game tr.item td.home.on,
table.game tr.item td.draw.on,
table.game tr.item td.away.on {
    /*-webkit-box-shadow: inset 0 0 0 1px #fff;*/
    /*box-shadow: inset 0 0 0 1px #fff;*/
    background: #9c0000;
}
table.game tr.item td.home.on.hit,
table.game tr.item td.draw.on.hit,
table.game tr.item td.away.on.hit {
    /*-webkit-box-shadow: inset 0 0 0 1px #fff;*/
    /*box-shadow: inset 0 0 0 1px #fff;*/
    background: #986102;
}
table.game tr.item td.home.hit,
table.game tr.item td.draw.hit,
table.game tr.item td.away.hit {
    /*background: #dc0405;*/
    box-shadow: inset 0 0 0 1px #fff;
    color: #fff;
    background: #986102;
}
table.game tr.item td.home.hit *,
table.game tr.item td.draw.hit *,
table.game tr.item td.away.hit * {
    color: #ee5f5b;
}
table.game tr.item td.vs.hit {
    background: #986102;
    color: #fff;
}
table.game tr.item td.vs.hit * {
    color: #fff;
}
table.game tr.item td.info img {
    margin-right: 8px;
}
table.game tr.item td.odds {
    color: #ee5f5b;
    color: #374043;
    font-weight: 600;
}
table.game tr.item td.result.ing,
table.game tr.item td.result.closing {
    color: #fff;
}
table.game tr.item td.result.win {
    color: #5bc0de;
    /*color: #63a001;*/
}
table.game tr.item td.result.lose {
    color: #f60;
}
table.game tr.item td.result.hit {
    /*적특일때*/
    /*color: #5bc0de;*/
    color: #31de16;
}
table.game tr.item td.result.cancel {
    color: #ee5f5b;
}
table.game td.betInfo {
    background: #000000;
    text-align: left;
    padding: 6px 0 20px 0;
    font-size: 14px;
}
table.game td.betInfo span {
    display: inline-block;
    color: #fff;
}
table.game td.betInfo span .money {
    color: #62c462;
    font-weight: 600;
    vertical-align: baseline;
}
table.game td.betInfo span .hit {
    color: #5bc0de;
    /*color: #ff5f5b;*/
    font-weight: 600;
    vertical-align: baseline;
}
table.game td.betInfo span.dateDay {
    margin-left: 20px;
}
table.game td.betInfo span.dateTime {
    color: #f89406;
}
table.game td.betInfo span.betMoney,
table.game td.betInfo span.rate,
table.game td.betInfo span.expMoney,
table.game td.betInfo span.hitMoney {
    margin-left: 20px;
}
table.game td.betInfo span.btn-box {
    display: inline-block;
    float: right;
    font-size: 13px;
    margin-top: 2px;
}
table.game td.betInfo input {
    width: 20px;
    height: 20px;
    padding: 0;
}
ul.sports {
    float: right;
    height: 30px;
}
ul.sports li {
    float: left;
    padding-left: 20px;
    cursor: pointer;
    height: 24px;
    line-height: 24px;
}
ul.sports li em {
    vertical-align: middle;
    display: inline-block;
    background-color: #dc0405;
    padding: 0 7px;
    border-radius: 10px;
    margin-left: 10px;
}
ul.sports li img {
    vertical-align: middle;
}
#left-league {
    display: block;
    position: absolute;
    top: 70px;
    left: 50%;
    margin-left: -832px;
    margin-top: -30px;
}
#left-league ul {
    display: none;
}
#left-league ul.on {
    display: block;
}
#left-league li {
    display: block;
}
#left-league li .cnt {
    float: right;
    display: block;
    background-color: #dc0405;
    height: 18px;
    line-height: 18px;
    padding: 0 7px;
    border-radius: 10px;
    margin-top: 6px;
}
#left-league li p {
    width: 200px;
    padding: 0 10px;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    background: #363537;
    margin: 1px 0;
}
#left-league li p.top {
    height: 32px;
    line-height: 32px;
    font-weight: 600;
    background: #262527;
}
#left-league li p.top .cnt {
    margin-top: 8px;
}
#left-league li p.league {
    padding-left: 16px;
    background: #565658;
}
.cart-wrap {
    padding-top: 6px;
    width: 220px;
    font-size: 13px;
}
.cart-wrap .cart-top {
    font-size: 14px;
    font-weight: 600;
    background: #2e2e2e;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    /*border-radius: 10px;*/
}
.cart-wrap .cart-odds {
    margin-top: 4px;
    padding: 10px;
    background: #2e2e2e;
    /*border-radius: 10px;*/
}
.cart-wrap .cart-odds p {
    height: 24px;
    line-height: 24px;
    color: #fff;
}
.cart-wrap .cart-odds p input {
    width: 120px;
    height: 22px;
    text-align: right;
    font-size: 14px;
    padding: 0;
    color: #DC143C;
}
.cart-wrap .cart-odds p span {
    display: inline-block;
    float: right;
}
.cart-wrap .cart-odds p em {
    color: #FFD700;
}
.cart-wrap .cart-amount {
    overflow: hidden;
    margin-top: 2px;
}
.cart-wrap .cart-amount li {
    float: left;
    display: block;
    width: 32%;
    margin-top: 2px;
    margin-bottom: 2px;
}
.cart-wrap .cart-amount li .btn {
    width: 100%;
    padding: 0;
    text-align: center;
    height: 32px;
    line-height: 32px;
    border: solid 1px rgba(0,0,0,0.4);
}
.cart-wrap .cart-amount li .crtBtn {
    width: 100%;
    padding: 0;
    text-align: center;
    height: 32px;
    line-height: 32px;
    border: solid 1px rgba(0,0,0,0.4);
}
.cart-wrap .cart-amount li .crtBtn:hover {
    color: #fff;
    border: solid 1px #eaec60;
}
.cart-wrap .cart-amount li:nth-child(3n + 2) {
    margin-left: 2%;
    margin-right: 2%;
}
.cart-wrap .cart-betting {
    margin-top: 2px;
}
.cart-wrap .cart-betting .btn {
    border-radius: 5px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    height: 42px;
    line-height: 42px;
    background : linear-gradient( to bottom, #8f1915, #ff2c25);
    color: #fff;
    font-weight: 600;
}
.cart-wrap .cart-betting .btn:hover {
    background : linear-gradient( to bottom, #ff2c25, #8f1915);
    transition: 0.8s;
    color: #ffc428;;
}
.cart-wrap .cart-betting .btn em {
    margin-left: 2px;
    font-size: 13px;
    display: inline-block;
    height: 22px;
    line-height: 20px;
    vertical-align: middle;
    background: #363537;
    padding: 0 8px;
    border-radius: 50%;
}
.cart-wrap .cart-item div {
    margin-top: 4px;
    padding: 10px;
    position: relative;
    /*background: #464547;*/
}
.cart-wrap .cart-item .bet_home {
    background: #0d4676;
}
.cart-wrap .cart-item .bet_draw {
    background: #0d4676;
}
.cart-wrap .cart-item .bet_away {
    background: #0d4676;
}

.cart-wrap .cart-item div.bonus {
    background: #363537;
}
.cart-wrap .cart-item div.bonus span {
    color: #5bc0de;
}
.cart-wrap .cart-item .btn {
    padding: 0 6px;
    position: absolute;
    height: 20px;
    line-height: 20px;
    right: 10px;
    top: 8px;
    background: #dc0405;
    color: #fff;
}
.cart-wrap .cart-item .btn:hover {
    background: #b90304;
}

.cart-wrap .cart-item .btn2 {
    padding: 0 6px;
    position: absolute;
    height: 20px;
    line-height: 20px;
    right: 10px;
    top: 70px;
    background: #dc0405;
    color: #fff;
    cursor: pointer;
}
.cart-wrap .cart-item .btn2:hover {
    background: #b90304;
}

.cart-wrap .cart-item p {
    height: 18px;
    line-height: 18px;
}
.cart-wrap .cart-item p.odds {
    margin-bottom: 8px;
    color: #fff;
}

.cart-wrap .cart-item p.odds2 {
    margin-bottom: 18px;
    color: #fff;
}
.cart-wrap .cart-item p.odds img {
    vertical-align: middle;
}
.cart-wrap .cart-item p.odds span {
    float: right;
    padding-right: 16px;
    color: #5bc0de;
}
.cart-wrap .cart-item p.zone {
    padding-left: 20px;
    color: #5bc0de;
}
.ladder-result {
    background: url("/images/ladder-result.png");
    display: inline-block;
    width: 26px;
    height: 26px;
}
.ladder-result.s1 {
    background-position: 0 0;
}
.ladder-result.s2 {
    background-position: -26px 0;
}
.ladder-result.s3 {
    background-position: -52px 0;
}
.ladder-result.s4 {
    background-position: -78px 0;
}
.lowhi-result {
    background: url("/images/lowhi-result.png");
    display: inline-block;
    width: 50px;
    height: 25px;
}
.lowhi-result.s1 {
    background-position: 0 0;
}
.lowhi-result.s2 {
    background-position: -50px 0;
}
.lowhi-result.s3 {
    background-position: -100px 0;
}
.lowhi-result.s4 {
    background-position: -150px 0;
}
div.zone {
    overflow: hidden;
    position: relative;
}
div.zone > .timer {
    width: 200px;
    float: left;
}
div.zone > .timer .timer-box {
    background: url("/images/zone/timer-bg.png");
    border: solid 4px #f60;
    width: 200px;
    text-align: center;
    border-radius: 6px;
    padding: 20px;
}
div.zone > .right {
    width: 820px;
    float: right;
}
div.game_zone > .timer {
    width: 200px;
    float: left;
    margin-top: 20px;
}
div.game_zone > .timer .timer-box {
    background: url("/images/zone/timer-bg.png");
    border: solid 4px #f60;
    width: 364px;
    text-align: center;
    border-radius: 6px;
    padding: 9px;
    height: 57px;
}
div.game_zone > .right {
    width: 820px;
    float: right;
}

#zoneButton {
    margin: 0 auto;
    width: 860px;
    padding: 4px 5px;
    background: #bbb;
    border: solid 1px #acacac;
    border-radius: 4px;
    text-align: left;
}
#zoneButton a {
    display: inline-block;
    color: #222;
    font-weight: 600;
    text-shadow: 1px 1px 1px #fff;
    padding: 0 20px;
    height: 22px;
    line-height: 20px;
    text-align: center;
    border: solid 1px transparent;
}
#zoneButton a.on,
#zoneButton a:hover {
    background: #197d5f;
    border-color: #116249;
    border-radius: 3px;
    color: #fff;
    text-shadow: none;
}
#login {
    /*background: url("/images/pattern03.png") #000;*/
}
#login .full_screen {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    -ms-object-fit: cover;
    object-fit: cover;
    z-index: 0;
    opacity: 0.6;
}
#login .login-logo {
    width: 800px;
    height: 420px;
    background: url("/images/logo.png") center center no-repeat #59a735;
    position: fixed;
    z-index: 2;
    right: 0;
    top: 0;
    opacity: 0.86;
}
#login .login-line {
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 300px;
    background: #f40;
    opacity: 0.8;
}
#login .login-line > div {
    height: 100%;
    width: 50%;
    left: 50%;
    background: #06f;
}
#login .login-wrap {
    position: absolute;
    width: 400px;
    left: 50%;
    min-height: 100%;
    /*padding: 0 100px;*/
    margin-left: -600px;
    background: rgba(0,0,0,0.41);
}
#login .login-wrap .login-box {
    text-align: center;
    width: 400px;
    margin: 0 auto;
    padding-top: 20%;
}
#login .login-wrap h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 48px;
    font-weight: 800;
    font-family: sans-serif;
    color: #eee;
    margin-bottom: 100px;
}
#login .login-wrap label {
    width: 300px;
    display: block;
    margin: 0 auto 10px auto;
    overflow: hidden;
}
#login .login-wrap input,
#login .login-wrap select {
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 16px;
    padding: 0 20px;
    border: solid 1px #444;
    border-radius: 5px;
    background: rgba(0,0,0,0.5);
}
#login .login-wrap select {
    color: #aaa;
    float: left;
    width: 140px;
}
#login .login-wrap select.on {
    color: #fff;
}
#login .login-wrap select option {
    color: #fff;
    background: rgba(0,0,0,0.7);
}
#login .login-wrap select + input {
    width: 176px;
    float: right;
}
#login .login-wrap .command {
    margin: 0 auto;
    padding-top: 30px;
    width: 300px;
}
#login .login-wrap .btn-login,
#login .login-wrap .btn-join {
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    height: 46px;
    line-height: 46px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
#login .login-wrap .btn-login {
    background: #59a735;
}
#login .login-wrap .btn-login:hover {
    background-color: #2d541b;
}
#login .login-wrap .btn-join {
    border: 1px solid #aaa;
}
#login .login-wrap .btn-join:hover {
    background-color: #fff;
    color: #3e7525;
}
#login .login-wrap .copyright {
    margin-top: 100px;
    font-family: Arial;
    font-size: 11px;
    color: #888;
}
#login .login-wrap .copyright span {
    color: #ccc;
}
#login .login-wrap.login-join {
    padding-bottom: 40px;
}
#login .login-wrap.login-join h1 {
    margin-bottom: 40px;
}
#login .login-wrap.login-join label {
    width: 320px;
    position: relative;
}
#login .login-wrap.login-join label .bul {
    position: absolute;
    right: 10px;
    top: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("/images/btn_join.png") center left no-repeat;
}
#login .login-wrap.login-join label .bul.bul-ready {
    background-position: -20px 0;
}
#login .login-wrap.login-join label .bul.bul-error {
    background-position: -40px 0;
}
#login .login-wrap.login-join label p {
    clear: both;
    color: #888;
    font-size: 13px;
    text-align: left;
    padding: 4px 0 0 20px;
    letter-spacing: -1px;
}
#login .login-wrap.login-join .command {
    width: 320px;
}
.spinner {
    width: 20px;
    height: 20px;
    background-color: #ee3729;
    -webkit-animation: sk-rotate 1.6s infinite ease-in-out;
    -o-animation: sk-rotate 1.6s infinite ease-in-out;
    animation: sk-rotate 1.6s infinite ease-in-out;
}
.loading {
    width: 453px;
    height: 453px;
    background: url("/images/loading.png") center center no-repeat;
    -webkit-animation: sk-span 2s infinite linear;
    -o-animation: sk-span 2s infinite linear;
    animation: sk-span 2s infinite linear;
}
@-webkit-keyframes sk-rotate {
    0% {
        -webkit-transform: perspective(120px);
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg);
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    }
}
@-moz-keyframes sk-rotate {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}
@-webkit-keyframes sk-rotate {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}
@-o-keyframes sk-rotate {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}
@keyframes sk-rotate {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}
@-moz-keyframes sk-span {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
    }
}
@-webkit-keyframes sk-span {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
    }
}
@-o-keyframes sk-span {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
    }
}
@keyframes sk-span {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
    }
}
.card_result {
    width: 31px;
    height: 44px;
    display: inline-block;
    background: url("/images/card_result.png");
}
.card_result.card_102 {
    background-position: -47px -7px;
}
.card_result.card_103 {
    background-position: -85px -7px;
}
.card_result.card_104 {
    background-position: -122px -7px;
}
.card_result.card_105 {
    background-position: -160px -7px;
}
.card_result.card_106 {
    background-position: -197px -7px;
}
.card_result.card_107 {
    background-position: -235px -7px;
}
.card_result.card_108 {
    background-position: -273px -7px;
}
.card_result.card_109 {
    background-position: -310px -7px;
}
.card_result.card_110 {
    background-position: -347px -7px;
}
.card_result.card_111 {
    background-position: -385px -7px;
}
.card_result.card_112 {
    background-position: -423px -7px;
}
.card_result.card_113 {
    background-position: -461px -7px;
}
.card_result.card_114 {
    background-position: -10px -7px;
}
.card_result.card_202 {
    background-position: -47px -57px;
}
.card_result.card_203 {
    background-position: -85px -57px;
}
.card_result.card_204 {
    background-position: -122px -57px;
}
.card_result.card_205 {
    background-position: -160px -57px;
}
.card_result.card_206 {
    background-position: -197px -57px;
}
.card_result.card_207 {
    background-position: -235px -57px;
}
.card_result.card_208 {
    background-position: -273px -57px;
}
.card_result.card_209 {
    background-position: -310px -57px;
}
.card_result.card_210 {
    background-position: -347px -57px;
}
.card_result.card_211 {
    background-position: -385px -57px;
}
.card_result.card_212 {
    background-position: -423px -57px;
}
.card_result.card_213 {
    background-position: -461px -57px;
}
.card_result.card_214 {
    background-position: -10px -57px;
}
.card_result.card_302 {
    background-position: -47px -106px;
}
.card_result.card_303 {
    background-position: -85px -106px;
}
.card_result.card_304 {
    background-position: -122px -106px;
}
.card_result.card_305 {
    background-position: -160px -106px;
}
.card_result.card_306 {
    background-position: -197px -106px;
}
.card_result.card_307 {
    background-position: -235px -106px;
}
.card_result.card_308 {
    background-position: -273px -106px;
}
.card_result.card_309 {
    background-position: -310px -106px;
}
.card_result.card_310 {
    background-position: -347px -106px;
}
.card_result.card_311 {
    background-position: -385px -106px;
}
.card_result.card_312 {
    background-position: -423px -106px;
}
.card_result.card_313 {
    background-position: -461px -106px;
}
.card_result.card_314 {
    background-position: -10px -106px;
}
.card_result.card_402 {
    background-position: -47px -156px;
}
.card_result.card_403 {
    background-position: -85px -156px;
}
.card_result.card_404 {
    background-position: -122px -156px;
}
.card_result.card_405 {
    background-position: -160px -156px;
}
.card_result.card_406 {
    background-position: -197px -156px;
}
.card_result.card_407 {
    background-position: -235px -156px;
}
.card_result.card_408 {
    background-position: -273px -156px;
}
.card_result.card_409 {
    background-position: -310px -156px;
}
.card_result.card_410 {
    background-position: -347px -156px;
}
.card_result.card_411 {
    background-position: -385px -156px;
}
.card_result.card_412 {
    background-position: -423px -156px;
}
.card_result.card_413 {
    background-position: -461px -156px;
}
.card_result.card_414 {
    background-position: -10px -156px;
}
/*----------------------------------------------------------------*/
.card_result2 {
    width: 31px;
    height: 44px;
    display: inline-block;
    background: url("/images/card_result.png");
}
.card_result2.card_000 {
    background-size: 0px;
}
.card_result2.card_002 {
    background-position: -47px -7px;
}
.card_result2.card_003 {
    background-position: -85px -7px;
}
.card_result2.card_004 {
    background-position: -122px -7px;
}
.card_result2.card_005 {
    background-position: -160px -7px;
}
.card_result2.card_006 {
    background-position: -197px -7px;
}
.card_result2.card_007 {
    background-position: -235px -7px;
}
.card_result2.card_008 {
    background-position: -273px -7px;
}
.card_result2.card_009 {
    background-position: -310px -7px;
}
.card_result2.card_010 {
    background-position: -347px -7px;
}
.card_result2.card_011 {
    background-position: -385px -7px;
}
.card_result2.card_012 {
    background-position: -423px -7px;
}
.card_result2.card_013 {
    background-position: -461px -7px;
}
.card_result2.card_001 {
    background-position: -10px -7px;
}
.card_result2.card_202 {
    background-position: -47px -57px;
}
.card_result2.card_203 {
    background-position: -85px -57px;
}
.card_result2.card_204 {
    background-position: -122px -57px;
}
.card_result2.card_205 {
    background-position: -160px -57px;
}
.card_result2.card_206 {
    background-position: -197px -57px;
}
.card_result2.card_207 {
    background-position: -235px -57px;
}
.card_result2.card_208 {
    background-position: -273px -57px;
}
.card_result2.card_209 {
    background-position: -310px -57px;
}
.card_result2.card_210 {
    background-position: -347px -57px;
}
.card_result2.card_211 {
    background-position: -385px -57px;
}
.card_result2.card_212 {
    background-position: -423px -57px;
}
.card_result2.card_213 {
    background-position: -461px -57px;
}
.card_result2.card_201 {
    background-position: -10px -57px;
}
.card_result2.card_302 {
    background-position: -47px -106px;
}
.card_result2.card_303 {
    background-position: -85px -106px;
}
.card_result2.card_304 {
    background-position: -122px -106px;
}
.card_result2.card_305 {
    background-position: -160px -106px;
}
.card_result2.card_306 {
    background-position: -197px -106px;
}
.card_result2.card_307 {
    background-position: -235px -106px;
}
.card_result2.card_308 {
    background-position: -273px -106px;
}
.card_result2.card_309 {
    background-position: -310px -106px;
}
.card_result2.card_310 {
    background-position: -347px -106px;
}
.card_result2.card_311 {
    background-position: -385px -106px;
}
.card_result2.card_312 {
    background-position: -423px -106px;
}
.card_result2.card_313 {
    background-position: -461px -106px;
}
.card_result2.card_301 {
    background-position: -10px -106px;
}
.card_result2.card_102 {
    background-position: -47px -156px;
}
.card_result2.card_103 {
    background-position: -85px -156px;
}
.card_result2.card_104 {
    background-position: -122px -156px;
}
.card_result2.card_105 {
    background-position: -160px -156px;
}
.card_result2.card_106 {
    background-position: -197px -156px;
}
.card_result2.card_107 {
    background-position: -235px -156px;
}
.card_result2.card_108 {
    background-position: -273px -156px;
}
.card_result2.card_109 {
    background-position: -310px -156px;
}
.card_result2.card_110 {
    background-position: -347px -156px;
}
.card_result2.card_111 {
    background-position: -385px -156px;
}
.card_result2.card_112 {
    background-position: -423px -156px;
}
.card_result2.card_113 {
    background-position: -461px -156px;
}
.card_result2.card_101 {
    background-position: -10px -156px;
}

.user_info{
    /*float: right;*/
    text-align: right;
    display: inline-block;
    font-size: 1.1em;
    margin-left: -190px;
    width: 52%;
}
.user_info .right {
    float: right;
}
.user_info .userid {
    color: #ec9c29;
    font-weight: 600;
}
.user_info .logout {
    display: inline-block;
    background: #565658;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    margin-left: 20px;
    color: #fff;
}
.user_info .logout:hover {
    background: #d40;
}
.user_info .qna {
    margin-left: 20px;
    background: url("/images/icon_qna.png") left center no-repeat;
    padding-left: 24px;
}
.user_info .qna em {
    color: #ec9c29;
}
.user_info .memo {
    margin-left: 20px;
    background: url("/images/icon_memo.png") left center no-repeat;
    padding-left: 22px;
}
.user_info .memo em {
    color: #ec9c29;
}
.user_info .money {
    background: url("/images/icon_money.png") left center no-repeat;
    padding-left: 18px;
}
.user_info .money em {
    color: #FFD700;
}
.user_info .point {
    margin-left: 20px;
    background: url("/images/icon_point.png") left center no-repeat;
    padding-left: 18px;
    margin-right: 20px;
}
.user_info .point em {
    color: #499bc0;
}
.user_info .exchange {
    display: inline-block;
    background: #565658;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    margin-left: 20px;
    color: #fff;
}
.user_info .exchange:hover {
    background: #06a;
}









.user_info2{
    /*float: right;*/
    text-align: right;
    display: inline-block;
    font-size: 1.1em;
    /*margin-right: 248px;*/
    width: 42%;
    margin-top: -30px;
    margin-left: 590px;
}

.user_info2 .right {
    float: right;
}
.user_info2 .userid {
    color: #ec9c29;
    font-weight: 600;
}
.user_info2 .logout {
    display: inline-block;
    background: #565658;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    margin-left: 20px;
    color: #fff;
}
.user_info2 .logout:hover {
    background: #d40;
}
.user_info2 .qna {
    margin-left: 20px;
    background: url("/images/icon_qna.png") left center no-repeat;
    padding-left: 24px;
}
.user_info2 .qna em {
    color: #ec9c29;
}
.user_info2 .memo {
    margin-left: 20px;
    background: url("/images/icon_memo.png") left center no-repeat;
    padding-left: 22px;
}
.user_info2 .memo em {
    color: #ec9c29;
}
.user_info2 .money {
    background: url("/images/icon_money.png") left center no-repeat;
    padding-left: 18px;
}
.user_info2 .money em {
    color: #FFD700;
}
.user_info2 .point {
    margin-left: 20px;
    background: url("/images/icon_point.png") left center no-repeat;
    padding-left: 18px;
    margin-right: 20px;
}
.user_info2 .point em {
    color: #499bc0;
}
.user_info2 .exchange {
    display: inline-block;
    background: #565658;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    margin-left: 20px;
    color: #fff;
}
.user_info2 .exchange:hover {
    background: #06a;
}

.main_r_box {
    position: absolute;
    top: 0px;
    padding-left: 2px;
    background-color: #000;
    margin-left: 1020px;
    margin-bottom: 10px;
    width:260px;
    /*border-radius: 8px;*/
    opacity: 0.8;
}

.main_r_box img{
    border-radius: 8px;
    cursor: pointer;
}

.main_r_box img:hover{
    opacity: 0.7;
    /*background-color: #737075;*/
    /*border: 2px solid;*/
}

.main_r_box ul {
    display: inline-flex;
}

.main_r_box ul li{
    margin-top: 8px;
    margin-bottom: 8px;
    padding:10px;
    width:90px;
    height:90px;
}

.main_c_banner {
    width:100%;
}

.main_c_banner ul {
    /*display: inline-flex;*/
}

.main_t_box {
    /*position: absolute;*/
    /*top: 20px;*/
    /*left: 300px;*/
}

.main_c_table {
    width:1280px;
}

.main_c_table .r_banner{
    text-align: right;
}

.main_c_table td{
    background: none;
    /*padding-top:15px;*/
    border: 0px;
    padding-left: 0px;
}

.imgOver:hover {
    opacity: 0.8;
}

.vMiddle {
    vertical-align: middle;
}

.vBottom {
    vertical-align: bottom;
}

.basketball {
    color: #e0ff00;
}

.soccer{
    color: #ff6a04;
}

.icehockey{
    color: #ff0011;
}

.esports{
    color: #e200ff;
}

.volleyball{
    color: #09ff2d;
}

.baseball{
    color: #04ffc7;
}

.handball{
    color: #0035ff;
}

.amfootball{
    color: #ff0087;
}

.sports{
    color: #ffffff;
}

.powerToggle{
    width:100%;
    height: 30px;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    background: #091f36;
    margin-bottom: 10px;
}

.odds1 {
    color: #fff;
}

.odds2 {
    color: #d85855;
}

.lotto_bg1 {
    background-image: url("/images/lotteryday_bg.jpg");
    width: 910px;
    height: 900px;

}

.lotto_bg2 {
    background-image: url("/images/lotterymoney_bg.jpg");
    width: 910px;
    height: 900px;

}

.lotto_top div {
    /*border: solid 1px;*/

}

.lotto_cnt {
    float: left;
    width: 370px;
    padding-top: 245px;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}

.lotto_box {
    float: right;
    width: 540px;
}

.lotto_roll {
    padding-top: 149px;
    float: left;
    width: 260px;
    height: 234px;
}

.lotto_button {
    position: relative;
    top: 136px;
    right: 0;
    z-index: 999;
}

.lotto_config {
    padding-top: 146px;
}
.lotto_config ul{
    list-style: none;
}
.lotto_config ul li{
    float: left;
    padding-right: 10px;
}

.lotto_list {
    position: relative;
    top: 100px;
}

.kenoBlindBox {
    position: absolute;
    background-color: #0f1121;
    width: 247px;
    height: 475px;
    top: 140px;
    left: 12px;
    border-radius: 10px;
}
.powerBlindBox {
    position: absolute;
    background-color: #0f1121;
    width: 246px;
    height: 485px;
    top: 176px;
    left: 15px;
    border-radius: 10px;
    margin-top: -35px;
}
.fxGameBlindBox {
    position: absolute;
    background-color: #4f382a;
    width: 220px;
    height: 460px;
    top: 115px;
    left: 41px;
    border-radius: 10px;
    margin-top: -35px;
}
.powerLadderBlindBox {
    position: absolute;
    background-color: #0f1121;
    width: 257px;
    height: 493px;
    top: 111px;
    left: 8px;
    border-radius: 10px;
    margin-top: 25px;
}

.powerFreekickBlindBox {
    position: absolute;
    background-color: #0c2b54;
    width: 229px;
    height: 493px;
    top: 189px;
    left: 29px;
    border-radius: 10px;
    margin-top: 25px;
}

.inGame01 {
    background-color: #25765c;
}

.inGame02 {
    background-color: #666666;
}

.inGame03 {
    background-color: #585858;
}
.footer-arr { background: rgba(23,45,62,0.8);}
#footer {
    width: 1160px;
    margin: 10px auto 0 auto;
}
.simply-scroll-container {
    width: 1138px;
    margin: 10px auto 0 auto;
    border: solid 1px #000;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.35) 0%, rgba(14,30,49,0.89) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.35) 0%, rgba(14,30,49,0.89) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%, rgba(14,30,49,0.89) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#e30e1e31', GradientType=0 );
}
.copyright {
    color: #eee;
    padding: 10px;
    text-align: center;
    display: block;
    float: none;
}

#footer {
    min-height: 300px;
    clear: both;

    padding-top: 1px;
}
.footer-overlay { margin-top: 15px;
    border-top: 1px solid #000;
    height: 20px;
    background: rgb(19,30,41);
    background: -moz-linear-gradient(top, rgba(19,30,41,1) 0%, rgba(23,40,61,1) 100%);
    background: -webkit-linear-gradient(top, rgba(19,30,41,1) 0%,rgba(23,40,61,1) 100%);
    background: linear-gradient(to bottom, rgba(19,30,41,1) 0%,rgba(23,40,61,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131e29', endColorstr='#17283d',GradientType=0 );
}

#footer .footer-content {
    background: url("/html/daybet/images/media-logos.png") no-repeat center center;
    padding: 23px 0;
    min-height: 100px;
}
#footer .footer-content .section-container {
    max-width: 235px;
    min-width: 136px;
    margin-left: 62px;
    float: left;
}
#footer .footer-content .section-container h3 {
    text-transform: uppercase;
    font-size: 12px;
    color: #888888;
    margin-top: 0;
}
#footer .footer-content .section-container .footer-link {
    display: block;
    position: relative;
    font-size: 11px;
    color: #888888;
    padding-left: 15px;
    margin-bottom: 10px;
}
#footer .footer-content .section-container .footer-link:hover {
    color: #fff;
}
#footer .footer-content .section-container .footer-link:before {
    content: " ";
    width: 7px;
    height: 7px;
    background: url("/html/daybet/img/footer/arrow.png") no-repeat;
    position: absolute;
    left: 3px;
    top: 2px;
}
#footer .footer-content .section-container p {
    font-size: 11px;
    color: #6e6e6e;
    line-height: 14px;
}
#footer .footer-content .section-container p a {
    color: #edb635;
}
#footer .footer-content .section-container p a:hover {
    color: #ffc619;
}
#footer .footer-content .section-container:first-child {
    margin-left: 0;
}
#footer .footer-content .social-icons {
    text-align: center;
    margin-top: 25px;
}
#footer .footer-content .social-icons .icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    cursor: pointer;
}
#footer .footer-content .social-icons .facebook-icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    cursor: pointer;
    background: url("/html/daybet/img/footer/fb_logo.png") no-repeat;
}
#footer .footer-content .social-icons .facebook-icon:hover {
    background: url("/html/daybet/img/footer/fb_logo_h.png") no-repeat;
}
#footer .footer-content .social-icons .twitter-icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    cursor: pointer;
    margin-left: 25px;
    background: url("/html/daybet/img/footer/tw_logo.png") no-repeat;
}
#footer .footer-content .social-icons .twitter-icon:hover {
    background: url("/html/daybet/img/footer/tw_logo_h.png") no-repeat;
}
#footer .footer-bottom {
    height: 35px;
    padding: 15px 0;
    color: #505050;
    font-size: 11px;
    position: relative;
}
#footer .footer-bottom .license {
    margin-top: 2px;
    float: left;
}
#footer .footer-bottom .license img {
    vertical-align: middle;
    float: left;
    margin-right: 10px;
}
#footer .footer-bottom .license span {
    margin-top: 3px;
    display: inline-block;
    color: #888888;
}
#footer .footer-bottom .license span a {
    color: #888888;
}
#footer .footer-bottom .license span a:hover {
    color: #f3f3f3;
}
#footer .footer-bottom .eighteen {
    display: inline-block;
    width: 26px;
    height: 26px;
    cursor: pointer;
    position: absolute;
    left: 570px;
    background: url("/html/daybet/images/18_plus.png") no-repeat;
}
#footer .footer-bottom .eighteen:hover {
    background: url("/html/daybet/images/18_plus_h.png") no-repeat;
}
#footer .footer-bottom .copyright {

    margin-top: 35px;
    color: #888888;
}
#footer .footer-bottom .copyright .powered-by {
    margin-left: 20px;
}
#footer .footer-bottom .copyright img {
    vertical-align: middle;
    margin-left: 5px;
}
#footer .footer-separator {
    border-top: 1px solid #000;
    height: 1px;
    background: #282828;
}
#footer .footer-content .section-container p {
    text-align: left;
}
.footer-text { text-align: center; color: #52677c; }
.logo-footer01 { text-align: center; display: block; margin-top: 10px;}
.main-mmm-iii {

}
.mainmini{
    width: 800px;
    height: 200px;
    background:#0a0e12;
}
.mainmini ul {
    overflow: hidden;
    width: 100%;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
}
.mainmini li {
    float: left;
    text-align: center;
    cursor: pointer;
    width: 25%;
    box-sizing: border-box;
    padding: 2px;
}

.mainmini li a {

    width: 100%;
    text-align: center;
    font-family: 'notor';
    color: #fff;
    letter-spacing: -1px;
    font-size: 14px;
    transition: all 0.3s;
    height: 50px; line-height: 50px;
    background: none;
    border: solid 1px #444; border-radius: 5px;
    display: block;
}
.mainmini li a:hover {
    color: #ffcc00;
    transform: translate(0px, -3px)
}
.main3btn{
    width:464px;
    float:right;
    background:#0a0e12;
    height:180px;
    border-radius:10px;
}
.main3btn ul {
    list-style: none;
    width: 90%;
    margin: auto;
}
.main3btn li {
    float: left;
    height: 105px;
    width: 31.3%;
    text-align: center;
    cursor: pointer;
    color: rgba(255,255,255,0.5);
    transition: all 0.3s;
}
.main3btn li i {
    width: 100%;
    margin: 10px 0px 10px 0px
}
.main3btn li div {
    font-family: 'notor';
    color: #fff;
    letter-spacing: -1px;
    font-size: 14px;
    transition: all 0.3s
}
.main3btn li:hover {
    color: rgba(255,255,255,1)
}
.main3btn li:hover > div {
    color: #ffcc00;
    transform: translate(0px, -3px);
}



.logo_top img {
    transition: 0.2s;
    width: 86px;
    margin-left: 54px;
    margin-top: -26px;
}
.sco-top .logo_top img {
    width: 46px;
    margin-left: 54px;
    margin-top: -32px;
    transition: 0.2s;
}
.sco-top header {
    position: fixed;
    z-index: 9999;
    right: 0;
    left: 0;
    height: 90px;
    background: #080a0e;
    transition: 0.2s;
}
.sco-top header .gnb{
    margin-top: -5px;
    transition: 0.2s;
}
/*.sco-top .logo_top {
    top: 6px;
    width: 120px;
    margin-left: 64px;
    margin-top: -10px;
}*/
.sco-top header .nav li .mainMenu {
    color: #ffd408;
    font-size: 17px;
    margin-top: -24px;
    margin-left: 10px;
    transition: 0.2s;
}

.moreBtn {
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    background: #4d4d4f;
    height: 24px;
    line-height: 24px;
    width: 40px;
}
.moreBtn.btn03 {
    background: #ce0f0b;
    border-radius: 4px;
}
.moreBtn.btn03.on,
.moreBtn.btn03:hover {
    background: #900a08;
}

/*.sco-top header .nav li ul.sub li a {
    !*color: #ffd408;*!
    font-size: 17px;
    transition: 0.2s;
!*    margin-top: -34px;
    margin-left: 10px;*!
    transition: 0.2s;
}
.sco-top header .nav li.on > a,
.sco-top header .nav li.on:hover > a {
    background: rgba(0,0,0,0.1);
    color: #ffffff;
    border-bottom-color: #ffffff;
    font-size: 17px;
    transition: 0.2s;
!*    margin-top: -34px;
    margin-left: 10px;*!
}
.sco-top header .nav li:hover > a {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    background: rgba(0,0,0,0.2);
    color: #31f5c9;
    border-bottom-color: #727272;
    border-radius: 5px;
    font-size: 17px;
    transition: 0.2s;
!*    margin-top: -34px;
    margin-left: 10px;*!
    transition: 0.2s;
}
.sco-top header .nav li ul.sub {
    display: none;
    padding-top: 10px;
    background: #192636;
    position: absolute;
    !*width: 100%;*!
    width: 200px;
    left: -55px;
    z-index: 2;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.6);
    !*box-shadow: 1px 1px 1px 1px #eaa72b;*!
    border-radius: 5px;
    border: 1px solid;
    border-color: #eaca71;
    !*margin-top: -34px;*!
    !*margin-left: 10px;*!
    transition: 0.2s;
}*/


/*
파워볼 관련
 */


/*게임존*/

.game_zone_arr {
    width: 300px;
    float: right;
}
.game_zone {
    position: absolute;
    width: 370px;
    top: -20px;
    right: 28px;
}
.game_zone .btn-zone-arr {
    text-align: center;
    background: rgba(0,0,0,0.2);
    border: solid 1px #000;
    margin-top: 64px;
    padding: 5px;
    vertical-align: text-top;
}
.game_time {
    text-align: center;
    font-family: dotum;
    background: rgba(100,100,100,0.2);
    border: solid 1px #000;
    padding: 10px;
    box-shadow: inset 0 0px 5px 0 rgba(0,0,0,0.36);
    vertical-align: text-top;
}
.game_time h4 {
    color: #ffc600;
    font-size: 12px;
    display: block;
    margin: 0;
    display: inline-block;
}
.game_time em {
    font-style: normal;
    color: #fff;
    display: block;
    display: inline-block;
}
.game_time p {
    color: #ffc428;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    display: block;
    margin: 0;
    display: inline-block;
}
#game_end_time {
    display: none;
}
.betting_lock {
    padding: 0;
    margin: 0;
}
.game_zone h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    font-size: 12px;
    background: rgba(100,100,100,0.2);
    color: #ffc600;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
}
.game_zone #team_name {
    font-size: 0px !important;
    font-weight: bold;
}
.gamezone-bet-result {
    margin-top: 10px;
}
.text-warning {
    color: #FF9E00;
}
.text-info {
    color: #00C3FF;
}
.text-danger {
    color: #FF3E41;
}

.betting_lock p { position: absolute; top: 0; left: 0px; right: 0; bottom: 0; background: rgba(0,0,0,0.7); z-index: 999; margin: 0; }
.betting_lock .fa { margin: 0 auto; font-size: 120px; color: #ffcb00; position: absolute; left: 50%; top: 50%; z-index: 99999; margin-left: -39px; margin-top: -60px; }

.game_zone .btn-zone-arr a { height: 65px; width: 48%; cursor: pointer;/* display: block;*/ position: relative; margin: 0; padding: 0; border-radius: 15px; border: solid 4px rgba(0,0,0,1);box-shadow: inset 0 2px 0px 0 rgba(255,255,255,0.3);
    box-sizing: border-box; }
.game_zone .btn-zone-arr a .divd { font-family: NotoSansKR !important; font-weight: 700; font-size: 16px; text-shadow: 0 0px 2px #000; display: block; margin-top: 0px; text-align:center; }
.game_zone .btn-zone-arr a .divd2 { font-family: NotoSansKR !important; font-weight: 700; font-size: 20px; text-shadow: 0 0px 2px #000; display: block; margin-top: 0px; text-align:center;line-height: 54px }
.game_zone .btn-zone-arr a:hover { border-color: #ffcc00; box-shadow: inset 0px 0px 105px 5px rgba(0,0,0,0.75);}
.game_zone .btn-zone-arr .select { border-color: #ffcc00; box-shadow: inset 0px 0px 105px 43px rgba(0,0,0,0.75) !important;  }
.game_zone .btn-zone-arr a img { display: none;}
.game_zone .btn-zone-arr .select .miniFont { color: #ffcc00 !important;}
.game_zone .btn-zone-arr .select .divd { color: #ffcc00 !important;}
.game_zone .btn-zone-arr a .divd { font-family: NotoSansKR !important; font-weight: 700; font-size: 20px; text-shadow: 0 0px 2px #000; position: absolute; left: 0px; top: 30px; right: 0; text-align: center;color: #fff}
.game_zone .btn-zone-arr a span.miniFont { font-size: 20px !important; display: block; color: #fff; text-shadow: 0 0px 2px #000; text-align: center; position: absolute; left: 0; top: 10px; right: 0; font-weight: bolder;}
.game_zone .btn-zone-arr a span.miniFont2 { font-size: 11px !important; display: block; color: #fff; text-shadow: 0 0px 2px #000; text-align: center; position: absolute; left: 0; top: 5px; right: 0; font-weight: bolder;}
.float_left { float: left; }
.float_right { float: right; }

.game_zone h3 {   background:rgba(100,100,100,0.3); border-radius:5px;  line-height: 30px; height: 30px; margin: 10px 0; display: block; text-align: center; color: #ffcc00; font-size: 14px; }
.btn_zone01, .btn_zone02, .btn_zone03, .btn_zone033, .btn_zone0101, .btn_zone0102, .btn_zone0103, .btn_zone0104, .btn_zone0105,  .btn_zonesp1,  .btn_zonesp2  { margin-bottom: 3px;}



.float_left { float: left;}
.float_center { float: left;}
.float_right { float: right;}
.btn_zone03 .float_left { width: 38% !important; margin-right: 1.8% !important;}
.btn_zone03 .float_center { width: 20% !important;}
.btn_zone03 .float_center .divd { bottom: 40% !important; }
.btn_zone03 .float_right { width: 38% !important;}

.btn_zone033 .float_left { width: 38% !important; margin-right: 1.8% !important;}
.btn_zone033 .float_center { width: 20% !important;}
.btn_zone033 .float_center .divd { bottom: 40% !important; }
.btn_zone033 .float_right { width: 38% !important;}

.btn_zone04 .float_left { width: 32% !important; margin-right: 1.8% !important;}
.btn_zone04 .float_center { width: 32% !important;}

.btn_zone04 .float_right { width: 32% !important;}

.btn_zone4 .float_left { width: 33.3% !important;}
.btn_zone4 .float_center { width: 33.3% !important;}
.btn_zone4 .float_right { width: 33.3% !important;}


.btn_zone044 .float_left { width: 32% !important; margin-right: 18% !important;}
.btn_zone044 .float_center { width: 32% !important;}

.btn_zone044 .float_right { width: 32% !important;}

.btn_zone05 .float_left { width: 25% !important; !important;}
.btn_zone05 .float_center { width: 25% !important;}

.btn_zone05 .float_right { width: 25% !important;}
#game_iframe{ float: left; width: 830px;}


.float_left { background: #1164cc; !important }
.float_center { background: #009102; !important }
.float_right { background: #d12828; !important}

.btn_zone0101, .btn_zone0102, .btn_zone0103, .btn_zone0104, .btn_zone0105 { margin-bottom: 3px; float: none !important;}
.btn_zone0101 a, .btn_zone0102 a, .btn_zone0103 a, .btn_zone0104 a, .btn_zone0105 a  { background: #117b92 ; width: 19% !important; margin: 0.5% !important;  float: left !important;}
.btn_zone04 .float_left {background: #0da700 !important;}
.btn_zone04 .float_center {background: #cb8b00 !important;}
.btn_zone04 .float_right {background: #db36a4 !important;}

.btn_zone044 .float_left {background: #0da700 !important;}
.btn_zone044 .float_center {background: #cb8b00 !important;}
.btn_zone044 .float_right {background: #db36a4 !important;}

.btn_zone05 .float_left {background: #009102 !important;}
.btn_zone05 .float_center {background: #cb02c8 !important;}
.btn_zone05 .float_right {background: #009102 !important;}



.sub_content_arr { background: #0e1f30;}

.btn_max { position: absolute; left: 0; bottom: -56px; }
.btn_price_zone a { display: inline-block; }
.cart_btn_arr { text-align: right; width: 315px; height: 70px; margin-left: 13px; }
.cart_btn_arr a { display: block; float: right; }
.cart_btn_arr a:hover { opacity: 0.8; }
.price_select img { display: block; padding-top: 8px; }
.eprice_money { display: block; color: #fff; text-shadow: 0 1px 0 #000; }
.eprice_money p { display: block; float: left; margin: 5px; }
.eprice_money span { margin-left: 5px; }
#cart_list { display: block; font-size: 16px; height: 28px; line-height: 28px; font-weight: bold; color: #fff; background: rgba(0,0,0,0.2); box-shadow: inset 0px 2px 2px rgba(0,0,0,0.3); border: solid 1px #000; }
.unbetting { background: #000 url(/html/daybet/images/lock_icon01.png?7) no-repeat center center; opacity: 0.3 !important; }
#price { font-family: Arial, Helvetica, sans-serif; text-align: center; display: block; font-size: 14px; height: 23px; line-height: 23px; width:356px; font-weight: bold; color: #E10003;   margin: 0;  }
#divd { color: #00C3FF; font-weight: bold; }
#eprice { color: #ffe551; font-weight: bold; }
.newcart_price { color: #fff; background: #641c0a; box-shadow: inset 0px 2px 2px rgba(0,0,0,0.3); border-radius: 30px; padding: 5px; }
.newcart_price li { display: inline-block; }
.newcart_price li a { color: #bdbdbd; margin: 0 5px; font-family: dotum; font-size: 12px; }
#bett_lists table thead { background: #666 !important; }
.btn_price_zone { width:100%; padding-top:7px;}
.btn_price_zone button { float: left; border: none; cursor: pointer; width: 33.3%; color: #fff; font-size: 12px; display: inline; font-family: dotum; text-shadow: 0 1px 0 #000; border: solid 1px #000 !important; font-weight: 600; height: 30px; line-height: 30px; padding: 0; border: solid 1px #000; margin: 0; border-radius: 0; }
.btn_price_zone button:hover { color: #fff; border: solid 1px #eaec60; }
#btnBett { color: #fff; font-size: 20px; display: block;  padding: 10px; font-weight: 700; text-shadow: 0 1px 0 rgba(0,0,0,0.47);  }
#btnBett:hover { top: 0 !important; color: #fff; opacity: 1.0 !important; text-shadow: 0 -1px 0 rgba(0,0,0,0.47);}
.cart-new-arr {text-align: center;     background:rgba(0,0,0,0.3);border: solid 1px #000; padding: 5px;  vertical-align: text-top; margin-top:192px;height: auto;}
.betting_btn_zone { padding-top:5px;}


.ui-button_red, .ui-button_gray, .ui-button_gray2, .ui_btn_green, .ui_btn_gray, .ui_btn_blue, .ui_btn_red, .ui_btn_yellow { cursor: pointer; text-shadow: 0 1px 3px rgba(0,0,0,0.9); color: #fff; box-shadow: inset 0 2px 0px 0 rgba(255,255,255,0.3);  font-size: 12px; border: solid 1px #000000; margin: 1px; font-weight: 700px; font-weight: bold; vertical-align: middle;  background-size: contain; padding:0px 20px; transition:0.2s; height:34px; line-height:34px; display:inline-block; vertical-align:middle; box-shadow: inset 0 2px 0px 0 rgba(255,255,255,0.3); }
button.ui-button_red, button.ui-button_gray, button.ui-button_gray2, button.ui_btn_green, button.ui_btn_gray, button.ui_btn_blue, button.ui_btn_red, button.ui_btn_yellow { padding: 0px 21px; height:36px; line-height:36px; display:inline-block; vertical-align:middle; box-shadow: inset 0 2px 0px 0 rgba(255,255,255,0.3); }
.ui-button_red { background: url(/images/btn-red.png?2); }
.ui-button_red:hover { position: relative;  background-position:0 -42px; box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3); text-shadow: 0 -1px 3px rgba(0,0,0,0.9); }
.ui-button_red:active { position: relative;  }
.ui-button_gray { background: url(/images/btn-gray.png?2); }
.ui-button_gray:hover { position: relative;  background-position:0 -42px; box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3); text-shadow: 0 -1px 3px rgba(0,0,0,0.9); }
.ui-button_gray:active { position: relative;  }
.ui-button_gray2 { background: url(/images/btn-gray.png?2); }
.ui-button_gray2:hover { position: relative;  background-position:0 -42px; box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3); text-shadow: 0 -1px 3px rgba(0,0,0,0.9); }
.ui-button_gray2:active { position: relative; top: 2px; }
.ui_btn_green { background: url(/images/btn-green.png?2); }
.ui_btn_green:hover { position: relative;  background-position:0 -42px; box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3); text-shadow: 0 -1px 3px rgba(0,0,0,0.9); }
.ui_btn_green:active { position: relative;  }
.ui_btn_red { background: url(/images/btn-red.png?2); margin-top: 108px}
.ui_btn_red:hover { position: relative;  background-position:0 -42px; box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3); text-shadow: 0 -1px 3px rgba(0,0,0,0.9); }
.ui_btn_red:active { position: relative;  }
.ui_btn_gray { background: url(/images/btn-gary.png?2); }
.ui_btn_gray:hover { position: relative;  background-position:0 -42px; box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3); text-shadow: 0 -1px 3px rgba(0,0,0,0.9); }
.ui_btn_gray:active { position: relative;  }
.ui_btn_blue { background: url(/images/btn-blue.png?2); }
.ui_btn_blue:hover { position: relative;  background-position:0 -42px; box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3); text-shadow: 0 -1px 3px rgba(0,0,0,0.9); }
.ui_btn_blue:active { position: relative;  }
.ui_btn_yellow{ background: url(/images/btn-yellow.png?2); }
.ui_btn_yellow:hover { position: relative;  background-position:0 -42px; box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3); text-shadow: 0 -1px 3px rgba(0,0,0,0.9); }
.ui_btn_yellow:active { position: relative;  }

