
/* -- Nanum Gothic -- */

@font-face {
  font-family:NanumGothic-Regular;
  src:  url(../fonts/NanumGothic-Regular.ttf),
        url(../fonts/NanumGothic-Regular.eot),
        url(../fonts/NanumGothic-Regular.svg),
        url(../fonts/NanumGothic-Regular.woff),
        url(../fonts/NanumGothic-Regular.woff2);
}
@font-face {
  font-family:NanumGothic-Bold;
  src:  url(../fonts/NanumGothic-Bold.ttf),
        url(../fonts/NanumGothic-Bold.eot),
        url(../fonts/NanumGothic-Bold.svg),
        url(../fonts/NanumGothic-Bold.woff),
        url(../fonts/NanumGothic-Bold.woff2);
}
@font-face {
  font-family:NanumGothic-ExtraBold;
  src:  url(../fonts/NanumGothic-ExtraBold.ttf),
        url(../fonts/NanumGothic-ExtraBold.eot),
        url(../fonts/NanumGothic-ExtraBold.svg),
        url(../fonts/NanumGothic-ExtraBold.woff),
        url(../fonts/NanumGothic-ExtraBold.woff2);
}

/* -- Noto Sans -- */

@font-face {
  font-family:NotoSansKr-Regular;
  src:  url(../fonts/NotoSansKr-Regular.otf),
        url(../fonts/NotoSansKr-Regular.eot),
        url(../fonts/NotoSansKr-Regular.svg),
        url(../fonts/NotoSansKr-Regular.woff),
        url(../fonts/NotoSansKr-Regular.woff2);
}
@font-face {
  font-family:NotoSansKr-Bold;
  src:  url(../fonts/NotoSansKr-Bold.otf),
        url(../fonts/NotoSansKr-Bold.eot),
        url(../fonts/NotoSansKr-Bold.svg),
        url(../fonts/NotoSansKr-Bold.woff),
        url(../fonts/NotoSansKr-Bold.woff2);
}
@font-face {
  font-family:NotoSansKr-Black;
  src:  url(../fonts/NotoSansKr-Black.otf),
        url(../fonts/NotoSansKr-Black.eot),
        url(../fonts/NotoSansKr-Black.svg),
        url(../fonts/NotoSansKr-Black.woff),
        url(../fonts/NotoSansKr-Black.woff2);
}