<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminPopup">
<body class="popup">
<main layout:fragment="main">
    <section>
        <form id="frm" th:object="${member}" method="post" onsubmit="return addMember();">
            <div class="panel-header">
                <h3><i class="bul fa fa-user-plus"></i> 회원 기본정보</h3>
            </div>
            <table class="table-read">
                <caption>회원 기본정보</caption>
                <colgroup>
                    <col style="width: 140px;">
                    <col style="width: 350px;">
                    <col style="width: 140px;">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th class="required">아이디</th>
                    <td>
                        <input type="text" th:field="*{userid}" autofocus="autofocus"/>
                        <span id="enableUserid" class="bul fa fa-check color04" style="display: none;"></span>
                        <span id="disableUserid" class="bul fa fa-ban color03"></span>
                    </td>
                    <th class="required">비밀번호</th>
                    <td><input type="password" th:field="*{password}"/></td>
                </tr>
                <tr>
                    <th class="required">닉네임</th>
                    <td>
                        <input type="text" th:field="*{nickname}"/>
                        <span id="enableNickname" class="bul fa fa-check color04" style="display: none;"></span>
                        <span id="disableNickname" class="bul fa fa-ban color03"></span>
                    </td>
                    <th class="required">회원등급</th>
                    <td>
                        <select th:field="*{role}">
                            <option value="USER">일반회원</option>
                            <option value="AGENCY">총판</option>
                            <option value="ADMIN">관리자</option>
                            <option value="SUPER">슈퍼관리자</option>
                            <option value="DUMMY">게시판유저</option>
                        </select>
                        <select th:field="*{level}">
                            <option th:each="level : ${#numbers.sequence(1, 10)}" th:value="${level}" th:text="${level + '등급'}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>연락처</th>
                    <td>
                        <input type="text" th:field="*{phone}"/>
                    </td>
                    <th>추천인</th>
                    <td>
                        <input type="text" th:field="*{recommender}"/>
                    </td>
                </tr>
                <tr>
                    <th>머니</th>
                    <td><input type="text" th:field="*{money}" class="num sel" style="width: 80px;"/> 원</td>
                    <th>포인트</th>
                    <td><input type="text" th:field="*{point}" class="num sel" style="width: 80px;"/> P</td>
                </tr>
                <tr id="selectAgency">
                    <th>총판정보</th>
                    <td colspan="3">
                        <label id="label1">
                            총판 :
                            <select name="agency1" id="agency1">
                                <option value="">선택하세요.</option>
                            </select>
                            <br>
                            대리점 :
                            <select name="agency2" id="agency2">
                                <option value="">선택하세요.</option>
                            </select>
                        </label>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="panel-body">
                <h3><i class="bul fa fa-user-plus"></i> 계좌정보 / 기타정보</h3>
            </div>
            <table class="table-read">
                <caption>계좌정보 / 기타정보</caption>
                <colgroup>
                    <col style="width: 140px;">
                    <col style="width: 350px;">
                    <col style="width: 140px;">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th>은행명</th>
                    <td>
                        <select th:field="*{bank}">
                            <option value="">선택하세요.</option>
                            <option th:each="bank : ${banks}" th:value="${bank}" th:text="${bank}">은행</option>
                        </select>
                    </td>
                    <th>계좌번호</th>
                    <td><input type="text" th:field="*{account}"></td>
                </tr>
                <tr>
                    <th>예금주</th>
                    <td><input type="text" th:field="*{depositor}"></td>
                    <th>출금 비밀번호</th>
                    <td><input type="password" th:field="*{bankPassword}"></td>
                </tr>
                <tr>
                    <th>프로필</th>
                    <td colspan="3">
                        <textarea th:field="*{memo}" style="width: 760px;height: 100px;"></textarea>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="panel-footer">
                <button class="btn btn03">등록</button>
                <a onclick="popup.close();return false;" class="btn">창닫기</a>
            </div>
        </form>
    </section>
</main>
<script layout:fragment="script" th:if="true">
    var agencies = [(${agencies})];
    var agency2 = '', checkUserid = false, checkNickname = false;

    $('#agency1').on('change', function () {
        fnAgency(2)
    });
    $('#agency2').on('change', function () {
        fnAgency(3)
    });

    function fnAgencyReset(val){
        for(var i = 7;i>val;i--){
            $('#agency'+i).empty().append('<option value="">선택하세요.</option>');;
        }
    }

    function fnAgency(depth) {
        var _depth = 1;
        var _aObj = $('#agency' + _depth);
        var aObj = $('#agency' + depth);
        var _ac = _aObj.val();
        var ac = aObj.val();
        aObj.empty().append('<option value="">선택하세요.</option>');
        agencies.forEach(function (agency) {

            var _agencyVal = eval('agency.agency'+_depth);
            var agencyVal = eval('agency.agency'+depth);

            if (depth == 1) {
                _ac = _agencyVal;
            }

            if (agencyVal != '' && agencyVal != ac && _ac == _agencyVal ) {

                aObj.append('<option value="' + agencyVal + '">' + agencyVal + '</option>');
                ac = agencyVal;
            }
        });
        fnAgencyReset(depth);
    }
    fnAgency(1);

    $('#role').on('change', function () {
        fnAgencyReset(0);
        $('#selectAgency').hide();
        switch ($(this).val()) {
            case 'USER':
                $('#selectAgency').show();
                $('#level').show();
                fnAgency(1);
                break;
            case 'DUMMY':
                $('#level').show();
                break;
            case 'AGENCY':
                $('#level').hide();
                $('#selectAgency').show();
                fnAgency(1);
                break;
            default:
                $('#level').hide();
                break;
        }
    });

    $('#money, #point').onlyNum();

    $('#userid').on('blur', function () {
        $.post('[[${pathJoin}]]/userid', {userid: $('#userid').val()}).done(function (data) {
            if (data.success && $('#userid').val().length > 3) {
                $('#enableUserid').show();
                $('#disableUserid').hide();
                checkUserid = true;
            } else {
                $('#enableUserid').hide();
                $('#disableUserid').show();
                checkUserid = false;
            }
        });
    }).on('focus', function () {
        checkUserid = false;
    });

    $('#nickname').on('blur', function () {
        $.post('[[${pathJoin}]]/nickname', {nickname: $('#nickname').val()}).done(function (data) {
            if (data.success && $('#nickname').val().length > 1) {
                $('#enableNickname').show();
                $('#disableNickname').hide();
                checkNickname = true;
            } else {
                $('#enableNickname').hide();
                $('#disableNickname').show();
                checkNickname = false;
            }
        });
    }).on('focus', function () {
        checkNickname = false;
    });

    function addMember() {
        if (!checkUserid) {
            alert('사용가능한 아이디가 아닙니다.');
            $('#userid').focus();
            return false;
        }
        if ($('#password').val().length < 4) {
            alert('비밀번호는 4자리 이상입니다.');
            $('#password').focus();
            return false;
        }
        if (!checkNickname) {
            alert('사용가능한 닉네임이 아닙니다.');
            $('#nickname').focus();
            return false;
        }

        var agencyChk = 0;
        for (var i = 1; i <= 7; i++) {
            if ($('#agency' + i).val() == '') {
                agencyChk++;
            }
        }

        if ($('#role').val() == 'USER') {
            if (agencyChk > 0 && agencyChk != 1) {
                alert("일반회원 총판정보는 1단계까지 등록하거나 없어야 합니다.")
                return false;
            }
        }

        $.post(path + '/member/add', $('#frm').serialize()).done(function (data) {
            if (data.success) {
                try {
                    opener.location.reload();
                } catch (e) {
                }
                setTimeout(function () {
                    self.close();
                }, 1000);
            } else {
                $('form')[0].reset();
                $('#enableUserid').hide();
                $('#disableUserid').show();
                checkUserid = false;
                $('#enableNickname').hide();
                $('#disableNickname').show();
                checkNickname = false;
                $('#userid').focus();
            }
        });
        return false;
    }
</script>
</body>
</html>