<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='page', gnb='score', lnb='boglePower', title='보글파워볼 경기결과'">
<body>

<div layout:fragment="tab-menu" th:replace="fragments/mobile :: score" th:if="true"></div>
<main class="page" layout:fragment="page">
    <form id="frm-search" method="get" th:action="@{|${siteConfig.pathSite}/zone/boglePower/score|}">
        <input type="hidden" id="page" name="page" th:value="${page.number + 1}"/>
    </form>

    <table class="list game" style="table-layout: auto;">
        <caption>보글파워볼</caption>
        <colgroup>

        </colgroup>
        <thead>
        <tr>
            <th>일자</th>
            <th>회차</th>
            <th>결과</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="g : ${page.content}">
            <td th:utext="${tag.dayWeekTime(g.gameDate)}"></td>
            <td class="color0" th:text="${tag.round(g.round, 3)} + ' 회'"></td>
            <td>
                <span th:if="${g.oddeven eq 'ODD'}" class="color01">일반홀</span>
                <span th:if="${g.oddeven eq 'EVEN'}" class="color02">일반짝</span>
                <span th:if="${g.pb_oddeven eq 'ODD'}" class="color01">파워홀</span>
                <span th:if="${g.pb_oddeven eq 'EVEN'}" class="color02">파워짝</span>
                <span th:if="${g.overunder eq 'OVER'}" class="color01">일반오버</span>
                <span th:if="${g.overunder eq 'UNDER'}" class="color02">일반언더</span>
                <span th:if="${g.pb_overunder eq 'OVER'}" class="color01">파워오버</span>
                <span th:if="${g.pb_overunder eq 'UNDER'}" class="color02">파워언더</span>
                <span th:if="${g.size eq '대'}" class="color01">대</span>
                <span th:if="${g.size eq '중'}" class="color02">중</span>
                <span th:if="${g.size eq '소'}" class="color02">소</span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="paging">
        <ul th:replace="fragments/mobile :: paging(p=${page})"></ul>
    </div>
</main>

<script layout:fragment="script" th:if="true">

</script>
</body>
</html>