<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='page', gnb='score', lnb='eosPower5', title='EOS파워볼 5분경기결과'">
<body>

<div layout:fragment="tab-menu" th:replace="fragments/mobile :: score" th:if="true"></div>
<main class="page" layout:fragment="page">
    <h3>EOS파워볼 5분경기결과</h3>

    <form id="frm-search" method="get" th:action="@{|${siteConfig.pathSite}/zone/eosPower5/score|}">
        <input type="hidden" id="page" name="page" th:value="${page.number + 1}"/>
    </form>

    <table class="list game" style="table-layout: auto;">
        <caption>EOS파워볼 5분</caption>
        <colgroup>

        </colgroup>
        <thead>
        <tr>
            <th rowspan="2">일자</th>
            <th rowspan="2">회차</th>
            <th colspan="2">파워볼</th>
            <th colspan="3">일반볼</th>
        </tr>
        <tr>
            <th>홀짝</th>
            <th>언오버</th>
            <th>대중소</th>
            <th>홀짝</th>
            <th>언오버</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="g : ${page.content}">
            <td th:utext="${tag.dayWeekTime(g.gameDate)}"></td>
            <td>
                <p class="color01" th:text="${tag.round(g.round, 3)} + '회'"></p>
            </td>
            <td>
                <span th:if="${g.pb_oddeven eq 'ODD'}" class="color01">홀</span>
                <span th:if="${g.pb_oddeven eq 'EVEN'}" class="color02">짝</span>
                <span th:if="${g.pb_oddeven ne 'ODD' and g.pb_oddeven ne 'EVEN'}">-</span>
            </td>
            <td>
                <span th:if="${g.pb_overunder eq 'UNDER'}" class="color01">언더</span>
                <span th:if="${g.pb_overunder eq 'OVER'}" class="color02">오버</span>
                <span th:if="${g.pb_overunder ne 'OVER' and g.pb_overunder ne 'UNDER'}">-</span>
            </td>
            <td>
                <span th:if="${g.size eq '대'}" class="color02">대</span>
                <span th:if="${g.size eq '중'}" class="color03">중</span>
                <span th:if="${g.size eq '소'}" class="color01">소</span>
                <span th:if="${g.size ne '대' and g.size ne '중' and g.size ne '소'}">-</span>
            </td>
            <td>
                <span th:if="${g.oddeven eq 'ODD'}" class="color01">홀</span>
                <span th:if="${g.oddeven eq 'EVEN'}" class="color02">짝</span>
                <span th:if="${g.oddeven ne 'ODD' and g.oddeven ne 'EVEN'}">-</span>
            </td>
            <td>
                <span th:if="${g.overunder eq 'UNDER'}" class="color01">언더</span>
                <span th:if="${g.overunder eq 'OVER'}" class="color02">오버</span>
                <span th:if="${g.overunder ne 'OVER' and g.overunder ne 'UNDER'}">-</span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="paging">
        <ul th:replace="fragments/mobile :: paging(p=${page})"></ul>
    </div>
</main>

<script layout:fragment="script" th:if="true">

</script>
</body>
</html>