<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='page', gnb='score', lnb='roulette', title='바카라 경기결과'">
<body>

<div layout:fragment="tab-menu" th:replace="fragments/mobile :: score" th:if="true"></div>
<main class="page" layout:fragment="page">
    <form id="frm-search" method="get" th:action="@{|${siteConfig.pathSite}/zone/roulette/score|}">
        <input type="hidden" id="page" name="page" th:value="${page.number + 1}"/>
    </form>

    <table class="list game" style="table-layout: auto;">
        <caption>룰렛</caption>
        <colgroup>

        </colgroup>
        <thead>
        <tr>
            <th>일자</th>
            <th>회차</th>
            <th>결과</th>
        </tr>
        </thead>
        <tbody th:each="g,num: ${page.content}" th:class="${num.count > 1} ? 'box'"
               th:with="round = ${#numbers.formatInteger(g.round, 3, 'DEFAULT')} + '회차 '">
        <tr>
            <td rowspan="11" th:utext="${tag.dayWeekTime(g.gameDate)}">27(월)</td>
            <td rowspan="11">
                <p th:class="${not g.beforeGameDate} ? 'color03' : 'color01'"
                   th:text="${#numbers.formatInteger(g.round, 0, 'DEFAULT')} + ' 회차'"></p>
            </td>
            <td>
                <p class="color01" th:text="${'결과 : '+ g.result}"></p>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="paging">
        <ul th:replace="fragments/mobile :: paging(p=${page})"></ul>
    </div>
</main>

<script layout:fragment="script" th:if="true">

</script>
</body>
</html>