.parsley-errors-list{
    position: absolute;
}

.parsley-errors-list.filled{
    margin-top: 38px;
    margin-left: -35px;
    list-style:none;
    font-size: 12px;
    font-weight: bolder;
    color: #c90001;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
}

.popup_window {
    position: fixed;
    background-color: #fff;
    color: #000000;
    padding: 0;
    display: none;
    z-index: 999;
}

.wrapper_loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1976;
}

.wrapper_loading_img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    width: 80px;
    height: 80px;
}

.after-login-container .my-account .money div span.blue{
    cursor: pointer;
}

.slot-thumbnail {
    width: 180px;
    height: 160px;
}