<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminLayout" th:with="gnb='game', lnb=${menu}, pnb='complete'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>스포츠 :</small>
    [[${command.menuCode.name}]] 결과처리
</h2>
<div layout:fragment="content">
    <section>
        <div class="panel-search">
            <form id="frm-search" th:object="${command}" th:action="@{|${siteConfig.pathAdmin}/game/${menu}/result|}"
                  method="get">
                <input type="hidden" id="page" name="page" value="${page.number + 1}">
                <input type="hidden" id="_league" name="_league" th:value="${command.league}"/>
                <label>
                    종목 :
                    <select th:field="*{sports}" onchange="chkLeague(this);">
                        <option value="">전체종목</option>
                        <option th:each="sport: ${sportsList}" th:value="${sport.sportsName}" th:text="${sport.sportsName}">농구</option>
                    </select>
                </label>

                <label>
                    팀명 :
                    <input type="text" th:field="*{team}" />
                </label>
                <label>
                    타입 :
                    <input type="text" th:field="*{special}"/>
                </label>
                <div class="command">
                    <a class="btn btn01" onclick="goSearch();">검색</a>
                    <a th:href="@{|${siteConfig.pathAdmin}/game/${menu}/result|}" class="btn">취소</a>
                </div>
            </form>
        </div>
    </section>

    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-list"></i>
                베팅내역
                <span class="total">( 검색된 베팅내역 : <span th:text="${tag.num(page.totalElements)}">100</span> 건 )</span>
                <a class="btn btn03" onclick="toggleAll();" style="width: 180px;"><i class="fa fa-toggle-on" aria-hidden="true"></i> 전체 베팅내역 열고/닫기</a>
            </h3>
        </div>
        <table class="table-list">
            <caption>베팅 경기</caption>
            <colgroup>
                <col style="width: 120px;">
                <col style="width: 90px;">
                <col style="width: 120px;">
                <col style="width: 320px;">
                <col style="width: 60px">
                <col style="width: 180px;">
                <col style="width: 40px;">
                <col style="width: 180px;">
                <col style="width: 50px;">
                <col style="width: 80px;">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>날짜</th>
                <th>코드</th>
                <th>리그</th>
                <th>베팅타입</th>
                <th>배당</th>
                <th>홈팀</th>
                <th>vs</th>
                <th>원정팀</th>
                <th>게임</th>
                <th>베팅상태</th>
                <th>관리</th>
            </tr>
            </thead>
            <tbody class="bet" th:each="b,num : ${page.content}" th:with="total=${page.totalElements - page.number * page.size + 1}">
            <tr th:each="item : ${b.betItems}">
                <td class="info">
                    <img th:src="@{${tag.sportsFlag(item)}}" />
                    <span th:utext="${tag.dayWeekTime(item.gameDate)}">06/21(금)</span>
                </td>
                <td th:text="${item.gameId}"></td>
                <td>
                    <span class="color07" th:text="${item.sports}"></span>
                    <br>
                    <span th:text="${item.league}"></span>
                </td>
                <td class="color0" th:text="${tag.inGameBetInfo(item.special) + ' ('+b.betScore+')'}"></td>
                <td class="color01" th:text="${tag.odds(item.oddsHome)}"></td>
                <td class="color04" th:text="${item.teamHome}"></td>
                <td> VS </td>
                <td class="color04" th:text="${item.teamAway}"></td>
                <td th:class="${'result ' + item.resultStringCss}" th:text="${item.resultString}"></td>
                <td th:class="${b.status.name eq '대기'?'color03':'color01'}" th:text="${b.status.name}"></td>
                <td>
                    <a th:onclick="|inGameScore(${item.id},'2');|" class="btn btn03 btn-btn">적중</a>
                    <a th:onclick="|inGameScore(${item.id},'1');|" class="btn btn02 btn-btn">미적중</a>
                    <a th:onclick="|inGameScore(${item.id},'-1');|" class="btn btn01 btn-btn">취소</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="panel-footer">
            <div class="paging">
                <ul th:replace="fragments/admin :: paging(p=${page})"></ul>
            </div>
        </div>
    </section>
</div>
<script layout:fragment="script" th:if="true">
    var config = [(${config})];
    var leagueList = [(${leagueList})];

    $('input[name=hour], input[name=minute], #score-home, #score-away').onlyNum();

    $('input[name=oddsHome], input[name=oddsDraw], input[name=oddsAway], input[name=handicap]').onlyFloat().on('blur', function () {
        $(this).val((parseFloat($(this).val() || config.oddsDefault)).toFixed(2));
    });

    function chkLeague(){
        var paramLeague = $('#_league').val();
        var sports = $('#sports option:selected').val();
        $("#league").find("option").each(function() {
            $(this).remove();
        });

        $("#league").append("<option value=''>::전체::</option>");
        leagueList.forEach(function(league) {
            if(league.sports == sports){
                $("#league").append("<option value='"+league.leagueName+"' "+(league.leagueName == paramLeague ?'selected':'')+">"+league.leagueName+"</option>");
            }
        });
    }

    chkLeague();

    function inGameScore(id, result){
        var r = ""
        if(result == "1"){
            r = "미적중"
        }else if(result == "2"){
            r = "적중"
        }else if(result == "-1"){
            r = "취소"
        }
        if(confirm("선택하신 베팅타입으로 ( "+r+" ) 결과처리가 완료됩니다.\r\n결과처리 하시겠습니까?\r\n베팅상태(정상) 만 처리가능합니다.")) {
            $.ajax({
                url: path + '/game/inGameResult',
                method: 'post',
                data: {
                    id: id,
                    result: result
                }
            }).done(function (data) {
                if (data.success) {
                    location.reload();
                } else {
                    alert(data.message);
                    $('#amount').val('');
                    $('#memo').val('');
                }
            });
        }
    }


</script>
</body>
</html>