<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='page',gnb='page',title='충전신청'">
<body>
<main class="page" layout:fragment="page">
    <div class="box">
        <h4>입금 안내</h4>
        <p style="color: yellow;">저희 MOBIUS 에서는 항상 입금을 먼저 하셔야 충전 처리가 가능합니다.</p>
        본인 명의에 입금만 충전 처리 가능합니다 <em style="color: #ff0003;font-weight: bolder">(타명의 입금시 충전 불가능합니다)</em><br>
        최소 입금액은 <em style="color: #ff0003;font-weight: bolder">1만원 이상부터 가능</em>합니다.(수표입금 및 천원단위는 불가능합니다.)<br>
        입금 없이 잦은 허위 충전 신청시 아이디 영구탈퇴 됩니다.<br>
        <em style="color: #ff0003;font-weight: bolder">입금 전 충전 계좌를 꼭 확인하시고 입금해주시기 바랍니다.</em><br>
        충전 계좌는 수시로 변경될 수 있으니 입금 전 반드시 계좌 문의 후 입금해주시기 바랍니다.<br>
        충전 계좌를 확인하지 않고 구계좌 입금 또는 다른 계좌에 입금시<br>
        저희쪽에서는 책임지지 않으니 주의해주시기 바랍니다.<br>
        24시간 자유롭게 입금이 가능하며 확인 즉시 처리해 드립니다.<br>
        (단 은행 점검으로 입금 확인이 늦어질 수 있는 점 양해바랍니다.)<br>

        <span style="font-weight: bold; font-size: larger">롤링조건 :
            <span style="color: yellow">첫충 보너스 수령시 </span><br>
            <span style="color: yellow;">단폴더 200% 다폴더 150% 스페셜 200% 미니게임250%</span><br>
            <span style="color: #ed6b1c;">첫충 보너스 미수령시 </span><br>
            <span style="color: #ed6b1c;">단/다폴더 100% 스페셜 100% 미니게임 250%</span>
        </span>
    </div>
    <div class="event" th:if="${!bonus.isEmpty()}" th:text="${bonus}"></div>
    <div class="wrap">
        <label>
            <span id="accountInfo">충전계좌 확인 (환전 비밀번호를 입력하세요.)</span>
            <input type="text" class="num" id="pass" autofocus="autofocus"/>
            <button class="btn-big btn01" onclick="getAccount();">계좌 확인</button>
        </label>
        <label>
            <span>입금자명</span>
            <input type="text" th:value="${member.depositor}" readonly="readonly"/>
        </label>
        <label>
            <span>충전금액</span>
            <input type="num" class="num" id="amount"/>
        </label>
        <div class="amount">
            <a class="btn" onclick="setAmount(10000);">만원</a>
            <a class="btn" onclick="setAmount(30000);">삼만원</a>
            <a class="btn" onclick="setAmount(50000);">오만원</a>
            <a class="btn" onclick="setAmount(70000);">칠만원</a>
            <a class="btn" onclick="setAmount(100000);">십만원</a>
            <a class="btn" onclick="setAmount(300000);">삼십만원</a>
            <a class="btn" onclick="setAmount(500000);">오십만원</a>
            <a class="btn" onclick="setAmount(700000);">칠십만원</a>
            <a class="btn" onclick="setAmount(1000000);">백만원</a>
            <a class="btn btn02" onclick="resetAmount();">정정</a>
        </div>
    </div>
    <div>
        <label>
            <span style="font-size: larger">보너스 롤링조건 동의</span>
            <br>
            <br>
            <input type="radio" name="rollType" value="Y" checked="checked" style="width: 20px;height: 20px"/> <label style="color: yellow">동의</label> 하며 보너스를 받겠습니다.
            <br>
            <br>
            <input type="radio" name="rollType" value="N" style="width: 20px;height: 20px"/> <label style="color: yellow">아니오</label> 기본롤링 100% 이상 하겠습니다.
        </label>
    </div>
    <div class="command">
        <button class="btn-big btn03" onclick="deposit();">충전신청</button>
    </div>
    <table class="list" th:if="${not #lists.isEmpty(list)}">
        <caption>충전신청</caption>
        <colgroup>
            <col>
            <col>
            <col>
            <col>
            <col style="width: 60px;">
        </colgroup>
        <thead>
        <tr>
            <th>신청금액</th>
            <th>보너스</th>
            <th>신청시간</th>
            <th>상태</th>
            <th>삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="b : ${list}">
            <td class="num color01" th:text="${tag.num(b.amount)}"></td>
            <td class="num color02" th:text="${tag.num(b.bonusPoint)}"></td>
            <td th:utext="${tag.dayWeek(b.regDate)}">신청시간</td>
            <td th:class="${b.cancel ? 'color03' : (b.closing ? 'color01' : '')}" th:text="${b.cancel ? '취소' : (b.closing ? '완료' : '대기')}">진행상태</td>
            <td th:if="${b.closing}"><a class="btn btn04" th:onclick="|goDelete('${b.id}')|">삭제</a></td>
            <td th:if="${!b.closing}"><a class="btn btn03" th:onclick="|goCancel('${b.id}')|">취소</a></td>
        </tr>
        </tbody>
    </table>
</main>

<script layout:fragment="script" th:if="true">
    var depositor = '[[${member.depositor}]]';
    var config = [(${zoneAmount})];
    var accountChk = false;

    $('#amount').on('change, keyup', function () {
        var amount = $(this).val().num() || '0';
        $(this).val('0' === amount ? '' : amount.toString().money());
    });

    function setAmount(amt) {
        var amount = $('#amount').val().num() || 0;
        amount = parseInt(amount, 10) + parseInt(amt, 10);
        $('#amount').val(amount.toString().num().money());
    }

    function resetAmount() {
        $('#amount').val('');
    }

    function deposit() {
        if(!accountChk){
            alert("충전계좌 확인 후 충전신청 하시기 바랍니다.");
            return;
        }

        var amount = parseInt($('#amount').val().num() || 0, 10);

        var rollType = $('input[name="rollType"]:checked').val();

        if (depositor === '') {
            alert('입금자를 기입하지 않으셔서 충전 신청이 불가능 합니다.');
            return false;
        }

        if (config.min > amount) {
            alert(String.format('최소 충전 금액은 {0}원 이상 입니다.', config.min.toString().money()));
            return false;
        }

        if (config.unit > 0) {
            var mod = amount % config.unit;
            if (mod !== 0) {
                if (!confirm(String.format('충전 금액은 {0}원 단위로 가능합니다.\n\n{1}원으로 신청 금액을 맞추겠습니까?', config.unit.toString().money(), (amount - mod).toString().money()))) {
                    return false
                }
                amount = amount - mod;
            }
        }

        if (!confirm(String.format('필히 선입금 후 충전신청 하시기 바랍니다.\n\n    - 충전금액 : {0}원\n\n    - 입금자명 : {1}\n\n충전신청을 진행하시겠습니까?', amount.toString().money(), depositor))) {
            return false;
        }

        $.ajax({
            url: path + '/payment/deposit',
            method: 'post',
            data: {
                depositor: depositor,
                amount: amount,
                rollType: rollType
            }
        }).done(function (data) {
            if (data.success) {
                location.reload();
            } else {
                $('#amount').val('');
            }
        });
    }

    function goDelete(id) {
        if (confirm('삭제를 하시면 되살릴 수 없습니다.\n\n삭제를 하시겠습니까?')) {
            $.ajax({
                url: path + '/payment/deposit/delete',
                method: 'post',
                data: {
                    id: id
                }
            }).done(function (data) {
                if (data.success) {
                    location.reload();
                }
            });
        }
    }

    function goCancel(id) {
        if (confirm('취소를 하시면 되살릴 수 없습니다.\n\n취소를 하시겠습니까?')) {
            $.ajax({
                url: path + '/payment/deposit/cancel',
                method: 'post',
                data: {
                    id: id
                }
            }).done(function (data) {
                if (data.success) {
                    location.reload();
                }
            });
        }
    }

    function getAccount(){
        var pass = $('#pass').val();
        $.ajax({
            url: path + '/payment/deposit/account',
            method: 'post',
            data: {
                pass: pass
            }
        }).done(function (data) {
            if(data.success) {
                $('#accountInfo').html("&nbsp;&nbsp;" + data.value);
                accountChk = true;
            }else{
                //alert(data.message);
                accountChk = false;
            }
        });
    }

</script>
</body>
</html>
